extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Simultaneous games
block subSubContent
	p Economic agents face options from some set. This could be consumption choices, numbers of hours to work, or how much capital to invest in at a factory.


	p Consider the prisoner’s dilemma game:
	table.table.table-bordered
		thead
			tr
				th 
				th Silent
				th Tell
		tbody
			tr
				td Silent
				td (5,5)
				td (10,0)
			tr
				td Tell
				td (0,10)
				td (8,8)
	p In this game we have two agents who simultaneously choose 
	p Let’s compare the decision to “tell” to the decision to be “silent”. 
	p No matter what the other agent does, you are always better off choosing “tell”. As a result we say the strategy “tell” strictly dominates “silent”.
	p If under some circumstances the agent is indifferent to the strategy and another, then the strategy only weakly dominates.
	p So one way to solve a game is to choose dominating strategies. However an agent may not have strictly dominating strategies. Another method it to rule out strategies. If one strategy is strictly dominated for an agent, we can rule out them choosing it. This may reveal strategies which are dominant one actions of another agent can be ruled out.
	p If after iterations of this process we are left with only one strategy for each agent, we say this is a Von Neumann solution, an analytic solution. 
	p But what if there are still multiple options? Consider
	table.table.table-bordered
		thead
			tr
				th 
				th Opera
				th Tell
		tbody
			tr
				td Opera
				td (10,5)
				td (0,0)
			tr
				td Football
				td (0,0)
				td (5,10)
	p And
	table.table.table-bordered
		thead
			tr
				th 
				th Rock
				th Paper
				th Scissors
		tbody
			tr
				td Rock
				td (0,0)
				td (-1,1)
				td (1,-1)
			tr
				td Paper
				td (1,-1)
				td (0,0)
				td (-1,1)
			tr
				td Scissors
				td (-1,1)
				td (1,-1)
				td (0,0)
	p In both of these there is no strategy which is always better to follow, even weakly. But these games are very different. In the former, if agents agree to both got to football, or both to opera, neither would be better off by defecting. In the second example there is no such “Nash equilibrium”.
	p This is relevant for considering how to expand the game. In the former example a couple can talk to each other and coordinate actions.  For example one agent could commit to going to the football, and the other agent would rationally join.
	p In the latter no such coordination is beneficial.
	p In the context of the game, the player can instead of choosing a pure strategy such as “rock”, which may not always be appropriate, choose a mixed strategy.
	p For example a player could choose each of the \(3\) moves \(\frac{1}{3}\) of the time.


	p
		b Nash equilibrium

	p
	p
		b Minimax strategy
	p
		b Pure/mixed strategy
