extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Sequential games
block subSubContent
	h3
		b Introduction
	p A game can have multiple rounds. For example an agent could offer a trade, and the other agent could choose to accept or reject the trade. As later agents know the other choices, and the earlier agents know their choices will be observed, the games can change.
	p This doesn’t change games with pure strategies, but does affect those with mixed strategies. For example, even if prisoners could see earch other in the prisoners dilemma we would still get the same outcome. The last agent still prefers to “tell”, and earlier agents know this and have no reason to not also “tell”.
	p But consider the football/opera game. Here the first mover is better off, and there is a pure strategy, while in the rock paper scissors game the first mover loses.
	p We can solve more complex games backwards. As the actions in the last round of a game have no impact on others, they can be solved separately. Agents then know what the outcome will be if an outcome is arrived at, and can treat that “subgame” as a pay-off.
	p This method is known as backwards induction.
	
