extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Minimax
block subSubContent
	h3
		b Games
	p Games are different to search. In a search algorithm we are looking for a sequence of actions. In a game we are looking for a reaction function. Unlike in seach, there are other players.
	p We can use iterative deepening search.
	h3
		b Heuristics
	p The search space can be too big to look through all the nodes. 
	p Rather than look for win states, we evaluate a non-terminal state using heuristics.
	h3
		b Stochastic games
	p can use expectminimax
	p for max node, return highest expectminimax of children
	p for min node ---
	p for chance node, average of children weightted

	p minimax: two players, max min
	p max goes first, maximises results. min minimises results
	p a node's minimax value is the best outcome against best player.
	p to find optimal strategy, depth first search of game tree.
	p propagate minimax values up tree as terminal nodes are discovered
	p if a state is terminal, its value is utility of state
	p if a state is max node, highest value of children
	p if a state is min node, lowest value of children

	p minimax is optimal, complete (for finite trees)
