extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Evaluating clusterings
block subSubContent
	h3
		b Davies-Bouldin index
	p The Davies-Bouldin index is a method for evaluating  clustering algorithms, such as k-means.
	p It examines the distance between centroids, and the tightness of centroids.
