extends ./subSubTemplate.jade
block subSubTitle
	h1
		b k-means clustering
block subSubContent
	h3
		b Introduction
	p K-means clustering is the most widely used unsupervised model.
	p In k-means clustering we identify \(k\) centroids in the feature space. We then calculate the distance from each data point to each of the centroids, and allocate the data point to the nearest centroid.
	p This requires a method for calculating the location of the centroids.
	h3
		b Identifying the centroids
	p We apply an iterative approach to identifying the centroids.
	p We first initialise by assigning centroids randomly to existing data points.
	p We then iteratively perform the following:
	ul
		li Calculate the distances between each data point and each centroid.
		li Assign each data point to the closed centroid.
		li Update each centroid location to the mean of the data points allocated to it.
	h3
		b Calculating distances
	p This method requires us to calculate the distance between two points in the feature space.
	p For k-means we use the Euclidian distance.
	h3
		b Potential issues
	p It is possibile for a centroid to have no data assigned to it. If this happens we can eliminate the cluster, or reassign some data points.
	p The algorithm may only arrive at a local minima. In order to maximise the chance of an effective clustering, we can do k-means under different initialisations of the centroids in order to minimise risk of bad local optima.

	h3
		b Choosing \(k\)
	p If the points in each cluster follow a normal distribution, that's a good sign. This can be tested with Anderson-Darling.
	p If it's not normal, we can split the cluster into 2.
	h3
		b Using clusting as part of data analysis
	p We can choose \(k\) if output is being used in later data analysis (eg type assignment, complaint level or something)

