extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Lotteries
block subSubContent
	h3
		b Introduction
	p A choice may not have a certain outcome.
	p For example an action could have have 50% of one of two outcomes.
	p 
