extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Von Neumann-Morgenstern utility theorem
block subSubContent
	h3
		b Introduction
	p We can model any risk preference as:
	p \(U[L]=\sum_i p_iu(x_i)\)
	p If the agent is risk neutral we can use:
	p \(u(x_i)=x_i\)
	p If the agent is risk averse:
	p \(u(x_i)=\ln x_i\)
	p If the agent is risk loving we can use:
	p \(u(x_i)=x_i^2\)
