extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Relative risk aversion
block subSubContent
	h3
		b Introduction
	p Absolute risk aversion is:
	p \(A(x)=-\dfrac{u''(x)}{u'(x)}\)
	p \(R(x)=xA(x)\)
	p \(R(x)=-\dfrac{xu''(x)}{u'(x)}\)

