extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Expected utility
block subSubContent
	p If an agent faces an uncertain world they can make decisions under uncertainty. For example, how would an agent value £10 relative to a 50% chance of £0 and a 50% chance of £20?
	p There are many different attitudes an agent could have – we need a form which can capture these. A standard approach is expected utility.
	p We start by taking 
	p $$E[u(x)]=$$
	p Subjective expected utility
