extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Finite (Galois) fields

block subSubContent
	h3
		b Introduction
	p Finite number of elements.
	h3
		b Integers mod \(p\) field
	p 
	h3
		b Characteristic of a field
	p 
