extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Autoencoders
block subSubContent
	h3
		b Introduction
	p Autoencoders are a type of neural network.

	p For autoencoders the goal for the output layer is the reconstructed input layer, rather than a classification.

	p By including sparsity in the neural network we can reduce the dimensions. This splits the network into an encoder and a decoder.
	p middle vector is called latent variables
