extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Generative Adversarial Networks (GANs)
block subSubContent
	h3
		b Introduction
	h3
		b The GAN generator
	p Generator: take latent multivar normal as input layer
	p output of generator is of same dimension as input iamges
	p Generative NN: need probability distribution on input layer

	p generator typically deconvolutional
	p downside of gan. only discriminates between real and fake.

	h3
		b The GAN discriminator
	p Discriminator: use normal CNN for deep




