extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Recurrent Neural Network (RNN) encoders
block subSubContent
	h3
		b Introduction
	p Final output is the encoding.

	p The end of the sequence is identified through an End-Of-Sequence token.
	h3
		b seq2seq
	p 
