extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Fields

block subSubContent
	h3
		b Introduction
	p A field is a ring where the multiplication function has an inverse.
	p The integers, addition and multiplication form a ring, but not a group.
	p The rational numbers (except \(0\)), addition and multiplication form a field (and a ring).

	p The real numbers and complex numbers also form fields.
