extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Ideals
block subSubContent
	h3
		b Introduction
	p An ideal is a subring where the multiplication of any element of the ideal with any element of the ring is also in the ideal.
	h3
		b Examples
	p Even numbers are an ideal of the integers.
	p Odd numbers are not an ideal. For example \(1\) is in the ideal, but multiplied by \(2\) gives \(2\), which is not in the ideal.

