extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Rings

block subSubContent
	h3
		b Introduction
	p Consider an abelian group \((S,+)\).
	p A ring takes this and adds a multiplicative function which satisfies the distributive property.

	p Groups have an identity element for their function. Rings must have identity elements for both their functions.
	p The multiplicative function does not have to be a bijection. For example the set of integers, addition and multiplication form a ring.
