extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Integer mod \(n\) rings
block subSubContent
	h3
		b Introduction
	p The integers mod \(n\) with addition and multiplication form a group.
	h3
		b Examples
	p The integers \(\{1,2,3\}\) form a ring.
