extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Units
block subSubContent
	h3
		b Introduction
	p A unit is an element of a ring which has a multiplicative inverse.
	h3
		b Examples
	p The ring of integers with addition and multiplication, only \(-1\) and \(1\) are units, as both have multiplicative inverses in the ring.

