extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Division rings
block subSubContent
	h3
		b Introduction
	p A divison ring is a ring where every non-zero element has a multiplicative inverse.
	h3
		b Example
	p The rational numbers are a divison ring.
	h3
		b Relationship between divison rings and fields
	p Fields (not yet introduced) are different from division rings only in that multiplication for a field must be commutative.
