extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Characteristic of a ring
block subSubContent
	h3
		b Introduction
	p The characteristic of a ring is the number of times the multiplicative identity must be added to get the additive identity.
	p If this never happens, the characteristic is \(0\).
	h3
		b Example
	p The integer mod \(2\) ring, the characteristic is \(2\).

