extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Zero (trivial) ring
block subSubContent
	h3
		b Introduction
	p The trivial ring is a ring with just one element.
	p \(0\) with addition and multiplication work.
