extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Subrings
block subSubContent
	h3
		b Introduction
	p A subring is a subset of the ring, where the addition and multiplication operations on the subring result in elements also in the subring.
	h3
		b Example
	p The even numbers are a subring of the integers.
