extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Samples
block subSubContent
	h3
		b Samples
	p The model includes not just the type of relationship, eg linear, but also which variables are included (maybe some are left out, maybe some are squared,)
	p Need to divide all the variables into grouped data points.
	p Each variable could be unique to a data point (ie picture and binary label) or not (ie time series with lagged data)
	p How this is done is part of the model.
	p We assume variables have the same distribution for the model??
