extends ./subSubTemplate.jade

block subSubContent
	h2
		b Method of moments


	p Given we observe a sample drawn from a probability distribution, what can we estimate about the population based on the sample?
	p The method of moments is a process for estimating population moments using sample data.
	p Match population moments with sample moments
	p Get estimators for population moment by 
	p Can be biased. Don’t have to know underlying distribution.


	p Confidence intervals?
	p Biased estimation of variance
	p T distribution v normal distribution
	p The distribution of X is given by
	p $$f_X(X; \theta )$$

	p The moments of this population distribution are:
	p $$\mu_i =E[X^i]=g_i(\theta_1,...,\theta_k)$$

	p We have a sample.
	p $$X=[X_1,...,X_n]$$

	p We now define the method of moments estimator
	p $$\hat \mu_i=\frac{1}{n}\sum_{j=1}^nx_j^i$$
