extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Estimation for parameter of a specific model
block subSubContent
	p While we can assume that our underlying probability distribution has moments, we may not know what type of probability distribution function 
	p Note that for the latter we must know or assume the nature of the probability function. Sometimes this is simple: a coin flip is only has two outcomes and so is Bernoulli, but others are harder to know. 
