extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Smoothing kernel estimation
block subSubContent
	h3
		b Smoothed kernels

	p We have \(K(x-x_i)\)

	p We can smooth this to:

	p \(K_h(x-x_i)=\frac{1}{h}K(\frac{x-x_i}{h})\)

	p Where \(h>0\) is the smoothing bandwidth.

	p \(f(x)=\frac{1}{n}\sum_{i=1}^nK_h(x-x_i)\)
