extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bernoulli distribution
block subSubContent
	h3
		b Definition
	p The outcome of a Bernoulli trial is either \(0\) or \(1\). We can describe it as:

	p \(P(1)=p\)

	p \(P(0)=1-p\)

	p With a single parameter \(p\).
	h3
		b Moments of the Bernoulli distribution
	p The mean of a Bernoulli trial is \(E[X]=(1-p)(0)+(p)(1)=p\).

	p The variance of a Bernoulli trial is \(E[(X-\mu)^2]=(1-p)(0-\mu)^2+(p)(1-\mu)^2=(1-p)p^2+p(1-p)^2]=p(1-p)\).
