extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Binomial distribution
block subSubContent
	h3
		b Definition
	p If we repeat a Bernoulli trials with the same parameter and sum the results, we have the binomial distribution.

	p We therefore have two parameters, \(p\) and \(n\).

	p \(P(X=x)={n\choose x }p^x(1-p)^{n-x}\)
	h3
		b Moments of the binomial distribution
	p The mean is \(np\), which can be seen as the trials are independent.
	p Similarly, the variances can be addeded together giving \(np(1-p)\).
