extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Lévy distribution
block subSubContent
	h3
		b Definition
	p The Lévy distribution is a continuous probability distribution.

	p The marginal probability is:

	p \(P(X)=\sqrt {\frac{c}{2\pi }}\frac{e^{-\frac{c}{2(x-\mu )}}}{(x-\mu )^{\frac{3}{2}}}\)
