extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Logistic distribution
block subSubContent
	h3
		b Definition
	p The logistic distribution has the cumulative distribution function:
	p \(F(x)=\dfrac{1}{1+e^{-\dfrac{x-\mu }{s}}} \)
