extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Gaussian Mixture Models
block subSubContent
	h3
		b Mixture models
	p We have a latent variable which is part of the process

	p The variable is distributed according to parametric distribution, but parameters are different for differnet latent classes.

	p There are \(K\) latent classes, and so \(K\) sets of parameters.

	p The population is weighted into the \(K\) classes.

	p We have a distribution, but we have different parameters for the distribution for different populations.

	p For example we could observe the height of men and women, where both are normally distributed but with different parameters.

	p Where there is a normal distribution, this is a Gaussian mixture model.

	p If there is more than one variable to observe, this is a multivariate Gaussian mixture model.

	h3
		b Gaussian Mixture Models (GMM)
	p In a Gaussian Mixture Model each non latent variable has a normal distriubtion with a mean and variance. For multiple variables there is a covariance matrix.

