extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Multivariable Gaussian distribution
block subSubContent
	h3
		b Definition

	p For univariate:

	o \(x \sim N(\mu, \sigma^2 )\)

	p We define the multivariate gaussian distribution as the distribution where any linear combination of components are gaussian.

	p For multivariate:

	p \(X \sim N(\mu, \Sigma )\)

	p Where \(\mu \) is now a vector, and \(\Sigma \) is the covariance matrix.

	p density function is :
	p \(f_x=\frac{1}{\sqrt {(2\pi )^n|\Sigma |}} e^{-\frac{1}{2}(x-\mu )^T\Sigma^{-1}(x-\mu)}\)

	p For normal gaussian it is:

	p \(f_x=\frac{1}{\sqrt {2\pi |\sigma^2}} e^{-\frac{1}{2\sigma^2}(x-\mu )^2)}\)

	p This is the same wher \(n=1\).

	h3
		b Singular Gaussians
	p need det \(|\Sigma |\) and \(\Sigma^{-1\}\). These rely on the covariance matrix not being degenerate.
	p  If the covariance matrix is degenerate we can instead use the pseudo inverse, and the pseudo determinant.
