extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Poisson distribution
block subSubContent
	h3
		b Definition
	p We can use the Poisson distribution to model the number of indepedent events that occur in an a time period.

	p For a very short time period the chance of us observing an event is a Bernoulli trial.

	p \(P(1)=p\)

	p \(P(0)=1-p\)

	h3
		b Chance of no observations

	p Let's consider the chance of repeatedly getting \(0\): \(P(0;t)\).

	p We can see that: \(P(0;t+\delta t)=P(0;t)(1-p)\).

	p And therefore:

	p \(P(0;t+\delta t)-P(0;t)=-pP(0;t))\)

	p By setting \(p=\lambda \delta t\):

	p \(\frac{P(0;t+\delta t)-P(0;t)}{\delta t}=-\lambda P(0;t))\)

	p \(\frac{\delta P(0;t)}{\delta t}=-\lambda P(0;t)\)

	p \(P(0;t)=Ce^{-\lambda t}\)

	p If \(t=0\) then \(P(0;t)=0\) and so \(C=1\).

	p \(P(0;t)=e^{-\lambda t}\)

	h3
		b Deriving the Poisson distribution
	p 

