extends ../subTemplate.jade

block subTitle
	h3
		a(href="/theory/statistics/distributions") Common probability distributions
	block subSubTitle
	h3
		b Header
	p
		a(href="./distributions/gaussian") Gaussian

