extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Discrete uniform distribution
block subSubContent
	h3
		b Definition

	p There is a set \(s\) such that:
	p \(P(x\in s)=p\)
	p \(P(x\in s\)=0\)
	h3
		b Moments of the uniform distribution
	p The mean is the mean of the set \(s\).
	p If the set is all numbers of the real line between two values, \(a\) and \(b\), then:

	p The mean is \(\frac{1}{2}(a+b)\)

	p The variance is \(\frac{(b-a)^2}{12}\) in the continuous case

	p The variance is \(\frac{(b-a+1)^-1}{12}\) in the discrete case

