extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The partial differential operator

block subSubContent
	h3
		b Differential
	p When we change the value of an input to a function, we also change the output. We can examine these changes.
	p Consider the value of a function \(f(x)\) at points \(x_1\) and \(x_2\).
	$$y_1=f(x_1)$$
	$$y_2=f(x_2)$$
	$$y_2-y_1=f(x_2)-f(x_1)$$
	$$\frac{y_2-y_1}{x_2-x_1}=\frac{f(x_2)-f(x_1)}{x_2-x_1}$$
	p Let's define \(x_2\) in terms of its distance from x_1:
	$$x_2=x_1+\epsilon$$
	$$\frac{y_2-y_1}{\epsilon }=\frac{f(x_1+\epsilon )-f(x_1)}{\epsilon }$$
	p We define the differential of a function as:
	$$\frac{\delta y}{\delta x}=\lim_{\epsilon \rightarrow 0^+}\frac{f(x+\epsilon )-f(x)}{\epsilon }$$
	p If this is defined, then we say the function is differentiable at that point.
	h3
		b Differential operator
	