extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Differentiating \(e^x\)

block subSubContent
	h3
		b Intro
	p We have \(e^x=\sum^{\infty }_{i=0} \frac{x^i}{i!}\)
	p \(\frac{\delta }{\delta x}e^x=\frac{\delta }{\delta x}\sum^{\infty }_{i=0} \frac{x^i}{i!}\)
	p \(\frac{\delta }{\delta x}e^x=\sum^{\infty }_{i=0} \frac{\delta }{\delta x}\frac{x^i}{i!}\)
	p \(\frac{\delta }{\delta x}e^x=\sum^{\infty }_{i=1} \frac{\delta }{\delta x}\frac{x^i}{i!}\)
	p \(\frac{\delta }{\delta x}e^x=\sum^{\infty }_{i=1} \frac{x^{i-1}}{(i-1)!}\)
	p \(\frac{\delta }{\delta x}e^x=\sum^{\infty }_{i=0} \frac{x^{i}}{i!}\)
	p \(\frac{\delta }{\delta x}e^x=e^x\)
