extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Differentiating constants, the identity function, and linear functions

block subSubContent
	h3
		b Constants
	p $$f(x)=c$$
	p $$\frac{\delta y}{\delta x}=\lim_{\epsilon \rightarrow 0^+}\frac{f(x+\epsilon )-f(x)}{\epsilon }$$
	p $$\frac{\delta y}{\delta x}=\lim_{\epsilon \rightarrow 0^+}\frac{c-c}{\epsilon }=0$$
	h3
		b \(x\)
	p $$f(x)=x$$
	p $$\frac{\delta y}{\delta x}=\lim_{\epsilon \rightarrow 0^+}\frac{f(x+\epsilon )-f(x)}{\epsilon }$$
	p $$\frac{\delta y}{\delta x}=\lim_{\epsilon \rightarrow 0^+}\frac{x+\epsilon -x}{\epsilon }=1$$
	h3
		b Addition
	p $$f(x)=g(x)+h(g)$$
	p $$\frac{\delta y}{\delta x}=\lim_{\epsilon \rightarrow 0^+}\frac{g(x+\epsilon )+h(x+\epsilon )-g(x)-h(x)}{\epsilon }$$
	p $$\frac{\delta y}{\delta x}=\lim_{\epsilon \rightarrow 0^+}\frac{g(x+\epsilon )-g(x)}{\epsilon }+\lim_{\epsilon \rightarrow 0^+}\frac{h(x+\epsilon )-h(x)}{\epsilon }$$
	p $$\frac{\delta y}{\delta x}=\frac{\delta g}{\delta x}+\frac{\delta h}{\delta x}$$
