extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Mean value theorem

block subSubContent
	h3
		b Mean value theorem
	p Take a real function \(f(x)\) on closed interval \([a,b]\), differentiable on \((a,b,)\).
	p The mean value theorem states that:
	p $$\exists c\in(a,b) (f’(c)=\frac{f(b)-f(a)}{b-a})$$
