extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Integrals

block subSubContent
	h3
		b Methods of integration
	p Trigonometric substitution
	p Inverse function integration function integration
	p Anti-derivative
	p Taking the derivative of a function provides another function. The anti-derivative of a function is a function which, when differentiated, provides the original function.
	p As this function can include any additive constant, there are an infinite number of anti-derivatives for any function.
	p Integration
	p Limit of summation
	p Show same as anti-derivative
	p Show properties of function same as summation (can take constants out etc)

	h3
		b Getting functions from derivatives

	p $$f(c)=f(a)+\int^c_a \frac{\delta }{\delta x}f(x) dx$$


	p Definite integration
	p Indefinite integration

