extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Fundamental Theorem of Calculus

block subSubContent
	h3
		b Mean value theorem for integration
	p Take function \(f(x)\). From the extreme value theorem we know that:
	p $$\exists m \in \mathbb{R} \exists M\in \mathbb{R}\forall x\in [a,b](m<f(x)<M)$$

	h3
		b Fundamental theorem of calculus
	p From continuation we know that:
	p $$\int_a^{x_1}f(x)dx+\int_{x_1}^{x_1+\delta x}f(x)dx=\int_a^{x_1+\delta x}f(x)dx$$
	p $$\int_x^{x_1+\delta x}f(x)dx=\int_a^{x_1+\delta }f(x)dx-\int_a^{x_1 }f(x)dx$$
	p Indefinite integrals

