extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Differentiating exponents, logarithms and power functions

block subSubContent
	h3
		b Differentiating the natural logarithm
	p \(\frac{\delta }{\delta x}\ln (x)=\lim_{\delta \rightarrow 0}\frac{\ln(x+\delta)-ln(x)}{\delta }\)
	p \(\frac{\delta }{\delta x}\ln (x)=\lim_{\delta \rightarrow 0}\frac{\ln\frac{x+\delta}{x}}{\delta }\)
	p \(\frac{\delta }{\delta x}\ln (x)=\lim_{\delta \rightarrow 0}\frac{\ln(1+\frac{\delta}{x})}{\delta }\)
	p \(\frac{\delta }{\delta x}\ln (x)=\frac{1}{x}\lim_{\delta \rightarrow 0}\frac{x}{\delta}\ln(1+\frac{\delta}{x})\)
	p \(\frac{\delta }{\delta x}\ln (x)=\frac{1}{x}\ln(\lim_{\delta \rightarrow 0}(1+\frac{\delta}{x})^{\frac{x}{\delta }})\)
	p \(\frac{\delta }{\delta x}\ln (x)=\frac{1}{x}\ln(e)\)
	p \(\frac{\delta }{\delta x}\ln (x)=\frac{1}{x}\)
	h3
		b Differentiating logarithms of other bases
	p \(log_a(x)=\frac{\log_b(x)}{\log_b(a)}\)
	p \(log_a(x)=\frac{\ln(x)}{\ln(a)}\)
	p \(\frac{\delta }{\delta x}\log_a(x)=\frac{\delta }{\delta x}\frac{\ln(x)}{ln(a)}\)
	p \(\frac{\delta }{\delta x}\log_a(x)=\frac{1}{xln(a)}\)
	h3
		b Exponents
	p $$y=a^x$$
	p $$\ln(y)=x\ln(a)$$
	p $$\frac{\delta }{\delta x}\ln(y)=\frac{\delta }{\delta x}x\ln(a)$$
	p $$\frac{\delta }{\delta x}\ln(y)=\ln(a)$$
	p $$\frac{1}{y}\frac{\delta }{\delta x}y=\ln(a)$$
	p $$\frac{\delta }{\delta x}a^x=a^x\ln(a)$$
	h3
		b Power functions
	p \(y=x^n\)
	p \(\frac{\delta }{\delta x}y=\frac{\delta }{\delta x}x^n\)
	p \(\frac{\delta }{\delta x}y=\frac{\delta }{\delta x}e^{n\ln(x)}\)
	p \(\frac{\delta }{\delta x}y=\frac{n}{x}e^{n\ln(x)}\)
	p \(\frac{\delta }{\delta x}y=nx^{n-1}\)