extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Elasticity

block subSubContent
	h3
		b Introdution
	p We have \f(x)\)

	p \(Ef(x)=\frac{x}{f(x)}\frac{\delta f(x)}{\delta x}\)

	p This is the same as:

	p \(Ef(x)=\frac{\delta \ln f(x)}{\delta \ln x}\)
