extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Differentiable functions
block subSubContent
	h3
		b Intro
	p A differentiable function is one where the differential is defined at all points on the real line.
	p All differentiable functions are continuous. Not all continuous functions are differentiable.
	h3
		b Differentiability class
	p We can describe a function with its differentiability class. If a function can be differentiated \(n\) times and these differentials are all continous, then the function is class \(C^n\).
	h3
		b Smooth functions
	p If a function can be differentiated infinitely many times to produce continous functions, it is \(C^{\infty }\), or smooth.
	p 