extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Hessian matrix

block subSubContent
	h3
		b Introduction
	p We can take a function and make a matrix of its second order partial derivatives.  This is the Hessian matrix, and it describes the local curvature of the function.
	p If the function \(f\) has \(n\) parameters, the Hessian matrix is \(n\times n\), and is defined as:
	p \(H_{ij}=\frac{\delta^2 f}{\delta x_i \delta x_j}\)
	p If the function is convex, then the Hessian matrix is positive semi-definite for all points, and vice versa.
	p If the function is concave, then the Hessian matrix is negative semi-definite for all points, and vice versa.
	p We can diagnose critical points by evaluating the Hessian matrix at those points.
	p If it is positive definite, it is a local minimum. If it is negative definite it is a local maximum. If there are both positive and negative eigenvalues it is a saddle point.

