extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Integration by parts

block subSubContent
	h3
		b Integration by parts
	p We have:
	p $$\frac{\delta y}{\delta x}=f(x)g(x)$$
	p We want that in terms of \(y\).
	p We know from the product rule of differentiation:
	p $$y=a(x)b(x)$$
	p Means that:
	p $$\frac{\delta y}{\delta x}=a'(x)b(x)+a(x)b'(x)$$

	p So let's relabel \(f(x)\) as \(h'(x)\)
	p $$\delta$$
	p $$\frac{\delta y}{\delta x}=h'(x)g(x)$$
	p $$\frac{\delta y}{\delta x}+h(x)g'(x)=h'(x)g(x)+h(x)g'(x)$$
	p $$y+\int h(x)g'(x)=\int h'(x)g(x)+h(x)g'(x)$$
	p $$y+\int h(x)g'(x)=h(x)g(x)$$
	p $$y=h(x)g(x)-\int h(x)g'(x)$$

	p For example:
	p $$\frac{\delta y}{\delta x}=x.\cos(x)$$
	p $$f(x)=cos(x)$$
	p $$g(x)=x$$
	p $$h(x)=sin(x)$$
	p $$g'(x)=1$$
	p So:
	p $$y=x\int cos(x) dx-\int sin(x)dx$$
	p $$y=xsin(x)-cos(x)+c$$

