extends ./subSubTemplate.jade

block subSubTitle
	h1
		b L'Hôpital's rule
block subSubContent
	h3
		b L'Hôpital's rule
	p If there are two functions which are both tend to \(0\) at a limit, calculating the limit of their divisor is hard. We can use L'Hopital's rule.
	p We want to calculate:
	p $$\lim_{x\rightarrow c}\frac{f(x)}{g(x)}$$
	p This is:
	p $$\lim_{x\rightarrow c}\frac{f(x)}{g(x)}=\lim_{x\rightarrow c}\frac{\frac{f(x)-0}{\delta}}{\frac{g(x)-0}{\delta}}$$
	p If:
	p $$\lim_{x\rightarrow c}f(x)=\lim_{x\rightarrow c}g(x)=0$$
	p Then
	p $$\lim_{x\rightarrow c}\frac{f(x)}{g(x)}=\lim_{x\rightarrow c}\frac{\frac{f(x)-f(c)}{\delta}}{\frac{g(x)-f(c)}{\delta}}$$
	p $$\lim_{x\rightarrow c}\frac{f(x)}{g(x)}=\frac{f'(x)}{g'(x)}$$
