extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Differentiating natural number power functions
block subSubContent
	h3
		b Other
	p \(\frac{\delta }{\delta x}x^n=\lim_{\delta \rightarrow 0}\frac{(x+\delta)^n-x^n}{\delta}\)
	p \(\frac{\delta }{\delta x}x^n=\lim_{\delta \rightarrow 0}\frac{(\sum_{i=0}^n x^i\delta ^{n-i}\frac{n!}{i!(n-i)!})-x^n}{\delta}\)
	p \(\frac{\delta }{\delta x}x^n=\lim_{\delta \rightarrow 0}\sum_{i=0}^{n-1} x^i\delta ^{n-i-1}\frac{n!}{i!(n-i)!}\)
	p \(\frac{\delta }{\delta x}x^n=\lim_{\delta \rightarrow 0}x^{n-1}\frac{n!}{(n-1)!(n-n+1)!}+\sum_{i=0}^{n-2} x^i\delta ^{n-i-1}\frac{n!}{i!(n-i)!}\)
	p \(\frac{\delta }{\delta x}x^n=nx^{n-1}\)