extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Rolle's theorem

block subSubContent
	h3
		b Rolle’s theorem
	p Take a real function \(f(x)\) on closed interval \([a,b]\), differentiable on \((a,b,)\), and \(f(a)=f(b)\).
	p Rolle’s theorem states that:
	p $$\exists c\in(a,b) (f’(c)=0)$$
	p Generalised Rolle’s theorem states that:
	p Generalised Rolle’s theorem implies Rolle’s theorem, so we only need to prove the generalised theorem.
