extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Vector calculus

block subSubContent
	h3
		b Vector calculus
	p \(f=f(x,y)\)
	p \(\Delta f=\frac{\delta f}{\delta x}\delta x+\frac{\delta f}{\delta y}\delta y\)
	p Or:
	p \(\Delta f=(\frac{\delta f}{\delta x} +\frac{\delta f}{\delta y})\odot (\delta x +\delta y)\)
	p \(\Delta f=(\nabla f)\odot (\delta x +\delta y)\)
	h3
		b Curl
	p 
	h3
		b Div
	p 
	h3
		b Grad
	p 
	h3
		b Del
	p 
