extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Objects observe other objects


	p An observer notes events. These are given by distance vector from the observer \(s\) and time \(t\).
	p For example an observer could observe a ball at \(\{0,4,3\}\) from their position at time \(3\). They could make comparable observations at all times.
	p An observer exists in a reference frame, that is, a different observer may note events occurring at different times and locations.
	p Observer \(a\) and observer \(b\) both note the same event, and describe it as with the following details:
	p $$\{x_a,y_a,z_a,t_a\}$$
	p $$\{x_b,y_b,z_b,t_b\}$$
	p These may be different, or related in specific ways, which we discuss later.
	p Accelleration, different position, movement, rotation can affect measurement
