extends ./continuous/subSubTemplate.jade
block subSubContent
	h3
		b The time operator
	p
		a(href="./continuous/timeGroup") The time group
	p
		a(href="./continuous/representation") Representation theory for the time group
	p
		a(href="./continuous/timeIndex") Indexing time to the real numbers
	p
		a(href="./continuous/lie") Continous time with Lie algebra
	p
		a(href="./continuous/unitary") Unitary time
	h3
		b The Schrodinger equations
	p
		a(href="./continuous/schrodingerDependent") The time-depedendent general Schrödinger equation
	p
		a(href="./continuous/SchrodingerIndependent") The energy operator and the time-indepedendent general Schrödinger equation
	h3
		b Position and momentum
