extends ./engineeringElectrical/subSubTemplate.jade
block subSubContent
	h3
		b Basics
	p
		a(href="./engineeringElectrical/batteries") Batteries
	p
		a(href="./engineeringElectrical/wires") Wires
	h3
		b Basic things
	p
		a(href="./engineeringElectrical/wires") Resistors
	p
		a(href="./engineeringElectrical/wires") Amps
	p
		a(href="./engineeringElectrical/wires") Volts
	p
		a(href="./engineeringElectrical/wires") Wires
	p
		a(href="./engineeringElectrical/wires") Wires

	h3
		b Circuitry
	p
		a(href="./engineeringElectrical/wires") Sequential resistors
	p
		a(href="./engineeringElectrical/wires") Parallel resistors
	h3
		b More
	p
		a(href="./engineeringElectrical/wires") Capacitors
	p
		a(href="./engineeringElectrical/wires") Transistors
	p
		a(href="./engineeringElectrical/wires") Logic gates
	h3
		b Memory
	p
		a(href="./engineeringElectrical/wires") Volatile memory
	p
		a(href="./engineeringElectrical/wires") Non-volatile memory
	h3
		b Sensors
	p
		a(href="./engineeringElectrical/wires") Variable resistors
	p
		a(href="./engineeringElectrical/wires") Touch sensors
	p
		a(href="./engineeringElectrical/wires") Temperature sensors
	p
		a(href="./engineeringElectrical/wires") Moisture sensors
	p
		a(href="./engineeringElectrical/wires") Keyboards
	p
		a(href="./engineeringElectrical/wires") Mice
	p
		a(href="./engineeringElectrical/wires") Radio input
	p
		a(href="./engineeringElectrical/wires") Digital cameras
	h3
		b Outputs
	p
		a(href="./engineeringElectrical/wires") LEDs
	p
		a(href="./engineeringElectrical/wires") Radio output
	p
		a(href="./engineeringElectrical/wires") LCD
	p
		a(href="./engineeringElectrical/wires") Speakers
	p
		a(href="./engineeringElectrical/wires") Electrical motors
	p
		a(href="./engineeringElectrical/wires") Digital clocks
	p
		a(href="./engineeringElectrical/wires") Electrical heaters
	h3
		b Networking

