extends ./fields/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./fields/fields") Fields
	p
		a(href="./fields/action") Action on a field
	p
		a(href="./fields/eulerLagrange") The Euler-Lagrange equations for fields

