extends ./metrics/subSubTemplate.jade
block subSubContent
	h3
		b The Lorentz metric
	p
		a(href="./metrics/lorentz") The Lorentz metric
	p
		a(href="./metrics/lorentzRotate") Lorentz rotations
	p
		a(href="./metrics/lorentzBoosts") Lorentz boosts
	p
		a(href="./metrics/lorentzGroup") The Lorentz group
	p
		a(href="./metrics/poincare") The Poincaré group
	p
		a(href="./metrics/contraction") Group contraction from Lorentz to Euclid
	h3
		b The Euclidian metric
	p
		a(href="./metrics/euclid") The Euclidian metric
	p
		a(href="./metrics/euclidRotate") Euclidian rotations
	p
		a(href="./metrics/euclidGroup") The Euclidan group
	p
		a(href="./metrics/galileanGroup") The Galilean group

