extends ./QM/subSubTemplate.jade
block subSubContent
	h3
		b The Hamiltonian of quantum mechanics
	h3
		b Schrödinger equations for single non-relativistic particle
	p
		a(href="./QM/schrodingerDependent") Time-dependent Schrödinger equation
	p
		a(href="./QM/schrodingerIndependent") Time-independent Schrödinger equation
	p
		a(href="./QM/plank") Plank's constant
	h3
		b Observables
	p
		a(href="./QM/observable") Defining an observable
	p
		a(href="./QM/observableMatrix") Constructing a Hermitian matrix for an observable
	p
		a(href="./QM/waveFunction") The wave function
	p
		a(href="./QM/phase") Phase shift
	p
		a(href="./QM/density") Density matrix
	p
		a(href="./QM/born") The Born rule
	p
		a(href="./QM/uncertainty") Heisenberg's uncertainty principle
	p
		a(href="./QM/dirac") The Dirac equation
	p
		a(href="./QM/oscillator") The quantum harmonic oscillator
	p
		a(href="./QM/spinSingle") Spin of a single particle
	h3
		b Multiple particles
	p
		a(href="./QM/entanglement") Entanglement
	p
		a(href="./QM/spinMultiple") Spin of multiple particles

