extends ./states/subSubTemplate.jade
block subSubContent
	p
		b Objects
	p
		a(href="/theory/physics/states/basicObjectExistance") Objects exist
	p
		a(href="/theory/physics/states/basicObjectProperties") Objects have properties
	
	p
		b Spacetime
	p
		a(href="/theory/physics/states/basicSpacetimeObserve") Objects observe other objects
	p
		a(href="/theory/physics/states/basicSpacetimeTime") Objects exist for all time periods
	p
		a(href="/theory/physics/states/basicSpacetimeTransformation") Transformations of reference frames
	p
		b Time evolution
	p
		a(href="/theory/physics/states/basicEvolutionContinuity") Continuity
	p
		a(href="/theory/physics/states/basicEvolutionVelocityAcceleration") Velocity and acceleration

