extends ./states/subSubTemplate.jade
block subSubContent
	h3
		b Objects
	p
		a(href="./states/basicObjectExistance") Objects exist
	p
		a(href="./states/basicObjectProperties") Objects have properties
	h3
		b Spacetime
	p
		a(href="./states/basicSpacetimeObserve") Objects observe other objects
	p
		a(href="./states/basicSpacetimeTime") Objects exist for all time periods
	p
		a(href="./states/basicSpacetimeTransformation") Transformations of reference frames
	h3
		b Time evolution
	p
		a(href="./states/basicEvolutionContinuity") Continuity
	p
		a(href="./states/basicEvolutionVelocityAcceleration") Velocity and acceleration

