extends ./worldlines/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./worldlines/worldlines") Events and worldlines
	p
		a(href="./worldlines/action") Action
	p
		a(href="./worldlines/linear") Linear metrics
	p
		a(href="./worldlines/time") Time and velocity
	p
		a(href="./worldlines/lagrangian") Lagrangians
	p
		a(href="./worldlines/momentum") Momentum
	p
		a(href="./worldlines/force") Force

