extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Circles
block subSubContent
	h3
		b Introduction
	p 
	h3
		b Area of a circle
	p \(A=\pi r^2\)
	h3
		b Circumference of a circle
	p \(C=2\pi r\)
