extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Squares
block subSubContent
	h3
		b Introduction
	p 
	h3
		b Area of a square
	p \(A=r^2\)
	h3
		b Circumference of a square
	p \(C=2r\)
	h3
		b Angles in a square
	p Angles in a square sum to \(2\pi \).
