extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Triangles
block subSubContent
	h3
		b Introduction
	p 
	h3
		b Area of a triangle
	p 
	h3
		b Circumference of a triangle
	p 
	h3
		b Sum of angles of a triangle
	p Angles in a triangle add to \(\pi \).
