extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Fermat's primality test
block subSubContent
	h3
		b Fermat's little theorem recap
	h3
		b Fermat's primality test
	p from Fermat's little theorem we know

	p \(a^{n-1}=1 mod(n)\)

	p Where \(a\) is an integer and \(n\) is prime.

