extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Fermat's method
block subSubContent
	h3
		b Introduction
	p Identify the integer as the difference of two squares, and use this.

	p \(x=a.b\)

	p We use the midpoint of the two as \(c=\dfrac{a+b}{2}\)

	p This only works for odd numbers. If we have

	p The we have:
	ul
		li \(a=c+d\)
		li \(b=c-d\)
		li \(x=(c+d)(c-d)\)
		li \(x=c^2-d^2\)
	p We can test this by trying \(a\) to get \(a^2-x\), and seeing if this is a square number.
