extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Trial division
block subSubContent
	h3
		b Introduction
	p We have x
	p divide by numbers between 2 and x
	p only need to go to sqrt x
	p don't need to divide by even numbers other than 2


