extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Horizontal competition
block subSubContent
	h3
		b Introduction
	p assured and contestable demand
	p so buyer wants 100 from incumbent, and 50 more. 
	p first 100 are assured. 50 are  contestable.
	p cournot, bertrand mean entrant gets something
	p however rebates from incumbant blocks entrant.
	p eg reduce unit price for all if sales above certain amount
