extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Treatment data
block subSubContent
	h3
		b Recap
	p With multilevel data with fixed coefficients we have:
	p \(y_{ij}=\mathbf x_{ij}\theta +m_j + \epsilon_{ij}\)
	p We can estimate \(m_j\) using fixed effects or similar methods.
	h3
		b Treatment data
	p If the data is grouped by whether an entity was treated then will have:
	ul
		li \(y_{i0}\) - the outcome if the entity was not treated
		li \(y_{i1}\) - the outcome if the entity was treated
	p However we only observe \(y_i\) and \(D_i\).
	p \(y_i=y_{i0}+D_i(y_{i1}-y_{10})\)

