extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Matching
block subSubContent
	h3
		b Introduction
	p Matching is similar to regression. We assume that effects are constant, and the effect of treatment on \(y_{0i}\) and \(y_{1i}\) are independent of treatment, once controlling for \(X\).
	p Again, this is biased if this is not the case.
	p We however do not have to assume a linear form for \(X\).
	p We assume: \(E[y_{ji}|\mathbf x_{i}, D_i]=E[y_{ji}|\mathbf x_{i}]\)
	p For each entity, find a near entity which had the opposite treatment.
	p 
