extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Randomly Controlled Trials (RCTs)
block subSubContent
	h3
		b Introduction
	p If the model is:
	p \(y_i=D_i\theta +g(X) +\epsilon_i\)
	p And \(D\) is randomly assigned, then we can estimate
	p \(y_i=D_i\theta +\epsilon_i\)
	p To get an estimate for \(\theta \) without collecting data on \(X\).
