extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Average Treatment Effects (ATE, ATET, ATEUT)
block subSubContent
	h3
		b Average Treatment Effect (ATE)
	p \(ATE=E[y_{i1}-y_{i0}]\)
	h3
		b Average Treatment Effect on the Treated (ATET)
	p \(ATE=E[y_{i1}-y_{i0}|D_i=1]\)
	p \(ATE=E[y_{i1}|D_i=1]-E[y_{i0}|D_i=1]\)
	h3
		b Average Treatment Effect on the Untreated (ATEUT)
	p 
