extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Tensor contraction
block subSubContent
	h3
		p Introduction
	p We have a vector \(v\in V\) and \(w\in V^*\).

	p \(\mathbf v=\sum_i v^i \mathbf e_i\)

	p \(\mathbf w=\sum_i w_i \mathbf f^i\)

	p \(\mathbf w\mathbf v=[\sum_i v^i \mathbf e_i][\sum_i w_i \mathbf f^i]\)

	p \(\mathbf w\mathbf v=\sum_i \sum_j [v^i \mathbf e_i][w_j \mathbf f^j]\)

	p \(\mathbf w\mathbf v=\sum_i \sum_j v^i w_j \mathbf e_i\mathbf f^j\)

	p We use the dual basis so:

	p \(\mathbf w\mathbf v=\sum_i \sum_j v^i w_j \mathbf e_i\mathbf e^j\)

	p \(\mathbf w\mathbf v=\sum_i \sum_j v^i w_j \delta_i^j\)

	p We can see that this value is unchanged when there is a change in basis.

	p What if these were both from \(V\)?

	p \(\mathbf v=\sum_i v^i \mathbf e_i\)

	p \(\mathbf w=\sum_i w^i \mathbf e_i\)

	p \(\mathbf w\mathbf v=[\sum_i v^i \mathbf e_i][\sum_i w^i \mathbf e_i]\)

	p \(\mathbf w\mathbf v=\sum_i \sum_j v^i w^j \mathbf e_i\mathbf e_i\)

	p This term is dependent on the basis, and so we do not contract.

	p So if we have \(v_iw^i\), we can contract, because the result (calculated from the components) does not depend on the basis.

	p But if we have \(v_iw_i\), the result (calcualted from the components) will change depending on the choice of basis.

	p We define a new object

	p \(c=\sum_i w^iv_i\)

	p This new term, c, does not depend on \(i\), and so we have contracted the index.


