extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Covariant and contravariant bases
block subSubContent
	h3
		b Introduction
	p In element form we write a vector as:
	p \(v=e_iv^i\)
	p The indices are raised and lowered to reflect whether the value is covariant or contravariant.
	p \(v^i\) is contravariant. If the basis moves one way, it moves the other.
	p \(e_i\) is covariant. If the basis moves, it moves with it.
