extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Dual space

block subSubContent
	h3
		b Dual space
	p The dual space \(V^*\) of vector space \(V\) is the set of all linear forms, \(\hom(V,F)\).

