extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The basis of dual space

block subSubContent
	h3
		b Introduction
	p We have defined the dual space. A vector in dual space will have also have components and a basis.

	p \(\mathbf w=\sum_i w_i f^j\)

	p So how we describe the components will depend on the choice of basis.

	p We choose the dual basis, the basis for \(V^*\) as:

	p \(\mathbf e_i \mathbf f^j =\delta_i^j\)

	p If the basis changes, so does the dual basis.

	p We write the dual basis as \(e^j\) 
