extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Higher-order tensors

block subSubContent
	h3
		p Introduction
	p We can create higher order tensors products. For example

	p \(V\otimes V \otimes V\otimes V^* \otimes V^*\)

	p We write elements of these as:

	p \(T_{j_1,...,j_q}^{i_1,...,i_p}\)


	p we can map from matrix to matrix etc higher dimensional

	p Matrix has A: a_{ij}

	p tensor can have T: t_{ijk} for example

	p 0 rank tensor: scalar

	p 1 rank tensor: vector

	p 2 rank tensor: matrix

	p page on covariance and contravariance and type (p,q)
