extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Homomorphism as a tensor product

block subSubContent
	h3
		p Introduction
	p We can define homomorphisms in terms of tensor products.

	p \(Hom (V) =V \otimes V^*\)
	p \(T_j^i\)

	p We use the dual space for the second argument. This is because it ensures that changes to the bases do not affect the maps.
	p a_i=m_i^j b_j

