extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Inner product space

block subSubContent
	h3
		b Bilinear forms
	p A bilinear form is a linear function which maps two vectors from the same vector space onto the underlying field.
	h3
		b Inner products
	p An inner product is a 
	p \( \langle v, w \rangle \)


	h3
		b Other
	p The inner product between two vectors is shown as:
	p $$<x,y>$$
	p There are many different types of inner product.
	p
		b Feature 1: Conjugate symmetry:
	p $$<x,y>=\bar{<y,x>}$$
	p
		b Feature 2: Linearity in the first argument
	p Linearity in the first argument:
	p $$<ax,y>=a<x,y>$$
	p $$<x+y,z>=<x,>+<y+z>$$
	p Note that linearity in the second argument is not implied.
	p $$<x,ay+bz>=\bar{<ay+bz,x>}$$
	p $$<x,ay>=\bar{a<y,x>+b<z,x>}$$
	p
		b Feature 3: Positive definite
	p $$<x,x>\ge 0$$
	p $$<x,x>= 0\leftrightarrow x=0$$

