extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Tensor inverses

block subSubContent
	h3
		b Introduction
	p For second order tensors we have:

	ul
		li \(T_j^i\)
		li \(T_{ij}\)
		li \(T^{ij}\)

	p For each of these we can define an inverse:

	ul
		li \(T_i^jU_j^k=\delta_i^k\)
		li \(T_{ij}U^{jk}=\delta_i^k\)
		li \(T^{ij}U_{jk}=\delta_i^k\)

	h3
		b Notation for inverses
	p If we have \(T_{ij}U^{jk}=\delta_i^k\), we can instead write:

	p \(T_{ij}T^{jk}=\delta_i^k\)
