extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Kronecker delta
block subSubContent
	h3
		b Introduction
	p Consider matrix multiplication \(AI\).
	p We have:
	p \(AI_{ik}=A_{ij}I_{jk}\)
	p We write this instead as:
	p \(AI_{ik}=A_{ij}\delta_{jk}\)
	p Where \(\delta_{jk}=0\) if \(j\ne k\) and \(\delta_{jk}=1\) if \(j=k\).
