extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Kronecker product
block subSubContent
	h3
		b Introduction
	p The Kronecker product takes the concept of the outer product and applies to to matrices.
	p We can essentially repace every element in the matrix on the left with the element multiplied by the entire matrix on the right.
	p Like outer products, Kronecker products are written as:
	p \(\u\otimes v=w\)
