extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Linear and affine functions
block subSubContent
	h3
		b Linear maps
	p Linear maps can be written as:
	p \(v=Mu\)
	p These go through the origin. That is, if \(u=0\) then \(v=0\).
	h3
		b Affine function
	p Affine functions are more general than linear maps. They can be written as:
	p \(v=Mu+c\)
	p Where \(c\) is a vector in the same space as \(v\).
	p Affine functions where \(c\ne 0\) are not linear maps. They are not homomorphisms which preserve the structure of the vector space.
	p If we multiply \(u\) by a scalar \(s\), then \(v\) will not increase by the same proportion. 

