extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The pseudo-inverse
block subSubContent
	h3
		b Introduction
	p The definition of the inverse  is that:
	p \(MM^{-1}=I\)
	p \(M^{-1}M=I\)
	p We also have:
	p \(MM^{-1}M=M\)
	p \(M^{-1}MM^{-1}=M^{-1}\)
	h3
		b The inverse of a homomorphism
	p Generally we don't have inverses of homomorphisms as the number of dimensions are different.
	p We can, however, find a matrix \(M^+\) which satisfies:
	p \(MM^+M=M\)
	p \(M^+MM^+=M^+\)
	p This is the pseudo-inverse.
