extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Symmetric and antisymmetric tensors
block subSubContent
	h3
		b Introduction
	p Consider a tensor, e g \(T_{abc}\).
	p In general, this is not symmetric, that is:
	p \(T_{abc}\ne T_{bac}\)
	h3
		b Symmetric part of a tensor
	p We can write the symmetric part of this with regard to \(a\) and \(b\).
	p \(T_{(ab)c}=\dfrac{1}{2}(T_{abc}+T_{bac})\)
	p Clearly, \(T_{(ab)c}=T_{(ba)c}\)
	h3
		b Antisymmetric part of a tensor
	p We can also have an an antisymmetric part with regard to \(a\) and \(b\).
	p \(T_{[ab]c}=\dfrac{1}{2}(T_{abc}-T_{bac})\)
	p Clearly, \(T_{[ab]c}=-T_{[ba]c}\)
	h3
		b Tensors as sums of their symmetric and antisymmetric parts
	p \(T_{(ab)c}+T_{[ab]c}=\dfrac{1}{2}(T_{abc}+T_{bac})+\dfrac{1}{2}(T_{abc}-T_{bac})\)
	p \(T_{(ab)c}+T_{[ab]c}=T_{abc}\)
