extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Tensor product

block subSubContent
	h3
		b Introduction
	p We have spaces \(V\) and \(W\) over field \(F\). If we have a linear operation which takes a vector from each space and returns a scalar from the underlying field, it is an element of the tensor product of the two spaces.

	p For example if we have two vectors:
	p \(v=e_iv^i\)
	p \(w=e_jw^j\)
	p A tensor product would take these and return a scalar.
	p There are three types of tensor products:
	ul
		li Both are from the vector space
		ul
			li \(T_{ij}v^iw^j\)
			li \(T_{ij} \in V\otimes W\)
		li Both are from the dual space
		ul
			li \(T^{ij}v_iw_j\)
			li \(T_{ij} \in V^*\otimes W^*\)
		li One is from each space
		ul
			li \(T_i^jv^iw_j\)
			li \(T_{ij} \in V\otimes W^*\)
	p As a vector space, we can add together tensor products, and do scalar multiplication.
	h3
		b Homomorphisms
	p We can define homomorphisms in terms of tensor products.

	p \(Hom (V) =V \otimes V^*\)
	p \(T_j^i\)

	p We use the dual space for the second argument. This is because it ensures that changes to the bases do not affect the maps.
	p \(w^j=T_i^j v^i\)

