extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Tensor product

block subSubContent
	h3
		p Introduction
	p We have spaces \(V\) and \(W\). These have bases \(\{e\}\) and \(\{f\}\).

	p The tensor product is the vector space formed by the basis \(e \times f\).

	p \(T_ij=V\otimes W\)

	p As a vector space, we can add together tensor products, and do scalar multiplication.
