extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Tensors form a vector space
block subSubContent
	h3
		b Recap
	p 
	h3
		b Tensors form a vector space
	p 

	h3
		b Dimension of a tensor
	p 
	h3
		b Basis of a tensor
	p 
