extends ./ai/subTemplate.jade
block subSubContent
	h3
		b Decision theory under certainty
	p
		a(href="./ai/accentuators") States and accentuators
	p
		a(href="./ai/discrete") Discrete choice
	p
		a(href="./ai/singleAgent") Continuous choice
	h3
		b Intertemporal decision theory under certainty
	p
		a(href="./ai/environmentDeterministic") States and deterministic environments
	p
		a(href="./ai/intertemporal") Intertemporal decision making
	p
		a(href="./ai/robotics") Planning
	h3
		b Decison theory under uncertainty
	p
		a(href="./ai/uncertainty") Lotteries and risk aversion
	p
		a(href="./ai/MDP") Fully observable Markov Decision Processes (MDP)
	p
		a(href="./ai/POMDP") Sensors and Partially Observable Markov Decision Processes (POMDP)
	p
		a(href="./ai/reinforcement") Reinforcement learning
	p
		a(href="./ai/control") Control theory
	h3
		b Game theory under certainty
	p
		a(href="./ai/gameTheory") Single-round games
	p
		a(href="./ai/repeated") Repeated episodic games
	p
		a(href="./ai/gameTheoryDeep") Combinatorial games
	h3
		b Game theory under uncertainty
	p
		a(href="./ai/gameImperfect") Games with imperfect or incomplete information
	p
		a(href="./ai/gameStochastic") Stochastic games
	h3
		b Robotics
	p
		a(href="./ai/NLP") Natural Language Processing (NLP)
	p
		a(href="./ai/vision") Computer vision
	h3
		b Improving knowledge
	p
		a(href="./ai/knowledge") Knowledge bases
	p
		a(href="./ai/logic") Expert systems
	p
		a(href="./ai/activeLearning") Active learning

