extends ./ai/subTemplate.jade
block subSubContent
	h3
		b Improving knowledge
	p
		a(href="./ai/logic") Expert systems
	p
		a(href="./ai/activeLearning") Active learning
	h3
		b Computer vision
	h3
		b Natural Language Processing (NLP)
	h3
		b Rational agents
	p
		a(href="./ai/singleAgent") Decision theory
	p
		a(href="./ai/uncertainty") Decision making under uncertainty
	p
		a(href="./ai/intertemporal") Intertemporal decision making
	h3
		b Game theory
	p
		a(href="./ai/gameTheory") Game theory
	p
		a(href="./ai/gameTheoryDeep") Deep games
	h3
		b Reinforcement learning
	p
		a(href="./ai/dynamic") Dynamic programming
	p
		a(href="./ai/MDP") Markov Decision Processes (MDP)
	p
		a(href="./ai/reinforcement") Reinforcement learning
	h3
		b Robotics
	p
		a(href="./ai/robotics") Robotics
	h3
		b Other
	p
		a(href="./ai/constraint") Constraint Satisfaction Problem

