extends ./computer/subTemplate.jade
block subSubContent
	h3
		b Foundations
	p
		a(href="./computer/logic") Registers and instructions
	p
		a(href="./computer/machineCode") Machine code
	p
		a(href="./computer/numbers") Representing and using integers and real numbers
	p
		a(href="./computer/automatons") Automatons
	h3
		b Programming
	p
		a(href="./computer/memory") Memory
	p
		a(href="./computer/assembly") Assembly and high-level programming lanaguges
	p
		a(href="./computer/emulation") Emulation
	h3
		b Data structures
	p
		a(href="./computer/lists") Lists
	p
		a(href="./computer/strings") Characteristics and strings
	p
		a(href="./computer/objects") Objects
	p
		a(href="./computer/databases") Databases
	h3
		b Algorithms
	p
		a(href="./computer/algorithms") Algorithms
	p
		a(href="./computer/algorithms") Verifying algorithms
	p
		a(href="./computer/dynamic") Techniques in algorthims
	h3
		b Elementary algorithms
	p
		a(href="./computer/sorting") Sorting and searching lists
	p
		a(href="./computer/nodes") Tree search
	h3
		b Numerical methods
	p
		a(href="./computer/roots") Floating point maths
	p
		a(href="./computer/discrete") Discrete maths
	p
		a(href="./computer/linear") Linear algebra
	p
		a(href="./computer/optimisation") Unconstrained optimisation
	p
		a(href="./computer/constrained") Constrained optimisation
	p
		a(href="./computer/compression") Compression
	p
		a(href="./computer/hashes") Hashes
	p
		a(href="./computer/encryption") Encryption
	h3
		b Notes on specific languages	
	p
		a(href="./computer/c") C++
	p
		a(href="./computer/python") Python
	p
		a(href="./computer/stata") Stata
	p
		a(href="./computer/r") R
	p
		a(href="./computer/javascript") Javascript
	p
		a(href="./computer/sql") SQL
	h3
		b Applications
	p
		a(href="./computer/image") Image manipulation
	p
		a(href="./computer/signal") Signal processing
	p
		a(href="./computer/3D") 3D modelling

