extends ./computer/subTemplate.jade
block subSubContent
	h3
		b Fundamentals
	p
		a(href="./computer/logic") Combinational logic
	p
		a(href="./computer/numbers") Numbers
	p
		a(href="./computer/automatons") Automatons
	p
		a(href="./computer/algorithms") Algorithms
	h3
		b Data structures
	p
		a(href="./computer/lists") Lists
	p
		a(href="./computer/nodes") Nodes
	p
		a(href="./computer/databases") Databases
	h3
		b Cryptography
	p
		a(href="./computer/hashes") Hashes
	p
		a(href="./computer/encryption") Encryption
	h3
		b Numerical methods
	p
		a(href="./computer/optimisation") Optimisation

