extends ./culture/subTemplate.jade
block subSubContent
	h3
		b Cooking
	p
		a(href="./culture/ingredients") Ingredients
	p
		a(href="./culture/methods") Methods
	p
		a(href="./culture/dough") Dough
	p
		a(href="./culture/oils") Oils
	p
		a(href="./culture/dairy") Dairy
	p
		a(href="./culture/drinks") Drinks
	p
		a(href="./culture/sauce") Sauce
	h3
		b Dance
	h3
		b Art
	h3
		b Music
	h3
		b Architecture
	