extends ./economics/subTemplate.jade
block subSubContent
	h3
		b Foundations of economics
	p
		a(href="./economics/trade") Trade
	p
		a(href="./economics/auctions") Auctions
	p
		a(href="./economics/markets") Markets
	h3
		b Finance
	p
		a(href="./economics/saving") Savings and borrowing
	p
		a(href="./economics/money") Money
	p
		a(href="./economics/banking") Banking
	p
		a(href="./economics/MBF") Money, banking and finance
	h3
		b Microeconomics
	p
		a(href="./economics/public") Public economics
	p
		a(href="./economics/consumer") Consumer theory
	p
		a(href="./economics/public") Industrial organisiation
	p
		a(href="./economics/producer") Producer theory
	p
		a(href="./economics/nonParametric") Partial equilibrium
	p
		a(href="./economics/nonParametric") General equilibrium
	p
		a(href="./economics/nonParametric") Banking
	p
		a(href="./economics/nonParametric") International economics
	p
		a(href="./economics/nonParametric") Labour markets
	p
		a(href="./economics/nonParametric") Economic growth
	h3
		b Macoeconomics
	p
		a(href="./economics/nonParametric") National accounts
	p
		a(href="./economics/classical") Classical models
	p
		a(href="./economics/neoclassical") Neoclassical synthesis
	p
		a(href="./economics/newClassical") New classical economics
	p
		a(href="./economics/newKeyesnian") New Keynesian economics
	p
		a(href="./economics/newNewClassical") New neoclassical synethesis

