extends ./economics/subTemplate.jade
block subSubContent
	h3
		b Economics of a single agent
	p
		a(href="./economics/basicConsumer") Basic consumer and producer theory
	h3
		b Exchange economies
	p
		a(href="./economics/auctions") Auction theory
	p
		a(href="./economics/commodities") Commodity markets
	p
		a(href="./economics/money") Money
	p
		a(href="./economics/consumer") Consumer theory under prices
	h3
		b Finance
	p
		a(href="./economics/contract") Contract theory
	p
		a(href="./economics/saving") Debt
	p
		a(href="./economics/securities") Derivative markets
	p
		a(href="./economics/banking") Banking
	h3
		b Producer theory
	p
		a(href="./economics/producer") The Robinson Crusoe model
	p
		a(href="./economics/producer") Production of a single good
	p
		a(href="./economics/intermediate") Intermediate goods
	p
		a(href="./economics/diff") Production of differentiated goods
	p
		a(href="./economics/corporateFinance") Corporate finance and governance
	p
		a(href="./economics/IO") Industrial organisation
	p
		a(href="./economics/general") General equilibrium
	p
		a(href="./economics/econometrics") Econometrics
	h3
		b Industries
	p
		a(href="./economics/industryInstitution") Institutional services
	p
		a(href="./economics/industryConstruction") Materials, construction and manufactured goods
	p
		a(href="./economics/industryFood") Food
	p
		a(href="./economics/industryUtilities") Utilities
	h3
		b International economics
	p
		a(href="./economics/nonParametric") International economics
	h3
		b Labour economics
	p
		a(href="./economics/unemployment") Labour markets and unemployment
	p
		a(href="./economics/education") Education
	p
		a(href="./economics/immigration") Immigration
	h3
		b Public choice
	p
		a(href="./economics/institutions") Institutions
	p
		a(href="./economics/tax") Taxes
	p
		a(href="./economics/externality") Externalities
	p
		a(href="./economics/externality") Public goods
	p
		a(href="./economics/monetaryFiscal") Monetary and fiscal policy
	p
		a(href="./economics/externality") Welfare economics
	p
		a(href="./economics/competitionPolicy") Competition policy
	h3
		b Macroeconomics
	p
		a(href="./economics/neoClassical") Neoclassical economics
	p
		a(href="./economics/neoKeynesian") Neo-Keynesian economics and the neoclassical synthesis
	p
		a(href="./economics/newClassical") New classical economics
	p
		a(href="./economics/newKeynesian") New Keynesian economics and the new neoclassical synthesis

