extends ../templates/theoryHeader.jade

block theoryContent
	h1 Economics
	h2
		b Single economic agents
	h3 Axioms
	p
		a(href="/theory/economics/axiomsChoiceSet") Choice set
	p
		a(href="/theory/economics/axiomsComplete") Completeness
	h2 Choices onto \(\mathbb{R}^1\) space
	p
		a(href="/theory/economics/rationalTransitivity") Transitivity
	p
		a(href="/theory/economics/rationalIIR") Independence of irrelevant alternatives
	p
		a(href="/theory/economics/rationalUtilityFunctions") Utility functions
	h2 Choices from \(\mathbb{R}^1\) space
	p
		a(href="/theory/economics/continuousContinuity") Continuity
	h2 Choices from \(\mathbb{R}^n\) space
	p
		a(href="/theory/economics/RnIndifferenceCurves") Indifference curves
	p
		a(href="/theory/economics/RnSpecificFunctions") Results from specific functions 
	h2 Budget constraints
	p
		a(href="/theory/economics/budgetConstraints") Budget constraints
	p
		a(href="/theory/economics/budgetOptimisation") Langrangian optimisation
	p
		a(href="/theory/economics/budgetTesting") Testing whether constraints are binding
	p
		a(href="/theory/economics/budgetMultiple") Multiple constraints
	p
		a(href="/theory/economics/budgetSpecific") Results from specific constraints
	h3 Intertemporal economics
	p
		a(href="/theory/economics/interDiscounting") Discounting
	p
		a(href="/theory/economics/interEuler") Euler's equation
	p
		a(href="/theory/economics/interHyperbolic") Hyperbolic discounting

	h3 Risk
	p
		a(href="/theory/economics/riskExpectedUtility") Expected utility
	p
		a(href="/theory/economics/riskAversion") Risk aversion
	p
		a(href="/theory/economics/riskProspectTheory") Prospect theory
	p
		a(href="/theory/economics/riskKnightian") Knightian uncertainty

	h2
		b Interaction of economic agents
	h3	Game theory
	p
		a(href="/theory/economics/gameMotivation") Motivation
	p
		a(href="/theory/economics/gameTypes") Types of games
	p
		a(href="/theory/economics/gameSimultaneous") Solving simultaneous games
	p
		a(href="/theory/economics/gameSequential") Solving sequential games
