extends ./economics/subTemplate.jade
block subSubContent
	h3
		b Foundations of economics
	p
		a(href="./economics/trade") Trade
	p
		a(href="./economics/MBF") Money, banking and finance
	p
		a(href="./economics/nonParametric") Non-parametric
	h3
		b Microeconomics
	p
		a(href="./economics/public") Public economics
	p
		a(href="./economics/consumer") Consumer theory
	p
		a(href="./economics/producer") Producer theory
	p
		a(href="./economics/nonParametric") Partial equilibrium
	p
		a(href="./economics/nonParametric") General equilibrium
	p
		a(href="./economics/nonParametric") Banking
	p
		a(href="./economics/nonParametric") International economics
	p
		a(href="./economics/nonParametric") Labour markets
	p
		a(href="./economics/nonParametric") Economic growth
	h3
		b Macoeconomics
	p
		a(href="./economics/nonParametric") National accounts
	p
		a(href="./economics/classical") Classical models
	p
		a(href="./economics/neoclassical") Neoclassical synthesis
	p
		a(href="./economics/newClassical") New classical economics
	p
		a(href="./economics/newKeyesnian") New Keynesian economics
	p
		a(href="./economics/newNewClassical") New neoclassical synethesis

