extends ../templates/theoryHeader.jade

block theoryContent
	h1 Economics
	h2
		b Agents
	p
		a(href="/theory/maths/agents") Agents
	h2
		b Money
	p
		a(href="/theory/maths/monetaryPolicy") Monetary policy
		