extends ./maths/subTemplate.jade
block subSubContent
	h3
		b Foundations of mathematics
	p
		a(href="/theory/maths/propositionalLogic") Propositional logic
	p
		a(href="/theory/maths/preteriteLogic") Preterite logic
	p
		a(href="/theory/maths/sets") Sets
	h3
		b Number theory
	p
		a(href="/theory/maths/arithmetic") Arithmetic
	p
		a(href="/theory/maths/sequences") Sequences
	p
		a(href="/theory/maths/primes") Primes
	h3
		b Real analysis
	p
		a(href="/theory/maths/reals") Real numbers
	p
		a(href="/theory/maths/complex") Complex numbers
	p
		a(href="/theory/maths/propertiesFunctions") Properties of functions
	p
		a(href="/theory/maths/calculus") Calculus
	p
		a(href="/theory/maths/trigonometry") Trigonometry
	p
		a(href="/theory/maths/transformations") Transformations of functions
	p
		a(href="/theory/maths/differentialEquations") Differential equations
	p
		a(href="/theory/maths/importantFunctions") Important functions
	h3
		b Algebra
	p
		a(href="/theory/maths/groups") Group theory
	p
		a(href="/theory/maths/ringsFields") Rings and fields
	p
		a(href="/theory/maths/linearAlgebra") Linear algebra
	h3
		b Complex analysis
	p
		a(href="/theory/maths/complexAnalysis") Complex analysis
	h3
		b Topology
	p
		a(href="/theory/maths/topology") Topological space
	p
		a(href="/theory/maths/manifolds") Manifolds
	p
		a(href="/theory/maths/measures") Measure space
	p
		a(href="/theory/maths/metrics") Metric space
	h3
		b Applications
	p
		a(href="/theory/maths/gameTheory") Game theory
	p
		a(href="/theory/maths/optimisation") Optimisation

