extends ./maths/subTemplate.jade
block subSubContent
	h3
		b Foundations of mathematics
	p
		a(href="/theory/maths/propositionalLogic") Propositional logic
	p
		a(href="/theory/maths/preteriteLogic") Preterite logic
	p
		a(href="/theory/maths/sets") Set theory
	h3
		b Number theory
	p
		a(href="/theory/maths/arithmetic") Arithmetic
	p
		a(href="/theory/maths/sequences") Sequences
	p
		a(href="/theory/maths/algebra") Elementary algebra
	p
		a(href="/theory/maths/primes") Prime numbers
	p
		a(href="/theory/maths/reals") Real numbers
	p
		a(href="/theory/maths/complex") Complex numbers
	h3
		b Abstract algebra
	p
		a(href="/theory/maths/groups") Group theory
	p
		a(href="/theory/maths/rings") Rings
	p
		a(href="/theory/maths/fields") Fields
	h3
		b Univariate real analysis
	p
		a(href="/theory/maths/propertiesFunctions") Real functions
	p
		a(href="/theory/maths/calculus") Univariate calculus
	p
		a(href="/theory/maths/trigonometry") Trigonometry
	p
		a(href="/theory/maths/transformations") Taylor and Fourier analysis
	p
		a(href="/theory/maths/importantFunctions") Important functions of real numbers
	p
		a(href="/theory/maths/ODE") Ordinary Differential Equations (ODEs)
	h3
		b Linear algebra
	p
		a(href="/theory/maths/linearAlgebra") Vector spaces
	p
		a(href="/theory/maths/endomorphisms") Linear endomorphisms
	p
		a(href="/theory/maths/forms") Linear forms
	p
		a(href="/theory/maths/maps") Linear maps
	p
		a(href="/theory/maths/representation") Algebra over a field, and Lie algebra
	p
		a(href="/theory/maths/exteriorAlgebra") Exterior algebra
	p
		a(href="/theory/maths/tensors") Tensors
	p
		a(href="/theory/maths/functionalAnalysis") Infinite-dimensional vector spaces
	h3
		b Multivariate real analysis
	p
		a(href="/theory/maths/multiCalculus") Multivariate calculus
	p
		a(href="/theory/maths/differentialEquations") Partial Differential Equations (PDEs)
	p
		a(href="/theory/maths/exteriorCalculus") Exterior calculus
	p
		a(href="/theory/maths/calculusVariations") Calculus of variations
	p
		a(href="/theory/maths/optimisation") Optimisation
	h3
		b Complex analysis
	p
		a(href="/theory/maths/complexAnalysis") Complex calculus
	p
		a(href="/theory/maths/riemann") Riemann surfaces
	h3
		b Topology
	p
		a(href="/theory/maths/metric") Metric space
	p
		a(href="/theory/maths/topologyFinite") Topology of finite sets
	p
		a(href="/theory/maths/measures") Measure space
	p
		a(href="/theory/maths/manifoldsTopological") Topological manifolds
	p
		a(href="/theory/maths/manifoldsDifferentiable") Differentiable manifolds
	p
		a(href="/theory/maths/manifoldsRiemann") Riemann manifolds
	p
		a(href="/theory/maths/manifoldsEuclid") Euclidian geometry
	p
		a(href="/theory/maths/graph") Graph theory

