extends ../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Predicate logic
	p
		a(href="/theory/maths/logicBasic") Logical formulae
	p
		a(href="/theory/maths/logicTruth") Proof through truth tables
	p
		a(href="/theory/maths/logicPropositional") Proof through axioms and induction - propositional calculus
	p
		a(href="/theory/maths/logicContradiction") Proof by contradiction
	h2
		b First order logic
	p
		a(href="/theory/maths/integersSets") Sets
	p
		a(href="/theory/maths/logicSetAlgebra") Set algebra
	p
		a(href="/theory/maths/logicFunctions") Functions
	p
		a(href="/theory/maths/integersSets") Equality
	p
		a(href="/theory/maths/integersSets") Predicates, quantifiers and domains
	p
		a(href="/theory/maths/logicFirst") First Order Logic
	p
		a(href="/theory/maths/logicExhaustion") Proof by exhaustion
	p
		a(href="/theory/maths/logicCounterexample") Disproof by counterexample
	h2
		b Elementary number theory
	p
		a(href="/theory/maths/integersNaturalNumbers") Natural numbers (Peano)
	p
		a(href="/theory/maths/integersNaturalNumbers") Natural numbers (ZFC)
	p
		a(href="/theory/maths/integersNaturalOrdinal") Natural ordinality
	p
		a(href="/theory/maths/integersNaturalFunctions") Functions on natural numbers
	p
		a(href="/theory/maths/integersSumProduct") Summation and products
	p
		a(href="/theory/maths/integersNaturalInverse") Inverse functions on natural numbers
	p
		a(href="/theory/maths/integersIntegers") Integers
	p
		a(href="/theory/maths/integersIntegersOrdinality") Ordinality of integers
	p
		a(href="/theory/maths/integersIntegersFunctions") Functions on integers
	p
		a(href="/theory/maths/integersGCDLCM") Greatest Common Divisors, Lowest Common Multiples
	p
		a(href="/theory/maths/integersArithmatic") Fundamental Theorem of Arithmetic
	p
		a(href="/theory/maths/integersPrimes") Infinite number of primes

	h2
		b Rational, Real and Complex numbers
	p
		a(href="/theory/maths/complexRationalNumbers") Rational numbers
	p
		a(href="/theory/maths/complexRationalFunctions") Rational functions
	p
		a(href="/theory/maths/complexRationalOrdinality") Rational ordinality
	p
		a(href="/theory/maths/complexIntervals") Intervals
	p
		a(href="/theory/maths/complexRoot2") Square root of 2
	p
		a(href="/theory/maths/complexSequences") Sequences
	p
		a(href="/theory/maths/complexRealNumbers") Real numbers
	p
		a(href="/theory/maths/complexRealOrdinality") Real ordinality
	p
		a(href="/theory/maths/complexRealFunctions") Real functions
	p
		a(href="/theory/maths/complexComplexNumbers") Complex numbers

	h2
		b Algebraic indentities
	p
		a(href="/theory/maths/identitiesPowers") Identities: Powers
	p
		a(href="/theory/maths/identitiesLogarithms") Identities: Logarithms
	p
		a(href="/theory/maths/identitiesBinomialExpansion") Binomial expansion
	p
		a(href="/theory/maths/identitiesPFD") Partial fraction decomposition
	p
		a(href="/theory/maths/identitiesOther") Other
	h2
		b Solving equations
	p
		a(href="/theory/maths/solvingFTA") Fundamental theorem of algebra
	p
		a(href="/theory/maths/solvingQuadratic") Quadratic solver
	p 
		a(href="/theory/maths/solvingCubic") Cubic solver
	p 
		a(href="/theory/maths/solvingSimultaneous") Simultaneous equations

	h2
		b Analysis
	p
		a(href="/theory/maths/analysisProperties") Properties of functions
	p
		a(href="/theory/maths/analysisLimits") Limits
	p
		a(href="/theory/maths/analysisDerivatives") Derivatives
	p
		a(href="/theory/maths/analysisProperties") Properties of derivatives
	p
		a(href="/theory/maths/analysisE") e
	p
		a(href="/theory/maths/analysisTotal") Total derivative
	p
		a(href="/theory/maths/analysisIntegration") Integration
	p
		a(href="/theory/maths/analysisTaylor") Taylor series
	p
		a(href="/theory/maths/analysisOptimisation") Optimisation
	p
		a(href="/theory/maths/analysisFourier") Fourier transform

	h2
		b Abstract algebra
	p
		a(href="/theory/maths/algebraicStructures") Algebraic structures
	h2
		b Trigonometry
	p
		a(href="/theory/maths/cosine") Sine and cosine
	h2
		b Other
	p
		a(href="/theory/maths/otherSeries") Series
	p
		a(href="/theory/maths/otherSetAlgebra") Set algebra
