extends ../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Zeroth order logic
	p
		a(href="/theory/maths/0000ZeroPropositions") True, false and propositional variables
	p
		a(href="/theory/maths/0001ZeroPredicates") Predicates, constants, functions and terms
	p
		a(href="/theory/maths/0002ZeroDomain") Domain of discourse
	p
		a(href="/theory/maths/0003ZeroRelations") Relations
	p
		a(href="/theory/maths/0004ZeroOperators") Operators
	p
		a(href="/theory/maths/0005ZeroEquivalence") Equivalence and why only unary and binary operators, relations and functions are needed
	p
		a(href="/theory/maths/0006ZeroSignatures") Signatures, language and structures
	p
		a(href="/theory/maths/0007ZeroInterpretations") Interpretations and satiability
	p
		a(href="/theory/maths/0008ZeroTautologies") Truth tables and tautologies
	h2
		b First-order logic
	p
		a(href="/theory/maths/0100FirstQuantifiers") Quantifiers, domains and free, bound and ground variables
	p
		a(href="/theory/maths/0101FirstTTLimit") Limitations of truth tables
	p
		a(href="/theory/maths/0102FirstInference") Proof by inference
	p
		a(href="/theory/maths/0103FirstIndependence") Independence and effectiveness of axioms
	p
		a(href="/theory/maths/0104FirstGodelCompleteness") Gödel’s completeness theorem
	h2
		b Second and higher-order logic
	h2
		b Set theory
	h2
		b Elementary number theory
	p
		a(href="/theory/maths/0400integersNaturals") Natural numbers
	p
		a(href="/theory/maths/0401integersNaturalFunctions") Addition and multiplication
	p
		a(href="/theory/maths/0402integersNaturalInverse") Subtraction and division
	p
		a(href="/theory/maths/0403integersSumProduct") Summation, products and factorials
	p
		a(href="/theory/maths/0404integersPrimes") Prime numbers 
	p
		a(href="/theory/maths/0405integersGCDLCM") Greatest Common Divisors and Lowest Common Multiples
	p
		a(href="/theory/maths/0406integersIntegers") Integers
	p
		a(href="/theory/maths/0407integersArithmatic") Fundamental Theorem of Arithmetic
	h2
		b Real numbers
	p
		a(href="/theory/maths/0500realRationals") Rational numbers
	p
		a(href="/theory/maths/0501realIntervals") Intervals
	p
		a(href="/theory/maths/0502realPowers") Exponents and logarithms
	p
		a(href="/theory/maths/0503realGamma") Gamma function
	p
		a(href="/theory/maths/0504realRoot2") Square root of 2
	p
		a(href="/theory/maths/0505realSequences") Cauchy sequences
	p
		a(href="/theory/maths/0506realDedekind") Dedekind cuts
	p
		a(href="/theory/maths/0507realReals") Real numbers
	h2
		b Additional types of numbers
	p
		a(href="/theory/maths/0600complexComplexes") Complex numbers
	p
		a(href="/theory/maths/0601complexClosure") Algebraic closure
	p
		a(href="/theory/maths/0602complexQuaterniors") Quaternions
	p
		a(href="/theory/maths/0603complexOctonions") Octonions
	p
		a(href="/theory/maths/0604complexHyperreals") Hyperreals and surreals
	h2
		b Algebra
	p
		a(href="/theory/maths/0700algebraBinomial") Binomial expansion
	p
		a(href="/theory/maths/0701algebraPFD") Partial fraction decomposition
	p
		a(href="/theory/maths/0702algebraOther") Other
	p
		a(href="/theory/maths/0703algebraFTA") Fundamental theorem of algebra
	p
		a(href="/theory/maths/0704algebraQuadratic") Quadratic solver
	p 	
		a(href="/theory/maths/0705algebraCubic") Cubic solver
	p 
		a(href="/theory/maths/0706algebraSimultaneous") Simultaneous equations
	p
		a(href="/theory/maths/0707algebraStructures") Algebraic structures
	h2
		b Pre-Analysis
	p
		a(href="/theory/maths/0800analysisContinuity") Continuity and limits
	p
		a(href="/theory/maths/0801analysisBigO") Big O and little o notation, and the extended real line
	p
		a(href="/theory/maths/0802analysisCon") Concavity and convexity
	p
		a(href="/theory/maths/0803analysisEvenOdd") Even and odd functions
	h2
		b Differentiation
	p
		a(href="/theory/maths/0900diffDerivatives") Derivatives and smoothness
	p
		a(href="/theory/maths/0901diffE") \(e\)
	p
		a(href="/theory/maths/0902diffTaylor") Taylor's theorem
	p
		a(href="/theory/maths/0903diffTotal") Partial and total derivatives
	p
		a(href="/theory/maths/0904diffSaddle") Saddle points
	p
		a(href="/theory/maths/0905diffLagrangian") Lagrangian multipliers and the envelope theorem
	p
		a(href="/theory/maths/0906diffKKT") Karush-Kuhn-Tucker conditions
	p
		a(href="/theory/maths/0907diffAnti") Anti-derivatives
	h2
		b Integration
	p
		a(href="/theory/maths/1000integrationIntegrals") Reimann and Lebesgue integrals
	p
		a(href="/theory/maths/1001integrationFTC") Fundamental theorem of calculus
	p
		a(href="/theory/maths/1002integrationParts") Integration by parts and by substitution
	p
		a(href="/theory/maths/1003integrationClosed") Closed integrals, and Line, arc, surface and volume integrals
	p
		a(href="/theory/maths/1004integrationVector") Vector calclus
	p
		a(href="/theory/maths/1005integrationStokes") Stokes' theorem
	p
		a(href="/theory/maths/1006integrationGreens") Green's theorem
	h2
		b Trigonometry
	p
		a(href="/theory/maths/1100trigCS") Sine and cosine
	p
		a(href="/theory/maths/1101trigPolar") Polar coordinates
	p
		a(href="/theory/maths/1102trigTan") Tan
	p
		a(href="/theory/maths/1103trigOther") Other trigonometric functions
	p
		a(href="/theory/maths/1104trigIdentities") Trigonometric identities
	p
		a(href="/theory/maths/1105trigIntegrals") Trigonometric functions as integrals
	p
		a(href="/theory/maths/1106trigTau") \(\tau \)
	p
		a(href="/theory/maths/1107trigComplexLogs") Complex logarithms
	p
		a(href="/theory/maths/1108trigFourier") Fourier transform
	h2
		b Linear algebra
	p
		a(href="/theory/maths/1200linearMatrices") Matrices
	p
		a(href="/theory/maths/1201linearOperations") Matrix operations
	p
		a(href="/theory/maths/1202linearPositive") Positive definite
	p
		a(href="/theory/maths/1203linearDependence") Linear dependence
	p
		a(href="/theory/maths/1204linearGauss") Gaussian elimination
	p
		a(href="/theory/maths/1205linearInversion") Matrix inversion
	p
		a(href="/theory/maths/1206linearDecomposition") Matrix decomposition
	p
		a(href="/theory/maths/1207linearDeterminants") Determinants
	p
		a(href="/theory/maths/1208linearEigen") Eigenvalues and eigenvectors
	h2
		b Differential equations
	p
		a(href="/theory/maths/1300diffEqODE") Ordinary differential equations
	p
		a(href="/theory/maths/1301diffEqPDE") Partial differential equations
	
	h2
		b Space
	p
		a(href="/theory/maths/spaceMetric") Affine space
	p
		a(href="/theory/maths/spaceMetric") Metric space
	p
		a(href="/theory/maths/spaceMetric") Cauchy-Schwarz inequality
	p
		a(href="/theory/maths/spaceMeasure") Measure space
	p
		a(href="/theory/maths/spaceMeasure") Manifold
	p
		a(href="/theory/maths/spaceMeasure") Connected space
	p
		a(href="/theory/maths/spaceMeasure") Tangent and cotangent space
	p
		a(href="/theory/maths/spaceMeasure") General covariance
	p
		a(href="/theory/maths/spaceMeasure") Tensors
	p
		a(href="/theory/maths/spaceMeasure") Multivector 
	h2
		b Other
	p
		a(href="/theory/maths/otherSeries") Series
	p
		a(href="/theory/maths/otherSetAlgebra") Set algebra
