extends ./maths/subTemplate.jade
block subSubContent
	h3
		b Foundations of mathematics
	p
		a(href="/theory/maths/propositionalLogic") Propositional logic
	p
		a(href="/theory/maths/preteriteLogic") Preterite logic
	p
		a(href="/theory/maths/sets") Sets
	h3
		b Arithmetic
	p
		a(href="/theory/maths/arithmetic") Arithmetic
	h3
		b Abstract algebra
	p
		a(href="/theory/maths/groups") Groups
	p
		a(href="/theory/maths/fields") Fields
	p
		a(href="/theory/maths/vectors") Vector spaces
	h3
		b Analysis
	p
		a(href="/theory/maths/reals") Real numbers
	p
		a(href="/theory/maths/realAnalysis") Real analysis
	p
		a(href="/theory/maths/trigonometry") Trigonometry
	p
		a(href="/theory/maths/complexAnalysis") Complex analysis
	h3
		b Other
	p
		a(href="/theory/maths/linearAlgebra") Linear algebra
	p
		a(href="/theory/maths/topology") Topology
