extends ../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Logic
	p
		a(href="/theory/maths/basicLogic") Basic logic
	p
		a(href="/theory/maths/firstOrderLogic") First Order Logic
	h2
		b Numbers 1
	p
		a(href="/theory/maths/sets") Sets
	p
		a(href="/theory/maths/naturalNumbers") Natural numbers
	h2
		b Algebra
	p
		a(href="/theory/maths/algebraicStructures") Algebraic structures
	p
		a(href="/theory/maths/algebra") Algebra
	p
		a(href="/theory/maths/series") Series
	h2
		b Solving equations
	p
		a(href="/theory/maths/fundamentalTheoremAlgebra") Fundamental theorem of algebra
	p
		a(href="/theory/maths/quadraticSolver") Quadratic solver
	p 
		a(href="/theory/maths/cubicSolver") Cubic solver
	h2
		b Numbers 2
	p
		a(href="/theory/maths/sequences") Sequences
	p
		a(href="/theory/maths/realNumbers") Real numbers
	p
		a(href="/theory/maths/complexNumbers") Complex numbers
	h2
		b Calculus
	p
		a(href="/theory/maths/calculus") Calculus
	p
		a(href="/theory/maths/integration") Integration
	p
		a(href="/theory/maths/taylorSeries") Taylor series
	p
		a(href="/theory/maths/optimisation") Optimisation
