extends ./maths/subTemplate.jade
block subContent
	p
		a(href="/theory/maths/propositionalLogic") Propositional logic
	p
		a(href="/theory/maths/logic") Preterite logic
	p
		a(href="/theory/maths/sets") Sets
	p
		a(href="/theory/maths/sets") Groups
	p
		a(href="/theory/maths/sets") Rings
	p
		a(href="/theory/maths/sets") Vector spaces
	p
		a(href="/theory/maths/arithmetic") Arithmetic
	p
		a(href="/theory/maths/numbers") Numbers
	p
		a(href="/theory/maths/algebra") Algebra
	p
		a(href="/theory/maths/realAnalysis") Real analysis
	p
		a(href="/theory/maths/complexAnalysis") Complex analysis
	p
		a(href="/theory/maths/linearAlgebra") Linear algebra
	p
		a(href="/theory/maths/optimisation") Optimisation
	p
		a(href="/theory/maths/differentialEquations") Differential equations
	p
		a(href="/theory/maths/topology") Topology
