extends ./maths/subTemplate.jade
block subSubContent
	p
		a(href="/theory/maths/propositionalLogic") Propositional logic
	p
		a(href="/theory/maths/preteriteLogic") Preterite logic
	p
		a(href="/theory/maths/sets") Sets
	p
		a(href="/theory/maths/arithmetic") Arithmetic
	p
		a(href="/theory/maths/groups") Groups
	p
		a(href="/theory/maths/fields") Fields
	p
		a(href="/theory/maths/reals") Real numbers
	p
		a(href="/theory/maths/realAnalysis") Real analysis
	p
		a(href="/theory/maths/complexAnalysis") Complex analysis
	p
		a(href="/theory/maths/linearAlgebra") Linear algebra
	p
		a(href="/theory/maths/optimisation") Optimisation
	p
		a(href="/theory/maths/differentialEquations") Differential equations
	p
		a(href="/theory/maths/topology") Topology
