extends ./physics/subTemplate.jade
block subSubContent
	h3
		b Dynamic systems
	p
		a(href="./physics/continuous") Continuous systems
	h3
		b Spacetime
	p
		a(href="./physics/worldlines") Paths
	p
		a(href="./physics/metrics") Lorentz and Euclidian metrics
	p
		a(href="./physics/fields") Fields
	h3
		b Quantum mechanics
	p
		a(href="./physics/QM") Quantum mechanics
	p
		a(href="./physics/QFT") Quantum Field Theory (QFT)
	h3
		b Electromagnetism
	h3
		b Classical mechanics
	p
		a(href="./physics/newton") Newtonian mechanics
	h3
		b Engineering
	p
		a(href="./physics/engineeringElectrical") Electrical engineering

