extends ./physics/subTemplate.jade
block subSubContent
	h3
		b Dynamic systems
	p
		a(href="./physics/continuous") Continuous systems
	h3
		b Quantum mechanics
	h3
		b Classical mechanics
	p
		a(href="./physics/newton") Newtonian mechanics
	p
		a(href="./physics/lagrange") Lagrangian and Hamiltonian interpretations of Newtonian mechanics
	h3
		b Quantum field theory
	h3
		b General relativity
