extends ./physics/subTemplate.jade
block subSubContent
	h3
		b World lines
	p
		a(href="./physics/worldlines") Paths
	p
		a(href="./physics/metrics") Lorentz and Euclidian metrics
	h3
		b Electromagnetism
	h3
		b Quantum mechanics
	p
		a(href="./physics/QM") Quantum mechanics
	h3
		b Dynamic systems
	p
		a(href="./physics/continuous") Continuous systems
	h3
		b Classical mechanics
	p
		a(href="./physics/newton") Newtonian mechanics
	p
		a(href="./physics/lagrange") Lagrangian and Hamiltonian interpretations of Newtonian mechanics

