extends ./statistics/subTemplate.jade
block subSubContent
	p
		a(href="/theory/statistics/probability") Probabiliy
	p
		a(href="/theory/statistics/sampling") Sampling
	p
		a(href="/theory/statistics/estimators") Estimators
	p
		a(href="/theory/statistics/anova") ANOVA
	p
		a(href="/theory/statistics/ols") OLS
	p
		a(href="/theory/statistics/time") Time series
	p
		a(href="/theory/statistics/machine") Machine learning
