extends ./statistics/subTemplate.jade
block subSubContent
	h3
		b Probability
	p
		a(href="./statistics/probability") Probability
	p
		a(href="./statistics/entropy") Entropy
	p
		a(href="./statistics/iid") Independent and identically distributed variables
	p
		a(href="./statistics/distributions") Parametric distributions
	p
		a(href="./statistics/stochastic") Stochastic processes
	p
		a(href="./statistics/statistics") Statistics
	h3
		b Stochastic methods
	p
		a(href="./statistics/integration") Integration
	p
		a(href="./statistics/mcmc") Optimisation
	p
		a(href="./statistics/calculusStochastic") Stochastic calculus
	h3
		b Exploratory data analysis
	p
		a(href="./statistics/distance") Distance metrics and outliers
	p
		a(href="./statistics/association") Association rules
	p
		a(href="./statistics/dataAnalysis") Data cleaning
	p
		a(href="./statistics/summary") Summary statistics
	p
		a(href="./statistics/visualisation") Data visualisation
	p
		a(href="./statistics/dimensionality") Dimensionality reduction
	p
		a(href="./statistics/clustering") Clustering
	h3
		b Estimating probability distributions
	p
		a(href="./statistics/nonParametric") Non-parametric estimation of probability distributions
	p
		a(href="./statistics/generative") Parametric estimation of probability distributions
	p
		a(href="./statistics/population") Estimating population moments
	p
		a(href="./statistics/choosing") Choosing parametric probability distributions
	p
		a(href="./statistics/parametric") Parametric models for dependent variables
	p
		a(href="./statistics/latent") Latent variable models
	p
		a(href="./statistics/hypothesis") Hypothesis testing
	h3
		b Linear regression
	p
		a(href="./statistics/ols") Ordinary Least Squares for prediction
	p
		a(href="./statistics/linearML") Regularising linear regression for prediction
	p
		a(href="./statistics/olsInference") Ordinary Least Squares for inference
	p
		a(href="./statistics/gls") Generalised Least Squares
	p
		a(href="./statistics/anova") General Linear Models
	p
		a(href="./statistics/glm") Generalised linear models
	h3
		b Machine learning
	p
		a(href="./statistics/crossValidation") Cross-validation
	p
		a(href="./statistics/trees") Classification And Regression Trees (CART)
	p
		a(href="./statistics/SVM") Support Vector Machines (SVM)
	p
		a(href="./statistics/supervised") Other machine learning classifiers
	p
		a(href="./statistics/MLregression") Non-parametric regression
	p
		a(href="./statistics/ensemble") Ensemble methods
	h3
		b Advanced inference	
	p
		a(href="./statistics/olsMore") Instrumental Variables and the General Method of Moments
	p
		a(href="./statistics/recommend") Missing data
	p
		a(href="./statistics/semiParametric") Semi-parametric regression
	p
		a(href="./statistics/treatment") Homogeneous treatment effects (h3 on using semi-parametric here)
	p
		a(href="./statistics/treatment") Heterogeneous treatment effects (LATE, causal tree (from CART))
	h3
		b Time series
	p
		a(href="./statistics/markov") Markov models
	p
		a(href="./statistics/forecastingUni") Univariate forecasting
	p
		a(href="./statistics/forecastingMulti") Multivariate forecasting
	p
		a(href="./statistics/time") Inference with time series
	h3
		b Neural networks
	p
		a(href="./statistics/neuralNetworks") Feedforward neural networks
	p
		a(href="./statistics/neuralNetworksRec") Recurrent neural networks
	p
		a(href="./statistics/generativeNN") Generative neural networks

