extends ./statistics/subTemplate.jade
block subSubContent
	h3
		b Probability
	p
		a(href="/theory/statistics/probability") Probability
	p
		a(href="/theory/statistics/iid") Independent and identically distributed variables
	p
		a(href="/theory/statistics/stochastic") Stochastic processes
	h3
		b Data
	p
		a(href="/theory/statistics/data") Data
	p
		a(href="/theory/statistics/summary") Summary statistics
	p
		a(href="/theory/statistics/features") Features
	h3
		b Parametric models
	p
		a(href="/theory/statistics/parametric") Creating parametric models
	p
		a(href="/theory/statistics/estimation") Estimating parameters
	p
		a(href="/theory/statistics/anova") Hypothesis testing
	h3
		b Linear regression
	p
		a(href="/theory/statistics/ols") Ordinary Least Squares (OLS)
	p
		a(href="/theory/statistics/time") Non-IID
	p
		a(href="/theory/statistics/linearML") Machine learning extensions to linear models
	h3
		b Classification
	p
		a(href="/theory/statistics/glm") Generalised linear models
	p
		a(href="/theory/statistics/neuralNetworks") Artificial neural networks
	p
		a(href="/theory/statistics/supervised") Other classifiers
	h3
		b Other
	p
		a(href="/theory/statistics/nonParametric") Non-parametric models
	p
		a(href="/theory/statistics/ensemble") Ensemble
	p
		a(href="/theory/statistics/unsupervised") Unsupervised machine learning techniques
