extends ./statistics/subTemplate.jade
block subSubContent
	h3
		b Probability
	p
		a(href="/theory/statistics/probability") Probability
	p
		a(href="/theory/statistics/iid") Independent and identically distributed variables
	h3
		b Models
	p
		a(href="/theory/statistics/estimators") Estimators

	h3
		b Linear models
	p
		a(href="/theory/statistics/ols") OLS
	p
		a(href="/theory/statistics/time") Time series
	h3
		b Non-linear models
	p
		a(href="/theory/statistics/machine") Machine learning
	h3
		b Other	
	p
		a(href="/theory/statistics/anova") ANOVA

