extends ./statistics/subTemplate.jade
block subSubContent
	h3
		b Probability
	p
		a(href="/theory/statistics/probability") Probability
	p
		a(href="/theory/statistics/iid") Independent and identically distributed variables
	h3
		b Data
	p
		a(href="/theory/statistics/data") Data
	h3
		b Models
	p
		a(href="/theory/statistics/models") Introduction to models
	p
		a(href="/theory/statistics/parametric") Parametric models
	p
		a(href="/theory/statistics/nonParametric") Non-parametric models
	h3
		b Linear models
	p
		a(href="/theory/statistics/ols") Linear regression
	p
		a(href="/theory/statistics/time") Time series
	p
		a(href="/theory/statistics/anova") ANOVA
	p
		a(href="/theory/statistics/glm") Generalised linear models
	h3
		b Supervised machine learning techniques
	p
		a(href="/theory/statistics/neuralNetworks") Artificial neural networks
	p
		a(href="/theory/statistics/supervised") Other supervised machine learning techniques
	h3
		b Unsupervised machine learning techniques
	p
		a(href="/theory/statistics/unsupervised") Unsupervised machine learning techniques

