extends ./statistics/subTemplate.jade
block subSubContent
	h3
		b Probability
	p
		a(href="/theory/statistics/probability") Probability
	p
		a(href="/theory/statistics/iid") Independent and identically distributed variables
	h3
		b Sampling
	p
		a(href="/theory/statistics/sampling") Sampling
	h3
		b Estimators
	p
		a(href="/theory/statistics/estimators") Estimators
	h3
		b Other	
	p
		a(href="/theory/statistics/anova") ANOVA
	p
		a(href="/theory/statistics/ols") OLS
	p
		a(href="/theory/statistics/time") Time series
	p
		a(href="/theory/statistics/machine") Machine learning
