extends ./statistics/subTemplate.jade
block subSubContent
	h3
		b Probability
	p
		a(href="/theory/statistics/probability") Probability
	p
		a(href="/theory/statistics/iid") Independent and identically distributed variables
	p
		a(href="/theory/statistics/distributions") Parametric distributions
	p
		a(href="/theory/statistics/stochastic") Stochastic processes
	p
		a(href="/theory/statistics/statistics") Statistics
	p
		a(href="/theory/statistics/distance") Distance metrics
	h3
		b Exploratory data analysis
	p
		a(href="/theory/statistics/dataAnalysis") Data cleaning
	p
		a(href="/theory/statistics/summary") Summary statistics
	p
		a(href="/theory/statistics/visualisation") Data visualisation
	h3
		b Unsupervised learning
	p
		a(href="/theory/statistics/dimensionality") Dimensionality reduction
	p
		a(href="/theory/statistics/clustering") Clustering
	h3
		b Estimating probability distributions
	p
		a(href="/theory/statistics/nonParametric") Non-parametric estimation of probability distributions
	p
		a(href="/theory/statistics/generative") Parametric estimation of probability distributions
	p
		a(href="/theory/statistics/population") Estimating population moments
	p
		a(href="/theory/statistics/choosing") Choosing parametric probability distributions
	p
		a(href="/theory/statistics/parametric") Parametric models for dependent variables
	p
		a(href="/theory/statistics/mcmc") Markov chain Monte Carlo (MCMC) methods
	p
		a(href="/theory/statistics/latent") Latent variable models
	p
		a(href="/theory/statistics/hypothesis") Hypothesis testing
	h3
		b Linear regression
	p
		a(href="/theory/statistics/ols") Ordinary Least Squares for prediction
	p
		a(href="/theory/statistics/linearML") Regularising linear regression
	p
		a(href="/theory/statistics/olsInference") Ordinary Least Squares for inference
	p
		a(href="/theory/statistics/gls") Generalised Least Squares
	p
		a(href="/theory/statistics/anova") General Linear Models
	p
		a(href="/theory/statistics/olsMore") Instrumental Variables
	p
		a(href="/theory/statistics/time") Time series regression
	p
		a(href="/theory/statistics/treatment") Linear treatment effects
	p
		a(href="/theory/statistics/glm") Generalised linear models
	h3
		b Machine learning
	p
		a(href="/theory/statistics/trees") Classification and Regression Trees (CART)
	p
		a(href="/theory/statistics/supervised") Other machine learning classifiers
	p
		a(href="/theory/statistics/MLregression") Non-parametric regression
	p
		a(href="/theory/statistics/ensemble") Ensemble methods
	p
		a(href="/theory/statistics/semiParametric") Semi-parametric regression
	p
		a(href="/theory/statistics/markov") Markov models
	p
		a(href="/theory/statistics/recommend") Recommenders	
	h3
		b Neural networks
	p
		a(href="/theory/statistics/neuralNetworks") Neural networks classifers
	p
		a(href="/theory/statistics/neuralNetworksReg") Neural networks regression
	p
		a(href="/theory/statistics/generativeNN") Generative neural networks

