extends ./statistics/subTemplate.jade
block subSubContent
	h3
		b Probability
	p
		a(href="/theory/statistics/probability") Probability
	p
		a(href="/theory/statistics/iid") Independent and identically distributed variables
	p
		a(href="/theory/statistics/distributions") Important distributions
	p
		a(href="/theory/statistics/stochastic") Stochastic processes
	h3
		b Exploratory data analysis
	p
		a(href="/theory/statistics/dataAnalysis") Data cleaning
	p
		a(href="/theory/statistics/summary") Summary statistics
	p
		a(href="/theory/statistics/visualisation") Data visualisation
	p
		a(href="/theory/statistics/population") Estimating population moments
	h3
		b Parametric models
	p
		a(href="/theory/statistics/generative") Generative models
	p
		a(href="/theory/statistics/parametric") Models for dependent variables
	h3
		b Linear regression
	p
		a(href="/theory/statistics/ols") Ordinary Least Squares
	p
		a(href="/theory/statistics/linearML") Regularising linear regression
	p
		a(href="/theory/statistics/time") Non-independent linear regression
	h3
		b Classification
	p
		a(href="/theory/statistics/glm") Generalised linear models
	p
		a(href="/theory/statistics/supervised") Machine learning classifiers
	p
		a(href="/theory/statistics/neuralNetworks") Neural networks classifers
	p
		a(href="/theory/statistics/ensemble") Ensemble classifiers
	h3
		b Unsupervised learning
	p
		a(href="/theory/statistics/dimensionality") Dimensionality reduction
	p
		a(href="/theory/statistics/clustering") Clustering
	p
		a(href="/theory/statistics/unsupervised") Other unsupervised machine learning techniques

