extends ../templates/theoryHeader.jade

block theoryContent
	h1 Statistics
	h2
		b Foundations
	p
		a(href="/theory/statistics/axioms") Axioms
	p
		a(href="/theory/statistics/moments") Moments
	p
		a(href="/theory/statistics/bayes") Bayes
	h2
		b Samples
	p
		a(href="/theory/statistics/samples") Samples
	h2
		b Estimation		
	p
		a(href="/theory/statistics/maximumLikelihood") Maximum Likelihood Estimation
	p
		a(href="/theory/statistics/OLS") Ordinary Least Squares
