extends ../templates/theoryHeader.jade

block theoryContent
	h1 Statistics
	h2
		b Probability
	p
		b Probability of an event
	p
		a(href="/theory/statistics/singleAxioms") Axioms
	p
		a(href="/theory/statistics/singleExpected") Expected value
	p
		a(href="/theory/statistics/singleVariance") Variance
	p
		a(href="/theory/statistics/singleMoments") Moments
	p
		a(href="/theory/statistics/singleTransformations") Linear transformations
	p
		a(href="/theory/statistics/singleCumulative") Cumulative distribution functions
	p
		a(href="/theory/statistics/singleChebMark") Chebyshev and Markov's inequalities
	p
		a(href="/theory/statistics/singleMomentCharacteristic") Moment generating, and characteristic, functions
	p
		b Probabilities of joint events
	p
		a(href="/theory/statistics/multipleAxioms") Additional axioms
	p
		a(href="/theory/statistics/multipleMarginal") Marginal probability
	p
		a(href="/theory/statistics/multipleConditional") Conditional probability
	p
		a(href="/theory/statistics/multipleMoments") Moments for multiple events
	p
		a(href="/theory/statistics/multipleCovariance") Covariance matrix
	p
		b IID
	p
		a(href="/theory/statistics/IIDIID") Identically Independently Distributed variables (IID)
	p
		a(href="/theory/statistics/IIDConvergence") Convergence
	p
		a(href="/theory/statistics/IIDLevy") Lévy's continuity theorem
	p
		a(href="/theory/statistics/IIDLLN") Weak law of large numbers
	p
		a(href="/theory/statistics/IIDCLT") Central limit theorem
	h2
		b Sampling
	p
		a(href="/theory/statistics/sampleSamples") Samples
	p
		a(href="/theory/statistics/sampleMethods") Sample methods
	p
		a(href="/theory/statistics/sampleStatistic") Sample statistics
	h2
		b Estimation
	p
		b Estimators
	p
		a(href="/theory/statistics/estimationEstimation") Parameters and estimators
	p
		a(href="/theory/statistics/estimationEstimation") Sufficient statistics, and the Fisher-Neyman factorisation theorem
	p
		a(href="/theory/statistics/estimationBias") Bias
	p
		a(href="/theory/statistics/estimationBias") Lehmann–Scheffé theorem
	p
		a(href="/theory/statistics/estimationBias") Rao–Blackwell theorem
	p
		a(href="/theory/statistics/estimationEstimators") Fisher information
	p
		a(href="/theory/statistics/estimationEstimators") Akaike and Bayesian information criteria
	p
		a(href="/theory/statistics/estimationEstimators") Cramér–Rao lower bound
	p
		b Estimation for IID event
	p
		a(href="/theory/statistics/estimationSingleMoM") Method of moments
	p
		a(href="/theory/statistics/estimationSingleKnown") Estimators for known distributions
	p
		a(href="/theory/statistics/estimationSingleMLE") Maximum Likelihood Estimation
	p
		b Estimation for joint IID events
	p
		a(href="/theory/statistics/estimationJointMLE") Normal distribution and MLE
	p
		a(href="/theory/statistics/estimationJointGM") Gauss Markov
	p
		a(href="/theory/statistics/estimationJointOLS") Ordinary Least Squares
	p
		a(href="/theory/statistics/estimationJointOLS") Instrumental variables
	p
		a(href="/theory/statistics/estimationJointOLS") Robust OLS
	p
		a(href="/theory/statistics/estimationJointOLS") Solving: matrices
	p
		a(href="/theory/statistics/estimationJointOLS") Solving: gradient descent
	h3
		b Analysis of variance (ANOVA)
	p
		a(href="/theory/statistics/estimationJointOLS") Analysis of Variance (ANOVA)
	p
		a(href="/theory/statistics/estimationJointOLS") Analysis of Covariance (ANCOVA)
	p
		a(href="/theory/statistics/estimationJointOLS") Multivariate Analysis of Variance (MANOVA)
	p
		a(href="/theory/statistics/estimationJointOLS") Multivariate Analysis of Covariance (MANCOVA)
		
	h3
		b Time series
	p
		b Properties
	p
		a(href="/theory/statistics/estimationJointOLS") Stochastic processes
	p
		a(href="/theory/statistics/estimationJointOLS") Non-IID
	p
		a(href="/theory/statistics/estimationJointOLS") Stationary processes and unit roots
	p
		a(href="/theory/statistics/estimationJointOLS") Martingales and random walks
	p
		b Models
	p
		a(href="/theory/statistics/estimationJointOLS") Univariate Autoregression (AR)
	p
		a(href="/theory/statistics/estimationJointOLS") Vector Autoregression (VAR)
	p
		a(href="/theory/statistics/estimationJointOLS") Moving average (MA)
	p
		a(href="/theory/statistics/estimationJointOLS") Autoregressive Moving Average (ARMA)
	p
		a(href="/theory/statistics/estimationJointOLS") Autoregressive Integrated Moving Average (ARIMA)
	p
		a(href="/theory/statistics/estimationJointOLS") Autoregressive Fractionally Integrated Moving Average (ARFIMA)	
	h2
		b Hypothesis testing
	p
		b Frequentist
	p
		a(href="/theory/statistics/estimationJointOLS") Hypothesis test
	p
		a(href="/theory/statistics/estimationJointOLS") Neyman-Pearson lemma
	p
		b
	h2
		b Other
	p
		a(href="/theory/statistics/otherKeyDistributions") Important distributions
	p
		a(href="/theory/statistics/otherBayes") Bayes

	h2
		b Machine learning
	p
		b Complex estimation
	p
		a(href="/theory/statistics/machineForwardLimitations") Limitations of linear models
	p
		a(href="/theory/statistics/machineForwardNeural") Linear models as a neural net
	p
		a(href="/theory/statistics/machineForwardHidden") Hidden layers and forward propagation
	p
		a(href="/theory/statistics/machineForwardPoly") Polynomial features
	p
		a(href="/theory/statistics/machineForwardData") Sample requirements
	p
		a(href="/theory/statistics/machineForwardPCA") Principal Component Analysis
	p
		a(href="/theory/statistics/machineForwardPrecision") Precision and recall
	p
		a(href="/theory/statistics/machineForwardParameters") Limitation on parameter interpretation
	p
		b Estimating a neural network
	p
		a(href="/theory/statistics/machineEstimationMatrix") Matrix manipulation
	p
		a(href="/theory/statistics/machineEstimationGradient") Gradient descent
	p
		a(href="/theory/statistics/machineEstimationBack") Back propagation
	p
		a(href="/theory/statistics/machineEstimationRegularisation") Regularisation
	p
		b Unsupervised machine learning
	p
		a(href="/theory/statistics/machineUnsupervisedClassification") Regression v classification
	p
		a(href="/theory/statistics/machineUnsupervisedKMeans") K-means clustering
	p
		b Other
	p
		a(href="/theory/statistics/estimationJointOLS") Support Vector Mechanism
	p
		a(href="/theory/statistics/estimationJointOLS") Anomoly detection
	p
		b Examples
	p
		a(href="/theory/statistics/machineExamplesRecommender") Recommender systems
	p
		a(href="/theory/statistics/machineExamplesOCR") Optical character recognition
