extends ../templates/theoryHeader.jade

block theoryContent
	h1 Statistics
	h2
		b Foundations
	p
		a(href="/theory/statistics/axioms") Axioms
	p
		a(href="/theory/statistics/keyDistributions") Important distributions
	p
		a(href="/theory/statistics/iid") Identally Independently Distributed variables (IID)
	p
		a(href="/theory/statistics/chebyshevMarkov") Chebyshev and Markov's inequalities
	h2
		b Analysing probability distributions
	p
		a(href="/theory/statistics/moments") Cumulative probability
	p
		a(href="/theory/statistics/samples") Characteristic function
	p
		a(href="/theory/statistics/moments") Expected value
	p
		a(href="/theory/statistics/moments") Variance
	p
		a(href="/theory/statistics/moments") Moments
	h2
		b Statistics
	p
		a(href="/theory/statistics/statistic") A statistic
	p
		a(href="/theory/statistics/samples") Weak law of large numbers
	p
		a(href="/theory/statistics/samples") Strong law of large numbers
	p
		a(href="/theory/statistics/samples") Central limit theorem
	h2
		b Estimation		
	p
		a(href="/theory/statistics/samples") Samples
	p
		a(href="/theory/statistics/estimators") Estimators
	p
		a(href="/theory/statistics/estimators") Moment estimators
	p
		a(href="/theory/statistics/estimators") Parameter estimators
	p
		a(href="/theory/statistics/maximumLikelihood") Maximum Likelihood Estimation
	p
		a(href="/theory/statistics/OLS") Ordinary Least Squares
	h2
		b Bayes theorem
	p
		a(href="/theory/statistics/bayes") Bayes
