[Unit]
Description=YetiPredictNode
Documentation=https://www.yetipredict.com
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/node /home/ubuntu/yetipredict/server.js
Restart=always
WatchogSec=604800

[Install]
WantedBy=multi-user.target

