extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Extreme IID multinomial
block subSubContent
	h3
		b IID
	p The probability of \(j\) being chosen is:

	p \(P_{ij}=P(\epsilon_{ik} <v_{ij} -v_{ik} +\epsilon_{ij}\forall k\ne j)\)

	p If these are independent then we have:

	p \(P_{ij}=\prod_{k\ne j} P(\epsilon_{ik} <v_{ij} -v_{ik} +\epsilon_{ij})\)

	p \(P_{ij}=\prod_{k\ne j} F_\epsilon (v_{ij} -v_{ik} +\epsilon_{ij})\)

	p We do not know \(\epsilon_{ij} so we have to integrate over possibilities.

	p \(P_{ij}=\int [\prod_{k\ne j} F_\epsilon (v_{ij} -v_{ik} +\epsilon_{ij})]f_\epsilon(\epsilon_{ij})d\epsilon_{ij}\)
	h3
		b Extreme values
	p We have:

	p \(P_{ij}=\int [\prod_{k\ne j} F_\epsilon (v_{ij} -v_{ik} +\epsilon_{ij})]f_\epsilon(\epsilon_{ij})d\epsilon_{ij}\)

	p If \(\epsilon \) is extreme value type-I this gives us:

	p \(P_{ij}=\dfrac{e^{v_{ij}}{\sum_k e^{v_{ik}}}\)
	h3
		b Independence of irrelevant alternatives
	p Consider the ratio two probabilities:

	p \(\dfrac{P_{ij}}{P_{im}}=\dfrac{e^{v_{ij}}}{e^{v_{im}}}\)

	p This means that changes to any other products do not affect relative odds.

	p This can be undesirable. For example removing one option may cause unbalanced substitution.

	p For example raising the price of buses may cause more substitution to trains than helicopter, for a commute.

