extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Identity link function
block subSubContent
	h3
		b The function
	p \(a(z)=z\)
	h3
		b The derivative
	p \(a'(z)=1\)
	h3
		b Notes
	p This is the same as ordinary linear regression.
