extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Mixed logit (random coefficients)
block subSubContent
	h3
		b Introduction
	p In our standard model we have:

	p \(z_{ij}=\beta x_{ij} +\epsilon_{ij} \)

	p If we allow the parameters to vary for each individual we have:

	p \(z_{ij}=\beta_i x_{ij} +\epsilon_{ij} \)
	p The probability of choosing \(j\) now depends on the distribution of \(\beta \).

	p In the IID case we had:
	p \(P_{ij}=\dfrac{e^{\beta x_{ij}}{\sum_k e^{\beta x_{ik}}}\)

	p Rather than evaluate this at a single point \(\beta \) we integrate.

	p \(P_{ij}=\int \dfrac{e^{\beta x_{ij}}{\sum_k e^{\beta x_{ik}}}f(\beta )d\beta \)

	p If \(\beta \) is degenerate this reduces to the standard logit model.

