extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Multinomial probit
block subSubContent
	h3
		b Introduction
	p This relaxes the IID and extreme value assumption.
	p Errors have a normal variance-covariance matrix.
