extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The multinomial data generating process
block subSubContent
	h3
		b Introduction
	p In the binomial case we had:
	p \(z_i=\alpha + \beta x_i +\epsilon_i \)
	p And set \(y_i\) to \(1\) if \(z_i>0\)
	p In the multinomial case we have \(m\) alternatives
	p \(z_{ij}=\alpha + \beta x_{ij} +\epsilon_{ij} \)
	p And set \(y_{ij}=1\) if \(z_{ij}>z_{ik}\forall k\ne j\)
	h3
		b Generalised version
	p We can rewrite this as:

	p \(z_{ij}=v_{ij} +\epsilon_{ij} \)

	p Where:

	p \(v_{ij}=\alpha+\beta x_{ij}\)

	p In this case \(v\) does not depend on \(j\), but in other formulations it could.
	h3
		b Probabilities
	p \(P_{ij}=P(y_{ij}=1|x_{ij})\)

	p \(P_{ij}=P(z_{ij}>z_{ik}\forall k\ne j)\)

	P \(P_{ij}=P(\epsilon_{ik} <v_{ij} -v_{ik} +\epsilon_{ij}\forall k\ne j)\)

	h3
		b The form of the multinomial model: Intercepts
	p Previously we described the multinomial model
	p \(z_{ij}=v_{ij} +\epsilon_{ij} \)
	p Where:
	p \(v_{ij}=\alpha+\beta x_{ij}\)

	p The probability of \(j\) being chosen is.

	p \(P_{ij}=P(\epsilon_{ik} <v_{ij} -v_{ik} +\epsilon_{ij}\forall k\ne j)\)

	p Interceps in \(v\) cancel out. Therefore in the basic model there is no need to use

	p \(v_{ij}=\alpha+\beta x_{ij}\)

	p We can instead use:

	p \(v_{ij}=\beta x_{ij}\)
	h3
		b The form of the multinomial model: Conditional model
	p We have :

	p \(v_{ij}=\beta x_{ij}\)

	p What do we include in \(x_{ij}\)?

	p We can include observable characteristics for each product:

	p \(v_{ij}=\alpha_j + \beta x_j\)
	p One of the \(\alpha_j\) must be normalised to \(0\), as only differences matter. We cannot tell the difference if all \(\alpha \) are raised by the same amount.

	p For consistency with other models we can write this as:

	p \(v_{ij}=\beta x_{ij}\)

	p Even though this does not vary from individual to individual.

	p Here \(\beta \) represents average preferences for each product characteristic.
	h3
		b The form of the multinomial model: The multinomial model
	p We have differing characteristics for each individual:

	p \(v_{ij}=\beta x_i\)

	p However this adds a constant for each product. For this to discriminate we need varying coefficients.

	p \(v_{ij}=\beta_j x_i\)
	p As we only observe differences, one of the \(\beta_j\) must be normalised to \(0\).
	p We can rewrite this.

	p \(v_{ij}=\sum_k \beta_k\delta_{kj} x_i\)

	p \(v_{ij}=\beta z_{ij}\)
	p The original \(x_i\) is dense and contains data about the individual.

	p \(z_{ij}\) is sparce and only has entries in the \{j\} section.
	p Here \(\beta \) represents how the 
	h3
		b The form of the multinomial model: Combined multinomial and conditional model
	p If we have observations of the characteristics of both individuals and alternatives we can write:
	p \(v_{ij}=\beta_m m_{ij}+\beta_cc_{ij}\)

	p \(v_{ij}=\beta x_{ij}\)
	p Here \(\beta \) represents both:
	ul
		li Average preferences for customer characteristics (conditional)
		li How preferences change as individual characteristics change (multinomial)
 
