extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Nested logit
block subSubContent
	h3
		b Introduction
	p The probability of \(j\) being chosen is:

	p \(P_{ij}=P(\epsilon_{ik} <v_{ij} -v_{ik} +\epsilon_{ij}\forall k\ne j)\)

	p If the error terms are not IID this is more difficult to calculate.

	p We divide the \(J\) alternatives into nests. Within each of these we assume IID error terms, but allow variation between them.

	p For example we could have a nest of public/private transport. We could have a nest of types of product, and within that the firms offering the product.

	p The nested logit model does \(2\) or more seqential IID logit models. One to select the nest, and the other to select the alternative within the nest.
