extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Perceptron (step function)
block subSubContent
	h3
		b The function
	p If the sum is above \(0\), \(a(z)=1\). Otherwise, \(a(z)=0\).
	h3
		b The derivative
	p This has a differential of \(0\) at all point except \(0\), where it is undefined.
	h3
		b Notes
	p This function is not smooth.

	p These is the activation function used in the perceptron.
	p Perceptron data needs to be linearly separable to train.
	p Even if linearly separable, doesn't necessarily get the best outcome?

