extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Probability unit (probit)
block subSubContent
	h3
		b The function
	p The cumulative distribution function of the normal distribution.
	p \(\Phi (z)\)
	h3
		b The derivative
	p The normal distribution:
	p \(\Phi'(z)=\phi (z)\)
	h3
		b Notes
	p 
