extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Radial Basis Function (RBF) activation function
block subSubContent
	h3
		b Introduction
	p \(a(x)=\sum_i a_i f(||x-c_i||)\)

	p \(a(x)=\sum_i a_i fe^{||x-c_i||^2}\)
