extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Rectified Linear Unit (ReLU)
block subSubContent
	h3
		b The function
	p \(a(z)=\max (0,z)\)
	h3
		b The derivative
	p Its differential is \(1\) for values of \(z\) above \(0\), and \(0\) for values of \(z\) below \(0\).
	p The differential is undefined at \(z=0\), however this is unlikely to occur in practice.
	h3
		b Notes
	p The ReLU activation function induces sparcity.

