extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Softplus
block subSubContent
	h3
		b The function
	p \(a(z)=\ln (1+e^z)\)
	h3
		b The derivative
	p Its derivative is the sigmoid function:
	p \(a'(z)=\frac{1}{1+e^{-z}}\)
	h3
		b Notes
	p The softplus function is a smooth approximation of the ReLU function.

	p Unlike the ReLU function, Softplus does not induce sparcity.

