extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Association rules
block subSubContent
	h3
		b The data
	p We have a transaction dataset, \(D\).
	p This includes transactions of items in \(I\).
	p Any subset of \(I\) is an itemset.
	p A subset of size \(k\) is a \(k\)-itemset.
	p Transactions are a \(k\)-itemset with a unique id, tid.
	p The set of all transactions is \(T\).
	p A tidset is a subset of \(T\).
	h3
		b Forming a lattice
	p We have a total order on the items.
	p An itemset \(ab\) is greater than \(a\), for examplle.
	p The two points of the lattice are the nullset, and \(I\).
	h3
		b Mappings
	p We have a mapping from \(I\) to \(T\) called \(t\).
	p We have another mapping from \(T\) to \(I\) called \(i\).
	h3
		b Frequency
	p We define the frequency of an itemset as the number of transactions it appears in.
	p We can write the frequency of \(A\) as \(\sum A\).
	h3
		b Support
	p We define the support of an itemset as the proportion of transactions which contain the itemset.
	p \(supp(A)=\fracP\sum A }{n}\).
	p We can also consider this as:
	p \(supp(A)=P(A)\)
	
	h3
		b Frequent patterns
	p A frequent itemset is one where the support is above a minimum.
	p We know that if an itemset is frequent, then all its subsets are also frequent.
	p We look for frequent patterns, \(F\), between the items \(I\).
	p An example of a frequent pattern is \(\{a,b\}\).
	h3
		b Confidence
	p The confidence of a frequent pattern is defined as:
	p \(conf (A\rightarrow B)=\frac{supp(A\land B)}{supp(A)}\)
	h3
		b Finding frequent patterns
	p We can use search algorithms to find frequent patterns. Starting at the empty set.
	h3
		b Apriori algorithm
	p Breadth first search to generate candidate set of itemsets with support above some value.
	p Start with a \(1\)-itemset, and increase \(k\) once done.
	p Once we have found a frequent pattern, we can immediately identify other frequent patterns associated with it.
	p We can do this by looking at confidence, not support.
	h3
		b Strong rules
	p We use frequent patterns to generate strong rules, \(R\).
	p An example of a strong rule is \(a\rightarrow b\).
	p We can look at this by comparing the support of \(a\) to \(a\land b\).

	p \(supp(A\rightarrow B)=P(A\land B)\)
	p \(conf(A\rightarrow B)=P(B|A)\)
	p \(conf(A\rightarrow B)=\frac{P(A\land B)}{P(A)}\)

	h3
		b Interest
	p An alternative measure for finding rules is to use interest.
	p \(Interest(A\rightarrow B)=\frac{P(A\land B)}{P(A)P(B)}\)
	p \(Interest(A\rightarrow B)=\frac{supp(A\land B)}{P(supp(A))P(supp(B))}\)
	p If this is \(1\), then they are independent.
	p If this is greater than \(1\), they are positively dependent.
	p If this is less than \(1\), they are negatively dependent.

	h3
		b Quantitative association rules
	p The search space is infinite in size. For example continuous age.
	p We choose intervals instead.
