extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Association rules
block subSubContent
	h3
		b The data
	p We have a transaction dataset, \(D\).
	p This includes transactions of items in \(I\).
	p Any subset of \(I\) is an itemset.
	p A subset of size \(k\) is a \(k\)-itemset.
	p Transactions are a \(k\)-itemset with a unique id, tid.
	p The set of all transactions is \(T\).
	p A tidset is a subset of \(T\).
	h3
		b Forming a lattice
	p We have a total order on the items.
	p An itemset \(ab\) is greater than \(a\), for examplle.
	p The two points of the lattice are the nullset, and \(I\).
	h3
		b Mappings
	p We have a mapping from \(I\) to \(T\) called \(t\).
	p We have another mapping from \(T\) to \(I\) called \(i\).
	h3
		b Frequency
	p We define the frequency of an itemset as the number of transactions it appears in.
	p We can write the frequency of \(A\) as \(\sum A\).

