extends ./subSubTemplate.jade
block subSubTitle
	h1
		b K-means clustering
block subSubContent
	h3
		b Introduction
	p K-means clustering is the most widely used unsupervised model.
	h3
		b Choosing k
	p cost function for each K. Is there a kink?
	p If the points in each cluster follow a normal distribution, that's a good sign. This can be tested with Anderson-Darling.
	p If it's not normal, we can split the cluster into 2.

	p can do it under different initialisations in order to minimise risk of bad local optima


	p We can choose \(k\) if output is being used in later data analysis (eg type assignment, complaint level or something)

	h3
		b First round
	p The model creates \(k\) cluster centroids randomly in the data.

	p We then assign each data point to one of the clusters, by assessing the distance between the two points. We use the Euclidian distance.
	h3
		b Updating the means
	p After this has been done for all data points, we move each centroid to the center of the data in each cluster.
	h3
		b Iteration
	p We then iterate the process.
	h3
		b Potential issues
	p It is possibile for a centroid to have no data assigned to it. If this happens we can eliminate the cluster, or reassign some data pointss.
	h3
		b Evaluating the model
	p We can evaluate by looking at the distance within a cluster, and distance between clusters.
	p The Davies-Bouldin index does this.
	
