extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Strong rules
block subSubContent
	h3
		b Strong rules
	p We use frequent patterns to generate strong rules, \(R\).
	p An example of a strong rule is \(a\rightarrow b\).
	p We can look at this by comparing the support of \(a\) to \(a\land b\).

	p \(supp(A\rightarrow B)=P(A\land B)\)
	p \(conf(A\rightarrow B)=P(B|A)\)
	p \(conf(A\rightarrow B)=\frac{P(A\land B)}{P(A)}\)

