extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Support
block subSubContent
	h3
		b Support
	p We define the support of an itemset as the proportion of transactions which contain the itemset.
	p \(supp(A)=\fracP\sum A }{n}\).
	p We can also consider this as:
	p \(supp(A)=P(A)\)
	

