extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Division

block subSubContent
	p We have inverse functions for multiplication. This is division.
	p These will not necessarily have solutions for natural numbers or integers. 
	h3
		b Division
	p $$a.b=c\rightarrow b=\frac{c}{a}$$
	

	h3
		b Properties of division
	p
		b Commutative
	p Division is not commutative:
	p $$\frac{x}{y}\ne \frac{y}{x}$$
	p
		b Associative
	p Division is not associative:
	p $$\frac{x}{\frac{y}{z}}\ne \frac{\frac{x}{y}}{z}$$
	p
		b Distributive
	p Division is not left distributive over subtraction:
	p $$\frac{a}{b-c} \ne \frac{a}{b} -\frac{a}{c}$$
	br
	p Division is right distributive over subtraction:
	p $$\frac{a-b}{c} =\frac{a}{b} -\frac{b}{c}$$
	
