extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Division

block subSubContent
	h3
		b Introduction
	p We have inverse functions for multiplication. This is division.
	p These will not necessarily have solutions for natural numbers or integers. 
	h3
		b Division of natural numbers
	p $$a.b=c\rightarrow b=\frac{c}{a}$$
	
	h3
		b Division is not commutative
	p Division is not commutative:
	p $$\frac{x}{y}\ne \frac{y}{x}$$
	h3
		b Division is not associative
	p $$\frac{x}{\frac{y}{z}}\ne \frac{\frac{x}{y}}{z}$$
	h3
		b Division is not left distributive
	p Division is not left distributive over subtraction:
	p $$\frac{a}{b-c} \ne \frac{a}{b} -\frac{a}{c}$$
	h3
		b Division is right distributive
	p Division is right distributive over subtraction:
	p $$\frac{a-b}{c} =\frac{a}{b} -\frac{b}{c}$$
	

	h3
		b Division of integers
	p 
