extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Properties of arithmetic functions
	h3
		b Properties of addition and multiplication
	p
		b Commutative
	p Addition is commutative:
	p $$x+y=y+x$$
	br
	p Multiplication is commutative:
	p $$xy=yx$$
	p
		b Associative
	p Addition is associative:
	p $$x+(y+z)=(x+y)+z$$
	br
	p Multiplication is associative:
	p $$x(yz)=(xy)z$$
	p
		b Distributive
	p Multiplication is distributive over addition:
	p $$a(b+c)=ab+ac$$
	p $$(a+b)c=ac+bc$$
	h3
		b Properties of subtraction and division
	p
		b Commutative
	p Subtraction is not commutative:
	p $$x-y\ne y-x$$
	br
	p Division is not commutative:
	p $$\frac{x}{y}\ne \frac{y}{x}$$
	p
		b Associative
	p Subtraction is not associative:
	p $$x-(y-z)\ne (x-y)-z$$
	br
	p Division is not associative:
	p $$\frac{x}{\frac{y}{z}}\ne \frac{\frac{x}{y}}{z}$$
	p
		b Distributive
	p Division is not left distributive over subtraction:
	p $$\frac{a}{b-c} \ne \frac{a}{b} -\frac{a}{c}$$
	br
	p Division is right distributive over subtraction:
	p $$\frac{a-b}{c} =\frac{a}{b} -\frac{b}{c}$$
	