extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Summation and products
	h3
		b Summation
	p Because addition is commutative, we can add numbers in any order. As a result we can define a function on a set which adds all numbers in this set.
	p This is the summation function. The example below adds all numbers in set \(A\).
	p $$s=\sum_{a\in A}a$$

	p For example with the set:
	p $$A=[4,2,5,6]$$
	
	p $$\sum_{a\in A}a=4+6+2+5$$
	p
		b Summation of constants
	p If all members of the set are the same [IS THIS POSSIBLE WITH CURRENT DEFINITION OF A SET?] then the summation is of the form:
	p $$\sum_{a\in A}a=c+c+...+c$$
	p If \(c\) is not \(0\) (in which case the sum is \(0\), then:
	p $$\sum_{a\in A}a=c[1+1+...+1]$$
	p $$\sum_{a\in A}a=c|A|$$
	p Where \(|A|\) is the cardinality of set \(A\).
	p
		b Multiplication of constants
	p If all members of the set are multiplied by a constant, so is the summation.
	p We can take constants out of the series:
	p $$\sum_{a\in A}ca=c\sum_{a\in A}a$$
	p
		b Elements with addition
	p $$\sum_{a\in A}a+\sum_{b\in B}b=(a_1+a_2+...+a_n)+(b_1+b_2+...+b_n)$$
	p If the sets are the same size we can pair these off:
	p $$\sum_{a\in A}a+\sum_{b\in B}b=(a_1+b_1)+(a_2+b_2)+...+(a_n+b_n)$$
	p So:
	p $$\sum_{a\in A}a+\sum_{b\in B}b=\sum_{c\in C}c$$
	p Where \(C=[a_1+b_1,a_2+b_2,...,a_n+b_n]\)
	p If one set, say \(B\), contains repeated values, then:
	p $$\sum_{a\in A}a+\sum_{b\in B}b=(a_1+c)+(a_2+c)+...+(a_n+c)$$
	p $$\sum_{a\in A}a+\sum_{b\in B}b=|B|c+a_1+a_2+...+a_n$$
	p $$\sum_{a\in A}a+\sum_{b\in B}b=|B|c+\sum_{a\in A}a$$
	h3
		b Products
	p A product is a repeated multiplication across a set of numbers.
	p That is, given a set:
	p $$A=[a_1,a_2,,...,a_n]$$
	
	p $$\prod_{a\in A}a=a_1a_2...a_n$$
	