extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Prime numbers

	h3
		b Divisors
	p
		b Definition
	p A divisor of a natural number is a natural number such that the division is defined between the natural number and the divisor.
	p
		b Universal divisors
	p For any number \(n \in \mathbb{N}^+\):
	p $$\frac{n}{n}=1$$
	p $$\frac{n}{1}=n$$
	p Both \(1\) and \(n\) are divisors.
	p
		b Additional divisors
	p If there is another number \(p\ne n\in \mathbb{N} \) such that:
	p $$\frac{n}{p}=q$$
	p Where \(p\in \mathbb{N}\), then \(p\) is another divisor of \(n\). There can be many such values of \(p\).
	p Divisors must be smaller than the number.
	p
		b Examples
	p For example for \(18\) we have:
	p $$[1,2,3,6,9,19]$$
	br
	p For \(24\), the divisors are:
	p $$[1,2,3,4,6,8,12,24]$$
	h3
		b Prime numbers
	p
		b Definition
	p A prime number is a number which does not have any divisors other than \(1\) and itself.
	p By convention we do not refer to \(0\) or \(1\) as prime numbers.
	p
		b Identifying prime numbers
	p Divisors must be smaller than the number. As a result it is easy to identify early prime numbers, as we can try to divide by all preceding numbers.
	p
		b Examples:
	p $$[2, 3 5, 7, 11, 13,...]$$