extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Common multiples and denominators
	h3
		b Multiples
	p
		b Definition
	p The multiple of a number is it added to itself iteratively.
	p
		b Examples
	p The multiples of \(18\) for example are:
	p $$[18,36,54,72,90,...]$$
	p And for \(24\):
	p $$[24,48,72,96,120,...]$$
	h3
		b Common divisors
	p Note that there are tricks for calculating these more simply. These methods require the fundamental theorem of arithmetic.
	p
		b Greatest common divisor
	p The greatest common divisor of \(2\) numbers is as the name suggests.
	p So \(GCD(18,24)=6\)
	p
	h3
		b Common multiples
	p
		b Lowest common multiple
	p The lowest common multiple of \(2\) numbers is again as the name suggests.
	p So \(LCM(18,24)=72\).


	
