extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Addition of natural numbers

block subSubContent
	h3
		b Definition
	p Let’s add another function: addition. Defined by:
	p $$\forall a \in \mathbb{N} (a+0=a)$$
	p $$\forall a b \in \mathbb{N} (a+s(b)=s(a+b))$$
	p That is, adding zero to a number doesn’t change it, and \((a+b)+1=a+(b+1)\).
	h3
		b Example
	p Let’s use this to solve \(1+2\):
	p $$1+2=1+s(1)$$
	p $$1+s(1)=s(1+1)$$
	p $$s(1+1)=s(1+s(0))$$
	p $$s(1+s(0))=s(s(1+0))$$
	p $$s(s(1+0))=s(s(1))$$
	p $$s(s(1))=s(2)$$
	p $$s(2)=3$$
	p $$1+2=3$$
	p All addition can be done iteratively like this.

	h3
		b Commutative property of addition
	p Addition is commutative:
	p $$x+y=y+x$$
	h3
		b Associative property of addition
	p Addition is associative:
	p $$x+(y+z)=(x+y)+z$$

