extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Brackets

block subSubContent
	h3
		b Commutative property of multiplication
	p Multiplication is commutative:
	p $$xy=yx$$
	h3
		b Associative property of multiplication
	p Multiplication is associative:
	p $$x(yz)=(xy)z$$
	h3
		b Distributive property of multiplication
	p Multiplication is distributive over addition:
	p $$a(b+c)=ab+ac$$
	p $$(a+b)c=ac+bc$$



	h3
		b Commutative property of addition
	p Addition is commutative:
	p $$x+y=y+x$$
	h3
		b Associative property of addition
	p Addition is associative:
	p $$x+(y+z)=(x+y)+z$$

