extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cardinality
block subSubContent
	h3
		b Cardinality of cartesian product
	p What about the cardinality of Cartesian products? So if we have sets:
	p $$\{1,2,3\}$$
	p $$\{a,b\}$$
	p We can have the Cartesian product set:
	p $$\{(1,a),(2,a),(3,a),(1,b),(2,b),(3,b)\}$$
	p We can see that:
	p $$|A.B|=|A|.|B|$$

	h3
		b Cardinality of union and intersection
	p $$|A\lor B| = |A|+|B|-|A\land B|$$
	h3
		b Cardinality of powerset
	p $$|P(s)|=2^{|s|}$$
	h3
		b Cardinality of complement
	p $$|a \setminus b|=|a|-|a\land b|$$
	h3
		b Cardinality of even/odd natural numbers
	p What about the cardinality of even numbers? Well, we can define a bijective function between each:
	p $$f(n)=2n$$
	p Similarly for odd numbers:
	p $$f(n)=2n+1$$
	p So these both have cardinality \(\aleph_0\).
