extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Integers

block subSubContent
	h3
		b Defining integers
	p To extend the number line to negative numbers, we define:
	p $$\forall ab \in \mathbb{N} \exists c (a+c=b)$$
	p For any pair of numbers there exists a terms which can be added to one to get the other.
	p For \(1+x=3\) this is another natural number, however for \(3+x=1\) there is no such number.
	p Integers are defined as the solutions for any pair of natural numbers.

	p There are an infinite number of ways to write any integer. \(-1\) can be written as \(0-1\), \(1-2\) etc.
	p The class of these terms form an equivalence class.
	p
		b Integers as ordered pairs
	p Integers can be defined as an ordered pair of natural numbers, where the integer is valued at: \(a-b\).
	p For example \(-1\) could be shown as:
	p $$-1= \{ \{ 0 \},\{0,1\}\}$$
	p $$-1= \{ \{ 5 \},\{5,6\}\}$$

	p $$(a,b)=a-b$$
	p
		b Converting natural numbers to integers
	p Natural numbers can be shown as integers by using:
	p $$(n,0)$$
	p Natural numbers can be converted to integers:
	p $$\{\{a\},\{a,0\}\}$$
	h3
		b Cardinality of integers

