extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Functions of integers

block subSubContent
	h3
		b Addition
	p Then we can define addition as:
	p $$(a,b)+(c,d)=(a+c,b+d)$$
	p Integer addition can then be defined:
	p $$a+b=\{\{a_1\},\{a_1,a_2\}\}+\{\{b_1\},\{b_1,b_2\}\}$$
	p $$a+b=\{\{a_1+b_1\},\{a_1+b_1,a_2+b_2\}\}$$
	p Or:
	p $$a+b=c$$
	p $$c_1=a_1+b_1$$
	p $$c_2=a_2+b_2$$
	h3
		b Multiplication
	p Similarly, multiplication can be defined as:
	p $$(a,b).(c,d)=(ac+bd, ad+bc)$$
	p $$ab=c$$
	p $$c_1=a_1b_1+a_2b_2$$
	p $$c_2=a_2b_1+a_1b_2$$

	h3
		b Subtraction
	p $$a-b=c$$
	p $$c_1=a_1+b_2$$
	p $$c_2=a_2+b_1$$

