extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Multiplication

block subSubContent
	h3
		b Definition
	p Multiplication can be defined by:
	p $$\forall a \in \mathbb{N} (a.0=0)$$
	p $$\forall a b \in \mathbb{N} (a.s(b)=a.b+a)$$
	p That is, anything multiplied by \(0\) is \(0\), \(a.(b+1)=a.b+a\).
	h3
		b Example
	p Let’s calculate \(2.2\).
	p $$2.2=2.s(1)$$
	p $$2.s(1)=2.1+2$$
	p $$2.1+2=2.s(0)+2$$
	p $$2.s(0)+2=2.0+2+2$$
	p $$2.0+2+2=2+2$$
	p $$2+2=4$$
