extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Rational numbers

block subSubContent
	h3
		b Defining rational numbers
	p We previously defined integers in terms of natural numbers. Similarly we can define rational numbers in terms of integers.
	p $$\forall ab \in \mathbb{I} (¬(b=0)\rightarrow \exists c (b.c=a))$$
	p A rational is an ordered pair of integers.
	p $$\{\{a\},\{a,b\}\}$$
	p So that:
	p $$\{\{a\},\{a,b\}\}=\frac{a}{b}$$
	h3
		b Converting integers to rational numbers
	p Integers can be shown as rational numbers using:
	p $$(i,1)$$
	p Integers can then be turned into rational numbers:
	p $$\mathbb{Q}=\frac{a}{1}$$
	p $$a=\frac{a_1}{a_2}$$
	p $$b=\frac{b_1}{b_2}$$
	p $$c=\frac{c_1}{c_2}$$

	h3
		b Equivalence classes of rationals
	p There are an infinite number of ways to write any rational number, as with integers. \(\frac{1}{2}\) can be written as \(\frac{1}{2}\), \(\frac{-2}{-4}\) etc.
	p The class of these terms form an equivalence class.
	p We can show these are equal:
	p $$\frac{a}{b}=\{\{a\},\{a,b\}\}$$
	p $$\frac{ca}{cb}=\{\{a\},\{a,b\}\}$$
	p $$\frac{ca}{cb}=\{\{ca\},\{ca,cb\}\}$$
	p $$\{\{a\},\{a,b\}\}=\{\{ca\},\{ca,cb\}\}$$

