extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Density of the rationals

block subSubContent
	h3
		b Rationals are dense in rationals
	p For any pair of rationals, there is another rational between them:
	p $$a=\frac{p}{q}$$
	p $$b=\frac{m}{n}$$
	p Where \(b>a\).
	p We define a new rational:
	p $$c=\frac{a+b}{2}$$
	p $$c=\frac{pn+qm}{2qn}$$
	p This is a rational number.
	p We can write:
	p $$a=\frac{2pn}{2qn}$$
	p $$b=\frac{2qm}{2qn}$$
	p As \(b>a\) we know \(2qm>2pn\)
	p So: \(a < c < b\)
