extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cardinality of the rationals

block subSubContent
	h3
		b Cardinality of rational numbers
	p We can see rational numbers as cartesian products of integers. That is:
	p $$\mathbb{Q}=Z.Z$$
	p We can order the rational numbers like so:
	p $$\{\frac{1}{1},\frac{2}{1},\frac{1}{2},\frac{1}{3},\frac{2}{2}\frac{3}{1}…\}$$
	p These can be mapped from natural numbers, so there is a bijunctive function.
	p So:
	p \(|\mathbb{Q} |=|\mathbb{Z}.\mathbb{Z} |=|\mathbb{N} |=\aleph_0\)
	p As: \(|\mathbb{Z}.\mathbb{Z} |=|\mathbb{Z}|^2\)
	p $$|\mathbb{N}|^n=\mathbb{N}$$

