extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Functions of rational numbers

block subSubContent
	h3
		b Rational addition
	p Then we can define addition as:
	p $$(a,b)+(c,d)=(a.d+b.c,b.d)$$
	p $$a+b=c$$
	p $$c_1=a_1b_2+a_2b_1$$
	p $$c_1=a_2b_2$$
	h3
		b Rational subtraction
	p $$a-b=c$$
	p $$c_1=a_1b_2-a_2b_1$$
	p $$c_1=a_2b_2$$
	h3
		b Rational multiplication
	p Similarly, multiplication can be defined as:
	p $$(a,b).(c,d)=(a.c, b.d)$$
	p $$ab=c$$
	p $$c_1=a_1b_1$$
	p $$c_1=a_2b_2$$
	h3
		b Rational division
	p $$\frac{a}{b}=c$$
	p $$c_1=a_1b_2$$
	p $$c_1=a_2b_1$$

