extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Subtraction of natural numbers

block subSubContent
	p We have inverse functions for addition. This is subtraction.
	p For function \(\oplus\), its inverse is \(\oplus' \), as defined below:
	p $$a\oplus b=c$$
	p $$b=c\oplus 'a$$
	p $$f(a,b)=c\rightarrow f^{-1}(c,b)=a$$

	p These will not necessarily have solutions for some sets of numbers. 
	h3
		b Subtraction
	p $$a+b=c\rightarrow b=c-a$$
	p There is no natural number \(b\) that satisfies:
	p $$3+b=2$$
	p While addition and multiplication are defined across all natural numbers, subtraction is not.
	h3
		b Properties of subtraction
	p
		b Commutative
	p Subtraction is not commutative:
	p $$x-y\ne y-x$$
	p
		b Associative
	p Subtraction is not associative:
	p $$x-(y-z)\ne (x-y)-z$$
