extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Backpropagation Through Time (BPTT)
block subSubContent
	h3
		b Introduction
	p We can do backpropagation on the unrolled network, backpropagating over time.
