extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Long Short-Term Mmemory (LSTM)
block subSubContent
	h3
		b Introduction
	p These are a more complex RNN architecture.

	h3
		b Cell state

	p Each cell has as an as input the cell state from the previous cell \(C_{t-1}\)

	p The LSTM cell updates the cell state to \(C_{t}\) and pushes it to the next cell.

	h3
		b Other inputs to the cell

	p We have \(x_t\), the input of the cell, and \(h_{t-1}\), the output of the previous cell.
	h3
		b Cell output and the output gate
	p We run an activation function on the cell state \(C_t\) to get a candidate output.
	p We multiply this by the outcome of the output gate to get the actual result.
	h3
		b The input gate
	p We create a candidate change to the state.
	p We multiply this by the input gate value, and add it to the state.
	h3
		b The forget gate
	p This is a multiplication factor. What % of the state should be removed?

