extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Simple Recurrent Neural Networks (RNNs)
block subSubContent
	h3
		b Introduction
	p Recurrent Neural Networks (RNN) are an alternative to feedforward networks.

	p These have loops.

	h3
		b Motivation

	p We have inputs which are not independent. For example speech input, where each input is a the recording for a length of time.

	h3
		b Unrolling RNNs

	p The activation unit takes the input, and an outcome from the previous activation unit. It then performs its activation function.

	p This allows information to be kept across time.

	p However this degrades, and relevant information was from much earlier, it will be lost.
