extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Arithmetic Logic Units (ALUs)
block subSubContent
	h3
		b Half adder
	p We first introduce the half adder
	p Take two inputs \(A\) and \(B\) and put both inputs to two binary operators.
	p The operators are an XOR gate and an AND gate.
	p The AND gate only returns \(1\) if both inputs are \(1\). The XOR gate returns \(1\) if only one input is \(1\).
	p The XOR gate returns the second “digit” while the AND date returns the first.
	h3
		b Full adder
	p This can be used to add \(0\) and \(1\), but not larger numbers. To do this we introduce the full adder. This adds two numbers, as before, and allows any remainder from the previous addition to be carried forward.
	p Full adders can be stringed together to add larger numbers.	
	h3
		b Subtraction
	p Subtraction works similarly to addition. The equivalent “half adder” returns different values, and the carry forward is not used for addition, but for subtraction.

