extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Representing integers
block subSubContent
	p We can expand the natural numbers to the integers.
	p Consider a byte representing the natural numbers. Previously this would have gone from \(0\) to \(255\), with a series of all \(1\)s representing \(255\).
	p To introduce integers all numbers with a \(1\) in the leftmost bit are considered to be negative.

	h3
		b Two's complement
	p We represent the value of these negative numbers with two’s complement. With two’s complement the number “after” \(127\) is \(-128\). Note that this does not just use the first bit as a sign. The use of two’s complement allows us to use the arithmetical logical units for the integers.

