extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Represetning natural numbers
block subSubContent
	p We will use a byte to describe natural numbers. This gives us a range of \(2^8=256\). As we include \(0\) the largest number here is \(255\).
	h3
		b Zero
	p We describe zero using all \(0\)s.
	p \(0=00000000\)
	h3
		b Natural numbers
	p We show other natural numbers by iterating through the possible bits. To increase by one we take the last bit and use the NOT operator on it. If this bit is \(1\) we are done.
	p If this bit is now \(0\) we move to the next bit and flip that. We then repeat the check and repeat until we either run out of bits, or flip a bit to \(1\).

