extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Overflow and underflow
block subSubContent
	h3
		b Introduction
	p The need to approximate real operations with pseudo real numbers. If we round small values to 0, then ln 0, x/0 break. This is underflow
	h3
		b Overflow
	p 
	h3
		b Underflow
	p 
