extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Prime numbers and composite numbers

block subSubContent
	h3
		b Definition
	p A prime number is a number which does not have any divisors other than \(1\) and itself.
	p By convention we do not refer to \(0\) or \(1\) as prime numbers.
	h3
		b Identifying prime numbers
	p Divisors must be smaller than the number. As a result it is easy to identify early prime numbers, as we can try to divide by all preceding numbers.
	h3
		b Examples of prime numbers
	p $$[2, 3 5, 7, 11, 13,...]$$
	h3
		b Composite numbers
	p Composite numbers are numbers that are  made up through the multiplication of other numbers.
	p They are not prime.
