extends ./subSubTemplate.jade
block subSubTitle
	h2
		b Fundamental Theorem of Arithmetic

block subSubContent
	h3
		b Statement
	p Each natural number is a prime or unique product of primes.
	h3
		b Proof: existance of each number as a product of primes
	p If \(n\) is prime, no more is needed.
	p If \(n\) is not prime, then \(n=ab\), \(a,b\in \mathbb{N} \).
	p If \(a\) and \(b\) are prime, this is complete. Otherwise we can iterate to find:
	p $$n=\prod_{i=1} p_i$$
	
	h3
		b Proof: this product of primes is unique
	p Consider two different series of primes for the same number:
	p $$s=\prod_{i=1}^n p_i = \prod_{i=1}^m q_i$$
	p We need to show that \(n=m\) and \({p}={q}\).
	p We know that \(p_i\) divides \(s\). We also know that through Euclid's lemma that if a prime number divides a non-prime number, then it must also divide one of its components. As a result \(p_i\) must divide one of \({q}\).
	p But as all of \({q}\) are prime then \(p_i\)=\(q_j\).
	p We can repeat this process to to show that \({p}={q}\) and therefore \(n=m\).

