extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Congruence

block subSubContent
	h3
		b Introduction
	p \(5\) and \(11\) are congrument \(\mod 3\)
	p If \(a \mod(n)=b mod(n)\) then \(a\) and \(b\) are congruent mod \(n\).
