extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Divisors and Greatest Common Divisors (GCD)

block subSubContent
	h3
		b Divisors
	p The divisors \(d\) of a natural number \(n\) are the natural numbers such that \(\frac{n}{d}\in \mathbb{N}\).
	p For example, for \(6\) the divisors are \(1, 2, 3, 6\).
	p Divisors cannot be bigger than the number they are dividing.
	h3
		b Universal divisors
	p For any number \(n \in \mathbb{N}^+\):
	p $$\frac{n}{n}=1$$
	p $$\frac{n}{1}=n$$
	p Both \(1\) and \(n\) are divisors.
	h3
		b Common divisors
	p A common divisor is a number which is a divisor to two supplied numbers.

	h3
		b Greatest common divisor
	p The greatest common divisor of \(2\) numbers is as the name suggests.
	p So \(GCD(18,24)=6\)

