extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Greatest common divisor

block subSubContent
	h3
		b Common divisors
	p Note that there are tricks for calculating these more simply. These methods require the fundamental theorem of arithmetic.
	p
		b Greatest common divisor
	p The greatest common divisor of \(2\) numbers is as the name suggests.
	p So \(GCD(18,24)=6\)
	p
