extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Lowest common multiple (LCM)

block subSubContent
	h3
		b Common multiples
	h3
		b Lowest common multiple
	p The lowest common multiple of \(2\) numbers is again as the name suggests.
	p So \(LCM(18,24)=72\).


	
