extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Multiples and Lowest Common Multiples (LCM)

block subSubContent
	h3
		b Multiples
	p The multiple of a number is it added to itself iteratively.
	p The multiples of \(18\) for example are:
	p $$[18,36,54,72,90,...]$$
	p And for \(24\):
	p $$[24,48,72,96,120,...]$$
	h3
		b Common multiples
	h3
		b Lowest common multiple
	p The lowest common multiple of \(2\) numbers is again as the name suggests.
	p So \(LCM(18,24)=72\).
	
