extends ./subSubTemplate.jade
block subSubTitle
	h2
		b Euclid's lemma

block subSubContent
	h3
		b Statement
	p If a prime number \(p\) divides product \(a.b\) then \(p\) must divide at least of one of \(a\) or \(b\).
	h3
		b Proof
	p From Bezout's identity we know that:
	p $$d=px+by$$
	p Where \(p\) and \(b\) are natural numbers and \(d\) is their greatest common denominator.
	p Let's choose a prime number for \(p\). There are no common divisors, other than one. As a result there are exist values for \(x\) and \(y\) such that:
	p $$1=px+by$$
	p Now, we are trying to prove that if \(p\) divides \(a.b\) then \(p\) must divide at least one of \(a\) and \(b\), so let's multiply this by \(a\).
	p $$a=pax+aby$$
	p We know that \(p\) divides \(pax\), and \(p\) divides \(ab\) by definition. As a result \(p\) can divide \(a\).
