extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Remainders

block subSubContent
	h3
		b Remainders
	p Division is defined between natural numbers. However there are many cases where this division does not map to a natural number. For example:
	p $$\frac{7}{3}$$ 
	p We can divide \(6\) of the \(7\) by \(3\), giving \(2\) with \(1\) remaining.
	p Alternatively we can divide \(3\) of the \(7\) by \(3\), giving \(1\) with \(4\) remaining
	p Or we could divide \(0\) of the \(7\) by \(3\) giving \(0\) with \(7\) remaining.
	p The remainder refers to the lowest possible number - in this case \(1\).
