extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Residue systems

block subSubContent
	h3
		b Least residue system modulo \(n\)
	p This is the set of numbers from \(0\) to \(n-1\).
	h3
		b Complete residue system
	p This a set of numbers none of which are congruent \(\mod n\). That is, for no pair \(\{a,b\}\) does \(a \mod(n)=b mod(n)\)
	h3
		b Reduced residue system
	p This is a complete residue system where all numbers are relatively prime to \(n\).

