extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Euler's totient function

block subSubContent
	h3
		b Introduction
	p This functions counst numbers up to \(n\) which are relatively prime
	p eg for 10 we have 1, 3, 7, 9
	p so \(\phi (10)=4\)
