extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Knowledge bases as graphs
block subSubContent
	h3
		b Introduction
	p We can consider each fact to be a mini graph.

	p For "Joe Blogs was born in the city London" we have:
	ul
		li Joe Blogs \(\rightarrow^{was born in the city }\) London
