extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Prior and posterior confidence
block subSubContent
	h3
		b Introduction
	p If we have a new fact, and a prior, we can create a posterior condfidence on the fact.
