extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Resource Description Framework (RDF)
block subSubContent
	h3
		b Introduction
	p How can we store information like "Joe Blogs was born in the city London"?

	p Information is described as an RDF triple:
	ul
		li Subject
		li Predicate
		li Object
	h3
		b Examples
	p "Joe Blogs was born in the city London" can be written as:
	p (Joe Blogs, BornCity, London)
	h3
		b Confidence
	p We can associate a confidence with each triple.

