extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Relational learning
block subSubContent
	h3
		b Introduction
	p Consider two facts:

	ul
		li Alice \(\rightarrow^{IsA }\) Doctor
		li Bob \(\rightarrow^{HasMother }\) Alice
	p We can consider another fact:
	ul
		li Bob \(\rightarrow^{IsA }\) Doctor
	h3
		b Confidence of inferred facts
	p How confident should we be of this?
	p In practice the graph between Bob and Doctor will have many paths (qualifications)

