extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Matrix representation

block subSubContent
	h3
		b Matrix
	p We previously discsussed morphisms on vector spaces. We can write these as matrices.
	p Matrices represents transformations of vector spaces
	h3
		b Why are operations on vector spaces linear?
	p Why can't you have non-linear functions on vector spaces?
	p Because they would not preserve the underlying structure of a vector space.

	p A matrix is a collection of numbers. For example:
	p $$A=\begin{bmatrix}a_{11} & a_{12}&...&a_{1n}\\a_{21} & a_{22}&...&a_{2n}\\...&...&...&...\\a_{m1}&a_{m2}&...&a_{mn}\end{bmatrix}$$
	p Matricies can include elements from domains such as complex numbers and real numbers.


	p $$M=\{1,…,m\}$$
	p $$N=\{1,…,n\}$$
	p $$f:MxN\rightarrow F$$
	h3
		b Representing vectors
	p We can represent vectors as row or column matrices.
	p $$v=\begin{bmatrix}a_{1} & a_{2}&...&a_{n}\end{bmatrix}$$
	p $$v=\begin{bmatrix}a_{1}\\a_{2}\\...\\a_{m}\end{bmatrix}$$
	h3
		b Matrix addition
	p \(2\) matricies of the same size, that is with idental dimensions, can be added together.
	p If we have \(2\) matrices \(A^{mn}\) and \(B^{mn}\)
	p $$C=A+B$$
	p $$c_{ij}=a_{ij}+b_{ij}$$
	p An empty matrix with \(0\)s of the same size as the other matrix is the identity matrix for addition.
	h3
		b Scalar multiplication
	p A matrix can be multiplied by a scalar. Every element in the matrix is multiplied by this.
	p $$B=cA$$
	p $$b_{ij}=ca_{ij}$$
	p The scalar \(1\) is the identity scalar.

