extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Matrices

block subSubContent
	h3
		b Matrix
	p We previously discsussed morphisms on vector spaces. We can write these as matrices.
	p Matrices represents transformations of vector spaces
	h3
		b Why are operations on vector spaces linear?
	p Why can't you have non-linear functions on vector spaces?
	p Because they would not preserve the underlying structure of a vector space.

	p A matrix is a collection of numbers. For example:
	p $$A=\begin{bmatrix}a_{11} & a_{12}&...&a_{1n}\\a_{21} & a_{22}&...&a_{2n}\\...&...&...&...\\a_{m1}&a_{m2}&...&a_{mn}\end{bmatrix}$$
	p Matricies can include elements from domains such as complex numbers and real numbers.


	p $$M=\{1,…,m\}$$
	p $$N=\{1,…,n\}$$
	p $$f:MxN\rightarrow F$$

