extends ./subSubTemplate.jade

block subSubContent
	h2
		b Matrices
	p A matrix is a collection of numbers. For example:
	p $$A=\begin{bmatrix}a_{11} & a_{12}&...&a_{1n}\\a_{21} & a_{22}&...&a_{2n}\\...&...&...&...\\a_{m1}&a_{m2}&...&a_{mn}\end{bmatrix}$$
	p Matricies can include elements from domains such as complex numbers and real numbers.


	o $$M=\{1,…,m\}$$
	p $$N=\{1,…,n\}$$
	p $$f:MxN\rightarrow F$$


	h3
		b Vector
	p A vector is a matrix where one of the dimensions is equal to \(1\). For example
	p $$V=\begin{bmatrix}a_{11} & a_{12}&...&a_{1n}\end{bmatrix}$$
	p Or
	p $$V=\begin{bmatrix}a_{11}\\a_{21}\\...\\a_{m1}\end{bmatrix}$$

	h3
		b Scalar
	p A scalar is a non-matrix number, such as a real or complex number.
	p A matrix may have the has dimensions of a scalar, \(M^{11}\), but this is not a scalar and obeys different rules.
	p For example:
	p $$c=a$$
	p $$c\ne \begin{bmatrix}a_{11}\end{bmatrix}$$

	h3
		b Types of matrix
	p There are more types than these. These are ones which can be identified simply by observation, rather than through their properties.
	p
		b Empty matrix
	p A matrix where every element is \(0\). There is one for each dimension of matrix.
	p $$A=\begin{bmatrix}0& 0&...&0\\0 & 0&...&0\\...&...&...&...\\0&0&...&0\end{bmatrix}$$
	h3
		b Square matrices
	p
		b Square matrix
	p A matrix where the dimensions are equal.
	p $$m=n$$
	p
		b Identity matrix
	p A square matrix where every element is \(0\) except where \(i=j\). There is one for each square matrix.
	p $$I=\begin{bmatrix}1& 0&...&0\\0 & 1&...&0\\...&...&...&...\\0&0&...&1\end{bmatrix}$$
	p
		b Triangular matrix
	p A matrix where \(a_{ij}=0\) where \(i < j\) is upper triangular.
	p A matrix where \(a_{ij}=0\) where \(i > j\) is lower triangular.
	p A matrix which is either upper or lower triangular is a triangular matrix.

	h3
		b Symmetric matrices
	p All symmetric matrices are square.
	p The identity matrix is an example.
	p
		b Symmetric matrices
	p A matrix where \(a_{ij}=a_{ji}\) is symmetric.
	
	p
		b Hermitian matrix
	p A matrix where \(a_{ij}=\bar a_{ji}\) is Hermitian.
	p Where \(\bar a_{ji}\) is the complex conjugate of \(a_{ji}\).
	p All Hermitian matrices are symmetric.
	p The identity matrix is an example.
	p
		b Diagonal matrix
	p A matrix where \(a_ij=0\) where \(i\ne j\) is diagonal.
	p All diagonal matrices are symmetric.
	p The identity matrix is an example.
	
