extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Matrix representation

block subSubContent
	h3
		b Representing linear maps as matrices
	p We previously discsussed morphisms on vector spaces. We can write these as matrices.
	p Matrices represents transformations of vector spaces
	h3
		b Representing vectors as matrices
	p We can represent vectors as row or column matrices.
	p $$v=\begin{bmatrix}a_{1} & a_{2}&...&a_{n}\end{bmatrix}$$
	p $$v=\begin{bmatrix}a_{1}\\a_{2}\\...\\a_{m}\end{bmatrix}$$
	
