extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Matrix multiplication

block subSubContent
	h3
		b Matrix multiplication
	p $$A=A^{mn}$$
	p $$B=B^{no}$$
	p $$C=C^{mo}=A.B$$
	p $$c_{ij}=\sum_{r=1}^na_{ir}b_{rj}$$

	p Matrix multiplication depends on the order. Unlike for real numbers, $$AB\ne BA$$
	p Matrix multiplication is not defined unless the condition above on dimensions is met.
	p A matrix multiplied by the identity matrix returns the original matrix.
	p For matrix \(M=M^{mn}\)
	p $$M=MI^m=I^nM$$
	h3
		b Matrix ring
	p Addition, subtraction and multiplication are defined on endomorphism matrices, as a result they form a ring.
	p As we shall see, not all endomorphic matrices have inverses, and so they do not form a field.
	
