extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Matrix additon and multiplication

block subSubContent
	h3
		b Matrix multiplication
	p $$A=A^{mn}$$
	p $$B=B^{no}$$
	p $$C=C^{mo}=A.B$$
	p $$c_{ij}=\sum_{r=1}^na_{ir}b_{rj}$$

	p Matrix multiplication depends on the order. Unlike for real numbers, $$AB\ne BA$$
	p Matrix multiplication is not defined unless the condition above on dimensions is met.
	p A matrix multiplied by the identity matrix returns the original matrix.
	p For matrix \(M=M^{mn}\)
	p $$M=MI^m=I^nM$$
	h3
		b Matrix addition
	p \(2\) matricies of the same size, that is with idental dimensions, can be added together.
	p If we have \(2\) matrices \(A^{mn}\) and \(B^{mn}\)
	p $$C=A+B$$
	p $$c_{ij}=a_{ij}+b_{ij}$$
	p An empty matrix with \(0\)s of the same size as the other matrix is the identity matrix for addition.
	h3
		b Scalar multiplication
	p A matrix can be multiplied by a scalar. Every element in the matrix is multiplied by this.
	p $$B=cA$$
	p $$b_{ij}=ca_{ij}$$
	p The scalar \(1\) is the identity scalar.

