extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Gaussian elimination

block subSubContent
	h3
		b Simultaneous equations
	p Matricies can be used to solve simultaneous equations. Condsider the following set of equations.
	ul
		li $$2x+y-z=8$$
		li $$-3x-y+2z=-11$$
		li $$-2x+y+2z=-3$$
	p We can write this in matrix form.
	p $$Ax=y$$
	p $$A=\begin{bmatrix}2 & 1&-1\\-3 & -1&2\\-2&1&2\end{bmatrix}$$
	p $$x=\begin{bmatrix}x \\y \\z\end{bmatrix}$$
	p $$y=\begin{bmatrix}8 \\-11 \\-3\end{bmatrix}$$


	h3
		b Augmented matrix
	p Consider a form for summarising these equations. This is the augmented matrix.
	p $$(A|y)=\begin{bmatrix}2 & 1&-1&|&-8\\-3 & -1&2&|&-11\\-2&1&2&|&-3\end{bmatrix}$$
	p We can take this and recovery our original \(A\) and \(y\).
	p However we can also do things to this augmented matrix which preserve solutions to the set of equations. These are:
	p Undertaking combinations of these can make it easier to solve the equation. In particular, if we can arrive at the form:
	p $$(A|y)=\begin{bmatrix}1 & 0&0&|&a\\0 & 1&0&|&b\\0&0&1&|&c\end{bmatrix}$$
	p The solutions for \(x,y,z\) are \(a,b,c\).

	h3
		b Echeleon / triangular form
	p We first aim for:
	p $$(A|y)=\begin{bmatrix}a_{11} & a_{12}&a_{13}&|&a\\0 & a_{22}&a_{23}&|&b\\0&0&a_{33}&|&c\end{bmatrix}$$

	p If this cannot be reached there is no single solution. There may be infinite or no solutions.
	h3
		b Solving
	p Once we have the triangular form, we can easily solve.

	p $$(A|y)=\begin{bmatrix}a_{11} & a_{12}&a_{13}&|&a\\0 & a_{22}&a_{23}&|&b\\0&0&a_{33}&|&c\end{bmatrix}$$
	p $$(A|y)=\begin{bmatrix}1 & 0&0&|&a\\0 & 1&0&|&b\\0&0&1&|&c\end{bmatrix}$$
	p This process is back substitution (or forward substitution if the matrix is triangular the other way).


	h3
		b Matrix inversion
	p We can think of the inverse of a matrix as one which which takes a series of reverible operations and does these to a matrix then arriving at the identity matrix.
	p That is, only the three elementary row operations, and combinations of them, can transform a matrix in a way in which it can be reversed. As such All reversible matricies are combinations of the identity matrix and a series of elementary row operations. The inverse matrix is then those series of row operations, in reverse.
	p We can find identify an inversion by undertaking gaussian elimination. Each step done on the matrix is done to the identify matrix, reversing the process. The end result is the inverted matrix.

	p Instead of:
	p $$(A|y)=\begin{bmatrix}2 & 1&-1&|&-8\\-3 & -1&2&|&-11\\-2&1&2&|&-3\end{bmatrix}$$
	p Take:
	p $$(A|I)=\begin{bmatrix}2 & 1&-1&|&1&0&0\\-3 & -1&2&|&0&1&0\\-2&1&2&|&0&0&1\end{bmatrix}$$
	p When we solve this we get:
	p $$(I|A^{-1})=\begin{bmatrix}1 & 0&0&|&\frac{3}{4}&\frac{1}{2}&\frac{1}{4}\\0& 1&0&|&\frac{1}{2}&1&\frac{1}{2}\\0&0&1&|&\frac{1}{4}&\frac{1}{2}&\frac{3}{4}\end{bmatrix}$$

