extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Linear dependence
	
block subSubContent
	p Linear transformation
	p Idempotent matrix
	p An idempotent function is a function which if run on an input more than one time, returns the same result as the original operation.
	p An example is \(x*0\) or \(x*1\).
	p An example of an idempotent matrix is the identity matrix.

	h3
		b Rank
	p Rank
	p Full rank
	p Row rank
	p Column rank
		
	h3
		b Elementary row operations
	p Some operations to a matrix can be reversed to arrive at the original matrix. Trivially, multiplying by the identity matrix is reversible.
	p Similarly, some operations are not reversible. Such as multiplying by the empty matrix.
	p All matrix operations which can be reversed are combinations of \(3\) elementary row operations. These are:
	p
		b Swapping rows
	p $$T_{12}=\begin{bmatrix}0& 1&...&0\\1 & 0&...&0\\...&...&...&...\\0&0&...&1\end{bmatrix}$$
	p
		b Multiplying rows by a vector
	p $$D_2(m)=\begin{bmatrix}1& 0&...&0\\0 & m&...&0\\...&...&...&...\\0&0&...&1\end{bmatrix}$$
	p
		b Adding rows to other rows
	p $$L_{12}(m)=\begin{bmatrix}1& 0&...&0\\m & 1&...&0\\...&...&...&...\\0&0&...&1\end{bmatrix}$$
