extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Positive definite
	h3
		b Method
	p A square matrix \(A\)can be converted to a single number by multiplying before and after by vector \(v\).
	p $$v^TAv$$
	p If \(v\) is \(0\) then the value is \(0\). We explore the range of possibilities for all other real vectors.
	h3
		b Types of square matrix
	p If the value is always positive, the matrix is positive definite.
	p If the value is always negative, the matrix is negative definite.
	p If the value is always zero or positive, the matrix is positive semi-definite.
	p If the value is always zero or negative, the matrix is negative semi-definite.
	h3
		b Interpretation
	
