extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Spectral theorem

block subSubContent
	h3
		b Basis vectors from eigenvectors
	p We can use eigenvectors to form a basis.
	p \(v=\sum_{k=1}^n\alpha_k(\lambda_k) e_k\)
	h3
		b Wave function
	p For a Hermitian matrix, the eigenvalues are all real.
	p \(v=\int_{-\infty }^{\infty }\alpha(\lambda) |\lambda > d\lambda \)

