extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Changing the basis

block subSubContent
	h3
		b Introduction 
	p For any two bases, there is a unique linear mapping from of the element vectors to the other.
	p 
