extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Linear dependence

block subSubContent
	h3
		b Linear dependence
	p A collection of vectors in a vector space are linearly dependent if there exist values for \(\alpha \) (other than all being \(0\)) such that:
	p \(\sum_i \alpha_i v_i =0\).
	p If no such values for \(\alpha \) exist we say the vectors are linearly independent.
	p 
