extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Dimension function

block subSubContent
	h3
		b Dimension function
	p For a basis \(S\), the the dimension of the vector space is \(|S|\).
	p \(\dim (V)=|S|\)
	p \(S\subset V\)
	h3
		b Finite and infinite vector spaces
	p If \(\dim (V) \) is finite, then we say the vector space is finite.
	p Otherwise, we say the vector space is infinite.

