extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Dot product

block subSubContent
	h3
		b Dot product is a bilinear form
	p This is a bilinear form, a mapping from two vectors in the same vector space to the underlying field.
	p \(V\times V \rightarrow F\)
	h3
		b Calculating the dot product
	p This is calculated by multiplying each matching element, and summing the results.
	p \(u\cdot v =\sum_{i=1}^nu_iv_i\)
	h3
		b Dot product on the complex numbers
	p Properties don't hold. Can get zero vectors from non-zero inputs. Get complex numbers from dot product on itself.
	p Inner products better deal with complex number fields. However they are not bilinear maps
