extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Dual space and linear forms

block subSubContent
	h3
		b Linear forms
	p A linear form is a linear map from a vector space to a scalar from the vector space's underlying field.
	p \(\hom (V, F)\)
	h3
		b Dual space
	p The dual space \(V^*\) of vector space \(V\) is the set of all linear forms, \(\hom(V,F)\).

