extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Dual space

block subSubContent
	h3
		b Introduction
	p For a vector space \(V\), its dual space is \(Hom(V,F)\), the morphism from itself to its underlying field.
