extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Endomorphisms

block subSubContent
	h3
		b Introduction
	p An endomorphism maps a vector space onto itself.
	p \( end (V)=\hom (V, V)\)
	h3
		b Dimension of endomorphisms
	p \(\dim (end(V))=(\dim V )^2\)
	p 


