extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Endomorphisms form a vector space

block subSubContent
	h3
		b Recap
	p An endomorphism maps a vector space onto itself.
	p \( end (V)=\hom (V, V)\)
	h3
		b Endomorphisms form a vector space
	p need to show that endomorphism is a vector space

	p essentially
	p v\in V
	p f\in F
	p av = f
	p bv = g

	p (a\oplus b)v=f+g
	p (a\oplus b)v=av + bv

	p so there is some operation we can do on two members of endo

	p linear in addition. That is, if we have two dual "things", we can define the addition of functions as the operation which results int he outputs being added.

	p what about linear in scalar? same approach.

	p Well we define 

	p \(c\odot a)=cav

	p there is a unique endomorphism which results in two other endomorphisms being added together. define this as addition
	h3
		b Dimension of endomorphisms
	p \(\dim (end(V))=(\dim V )^2\)
	h3
		b Basis of endomorphisms
	p 
