extends ./subSubTemplate.jade

block subSubTitle
	h1
		b General linear groups \(GL(n, F)\)
block subSubContent
	h3
		b Introduction
	p The general linear group, \(GL(n, F)\), contains all \(n\odot n\) invertible matrices \(M\) over field \(F\).
	p The binary operation is multiplication.

