extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Inner product space

block subSubContent
	h3
		b Bilinear forms
	p A bilinear form is a linear function which maps two vectors from the same vector space onto the underlying field.
	h3
		b Inner products
	p An inner product is a 
	p \( \langle v, w \rangle \)

