extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Key results

block subSubContent
	h3
		b Transpose rules
	p $$(M^T)^T=M$$
	p $$(AB)^T=B^TA^T$$
	p $$(A+B)^T=A^T+B^T$$
	p $$(zM)^T=zM^T$$

	h3
		b Conjugation rules
	p $$(A^*)^*=A$$
	p $$(AB)^*=A^*B^*$$
	p $$(A+B)^*=A^*+B^*$$
	p $$(zM)^*=z^*M^*$$

