extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Kronecker delta

block subSubContent
	h3
		b Definition
	p The Kronecker delta is defined as:
	p p\(\delta_{ij}=0\) where \(i\ne j\)
	p \(\delta_{ij}=1\) where \(i=j\)

	h3
		b Examples
	p We can use this to define matrices. For example for the identity matrix:
	p \(I_{ij}=\delta_{ij}\)


