extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Identity matrix and the Kronecker delta

block subSubContent
	h3
		b Definition
	p The Kronecker delta is defined as:
	p p\(\delta_{ij}=0\) where \(i\ne j\)
	p \(\delta_{ij}=1\) where \(i=j\)

	h3
		b Examples
	p We can use this to define matrices. For example for the identity matrix:
	p \(I_{ij}=\delta_{ij}\)


	h3
		b Identity matrix
	p A square matrix where every element is \(0\) except where \(i=j\). There is one for each square matrix.
	p $$I=\begin{bmatrix}1& 0&...&0\\0 & 1&...&0\\...&...&...&...\\0&0&...&1\end{bmatrix}$$
