extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Basis vectors

block subSubContent
	h3
		b Basis
	p We can write vectors as combinations of other vectors.
	p \(v=\sum_i \alpha_i v_i\)
	p A subset which spans the vector space, and which is also linearly independent, is a basis of the vector space.
	p For an arbitrary vector of size \(n\), we cannot use less than \(n\) elementary vectors. We could use more, but these would be redundant.
	p If we use \(n\) elementary vectors, there is a unique solution of weights of elementary vectors.
	p If we use more than \(n\) elementary vectors, there will be linear dependence, and so there will not be a unique solution.
