extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Linear and affine functions
block subSubContent
	h3
		b Linear function
	p Linear and go through origin. Can be written as a matrix operation.
	p \(y=Mx\)
	h3
		b Affine function
	p Linear, but doesn’t go through origin.
	p \(y=Mx+C\) 

