extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Morphisms

block subSubContent
	h3
		b Introduction
	p A homomorphism on a vector space is a mapping from each vector to another vector, which preserves the underlying structure.
	p The homomorphism must preserve the group-like structure.
	p \(f(u+v)=f(u)+f(v)\)
	p The homomorphism must also preserve scalar multiplication.
	p \(f(\alpha v)=\alpha f(v)\)
	h3
		b Homomorphism form an abelian group
	p Consider two homomorphisms: \(f\) and \(g\).
	p \(f(u+v)=fu+fv\)
	p \(g(u+v)=gu+gv\)
	p Because \(V\) is abelian:
	p \((f+g)(u+v)=fu+fv+gu+gv\)

	p This makes the morphisms on a vector space themselves an abelian group.
	p If we can can show that scalars can act on morphims, then we can shwn that morphisms on a vector space are themselves a vector space.

	p Scalars can act on morphisms, and so morphisms of vector spaces are themselves vector spaces.

	h3
		b Properties of the homomorphism group
	p What do we know about this new vector space?
	p A morphism moves from one vector space to another (possibly the same).
	p We can identify the dimensionality of this new vector space from the dimensions of the original vector spaces.

	p The main result is that:
	p \(\dim (Hom(V, W))=\dim V \dim W\)
	p That is, the dimensions of the new vector space is the dimensions of the underlying vector spaces, multiplied.
	p For a homomorphism from \(V\) to \(W\), where \(\dim V=m\) and \(\dim W=n\), the dimension of the new vector space is \(mn\).
	p We can prove this by exploring the basis of the new vector space.
