extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Homomorphisms form a vector space

block subSubContent
	h3
		b Homomorphisms form a vector space
	p If we can can show that scalars can act on morphisms, then we can shwn that morphisms on a vector space are themselves a vector space.

	p Scalars can act on morphisms, and so morphisms of vector spaces are themselves vector spaces.
	h3
		b Dimensions of homomorphisms
	p We can identify the dimensionality of this new vector space from the dimensions of the original vector spaces.
	p \(\dim (\hom(V, W))=\dim V \dim W\)

