extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Linear maps

block subSubContent
	h3
		b Homomorphisms between vector spaces
	p Homomorphisms map between algebras, preserving the underlying structure.
	p A homomorphism vetween vector space \(V\) and vector space \(W\) can be described as:
	p \(\hom (V, W)\)
	p Homomorphism between vector spaces must preserve the group-like structure of the vector space.
	p \(f(u+v)=f(u)+f(v)\)
	p The homomorphism must also preserve scalar multiplication.
	p \(f(\alpha v)=\alpha f(v)\)
	p A linear map (or function) is a map from one input to an output which preserves addition and scalar multiplication.
	p That is if function \(f\) is linear then:
	p $$f(aM+bN)=af(M)+bf(N)$$
	h3
		b Alternative names for homomorphisms
	p Vector spaces homomorphisms are also called linear maps or linear functions.
	h3
		b Homomorphisms form an abelian group
	p Consider two homomorphisms: \(f\) and \(g\).
	p \(f(u+v)=fu+fv\)
	p \(g(u+v)=gu+gv\)
	p Because \(V\) is abelian:
	p \((f+g)(u+v)=fu+fv+gu+gv\)

	p This makes the morphisms on a vector space themselves an abelian group.
	h3
		b Homomorphisms form a vector space
	p If we can can show that scalars can act on morphisms, then we can shwn that morphisms on a vector space are themselves a vector space.

	p Scalars can act on morphisms, and so morphisms of vector spaces are themselves vector spaces.

	h3
		b Dimensions of linear maps
	p We can identify the dimensionality of this new vector space from the dimensions of the original vector spaces.
	p \(\dim (\hom(V, W))=\dim V \dim W\)

