extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Parallel lines and planes

block subSubContent
	h3
		b Introduction
	p 
	h3
		b Parallel lines
	p If we have two lines: 
	h3
		b Parallel planes
	p 
