extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Polar decomposition

block subSubContent
	h3
		b Introduction
	p The polar decomposition of a matrix \(M\) is:
	p \(M=UP\)
	p Where \(U\) is a unitary matrix, and \(P\) is a positive semi-definite Hermitian matrix.
	p This is comparable to the polar form of a complex number (\(a+bi=re^{i\theta }\)
	p \(r\) is comparable to \(P\) while \(\theta \) is comparable to \(U\).

