extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Matrix powers

block subSubContent
	h3
		b Matrix powers
	p For a square matrix \(M\) we can calculate \(MMMM...\), or \(M^n\) where \(n\in \mathbb{N}\).
	h3
		b Powers of diagonal matrices
	p Generally, calculating a matrix to an integer power can be complicated. For diagonal matrices it is trivial.
	p For a diagonal matrix \(M=D^n\), \(m_{ij}=d_{ij}^n\).
