extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Projections

block subSubContent
	h3
		b Motivation
	p A projection is a linear map which if applied again returns the original result.
	p A projection can drop a dimension for example.
	
