extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Matrix rank

block subSubContent
	h3
		b Rank function
	p The rank of a matrix is the dimension of the span of its component columns.
	p \(rank (M)=span(m_1,m_2,...,m_n)\)
	h3
		b Column and row span
	p The span of the rows is the same as the span of the columns.
	p 
