extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Similar matrices

block subSubContent
	h3
		b Introduction
	p in hermitian, show all symmtric matrices are hermitian

	p for a diagonal matrix, eigenvalues are the diagonal entries?

	p similar matrix:
	p \(M=P^{-1}AP\)

	p \(M\) and \(A\) have the same eigenvalues. If \(A\) diagonal, then entries are eigenvalues.
