extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Span

block subSubContent
	h3
		b Span function
	p We can take a subset \(S\) of \(V\). We can then make linear combinations of these elements.
	p This is called the linear span - \(span (S)\).
