extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Singular value decomposition

block subSubContent
	h3
		b Introduction
	p The singular value decomposition of \(m\times n\) matrix \(M\) is:
	p \(M=U\Sigma V^* \)
	p Where:
	ul
		li \(U\) is a unitary matrix (\(m\times m\))
		li \(\Sigma \) is a diagonal matrix with non-negative real numbers (\(m\times n\))
		li \(V\) is a unitary matrix (\(n\times n\))
	p \(\Sigma \) is unique. \(U\) and \(V\) are not.
	h3
		b Properties
	p \(M^*M=U\Sigma^2 U^*\)
	p \((M^*M)^{-1}=V\Sigma^{-2} V^*\)
	h3
		b Calculating the SVD
	p The SVD is generally calculated iteratively.
