extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Tensor product

block subSubContent
	h3
		p Introduction
	p The tensor product generalises the outer product and Kronecker product.
	p Both the outer product and the Kronecker product are examples of tensor products.
	p Tensor products are also written as:
	p \(\u\otimes v=w\)
