extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Types of matrices

block subSubContent
	h3
		b Empty matrix
	p A matrix where every element is \(0\). There is one for each dimension of matrix.
	p $$A=\begin{bmatrix}0& 0&...&0\\0 & 0&...&0\\...&...&...&...\\0&0&...&0\end{bmatrix}$$
	h3
		b Triangular matrix
	p A matrix where \(a_{ij}=0\) where \(i < j\) is upper triangular.
	p A matrix where \(a_{ij}=0\) where \(i > j\) is lower triangular.
	p A matrix which is either upper or lower triangular is a triangular matrix.

	h3
		b Symmetric matrices
	p All symmetric matrices are square.
	p The identity matrix is an example.
	p A matrix where \(a_{ij}=a_{ji}\) is symmetric.
	
	h3
		b Diagonal matrix
	p A matrix where \(a_ij=0\) where \(i\ne j\) is diagonal.
	p All diagonal matrices are symmetric.
	p The identity matrix is an example.
	
