extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Vector spaces

block subSubContent
	h3
		b Introduction
	p A vector space is a group with additional structure.
	p The operation for each element is shown as addition. So we can say:
	p \(\forall u,v \in V [u+v \in V]\)

	p To this we add scalars, from a field \(F\). We write this as multiplication.
	p \(\forall f \in F \forall v \in V [fv \in V]\)
	h3
		b Subspace
	p A subspace is a subset of \(V\) which still acts as a vector space. In practice, this means fewer dimensions.


