extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Omitted variable bias
block subSubContent
	h3
		b Introduction
	p If  the producer sees customer characteristics we do not, then there will be a bias in our estimate.
	p Producers will set prices correlated with those characteristics.
