extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Dummy variables for products
block subSubContent
	h3
		b Dummies for products
	p By adding a dummy for each product we control for unobserved variables.
	p This adds a parameter for each product, which can increase the variance of the estimates.
	p Adding the dummies affects the other estimators. We can fix this using minimum distance estimator.
	p The error no longer includes unobserved characteristics.
	h3
		b Dummies for groups
	p These create fewer new parameters.
