extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The problem with alternative price data
block subSubContent
	h3
		b Introduction
	p We need alternative price data for this multinomial choice model.
	p These are not observed, and so we need to estimate them.
	p One option is to use list prices, or average prices, for all prices.
	p However, differences from this are likely correlated with individual characteristics, giving us bias.
