extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Incidence matrix
block subSubContent
	h3
		b Introduction
	p An incidence matrix has \(m_{ij}\) representing the number of connections from vertex \(i\) to edge \(j\).
