extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Laplacian matrix
block subSubContent
	h3
		b Introduction
	p The Laplacian matrix \(L\) is formed using the degree matrix \(D\) and the adjacency matrix \(A\). \(L=D-A\).
