extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Adjacency matrix
block subSubContent
	h3
		b Introduction
	p We can represent a finite graph as a square matrix. \(m_{ij}\) is the number of edges connecting vertex \(i\) to vertex \(j\).
