extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Degree matrix
block subSubContent
	h3
		b Introduction
	p A degree matrix is a diagonal matrix. Each diagonal contains the degree of the a vertex.
