extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Order and size of graphs
block subSubContent
	h3
		b Order of a graph
	p The order of a graph is the number of vertices, \(|V|\).
	h3
		b Size of a graph
	p The size of a graph is the number of edges, \(|E|\).
