extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Loops, multiple edges and simple graphs
block subSubContent
	h3
		b Loops
	p A loop is an edge where both the vertices are the same.
	h3
		b Multiple edges
	p If there are two edges with the same pair of indices, there are multiple edges.
	h3
		b Simple graphs
	p No loops or multiple edges.


