extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Subgraphs
block subSubContent
	h3
		b Subgraphs
	p We can take a subset of vertices, and all edges which only depend on these vertices. This is an induced subgraph.
	h3
		b Induced subgraph
