extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Vertices and edges
block subSubContent
	h3
		b Defining a graph
	p A graph is a set of vertices \(V\), a set of edges E which are subset of pairs from V.
	p undirected so each edge is a set

	h3
		b Degree of a vertex
	p The degree of a vertex is the number of edges connections to it.
