extends ./subSubTemplate.jade
block subSubTitle
	h1
		b K-folds
block subSubContent
	h3
		b Introduction
	p The problem of different sample sizes (sample size for validations sets is lower, different hyper parameters could be more appropriate)
