extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Measure space

block subSubContent
	h3
		b Introduction
	p In a metric space, the structure was defining a value for each two elements of the set.
	p In a measure space, the structure defines a value of subsets of the set.
	h3
		b Terminology
	p A measure space includes the set \(X\), subsets of the set, \(\Sigma \), and a function \(\mu \) which maps from \(\Sigma \) to \(\mathbb{R}\).
	h3
		b Sigma algebra
	p Requirement for \(\Sigma \).

