extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Solving cubic polynomials

block subSubContent
	h3
		b Cubic polynomials
	p Cubic polynomials are of the form \(ax^3+bx^2+cx+d=0\).
	h3
		b Solving specific cases
	p We start by solving when \(b=0\), that is:
	p \(aX^3+bx+c=0\)
	h3
		b Solving the general case
	p 

