extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Generating functions

block subSubContent
	h3
		b Definition
		
	p A series can be described as:
	$$\sum_{i=0}^{\infty }s_i x^i$$
	p If we know the function equal to this series, we can identify the \(i\)th number.
