extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Logarithms

block subSubContent
	h3
		b Logarithms

	p If:
	p $$c=a^b$$
	p Then
	p $$log_ac=b$$
	p
		b Product rule:
	p $$a=c^\{log_ca}$$
	p $$b=c^\{log_cb}$$
	p So:
	p $$ab=c^\{log_cab}$$
	p But also:
	$$ab=c^{log_ca}c^{log_cb}$$
	$$ab=c^{log_ca+log_cb}$$
	p So:
	$$log_ca+log_cb=log_cab$$
	h3
		b Power rule:
	p $$a=b^{log_ba}$$
	p So:
	p $$a^c=b^{log_ba^c}$$
	p And separately:
	p $$a^c=(b^{log_ba})^c$$
	p $$a^c=(b^{clog_ba})$$
	p So:
	p $$clog_ba=log_ba^c$$
	h3
		b Logarithms for natural numbers
	h3
		b Logarithms for integers
	h3
		b Logarithms for rational numbers
	