extends ./subSubTemplate.jade

block subSubTitle
	h1 Single-variable polynomials

block subSubContent
	h3
		b Introduction
	p A single-variable polynomial is an equation of the form:
	p \(\sum^n_{i=0} a_i x^i=0\)
	p For example:
	ul
		li \(x=1\)
		li \(x^2=4\)
		li \(x^2-3x+2=0\)
	h3
		b Degrees
	p  The degree of a polynomial is the highest-order term.
	p For example \(x^3+x=0\) has degree \(3\).
	h3
		b Roots of single-variable polynomials
	p A solution to a polynomial is a root.
	p For example \(1\) and \(2\) are roots of \(x^2-3x+2=0\)

