extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Solving quadratic polynomials

block subSubContent
	h3
		b Quadratic polynomials
	p Quadratic polynomials are of the form \(ax^2+bx+c=0\).
	h3
		b Solving quadratic polynomials
	p $$x=\frac{-b\pm \sqrt {b^2-4ac}}{2a}$$
	h3
		b Proof
	p We can get the two solutions to a quadratic equation from the following manipulation.
	p $$ax^2+bx+c=0$$
	p $$a[x^2+\frac{b}{a}x]=-c$$
	p $$a[(x+\frac{b}{2a})^2-\frac{b^2}{4a^2}]=-c$$
	p $$a[(x+\frac{b}{2a})^2]=\frac{b^2}{4a}-c$$
	p $$(x+\frac{b}{2a})^2=\frac{b^2-4ac}{4a^2}$$
	p $$x+\frac{b}{2a}=\pm \sqrt {\frac{b^2-4ac}{4a^2}}$$
	p $$x=\frac{-b\pm \sqrt {b^2-4ac}}{2a}$$

