extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Golden Rule savings rate
block subSubContent
	h3
		b Introduction
	p The Golden Rule savings rate is the rate which maximises long term consumption per capita.
	p If the savings rate is \(0\) there is no capital and no income. If the savings rate is \(1\) then then there is no consumption.
