extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Ramsey-Cass-Koopmans model
block subSubContent
	h3
		b Introduction
	p This is based on the Solow-Swan model, with an endogeneous savings rate.
