extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Domains and ranges


	p
		b Domain
	p All values on which the function can be called
	p $$\forall x(f(x)=y)\rightarrow P(y))$$
	p
		Codomain
	p Types on numbers
	p
		b Image
	p $$\forall x((\exists y f(x)=y)\rightarrow P(y))$$
	p Outputs of a function. Strictly smaller than codomain.
	p AKA: Range

	p
		b Example:
	p $$\frac{1}{x^2}$$
	p Domain is: \mathbb{R}\\\{0\}
	p Codomain is also reals
	p Image is positive reals
