extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Taylor Series
	p \(f(x)\) can be estimated at point \(c\) by identifying its repeated differentials at point \(c\).
	p The coefficients of an infinate number of polynomials at point \(c\) allow this.
	p $$f(x)=\sum_{i=0}^{\inf }a_i(x-c)^i$$
	p $$f'(x)=\sum_{i=1}^{\inf }a_i(x-c)^{i-1}i$$
	p $$f''(x)=\sum_{i=2}^{\inf }a_i(x-c)^{i-2}i(i-1)$$
	p $$f^j(x)=\sum_{i=j}^{\inf }a_i(x-c)^{i-j}\frac{i!}{(i-j)!}$$
	p For \(x=c\) only the first term in the series is non-zero.
	p $$f^j(c)=\sum_{i=j}^{\inf }a_i(c-c)^{i-j}\frac{i!}{(i-j)!}$$
	p $$f^j(c)=a_ij!$$
	p So:
	p $$a_j=\frac{f^j(c)}{j!}$$
	p So:
	p $$f(x)=\sum_{i=0}^\inf (x-c)^i \frac{f^i(c)}{i!}$$


	h3
		b Maclaurin Series
	p A Taylor series around \(c=0\).
	p $$f(x)=$$
	p $$f(x)=\sum_{i=0}^\inf (x-c)^i \frac{f^i(c)}{i!}$$
	p $$f(x)=\sum_{i=0}^\inf (x)^i \frac{f^i(0)}{i!}$$

	p For example, for:
	p $$f(x)=(1-x)^{-1}$$
	p $$f^i(0)=i!$$
	p So, around \(x=0\):
	p $$f(x)=\sum_{i=0}^\inf (x)^i$$
	

	h3
		b Analytic functions


	p  (root test, direct comparison test, rate of convergence, radius of convergence)
	
