extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Calculus
	p 3rd March 2017
	h3
		b Logarithms
	p $$y=ln(x)$$
	p $$e^y=x$$
	p $$\frac{\delta }{\delta x}e^y=1$$
	p $$\frac{\delta y}{\delta x}e^y=1$$
	p $$\frac{\delta y}{\delta x}x=1$$
	p $$\frac{\delta y}{\delta x}=\frac{1}{x}$$

	p
		b Powers
	p $$y=x^n$$
	p $$lny=nlnx$$
	p $$\frac{1}{y}\frac{\delta y}{\delta y}=\frac{n}{x}$$
	p $$\frac{delta y}{\delta x}=nx^{n-1}$$

	p
		b Exponents
	p $$y=a^x$$
	p $$lny=xlna$$
	p $$\frac{1}{y}\frac{\delta y}{\delta x}=lna$$
	p $$\frac{\delta y}{\delta x}=a^xlna$$
