extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Integrals

block subSubContent
	h3
		b Methods of integration
	p Trigonometric substitution
	p Inverse function integration function integration


	h3
		b Integration by parts
	p We have:
	p $$\frac{\delta y}{\delta x}=f(x)g(x)$$
	p We want that in terms of \(y\).
	p We know from the product rule of differentiation:
	p $$y=a(x)b(x)$$
	p Means that:
	p $$\frac{\delta y}{\delta x}=a'(x)b(x)+a(x)b'(x)$$

	p So let's relabel \(f(x)\) as \(h'(x)\)
	p $$\delta$$
	p $$\frac{\delta y}{\delta x}=h'(x)g(x)$$
	p $$\frac{\delta y}{\delta x}+h(x)g'(x)=h'(x)g(x)+h(x)g'(x)$$
	p $$y+\integrate h(x)g'(x)=\integrate h'(x)g(x)+h(x)g'(x)$$
	p $$y+\integrate h(x)g'(x)=h(x)g(x)$$
	p $$y=h(x)g(x)-\integrate h(x)g'(x)$$

	p For example:
	p $$\frac{\delta y}{\delta x}=x.\cos(x)$$
	p $$f(x)=cos(x)$$
	p $$g(x)=x$$
	p $$h(x)=sin(x)$$
	p $$g'(x)=1$$
	p So:
	p $$y=x\integrate cos(x) dx-\integrate sin(x)dx$$
	p $$y=xsin(x)-cos(x)+c$$
	


	p Anti-derivative
	p Taking the derivative of a function provides another function. The anti-derivative of a function is a function which, when differentiated, provides the original function.
	p As this function can include any additive constant, there are an infinite number of anti-derivatives for any function.
	p Integration
	p Limit of summation
	p Show same as anti-derivative
	p Show properties of function same as summation (can take constants out etc)

	h3
		b Getting functions from derivatives

	p $$f(c)=f(a)+\int^c_a \frac{\delta }{\delta x}f(x) dx$$


	p Definite integration
	p Indefinite integration


	h3
		b Riemann integral
	p
		b Riemann sums
	p Given a function \(f(x)\) and an interval \([a,b]\), we can divide \([a,b]\) into \(n\) sections and calculate:
	p $$\sum_{j=0}^{n(b-a)}f(a+\frac{j}{n})$$
	p This is the Riemann sum.
	p
		b Riemann integral
	p We take the limit of the Riemann sum as \(n\rightarrow \infty\)
	p $$\int_a^bf(x)dx:=\lim_{n\right \infty }\sum_{j=0}^{n(b-a)}f(a+\frac{j}{n})$$
	p
		b Linearity
	p $$\int_a^bf(x)+g(x)dx=\lim_{n\right \infty }\sum_{j=0}^{n(b-a)}f(a+\frac{j}{n})+g(a+\frac{j}{n})$$
	p $$\int_a^bf(x)+g(x)dx=\lim_{n\right \infty }\sum_{j=0}^{n(b-a)}f(a+\frac{j}{n})+\lim_{n\right \infty }\sum_{j=0}^{n(b-a)}g(a+\frac{j}{n})$$
	p $$\int_a^bf(x)+g(x)dx=\int_a^bf(x)dx +\int_a^bg(x)dx$$
	p
		b Continuation
	p $$\int_a^bf(x)dx+\int_b^cf(x)dx=\lim_{n\right \infty }\sum_{j=0}^{n(b-a)}f(a+\frac{j}{n})+\lim_{n\right \infty }\sum_{j=0}^{n(c-b)}f(b+\frac{j}{n})$$
	p $$\int_a^bf(x)dx+\int_b^cf(x)dx=\lim_{n\right \infty }[\sum_{j=0}^{n(b-a)}f(a+\frac{j}{n})+\sum_{j=0}^{n(c-b)}f(b+\frac{j}{n})]$$
	p $$\int_a^bf(x)dx+\int_b^cf(x)dx=\lim_{n\right \infty }[\sum_{j=0}^{n(b-a)}f(a+\frac{j}{n})+\sum_{j=n(b-a)}^{n(c-b)+n(b-a)}f(b+\frac{j-n(b-a)}{n})]$$
	p $$\int_a^bf(x)dx+\int_b^cf(x)dx=\lim_{n\right \infty }[\sum_{j=0}^{n(b-a)}f(a+\frac{j}{n})+\sum_{j=n(b-a)}^{n(c-a)}f(a+\frac{j}{n})]$$
	p $$\int_a^bf(x)dx+\int_b^cf(x)dx=\lim_{n\right \infty }[\sum_{j=0}^{n(c-a)}f(a+\frac{j}{n})$$
	p $$\int_a^bf(x)dx+\int_b^cf(x)dx=\int_a^cf(x)dx$$
