extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The automorphism group
block subSubContent
	h3
		b Introduction
	p We have the GL(n, F)

	p We want to define a subset of this. We do so by restricting it to matrices which preserve a form

	p \(V \times V\rightarrow F\)

	p Or:
	p \(\rho (x, y)\)

	p Matrices which preserve this are:
	p \(\rho (Ax, Ay)\)

	p The matrices which preserve this will depend on the form.

	p The form can be written as a matrix:
	p \(\rho (x, y)=x^T\Rho y\)

	p So we want:
	p \(x^T\Rho y=(Ax)^T\Rho (Ay)\)
	p \(x^T\Rho y=x^TA^T\Rho Ay\)
