extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The cross product

block subSubContent
	h3
		b Introduction
	p \(v\times  u\)
	h3
		b Cross product is a bilinear map
	p This is a bilinear map from two vectors in \(\mathbb{R}^3\) to another vector in the same space.
	p \(V\times V \rightarrow V\)
	h3
		b Calculating the cross product
	p This is calcualted by:
	p \(u\times v=||u|| ||v|| \sin(\theta )n\)
	p The resulting vector is perpendicular to both input vectors.
