extends ./subSubTemplate.jade

block subSubTitle
	h1
		b General linear groups \(GL(n, F)\)
block subSubContent
	h3
		b Introduction
	p The general linear group, \(GL(n, F)\), contains all \(n\odot n\) matrices \(M\) with determinants other than \(0\). That is, the invertible square matrices.
	p They are defined over field \(F\), for example the real numbers or the complex numbers.
	p The binary operation is multiplication.

