extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Lie algebra

block subSubContent
	h3
		b Introduction
	p Take a continous group, such as \(O(2,R)\).

	p \(o(2,R)=\{X\in R^{2\times 2}|e^{tX}\in O(2, R) \forall t\}\)

