extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Lie algebra

block subSubContent
	h3
		b Introduction
	p Lie groups have symmetries. We can consider only the infintesimal symmetries.
	p For example the unit circle has many symmetries, but we can consider only those which rotate infintesimally.
	h3
		b Example
	p Take a continous group, such as \(U(1)\). Its Lie algebra is all matrices such that their exponential is in the Lie group.

	p \(\mathfrak{u}(1)=\{X\in \mathbb {C}^{1\times 1}|e^{tX}\in U(1) \forall t\in \mathbb{R}\}\)

	p This is satisfied by the matrices where \(M=-M^*\). Note that this means the diagonals are all \(0\).
	h3
		b Scale of specific Lie algebra matrices doesn't matter
	p Because of \(t\).
	h3
		b Commutation of Lie group algebra
	p Consider two members of the Lie algebra: \(A\) and \(B\). The commutator is:
	p \(A\).
	p The corresponding Lie group member is:
	p \(e^{t(A+B)}=e^{tA}e^{tB}\)
	p While the Lie group multiplication may not commute, the corresponding addition of the Lie algebra does.
