extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The Lie bracket

block subSubContent
	h3
		b Introduction
	p We can define the Lie bracket from the ring commutator.
	p We use the Lie bracket, rather than multiplication, as the operator over a field homomorphism.

	p \([A, B]\)

	p This generates another element in the algebra.

	p This satisifies:
	ul
		li Bilinearity: \([xA+yB,C]=x[A,C]+y[B,C]\)
		li Alternativity: \([A,A]=0\)
		li Jacobi identity: \([A, [B,C]]+[C,[A,B]]+[B,[C,A]]=0\)
		li Anticommutivity: \([A, B]=-[B,A]\)
	p One option for the Lie bracket is the ring commutor. So that:

	p \([A,B]=AB-BA\)

