extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Matrix exponentials
block subSubContent
	h3
		b Introduction
	p The exponential of a complex number is defined as:

	p \(e^x=\sum \frac{1}{j!}x^j\)

	p We can extend this definition to matrices.

	p \(e^X:=\sum \frac{1}{j!}X^j\)
	p The dimension of a matrix and its exponential are the same.

