extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Orthogonal groups (O)
block subSubContent
	h3
		b Introduction
	p The orthogonal group, \(O(n,F)\), is the subgroup of \(GL(n,F)\) where \(M^{-1}=M^T\).
	p It is therefore also a subgroup of \(U(n,F)\).
	p Unitary group with only real numbers
	p Therefore \(|M|\) is \(-1\) or\(1\).
	p The orthogonal group can model rotations and flips of vectors.
	p These operators preserve length.

