extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Lie algebra of \(O(n)\)

block subSubContent
	h3
		b \(O(n)\) forms a Lie group
	p 
	h3
		b Lie algebra of \(O(n)\)
	p The Lie algebra of \U(n)\) is defined as:
	p \(\mathfrak{o}(n)=\{X\in \mathbb {R}^{n\times n}|e^{tX}\in O(n) \forall t\in \mathbb{R}\}\)

	p This is satisfied by the skew-symmetric matrices where \(M=-M^T\). Note that this means the diagonals are all \(0\).
