extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Group representation

block subSubContent
	h3
		b Introduction
	p It can be difficult to represent elements in a group, because of their abstractness.
	p If there was a way to represent elements as other mathematical structures, in a way which did not affect the analysis of the groups, then this would be useful.
	p We do this by representing elements as linear transformations of a vector space.

	h3
		b Square matrices form groups
	p
	h3
		b All groups are homeomorphic to matrices
