extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Special orthogonal groups \(SO(n, F)\)
block subSubContent
	h3
		b Introduction
	p The special orthogonal group, \(SO(n,F)\), is the subgroup of the orthogonal group where \(|M|=1\).
	p As a result it includes only the rotation operators, not the flip operators.

