extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Special unitary groups 
block subSubContent
	h3
		b Introduction
	p The special unitary group, \(SU(n,F)\), is the subgroup of \(U(n,F)\) where the determinants are \(1\).
	p That is, \(|M|=1\)

