extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Lie algebra of \(SU(n)\)

block subSubContent
	h3
		b \(SU(n)\) forms a Lie group
	p 
	h3
		b Lie algebra of \(SU(n)\)
	p The Lie algebra of \U(n)\) is defined as:
	p \(\mathfrak{su}(n)=\{X\in \mathbb {C}^{n\times n}|e^{tX}\in SU(n) \forall t\in \mathbb{R}\}\)

	p This is satisfied by the skew-Hermitian matrices where \(M=-M^*\) and the trace is \(0\). Note that this means the diagonals are all \(0\) or pure imaginary.
