extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Lie algebra of \(U(n)\)

block subSubContent
	h3
		b \(U(n)\) forms a Lie group
	p 
	h3
		b Lie algebra of \(U(n)\)
	p The Lie algebra of \U(n)\) is defined as:
	p \(\mathfrak{u}(n)=\{X\in \mathbb {C}^{n\times n}|e^{tX}\in U(n) \forall t\in \mathbb{R}\}\)

	p This is satisfied by the skew-Hermitian matrices where \(M=-M^*\). Note that this means the diagonals are all \(0\) or pure imaginary
