extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Unitary groups (U)
block subSubContent
	h3
		b Introduction
	p The unitary group, \(U(n,F)\), is the subgroup of \(GL(n,F)\) where \(M^{-1}=M^*\)
	p This implies that \(M^*M=I\), and that \(||M||=1\).

