extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Autoregressive Moving Average models (ARMA)
block subSubContent
	h3
		b Introduction
	p 
	p We include both AR and MA

	p Estimted using Box-Jenkins

