extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Difference-in-difference
block subSubContent
	h3
		b Difference-in-difference
	p Consider the grouped linear model: 

	p \(y_{ij}=\mu+\tau_i+X_{j}\theta +\epsilon_{ij}\)

	p By taking differences with another observation in the same group we remove the average terms.

	p \(y_{ij}-y_{ik}=(\mu+\tau_i+X_{j}\theta +\epsilon_{ij})- (\mu + \tau_i + X_{k}\theta + \epsilon_{ik})\)

	p \(y_{ij}-y_{ik}=(X_{j}\theta - X_{k})+(\epsilon_{ij}- \epsilon_{ik})\)
