extends ./subSubTemplate.jade
block subSubTitle
	h1
		b First difference
block subSubContent
	h3
		b First difference
	p \(\Delta y_t= \theta x_t\)

	p We can also add more lags:

	p \(\Delta y_t= \sum_{i=0}^p\theta_i x_{t-i}\)
