extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bias of static models and spurious correlations
block subSubContent
	h3
		b Static models
	p Static models are of the form:
	p \(y_{t}=\alpha+\beta x_{t}+\epsilon_{t}\)
	p These have no lagged variables or difference operators.
	h3
		b Bias of static models
	p 
