extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bias
block subSubContent
	h3
		b Bias of an estimator
	p An estimator is a function of sample. The bias of an estimator is defined as:
	p $$Bias_\theta [\hat \theta ]:=E_\theta [\hat \theta -\theta ]$$

