extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Estimtor error and bias
block subSubContent
	h3
		b Error of an estimator
	p The error of an estimator is the difference between it and the actual parameter.
	p \(Error_{\theta }[\hat \theta ]=\hat \theta - \theta \)
	h3
		b Bias of an estimator
	p The bias of an estimator is the expected error.
	p \(Bias_\theta [\hat \theta ]:=E_\theta [\hat \theta -\theta ]\)
	p \(Bias_\theta [\hat \theta ]:=E_\theta [\hat \theta] -\theta\)


