extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bias-Variance trade-off
block subSubContent
	h3
		b Introduction
	p bias-variance trade-off. if we care about e(y-xt)^2 then we may not want an unbiased estimator. by adding some bias we could reduce the variance a lot.
