extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Cramér-Rao lower bound
block subSubContent
	h3
		b Cramér-Rao lower bound
	p For an unbiased estimator, the variance cannot be below the Cramer-Rao lower bound.

