extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Cramér-Rao lower bound
block subSubContent
	h3
		b Cramér-Rao lower bound
	p For an unbiased estimator, the variance cannot be below the Cramer-Rao lower bound.

	p \(Var (\hat \theta )\ge \frac{1}{I(\theta )}\)
	p Where \(I(\theta )\) is the Fisher information.
	h3
		b Proof
	p We have the score:
	p \(V=\frac{\delta }{\delta \theta }\ln f(X, \theta )\)
	p \(V=\frac{1}{f(X, \theta )}\frac{\delta }{\delta \theta } f(X, \theta )\)
	p The expectation of the score is \(0\):
	p \(E[V]=E[\frac{1}{f(X, \theta )}\frac{\delta }{\delta \theta } f(X, \theta )]\)
	p \(E[V]=\int \frac{1}{f(X, \theta )}\frac{\delta }{\delta \theta } f(X, \theta )dx\)
