extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Efficiency of estimators
block subSubContent
	h3
		b Introduction
	p Measured as:
	p \(e(\hat \theta )=\frac{\frac{1}{I(\theta )}}{Var (\hat \theta )}\)
	p If an estimator as an efficiency of \(1\) and is unbiased, it is efficient.

