extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Empirical Bayes
block subSubContent
	h3
		b Bayes rule
	p We can calculate the posterior probability for \(\theta \), but we need a prior \(P(\theta )\).
	p \(P(\theta | X)=\frac{P(X|\theta )P(\theta )}{P(X)}\)
	h3
		b Empirical Bayes
	p With empirical Bayes we get our prior from the data.
	p We have \(P(X|\theta )\)
	p And \(P(\theta |\rho )\)
	p We observe \(X\) and want to estimate \(\theta \).
	p \(P(\theta |X)=\frac{P(X|\theta)P(\theta )}{P(X)}=\frac{P(X|\theta)}{P(X)}\int P(\theta | \rho )P(\rho )d\rho \)
