extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Estimators
block subSubContent
	h3
		b Introduction
	p When we take statistics we are often concerned with inferring properties of the underlying probability function.
	p As the properties of the probability distribution function affect the chance of observing the sample, we can analyse samples to infer properties of the underlying distribution.
	p There are many properties would could be interested in. This includes moments and parameters of a specific probability distribution function.
	p An estimator is a statistic which is our estimate of one of these values.

	p Emphasise that statistics and estimators are different things. A statistic may be terrible estimator, but be useful for other purposes. 


