extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Fisher information
block subSubContent
	h3
		b Introduction
	p The Fisher information is the variance:
	p \(E[(\frac{\delta }{\delta \theta }\log f(X, \theta ))^2 |\theta ]\)
	p \(E[\frac{\delta^2 }{\delta \theta^2 }\log f(X, \theta ) |\theta ]\)
	p Same as expectation of score squared, because centred around \(0\).
	h3
		b Fisher information matrix	
	p We have \(k\) parameters.
	p \(I(\theta )_{ij}=E[(\frac{\delta }{\delta \theta_i}\log f(X, \theta ))(\frac{\delta }{\delta \theta_j }\log f(X, \theta ))|\theta ]\)
	h3
		b Observed Fisher information matrix
	p The Fisher information matrix contains informatio about the population
	p The observed Fisher infoirmation is the negative of the Hessian of the log likelihood.
	p We have:
	ul
		li \(l(\theta |\mathbf X)=\sum_i\ln P(\mathbf x_i|\theta )\)
		li \(J(\theta^*)=-\del \del^Tl(\theta|mathbf X )|_{\theta = \theta^*\)
	p The Fisher information is the expected value of this.
	p \(I(\theta )=E[J(\theta)]\)

