extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Fisher information
block subSubContent
	h3
		 Introduction
	p The Fisher information is the variance:
	p \(E[(\frac{\delta }{\delta \theta }\log f(X, \theta ))^2 |\theta ]\)
	p \(E[\frac{\delta^2 }{\delta \theta^2 }\log f(X, \theta ) |\theta ]\)
