extends ./subSubTemplate.jade
block subSubTitle
	h1
		b MLE of the Gaussian distribution
block subSubContent
	h3
		b Introduction
	p The parameters are the population means and covariance matrix.

	p The MLE estimator for the mean is the sample mean.

	p The MLE estimator for the covariance matrix is the unadjusted sample covariance.
