extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Generalised Method of Moments (GMM)
block subSubContent
	h3
		b Introduction
	p We have a function on the output and a parameter:

	p \(g(y, \theta )\)

	p A moment condition is that the expectation of such a function is \(0\).

	p \(m(\theta )=E[g(y, \theta )]=0\)

	p To do GMM, we estimate this using:

	p \(\hat m(\theta )=\frac{1}{n}\sum_ig(y_i, \theta )\)

 

	p We define:

	p \(\Omega = E[g(y, \theta )g(y, \theta)^T]\

	p \(G=E[\Delta_\theta g(y, \theta)]\)

	p And then minimise the norm:

	p \(||\hat m(\theta )||^2_W=\hat m(\theta )^TW\hat m(\theta )\)

	p Where \(W\) is a positive definite matrix for the norm.
	p \(\Omega ^{-1}\) is most efficient. But we don't know this. It depends on \(\theta \).

	p We can estimate it if IID:

	p \(\hat W(\hat \theta )= (\frac{1}{n}\sum_i g(y, \hat \theta)g(y, \hat \theta)^T)^{-1}\)
	h3
		b Two-step feasible GMM

	p Estimate using \(\mathbf W=\mathbf I\)

	p Consistent, but not efficient.
	h3
		b Moment conditions
	p OLS:
	p \(E[x(y-x\theta)]=0\)
	p WLS
	p \(E[x(y-x\theta)/\sigma^(x)]=0\)
	p IV
	p \(E[z(y-x\theta)]=0\)
	p MLE
	p \(E[\Delta_\theta \ln f(x, \theta)]=0\)

