extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Likelihood function
block subSubContent
	h3
		b Likelihood function
	p \(L(\theta ; X)=p(X|\theta )\)
	p \(P(X|\theta )\)
	p We want to estimate parameters. One way of looking into this is to look at the likelihood function:
	p If this has high peaks then it provides information that \(\theta \) is located in this region.

