extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Parametric models
block subSubContent
	h3
		b Introduction
	p We have some data \(X\). We model it as a function of parameters, \(\theta \).
	p \(P(X|\theta )=f(\theta )\).
	p There is a data generating process. We use models to say things about the data generating process.
	h3
		b Parameters
	p Parameters could be arguments to some function, or moments.
	h3
		b Distributions of \(\theta \)
	p We can create a distribution of \(\theta \):
	p \(P(\theta | X)\).
	p So to create a model for the data we need:
	ul
		li A model - \(P\)
		li Parameters for the model - \(\theta \)
	p There are therefore two questions: how to select a model and, given a model, how to select parameters.

