extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Method of moments
block subSubContent
	h3
		b Introduction
	p If we have \(k\) parameters to estimate, we can solve this if we have \(k\) equations.

	p We generate these

	p First, we link each first \(k\) moments to functions of the parameters.

	p Then we replace the momenets with sample estimates.
	h3
		b Estimation
	p The moments of this population distribution are:
	p $$\mu_i =E[X^i]=g_i(\theta_1,...,\theta_k)$$

	p We have a sample.
	p $$X=[X_1,...,X_n]$$

	p We now define the method of moments estimator
	p $$\hat \mu_i=\frac{1}{n}\sum_{j=1}^nx_j^i$$



