extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Orthogonality
block subSubContent
	h3
		b Introduction
	p Two variables are called orthogonal if their entry in fisher info matrix is 0

	p This means that the parameters can be calculated separately. MLE estimates are separate

	p This can be written as a moment condition

	p \(\delta \)

