extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Prior and posterior predictive distributions
block subSubContent
	h3
		b Prior predictive distribution
	p Our prior predictive distribution for \(X\) depends on our prior for \(\theta \).

	p \(P(\mathbf x)=\int_\Theta P(\mathbf x|\theta)P(\theta )d\theta \)
	h3
		b Posterior predictive distribution
	p Once we have calculated \(P(\theta |X)\), we can calculate a posterior probability distribution for \(X\).

	p \(P(\mathbf x|\mathbf X)=\int_\Theta P(\mathbf x|\theta)P(\theta |\mathbf X)d\theta \)

