extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Score
block subSubContent
	h3
		b Recap: Log-likelihood
	p The log-likelihood for IID data is:
	p \(l(\theta ; X)=\sum_{i=1}^n \ln P(X_i|\theta )\)
	h3
		b The score
	p The score is defined as the differential of the log-likelihood function with respect to \(\theta \).
	p \(V(\theta, X)=\dfrac{\delta }{\delta \theta }l(\theta ; X) \)
	p \(V(\theta, X)=\dfrac{1 }{\prod_{i=1}^nP(X_i|\theta )}\dfrac{\delta }{\delta \theta}L(\theta; X) \)
	h3
		b Expectation of the score
	p The expectation of the score, given the true value of \(\theta \) is:
	P \(E[V(X|\theta)]=\int V(X|\theta) dX\)
	p \(E[V(X|\theta)]=E[\dfrac{1 }{\prod_{i=1}^nP(X_i|\theta )}\dfrac{\delta }{\delta \theta}L(\theta; X) ]\)
	p \(E[V(X|\theta)]=\int \dfrac{1 }{\prod_{i=1}^nP(X_i|\theta )}\dfrac{\delta }{\delta \theta}L(\theta; X) \)
	p \(E[\dfrac{1 }{\prod_{i=1}^nP(X_i|\theta )}]\)
	p \(\int \dfrac{1 }{\prod_{i=1}^nP(X_i|\theta )}P(\theta )d\theta \)

	p We can show that the expected value of this is \(0\).
	h3
		b Variance of the score
	p The variance of the score is:
	p \(var [\dfrac{\delta }{\delta \theta }l(\theta ; X) ]\)
	p \(var [\dfrac{1 }{\prod_{i=1}^nP(X_i|\theta )}]\)

