extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Sufficient statistics
block subSubContent
	h3
		b Introduction
	p We can make estimates of a population parameter using statistics from the same.

	p A statistic is sufficient if it contains all the information needed to estimate the parameter.

	p We can describe the role of a parameter as:

	p \(P(x|\theta, t)\)

	p \(t\) is a sufficient statistic for \(\theta \) if:

	p \(P(x|t)=P(x|\theta, t)\)

