extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bootstrapping
block subSubContent
	h3
		b Introduction
	p If we have a sample of \(n\), we can create bootstrap samples by drawing with replacement for other sets with \(n\) members.
