extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Creating statistics
block subSubContent
	h3
		b Introduction
	p We take a sample from the distribution.
	p \(x=(x_1, x_2,...x_n)\)
	p A statistic is a function on this sample.
	p \(S=S(x_1, x_2,...,x_n)\)
