extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Asymptotic distributions
block subSubContent
	h3
		b Introduction
	p \(f(\hat \theta )\rightarrow^d G \)

	p Where \(G\) is some distribution.


