extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The jackknife
block subSubContent
	h3
		b Introduction
	p We have a statistic:

	p \(S(x_1, x_2,...,x_n)\)
	p We may want to estimate moments for this statistic, but are unable to do so.
	h3
		b The jackknife estimator
	p The jackknife is an approach for getting moments for statistics.
	p We start by creating \(n\) statistics each leaving out one observation. 
	p \(\bar S_i(x_1,x_2,...x_{i-1},x_{i+1},...,x_n)\)

	p We define:

	p \(\bar S=\dfrac{1}{n}\sum_i\bar S_i\)
	h3
		b Moments of the jackknife estimator

	p We want to know the variance.

	p \(Var \bar S=\frac{n-1}{n}\sum_i(\bar S_i-\bar S)^2\)
