extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The infintesimal jackknife
block subSubContent
	h3
		b The jackknife as a weighting
	p In the jackknife we calculate the statistic leaving one observation out.
	p This is the same as weighting observations and giving one a weighting of \(0\) and the others \(1\).
	h3
		b The infintesimal jackknife
	p For the infintesimal jackknife we reduce the weight not to \(0\), but by an infintesimal amount.
