extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Asymptotic normality
block subSubContent
	h3
		b Introduction
	p Many statistics are asymptotically normally distribution.
	p This is a result of the central limit theorem.

	p For example:
	p \(\sqrt n S\rightarrow^d N(s, \sigma^2) \)

	h3
		b Confidence intervals for asymptotically normal statistics
	p We have the mean and variance, and know the distribution. This allows us to calculare confidence intervals.
