extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Partially linear models
block subSubContent
	h3
		b Partially linear models
	p We take our semi-parametric model and set \(f(\mathbf x_i, \theta )\) to be linear:
	p \(y_i=\mathbf x_i\theta +g(\mathbf z_i) +\epsilon_i\)

