extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Robinson estimator
block subSubContent
	h3
		b Partialling out
	p \(y_i=\mathbf x_i\theta +g(\mathbf z_i) +\epsilon_i\)

	p Consider:

	p \(E(y_i|\mathbf z_i)=E(\mathbf x_i\theta +g(\mathbf z_i) + \epsilon_i|\mathbf z_i)\)

	p \(E(y_i|\mathbf z_i)=E(\mathbf x_i\theta|\mathbf z_i)+E(g(\mathbf z_i)|\mathbf z_i) + E(\epsilon_i|\mathbf z_i)\)

	p \(E(y_i|\mathbf z_i)=E(\mathbf x_i|\mathbf z_i)\theta+g(\mathbf z_i)\)

	p We can now remove the parametric part:

	p \(y_i-E(y_i|\mathbf z_i)=\mathbf x_i\theta +g(\mathbf z_i) + \epsilon_i - E(\mathbf x_i|\mathbf z_i)\theta -g(\mathbf z_i)\)

	p \(y_i-E(y_i|\mathbf z_i)=(\mathbf x_i- E(\mathbf x_i|\mathbf z_i))\theta +\epsilon_i\)
	p We define:
	ul
		li \(\bar y_i = y_i-E(y_i|\mathbf z_i)\)
		li \(\bar x_i = \mathbf x_i- E(\mathbf x_i|\mathbf z_i)\)

	p \(\bar y_i =\bar x_i \theta +\epsilon_i\)
	h3
		b Estimating \(\bar y_i\) and \(\bar x_i\)

	p So we can use OLS if we can estimate.

	ul
		li \(E(y_i|\mathbf z_i)\)
		li \(E(\mathbf x_i|\mathbf z_i)\)
	p We can do this with non-parametric methods.

