extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bias and variance of the Robinson estimator
block subSubContent
	h3
		b Moments of the Robinson estimator
	p If IID then

	p \(Var (\hat \theta) =\frac{\sigma^2_\epsilon }{\sum_i(x_i-\hat X_i)^2}\)

	p Otherwise, can use GLM

	p What are the properties of the estimator?

	p \(E[\hat \theta ]=E[\frac{\sum_i (X_i-\hat X_i)(y_i-\hat y_i)}{\sum_i(x_i-\hat X_i)^2}]\)

