extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Continous time with Lie algebra
block subSubContent
	h3
		b Introduction
	p 
	p We use X=iH, what are the implications of this compared to other choices?

	p Lie algebras with n\times x

	p this loops back? multiple dimensions, infinite, so maybe not?

	p With continuous time we do not have a single operator to describe movements. There is always one smaller.

	p With continous time there must be either a single state, or an uncountably infinite number of states.


	p \(U=M_n^n\)

	p \(U=(I+\frac{1}{n}G_n)^n\)

	p \(U=\lim_{n\rightarrow \infty }(I+\frac{1}{n}G)^n\)

	p Now:

	p \(UU^*=I\)

	p \((I+\frac{1}{n}G)(I+\frac{1}{n}G)^*=I\)

	p \((I+\frac{1}{n}G)(I+\frac{1}{n}G^*)=I\)

	p \(G=-G^*\)

	p \(G=iH\)

	p \(iH=-(iH)^*\)

	p \(H=H^*\)

	p \(H\) is Hermitian

	p \(U=\lim_{n\rightarrow \infty }(I+\frac{1}{n}iH)^n\)

	p This isn't quite right, need defined for different time jumps
