extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Representation theory for the time group
block subSubContent
	h3
		b Introduction
	p Time is a linear operator

	p Instead, we describe the time operator as a Lie group, using Lie algebra.

	p \(\Psi (t_b-t_a)=e^{(t_b-t_a)X}\)

	h3
		b States are vectors

	p We can remove a degree of freedom by using norm of 1 for vectors
	p For each dynamic system we define a set of possible states.

	p We can describe a state \(v\in V\).

	h3
		b Finite state spaces

	p We can describe a system like heads or tails.

	h3
		b Infinite state spaces

	p This can describe continous position, or an angle.
