extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The energy operator and the time-indepedendent general Schrödinger equation
block subSubContent
	h3
		b Introduction
	h3
		b Energy operator

	p \(E=ih\frac{\delta }{\delta t}\)

	p \(Ev(t)=Hv(t)\)

