extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The time-depedendent general Schrödinger equation
block subSubContent
	h3
		b Introduction
	p 
	p \(v(t_b)=e^{(t_b-t_a)X}v(t_a)\)

	p \(v(t+\delta )=e^{\delta X}v(t)\)

	p \(v(t+\delta )=(I+\delta X)v(t)\)

	p \(\frac{v(t+\delta )-v(t)}{\delta }=Xv(t)\)

	p p\(\frac{\delta v(t)}{\delta t}=Xv(t)\)

 

	p \(\frac{\delta v(t)}{\delta t}=iHv(t)\)

