extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Unitary time
block subSubContent
	h3
		b Introduction
	p Why? What's the interpretation here? Is this an assumption, or just a modelling choice?

 

	p \(\Psi (t_b-t_a)^* \Psi (t_b-t_a)=e^{(t_b-t_a)X}^* e^{(t_b-t_a)X}\)

	p \(\Psi (t_b-t_a)^* \Psi (t_b-t_a)=e^{(t_b-t_a)(X^*+X)}\)

 

	p X=iH

	p \(\Psi (t_b-t_a)^* \Psi (t_b-t_a)=e^{(t_b-t_a)(-iH+iH)}=I\)

 

	p \(\Psi (t_b-t_a)=e^{(t_b-t_a)iH}\)

