extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Online and offline learning
block subSubContent
	h3
		b Introduction
	p 
	h3
		b Offline learning
	p In offline learning, the model is trained where all data is available, and is not designed to incorporate additional incoming data.
	p Here time is more readily available.
	h3
		b Online learning
	p In offline learning, the the model is updated as more data comes in.
	p Here, we may wish to update the model more quickly.
	p We also have access to the original model.
