extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Predictions and parameters
block subSubContent
	p know true values for prediction, so can test. not so for parameters

	p generativealgorithm: build model for a, build model for b. see which fits best
	p discriminative algorithms: identify classification boundry
