extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Majority voting
block subSubContent
	h3
		b Majority voting
	p If there are multiple ways of classifying data, we can use multiple models, and using voting.
	p As each individual model can have unique information, this works better than one individual model.
	h3
		b Condorcet's Jury Theorem
	p If voters are independent, and the chance of one vote being right is greater than \(0.5\), then the more voters, the better.
	p A weak model can still be useful, if it is independent.

