extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Adaptive learning rates (Adagrad, Adadelta, RMSProp, ADAptive Momentum (ADAM))

block subSubContent
	h3
		b Adagrad
	p 
	h3
		b Adadelta
	p 
	h3
		b RMSProp
	p 
	h3
		b ADAptive Momentum (ADAM)
	p 
