extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Hill climbing

block subSubContent
	h3
		b Introduction
	p We initialise at some point in the parameter space.

	p We identifify nearby alternative points in parameter space, and move to the one with the most improvement.

	p Movement only occurs in one parameter at a time.
