extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Affine connections
block subSubContent
	h3
		b Introduction
	p If we have a tangent vector at one point of the manifold, we can map it to a tangent vector at a nearby point on the manifold.
	p 
	p we can use chain rule. so we can have coordinate maps where there is no overlap.
	h3
		b Smooth connections
	p 
	h3
		b Affine connection

	p we have a vector in a tangent space

	p we have a curve on the manifold from the start point

	p as we "roll" the tangent, there is a unique vector in each new tangent, determined by transition map

	p these are affine transformations

	p given two points, what path? what transfomration? if curuved then different paths will given different transformation
