extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Covariant derivative
block subSubContent
	h3
		b Introduction
	p essentially as we move across path, we are changing the basis.

	p we can look at how basis vector change as we translate

	p we can define as basis as:

	p \(e_i=\frac{\delta x}{\delta x_i}\)

	p how to measure transport

	p if we take a vector and move it around a curved surface and return it to the same point, it may not face the same way

	p eg if you're on equator, move east, north, south to equator, you'll face diffrent direction

	p this is true on smaller movements of a curved surface

	p we can use this to measure curvature of a manifold without coordinates 
	h3
		b New
	p covariant derivative. how does change in field compare to parallel transport from curent position?
	p \nabla_v (X)=\lim_{t\rightarrow 0}\dfrac{X(p+tv)-X(p)}{t}\)
	p We have point \(p\). We can compare how field in tangent space varies in direction of \(v\).
	p we don't define basis as each point, but rather how basis changes as you move along a curve
