extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Differentiable transition maps
block subSubContent
	h3
		b Transition map recap
	p Given two charts with an overlap, we have a transition mapping between the two charts of the overlap, where the mapping corresponds to a position on the manifold.
	h3
		b Differentiable transition maps
	p If this mapping is differentiable, we have a differentiable manifold.
	h3
		b Smooth manifolds
	p If transition maps are smooth (\(C^\infty \)) then the manifold is smooth.
