extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Tangent space and tangent vectors
block subSubContent
	h3
		b Introduction
	p take a topological space: can all subsets in the toplogy be mapped to \(n\) dimensional space? if so, manifold

	p for this we need openness: a graph for example isn't open and so isn't a manifold

	p we also need the same number of dimensions at each point

	p isn't always the case. eg two circles conneceted by a line is not a manifold. it's 2d in circles, 1d on line (and 3d at connections)

	p we have a homeomorphism from each point in the toplogy to an n dimensional coordinate system

	p we also have homeomorphisms of transformation maps, between different points on the topology

	p the vector space from the homeomorphism is tangent to the manifold at that point. the set of all tangents forms a tangent space

	p interior: M; boundry \delta M
	p tangent on a manifold:


	p The tangent space of manifold \(M\) at point \(p\) is denoted \(TM_p\).
	p If we have a normal field
	p \(v=v^ie_i\)

	p Then we can differentiate wrt a direction \(x\).
	p \(\dfrac{\delta }{\delta x}v=\dfrac{\delta }{\delta x}v^ie_i\)
	p \(\dfrac{\delta }{\delta x}v=e_i\dfrac{\delta v^i}{\delta x}\)

	p Because the basis does not change.

	p If the basis does change we instead have:
	p \(\dfrac{\delta }{\delta x}v=\dfrac{\delta }{\delta x}v^ie_i\)
	p \(\dfrac{\delta }{\delta x}v=e_i\dfrac{\delta v^i}{\delta x}+v^i\dfrac{\delta e_i }{\delta x}\)

	p General point. basis can vary across manifold

	p after this basis diff

	h3
		b Tangent space as vector bundle
	h3
		b Christoffel symbols (page)
	p Christoffel symbols are connections.
	h3
		b The torsion tensor (own page)
	p Torsion tensor is
	p \(T_{jk}^i=\Gamma^i_{jk}-\Gamma^i_{kj}\)

	p If torsion is \(0\), then the connection is symmetric.
	h3
		b Basis of tangent space
	p We can use as the basis for tangent space:
	p \(\{\dfrac{(\delta }{\delta x^1})_p,(\dfrac{\delta }{\delta x^2})_p,...\}\)

	p This means we can write a tangent vector as:
	p \(u=u^i(\dfrac{\delta }{\delta x^i})_p\)
	h3
		b Basis of contant space
	p We can use as the basis for the contangent space:
	p \(\{dx^1,dx^2,...\}\)
	h3
		b Metric on the tangent space (to Riemann)
	p 
	h3
		b Basis of metric (to Riemann)
	p The metric depends on the basis too:
	p \(g_{ij}(p)=g((\dfrac{\delta }{\delta x^i})_p,(\dfrac{\delta }{\delta x^j})_p)\)

	p The metric on two tangent vectors is defined on the components.
	p \(g=g_{ij}(p)u^iv^j\)

