extends ./subSubTemplate.jade

block subSubTitle
	h1
		p Absolute value

block subSubContent
	h3
		b Introduction
	p \(|z|=\sqrt {z\bar z}\)
	p \(|z|=\sqrt {(a+bi)(a-bi)}\)
	p \(|z|=\sqrt {a^2+b^2}\)
