extends ./subSubTemplate.jade

block subSubTitle
	h1
		p Annulus

block subSubContent
	h3
		b Disks
	p We defined an open disk at \((a,b)\) of radius \(r\) as:
	p \(\{(x,y)\in \mathbb R^2:(x-a)^2+(y-b)^2 < r^2\}\)
	p For a closed disk it is:
	p \(\{(x,y)\in \mathbb R^2:(x-a)^2+(y-b)^2 \le r^2\}\)
	h3
		b Annulus
	p An annulus is a disk, which excludes a smaller disk inside the disk
	h3
		b Punctured disk
	p If the interior disk is just a point, it is a punctured disk.
