extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Arithmetic on complex numbers

block subSubContent
	h3
		b Introduction
	p For each of these we have:
	p \(x=a+bi\)
	p \(y=c+di\)
	h3
		b Addition
	p \(x+y=a+bi+c+di\)
	p \(x+y=(a+c)+(b+d)i\)
	h3
		b Subtraction
	p \(x-y=a+bi-c-di\)
	p \(x-y=(a-c)+(b-d)i\)
	h3
		b Multiplication
	p \(xy=(a+bi)(c+di)\)
	p \(xy=ac-bd+adi+bci\)
	p \(xy=(ac-bd)+(ad+bc)i\)
	h3
		b Division
	p \(\dfrac{x}{y}=\dfrac{a+bi}{c+di}\)
	p \(\dfrac{x}{y}=\dfrac{(a+bi)(c-di)}{(c+di)(c-di)}\)
	p \(\dfrac{x}{y}=\dfrac{(ac+bd)+(bc-ad)i}{c^2+d^2}\)


