extends ./subSubTemplate.jade

block subSubTitle
	h1
		p Disks

block subSubContent
	h3
		b Introduction
	p A disk is the area contained by a circle.
	p An open disk at \((a,b)\) of radius \(r\) is:
	p \(\{(x,y)\in \mathbb R^2:(x-a)^2+(y-b)^2 < r^2\}\)
	p For a closed disk it is:
	p \(\{(x,y)\in \mathbb R^2:(x-a)^2+(y-b)^2 \le r^2\}\)

