extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Transformation of reference frames
block subSubContent


	p Linear transformation
	p Non-linear transformation
	p If we know one, how can we know the other?

	p Inertial frames are sets of frames which can be linearly transformed. Ie moving relative to each other at constant speed
	p Both in falling lift count
	p Can have inertial frames in acceleration

	p Non-inertial reference frame is one which, relative to another frame, cannot be transformed in such a way.
	p If the reference frames are:
	p not rotating
	p not accelerating
	p oriented the same way
	p Then they are moving at a constant velocity relative to each other, that is observer \(a\) notes observer \(b\) moving at:
	p $$\{v_x,v_y,v_z\}$$
	p From an initial distance of:
	p $$\{s_x,s_y,s_z\}$$
	p While observer \(b\) notes observer \(a\) moving at:
	p $$\{-v_x,-v_y,-v_z\}$$
	p From an initial distance of:
	p $$\{-s_x,-s_y,-s_z\}$$
	p So, how can observer \(a\) calculate \(b\)’s observation?
	p Accelerating frame of reference. Rotating frame of reference.
