extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Symmetric
block subSubContent
	h3
		b Introduction
	p We have a document we want to be able to transfer on an insecure medium.

	p We use a key to encrypt the file, and a key to decrypt the file.

	p With symmetric encryption these are the same key.

