extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Softmax
block subSubContent
	h3
		b Introduction
	p The softmax function is often used in the last layer of a classification network.
	p It takes a vector of dimension \(k\) and returns another vector of the same size. Only, this time all numbers are between \(0\) and \(1\) and the values sum to \(1\).
	p The softmax function is based on the sigmoid function.
	p \(a_j(z)=\frac{e^{z_j}}{\sum_{i}e^{z_i}}\)

