extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Batch normalisation
block subSubContent
	h3
		b Introduction
	p We can normalise other layers. We take each input, subtract the batch mean divided by the batch standard deviation.

	h3
		b Batch normalisation and covariance shift

	p Batch normalisation can make networks better adapted for related problems.

	h3
		b Training with batch normalisation
