extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Cascade-correlation learning architecture
block subSubContent
	h3
		b Introduction
	p This is a method for both building and training.

	p We start with a bare bones network. We then add nodes one by one, training and then fixing their values.

