extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Convolutional neural networks
block subSubContent
	h3
		b Introduction
	p conv->ReLU->pool->

	p repeat those

	p cnn for classification, localisation, semantic and instance segmentation  
