extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Convolutional layers
block subSubContent
	h3
		b Introduction
	p Can connect each  node in first hidden layer to a subset of the input layer, eg one node for each 5x5 pixels
	p We also share weights for each of the first layer. Much fewer parameters, and can learn all good stuff


	p This also uses windows. Instead of max we multiply the window by a matrix elementwise and sum the values

	p Each matrix can represent some feature, like a curve.

	p We can use multiply convolution matrices to create multiple output matrices.

	p matrices are called kernels. they are trained. start off random
	h3
		b Training convolutional layers
	p 
