extends ./subSubTemplate.jade
block subSubTitle
	h1
		b More layers allow for more complex function
block subSubContent
	h3
		b Introduction
	p With additional hidden layers we can map more complex functions.
	p These allow the effective combination of logic gates.
	h3
		b 2 hidden layers can map highly complex functions
	p With only two hidden layers we can map any function for classification, including discontinuous functions.

