extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Flattening layers
block subSubContent
	h3
		b Introduction
	p We split the data up everytime we use convolional layers

	p flattening layers bring them all back together

	p parameters are that for pooling layers (height, width, stride, padding, but also set of convolutions

