extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Hidden layers
block subSubContent
	h3
		b 
	p number of features can get out hand with linear and logistic stuff
	p eg x1x2x3, x1^2x2... is o(n3) for cubed, even higher otherwise

	p neural networks do non linear better
	p Why nn better than linear,
	p Universality theorem of single hidden layer
	p classification and regression
	p economics, interpreting stats?
	p Add study of softmax cost function
