extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Input layer normalisation
block subSubContent
	h3
		b Introduction
	p We normalise the input layer.

	p This speeds up training, and makes regularisation saner.
