extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Types of layers
block subSubContent
	h3
		b Sparce and dense layers
	p Fully connected layers?
	h3
		b Flattening layers
	h3
		b Dropout layers

