extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Local Winner Takes All (LWTA) layer
block subSubContent
	h3
		b Intrduction
	p The output for all nodes in a layer is \(0\) unless it is the greatest
