extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Pre-training
block subSubContent
	h3
		b Introduction
	p Pre-training. eg train on general pictures before specific stuff. means you fit many parameters for detecting edges etc firsts
	h3
		b Learning rate
	p Reduce the learning rate.
