extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Residual blocks
block subSubContent
	h3
		b Introduction
	p In a node we have:
	p \(a_{ij}=\sigma_{ij}(W_{ij}a_{i-1})\)
	p That is, the value of a node, is the activation on the sum of the weights of the previous layer.
	p Residual block however look further back that one layer. They include the full data from an older layer (without weights)
	p \(a_{ij}=\sigma_{ij}(W_{ij}a_{i-1}+a_k)\)
