extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Representational sparsity
block subSubContent
	h3
		b Introduction
	p This is where the values in nodes are often \(0\), as opposed to just the parameters.
