extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Wave functions
block subSubContent
	h3
		b Introduction
	p We have state \(\Psi (t)\)

	p \(\psi(x,t)=\langle x\rvert \Psi (t) \rangle\)

	p This is the wave function.
	
