extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Honest trees
block subSubContent
	h3
		b Introduction
	p We use part of the sample to estimate \(\Theta \), and another part of the sample to estimate the treatment effect.
	p 

