extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The pinball prior
block subSubContent
	h3
		b The pinball prior
	p We can generate a tree with a fixed number of leaves, according to our prior.
	p As we start the tree we assocaite the root node with a count of all leaves.
	p As we split a node, the remaining leaf counts are divided between the directions. If there is only one leaf left, we do no further splitting.
