extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Mixed regression trees
block subSubContent
	h3
		b Introduction

	p In classical trees all items in a leaf are assigned the same values. In this model, all are given \(\theta \) for a parametric model.
	p This makes the resulting trees smoother.
	p We have some \(\hat y_i=f(\mathbf x_i, \theta )+\epsilon \)
	p The approach generalises classic regression trees. There the estimate was \(\bar y\). Here it's a regression.
	h3
		b Training
	p At each node we do OLS. If the \(R^2\) of the model is less than some constant, we find a split which maximises the minimum of the two new \(R^2\).


