extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Classifying with probabilistic decision trees
block subSubContent
	h3
		b Introduction
	p Previously our decision tree classifier was binary.
	p We can instead adapt the mixed tree model and using a probit model at each leaf.
	p 
