extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Training with unbalanced data
block subSubContent
	h3
		b Introduction
	p unbalanced dataset: more of one class than others
	p can reduce sample of majorit, or synthetically generate minority

