extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Goals: predictions and identifications
block subSubContent
	h3
		b Defining
	p Linear models for each purpose: predicting, understanding relations
