extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Leverage
block subSubContent
	h3
		b Introduction
	p Leverage measures how much the predicted value of \(y_i\), \(\hat y_i\), changes as \(y_i\) changes.
	p We have:
	p \(\mathbf y = \mathbf X \theta +\mathbf u\)
	p \(\hat \theta =X(X^TX)^{-1}X^Ty\)
	p \(\hat \theta =P_Xy\)

	p The leverage score is defined as:
	p \(h_i=P_{ii}\)
	p 
