extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Defining linear models
block subSubContent


	h3
		b Defining
	p One option for \(f(X)\) is a linear model.
	p $$f(X_i)=\hat{Y_i}= \beta_0+\sum_{j=1}^p\beta_iX_{ij}$$
	p The values for \(\beta \) are the regression coefficients.
	p So we have:
	p $$Y_i=\beta_0+\sum_{j=1}^p\beta_iX_{ij}+e(X_i)+e_i$$
	p We define the error of the estimate as:
	p $$\epsilon_i=Y_i-\hat{Y_i}$$
	p $$\epsilon_i=e(X_i)+e_i $$
	p So:
	p $$Y_i=\beta_0+\sum_{j=1}^p\beta_iX_{ij}+\epsilon_i$$
	p The linear model could be wrong for two reasons. No linear model could be appropriate, or the wrong coefficients could be provided for a linear model.

	p linear regression if f is a linear function on w. NB: not linear in x necessarily. could have x^2 etc, but still linear in w
