extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Maximum Likelihood Estimator for linear regression
block subSubContent
	h3
		b 
	p w_{LS}=(X^TX)^{-1}X^Ty
	p E[w_{LS}]=w
	p Var[W_{LS}]=\sigma^2 (X^TX)^{-1}

	p W_{LS}=W_{ML}

	p equivalence between maximum likelihood and LS, under assumptions

