extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Modelling non-linear functions as linear
block subSubContent
	h3
		b Polynomials
	p The function \(y=x^2\) is not linear, however we can model is as linear, by including \(x^2\) as a variable.
	p We can expand this, and using linear models to estimate parameters for functions such as:
	p \(y=ax^3+bx^2+xz\)
	h3
		b Logarithms and exponentials
	p We can also transform data using logarithms and exponents.
	p For example we can model
	p \(\ln y=\theta \ln x\)

