extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Modelling non-linear functions as linear
block subSubContent
	h3
		b Polynomials
	p The function \(y=x^2\) is not linear, however we can model is as linear, by including \(x^2\) as a variable.
	p We can expand this, and using linear models to estimate parameters for functions such as:
	p \(y=ax^3+bx^2+xz\)
	h3
		b Logarithms and exponentials
	p We can also transform data using logarithms and exponents.
	p For example we can model
	p \(\ln y=\theta \ln x\)
	h3
		b Choosing which model to use
	p Different models will affect the bias and variable of the parameters, and the explanatory power of the model.
	p There is no one correct model.
	h3
		b Creating linear models
	p Adding squared, logs, exponents etc


	p taylor series
	p logs, exponents can be used
	p can have interactiosn between variables
	p Linear models can represent complex non-linear relationships.
	p If the underlying relationship is non-linear, for example \(E(Y|X)=5+3x^2\), we can still represent this as a linear model.
	p We can create a new variable \(z=x^2\) and then use the model:
	p \(y=\theta_+\theta_1z\)


