extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Mean and variance of predictions
block subSubContent
	h3
		b Bias
	p \(\hat y =\theta x\)
	p \(E[\hat y-y]=E[\theta x-y]\) 
	h3
		b Variance
	p \(\Var [\hat y-y]=\Var [\theta x-y]\)
