extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Mean and variance of predictions
block subSubContent
	h3
		b Bias
	p \(\hat y =\theta x\)
	p \(E[\hat y-y]=E[\theta x-y]\) 

	p \(y=\hat y + \epsilon \)

	p \(E[y-\hat y |X]\)

	p \(E[\epsilon |X]\)

	p Unbiased so long as independent of error term.

	h3
		b Variance
	p \(\Var [\hat y-y]=\Var [\theta x-y]\)

	p \(Var[y-\hat y |X]\)

	p \(Var[\epsilon |X]\)

