extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The projection and annihilation matrices
block subSubContent
	h3
		b The projection matrix
	p We have \(X\).
	p The projection matrix is \(X(X^TX)^{-1}X^T\)
	p The projection matrix maps from actual y to predicted y
	p \(\hat y = Py\)
	p Each entry refers to the covariance between actual and fitted

	p \(p_{ij}=\frac{\cov (\hat y_i, y_j}{\var (y_j)}\)
	h3
		b The annihilation matrix
	p We can get residuals too:

	p u=y-\hat y=y-py=(1-P)y

	p 1-P is called the annihilator matrix
	p We can now use the propagation of uncertainty

	p \(\Sigma^f = A\Sigma^x A^T\)

	p To get:

	p \(\Sigma^u = (I-P)\Sigma^y (I-P)\)

	p Annihilator matrix is:

	p \(M_X=I-X(X^TX)^{-1}X^T\)

	p Called this because:

	p \(M_XX=X-X(X^TX)^{-1}X^TX\)

	p \(M_XX=0\)

	p 
	p Is called residual maker

	p My=\epsilon
 

