extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Ramsey RESET test
block subSubContent
	h3
		b Introduction
	p The Ramsey Regression Equation Specification Error Test (RESET)
	p Once we have done our OLS we have \(\hat y\).
	p The Ramsey RESET test is an additional stage, which takes these predictions and estimates:
	p \(y=\theta x+\sum_{i=1}^3\alpha_i \hat {y^i}\)
	p We then run an F-test on \(\alpha\), with the null that \(\alpha = 0\).

