extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Forward and backward chaining
block subSubContent
	h3
		b Introduction
	p Forward and backward chaining

	p has a knowledge base (domain specific content)
	p has an inference mechanism (domain independent algorithms)

	p if we want to find out whether the knowledge base implies a statement, we can check using semantics or sytax.

	p Inference is similar to search. We start with the knowledge base. We can apply the inference rule to all statements which match the top line of modus ponens (or another rule).

	p The actions are inference rules. We add new sentences to the b

	p agents can also interact with the world in order to add to the knowledge base

	p convert each item in knowledge base to CNF for resolution rule.
	
