extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Intervals
	h3
		b Orderings
	p For a set, certain pairs of elements have a binary relation such that one preceeds the other.
	p
		b Antisymmetry
	p Ordered as antisymmetric. That is, the only case where the relation is satisfied in both directions is if the elements are equal.
	p $$(a\le b)\land (b\le a)\rightarrow (a=b)$$
	p Similarly:
	p This latter part is a definition.
	p
		b Transitivity
	p $$(a\le b)\land (b\le c)\rightarrow (a\le c)$$
	p Usual transitive property.
	p
		b Strict and non-strict partial order.
	p The relation \(\le \) is refered to as non-strict.
	p There is a similar strict relation relation, \(<\):
	p $$(a\le b)\land ¬(b\le a)\rightarrow (a < b)$$

	h3
		b Types of orders
	p There can be many types of orderings. Some examples are included below.
	p
		b Totally ordered sets
	p A totally ordered set is one where the relation is:
	p $$(a\le b)\lor (b\le a)$$
	p The relationship is defined on all pairs.
	p Note that totality implies reflexivity.
	ul
		li Antisymmetric
		li Transitive
		li Total
	p
		b Partially ordered set
	p A partially ordered set, or poset, is one where the relation is;
	p $$a\le a$$
	p That is, every element is related to itself.
	ul
		li Antisymmetric
		li Transitive
		li Reflexive
	p
		b Well-ordering
	p A well-ordering on a set is a total order on the set where the set contains a minimum number. For example the relation \(\le \) on the natural numbers is a well-ordering because \(0\) is the minimum.
	p The relation \(\le \) on the integers however is not a well-ordering, as there is no minimum number in the set.
	h3
		b Ordering of rational numbers
	p
		b Ordering of the natural numbers
	p For natural numbers we can say that number \(n\) preceeds number \(s(n)\). That is:
	p $$n\le s(n)$$
	p Similarly:
	p $$s(n)\le s(s(n))$$
	p From the transitive property we know that:
	p $$n\le s(s(n))$$
	p We can continue this to get:
	p $$n\le s(s(...s(n)..))$$
	p What can we say about an arbitary comparison?
	p $$a\le b$$
	p We know that either:
	ul
		li $$a=b$$
		li $$b=s(s(...s(a)...))$$
		li $$a=s(s(...s(b)...))$$

	p In the first case the relation holds.
	p In the second case the relation holds.
	p In the third case the relation does not hold, but antisymmetry holds.
	p As this is is then defined on any pair, the order on natural numbers is total.
	p As there is a minimum, \(0\), the relation is also well-ordered.
	p However if this does not hold then the following instead holds:
	p
		b Ordering of the integers
	p Integers are an ordered pair of naturals.
	p $$\{\{x\},\{x,y\}\}$$
	p For example \(-4\) can be:
	p $$\{\{4\},\{4,8\}\}$$
	p $$\{\{0\},\{0,8\}\}$$
	p We extend the ordering to say:
	p $$\{\{x\},\{x,y\}\}\le \{\{s(x)\},\{s(x),y\}\}$$
	p $$\{\{x\},\{x,s(y)\}\}\le \{\{x\},\{x,y\}\}$$
	p So can we define this on an arbitrary pair:
	p $$\{\{a\},\{a,b\}\}\le \{\{c\},\{c,d\}\}$$
	p We know that:
	p $$\{\{a\},\{a,b\}\}=\{\{s(a)\},\{s(a),s(b)\}\}$$
	p And either of:
	p $$\{\{a\},\{a,b\}\}=\{\{0\},\{0,A\}\}$$
	p $$\{\{a\},\{a,b\}\}=\{\{B\},\{B,0\}\}$$
	p $$\{\{a\},\{a,b\}\}=\{\{0\},\{0,0\}\}$$
	p As the latter is a case of either of the other \(2\), we consider only the first \(2\).
	p So we can define:
	p $$\{\{a\},\{a,b\}\}\le \{\{c\},\{c,d\}\}$$
	p As any of:
	p $$1: \{\{0\},\{0,A\}\}\le \{\{0\},\{0,C\}\}$$
	p $$2: \{\{0\},\{0,A\}\}\le \{\{D\},\{D,0\}\}$$
	p $$3: \{\{B\},\{B,0\}\}\le \{\{0\},\{0,C\}\}$$
	p $$4: \{\{B\},\{B,0\}\}\le \{\{D\},\{D,0\}\}$$
	p Case 1:
	p $$\{\{0\},\{0,A\}\}\le \{\{0\},\{0,C\}\}$$
	p Trivial, depends on relative size of \(A\) and \(C\).
	p

	p Case 2:
	p $$\{\{0\},\{0,A\}\}\le \{\{D\},\{D,0\}\}$$
	p We can see that:
	p $$\{\{D\},\{D,A\}\}\le \{\{D\},\{D,0\}\}$$
	p And therefore this holds.
	p

	p Case 3:
	p $$\{\{B\},\{B,0\}\}\le \{\{0\},\{0,C\}\}$$
	p We can see that:
	p $$\{\{B\},\{B,0\}\}\le \{\{B\},\{B,C\}\}$$
	p And therefore this does not hold.
	p
	p Case 4:
	p $$\{\{B\},\{B,0\}\}\le \{\{D\},\{D,0\}\}$$
	p Trivial, like case 1.
	p
	
	p
		b Ordering of the rational numbers
	p A rational is an ordered pair of integers.
	p $$\{\{a\},\{a,b\}\}$$

	h3
		b Intervals
	p For a totally ordered set we can define a subset as being all elements with a relationship to a number. For example:
	p $$[a,b]=\{x:a\le x \land x\le b\}$$
	p This denotes a closed interval. Using the definition above we can also define an open interval:
	p $$(a,b)=\{x:a< x \land x< b\}$$
