extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Demand elasticity
block subSubContent
	h3
		b Measuring demand elasticity
	p Demand elasticity
	p we measure elsaticities as they are. there may be existing cmpetition barriers which cause current substitution. without current monopolies, there may be more unique markets.

	p eg monopolist has product with sbustitutve, but it is only substitute because the monopolist has kept the price so high.

	p hard to measure elasticity due to endogeneity. better approach would be look for external shocks or surveys for demand elasticity

	h3
		b Estimating
	p Let's say the demand function is:
	p \(Q=\alpha+\beta P + \epsilon \)

	p How can we estimate this?

	p OLS will give biased results if \(P\) is correlated with \(\epsilon \).

	p We can estimate if we have an instrumental variable for \(P\). 

	h3
		b BLP demand curve estimation (Berry, Levinsohn & Pakes)
