extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Discrete choice utility function
block subSubContent
	h3
		b Introduction
	p We have a consumer \(i\) who has utility from the good \(j\) and their remaining money.
	p \(u_{ij}=\alpha (y_i-p_j)\beta x_j+\xi_j +\epsilon_{ij}\)
	h3
		b Mixed
	p \(u_{ij}=\alpha_i (y_i-p_j)\beta_i x_j+\xi_j +\epsilon_{ij}\)
