extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Random utility functions
block subSubContent
	h3
		b Recap of continuous demand

	p With non-discrete choice a consumer chooses how much of product \(x\) to consume.

	p The utility function is of the form:

	p \(U_i(x_1,...,x_m;d)\)

	p And the consumer chooses how much of \(x_i\) to consume to maximise this, subject to the budget constraint.

	p We include features relating to the individual, \(d\).
	h3
		b Discrete choice
	p The utility customer \(i\) gets from product \(j\) is:
	p \(U_{ij}=f_i(p,d)+\epsilon_{ij}\)
	p The customer chooses the product with the highest utility.
	h3
		b Price preferences
	p We start with a simple model, where the customer has price preference.
	p \(U_{ij}=-\beta_i p_{ij} +\epsilon_{ij}\)
	h3
		b Product characteristics
	p \(U_{ij}=\alpha_i x_j -\beta_i p_{ij} +\epsilon_{ij}\)
	h3
		b Individual characteristics
	p \(U_{ij}=\alpha_i x_j -\beta_i p_{ij} + \theta_j d_i +\epsilon_{ij}\)
	h3
		b The general form
	p We can convert this to the form:

	p \(U_{ij}=\Theta z_{ij} + \epsilon_{ij}\)

	h3
		b The outside option
	p We need to know the market share of the outside option. Do thsi theoretically. Eg number of customers in area, and 1 per day.

