extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Modelling homogeneous preferences with multinomial logit
block subSubContent
	h3
		b Homogeneous model

	p All consumers face the same prices and products.

	p There may be discounts.

	h3
		b Errors
	p We assume the parameters are the same
	p If errors are IID and extreme we get:

	p \(s_j=\dfrac{e^{\Theta z_j}}{\sum_k e^{\Theta z_k }}\)
	h3
		b The outside option

	p A user has the option of not buying anything.

	p \(U_0=0\)

	p This gives us the following shares:

	p \(s_j=\dfrac{e^{\Theta z_j}}{e^0+\sum_{k=1} e^{\Theta z_k }}\)

	p \(s_j=\dfrac{e^{\Theta z_j}}{1+\sum_{k=1} e^{\Theta z_k }}\)
	h3
		b Estimating the multinomial logit model
	p We have market shares, prices and product characteristics.

	h3
		b Own-price elasticity of demand

	p \(s_j=\dfrac{e^{\Theta z_j}}{1+\sum_{k=1}} e^{\Theta z_k }\)

	p \(s_j=\dfrac{e^{\alpha x_j -\beta p_j + \theta_j d_i}}{1+\sum_{k=1} e^{ \alpha x_k -\beta p_k +\theta_k d_i}}\)

	p \(\dfrac{\delta s_j }{\delta p_j}\dfrac{p_j}{s_j}=-\beta p_j(1-s_j)\)

	p \(\dfrac{\delta s_j }{\delta p_k}\dfrac{p_j}{s_j}=\beta p_ks_j\)

	p This means that the lower the price, the lower the own price elasticity of demand.

	p This means that mark ups are higher for cheaper goods, which doesn't always match reality.

	p This can be adjusted by changing the form. For example we could use ln p or p^2

	p However, we are still getting the shape by assumption.

	h3
		b Cross-price elasticity of demand
	p 
