extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Modelling heterogeneous preferences with individual characteristics
block subSubContent
	h3
		b Recap
	p In the multinomial logit model we had:
	p \(P_{ij}=\dfrac{e^{\Theta z_j}}{1+\sum_{k=1} e^{\Theta z_k }}\)
	h3
		b Adding customer characteristics
	p If \(z_j\) just includes product characteristics then we have homogeneous preferences.
	p We can include customer level data in \(z_j\), for example individual income, location, age etc.
	p 
	h3
		b Estimation
	p As before, we want product characteristics and prices.
	p However rather than market share we instead use customer level  information.
	
