extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Modelling homogeneous preferences with nested logit
block subSubContent
	h3
		b Nested logit
	p With IID all goods are equal substitutes. If prices rise customers will switch to others in proportion to market size.

	p In practice if the price of a cheap car rises, there will be more substitution to other cheap cars than expensive cars.

	p Nested logit can address this.
	h3
		b Estimating the nested logit model
	p As with the multinomial logit model, we have prices, market shares and product characteristics.
	h3
		b Own-price elasticity of demand
	p 
	h3
		b Cross-price elasticty of demand
	p 

