extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Modelling homogeneous preferences with multinomial logit
block subSubContent
	h3
		b Recap
	p Our model is:
	p \(U_{ij}=\Theta z_{ij} + \epsilon_{ij}\)
	p \(U_{ij}=\alpha_i x_j -\beta_i p_{ij} + \theta_j d_i +\epsilon_{ij}\)


	h3
		b Homogeneous model
	p We model all customers as having the same preferences.
	p \(U_{ij}=\alpha x_j -\beta p_{ij} + \theta_j d_i +\epsilon_{ij}\)


	h3
		b The multinomial logit assumption
	p If errors are IID and extreme we get:

	p \(P_{ij}=\dfrac{e^{\Theta z_j}}{\sum_k e^{\Theta z_k }}\)
	h3
		b The outside option

	p A user has the option of not buying anything.

	p \(U_0=0\)

	p This gives us the following shares:

	p \(P_{ij}=\dfrac{e^{\Theta z_j}}{e^0+\sum_{k=1} e^{\Theta z_k }}\)

	p \(P_{ij}=\dfrac{e^{\Theta z_j}}{1+\sum_{k=1} e^{\Theta z_k }}\)
	h3
		b Own-price elasticity of demand

	p \(P_{ij}=\dfrac{e^{\Theta z_j}}{1+\sum_{k=1}} e^{\Theta z_k }\)

	p \(P_{ij}=\dfrac{e^{\alpha x_j -\beta p_j + \theta_j d_i}}{1+\sum_{k=1} e^{ \alpha x_k -\beta p_k +\theta_k d_i}}\)

	p \(\dfrac{\delta P_{ij} }{\delta p_j}\dfrac{p_j}{P_{ij}}=-\beta p_j(1-P_{ij})\)

	p \(\dfrac{\delta P_{ij} }{\delta p_k}\dfrac{p_j}{P_{ij}}=\beta p_kP_{ij}\)

	p This means that the lower the price, the lower the own price elasticity of demand.

	p This means that mark ups are higher for cheaper goods, which doesn't always match reality.

	p This can be adjusted by changing the form. For example we could use ln p or p^2

	p However, we are still getting the shape by assumption.

	h3
		b Cross-price elasticity of demand
	p 
	h3
		b Getting aggregate market shares
	p \(s_j = \dfrac{1}{n}\sum_i P_{ij}\)
