extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Own-price elasticity of demand
block subSubContent
	h3
		b Derivative of Marshallian demand
	p We have our demand function:
	p \(x_i=x_{di}(I, \mathbf p)\)
	p The derivative of this with respect to price is the additional amount consumed after prices increase.
	p \(\frac{\delta }{p_i}x_{di}(I, \mathbf p)\)
	h3
		b Elasticity of demand
	p In addition to the derivative, we may be interested in the elasticity. That is, the proportional change in output after a change in price.
	p \(\xi_i =\dfrac{\dfrac{\Delta x_i}{x_i}}{\dfrac{\Delta p_i}{p_i}}\)
	p \(\xi_i =\dfrac{\Delta x_i}{\Delta p_i}\dfrac{p_i}{x_i}\)
	h3
		b Point-price elasticity of demand
	p We evaluate infintesimal movements.
	p \(\xi_i =\dfrac{\delta x_i}{\delta p_i}\dfrac{p_i}{x_i}\)
	h3
		b Constant price elasticity of demand
	p If the point-price elasticity of demand is constant we have:
	p \(\xi_i =\dfrac{\delta x_i}{\delta p_i}\dfrac{p_i}{x_i}=c\)
	p This means that small changes in the price at low level cause large changes in quantity.
	h3
		b Arc-price elasticity of demand
	p We may have price changes which are non-infintesimal.

	p \(E_d=\frac{\Delta Q/\bar Q}{\Delta P/\bar P}\)

	p Where \(\bar Q\) and \(\bar P\) are the mid-points between the start and end.
