extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Cross-price elasticity of demand, complements and substitutes
block subSubContent
	h3
		b Derivative of Marshallian demand
	p We have our demand function:
	p \(x_i=x_{di}(I, \mathbf p)\)
	p The derivative of this with respect to price is the additional amount consumed after prices increase.
	p \(\frac{\delta }{p_i}x_{di}(I, \mathbf p)\)
	p 
	h3
		b Complements
	p
	h3
		b Substitutes
