extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Engel curves and income elasticity of demand
block subSubContent
	h3
		b Introduction
	p The Engel curve shows demand for a good as a function of income.
	p 
	h3
		b Derivative
	p \(x_{di}=x_{di}(I, \mathbf p)\)
	p \(\dfrac{\delta }{\delta I}x_{di}(I, \mathbf p)\)
	h3
		b Income elasticity of demand
	p \(\xi_i =\dfrac{\delta x_{di}}{\delta I}\dfrac{I}{x_{di}}\)
	p 

