extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Ordinary goods and Giffen goods
block subSubContent
	h3
		b Ordinary goods
	p As price rises, demand goes down.
	h3
		b Giffen goods
	p As price rises, demand goes up. Not because of the slope of the demand curve, but because the income effect and inferior effect are strong.
	p Substitution means you buy less.
	p Income means you buy less generally, but move towards inferior goods.
