extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Indifference curves and marginal rate of substitution
block subSubContent
	h3
		b Indifference curves
	p We have \(U=f(x,y)\)

	p An indifference curve is a curve where a consumer is indifferent to all points on it.
	p \(f(x,y)=c\).
	h3
		b Marginal rate of substitution

	p The marginal rate of substitution is the amount of one good that a customer is willing to give up for another.

	p This is the gradient of the indifference curve.

	p \(MRS(x, y)=\frac{MU(x)}{MU(y)}\)

