extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Indirect utility functions
block subSubContent
	h3
		b The utility function
	p The normal utility function is:
	p \(U=f(\mathbf x)\)
	p We have our demand:
	p \(x_{di}=x_{di}(I, \mathbf p)\)
	h3
		b The indirect utility function
	p We can plut this in to get:
	p \(U=g(I, \mathbf p)\)
