extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Instrumental variables for demand estimation
block subSubContent
	h3
		b Introduction
	p 
	h3
		b Cost data from firms
	h3
		b Weather
	h3
		b Exogeneous cost increases
	h3
		b Product characteristics
	p We can use the characteristics of products, and other products.
	h3
		b Price increases in other geographies
	p Assume only correlated with marginal cost in other geography.
