extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Marshallian demand
block subSubContent
	h3
		b Introduction
	p We can write a demand function:
	p \(x_i=f(I, \mathbf p)\)
	p We can derive this from the first-order conditions of a specific utility function.
