extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Normal goods (necessities and luxuries) and inferior goods
block subSubContent
	h3
		b Normal goods
	p As income rises, demand also rises.
	p This is the same as saying the income elasticity of demand is above \(0\).
	p \(\xi_i =\dfrac{\delta x_{di}}{\delta I}\dfrac{I}{x_{di}}\)

	h3
		b Inferior goods
	p An inferior good is one where the demand falls as income increases.
	p This is the same as the income elasticity of demand being less than \(0\).
	h3
		b Necessities
	p Necessities are goods which increase in demand as income rises, but by a smaller proportion.
	p The income elasticity of demand is between \(0\) and \(1\).
	h3
		b Luxuries
	p Luxuries are goods which increase in demand as income rises, by a larger proportion.
	p The income elasticity of demand is above \(1\).

