extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Utility functions and marginal utility
block subSubContent
	h3
		b Utility functions
	p 
	h3
		b Marginal utility

	p We have \(U=f(\mathbf x\).

	p pThe marginal utility of product \(x_1\) is:

	p \(\frac{\delta }{\delta x_1}f(\mathbf x)\)

