extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Finding strong rules using the Apriori algorithm
block subSubContent
	h3
		b Finding frequent patterns
	p We can use search algorithms to find frequent patterns. Starting at the empty set.
	h3
		b Apriori algorithm
	p Breadth first search to generate candidate set of itemsets with support above some value.
	p Start with a \(1\)-itemset, and increase \(k\) once done.
	p Once we have found a frequent pattern, we can immediately identify other frequent patterns associated with it.
	p We can do this by looking at confidence, not support.

