extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Angles
block subSubContent
	h3
		b Recap: Cauchy-Schwarz inequality
	p This states that:
	p \(|\langle u,v\rangle |^2 \le \langle u, u\rangle \dot \langle v, v\rangle \)
	p Or:
	p \(\langle v,u\rangle\langle u,v\rangle \le \langle u, u\rangle \dot \langle v, v\rangle \)
	h3
		b Introduction
	p \(\langle v,u\rangle\langle u,v\rangle \le \langle u, u\rangle \dot \langle v, v\rangle \)
	p \(\dfrac{\langle v,u\rangle\langle u,v\rangle}{||u||.||v||} \le ||u||.||v||\)
	p \(\dfrac{||u||.||v||}{\langle v,u\rangle} \ge \dfrac{\langle u,v\rangle}{||u||.||v||}\)
	p \(\cos (\theta )=\dfrac{\langle u,v\rangle }{||u||.||v||}\)
