extends ./subSubTemplate.jade

block subSubTitle
	h1
		b \(L_p\) norms (\(p\)-norms)
block subSubContent
	p
		b \(L^P\) norm
	p This generalises the Euclidian norm.
	p $$||x||_p=(\sum_{i=1}^{n}|x|^p_i)^{1/p}$$
	p This can defined for different values of \(p\). Note that the absolute value of each element in the vector is used.
	p Note also that:
	p $$||x||_2
	p Is the Euclidian norm.
	p
		b Taxicab norm
	p This is the \(L^1\) norm. That is:
	p $$||x||_1=\sum_{i=1}^{n}|x|_i$$
	h3
		b Angles
	h3
		b Cauchy-Schwarz
