extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Metrics
block subSubContent
	h3
		b What is a metric?
	p We defined a norm as:
	p \(||v||=v^TMv\)
	p A metric is the distance between two vectors.
	p \(d(u,v)=||u-v||=(u-v)^TM(u-v)\)
	h3
		b Metric space
	p A set with a metric is a metric space.

