extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Norms
block subSubContent
	h3
		b Norms
	p We can use norms to denote the "length" of a single vector.
	p \(||v||=\sqrt {\langle v, v\rangle }\)
	p \(||v||=\sqrt {v^*Mv}\)
	h3
		b Euclidian norm
	p If \(M=I\) we have the Euclidian norm.
	p \(||v||=\sqrt{v^*v}\)
	p If we are using the real field this is:
	p \(||v||=\sqrt{\sum_{i=1}^{n}v^2_i}\)
	h3
		b Pythagoras' theorem
	p If \(n=2\) we have in the real field we have:
	p \(||v||=\sqrt{v_1^2+v_2^2}\)
	p We call the two inputs \(x\) and \(y\), and the length \(z\).
	p \(z=\sqrt {x^2+y^2}\)
	p \(z^2=x^2+y^2\)

