extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cell wall
block subSubContent
	h3
		b Introduction
	p This lies outside the cell membrane. This provides the cell with structural support, and allows material through to the membrane.

