extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Glycocalyx
block subSubContent
	h3
		b Introduction
	p This is a layer outside the cell wall for some cells. This can assist with cell-to-cell communication.

