extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cell membrane

block subSubContent
	h3
		b Introduction
	p A cell membrane separates the insides of cell from the environment.
	p Membranes are selectively permeable to compounds.
