extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Depth-limited search
block subSubContent
	h3
		b Depth-limited search
	p Depth-first search with a limit. This is useful if we know the solution is shallower than limit \(l\).
	p Informed: No
	p Time:
	p Space:
	p Complete:
	p Optimal:

