extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Greedy search
block subSubContent
	h3
		b Greedy search
	p find absolute distance from goal for each node. choose node with shortest distance.
	p Cost of each is \(f(n)=h(n)\), where \(h(n)\) is the heuristic cost of node \(n\).

