extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Iterative deepening depth-limited search
block subSubContent
	h3
		b Iterated depth-limited search
	p Does a depth-limited search to a layer \(L\), increases the layer and starts again. The repeats are a waste, but earlier layers are much cheaper.
	p Informed: No
	p Time:
	p Space:
	p Complete:
	p Optimal:

