extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Search algorithms
block subSubContent
	h3
		b Introduction
	p A search algorithm takes a grid and identifies a path from a start point to an end point. Each node in the grid has connections to other nodes, with costs of moving between nodes.
	h3
		b Types of nodes in a search algorithm
	p In each search algorithm there are three types of nodes: unexplored nodes, explored nodes and frontier nodes. At the start of the algorithm the start node is explored, each node connected to the start node is a frontier node, and all other nodes are unexplored nodes.
	p When an algorithm explores a frontier node, it is added to the explored nodes, and all new nodes are added to the frontier nodes.

