extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Uniform cost search
block subSubContent
	h3
		b Uniform cost search
	p Modify BFS to prioritise cost not depth. expand node with lowest path cost. could be "deep".
	p This is the same as dijkstra’s algorithm.
	p can do this in algo by using heaps
	p Informed: No
	p Time: \(O(b^{?})\)
	p Space: \(O(b^{?})\)
	p Complete: Yes
	p Optimal: Yes

