extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bank currency
block subSubContent
	h3
		b Introduction
	p Alice has 10 shells at her bank. If she wants to pay Bob 10 shells for something, she can either take out and give him physical shells or inform the bank of a transfer.
	p If the bank allowed her to withdraw a claim on 10 shells, she could give this to Bob. This is how cash works.
	h3
		b Types of money
	p The supply of money has increased through the use of fractional reserves at the bank. There are different definitions of the money supply:
	ul
		li M0: physical cash outside of banks (90 in our example above)
		li MB: all cash (100)
		li M1: M0 and bank deposits (120)
	p There are also additional measures, with increasing scope.
	p If Alice puts some of the money lent to her in the bank, this could have been lent out, recursively.
	p $$Total money supply = \div{Base money}{Reserve ratio}$$
	p The $$money multiplier$$, the ratio of total money supply to base money is equal to $\div{1}{Reserve ratio}$

