extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The equation of exchange
block subSubContent
	h3
		b Introduction
	p As there’s only so much stuff out there, an increase in the amount of money moving around with cause inflation.
	p This can be shown as:
	p $$MV=PQ$$
	p The amount of money (M) multiplied by the velocity at which money moves (V) must be equal to the average price (P) multiplied by the quantity of stuff (Q). This isn’t a theory, it’s an accounting identity.

