extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Money is liquid and information efficient
block subSubContent
	h3
		b Liquidity of money
	p Liquidity (don’t always want a goat)
	p Alice fishes and Bob hunts, and they trade meat and fish with each other. This much fish for that much meat. This all works perfectly well until Carol, Dan and Eve come along, who wants to trade berries, wood and furs. Now agreeing how much of this for that becomes more complicated, for every good there’s a ratio relative to every other good.
	p So they agree a new system, they collect all of the shells on the island and use these to trade with each other. Now they only have to remember a price for each good.
	p We want divisibility of money.
	h3
		b Information requirements of money
	p Information requirements \((n-1)+(n-2)\) etc v \((n-1)\)
	p $$\sum_{i=1}^n n-i$$
	p $$n^2-\sum_{i=1}^n i$$
	p $$n^2-\frac{n(n+1)}{2}$$
	p $$\frac{n(n-1)}{2}$$
	p Compared to \(n-1\) when money is used.
	h3
		b Stability
	p Don't want to be used for other purposes, demand could fluctuate more, more wasteful.
	
