extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Money supply
block subSubContent
	h3
		b Introduction
	p The supply of money has increased through the use of fractional reserves at the bank. There are different definitions of the money supply:
	ul
		li M0: physical cash outside of banks (90 in our example above)
		li MB: all cash (100)
		li M1: M0 and bank deposits (120)
	p There are also additional measures, with increasing scope.
	p If Alice puts some of the money lent to her in the bank, this could have been lent out, recursively.
	p $$Total money supply = \div{Base money}{Reserve ratio}$$
	p The $$money multiplier$$, the ratio of total money supply to base money is equal to $\div{1}{Reserve ratio}$
	h4 Supply of money base
	p If the base of a currency is shells, someone who finds a large supply of shells increases the supply of the money base, and becomes rich. This creates an incentive to engage in wasteful activity. The additional gold isn’t productive, it just sits in a vault.
	h4 Equation of exchange
	p As there’s only so much stuff out there, an increase in the amount of money moving around with cause inflation.
	p This can be shown as:
	p $$MV=PQ$$
	p The amount of money (M) multiplied by the velocity at which money moves (V) must be equal to the average price (P) multiplied by the quantity of stuff (Q). This isn’t a theory, it’s an accounting identity.
	h4 Quantity theory of money
	p The quantity theory of money states that velocity of money is stable and so increases in the money supply cause proportionate increases in prices.
	p While the supply of money does impact inflation, the velocity of money has a habit of moving around a fair bit. In addition, what we might think of as an increase in the money supply may not in fact be one. For example quantitative easing undertaken in the aftermath of the financial crisis massively pumped massive amounts of base money into the financial system, but at the same time banks were deleveraging and holding more reserves, shrinking the money multiplier. The net effect was modest for the overall supply of money.

