extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The quantity theory of money
block subSubContent
	h3
		b Introduction
	p The quantity theory of money states that velocity of money is stable and so increases in the money supply cause proportionate increases in prices.
	p While the supply of money does impact inflation, the velocity of money has a habit of moving around a fair bit. In addition, what we might think of as an increase in the money supply may not in fact be one. For example quantitative easing undertaken in the aftermath of the financial crisis massively pumped massive amounts of base money into the financial system, but at the same time banks were deleveraging and holding more reserves, shrinking the money multiplier. The net effect was modest for the overall supply of money.

