extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Limit points and closure
block subSubContent
	h3
		b Limit points
	p A point \(x\) in the topological set \(X\) is a limit point for \(S\subset X\) if every neighbourhood of \(x\) contains another point in \(S\).

	p For example \(-1\) is a limit point for the real numbers where \(S\) is \([0,1]\) (or \((0,1)\).
	h3
		b Closure
	p The closure of a subset of a topological space is the subset itself along with all limit points.
	p So the closure of \(|x|<1\) includes \(-1\) and \(1\).
