extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Compact spaces
block subSubContent
	h3
		b Introduction
	p A space \(X\) is compact if each open cover has a finite subcover.

	p If we can define a cover which does not have a finite subcover, then the space is not compact.

	p For example an infinite cover could be tend towards \((0,1)\), eg as \(\frac{1}{n},1-\frac{1}{n}\)

	p This covers \(\(0,1)\), but there is no finite subcover. As a result \((0,1)\) is not compact.

