extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Connected and separated sets
block subSubContent
	h3
		b Introduction
	p Two subsets of \(X\) in topological space \(T\) are separated if each subset is disjoint from the other's closure.

	p So \([-1,0)\) and \((0,1)\) are separated.

	p \([-1,0]\) and \((0,1)\) are not separated.
	p Sets which are not separated are connected.

