extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Topological distinguishability
block subSubContent
	h3
		b Introduction
	p If two points have the same neighbourhoods then they are topologically indistinguishable.

	p For example in the trivial topology, all points are topologically indistinguishable.
