extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Hausdorf space
block subSubContent
	h3
		b Introduction
	p In a Hausdorf (or T\(_2\)) space, any two different points have neighbourhoods which are disjoint.


