extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Neighbourhoods
block subSubContent
	h3
		b Neighbourhood topology
	p We have a set \(X\).
	p For each element \(x\in X\), there is a non-empty set of neighbourhoods \(N\in \mathbf N(x)\) where \(x\in N\subseteq X\) such that:
	ul 
		li If \(N\) is a subset of \(M\), \(M\) is a neighbourhood.
		li The intersection of two neighbourhoods of \(x\) is a neighbourhood of \(x\).
		li \(N\) is a neighbourhood for each point in some \(M\subseteq N\)


