extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Topologies
block subSubContent
	h3
		b Topologies on sets
	p \(T\) is a topology on set \(X\) if:
	ul
		li \(X\in T\)
		li \(\varnothing \in T\)
		li Unions of \(T\) are in \(T\)
		li Intersections of \(T\) are in \(T\)
	h3
		b Examples of topologies: The trivial topology
	p The trivial topology contains only the underlying set and the empty set.
	h3
		b Examples of topologies: The discrete toplogy
	p The discrete toplogy contains all subsets of the underlying set (is this the power set?)
