extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Multivariate Adaptive Regression Splines (MARS)
block subSubContent
	h3
		b Introduction
	p A linear model looks like:
	p \(\hat y =c+\sum_i x_i\theta_i\)
	p MARS instead produces a linear model for subsets of X.
	p \(\hat y =c+\sum_i B_j(x_i,a_j)\theta_i\)
	p Where:
	ul
		li \(B_j=max(0, x_i-a_j)\); or
		li \(B_j=-max(0, a_j-x_i)\)
	p This is trained using a forward pass and a backward pass.
	h3
		b Forward pass
	p 
	h3
		b Backward pass

