extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Principal component regression
block subSubContent
	h3
		b Introduction
	p Do PCA on X.
	p Do OLS with this.
	p Transform parameters by reversing PCA procedure on parameters.
