extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Partial least squares regression
block subSubContent
	h3
		b Introduction
	p This expands on principal component regression.
	p Both X and Y are mapped to new spaces.

