extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Kernel regression
block subSubContent
	h3
		b Quantile regression
	p In other supervised?
	p Normally we return a central estimate, commonly the mean.
	p Quantile regression returns an estimate of the \(i\)th quartile instead.
	p Goal is to find xth quartile of variance.
	
	h3
		b Linear quantile regression
	p 
	h3
		b Tree quantile regression
	p 
