extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Regression trees
block subSubContent
	h3
		b Introduction
	p Our leaves can no longer be classifications.
	p Instead we have \(\theta \) for linear regression at each leaf.
	h3
		b Training
	p We split on RSS at each branch.
