extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Classic regression trees
block subSubContent
	h3
		b Introduction
	p In a classical regression tree, we follow a decison process as before, but the outcome is real number.
	p Within each leaf, all inputs are assigned that same number.
	h3
		b Training
	p With a regression problem we cannot split nodes the same way as we did for classification.
	p Instead by split by the residual sum of squares.

