extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bayesian regression trees
block subSubContent
	h3
		b Introduction
	p We can use priors for the parameters in the leaves of our decision tree.
	h3
		b Choosing priors for \(\theta \)
	p We can base our priors around \(0\) with some \(\Sigma \).
