extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Ordinary differential equations

block subSubContent
	h3
		b Introduction
	p An ordinary differential equation is one with only one independent variable. For example:
	p $$\frac{dy}{dx}=f(x)$$
	p The order of a differential equation is the number of differentials of \(y\) included. For example one with the second derivative of \(y\) is of order \(2\).

	p Ordinary equations can can either implicit or explicit. An explicit function shows the highest order derivative as a function of other terms.
	p An implicit function is one which is not explicit.

	p A linear ODE is an explicit ODE where the derivative terms of \(y\) do not multiply together, that is, in the form:
	p $$y^{(n)}=\sum_ia_i(x)y^{(i)}+r(x)$$

	h3
		b First-order ODEs
	p We have an evolution:

	p \(\frac{dy}{dt}=f(t,y)\)

	p And a starting condition:

	p \(y_0=f(t_0)\)

	p We now discuss various ways to solve these.

