extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Partial differential equations

block subSubContent
	h3
		b Introduction
	p A partial differential equation is one with more than one independent variable. For example:
	p $$x_1\frac{dy}{dx_1}+x_2\frac{dy}{dx_2}=y$$
	h3
		b Example
