extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Sample covariance
block subSubContent
	h3
		b Calculating
	p We previously defined the population covariance as \(\sigma_{XY}=E[(X-\mu_X)^T(Y-\mu_Y)]\).
	p We define the sample covariance as \(\sigma_{XY}=\frac{1}{n}\sum_i(x_i-\bar x)(y_i-\bar y)\).
	p We can calculate this using matrices:
	p \(M=X-\bar x\)
	p \(N=Y-\bar y\)
	p \(\sigma_{XY}=\frac{1}{n}M^TN\).
	h3
		b Sample correlation
	p \(\rho_{XY}=\frac{\sigma_{XY}}{\sigma_X \sigma_Y}\)
	h3
		b Covariance matrix
	p If we have \(n\) variables we can have a \(n\times n \) matrix \(\Sigma \) where:
	p \(\Sigma_{ij} = \sigma_{ij}=\frac{1}{n}(X_i-\bar x_i)^T(X_j-\bar x_j)\)
	h3
		b Centred covariance
	p If \(\bar x = \bar y = 0\) then:
	p \(\sigma_{XY}=\frac{1}{n}X^TY\)
	h3
		b Correlation matrix
	p Here each entry is the correlation rather than the covariance.
