extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Sample mean
block subSubContent
	h3
		b Sample mean
	p We previously defined the population mean is defined as \(\mu=E[X]\).
	p The sample mean is defined as \(\bar x = \frac{1}{n}\sum_i x_i\).

	h3
		b Centred mean
	p We can subtract the mean from each entry in the sample. This will leave a new mean of \(0\). This is convenient for many calculations.
