extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Pearson correlation coefficient
block subSubContent
	h3
		b Definition
	p The Pearson correlation coefficient is definited as the covariance normalised by the individual variances.
	p It is between \(-1\) (total negative linear correlation), \(0\) (no linear correlation) and \(1\) (total negative linear correlation). 
	p \(p_{X,Y}=\frac{cov (X,Y)}{\sigma_X\sigma_Y}\)
