extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Sample range
block subSubContent
	h3
		b Minimum
	p This is the smallest value in the sample.
	h3
		b Maximum
	p This is the largest value in the sample.
	h3
		b Range
	p This is the difference between the maximum and minimum.
	h3
		b Median
	p This is the value whereby 50% of the sample can be found below the value.
	h3
		b Percentiles
	p The \(x\)th percentile is the value by which  \(x%\) of the values can be found below it.
	h3
		b Interquartile range
	p This is the differnence between the \(25\)th percentile and the \(75\)th percentile.

