extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Spearman rank correlation
block subSubContent
	h3
		b Ranking variables.
	p For each of \(2\) variables we create a ranking of them.
	p From \(X\) and \(Y\) we then have \(R_X\) and \(R_Y\).
	h3
		b Calculating the Spearman rank correlation
	p We then calculate the Pearson correlation coefficient between the rankings.
	p \(r_S=\frac{cov(R_X, R_Y)}{\sigma_{R_X}\sigma_{R_Y}}\)
