extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Sample variance
block subSubContent
	h3
		b Sample variance
	p We previously defined the population variance as \(\sigma^2=E[(X-\mu)^2]\).
	p We define the sample variance as \(\sigma^2=\frac{1}{n}\sum_i(x_i-\bar x)^2\).
	p We can calculate this using matrices:
	p \(M=X-\bar x\)
	p \(\sigma^2=\frac{1}{n}M^TM\).
	h3
		b Centred variance
	p If \(\bar x =0\) then 
	p \(\sigma^2=\frac{1}{n}X^TX\).
