extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Identifying the order of integration using Augmented Dickey-Fuller
block subSubContent
	h3
		b Introduction
	p The Dickey-Fuller test with deterministic time trend was:
	p\(\Delta y_t=\alpha + \beta t + \gamma y_{t-1}+\epsilon_t \)

	p The Augmented Dickey-Fuller model adds lags for the differences.

	p \(\Delta y_t=\alpha + \beta t + \gamma y_{t-1}+\sum_i^p \delta_i \Delta y_{t-i} + \epsilon_t \)
