extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Autoregressive models (AR)
block subSubContent
	h3
		b AR(\(1\))
	p Our basic model was:
	p \(x_t=\alpha + \epsilon_t \)
	p We add an autoregressive component by adding a lagged observation.
	p \(x_t=\alpha + \beta x_{t-1}+\epsilon_t\)
	h3
		b AR(\(p\))
	p AR(\(p\)) has \(p\) previous dependent variables.
	p \(x_t=\alpha + \sum_{i=1}^p\beta_ix_{t-i}\)
	h3
		b Propagation of shocks
	p A shock bumps up the output variable, which bumps up output variables forever, at a decreasing rate.



