extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Autoregressive Conditional Heteroskedasticity (ARCH)
block subSubContent
	h3
		b Introduction
	p 
	p There may be heteroskedasticity in an AR model.

 
