extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Autoregressive Integrated Moving Average models (ARIMA)
block subSubContent
	h3
		b Introduction
	p uses differences to remove non statiority

	p also estiamted with box-jenkins

