extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Introduction to forecasting
block subSubContent
	h3
		b Introduction
	p We observe a series of observations:
	p \(x_1, x_2,...,x_t)\)
	p What can we say about \(x_{t+1}\)?
	p If the data was drawn iid then the past data then we would just want to identify moments.
	p However if the data is not iid, for example because it is increasing in time, then this is not the best way.

	h3
		b Regression formation
	p We can model
	p \(x_t=\alpha + \epsilon_t \)
	p 
