extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Moving Average models (MA)
block subSubContent
	h3
		b Introduction
	p We add previous error terms as input variables

	p MA(\(q\)) has \(q\) previous error terms in the model
	p Unlike AR models, the effects of any shocks wear off after \(q\) terms.

	p This is harder to fit the OLS, the error terms themselves are not observed.

