extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Testing for stationarity with Dickey-Fuller (DF) and Augmented Dicky-Fuller (ADF)
block subSubContent
	h3
		b Stationarity
	p 
	h3
		b Unit roots	
	p 
	h3
		b Integration order
	p 
	h3
		b Dickey-Fuller: 
	p The Dickey-Fuller test tests if there is a unit root.

	p The AR(\(1\)) model is:

	p \(y_t=\alpha + \beta y_{t-1}+\epsilon_t\)

	p We can rewrite this as:

	p \(\Delta y_t=\alpha + (\beta -1)y_{t-1}+\epsilon_t\)
	p We test if \(\beta -1)=0.
	
	p If the coefficient on the last term is \(1\) we have a random walk, and the process is non-stationary.

	p If the last term is \(<1\) then we have a stationary process.

	h3
		b Variation: Removing the drift
	p If our model has no intercept it is:
	p \(y_t=\beta y_{t-1}+\epsilon_t\)
	p \(\Delta y_t=(\beta -1)y_{t-1}+\epsilon_t\)
	h3
		b Variation: Adding a deterministic trend
	p If our model has a time trend it is:
	p \(y_t=\alpha \beta y_{t-1}+\gamma t + \epsilon_t\)
	p \(\Delta y_t=\alpha + (\beta -1)y_{t-1}+\gamma t+\epsilon_t\)


	h3
		b Augmented Dickey-Fuller
	p We include more lagged variables.

	p \(y_t=\alpha + \beta t + \sum_i^p \theta_i y_{t-i}+\epsilon_t\)

 

	p If no unit root, can do normal OLS?

