extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Propositional variables
	p Logic allows to write and assess statements.
	h3
		b Truth
	p We start off with two statements: true and false, \(T\) and \(F\).
	h3
		b Propositional variables
	p We can extend our statements to include propositional variables, which can either be true or false. These can be shown with symbols such as:
	p $$\theta $$
	p Such a symbol can stand for a statement which is either true or false, such as:
	ul
		li \(1=1\)
		li I am \(4\) meters tall
		li You are \(25\) years old
	p
		b Limitations of propositional variables 1: paradoxes
	p Not all English language statements can be shown this way. For example:
	ul
		li "this statement is false"
	p Does not take on either value. As we create building blocks for logic, such low level statements must be either true or false.
	p
		b Limitations of propositional variables 2: fixed values
	p Consider the propositional variables:
	ul
		li You are \(25\) years old
		li Bob is \(55\) years old
	p There have in common a logical structure, comparing the age of a thing to the name of a thing, however this cannot be effectively described in propositional logic.