extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Interpretations
	p An interpretation assigns meaning to the symbols included in the signature. For zero-order logic this means variable propositions, predicates and functions.
	p $$\theta(t) \lor \gamma (t)$$
	h3
		b Types of statements
	p
		b Satifisable
	p A given well-formed formula is satisfied if there is some interpretation where it is true.
	p For example the following is not universally true, but is true for some values.
	p
		b Tautology
	p A given well-formed formula is a tautology if it is true in all interpretations.
	p For example the first of these can be satisfied, but only the second is a tautology:
	p $$\theta(t) \lor \gamma (t)$$
	p $$\theta \lor (¬\theta )$$
	h3
		b Truth tables
	p Truth tables can be used to identify formulae which can be satisfied, or are tautologies.
	p A truth table iterates all possible values of and indicates their truth value. The more variables there are the more complex this becomes.
	p Take the formula:
	p $$\theta(t) \lor (¬\theta (t))$$
	p What does a truth table with a constant look like? Well we can still consider each predicate as a propositional variable, and so this is also a tautology.
	p
		b Atomic formulae
	p Atomic formulae are formulae which do not have binary, or n-ary operators
	p
		b Well-formed formulae
	p A well-formed formula is one which is constructed within the rules of the logic. For example the following is not well-formed:
	p $$\theta \land t$$
	p As \(t\) is a term.
