extends ./subSubTemplate.jade

block subSubContent
	h2
		b Predicates, functions, constants and terms
	h3 Terms
	p
		b Terms
	p We previously discussed the propositional variable:
	ul
		li You are \(25\) years old
	p We can consider "you" and \(25\) to be terms.
	h3
		b Predicates
	p Previously we could show the above statement as a propositional variable:
	p $$\theta $$
	p With predicate calculus we can write this as follows:
	p $$P(25)$$
	p We could also expand the predicate to include additional terms, such as:
	p $$P(you,25)$$
	p A propositional variable can be considered a special case of a predicate variable, where the number of inputs is \(0\).
	h3
		b Functions
	p Functions take other terms, and are themselves terms. For example if we wanted to know the age because of a law in a country, we could use:
	p $$P(you,age(UK))$$
	p A function may not be able to produce an output for all inputs. For examples \(age(green)\) has no interpretation.
	p
		b Constants
	p Like predicates, functions can also take different numbers of inputs. Constants, such as “you” and “britain” could be considered functions with \(0\) inputs. As a result we could instead use:
	p $$P(you(),age(UK()))$$
	p We generally denote functions with a lower case letter, so would instead write:
	p $$P(y(),a(b()))$$



	h2
		b Functions
	h3
		b Functions
	p Functions take other terms, and are themselves terms. For example if we wanted to know the age because of a law in a country, we could use:
	p $$P(you,age(UK))$$
	p A function may not be able to produce an output for all inputs. For examples \(age(green)\) has no interpretation.
	p
		b Constants
	p Like predicates, functions can also take different numbers of inputs. Constants, such as “you” and “britain” could be considered functions with \(0\) inputs. As a result we could instead use:
	p $$P(you(),age(UK()))$$
	p We generally denote functions with a lower case letter, so would instead write:
	p $$P(y(),a(b()))$$


	h2
		b Relations
	p
		b Relations
	p We previously showed how predicates could be used to assign truth values to statements involving terms. A special type of these are relations.
	p These are written differently to predicates. Which a predicate may be written:
	p $$P(a,b)$$
	p $$P(x,y)\leftrightarrow x\dotcircle y$$
	p A relation would be written:
	p $$a\dotcircle b$$
	p
		b Examples of relations
	p While we will not formally introduce relations here, key examples include:
	ul
		li Equality \((a=b)\)
		li Membership \((a\in b)\)
		li Ordinality \((a < b)\)
	p Each of these could also be shown in the form:
	p $$P(a,b)$$
	p
		b Inverse relations
	p Consider
	p $$P(a,b)$$
	p There is another relation where which is equivalent
	p $$Q(b,a)$$
	p
		b Are relations always defined?
	p Is the following true?
	p $$P(a,b) \lor Q(a,b)$$
