extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Independence and effectiveness of axioms
		

	p There are many other sets of axioms which allow all correct theorems to be derived.
	p
		b Independence of axioms
	p If an axiom can be derived from other axioms, the axiom is dependent on the other axioms, and is unnecessary.
	p
		b Effectiveness
	p One set of axioms could be all theorems – that is, all formulas which can be derived from axioms are already axioms. Such a system is called ineffective, and makes checking proofs impractical.

	p
		b Consistency
	p A theory is consistent if it does not contain:
	p $$\theta $$
	p $$¬\theta $$
