extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Sets

	h3
		b Terminology
	p We can have preterites which returns true for some elements but not others. We want to describe this collection of elements.
	p
		b Set
	p A set is a collection of elements in the domain. It is generally shown with an upper case letter, like \(A\).
	p
		b Membership relation
	p To do this this we introduce a new relation: membership. If element \(x\) is in set \(A\) then the following relation is true, otherwise it is false:
	p $$x\in A$$
	h3
		b Axiom for defining sets
	p
		b Unrestricted comprehension
	p We add the following axiom for every preterite:
	p $$\forall x \exists B[\rho(x)\leftrightarrow (x\in B)]$$
	p That is, for every predicate whose truth value is dependent on \(1\) input, there is a set containing all elements which make this positive.
	p As this is an axiom for each preterite, rather than an single axiom, this an an axiom schema.
	p
		b Problems with unrestricted comprehension
	p The latter term applies for all predicates.
	p $$\rho(x)$$
	p An example of this is the predicate:
	p $$¬(x\in x)$$
	p This returns true if \(x\) is not a member of itself. This implies the following is true:
	p $$\forall x\exists B[¬(x\in x) \leftrightarrow (x\in B)]$$
	p SHOW RUSSEL'S PARADOX
	p
		b Axiom schema of specification
	p To resolve Russels' paradox, we amend the axiom schema to:
	p $$\forall x \forall A \exists B[(\rho(x,A)\land(x\in A ))\leftrightarrow (x\in B)]$$
	p WHY DOES THIS RESOLVE RUSSEL'S PARADOX?
	h3
		b Additional terminology
	p
		b Not a member
	p Not member relation
	p We know:
	p $$\forall x \forall y [(x\in y)\lor ¬(x\in y)]$$
	p We define:
	p $$\forall x \forall y[¬(x\in y)\rightarrow (x\nin y)]$$
	p
		b Subset
	p Subset relation
	p $$\forall x \forall y [(\forall z \in x)(z\in y)\rightarrow (x\subseteq y)]$$
	h3
		b Set builder notation
	
	h3
		b Axiom of regularity