extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Peano axioms


	p
		b \(0\) exists and is a natural number
	p Our number line contains at least a point.
	p $$\exists 0 [N(0)]$$
	p Possible number lines with this axiom:
	p $$1: [0,1,2,…]$$
	p $$2: [0]$$
	p $$3: [0,1]$$
	p $$4: [0,1,2]$$
	p $$5: [0,1,2,…]\lor[apple, banana, carrot,…]$$
	p
		b There is a successor function for natural numbers
	p Our number can contain different points.
	p $$\forall n [N(n)\rightarrow N(s(n))]$$
	p Possible sequences of \(s(0)\) with these axioms:
	p $$a: [0,1,2,...]$$
	p $$b: [0,0,0,...]$$
	p $$c: [0,1,1,...]$$
	p $$d: [0,1,2,1,2,1,…]$$
	p $$e: [0,1,2,0,1,…]$$
	p Possible number lines with this axiom:
	p $$1: [0,1,2,…] (a)$$
	p $$2: [0] (b)$$
	p $$3: [0,1] (c)$$
	p $$4: [0,1,2] (d, e)$$
	p $$5: [0,1,2,…]\lor[apple, banana,carrot,…]$$
	p
		b The successor function is injective 
	p $$\forall m\forall n [(s(m)=s(n))\leftrightarrow (m=n)]$$
	p This implies that:
	p $$\forall m\forall n [(s(m)=s(n))\ rightarrow (m=n)]$$
	p $$\forall m\forall n [(m=n)\ rightarrow (s(m)=s(n))]$$
	p Possible sequences of \(s(0)\) with these axioms:
	p $$a: [0,1,2,…]$$
	p $$b: [0,0,0,…]$$
	p $$e: [0,1,2,0,1,…]$$
	p Possible number lines with this axiom:
	p $$1: [0,1,2,…] (a)$$
	p $$2: [0] (b)$$
	p $$4: [0,1,2] (e)$$
	p $$5: [0,1,2,…]\lor[apple, banana,carrot,…]$$
	p The successor function never arrives at \(0\)
	p $$\forall n[N(n)\rightarrow ¬(s(n)=0)]$$
	p Possible sequences of \(s(0)\) with these axioms:
	p $$a: [0,1,2,…]$$
	p Possible number lines with this axiom:
	p $$1: [0,1,2,…] (a)$$
	p $$5: [0,1,2,…]\lor[apple, banana,carrot,…]$$
