extends ./subSubTemplate.jade

block subSubContent
	h2
		b Functions
	h3
		b Definiton
	p We can define this as a set of ordered pairs.
	p $$\{\{a\},\{a,b\}\}$$

	h3
		b Domains
	p Domain and co domain
	p Domain is \(X\)
	p Codomain is \(Y\)
	p But range in \(Y\) is image

	h3
		b Describing  functions
	p $$f:X\rightarrow Y$$
	p Eg, for reals,
	p $$f:\mathbb{R} \rightarrow \mathbb{R}$$
	h3
		b Types of functions
	p
		b Injective functions
	p $$f(a)=f(b)\rightarrow a=b$$

	p
		b Surjective functions
	p All points in codomain have at least one matching point in domain

	p Mapping info, details

	p
		b Bijective
	p Both injective and surjective
	p
		b Identity function
	p The identity function maps a term to itself.
	p
		b Idempotent
	p An idempotent function is a function which does not change the term if the function is used more than once. An example is multiplying by \(0\).
	p
		b Inverse functions
	p An inverse function of a function is one which maps back onto the original value.
	p \(g(x)\) is an inverse function of \(f(x)\) if	
	p $$g(f(x))=x$$

	h3
		b Properties of binary functions
	p
		b Commutative
	p A function is commutative if:
	p $$f(x,y)=f(y,x)$$
	p Or:
	p $$x\oplus y = y\oplus x$$
	p
		b Associative
	p A function is associative if:
	p $$f(f(x,y),z)=f(x,f(y,z))$$
	p $$(x\oplus y)\oplus z = x\oplus (y\oplus z)$$
	p
		b Distributive
	p A function \(f(x,y)\) is left distributive over \(g(a,b)\) if:
	p $$f(x,g(y,z))=g(f(x,y),f(x,z))$$
	p Alternatively, function \(\dotcircle \) is left distributive over \(\oplus \) if:
	p $$x\dotcirle(y\dotcross z)=(x\dotcircle y) \dotcross (x\dotcircle z)$$
	br
	p Similarly a function \(f(x,y)\) is right distributive over \(g(a,b)\) if:
	p $$f(g(x,y),z))=g(f(x,z),f(y,z))$$
	p Alternatively, function \(\dotcircle \) is right distributive over \(\dotcross \) if:
	p $$(x\dotcross y)\dotcircle z=(x\dotcircle z) \dotcross (y\dotcircle z)$$
	br
	p A function is distributive over another function if it both left and right distributive over it.

	h3
		b Axiom of replacement
	h3
		b Axiom of union
	p For all pairs of sets, there exists another set with overlapping elements.
	p $$\forall a \forall x \forall y \exists z[a\in z \leftrightarrow (a\in x \land a\in y)]$$
	h3
		b Axiom of power set
	p For every set, there exists another set containing all subsets of the set.
	p $$\forall a \forall x \exists z[a\subset x\leftrightarrow a\in z]$$
	h3
		b Axiom of pairing
	p For all pairs of sets, there exists another set with all the elements from both.
	p $$\forall a \forall x \forall y \exists z[a\in z \leftrightarrow (a\in x \lor a\in y)]$$
