extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Functions

	p We can define this as a set of ordered pairs.
	p $${{a},{a,b}}$$
	p The identity function maps a term to itself.
	p An idempotent function is a function which does not change the term if the function is used more than once. An example is multiplying by \(0\).


	p Domain and co domain
	p $$f:X\rightarrow Y$$
	p Domain is \(X\)
	p Codomain is \(Y\)
	p But range in \(Y\) is image
	p Eg, for reals,
	p $$f:\mathbb{R} \rightarrow \mathbb{R}$$

	p Injective:
	p $$f(a)=f(b)\rightarrow a=b$$

	p Surjective:
	p All points in codomain have at least one matching point in domain

	p Mapping info, details

	p Bijective. each
	h3 Inverse functions


	h3 Properties of functions
	p Commutative
	p $$f(a,b)=f(b,a)$$
	p Associative
	p $$f(a,f(b,c))=f(f(a,b),c)$$
	p “. Is Left distributive over + if”
	p $$g(a,f(b,c)=f(g(a,b),g(a,c))$$
	p “. Is right distributive over + if”
	p $$g(f(a,b),c)=f(g(a,c),g(b,c))$$
	p . is distributive over + if
	p Left and right distributive


	h3
		b Axiom of replacement
	h3
		b Axiom of union

	h3
		b Axiom of power set

	h3
		b Axiom of pairing

