extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Zermano-Fraenkel set theory 3 (infinity) and the natural numbers


	p Infinite
	p The axiom of infinity states that:
	p $$\exists \mathbb{I} (\varnothing \in \mathbb{I} \land \forall x \in \mathbb{I}((x\lor \{x\})\in \mathbb{I}))$$
	p We can explore this in parts.
	p
		b There exists a set, called the infinite set
	p $$\exists \mathbb{I}$$
	p
		b This set contains the null set
	p $$\varnothing \in \mathbb{I}$$
	p For all elements in this set, there also exists another element
	p $$\forall x \in \mathbb{I}((x\lor \{x\})\in \mathbb{I})$$
	h3
		b Axiom of infinity satisfies the Peano axioms
	p
		b Zero
	p Zero is defined as the empty set.
	p $$0:=\{\}$$
	p \(0\) is a natural number.
	p $$N(0)$$
	p
		b Sequential numbers
	p $$\forall n s(n)=n\lor \{n\}$$
	p $$\forall n N(n)\rightarrow N(s(n))$$

	p We can define natural numbers by starting with \(0\).
	p We define \(0\) as the empty set. That is:
	p $$0:=\{\}$$
	p We then define all sequential numbers as the set of all preceding numbers. So:
	p $$1:=\{0\}=\{\{\}\}$$
	p $$2:=\{0,1\}=\{\{\},\{\{\}\}\}$$
	p $$3:=\{0,1,2\}=\{\{\},\{\{\}\},\{\{\},\{\{\}\}\}\}$$
	p And so on, so:
	p $$s(n)=\{n,\{n\}\}$$
