extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cardinality

block subSubContent
	h2
		b Cardinality of finite sets


	p Two sets have the same cardinality if there exists a bijective function between members of each set. That is, for each element in each set, there is a corresponding element in the other set.
	p For example the following have the same cardinality
	p $$\{0,1,2,3\}$$
	p $$\{4,6,8\}$$
	p Because we can define the following function
	p $$f(x)=2x+4$$
	p These both have a cardinality of \(4\).
	p We can denote the cardinality of set \(S\) as \(|S|\).
	p What about the cardinality of Cartesian products? So if we have sets:
	p $$\{1,2,3\}$$
	p $$\{a,b\}$$
	p We can have the Cartesian product set:
	p $$\{(1,a),(2,a),(3,a),(1,b),(2,b),(3,b)\}$$
	p We can see that:
	p $$|A.B|=|A|.|B|$$


	h2
		b Cardinality of infinite sets
	p
		b Cardinality of natural numbers
	p Consider the infinite set, that is the set of all natural numbers which is defined in ZFC. Clearly there isn’t a natural number cardinality of this – we instead write \(\aleph_0\).
	p We call sets with this cardinality, countably infinite.
	p So:
	p \(|\mathbb{N} |=\aleph_0\)
	p
		b Cardinality of natural numbers above \(x\)
	p
		b Cardinality of even/odd natural numbers
	p What about the cardinality of even numbers? Well, we can define a bijective function between each:
	p $$f(n)=2n$$
	p Similarly for odd numbers:
	p $$f(n)=2n+1$$
	p So these both have cardinality \(\aleph_0\):
	p \(|\{n\in \mathbb{N}:\frac{n}{q}=0\} |=|\mathbb{N}|=\aleph_0\)
