extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Naïve set theory and its problems


	p
		b Unrestricted comprehension
	p $$\forall w_1,…,w_n\exists B\forall x[(x\in B)\leftrightarrow \rho(x,w_1,…,w_n)]$$
	p That is, for every predicate whose truth value is dependent on \(1\) input, there is a set containing all elements which make this positive.
	p
		b Russels’ paradox
	p Problem with unrestricted comprehension
	p The latter term applies for all predicates.
	p $$\rho(x,w_1,…,w_n)$$
	p An example of this is the predicate:
	p $$¬(x\in x)$$
	p This returns true if \(x\) is not a member of itself. This implies the following is true:
	p $$\forall x\exists B[¬(x\in x) \leftrightarrow (x\in B)]$$
	
