extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Set builder notation
	

	h3
		b Null set
	p Take the axiom schema of specification
	p $$\forall w_1,…,w_n \forall A\exists B\forall x[(x\in B)\leftrightarrow (x\in A \land \rho(x,w_1,…,w_n, A))]$$
	p If the predicate returns null for all values of \(x\), then:
	p $$\forall A\exists B\forall x[(x\in B)\leftrightarrow (x\in A \land F)]$$
	p $$\forall x \exists B [¬(x\in B)]$$
	p We refer to this \(B\) as the null set, \(\varnothing \)
	
