extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Domains and ranges

block subSubContent
	h3
		b Domain
	p All values on which the function can be called
	p $$\forall x(f(x)=y)\rightarrow P(y))$$
	h3
		b Image
	p $$\forall x((\exists y f(x)=y)\rightarrow P(y))$$
	p Outputs of a function.
	p AKA: Range
	p The image of \(x\) is \(f(x)\).
	h3
		b Preimage
	p The preimage of \(y\) is all \(x\) where \(f(x)=y\).
	h3
		b Codomain
	p Sometimes the image is a subset of another set. For example a function may map onto natural numbers above \(0\). Natural numbers above \(0\) would be the image, and the natural numbers would be the codomain.
	h3
		b Example:
	p $$f(n)=s(n)$$
	p Domain is: \(\mathbb{N}\)
	p Codomain is also: \(\mathbb{N}\)
	p Image is \(\mathbb{N}\land n\ne 0\)
	h3
		b Describing  functions
	p If function \(f\) maps from set \(X\) to set \(Y\) we can write this as:
	p $$f:X\rightarrow Y$$

