extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Zermano-Fraenkel set theory 4 (union, powerset, pairing)



	h3
		b Axiom of union

	h3
		b Axiom of power set

	h3
		b Axiom of pairing

	h3
		b Von Neumann universe
	
