extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Algebra on a set

block subSubContent
	h3
		b Standard algebra
	p An algebra, \(\Sigma \), on set \(s\) is a set of subsets of \(s\) such that:
	ul
		li Closed under intersection: If \(a\) and \(b\) are in \(\Sigma \) then \(a\land b\) must also be in \(\Sigma \)
		ul 
			li \(\forall ab [(a \in \Sigma \land b \in \Sigma )\rightarrow (a\land b \in \Sigma)]\)
		li Closed under union: If \(a\) and \(b\) are in \(\Sigma \) then \(a\lor b\) must also be in \(\Sigma \).
		ul 
			li s\(\forall ab [(a \in \Sigma \land b \in \Sigma )\rightarrow (a\lor b \in \Sigma)]\)
	p If both of these are true, then the following is also true:
	ul
		li Closed under complement: If \(a\) is in \(\Sigma \) then \(s \backslash a\) must also be in \(\Sigma \)	
	p We also require that the null set (and therefore the original set, null's complement) is part of the algebra.
	
