extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cardinality

block subSubContent
	h3
		b Cardinality of finite sets
	p The cardinality of a set \(s\) is shown as \(|s|\). It is the number of elements in the set. We define it formally below.
	h3
		b Injectives, surjectives and bijectives.
	p Consider \(2\) sets. If there is an injective from \(a\) to \(b\) then for every element in \(a\) there is a unique element in \(b\).
	p If this injective exists then we say \(|a|\le |b|\).
	p Similarly, if there is a surjective, that is for every element in \(b\) there is a unique element in \(a\), then \(|a|\ge |b|\).
	p Therefore, if there is a bijection, \(|a|=|b|\), and if there is only an injective or a surjective then \(|a|<|b|\) or \(|a|>|b|\) respectively.
	h3
		b Cardinality as a function
	p Every set has a cardinality. As a result cardinality cannot be a well-defined function, for the same reason there is no set of all sets.
	p Cardinality functions can be defined on subsets.

