extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cardinality

block subSubContent
	h3
		b Cardinality of finite sets
	p The cardinality of a set \(s\) is shown as \(|s|\). It is the number of elements in the set. We define it formally below.
	h3
		b Injectives, surjectives and bijectives.
	p Consider \(2\) sets. If there is an injective from \(a\) to \(b\) then for every element in \(a\) there is a unique element in \(b\).
	p If this injective exists then we say \(|a|\le |b|\).
	p Similarly, if there is a surjective, that is for every element in \(b\) there is a unique element in \(a\), then \(|a|\ge |b|\).
	p Therefore, if there is a bijection, \(|a|=|b|\), and if there is only an injective or a surjective then \(|a|<|b|\) or \(|a|>|b|\) respectively.
	h3
		b Cardinality of natural  numbers
	p We define:
	p $$|\emptyset |=0$$
	p That, the empty set has a cardinality of \(0\).
	p As we define \(0\) as the empty set, \(|0|=0\).
	p What is \(1\)? using the definition above we know \(|1|>|0|\), so let's say \(|1|=1\), and more generally:
	p $$\forall n \in \mathbb{N} |n|=n$$
	h3
		b Cardinality as a function
	p Every set has a cardinality. As a result cardinality cannot be a well-defined function, for the same reason there is no set of all sets.
	p Cardinality functions can be defined on subsets.

	h3
		b Cardinality of cartesian product
	p What about the cardinality of Cartesian products? So if we have sets:
	p $$\{1,2,3\}$$
	p $$\{a,b\}$$
	p We can have the Cartesian product set:
	p $$\{(1,a),(2,a),(3,a),(1,b),(2,b),(3,b)\}$$
	p We can see that:
	p $$|A.B|=|A|.|B|$$

	h3
		b Cardinality of union and intersection
	p $$|A\lor B| = |A|+|B|-|A\land B|$$
	h3
		b Cardinality of powerset
	p $$|P(s)|=2^{|s|}$$
	h3
		b Cardinality of complement
	p $$|a \setminus b|=|a|-|a\land b|$$
	h3
		b Cardinality of natural numbers
	p Consider the infinite set, that is the set of all natural numbers which is defined in ZFC. Clearly there isn’t a natural number cardinality of this – we instead write \(\aleph_0\).
	p We call sets with this cardinality, countably infinite.
	p So:
	p \(|\mathbb{N} |=\aleph_0\)
	h3
		b Cardinality of even/odd natural numbers
	p What about the cardinality of even numbers? Well, we can define a bijective function between each:
	p $$f(n)=2n$$
	p Similarly for odd numbers:
	p $$f(n)=2n+1$$
	p So these both have cardinality \(\aleph_0\).

	h3
		b Finite and infinite sets
	p A set is finite is there is a proper subset without a bijection.
	p Proper subset: \(A\subsetproper B\)
	p For example for set \(\{a,b,c\}\) There is no subset with a bijection.
	p For the natural numbers, all natural numbers except 0 is a proper subset, and there is a bijection.
