extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cardinality of the natural numbers

block subSubContent
	h3
		b Cardinality of natural numbers
	p Consider the infinite set, that is the set of all natural numbers which is defined in ZFC. Clearly there isn’t a natural number cardinality of this – we instead write \(\aleph_0\).
	p We call sets with this cardinality, countably infinite.
	p So:
	p \(|\mathbb{N} |=\aleph_0\)
	h3
		b Cardinality of natural  numbers
	p We define:
	p $$|\emptyset |=0$$
	p That, the empty set has a cardinality of \(0\).
	p As we define \(0\) as the empty set, \(|0|=0\).
	p What is \(1\)? using the definition above we know \(|1|>|0|\), so let's say \(|1|=1\), and more generally:
	p $$\forall n \in \mathbb{N} |n|=n$$

