extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cartesian product
block subSubContent
	h3
		b Cartesian product
	p The cartesian product takes two sets, and creates a set containing all ordered pairs of \(a\) and \(b\).
	p \(a\times b\)
