extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Classes

block subSubContent
	h3
		b Equivalence class
	p We have already ready defined the relationship equality, between terms.
	p \(a=b\).
	p Sometimes we may wish to talk about a collection of terms which are all equal to each other. This is an equivalence class.
	p Though we have not yet defined it, integers are example of this. For example \(-1\) can be written as \(0-1\), \(1-2\) and so on.
	h3
		b Class builder notation

	p emuneration can be done through set builder notation too
	p can define sets formally! defintion doesn't just affect sets
	p \(\forall x (x\in C \leftrightarrow P(x))\)
	p NB: We're not saying C exists
	p can then use examples of equiv class
	p \(\forall x (x\in C \leftrightarrow x=x)\)