extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Equivalence classes
block subSubContent
	h3
		b Equivalence class
	p We have already ready defined the relationship equality, between terms.
	p \(a=b\).
	p Sometimes we may wish to talk about a collection of terms which are all equal to each other. This is an equivalence class.
	p Though we have not yet defined it, integers are example of this. For example \(-1\) can be written as \(0-1\), \(1-2\) and so on.
	p \(\forall y forall x x=y\rightarrow x\in z\)
	p For all sets, we can call the class of all sets equal to the set an equivalence class.
	p This does not necessarily exist.
