extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Empty set
block subSubContent
	h3
		b Empty set
	p We can use this to define the empty set - the set with no members.
	p \(\varnothing =\{\}\)
	p Using the above definition this is the same as writing:
	p $$\forall x ¬(x\in \varnothing )$$


