extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Defining sets by enumeration

block subSubContent
	h3
		b Defining sets by enumeration
	p We can describe a set by the elements it contains.
	p $$s=\{a,b,c\}$$
	p This is a shorthand way of writing:
	p $$\forall x (x\in s \leftrightarrow (x=a\lor x=b \lor x=c))$$
