extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Constructing functions

block subSubContent
	h3
		b Use of ordered pairs
	p We can define this as a set of ordered pairs.
	p $$\{\{a\},\{a,b\}\}$$

