extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Inequalities
		
block subSubContent
	h3
		b Less than or equal
	p Orderings define relations between elements in a set, where one element can preceed the other. 
	p Orderings are antisymmetric. That is, the only case where the relation is satisfied in both directions is if the elements are equal.
	p $$(a\le b)\land (b\le a)\rightarrow (a=b)$$
	p Orderings are transitive. That is: 
	p $$(a\le b)\land (b\le c)\rightarrow (a\le c)$$
	h3
		b Greater than or equal
	
	h3
		b Less than and greater than
	p The relation \(\le \) is refered to as non-strict.
	p There is a similar strict relation relation, \(<\):
	p $$(a\le b)\land ¬(b\le a)\rightarrow (a < b)$$

