extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Axiom of infinity

block subSubContent
	h3
		b The axiom
	p The axiom of infinity states that:
	p $$\exists I (\varnothing \in I \land \forall x \in I((x\lor \{x\})\in I))$$
	p There exists a set, called the infinite set. This contains the empty set, and for all elements in \(I\) the set also contains the successor to it.
	h3
		b Sequential function
	p Let's define the sequential function:
	p $$s(n):=\{n\lor \{n\}\}$$
	p We can now rewrite the axiom of infinity as:
	p $$\exists \mathbb{N} (\varnothing \in \mathbb{N} \land \forall x \in \mathbb{N}(s(x)\in \mathbb{N}))$$
	h3
		b Zero
	p This set contains the null set: \(\varnothing \in \mathbb{N} \).
	p Zero is defined as the empty set.
	p $$0:=\{\}$$
	h3
		b Natural numbers
	p For all elements in the infinite set, there also exists another element in the infinite set: \(\forall x \in \mathbb{N}((x\lor \{x\})\in \mathbb{N}) \).
	p We then define all sequential numbers as the set of all preceding numbers. So:
	p $$1:=\{0\}=\{\{\}\}$$
	p $$2:=\{0,1\}=\{\{\},\{\{\}\}\}$$
	p $$3:=\{0,1,2\}=\{\{\},\{\{\}\},\{\{\},\{\{\}\}\}\}$$
	h3
		b Existence of natural numbers
	p Does each natural number exist? We know the infinite set exists, and we also know the axiom schema of specification:
	p Point is: For each set, all finite subsets exist. PROVE ELSEWHERE
	h3
		b From infinite set to natural set
	p We don’t know I is limited to natural numbers. Could contain urelements etc.
	h3
		b More
	p infinite set axiom written using N. should be I

	p I could be superset of N, for example set of all natural numbers, and also the set containing the set containing 2.

	p can extract N using axiom of specification

	p we need a way to define the set of natural numbers:

	p \(\forall n (n\in \mathbb{N}\leftrightarrow ([n=\nullset \lor \exists k (n=k\lor \{k\})]\land ))\)

	p If we can can define N, we can show it exists from specicication

	p \(\forall x \exists s [P(x)\leftrightarrow (x\in s)]\)

	p \(\forall n \exists s [n\in N \leftrightarrow (n\in s)]\)
	
