extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Finite and infinite sets
block subSubContent
	h3
		b Finite sets
	p A set is finite is there is a proper subset without a bijection.
	p Proper subset: \(A\subset B\)
	p For example for set \(\{a,b,c\}\) There is no subset with a bijection.
	h3
		b Infinite sets
	p For the natural numbers, all natural numbers except 0 is a proper subset, and there is a bijection.
