extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Infinitum and supremum

block subSubContent
	h3
		b Infinitum
	p Consider a subset \(S\) of a partially ordered set \(T\).
	p The infinitum of \(S\) is the greatest element in \(T\) that is less than or equal to all elements in \(S\).
	p For example:
	p \(\inf [0,1]=0\)
	p \(\inf (0,1)=0\)
	h3
		b Supremum
	p The supremum is the opposite: the smallest element in \(T\) which is greater than or equal to all elements in \(S\).
	p \(\sup [0,1]=1\)
	p \(\sup (0,1)=1\)
	h3
		b Max and min
	p If the infinitum of a set \(S\) is in \(S\), then the infinimum is the minimum of set \(S\). Otherwise, the minimum is not defined.
	p \(\min [0,1]=0\)
	p \(\min (0,1)\) isn't defined.
	p Similarly:
	p \(\max [0,1]=1\)
	p \(\max (0,1)\) isn't defined.
