extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Intervals
		
block subSubContent
	h3
		b Intervals
	p For a totally ordered set we can define a subset as being all elements with a relationship to a number. For example:
	p $$[a,b]=\{x:a\le x \land x\le b\}$$
	p This denotes a closed interval. Using the definition above we can also define an open interval:
	p $$(a,b)=\{x:a< x \land x< b\}$$

