extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Tuples
block subSubContent
	h3
		b Tuples
	p We can get a list of sets in an order. A 2-tuple is an ordered pair:
	p \((a, b)\)
	p We can write an ordered pair of \(a\) and \(b\) as:
	p $$\{\{a\},\{a,b\}\}$$

	p ordred pair definition, and tuple
	p \((a,b)=(c,d) \leftrightarrow (a=c\land b=d)\)

	p this is the characteristic property
