extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Ordering
		
block subSubContent

	h3
		b Ordering of the natural numbers
	p For natural numbers we can say that number \(n\) preceeds number \(s(n)\). That is:
	p $$n\le s(n)$$
	p Similarly:
	p $$s(n)\le s(s(n))$$
	p From the transitive property we know that:
	p $$n\le s(s(n))$$
	p We can continue this to get:
	p $$n\le s(s(...s(n)..))$$
	p What can we say about an arbitary comparison?
	p $$a\le b$$
	p We know that either:
	ul
		li $$a=b$$
		li $$b=s(s(...s(a)...))$$
		li $$a=s(s(...s(b)...))$$

	p In the first case the relation holds.
	p In the second case the relation holds.
	p In the third case the relation does not hold, but antisymmetry holds.
	p As this is is then defined on any pair, the order on natural numbers is total.
	p As there is a minimum, \(0\), the relation is also well-ordered.
	p However if this does not hold then the following instead holds:
