extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Ordered sets
		
block subSubContent
	h3
		b Totally ordered sets
	p A totally ordered set is one where the relation is defined on all pairs:
	p $$\forall a \forall b	(a\le b)\lor (b\le a)$$
	p Note that totality implies reflexivity.
	h3
		b Partially ordered sets (poset)
	p A partially ordered set, or poset, is one where the relation is defined between each element and itself.
	p $$\forall a (a\le a)$$
	p That is, every element is related to itself.
	p These are also called posets.
	h3
		b Well-ordering
	p A well-ordering on a set is a total order on the set where the set contains a minimum number. For example the relation \(\le \) on the natural numbers is a well-ordering because \(0\) is the minimum.
	p The relation \(\le \) on the integers however is not a well-ordering, as there is no minimum number in the set.
