extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Axiom of pairing

block subSubContent
	h3
		b Axiom of pairing
	p For any pair of sets, there is another set containing both as elements.
	p $$\forall x \forall y \exists z [x\in z \land y\in z]$$
	h3
		b Ordered pairs
	