extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Powerset function
block subSubContent
	h3
		b Powerset
	p The power set of \(s\), \(P(s)\), contains all subsets of \(s\).
	p $$\forall x x\subseteq s \leftrightarrow x\in P(x)$$
	p Do all subsets exist?? show elsewhere.
