extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Axiom of regularity

block subSubContent
	h3
		b Introduction
	p The axiom of regularity states that:
	p \(\forall x[x\ne \varnothing \rightarrow \exists y \in x (y\land x )=\varnothing]\)
	p That is, for all non-empty sets, there is an element of the set which is disjoint from the set itself.
	p This means that no set can be a member of itself.

