extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Membership relation
block subSubContent
	h3
		b Motivation
	p Say we have a preterite \(P(x)\) which is true for some values of \(x\). Sets allow us to explore the properties of these values.
	p We may want to talk about a collection of terms for which \(P(x)\) is true, which we call a set.
	p To do this we need to introduce new axioms, however first we can add (conservative) definitions to help us do this.
	h3
		b Membership
	p We introduce a new relation: membership. If element \(x\) is in set \(s\) then the following relation is true, otherwise it is false:
	p $$x\in s$$
	p Sets are also terms. In first-order logic they will be included in quantifiers. Indeed, in set theory, we aim to treat everything as sets.
	h3
		b Non-membership
	p If a term is not a member of another term, we can write this using the non-member relation as follows:
	p $$\forall x \forall s [¬(x\in s)\leftrightarrow x\not\in s]$$
