extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Set-builder notation

block subSubContent
	h3
		b Notation
	p NB. This should be later, the way they are described links to the axiom schema of specification.
	p We can use short-hand to describe sets.
	p $$\{x\in S: P(x)\}$$
	P This defines a set by a restriction. For example we will later be able to define natural numbers above \(5\) as:
	p $$\{x\in \mathbb{N} : x>5\}$$

	h3
		b Class builder notation

	p emuneration can be done through set builder notation too
	p can define sets formally! defintion doesn't just affect sets
	p \(\forall x (x\in C \leftrightarrow P(x))\)
	p NB: We're not saying C exists
	p can then use examples of equiv class
	p \(\forall x (x\in C \leftrightarrow x=x)\)