extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Set-builder notation

block subSubContent
	h3
		b Literal description
	p We can describe a set by the elements in contains.
	p $$s=\{a,b,c\}$$
	p This implies:
	p $$\forall x (x\in s \leftrightarrow (x=a\lor x=b \lor x=c))$$
	h3
		b Empty set
	p The empty set has no members.
	p $$\forall x ¬(x\in \varnothing )$$
	p $$\varnothing = \{\}$$
	h3
		b Notation
	p We can use short-hand to describe sets.
	p $$\{x\in S: P(x)\}$$
	P This defines a set by a restriction. For example we will later be able to define natural numbers above \(5\) as:
	p $$\{x\in \mathbb{N} : x>5\}$$