extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Axiom schema of specification

block subSubContent
	h3
		b The axiom schema of unrestricted comprehension
	p We want to formalise the relationship between the preterite and the set. An obvious way of doing this is to add an axiom for each preterite in our structure that:
	p $$\forall x \exists s[P(x)\leftrightarrow (x\in s)]$$
	p This is known as "unrestricted comprehension" and there are problems with this approach.
	p Consider a predicate for all terms which are not members of themselves. That is:
	p $$¬(x\in x)$$
	p This implies the following is true:
	p $$\forall x\exists s[¬(x\in x) \leftrightarrow (x\in s)]$$
	p As this is true for all \(x\), it is true for \(x=s\). So:
	p $$\exists s[¬(s\in s) \leftrightarrow (s  \in s)]$$
	p This statement is false. As we have inferred a false formula, the axiom of unrestricted comprehension does not work. This result is known as Russel's Paradox.
	p This is an axiom schema rather than an axiom. That is, there is a new axiom for each preterite.
	h3
		b Axiom schema of specification
	p 	To resolve Russels' paradox, we amend the axiom schema to:
	p $$\forall x \forall a \exists s[(P(x)\land x\in a )\leftrightarrow (x\in s)]$$
	p That is, for every set \(a\), we can define a subset \(s\) for each predicate.
	p This resolves Russel's Paradox. Let's take the same steps on the above formula as in unrestricted comprehension;
	p $$\forall x \forall a \exists s[(¬(x\in x)\land x\in a )\leftrightarrow (x\in s)]$$
	p $$\exists s[(¬(s\in s)\land s\in s )\leftrightarrow (s\in s)]$$
	p So long as the subsets \(s\) are not members of themselves, this holds.

