extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Implications of axiom schema of specification

block subSubContent
	h3
		b All finite subsets exist
	p Finite subsets. Don't know about infinite subsets
	p If we can define a subset, by the axiom of specification it exists.
	p For example if set \(\{a,b,c\}\) exists, we can define a preterite to select any subset of this.
	p For example we can use define a \(P(x)\) as \(x=a\lor x=b\) to extract the subset \(\{a,b\}\).
	p If a subset is infinitely large, 
	h3
		b Intersections of finite sets exist
	p Can prove exists from this axiom
	h3
		b If any set exists, the empty set exists
 	p $$\forall x \forall a \exists s[(P(x)\land x\in a )\leftrightarrow (x\in s)]$$
	
