extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Axiom of union

block subSubContent
	h3
		b Motivation
	p While we have described various sets, we have not said that they exist. That is, if \(A\) and \(B\) both exist, then currently we cannot ensure \(A\land B\) exists, just that it can be described.
	p The axiom of union enables us to ensure all sets from unions and intersections exist.
	h3
		b Axiom of union
	p $$\forall a\exists b \forall c [c\in b\leftrightarrow \exists d(c\in d\land d\in a)]$$
	p That is, for every set \(a\), there exists a set \(b\) where all the elements in \(b\) are the elements of the elements in \(a\).
	p Here, \(b\) is the union of the sets in \(a\).
