extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Axiom of union

block subSubContent
	h3
		b Motivation
	p While we have described various sets, we have not said that they exist. That is, if \(A\) and \(B\) both exist, then currently we cannot ensure \(A\land B\) exists, just that it can be described.
	p The axiom of union enables us to ensure all sets from unions and intersections exist.
	h3
		b Axiom of union
	p The axiom of union says that this union exists as a term in the domain.
	p We replace \(x\lor y\) in the above with a new term \(z\):
	p $$\forall a \forall x \forall y \exists z[a\in z \leftrightarrow (a\in x \lor a\in y)]$$
	h3
		b Existence of the intersection
	p We do not need an axiom to ensure the existence of \(a\land b\). We can derive this using the axiom schema of specification.
	p We know from the axiom schema of specification that:
	p $$\forall x \forall a \exists s [(P(x)\land x\in a)\leftrightarrow (x\in s)]$$
	p We use the predicate \(x\in b\):
	p $$\forall x \forall a \forall b \exists s [(x\in b \land x\in a)\leftrightarrow (x\in s)]$$

	h3
		b Existence of the complement
	p 