extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Axiom of union

block subSubContent
	h3
		b Motivation
	p While we have described various sets, we have not said that they exist. That is, if \(A\) and \(B\) both exist, then currently we cannot ensure \(A\land B\) exists, just that it can be described.
	p The axiom of union enables us to ensure all sets from unions and intersections exist.
	h3
		b Axiom of union

	h3
		b Existence of the intersection

	h3
		b Existence of the complement
	p 

	h3
		b Existence of all natural numbers
	p Previously we showed that \(0\) exists, and later that \(1\) and \(2\) exist. This is from the definition of the natural numbers  as:
	p $$1:=\{0\}=\{\{\}\}$$
	p $$2:=\{0,1\}=\{\{\},\{\{\}\}\}$$
	p $$3:=\{0,1,2\}=\{\{\},\{\{\}\},\{\{\},\{\{\}\}\}\}$$
	p We can now prove \(3\), and all following natural numbers exist
	p For each natural number, \(n\), \(s(n):=\{n\lor \{n\}\}\). We know \(n\) exists, and we know \(\{n\}\) exists from the axiom of pairing.
	p We know also know that the union exists, and therefore \(s(n)\) exists. Therefore all natural numbers exist.
	h3
		b Existence of the successor function

