extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Axiom of union

block subSubContent
	h3
		b Motivation
	p While we have described various sets, we have not said that they exist. That is, if \(A\) and \(B\) both exist, then currently we cannot ensure \(A\land B\) exists, just that it can be described.
	p The axiom of union enables us to ensure all sets from unions and intersections exist.
	h3
		b Axiom of union
	p $$\forall a\exists b \forall c [c\in b\leftrightarrow \exists d(c\in d\land d\in a)]$$
	p That is, for every set \(a\), there exists a set \(b\) where all the elements in \(b\) are the elements of the elements in \(a\).
	p Here, \(b\) is the union of the sets in \(a\).
	h3
		b Existence of the union
	p For two sets \(a\) and \(b\) we can write \(a\lor b\). Does this union exist? Yes, this is a result of the axiom.
	h3
		b Existence of the intersection
	p For two sets \(a\) and \(b\) we can write \(a\land b\). Doe this intersection exist?
	p Consider the axiom of specification:
	p $$\forall x \forall a \exists s[(P(x)\land x\in a )\leftrightarrow (x\in s)]$$
	p We can also write:
	p $$\forall x \forall a \forall b \exists s[(x\in b\land x\in a )\leftrightarrow (x\in s)]$$
	p Which provide the intersection, \(s\).
	h3
		b Existence of the complement
	p For two sets \(a\) and \(b\) we can write \((a \setminus b)\). This is the set of elements of \(a\) which are not in \(b\).
	p Consider the axiom of specification:
	p $$\forall x \forall a \exists s[(P(x)\land x\in a )\leftrightarrow (x\in s)]$$
	p We can also write
	p $$\forall x \forall a \forall b\exists s[(x\not\in b\land x\in a )\leftrightarrow (x\in s)]$$
	p Which provides the complement, \(s\).

	h3
		b Existence of all natural numbers
	p Previously we showed that \(0\) exists, and later that \(1\) and \(2\) exist. This is from the definition of the natural numbers  as:
	p $$1:=\{0\}=\{\{\}\}$$
	p $$2:=\{0,1\}=\{\{\},\{\{\}\}\}$$
	p $$3:=\{0,1,2\}=\{\{\},\{\{\}\},\{\{\},\{\{\}\}\}\}$$
	p We can now prove \(3\), and all following natural numbers exist
	p For each natural number, \(n\), \(s(n):=\{n\lor \{n\}\}\). We know \(n\) exists, and we know \(\{n\}\) exists from the axiom of pairing.
	p We know also know that the union exists, and therefore \(s(n)\) exists. Therefore all natural numbers exist.
	h3
		b Existence of the successor function
	
