extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b True, false and propositional variables
	p We introduce the concept of true and false, \(T\) and \(F\). We also introduce propositional variables, which can either be true or false. These can be shown with symbols such as:
	p $$\theta $$
	p Such a symbol can stand for a statement which is either true or false, such as:
	ul
		li \(1=1\)
		li I am \(4\) meters tall
		li You are \(25\) years old
	p Not all English language statements can be shown this way. For example:
	ul
		li "this statement is false"
	p Does not take on either value. As we create building blocks for logic, such low level statements must be either true or false.