extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b True, false and propositional variables
	p We can denote such statements as symbols, such as:
	p $$\theta $$


		b Formulas
	p We can construct logical statements, or formulae, which are either true or false.
	p A statement is true, false or can be either true or false. For example:
	ul
		li \(1=1\)
		li I am \(4\) meters tall
		li You are \(25\) years old


	p Discuss restrictions on what a formula can be "this statement is false".

