extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Predicates, constants , functions and terms
	p We also add functions, generally denoted with a lower case letter. Functions take other terms, and are themselves terms.
	p $$s(n)$$
	p Functions can map between domains. For example a function can be defined on a set of inputs, and give different outputs. For example:
	p $$f:X\rightarrow Y$$
	p Signifies a function which maps from domain \(X\) to domain \(Y\). This could occur, for example, from taking the square root of any integer input, which would map from integers to complex numbers.
	p A function can take in one or more inputs. A function with one input is known as a unary operator. An example is the successor function, which adds \(1\) to the existing  number.
	p $$f:\mathbb{N} \rightarrow \mathbb{N} =s(n)$$
	p Binary operators take two inputs. Examples include addition and division.
	p A function may not be able to produce an output for all inputs. For examples what is "chair" \(+ 1\)? Or \(\frac{1}{0}\)? The functions are not defined in these domains.

	p Constants as functions with 0 inputs