extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Relations

	p A relation takes terms as inputs and returns a truth value. These are specified cases of predicates. These include equality, membership and ordinality.
	p For example the equality relation will return true if the terms are equal. 
	p We will explore these in more detail in first-order logic later. 
