extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Operators

	p Operators take as inputs true or false formulae and return true or false. There are different types of operators, for different numbers of inputs.
	p How many unique operators are there? The number of possible permutations of inputs is:
	p $$t^i$$
	p Where \(t\) represents the number of possible truth values. This is \(2\), so the number of possible inputs is:
	p $$2^i$$
	p But this is not the number of possible operators. This is:
	p $$t^{t^i}$$
	p Or:
	p $$2^{2^i}$$
	p Consider the operator with \(0\) inputs. We need \(2\) different operators to cover all outputs. For \(1\) input we need \(4\) and for \(2\) inputs we need \(16\).
	p Operators can be shown together, with brackets. For example:
	p $$(\alpha \lor \beta )\land \gamma $$
	p Is not the same as:
	p $$\alpha \lor (\beta \land \gamma )$$
	p
		b 0-ary operators
	p We can consider true as false to be the operators with \(0\) inputs.
	p
		b Unary operators
	p For the operators with \(1\) input we have:
	ul
		li one which always returns true
		li one which always returns false
		li one which always returns the same as the input
		li one which returns the opposite of the input
	p It is this last one, negation, shown as \(¬\) which is of most interest.
	p That is, the following statement is true:
	p $$¬F$$
	p
		b Binary operators
	p An example of a binary operator is:
	p $$\theta \rightarrow \gamma$$
	p The arrow states that if \(\theta \) is true, \(\gamma \) is true. This formula is false if \(\theta \) can be true while \(\gamma \) is false.
	p
		b N-ary operator
	p N-ary operators contain \(3\) or more inputs.
