extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Signatures and language
	p Signatures and language
	p Includes:
	p + functions
	p + relations
	p + operator
	p Language: set of all possible WFFs from signature
	p Atomic and well-formed formulae
	p Well-formed: Any sentence established within rules
	p What are rules?
