extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Interpretations and satiasability

	p An interpretation assigns meaning to the symbols included in the signature. For zero-order logic this means variable propositions, predicates and functions.
	p A given well-formed formula is satisfied if there is some interpretation where it is true.
	p For example the following is not universally true, but is true for some values.
	p $$\theta(t) \lor \gamma (t)$$
