extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Truth tables and tautologies

	p A given well-formed formula is satisfied if there is some interpretation where it is true. It is a tautology if it is true in all interpretations.
	p For example the first of these can be satisfied, but only the second is a tautology:
	p $$\theta(t) \lor \gamma (t)$$
	p $$\theta \lor (¬\theta )$$
	p Truth tables can be used to identify formulae which can be satisfied, or are tautologies.
	p A truth table iterates all possible values of and indicates their truth value. The more variables there are the more complex this becomes.
	p Take the formula:
	p $$\theta(t) \lor (¬\theta (t))$$
	p What does a truth table with a constant look like? Well we can still consider each predicate as a propositional variable, and so this is also a tautology.
