extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Truth tables and tautologies
	h3
		b Truth tables
	p So now we have the ability to write formulas, let’s look into evaluating them.
	p There are two ways of evaluating formulas: with truth tables, or with deduction. We discuss truth tables first.
	p Take the formula:
	p $$\alpha \rightarrow (\gamma \rightarrow \alpha)$$
	p That is, if \(\alpha\) is true, then if \(\gamma\) is true, \(\alpha\) is true. This is always true. For any combination of \(\gamma\) and \(\alpha\) the statement is correct. More complex formulas can be evaluated in the same way.


	p Tautology: true in all interpretations
