extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Limitations of truth tables


	p As we noted in zero-order logic, evaluating truth table becomes more difficult as more variables are added. The addition of quantifiers presents an additional problem.
	p The truth table must now iterate over the quantified variables, which can be arbitrarily large. Instead we need a new approach.
