extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Models
	p 3rd March 2017

	h3
		b Rational numbers
	p We previously defined integers in terms of natural numbers. Similarly we can define rational numbers in terms of integers.
	p $$\forall ab \in \mathbb{I} (¬(b=0)\rightarrow \exists c (b.c=a))$$
	p So that:
	p $$(a,b)=a/b$$
	p Integers can be shown as rational numbers using:
	p $$(i,1)$$
	p Then we can define addition as:
	p $$(a,b)+(c,d)=(a.d+b.c,b.d)$$
	p Similarly, multiplication can be defined as:
	p $$(a,b).(c,d)=(a.c, b.d)$$



	p Like with integers, we define rational numbers as an ordered pair of integers:
	p $$\mathbb{Q}={{a},{a,b}}$$
	p Where \(\mathbb{Q}=\frac{a}{b}\).
	p Integers can then be turned into rational numbers:
	p $$\mathbb{Q}=\frac{a}{1}$$
	p $$a=\frac{a_1}{a_2}$$
	p $$b=\frac{b_1}{b_2}$$
	p $$c=\frac{c_1}{c_2}$$
	p
		b Rational addition
	p $$a+b=c$$
	p $$c_1=a_1b_2+a_2b_1$$
	p $$c_1=a_2b_2$$
	p
		b Rational subtraction
	p $$a-b=c$$
	p $$c_1=a_1b_2-a_2b_1$$
	p $$c_1=a_2b_2$$
	p
		b Rational multiplication
	p $$ab=c$$
	p $$c_1=a_1b_1$$
	p $$c_1=a_2b_2$$
	p
		b Rational division
	p $$\frac{a}{b}=c$$
	p $$c_1=a_1b_2$$
	p $$c_1=a_2b_1$$
