extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Fundamental theorem of algebra
	p Solving equations
	p $$x=x\rightarrow f(x)=f(x)$$
	p Can’t find solutions if function irreversible
	p Fundamental theorem of algebra
