extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Partial differential equations

	p A partial differential equation is one with more than one independent variable. For example:
	p $$x_1\frac{dy}{dx_1}+x_2\frac{dy}{dx_2}=y$$
