extends ./affineEuclid/subSubTemplate.jade
block subSubContent
	h3
		b Affine spaces
	p
		a(href="./affineEuclid/lines") Lines
	p
		a(href="./affineEuclid/lines") Parallel lines
	h3
		b Euclidian space
	p
		a(href="./affineEuclid/metric") Euclidian metric
	p
		a(href="./affineEuclid/length") Length
	p
		a(href="./affineEuclid/angles") Angles
	p
		a(href="./affineEuclid/angles") Area
	p
		a(href="./affineEuclid/angles") Volume
	h3
		b Elementary geometry in 2 dimensions
	p
		a(href="./affineEuclid/angles") Circle
	p
		a(href="./affineEuclid/angles") Triangles
	p
		a(href="./affineEuclid/angles") Quadrilaterals
	p
		a(href="./affineEuclid/angles") Pentagon
	h3
		b Elementary geometry in 3 dimensions
	p
		a(href="./affineEuclid/sphere") Sphere
	p
		a(href="./affineEuclid/angles") Pyramid
	p
		a(href="./affineEuclid/angles") Cone

