extends ./algebra/subSubTemplate.jade
block subSubContent
	h3
		b Powers
	p
		a(href="./algebra/powers") Powers
	p
		a(href="./algebra/binomial") Binomial expansion
	p
		a(href="./algebra/other") Difference of two squares		
	h3
		b Irrational numbers
	p
		a(href="./algebra/logs") Logarithms
	h3
		b Equations
	p
		a(href="./algebra/algebraic") Algebraic equations
	h3
		b Single-variable polynomials
	p
		a(href="./algebra/polynomialSingle") Single-variable polynomials
	p
		a(href="./algebra/quadratic") Solving quadratic polynomials
	p
		a(href="./algebra/cubic") Solving cubic polynomials
	h3
		b Multi-variable polynomials
	h3
		b Generating functions
	p
		a(href="./algebra/generating") Generating functions
	p
		a(href="./algebra/fibonacci") Fibonacci sequence
	h3
		b Other
	p
		a(href="./algebra/cardinality") Cardinality
