extends ./algebra/subSubTemplate.jade
block subSubContent
	h3
		b Powers
	p
		a(href="./algebra/powers") Powers
	p
		a(href="./algebra/binomial") Binomial expansion
	p
		a(href="./algebra/other") Difference of two squares		
	h3
		b Irrational numbers
	p
		a(href="./algebra/logs") Logarithms
	h3
		b Equations
	p
		a(href="./algebra/algebraic") Algebraic equations
	p
		a(href="./algebra/quadratic") Quadratic
	p
		a(href="./algebra/cubic") Cubic
	h3
		b Generating functions
	p
		a(href="./algebra/generating") Generating functions
	p
		a(href="./algebra/fibonacci") Fibonacci sequence
