extends ./algebra/subSubTemplate.jade
block subSubContent
	h1 Math
	h2
		b Algebra
	p
		a(href="/theory/maths/algebra/0200algebraBinomial") Binomial expansion
	p
		a(href="/theory/maths/algebra/0201algebraPFD") Partial fraction decomposition
	p
		a(href="/theory/maths/algebra/0202algebraOther") Other
	p
		a(href="/theory/maths/algebra/0204algebraQuadratic") Quadratic solver
	p
		a(href="/theory/maths/algebra/0205algebraCubic") Cubic solver
