extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Calculus

	p Total derivative
	p $$f(g(x),h(x))$$
	p $$\frac{\delta f}{\delta x}= \frac{f(g(x+\delta ),h(x+\delta ))-f(g(x),h(x)}{\delta }$$
	p $$\frac{\delta f}{\delta x}= \frac{f(g(x+\delta ),h(x+\delta ))-f(g(x+\delta ),h(x))+f(g(x+\delta ),h(x)) -f(g(x),h(x)}{\delta }$$

	p $$\frac{\delta f}{\delta x}= \frac{f(g(x+\delta ),h(x+\delta ))-f(g(x+\delta ),h(x))}{\delta }+\frac{f(g(x+\delta ),h(x)) -f(g(x),h(x)}{\delta }$$

	p $$\frac{\delta f}{\delta x}= \frac{f(g(x+\delta ),h(x+\delta ))-f(g(x+\delta ),h(x))}{\delta }frac{h(x+\delta )-h(x)}{ h(x+\delta )-h(x)}+\frac{f(g(x+\delta ),h(x)) -f(g(x),h(x)}{\delta }\frac{g(x+\delta )-f(x)}{ g(x+\delta )-f(x)}$$
	p $$\frac{\delta f}{\delta x}=\frac{f(g(x+\delta ),h(x+\delta ))-f(g(x+\delta ),h(x))}{h(x+\delta )-h(x)}frac{h(x+\delta )-h(x)}{\delta  }+\frac{f(g(x+\delta ),h(x)) -f(g(x),h(x)}{ g(x+\delta )-g(x)}\frac{g(x+\delta )-g(x)}{\delta }$$
	p $$\frac{\delta f}{\delta x}=\frac{\delta f}{\delta h}\frac{\delta h}{\delta x}+\frac{\delta f}{\delta g}\frac{\delta g}{\delta x}$$
	p If \(g(x)=x\), then:
	p $$\frac{\delta f}{\delta x}=\frac{\delta f}{\delta h}\frac{\delta h}{\delta x}+\frac{\delta f}{\delta g}$$
