extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Fourier transform
	

	h3
		b Fourier series
	p Motivation: we have a function we want to display as another sort of function.
	p More specifically, a function can be shown as a combination of sinusoidal waves.
	p To frame this let’s imagine a sound wave, with values \(f(t)\) for all time values \(t\). We can imagine this as a summation of sinusoidal functions. That is:
	p $$f(t)=\sum_{n=0}^\inf a_ncos(nw_0t)$$
	p We want to get another function \(F(\xi )\) for all frequencies \(\xi \).
	h3
		b Fourier transform
	p 
	h3
		b Inverse Fourier transform
	p
	
