extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Optimisation
	h3
		b Concave and convex functions
	p A convex function is one where a line segment between any two points is higher than the function at that point. An example is \(y=x^2\).
	p Alternatively a function is concave if for any line segment, the points are below the value of the function at that point. An example is \(y=-x^2\).
	p If a function is concave at all points it will only have one stationary point, a local, and global, maxima.
	p If a function is convex at all points it will only have one stationary point, a local, and global, minima.
	p Convex, concave formal definitions
	p Strictly formal definitions

	h3
		b Monotonic functions
	p Calculus stationary points finding and monotonic functions
