extends ./arithmetic/subSubTemplate.jade
block subSubContent
	h3
		b Addition and multiplication
	p
		a(href="./arithmetic/addition") Addition of natural numbers
	p
		a(href="./arithmetic/multiplication") Multiplication of natural numbers
	h3
		b Integers
	p
		a(href="./arithmetic/subtraction") Subtraction of natural numbers
	p
		a(href="./arithmetic/integers") Integers
	p
		a(href="./arithmetic/integersOrdering") Ordering of the integers
	p
		a(href="./arithmetic/integersFunctions") Functions of integers
	p
		a(href="./arithmetic/integersCardinality") Cardinality of the integers
	h3
		b Rational numbers
	p
		a(href="./arithmetic/0001integersNaturalInverse") Division
	p
		a(href="./arithmetic/rationals") Rationals
	p
		a(href="./arithmetic/rationalsOrdering") Ordering of the rationals
	p
		a(href="./arithmetic/rationalsFunctions") Functions of rational numbers
	p
		a(href="./arithmetic/rationalsCardinality") Cardinality of the rationals
	p
		a(href="./arithmetic/fractionRules") Fraction identities
	p
		a(href="./arithmetic/PFD") Partial fraction decomposition

