extends ./arithmetic/subSubTemplate.jade
block subSubContent
	h3
		b Robinson arithmetic
	p
		a(href="./arithmetic/addition") Addition
	p
		a(href="./arithmetic/multiplication") Multiplication
	p
		a(href="./arithmetic/functionalComposition") Functional composition
	p
		a(href="./arithmetic/0003SumProduct") Summation and products
	h3
		b Inverse functions
	p
		a(href="./arithmetic/0001integersNaturalInverse") Subtraction and division
	p
		a(href="./arithmetic/0001integersNaturalInverse") Domains and ranges
	h3
		b Results
	p
		a(href="./arithmetic/binomial") Binomial
	p
		a(href="./arithmetic/PFD") Partial fraction decomposition
	p
		a(href="./arithmetic/other") Other
	h3
		b Prime numbers
	p
		a(href="./arithmetic/0004Primes") Prime numbers
	p
		a(href="./arithmetic/0005GCDLCM") Common denominators and multiples
	p
		a(href="./arithmetic/0006Bezout") Bezout's identity
	p
		a(href="./arithmetic/0007integersArithmatic") Fundamental Theorem of Arithmetic
