extends ./algebra/subSubTemplate.jade
block subSubContent
	h1 Math
	h2
		b Arithmetic
	p
		a(href="/theory/maths/arithmetic/0000integersNaturalFunctions") Addition and multiplication
	p
		a(href="/theory/maths/arithmetic/0001integersNaturalInverse") Subtraction and division
	p
		a(href="/theory/maths/arithmetic/0002Properties") Properties of binary functions
	p
		a(href="/theory/maths/arithmetic/0003SumProduct") Summation and products
	p
		a(href="/theory/maths/arithmetic/0004Primes") Prime numbers
	p
		a(href="/theory/maths/arithmetic/0005GCDLCM") Common denominators and multiples
	p
		a(href="/theory/maths/arithmetic/0006Bezout") Bezout's identity
	p
		a(href="/theory/maths/arithmetic/0007integersArithmatic") Fundamental Theorem of Arithmetic
