extends ./arithmetic/subSubTemplate.jade
block subSubContent
	h3
		b Robinson arithmetic
	p
		a(href="./arithmetic/addition") Addition
	p
		a(href="./arithmetic/multiplication") Multiplication
	h3
		b Compound functions
	p
		a(href="./arithmetic/0001integersNaturalInverse") Subtraction and division
	h3
		b Important identities
	p
		a(href="./arithmetic/binomial") Binomial expansion
	p
		a(href="./arithmetic/PFD") Partial fraction decomposition
	p
		a(href="./arithmetic/other") Difference of two squares
	p
		a(href="./arithmetic/fractionRules") Fraction identities
	h3
		b Numbers
	p
		a(href="./arithmetic/integers") Integers
	p
		a(href="./arithmetic/rationals") Rationals
	p
		a(href="./arithmetic/powers") Powers
	h3
		b Solvers
	p
		a(href="./arithmetic/quadratic") Quadratic
	p
		a(href="./arithmetic/cubic") Cubic
