extends ./arithmetic/subSubTemplate.jade
block subSubContent
	h3
		b Addition and multiplication
	p
		a(href="./arithmetic/addition") Addition
	p
		a(href="./arithmetic/multiplication") Multiplication
	p
		a(href="./arithmetic/brackets") Brackets
	p
		a(href="./arithmetic/powers") Powers
	p
		a(href="./arithmetic/binomial") Binomial expansion (split out factorial)
	h3
		b Integers
	p
		a(href="./arithmetic/subtraction") Subtraction
	p
		a(href="./arithmetic/integers") Integers
	h3
		b Rational numbers
	p
		a(href="./arithmetic/0001integersNaturalInverse") Division
	p
		a(href="./arithmetic/rationals") Rationals
	p
		a(href="./arithmetic/fractionRules") Fraction identities
	p
		a(href="./arithmetic/PFD") Partial fraction decomposition
	h3
		b Other
	p
		a(href="./arithmetic/closure") Closure
	p
		a(href="./arithmetic/logs") Logarithms
	h3
		b Algebra
	p
		a(href="./arithmetic/algebraic") Algebraic equations
	p
		a(href="./arithmetic/quadratic") Quadratic
	p
		a(href="./arithmetic/cubic") Cubic
	p
		a(href="./arithmetic/other") Difference of two squares
