extends ./calculusVariations/subSubTemplate.jade
block subSubContent
	h3
		b Sort
	p
		a(href="./calculusVariations/frechet") Fréchet derivative
	p
		a(href="./calculusVariations/gateux") Gâteaux derivative

