extends ./calculus/subSubTemplate.jade
block subSubContent
	h3
		b Partial differentiation
	p
		a(href="./calculus/0300diffDerivatives") The partial differential operator
	p
		a(href="./calculus/0305analysisMore") Differentiating constants, the identity function, and linear functions
	p
		a(href="./calculus/linear") Partial differentiation is a linear operator
	p
		a(href="./calculus/chain") The chain rule, the product rule and the quotient rule
	p
		a(href="./calculus/power") Differentiating natural number power functions
	p
		a(href="./calculus/lhopital") L'Hôpital's rule
	p
		a(href="./calculus/rolle") Rolle's theorem
	p
		a(href="./calculus/0306meanValueTheorem") Mean value theorem
	p
		a(href="./calculus/elasticity") Elasticity
	p
		a(href="./calculus/elasticity") Smooth functions
	p
		a(href="./calculus/elasticity") Analytic functions
	h3
		b Higher-order differentials
	p
		a(href="./calculus/functions") Differentiable functions
	p
		a(href="./calculus/critical") Critical points
	h3
		b Exponentials
	p
		a(href="./calculus/binomial") Defining \(e\) as a binomial
	p
		a(href="./calculus/0301diffE") Differentiating \(e^x\)
	p
		a(href="./calculus/diffExponents") Differentiating exponents, logarithms and power functions
	h3
		b Integration
	p
		a(href="./calculus/riemann") Riemann integral
	p
		a(href="./calculus/definiteIndefinite") Definite and indefinite integration
	p
		a(href="./calculus/0304diffAnti") Anti-derivatives
	p
		a(href="./calculus/integrationParts") Integration by parts
	p
		a(href="./calculus/0400integrationIntegrals") Integration
	p
		a(href="./calculus/0401FundamentalTheoremCalculus") Fundamental theorem of calculus
	
