extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
	h2
		b Complex analysis
	h3
		b Trigonometry
	p
		a(href="/theory/maths/realAnalysis/0100trigCS") Sine and cosine
	p
		a(href="/theory/maths/realAnalysis/0101trigPolar") Polar coordinates
	p
		a(href="/theory/maths/realAnalysis/0102trigTan") Tan
	p
		a(href="/theory/maths/realAnalysis/0103trigOther") Other trigonometric functions
	p
		a(href="/theory/maths/realAnalysis/0104trigIdentities") Trigonometric identities
	p
		a(href="/theory/maths/realAnalysis/0105trigIntegrals") Trigonometric functions as integrals
	p
		a(href="/theory/maths/realAnalysis/0106trigTau") \(\tau \)
	h3
		b Complex functions
	p
		a(href="/theory/maths/realAnalysis/0200ComplexLogs") Complex logarithms
	h3
		b Fourier
	p
		a(href="/theory/maths/realAnalysis/0300trigFourier") Fourier transform
