extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Models
	p 3rd March 2017

	h3
		b Rational numbers
	p We previously defined integers in terms of natural numbers. Similarly we can define rational numbers in terms of integers.
	p $$\forall ab \in \mathbb{I} (¬(b=0)\rightarrow \exists c (b.c=a))$$
	p So that:
	p $$(a,b)=a/b$$
	p Integers can be shown as rational numbers using:
	p $$(i,1)$$
	p Then we can define addition as:
	p $$(a,b)+(c,d)=(a.d+b.c,b.d)$$
	p Similarly, multiplication can be defined as:
	p $$(a,b).(c,d)=(a.c, b.d)$$
