extends ./complexAnalysis/subSubTemplate.jade
block subSubContent
	h3
		b Complex-valued functions
	p
		a(href="./complexAnalysis/defining") Defining complex-valued functions
	p
		a(href="./complexAnalysis/multivalued") Multivalued functions
	p
		a(href="./complexAnalysis/continuation") Analytic continuation
	h3
		b Complex differentiation
	p
		a(href="./complexAnalysis/wirtinger") Wirtinger derivatives
	p
		a(href="./complexAnalysis/lineIntegral") Holomorphic functions
	p
		a(href="./complexAnalysis/smooth") Smooth functions
	h3
		b Complex integration
	p
		a(href="./complexAnalysis/singularities") Singularities
	p
		a(href="./complexAnalysis/lineIntegral") Contour integration
	p
		a(href="./complexAnalysis/lineIntegral") Line integral
	p
		a(href="./complexAnalysis/lineIntegral") Cauchy's integral theorem
	p
		a(href="./complexAnalysis/lineIntegral") Cauchy's integral formula

