extends ./complex/subSubTemplate.jade
block subSubContent
	h3
		b Introducing complex numbers
	p
		a(href="./complex/closure") Real numbers aren't closed
	p
		a(href="./complex/define") Defining complex numbers
	p
		a(href="./complex/operators") Operators on complex numbers
	h3
		b Results
	p
		a(href="./complex/unity") Roots of unity
	p
		a(href="./complex/0200ComplexLogs") Complex logarithms
