extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Models
	p 3rd March 2017
	h3
		b Real numbers

	p Define from dedekind cuts


	p Not all numbers can be shown as fractions. \(\sqrt 2\), \(\pi\). No way to have ordered set.
	p Let's prove there are numbers which are not rational. Consider \(\sqrt 2\) and let's show that it being rational leads to a contradiction.
	$$\sqrt 2=\frac{x}{y}$$
	p $$2=\frac{x^2}{y^2}$$
	p $$2y^2=x^2$$
	p So we know that \(x^2\) is even, and can be shown as \(x=2n\).
	p $$2y^2=(2n)^2$$
	p $$y^2=2n^2$$
	p So \(y\) is even. But if both \(x\) and \(y\) are even, then the fraction was not reduced.
	p This presents a contraction so the original statement must have been false.

	p So we know there isn't a rational solution to \(\sqrt 2\), but how should we think about this value?
	p We previously discussed cauchy sequences, and completeness. A series of rational numbers can converge arbitrarily close towards \(\sqrt 2\) but never reach it. By adding these points which rational numbers can converge towards we create the real numbers.
