extends ./complex/subSubTemplate.jade
block subSubContent
	h3
		b Introducing complex numbers
	p
		a(href="./complex/closure") Real numbers aren't closed
	p
		a(href="./complex/define") Defining complex numbers
	h3
		b Operators on complex numbers
	p
		a(href="./complex/arithmetic") Arithmetic on complex numbers
	p
		a(href="./complex/conjugate") Complex conjugate
	p
		a(href="./complex/absolute") Absolute value
	h3
		b Results
	p
		a(href="./complex/unity") Roots of unity
	p
		a(href="./complex/0200ComplexLogs") Complex logarithms
	p
		a(href="./complex/disk") Disks
	p
		a(href="./complex/annulus") Annulus

