extends ./complexAnalysis/subSubTemplate.jade
block subSubContent
	h3
		b Complex-valued functions
	p
		a(href="./complexAnalysis/defining") Defining complex-valued functions
	p
		a(href="./complexAnalysis/multivalued") Multivalued functions
	p
		a(href="./complexAnalysis/continuous") Complex continuous functions
	p
		a(href="./complexAnalysis/openRegions") Open regions
	p
		a(href="./complexAnalysis/continuation") Analytic continuation
	p
		a(href="./complexAnalysis/analytic") Analytic functions
	p
		a(href="./complexAnalysis/convergence") Circle of convergence
	h3
		b Complex differentiation
	p
		a(href="./complexAnalysis/wirtinger") Wirtinger derivatives
	p
		a(href="./complexAnalysis/lineIntegral") Holomorphic functions
	p
		a(href="./complexAnalysis/smooth") Complex smooth functions
	p
		a(href="./complexAnalysis/C1CInf") All differentiable complex functions are smooth
	p
		a(href="./complexAnalysis/smoothAnalytic") All smooth complex functions are analytic
	h3
		b Complex integration
	p
		a(href="./complexAnalysis/singularities") Singularities
	p
		a(href="./complexAnalysis/lineIntegral") Contour integration
	p
		a(href="./complexAnalysis/lineIntegral") Line integral
	p
		a(href="./complexAnalysis/lineIntegral") Cauchy's integral theorem
	p
		a(href="./complexAnalysis/lineIntegral") Cauchy's integral formula

