extends ./differentialEquations/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./differentialEquations/ODEPDE") Ordinary and Partial Differential Equations (ODEs and PDEs)
	p
		a(href="./differentialEquations/order") Order of differential equations
	p
		a(href="./differentialEquations/implicit") Implicit and explit differential equations
	h3
		b First-order Ordinary Differential Equations
	p
		a(href="./differentialEquations/1300diffEqODE") Ordinary differential equations
	p
		a(href="./differentialEquations/linearFirstODE") Linear first-order ODEs
	p
		a(href="./differentialEquations/separableFirstODE") Separable first-order ODEs
	h3
		b Second-order Ordinary Differential Equations
	p
		a(href="./differentialEquations/linearSecondODE") Linear second-order ODEs

	h3
		b Partial differential equations
	p
		a(href="./differentialEquations/1301diffEqPDE") Partial differential equations
