extends ./differentialEquations/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./differentialEquations/ODEPDE") Ordinary and Partial Differential Equations (ODEs and PDEs)
	h3
		b Partial differential equations
	p
		a(href="./differentialEquations/1301diffEqPDE") Partial differential equations
