extends ./differentialEquations/subSubTemplate.jade
block subSubContent
	h1 Math
	h2
		b Differential equations
	p
		a(href="/theory/maths/differentialEquations/1300diffEqODE") Ordinary differential equations
	p
		a(href="/theory/maths/differentialEquations/1301diffEqPDE") Partial differential equations
	
