extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Elementary number theory
	p
		a(href="/theory/maths/elementary/0000integersNaturalFunctions") Addition and multiplication
	p
		a(href="/theory/maths/elementary/0001integersNaturalInverse") Subtraction and division
	p
		a(href="/theory/maths/elementary/0002integersPrimes") Prime numbers 
	p
		a(href="/theory/maths/elementary/0003integersGCDLCM") Greatest Common Divisors and Lowest Common Multiples
	p
		a(href="/theory/maths/elementary/0004integersIntegers") Integers
	p
		a(href="/theory/maths/elementary/0005integersArithmatic") Fundamental Theorem of Arithmetic
	p
		b Part 2
	p
		a(href="/theory/maths/elementary/0100realRationals") Rationals
	p
		a(href="/theory/maths/elementary/0101realIntervals") Intervals
	p
		a(href="/theory/maths/elementary/0102realPowers") Powers
	p
		b Part 3
	p
		a(href="/theory/maths/elementary/0200algebraBinomial") Binomial expansion
	p
		a(href="/theory/maths/elementary/0201algebraPFD") Partial fraction decomposition
	p
		a(href="/theory/maths/elementary/0202algebraOther") Other
	p
		a(href="/theory/maths/elementary/0204algebraQuadratic") Quadratic solver
	p
		a(href="/theory/maths/elementary/0205algebraCubic") Cubic solver
