extends ./endomorphisms/subSubTemplate.jade
block subSubContent
	h3
		b Endomorphisms of vector spaces
	p
		a(href="./endomorphisms/endomorphisms") Endomorphisms
	p
		a(href="./endomorphisms/endomorphismsVectorSpace") Endomorphisms form a vector space
	p
		a(href="./endomorphisms/projection") Projections
	p
		a(href="./endomorphisms/kernelImage") Kernels and images
	h3
		b Representing endomorphisms with matrices
	p
		a(href="./endomorphisms/0001linearMatrices") Matrix and vector representation
	p
		a(href="./endomorphisms/commutation") Commutation
	p
		a(href="./endomorphisms/kronecker") Identity matrix and the Kronecker delta
	p
		a(href="./endomorphisms/0002linearOperations") Matrix addition and multiplication
	p
		a(href="./endomorphisms/basisEndomorphism") Basis of an endomorphism
	p
		a(href="./endomorphisms/changingBasis") Changing the basis
	p
		a(href="./endomorphisms/keyResults") Transposition and conjugation
	p
		a(href="./endomorphisms/rank") Matrix rank
	p
		a(href="./endomorphisms/typesMatrices") Types of matrices
	h3
		b Automorphisms of vector spaces
	p
		a(href="./endomorphisms/0101linearInversion") Inverse matrices
	p
		a(href="./endomorphisms/degenerate") Degenerate (singular) matrices
	p
		a(href="./endomorphisms/0102linearDependence") Elementary row operations
	p
		a(href="./endomorphisms/0100linearGauss") Gaussian elimination
	h3
		b Eigenvalues and eigenvectors
	p
		a(href="./endomorphisms/0200linearEigen") Eigenvalues and eigenvectors
	p
		a(href="./endomorphisms/spectrum") Spectrum
	p
		a(href="./endomorphisms/eigenBasis") Eigenvectors as a basis
	p
		a(href="./endomorphisms/characteristicPolynomial") Calculating eigenvalues and eigenvectors using the characteristic polynomial
	p
		a(href="./endomorphisms/traces") Traces
	h3
		b Matrix operations
	p
		a(href="./endomorphisms/powers") Matrix powers
	p
		a(href="./endomorphisms/matrixExponential") Matrix exponentials
	p
		a(href="./endomorphisms/matrixLogarithm") Matrix logarithms
	p
		a(href="./endomorphisms/matrixRoot") Matrix square roots
	h3
		b Matrix decomposition
	p
		a(href="./endomorphisms/similar") Similar matrices
	p
		a(href="./endomorphisms/defective") Defective and diagonalisable matrices
	p
		a(href="./endomorphisms/diagonal") Diagonalisable matrices and eigen-decomposition
	p
		a(href="./endomorphisms/spectral") Spectral theorem for finite-dimensional vector spaces
	h3
		b The linear groups
	p
		a(href="./endomorphisms/GL") General linear groups \(GL(n, F)\)
	p
		a(href="./endomorphisms/action") Endomorphisms as group actions
	p
		a(href="./endomorphisms/finite") Representing finite groups
	p
		a(href="./endomorphisms/compact") Representing compact groups

