extends ./exteriorAlgebra/subSubTemplate.jade
block subSubContent
	h3
		b Exterior algebra
	p
		a(href="./exteriorAlgebra/wedge") The exterior (wedge) product
	p
		a(href="./exteriorAlgebra/exteriorAlgebra") Exterior (Grassman) algebra

