extends ./fields/subSubTemplate.jade
block subSubContent
	h3
		b Fields
	p
		a(href="./fields/rings") Rings
	p
		a(href="./fields/fields") Fields
	h3
		b Solvers
	p
		a(href="./fields/quadratic") Quadratic
	p
		a(href="./fields/cubic") Cubic

