extends ./forms/subSubTemplate.jade
block subSubContent
	h3
		b Linear forms
	p
		a(href="./forms/linearForm") Linear forms
	p
		a(href="./forms/dualSpace") Dual space
	p
		a(href="./forms/dualSpaceBasis") The basis of dual space
	h3
		b Bilinear forms
	p
		a(href="./forms/bilinearForms") Bilinear forms
	p
		a(href="./forms/kernel") The dot product
	p
		a(href="./forms/orthogonalVectors") Orthogonal vectors
	p
		a(href="./forms/metricPreserving") Form-preserving transformations
	p
		a(href="./forms/O") Orthogonal groups \(O(n, F)\)
	p
		a(href="./forms/OIndef") Indefinite (pseduo) and split orthognal groups \(O(n,m,F)\)
	h3
		b Sesquilinear forms
	p
		a(href="./forms/sesquilinearForms") Sesquilinear forms
	p
		a(href="./forms/U") Unitary groups \(U(n, F)\)
	h3
		b Inner products
	p
		a(href="./forms/positiveDefinite") Positive-definite matrices
	p
		a(href="./forms/innerProducts") Inner products
	p
		a(href="./forms/norm") Norms
	p
		a(href="./forms/cauchySchwarz") Cauchy-Schwarz inequality
	p
		a(href="./forms/angles") Angles
	h3
		b Non-linear norms
	p
		a(href="./forms/Lp") \(L_p\) norms
	h3
		b Sort
	p
		a(href="./forms/isometry") Isometry groups
	p
		a(href="./forms/symmetry") Symmetry groups
	p
		a(href="./forms/hermitian") Hermitian matrices
	h3
		b Multilinear forms
	p
		a(href="./forms/formsMaps") Multilinear maps
	p
		a(href="./forms/matrixCols") Matrix columns as vector inputs
	p
		a(href="./forms/0103linearDeterminants") Determinants
	h3
		b Special groups
	p
		a(href="./forms/SO") Special orthogonal groups \(SO(n, F)\)
	p
		a(href="./forms/SU") Special unitary groups \(SU(n, F)\)
	p
		a(href="./forms/SL") Special linear groups \(SL(n, F)\)
	h3
		b To inf
	p
		a(href="./forms/hilbert") Hilbert space
	p
		a(href="./forms/banach") Banach space
	p
		a(href="./forms/spectral") Spectral theorem
	h3
		b To metric space
	p
		a(href="./forms/metricSpace") Metrics
	p
		a(href="./forms/affine") The affine group
	p
		a(href="./forms/euclidian") The Euclidan group
	p
		a(href="./forms/topology") Inducing a topology
	p
		a(href="./forms/translation") Translation symmetry

