extends ./forms/subSubTemplate.jade
block subSubContent
	h3
		b Linear forms
	p
		a(href="./forms/linearForm") Linear forms
	p
		a(href="./forms/dualSpace") Dual space
	p
		a(href="./forms/dualSpaceBasis") The basis of dual space
	h3
		b More on bases
	p
		a(href="./forms/basisEndomorphism") Basis of a homomorphism
	p
		a(href="./forms/changingBasis") Changing the basis
	h3
		b Bilinear forms
	p
		a(href="./forms/bilinear") Bilinear maps and forms
	p
		a(href="./forms/dotProduct") Dot product
	p
		a(href="./forms/positiveDefinite") Positive-definite matrices
	p
		a(href="./forms/kernel") Kernels
	p
		a(href="./forms/euclid") The Euclidian norm
	p
		a(href="./forms/topology") Inducing a topology
	p
		a(href="./forms/norm") Norms
	p
		a(href="./forms/hilbert") Hilbert space
	p
		a(href="./forms/banach") Banach space
	p
		a(href="./forms/cauchySchwarz") Cauchy-Schwarz inequality
	h3
		b Orthogonal groups
	p
		a(href="./linearAlgebra/O") Orthogonal groups \(O(n, F)\)
	p
		a(href="./linearAlgebra/O2") \(O(1, C)\), \(O(2, C)\) and \(O(3, C)\)
	p
		a(href="./linearAlgebra/SO") Special orthogonal groups \(SO(n, F)\)
	p
		a(href="./linearAlgebra/SO2") \(SO(1, C)\), \(SO(2, C)\) and \(SO(3, C)\)
	p
		a(href="./linearAlgebra/OIndef") Indefinite orthognal groups \(O(n,m,F)\)
	h3
		b Sesquilinear forms
	p
		a(href="./forms/innerProduct") Inner product space
	p
		a(href="./forms/spectral") Spectral theorem
	h3
		b Unitary groups
	p
		a(href="./linearAlgebra/U") Unitary groups \(U(n, F)\)
	p
		a(href="./linearAlgebra/U2") \(U(1, C)\), \(U(2, C)\) and \(U(3, C)\)
	p
		a(href="./linearAlgebra/SU") Special unitary groups \(SU(n, F)\)
	p
		a(href="./linearAlgebra/SU2") \(SU(1, C)\), \(SU(2, C)\) and \(SU(3, C)\)
	h3
		b Symplectic groups
	p
		a(href="./linearAlgebra/symplectic") Symplectic groups
	h3
		b Non-linear norms
	p
		a(href="./forms/Lp") \(L_p\) norms
	p
		a(href="./forms/metricSpace") Metrics

