extends ./forms/subSubTemplate.jade
block subSubContent
	h3
		b Linear forms
	p
		a(href="./forms/linearForm") Linear forms
	p
		a(href="./forms/dualSpace") Dual space
	p
		a(href="./forms/dualSpaceBasis") The dual space forms a vector space
	h3
		b Bilinear forms
	p
		a(href="./forms/bilinearForms") Bilinear forms
	p
		a(href="./forms/kernel") The dot product
	p
		a(href="./forms/orthogonalVectors") Orthogonal vectors
	p
		a(href="./forms/metricPreserving") Form-preserving transformations and isometry groups
	p
		a(href="./forms/O") Orthogonal groups \(O(n, F)\)
	p
		a(href="./forms/OIndef") Indefinite (pseduo) and split orthognal groups \(O(n,m,F)\)
	p
		a(href="./forms/lorentz") The Lorentz group
	h3
		b Sesquilinear forms
	p
		a(href="./forms/sesquilinearForms") Sesquilinear forms
	p
		a(href="./forms/U") Unitary groups \(U(n, F)\)
	h3
		b Inner products
	p
		a(href="./forms/symmetric") Symmetric matrices
	p
		a(href="./forms/hermitian") Hermitian (self-adjoint) matrices
	p
		a(href="./forms/pauli") Pauli matrices
	p
		a(href="./forms/positiveDefinite") Positive-definite matrices
	p
		a(href="./forms/innerProducts") Inner products
	p
		a(href="./forms/cauchySchwarz") Cauchy-Schwarz inequality
	h3
		b Multilinear forms and determinants
	p
		a(href="./forms/formsMaps") Multilinear forms
	p
		a(href="./forms/0103linearDeterminants") Determinants
	p
		a(href="./forms/determinantsProperties") Properties of determinants
	p
		a(href="./forms/determinants23") Determinants of 2x2 and 3x3 matrices
	h3
		b Special groups
	p
		a(href="./forms/SO") Special orthogonal groups \(SO(n, F)\)
	p
		a(href="./forms/SU") Special unitary groups \(SU(n, F)\)
	p
		a(href="./forms/SL") Special linear groups \(SL(n, F)\)
	h3
		b Sort
	p
		a(href="./forms/normal") Normal matrices

