extends ./functionalAnalysis/subSubTemplate.jade
block subSubContent
	h3
		b Real functions as infinite-dimensional vectors
	p
		a(href="./functionalAnalysis/real") Real functions are vectors
	h3
		b Endomorphisms of infinite-dimensional vector spaces
	p
		a(href="./functionalAnalysis/endomorphisms") Endomorphisms on real functions
	p
		a(href="./functionalAnalysis/operatorExamples") Examples of linear operators on real functions
	h3
		b Eigenvalues and eigenvectors of infinite-dimensional vectors
	p
		a(href="./functionalAnalysis/spectral") Spectral theorem for infinite-dimensional vector spaces
	h3
		b Forms on infinite-dimensional vector spaces
	p
		a(href="./functionalAnalysis/forms") Forms on real functions
	p
		a(href="./functionalAnalysis/functional") Functionals
	p
		a(href="./functionalAnalysis/hilbert") Hilbert space
	h3
		b Calculus of variations
	p
		a(href="./functionalAnalysis/variations") Calculus of variations
	p
		a(href="./functionalAnalysis/functionalIntegration") Functional integration
	h3
		b Sort
	p
		a(href="./functionalAnalysis/banach") Banach space

