extends ./functionalAnalysis/subSubTemplate.jade
block subSubContent
	h3
		b Real functions as vectors
	p
		a(href="./functionalAnalysis/real") Real functions are vectors
	p
		a(href="./functionalAnalysis/endomorphisms") Endomorphisms on real functions
	p
		a(href="./functionalAnalysis/forms") Forms on real functions
	h3
		b Calculus of variations
	p
		a(href="./functionalAnalysis/variations") Calculus of variations

