extends ./functionalAnalysis/subSubTemplate.jade
block subSubContent
	h3
		b Spectral theorem
	p
		a(href="./functionalAnalysis/0201linearPositive") Positive definite matrices
	p
		a(href="./functionalAnalysis/hermitian") Hermitian matrices
	p
		a(href="./functionalAnalysis/basis") Spectral theorem

