extends ./graph/subSubTemplate.jade
block subSubContent
	h3
		b Undirected graphs
	p
		a(href="./graph/vertices") Vertices and edges
	p
		a(href="./graph/order") Order and size of graphs
	p
		a(href="./graph/subgraph") Subgraphs
	p
		a(href="./graph/simple") Loops, multiple edges and simple graphs
	h3
		b Directed graphs
	h3
		b Weighted graphs
	h3
		b Graph representation
	p
		a(href="./graph/subgraph") Adjacency matrix
	p
		a(href="./graph/subgraph") Incidence matrix
	p
		a(href="./graph/subgraph") Degree matrix
	p
		a(href="./graph/subgraph") Laplacian matrix
	h3
		b Representing manifolds
	p
		a(href="./graph/vertices") Nearest-neighbour graph
	p
		a(href="./graph/vertices") Triangular mesh

