extends ./graph/subSubTemplate.jade
block subSubContent
	h3
		b Undirected graphs
	p
		a(href="./graph/vertices") Vertices and edges
	p
		a(href="./graph/order") Order and size of graphs
	p
		a(href="./graph/subgraph") Subgraphs
	p
		a(href="./graph/simple") Loops, multiple edges and simple graphs
	h3
		b Directed graphs
	p
		a(href="./graph/DAG") Direct acyclic graphs
	h3
		b Weighted graphs
	p
		a(href="./graph/weightedEdge") Edge-weighted graph
	p
		a(href="./graph/weightedVertex") Vertex-weighted graph
	h3
		b Graph representation
	p
		a(href="./graph/matrixAdjacency") Adjacency matrix
	p
		a(href="./graph/matrixIncidence") Incidence matrix
	p
		a(href="./graph/matrixDegree") Degree matrix
	p
		a(href="./graph/matrixLaplacian") Laplacian matrix
	h3
		b Representing manifolds
	p
		a(href="./graph/manifold") Nearest-neighbour graph
	p
		a(href="./graph/mesh") Triangular mesh

