extends ./groups/subSubTemplate.jade
block subSubContent
	h3
		b Groups
	p
		a(href="./groups/defining") Defining groups
	p
		a(href="./groups/morphisms") Morphisms 
	p
		a(href="./groups/groupOrder") Group order
	p
		a(href="./groups/generating") Generating sets
	p
		a(href="./groups/cyclic") Cyclic groups
	p
		a(href="./groups/representation") Group representation
