extends ./groups/subSubTemplate.jade
block subSubContent
	h3
		b Groups
	p
		a(href="./groups/monoids") Magmas and monoids
	p
		a(href="./groups/groups") Groups
	p
		a(href="./groups/symmetry") Symmetry
