extends ./groups/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./groups/abstract") Abstract algebra
	p
		a(href="./groups/defining") Defining groups
	p
		a(href="./groups/groupOrder") Group order
	h3
		b Morphisms
	p
		a(href="./groups/permutation") Permutations
	p
		a(href="./groups/morphisms") Morphisms
	p
		a(href="./groups/cosets") Cosets
	h3
		b Creating groups
	p
		a(href="./groups/generating") Generating sets
	p
		a(href="./groups/cyclic") Cyclic groups
	h3
		b Theorems
	p
		a(href="./groups/cayley") Cayley's theorem
	p
		a(href="./groups/lagrange") Lagrange's theorem
	
