extends ./groups/subSubTemplate.jade
block subSubContent
	h3
		b Groups
	p
		a(href="./groups/monoids") Magmas and monoids
	p
		a(href="./groups/groups") Groups
	h3
		b Numbers
	p
		a(href="./groups/integers") Integers
	p
		a(href="./groups/rationals") Rationals
	p
		a(href="./groups/powers") Powers

