extends ./groups/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./groups/abstract") Abstract algebra
	p
		a(href="./groups/defining") Defining groups
	p
		a(href="./groups/subgroup") Subgroups
	p
		a(href="./groups/abelian") Abelian groups
	p
		a(href="./groups/groupOrder") Group order
	h3
		b Creating groups
	p
		a(href="./groups/permutation") Permutations and the symmetric group
	p
		a(href="./groups/morphisms") Morphisms
	p
		a(href="./groups/generating") Generating sets
	h3
		b Group operations
	p
		a(href="./groups/commutator") The group commutator
	p
		a(href="./groups/directProduct") The direct product of groups
	h3
		b Specifc groups
	p
		a(href="./groups/trivial") The trivial group
	p
		a(href="./groups/cyclicInf") The infinite cyclic group (\(Z\))
	p
		a(href="./groups/cyclic") The finite cyclic groups (\(C_n\) or \(Z_n\))
	p
		a(href="./groups/circle") The circle group (\(T\))
	h3
		b Normal subgroups
	p
		a(href="./groups/cosets") Cosets and normal subgroups
	p
		a(href="./groups/quotient") Quotient groups
	p
		a(href="./groups/extension") Group extension
	h3
		b Theorems
	p
		a(href="./groups/cayley") Cayley's theorem
	p
		a(href="./groups/lagrange") Lagrange's theorem
	h3
		b Group action
	p
		a(href="./groups/groupAction") Group action

