extends ./hypercomplex/subSubTemplate.jade
block subSubContent
	h3
		b Quaterions
	p
		a(href="./hypercomplex/quaternions") Quaternions
	h3
		b Clifford algebra
	p
		a(href="./hypercomplex/clifford") Clifford algebra
	h3
		b Grassman algebra
	p
		a(href="./hypercomplex/grassman") Grassman algebra
	p
		a(href="./hypercomplex/wedge") The wedge product

