extends ./hyperComplex/subSubTemplate.jade
block subSubContent
	h3
		b Quaterions
	p
		a(href="./hyperComplex/quaternions") Quaternions
	h3
		b Clifford algebra
	p
		a(href="./hyperComplex/clifford") Clifford algebra
	h3
		b Grassman algebra
	p
		a(href="./hyperComplex/grassman") Grassman algebra
	p
		a(href="./hyperComplex/wedge") The wedge product

