extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Algebraic
	p 3rd March 2017
	p This is a collection of things we know
	h3
		b Differences of two squares
	$$(a+b)(a-b)=a^2-ab+ab-b^2=a^2-b^2$$
	$$(a+b)(a-b)=a^2+b^2$$

	p Manipulating terms keeping equality
	p Simplifying rational numbers
	p Surds
	p Use of commutative, distributive, associative properties.
	p $$a^ba^c=a^{b+c}$$
	p $$(a^b)^c=a^{bc}$$
	p $$(a.b)^c=a^c.b^c$$
	p $$a-b=a+(-b)$$
	p $$\frac{a+b}{c}=\frac{a}{c}+\frac{b}{c}$$


	p Surds