extends ./importantFunctions/subSubTemplate.jade
block subSubContent
	h3
		b Other
	p
		a(href="./importantFunctions/0205realGamma") Gamma function
	p
		a(href="./importantFunctions/delta") Dirac delta

