extends ./importantFunctions/subSubTemplate.jade
block subSubContent
	h3
		b Expanding functions of natural numbers
	p
		a(href="./importantFunctions/gamma") Gamma function
	p
		a(href="./importantFunctions/beta") Beta function
	h3
		b Other
	p
		a(href="./importantFunctions/delta") Dirac delta

