extends ./importantFunctions/subSubTemplate.jade
block subSubContent
	h3
		b Expanding functions of functions of natural numbers
	p
		a(href="./importantFunctions/0205realGamma") Gamma function (factorial)
	p
		a(href="./importantFunctions/0205realGamma") Beta function (binomial)
	h3
		b Other
	p
		a(href="./importantFunctions/delta") Dirac delta

