extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Models
	p GCD and LCM
	p Get all primes for both numbers.
	p 4 is (2;2)
	p 6 is (2;3)
	p $$gcd(a,b)$$
	p Take 1, and go through each prime number and multiply by the minimum of those. For this this is:
	p 2:1
	p 3:0
	p So GCD is 2^1.3^0=2

	h3
		b Greatest common divisor
