extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Models
	p 3rd March 2017
	p In addition to these functions we also have inverses. These are subtraction, division and logarithms respectively. For function \(\oplus\), its inverse is \(\oplus '\), as defined below:
	p $$a\oplus b=c$$
	p $$b=c\oplus 'a$$
	p So:
	p $$a+b=c\rightarrow b=c-a$$
	p $$a.b=c\rightarrow b=c/a$$
	p $$a^b=c\rightarrow b=log_a c$$
	p These will not necessarily have solutions for some sets of numbers. There is no natural number \(b\) that satisfies:
	p $$3+b=2$$
	p $$3.b=2$$
	p $$3^b=2$$

	p Arithmetic: inverse functions
	p Inverse functions as a concept
	p $$f(a,b)=c\rightarrow f^{-1}(c,b)=a$$
	p Inverses of above
	p $$a^{-1}(c,b):=s(c,b)=c-b=a$$
	p $$m^{-1}(c,b):=d(c,b)=c/b=a$$
	p $$e^{-1}(c,b):==l(c,b)=log_bc=a$$
	p $$p^{-1}(c,b)=p(c,\frac{1}{b})=a$$
	p Inverse functions not always defined on reals
	p Show later some are defined on complex (logs), but still not defined on reals

