extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Models
	h3
		b Integers
	p To extend the number line to negative numbers, we define:
	p $$\forall ab \in \mathbb{N} \exists c (a+c=b)$$
	p For any pair of numbers there exists a terms which can be added to one to get the other.
	p For \(1+x=3\) this is another natural number, however for \(3+x=1\) there is no such number.
	p Integers are defined as the solutions for any pair of natural numbers.
	p Can we add and multiply integers? If we consider an integer to by an ordered pair of natural numbers, such that:
	p $$(a,b)=a-b$$
	p Natural numbers can be shown as integers by using:
	p $$(n,0)$$
	p Then we can define addition as:
	p $$(a,b)+(c,d)=(a+c,b+d)$$
	p Similarly, multiplication can be defined as:
	p $$(a,b).(c,d)=(ac+bd, ad+bc)$$

