extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Models
	p Sum
	p Product
	p $$n!:=\prod_i^ni$$

	p Summation
	p $$\sum^n_i c=nc$$
	p $$\sum^n_i cx_i=c\sum^n_i x_i$$
	p $$\sum_i \sum_j x_i y_j=\sum_j \sum_i x_i y_j$$
	p $$\sum_i \sum_j x_i y_j=\sum_i x_i \sum_j y_j$$
	p $$\sum_i \sum_j x_i y_j=\sum_i x_i \sum_j y_j$$
	p $$\sum_i (x_i+y_i)=(\sum_i x_i)+(sum_i y_i)$$
	p $$\sum_i (x_i+c)=nc+\sum_i x_i$$
	p $$\sum_i \sum_i x_i=n\sum_i x_i$$

	h3
		b More on inference rules
	p We used the inference rules Modus Ponens, which says that if \(X\) is true, and \(X\rightarrow Y\) is true, then \(Y\) is true.
	p This can be used in many ways, including induction for natural number based proofs.
	p For example, let's prove that:
	p $$\sum_{i=0}^n i= \frac{n(n+1)}{2}$$
	p We know this is true for \(n=0\):
	p $$0=\frac{0(0+1)}{2}$$
	p $$0=0$$
	p We can also prove that if it true for \(n\), it is true for \(n+1\).
	p $$\sum_{i=0}^{n+1} i= \frac{(n+1)(n+2)}{2}$$
	p $$(n+1)+\sum_{i=0}^{n} i= \frac{n^2 +3n +2}{2}$$
	p If it is true for \(n\), then:
	p $$(n+1)+\frac{n(n+1)}{2}= \frac{n^2 +3n +2}{2}$$
	p $$\frac{n^2+3n+2}{2}= \frac{n^2 +3n +2}{2}$$
	p $$1=1$$
	p So we know that it is true for \(n=0\), and if it is true for \(n\), then it is true for \(n+1\). As a result it is true for all natural numbers.
