extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Sets
	p 25th February 2017
	h3
		b Defining
	p
		b Enumeration
	p List all elements
	$$ \{a, 3, 15, 8, f\}$$
	p
		b Ellipses
	p Defines ranges
	$$ \{1, 2, 3,...,100\}$$
	$$ \{0, 1, 2,...\}$$
	p
		b Predicates
	p All positive real numbers:
	$$\{x \in \mathbb{R} | x>0\}$$
	p All cartesian points beween a line and the x axis.
	$$\{(x, y) \in \mathbb{R} . \mathbb{R} | 0 < y < f(x) \}$$

	p All even numbers
	$$\{n \in \mathbb{N} |(\exists k)[k\in \mathbb{N} \land n=2k]\}$$
	p All rational numbers
	$$\{a\in \mathbb{R} |(\exists p\in \mathbb{Z})(\exists q\in \mathbb{Z})[q\ne 0 \land aq=p]\}$$
	h3
		b Membership
	p Subsets
	p Equality

	p Add stuff for ZFC