extends ./linearAlgebra/subSubTemplate.jade
block subSubContent
	h3
		b Vector spaces
	p
		a(href="./linearAlgebra/vectorSpace") Vector spaces
	p
		a(href="./linearAlgebra/span") Span
	p
		a(href="./linearAlgebra/dependence") Linear dependence
	p
		a(href="./linearAlgebra/linearCombinations") Basis vectors
	p
		a(href="./linearAlgebra/dimension") Dimension
	h3
		b Endomorphisms of vector spaces
	p
		a(href="./linearAlgebra/endomorphisms") Endomorphisms
	p
		a(href="./linearAlgebra/projection") Projections
	p
		a(href="./linearAlgebra/kernelImage") Kernels and images
	h3
		b Representing endomorphisms with matrices
	p
		a(href="./linearAlgebra/0001linearMatrices") Matrix and vector representation
	p
		a(href="./linearAlgebra/commutation") Commutation
	p
		a(href="./linearAlgebra/kronecker") Identity matrix and the Kronecker delta
	p
		a(href="./linearAlgebra/0002linearOperations") Matrix addition and multiplication
	p
		a(href="./linearAlgebra/keyResults") Transposition and conjugation
	p
		a(href="./linearAlgebra/rank") Matrix rank
	p
		a(href="./linearAlgebra/typesMatrices") Types of matrices
	p
		a(href="./linearAlgebra/powers") Matrix powers
	h3
		b Inversion of endomorphisms
	p
		a(href="./linearAlgebra/0101linearInversion") Inverse matrices
	p
		a(href="./linearAlgebra/0102linearDependence") Elementary row operations
	p
		a(href="./linearAlgebra/0100linearGauss") Gaussian elimination
	p
		a(href="./linearAlgebra/0200linearEigen") Eigenvalues and eigenvectors
	p
		a(href="./linearAlgebra/spectrum") Spectrum
	p
		a(href="./linearAlgebra/traces") Traces
	h3
		b Homomorphisms of vector spaces
	p
		a(href="./linearAlgebra/morphisms") Linear maps
d	h3
		b Other
	p
		a(href="./linearAlgebra/linear") Linear and affine functions
	h3
		b Matrix decomposition
	p
		a(href="./linearAlgebra/diagonal") Diagonalisable matrices and eigen-decomposition
	p
		a(href="./linearAlgebra/SVD") Singular value decomposition (SVD)

