extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Determinants
	p A matrix can only be inverted if it can be created from a combination of elementary row operations.
	p How can we identify if a matrix is invertible? We want to create a scalar from the matrix which tells us if this possible.
	p For a matrix \(A\) we label this scalar, the determiannt, \(|A|\). We proposed \(|A|=0\) when the matrix is not invertible.
	p So how can we identify the function we need to undertake on the matrix?
	p
		b Rule 1
	p First, we know that a matrix cannot be inverted if \(2\) columns are equal. So
	p \(|A|=0\) if \(2\) columns are equal.
	