extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Linear algebra
	h3
		b Matrices and simultaneous equations
	p
		a(href="/theory/maths/linearAlgebra/0000algebraSimultaneous") Simultaneous equations
	p
		a(href="/theory/maths/linearAlgebra/0001linearMatrices") Matrices
	p
		a(href="/theory/maths/linearAlgebra/0002linearOperations") Matrix operations
	h3
		b Solving simultaneous equations
	p
		a(href="/theory/maths/linearAlgebra/0100linearGauss") Gaussian elimination
	p
		a(href="/theory/maths/linearAlgebra/0101linearInversion") Matrix inversion
	p
		a(href="/theory/maths/linearAlgebra/0102linearDependence") Linear dependence
	p
		a(href="/theory/maths/linearAlgebra/0103linearDeterminants") Determinants
	p
		a(href="/theory/maths/linearAlgebra/0104linearDecomposition") Matrix decomposition
	h3
		b Extending from simultaneous equations
	p
		a(href="/theory/maths/linearAlgebra/0200linearEigen") Eigenvalues and eigenvectors
	p
		a(href="/theory/maths/linearAlgebra/0201linearPositive") Positive definite
