extends ./linearAlgebra/subSubTemplate.jade
block subSubContent
	h3
		b Matrices and simultaneous equations
	p
		a(href="./linearAlgebra/0000algebraSimultaneous") Simultaneous equations
	p
		a(href="./linearAlgebra/0001linearMatrices") Matrices
	p
		a(href="./linearAlgebra/0002linearOperations") Matrix operations
	h3
		b Solving simultaneous equations
	p
		a(href="./linearAlgebra/0100linearGauss") Gaussian elimination
	p
		a(href="./linearAlgebra/0101linearInversion") Matrix inversion
	p
		a(href="./linearAlgebra/0102linearDependence") Linear dependence
	p
		a(href="./linearAlgebra/0103linearDeterminants") Determinants
	p
		a(href="./linearAlgebra/0104linearDecomposition") Matrix decomposition
	h3
		b Extending from simultaneous equations
	p
		a(href="./linearAlgebra/0200linearEigen") Eigenvalues and eigenvectors
	p
		a(href="./linearAlgebra/0201linearPositive") Positive definite
