extends ./linearAlgebra/subSubTemplate.jade
block subSubContent
	h3
		b Vector spaces
	p
		a(href="./linearAlgebra/vectorSpace") Vector spaces
	p
		a(href="./linearAlgebra/linearCombinations") Basis vectors
	h3
		b Matrices
	p
		a(href="./linearAlgebra/morphisms") Linear maps
	p
		a(href="./linearAlgebra/kernelImage") Kernels and images
	p
		a(href="./linearAlgebra/0001linearMatrices") Matrix representation
	p
		a(href="./linearAlgebra/rank") Matrix rank
	p
		a(href="./linearAlgebra/0002linearOperations") Matrix multiplication
	p
		a(href="./linearAlgebra/keyResults") Transposition and conjugation
	p
		a(href="./linearAlgebra/typesMatrices") Types of matrices
	p
		a(href="./linearAlgebra/kronecker") Kronecker delta
	h3
		b Inner product spaces
	p
		a(href="./linearAlgebra/dualSpace") Dual space
	p
		a(href="./linearAlgebra/innerProduct") Inner product space
	h3
		b Inverting square matrices
	p
		a(href="./linearAlgebra/0101linearInversion") Inverse matrices
	p
		a(href="./linearAlgebra/0102linearDependence") Elementary row operations
	p
		a(href="./linearAlgebra/0100linearGauss") Gaussian elimination
	p
		a(href="./linearAlgebra/formsMaps") Multilinear forms
	p
		a(href="./linearAlgebra/0103linearDeterminants") Determinants
	p
		a(href="./linearAlgebra/LU") LU decomposition
	p
		a(href="./linearAlgebra/cholesky") Cholesky decomposition
	p
		a(href="./linearAlgebra/QR") QR decomposition
	h3
		b Eigenvalues and eigenvectors
	p
		a(href="./linearAlgebra/0200linearEigen") Eigenvalues and eigenvectors
	p
		a(href="./linearAlgebra/commutation") Commutation
	p
		a(href="./linearAlgebra/hermitian") Hermitian matrices
	p
		a(href="./linearAlgebra/0104linearDecomposition") Eigen-decomposition
	p
		a(href="./linearAlgebra/SVD") Singular value decomposition (SVD)
	h3
		b Tensors
	h3
		b Other
	p
		a(href="./linearAlgebra/basis") Spectral theorem
	p
		a(href="./linearAlgebra/0201linearPositive") Positive definite matrices
	p
		a(href="./linearAlgebra/representation") Group representation
	p
		a(href="./linearAlgebra/traces") Traces
	p
		a(href="./linearAlgebra/polarDecomposition") Polar decomposition

	p
		a(href="./linearAlgebra/linear") Linear functions
