extends ./linearAlgebra/subSubTemplate.jade
block subSubContent
	h3
		b Vector spaces
	p
		a(href="./linearAlgebra/vectorSpace") Vector spaces
	p
		a(href="./linearAlgebra/span") Span
	p
		a(href="./linearAlgebra/dependence") Linear dependence
	p
		a(href="./linearAlgebra/linearCombinations") Basis vectors
	p
		a(href="./linearAlgebra/dimension") Dimension
	h3
		b Linear maps
	p
		a(href="./linearAlgebra/morphisms") Linear maps
	p
		a(href="./linearAlgebra/kernelImage") Kernels and images
	p
		a(href="./linearAlgebra/linear") Linear and affine functions
	p
		a(href="./linearAlgebra/projection") Projections
	p
		a(href="./linearAlgebra/dualSpace") Dual space and linear forms
	p
		a(href="./linearAlgebra/changingBasis") Changing the basis
	h3
		b Matrices
	p
		a(href="./linearAlgebra/0001linearMatrices") Matrix and vector representation
	p
		a(href="./linearAlgebra/kronecker") Identity matrix and the Kronecker delta
	p
		a(href="./linearAlgebra/0002linearOperations") Matrix addition and multiplication
	p
		a(href="./linearAlgebra/keyResults") Transposition and conjugation
	p
		a(href="./linearAlgebra/rank") Matrix rank
	p
		a(href="./linearAlgebra/typesMatrices") Types of matrices
	h3
		b Square matrices
	p
		a(href="./linearAlgebra/endomorphisms") Endomorphisms
	p
		a(href="./linearAlgebra/commutation") Commutation
	p
		a(href="./linearAlgebra/powers") Matrix powers
	p
		a(href="./linearAlgebra/0101linearInversion") Inverse matrices
	p
		a(href="./linearAlgebra/0102linearDependence") Elementary row operations
	p
		a(href="./linearAlgebra/0100linearGauss") Gaussian elimination
	p
		a(href="./linearAlgebra/0200linearEigen") Eigenvalues and eigenvectors
	p
		a(href="./linearAlgebra/spectrum") Spectrum
	p
		a(href="./linearAlgebra/traces") Traces
	h3
		b Bilinear maps
	p
		a(href="./linearAlgebra/bilinear") Bilinear maps
	p
		a(href="./linearAlgebra/dotProduct") Dot product
	p
		a(href="./linearAlgebra/outerProduct") Outer product
	p
		a(href="./linearAlgebra/kronProduct") Kronecker product
	h3
		b Sesquilinear maps
	p
		a(href="./linearAlgebra/innerProduct") Inner product space
	p
		a(href="./linearAlgebra/norms") Norms
	p
		a(href="./linearAlgebra/cauchySchwarz") Cauchy-Schwarz inequality
	p
		a(href="./linearAlgebra/crossProduct") Cross product
	h3
		b Multilinear maps
	p
		a(href="./linearAlgebra/formsMaps") Multilinear maps
	p
		a(href="./linearAlgebra/matrixCols") Matrix columns as vector inputs
	p
		a(href="./linearAlgebra/0103linearDeterminants") Determinants
	h3
		b Matrix decomposition
	p
		a(href="./linearAlgebra/diagonal") Diagonalisable matrices and eigen-decomposition
	p
		a(href="./linearAlgebra/SVD") Singular value decomposition (SVD)

