extends ./linearAlgebra/subSubTemplate.jade
block subSubContent
	h3
		b Fundamentals of linear algebra
	p
		a(href="./linearAlgebra/0001linearMatrices") Linear algebra objects
	p
		a(href="./linearAlgebra/0002linearOperations") Linear algebra operations
	p
		a(href="./linearAlgebra/keyResults") Key results
	p
		a(href="./linearAlgebra/typesMatrices") Types of matrices
	p
		a(href="./linearAlgebra/kronecker") Kronecker delta
	h3
		b Inverting square matrices
	p
		a(href="./linearAlgebra/0101linearInversion") Inverse matrices
	p
		a(href="./linearAlgebra/0102linearDependence") Elementary row operations
	p
		a(href="./linearAlgebra/0100linearGauss") Gaussian elimination
	p
		a(href="./linearAlgebra/formsMaps") Forms and maps
	p
		a(href="./linearAlgebra/0103linearDeterminants") Determinants
	h3
		b Eigenvalues and eigenvectors
	p
		a(href="./linearAlgebra/0200linearEigen") Eigenvalues and eigenvectors
	p
		a(href="./linearAlgebra/commutation") Commutation
	p
		a(href="./linearAlgebra/hermitian") Hermitian matrices
	p
		a(href="./linearAlgebra/0104linearDecomposition") Eigen-decomposition
	h3
		b Vectors
	p
		a(href="./linearAlgebra/basis") Basis vectors
	h3
		b Other
	p
		a(href="./linearAlgebra/0201linearPositive") Positive definite
