extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Zeroth order logic
	p
		a(href="/theory/maths/logic/0000ZeroPropositions") Propositional variables
	p
		a(href="/theory/maths/logic/0001ZeroPredicates") Predicates
	p
		a(href="/theory/maths/logic/0002ZeroRelations") Relations
	p
		a(href="/theory/maths/logic/0003ZeroOperators") Operators
	p
		a(href="/theory/maths/logic/0004ZeroEquivalence") Equivalence
	p
		a(href="/theory/maths/logic/0005ZeroInterpretations") Interpretations
	p
		a(href="/theory/maths/logic/0006ZeroSignatures") Structures
	h2
		b First-order logic
	p
		a(href="/theory/maths/logic/0100FirstQuantifiers") Quantifiers
	p
		a(href="/theory/maths/logic/0101FirstInference") Inference
	p
		a(href="/theory/maths/logic/0102FirstIndependence") Independence and effectiveness of axioms
	p
		a(href="/theory/maths/logic/0103FirstGodelCompleteness") Gödel’s completeness theorem
	h2
		b Second and higher-order logic
