extends ./logic/subSubTemplate.jade
block subSubContent
	p
		b Zero-order logic
	p
		a(href="/theory/maths/logic/0100Predicates") Writing zero-order logic
	p
		a(href="/theory/maths/logic/0006ZeroSignatures") Structures
	p
		a(href="/theory/maths/logic/0006ZeroSignatures") Completeness of zero-order logic	
	p
		b First-order logic
	p
		a(href="/theory/maths/logic/0006ZeroSignatures") Writing first-order logic	
	p
		a(href="/theory/maths/logic/0100FirstQuantifiers") Axioms for quantifiers
	p
		a(href="/theory/maths/logic/0103FirstGodelCompleteness") Gödel’s completeness theorem
