extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Propositional logic
	p
		b Writing statements
	p
		a(href="/theory/maths/logic/PropWritePropositions") Propositional variables
	p
		a(href="/theory/maths/logic/PropWriteOperators") Operators
	p
		b Evaluating statements
	p
		a(href="/theory/maths/logic/PropEvalTruth") Truth tables
	p
		a(href="/theory/maths/logic/test") Substitution
	p
		a(href="/theory/maths/logic/test") Inference rules
	p
		a(href="/theory/maths/logic/test") Axioms of propositional logic
	p
		a(href="/theory/maths/logic/test") Theory
	p
		b Sort
	p
		a(href="/theory/maths/logic/0005DeMorgan") Equivilence
	p
		a(href="/theory/maths/logic/test") Normal forms
	p
		b Meta
	p
		a(href="/theory/maths/logic/test") Syntactic and semantic consequences
	p
		a(href="/theory/maths/logic/test") Effectiveness (and independence) of propositional logic
	p
		a(href="/theory/maths/logic/test") Soundness of propositional logic
	p
		a(href="/theory/maths/logic/test") Completeness of propositional logic
		
	h2
		b Zero-order logic
	p
		b Writing statements
	p
		a(href="/theory/maths/logic/0100Predicates") Predicates
	p
		a(href="/theory/maths/logic/0101Functions") Functions
	p
		a(href="/theory/maths/logic/0102Relations") Relations
	p
		b Evaluating statements
	p
		a(href="/theory/maths/logic/0002ZeroRelations") Normal form
	p	
		b Other
	p
		a(href="/theory/maths/logic/0006ZeroSignatures") Structures
	p
		b Meta
	p
		a(href="/theory/maths/logic/0006ZeroSignatures") Completeness of zero-order logic	
	h2
		b First-order logic
	p
		a(href="/theory/maths/logic/0101FirstInference") Inference
	p
		b Axioms
	p
		a(href="/theory/maths/logic/0100FirstQuantifiers") Quantifiers
	p
		b Meta
	p
		a(href="/theory/maths/logic/0102FirstIndependence") Effectiveness (and independence) of axioms
	p
		a(href="/theory/maths/logic/0103FirstGodelCompleteness") Gödel’s completeness theorem
