extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Zero-order logic
	p
		b Writing statements
	p
		a(href="/theory/maths/logic/0100Predicates") Predicates
	p
		a(href="/theory/maths/logic/0101Functions") Functions
	p
		a(href="/theory/maths/logic/0102Relations") Relations
	p
		b Evaluating statements
	p
		a(href="/theory/maths/logic/0002ZeroRelations") Normal form
	p
		b Other
	p
		a(href="/theory/maths/logic/0006ZeroSignatures") Structures
	p
		b Meta
	p
		a(href="/theory/maths/logic/0006ZeroSignatures") Completeness of zero-order logic	
	h2
		b First-order logic
	p
		a(href="/theory/maths/logic/0101FirstInference") Inference
	p
		b Axioms
	p
		a(href="/theory/maths/logic/0100FirstQuantifiers") Quantifiers
	p
		b Meta
	p
		a(href="/theory/maths/logic/0102FirstIndependence") Effectiveness (and independence) of axioms
	p
		a(href="/theory/maths/logic/0103FirstGodelCompleteness") Gödel’s completeness theorem
