extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Functions
	p Domain and co domain
	p $$f:X\rightarrow Y$$
	p Domain is X
	p Codomain is Y
	p But range in Y is image
	p Eg, for reals,
	p f:\mathbb{R} -\rightarrow \mathbb{R} 

	p Injective:
	p $$f(a)=f(b)\rightarrow a=b$$

	p Surjective:
	p All points in codomain have at least one matching point in domain

	p Bijective. each
	h3 Inverse functions


	p Properties of functions
	p Commutative
	p $$a+b=b+a$$
	p $$f(a,b)=f(b,a)$$
	p Associative
	p $$a+(b+c)=(a+b)+c$$
	p $$f(a,f(b,c))=f(f(a,b),c)$$
	p “. Is Left distributive over + if”
	p $$a.(b+c)=a.b+a.c$$
	p $$g(a,f(b,c)=f(g(a,b),g(a,c))$$
	p “. Is right distributive over + if”
	p $$(a+b).c=a.c+b.c$$
	p $$g(f(a,b),c)=f(g(a,c),g(b,c))$$
	p . is distributive over + if
	p Left and right distributive
	p Show above true for addition and multiplication of reals
	p True for some powers, exponents?
	p Show not true for inverse functions
