extends ../../templates/theoryHeader.jade

block theoryContent
	h3
		b Proof by contradiction
	p If we have a formula which is true and we undertake allowed actions on it by applying axioms and derived formulas, then the new formulas are also true.
	p As a result, if we can take a statement and use this to derive something we know not to be true, we know the original statement must have been wrong.
	p GET ExAMPLE, not with numbers
	