extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Proof by exhaustion
	p Exhastion for terms, exhaustion for forumale (eg all terms in domain, all possible combinations of T,F in formulae)