extends ./manifoldsEuclid/subSubTemplate.jade
block subSubContent
	h3
		b The Euclidian plane
	p
		a(href="./manifoldsEuclid/circle") Circles
	p
		a(href="./manifoldsEuclid/oblong") Oblongs
	p
		a(href="./manifoldsEuclid/triangle") Triangles
	p
		a(href="./manifoldsEuclid/square") Squares
	h3
		b 3D Euclidian space
	p
		a(href="./manifoldsEuclid/sphere") Spheres
	p
		a(href="./manifoldsEuclid/cube") Cubes

