extends ./manifoldsFunctions/subSubTemplate.jade
block subSubContent
	h3
		b Scalar functions on manifolds
	h3
		b Vector functions on manifolds
	p
		a(href="./manifoldsFunctions/orientable") Orientability of surfaces
	h3
		b The exterior derivative
	p
		a(href="./manifoldsFunctions/externalCalculus") The fundamental theorem of external calculus	

