extends ./manifoldsDifferentiable/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./manifoldsDifferentiable/differentiable") Differentiable transition maps
	p
		a(href="./manifoldsDifferentiable/tangent") Tangent space and tangent vectors
	p
		a(href="./manifoldsDifferentiable/parallel") Parallel lines on a manifold
	p
		a(href="./manifoldsDifferentiable/geodesic") Geodesics
	p
		a(href="./manifoldsDifferentiable/connection") Connections
	p
		a(href="./manifoldsDifferentiable/transport") Parallel transport

	h3
		b Tangent space
	h3
		b Cotangent space
	h3
		b Parallel
	p
		a(href="./manifoldsDifferentiable/covarient") Covarient derivative

