extends ./manifoldsRiemann/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./manifoldsRiemann/tensor") Metric tensor
	p
		a(href="./manifoldsRiemann/riemann") Riemann manifolds and pseudo-Riemann manifolds
	h3
		b Connections on Riemann manifolds
	p
		a(href="./manifoldsRiemann/compatibility") Metric compatibility
	p
		a(href="./manifoldsRiemann/torsion") Torsion tensor
	p
		a(href="./manifoldsRiemann/leviCivita") The Levi-Civita connection
	h3
		b Sort
	p
		a(href="./manifoldsRiemann/tangent") The circle as a topology
	p
		a(href="./manifoldsRiemann/tangent") Cylinders
	p
		a(href="./manifoldsRiemann/embedding") Embeddings and immersions
	p
		a(href="./manifoldsRiemann/conformal") Conformal maps
	p
		a(href="./manifoldsRiemann/geodesic") Geodesics
	p
		a(href="./manifoldsRiemann/curvature") Curvature tensor
	p
		a(href="./manifoldsRiemann/ricci") Ricci curvature

