extends ./manifoldsTopological/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./manifoldsTopological/chart") Manifolds, charts and atlases
	p
		a(href="./manifoldsTopological/transition") Transition maps
	p
		a(href="./manifoldsTopological/transition") Mapping 2D manifolds to Riemann surfaces
	h3
		b Dimension theory
	p
		a(href="./manifoldsTopological/refinement") Refinement
	p
		a(href="./manifoldsTopological/ply") Ply (order) of a cover
	p
		a(href="./manifoldsTopological/inductiveSmall") Small inductive dimension
	p
		a(href="./manifoldsTopological/inductiveLarge") Large inductive dimension
	p
		a(href="./manifoldsTopological/lebesgue") Lebesgue covering dimension
	h3
		b Paths
	p
		a(href="./manifoldsTopological/paths") Paths and loops
	p
		a(href="./manifoldsTopological/genus") Holes and genuses
	p
		a(href="./manifoldsTopological/pathConnected") Path-connect spaces
	h3
		b Simply-connected 2D manifolds
	p
		a(href="./manifoldsTopological/elliptic") Elliptic (Riemann sphere)
	p
		a(href="./manifoldsTopological/parabolic") Parabolic (complex plane)
	p
		a(href="./manifoldsTopological/hyperbolic") Hyperbolic (open disk)
	h3
		b Not simply-connected 2D manifolds
	p
		a(href="./manifoldsTopological/torus") Torus
	p
		a(href="./manifoldsTopological/hyperelliptic") Hyper-elliptic curves
	h3
		b Functions between topologies
	p
		a(href="./manifoldsTopological/functions") Functions between topologies
	p
		a(href="./manifoldsTopological/homotopy") Homotopy
	p
		a(href="./manifoldsTopological/homeomorphisms") Homeomorphisms
	h3
		b Fibre bundles
	p
		a(href="./manifoldsTopological/vector") Vector bundles
	p
		a(href="./manifoldsTopological/projection") Bundle projection
	p
		a(href="./manifoldsTopological/trivialTwisted") Trivial and twisted bundles
	p
		a(href="./manifoldsTopological/crossSectionFibre") Cross-sections and zero-sections of fibre bundles
	p
		a(href="./manifoldsTopological/trivialTorus") Trivial bundles and the torus
	p
		a(href="./manifoldsTopological/twistedKlein") Twisted bundles and the Klein bottle
	p
		a(href="./manifoldsTopological/mobius") Mobius strips
	h3
		b Other
	p
		a(href="./manifoldsTopological/submanifold") Submanifolds
	p
		a(href="./manifoldsTopological/boundryInterior") Boundries and interiors
	p
		a(href="./manifoldsTopological/embedding") Closed manifolds
	p
		a(href="./manifoldsTopological/embedding") Mapping 2D manifolds to Riemann surfaces (needs to be orientable and metricisable)

