extends ./manifolds/subSubTemplate.jade
block subSubContent
	h3
		b Topological manifolds
	p
		a(href="./manifolds/chart") Manifolds, charts and atlases
	p
		a(href="./manifolds/transition") Transition maps
	h3
		b Differentiable manifolds
	p
		a(href="./manifolds/differentiable") Differentiable transition maps
	p
		a(href="./manifolds/tangent") Tangent space and tangent vectors
	p
		a(href="./manifolds/parallel") Parallel lines on a manifold
	p
		a(href="./manifolds/geodesic") Geodesics
	p
		a(href="./manifolds/connection") Connections
	p
		a(href="./manifolds/transport") Parallel transport
	p
		a(href="./manifolds/covarient") Covarient derivative
	h3
		b Riemann manifolds
	p
		a(href="./manifolds/tensor") Metric tensor
	p
		a(href="./manifolds/signature") Metric signature
	p
		a(href="./manifolds/curvature") Curvature tensor
	p
		a(href="./manifolds/torsion") Torsion tensor
	p
		a(href="./manifolds/leviCivita") The Levi-Civita connection
	p
		a(href="./manifolds/riemann") Riemann manifolds and pseudo-Riemann manifolds
	p
		a(href="./manifolds/ricci") Ricci curvature
	p
		a(href="./manifolds/tangent") Curves and curve length
	h3
		b OOLD
	h3
		b Repeated flatspaces
	p
		a(href="./manifolds/tangent") The circle as a topology
	p
		a(href="./manifolds/tangent") Cylinders
	h3
		b Curved space
	p
		a(href="./manifolds/submanifold") Submanifolds
	p
		a(href="./manifolds/boundryInterior") Boundries and interiors
	p
		a(href="./manifolds/embedding") Embeddings and immersions
	p
		a(href="./manifolds/embedding") Closed manifolds
	h3
		b Riemann update
	p
		a(href="./manifolds/embedding") Mapping 2D manifolds to Riemann surfaces (needs to be orientable and metricisable)
	h3
		b External calculus
	p
		a(href="./manifolds/externalCalculus") The fundamental theorem of external calculus
	h3
		b Fibre bundles
	p
		a(href="./manifolds/vector") Vector bundles
	p
		a(href="./manifolds/principal") Principal bundle
	p
		a(href="./manifolds/crossSectionFibre") Cross-sections and zero-sections of fibre bundles
	h3
		b Sort
	p
		a(href="./manifolds/conformal") Conformal maps
	p
		a(href="./manifolds/orientable") Orientability of surfaces


	h3
		b Functions between topologies
	p
		a(href="./manifolds/functions") Functions between topologies
	p
		a(href="./manifolds/homotopy") Homotopy
	p
		a(href="./manifolds/homeomorphisms") Homeomorphisms
	p
		a(href="./manifolds/genus") Genuses
	h3
		b Paths
	p
		a(href="./manifolds/paths") Paths
	p
		a(href="./manifolds/loops") Loops
	p
		a(href="./manifolds/pathConnected") Path-connect spaces

