extends ./maps/subSubTemplate.jade
block subSubContent
	h3
		b Homomorphisms of vector spaces
	p
		a(href="./maps/morphisms") Linear maps
	p
		a(href="./maps/morphismsVector") Homomorphisms form a vector space
	p
		a(href="./maps/pseudo") The pseudo-inverse
	p
		a(href="./maps/linear") Linear and affine functions
	p
		a(href="./maps/SVD") Singular value decomposition (SVD)

