extends ./measures/subSubTemplate.jade
block subSubContent
	h3
		b Defining measure spaces
	p
		a(href="./measures/measures") Defining measure spaces
	p
		a(href="./measures/axioms") Axioms for measure spaces
	h3
		b Examples of measure spaces
	p
		a(href="./measures/counting") The counting measure
	p
		a(href="./measures/probability") The probability measure

