extends ./metric/subSubTemplate.jade
block subSubContent
	h3
		b Linear metrics
	p
		a(href="./metric/metricSpace") Metrics
	p
		a(href="./metric/topology") Inducing a topology
	p
		a(href="./metric/translation") Translation symmetry
	h3
		b Specific groups
	p
		a(href="./metric/affine") The affine group
	p
		a(href="./metric/euclidian") The Euclidan group
	p
		a(href="./metric/galilean") The Galilean group
	p
		a(href="./metric/poincare") The Poincaré group
	h3
		b Non-linear norms
	p
		a(href="./metric/Lp") \(L_p\) norms (\(p\)-norms)
	h3
		b To linear forms
	p
		a(href="./metric/norm") Norms
	p
		a(href="./metric/angles") Angles

