extends ./metrics/subSubTemplate.jade
block subSubContent
	h3
		b Other
	p
		a(href="./metrics/metricSpace") Metrics
	p
		a(href="./metrics/topology") Inducing a topology
	h3
		b Norms
	p
		a(href="./metrics/norm") Norms
	p
		a(href="./metrics/normMetric") Inducing a metric
	p
		a(href="./metrics/euclid") The Euclidian norm
	p
		a(href="./metrics/Lp") \(L_p\) norms
	p
		a(href="./metrics/innerProductNorm") Inner products as norms
	h3
		b Types of metric space
	p
		a(href="./metrics/hilbert") Hilbert space
	p
		a(href="./metrics/banach") Banach space
	p
		a(href="./metrics/innerProductSpace") Inner product space

