extends ./multiCalculus/subSubTemplate.jade
block subSubContent
	h3
		b Multivariate space
	p
		a(href="./multiCalculus/regions") Regions
	p
		a(href="./multiCalculus/curves") Curves
	p
		a(href="./multiCalculus/surfaces") Surfaces
	h3
		b Scalar fields
	p
		a(href="./multiCalculus/0303diffTotal") Total differentiation
	p
		a(href="./multiCalculus/del") Del
	p
		a(href="./multiCalculus/gradient") Gradient
	h3
		b Vector fields
	p
		a(href="./multiCalculus/jacobian") Jacobian matrix
	p
		a(href="./multiCalculus/divergence") Divergence
	p
		a(href="./multiCalculus/curl") Curl
	p
		a(href="./multiCalculus/lineIntegral") Line integral
	p
		a(href="./multiCalculus/gradientTheorem") Gradient theorem
	p
		a(href="./multiCalculus/surfaceIntegral") Surface integral
	h3
		b Other
	p
		a(href="./multiCalculus/directional") Directional derivative
	p
		a(href="./multiCalculus/frechet") Fréchet derivative
	p
		a(href="./multiCalculus/gateux") Gâteaux derivative

