extends ./multiCalculus/subSubTemplate.jade
block subSubContent
	h3
		b Multivariate space
	p
		a(href="./multiCalculus/regions") Regions
	p
		a(href="./multiCalculus/curves") Curves and closed curves
	p
		a(href="./multiCalculus/surfaces") Surfaces
	p
		a(href="./multiCalculus/length") Length of a curve
	h3
		b Scalar fields
	p
		a(href="./multiCalculus/0303diffTotal") Total differentiation
	p
		a(href="./multiCalculus/del") Del
	p
		a(href="./multiCalculus/gradient") Gradient
	p
		a(href="./multiCalculus/directional") Directional derivative
	p
		a(href="./multiCalculus/lineIntegralScalar") Line integral of scalar fields
	p
		a(href="./multiCalculus/doubleIntegralScalar") Double integral of scalar fields
	p
		a(href="./multiCalculus/surfaceIntegralScalar") Surface integral of scalar fields
	p
		a(href="./multiCalculus/gradientTheorem") Gradient theorem
	p
		a(href="./multiCalculus/greenTheorem") Green's theorem
	p
		a(href="./multiCalculus/differential") Differential forms
	h3
		b Vector fields
	p
		a(href="./multiCalculus/jacobian") Jacobian matrix
	p
		a(href="./multiCalculus/divergence") Divergence
	p
		a(href="./multiCalculus/scalarPotential") Scalar potential
	p
		a(href="./multiCalculus/curl") Curl
	p
		a(href="./multiCalculus/vectorPotential") Vector potential
	p
		a(href="./multiCalculus/lineIntegralVector") Line integral of vector fields
	p
		a(href="./multiCalculus/doubleIntegralVector") Double integral of vector fields
	p
		a(href="./multiCalculus/surfaceIntegralVector") Surface integral of vector fields
	p
		a(href="./multiCalculus/surfaceIntegral") Surface integral
	h3
		b Stoke's theorem
	p
		a(href="./multiCalculus/divergenceTheorem") The divergence theorem
	p
		a(href="./multiCalculus/stokeTheorem") Stoke's theorem

