extends ./numbers/subSubTemplate.jade
block subSubContent
	h3
		b Ordered pairs
	p
		a(href="/theory/maths/numbers/0000integersIntegers") Integers
	p
		a(href="/theory/maths/numbers/0001realRationals") Rationals
	p
		a(href="/theory/maths/numbers/0002realPowers") Powers and surds
	h3
		b Sequences
	p
		a(href="/theory/maths/numbers/0100Sequences") Sequences
	p
		a(href="/theory/maths/numbers/0101Convergence") Convergence
	p
		a(href="/theory/maths/numbers/0102Series") Series
	p
		a(href="/theory/maths/numbers/0103Fibonacci") Fibonacci sequence
	h3
		b Real numbers
	p
		a(href="/theory/maths/numbers/0200realDedekind") Dedekind cuts
	p
		a(href="/theory/maths/numbers/0201realReals") Real numbers
	p
		a(href="/theory/maths/numbers/0202LeastUpperBound") Least upper bound
	p
		a(href="/theory/maths/numbers/0203Density") Density of rationals and reals
	h3
		b Complex numbers
	p
		a(href="/theory/maths/numbers/0300Density") Complex numbers
	p
		a(href="/theory/maths/numbers/0301Density") Algebraic closure
