extends ./optimisations/subSubTemplate.jade
block subSubContent
	p
		a(href="/theory/maths/optimisation/0904diffSaddle") Determinants
	p
		a(href="/theory/maths/optimisation/0905diffOptimisation") Optimisation
	p
		a(href="/theory/maths/optimisation/0906diffKKT") KKT
