extends ./optimisation/subSubTemplate.jade
block subSubContent
	h3
		b Introduction to optimisation
	p
		a(href="./optimisation/introduction") The optimisation problem (inc min or max, equivalence between the two)
	p
		a(href="./optimisation/local") Local optima (definition, broad)
	p
		a(href="./optimisation/convex") Optimising convex functions
	p
		a(href="./optimisation/constraints") Constrained optimisation
	h3
		b Unconstrained optimisation of differentiable functions
	p
		a(href="./optimisation/stationary") Stationary points and first-order conditions
	p
		a(href="./optimisation/differentiableLocal") Local minima, maxima and inflection points
	p
		a(href="./optimisation/differentiableConvex") Optimising convex and non-convex differentiable functions
	p
		a(href="./optimisation/differentiableMulti") Optimising functions of more than one variable
	p
		a(href="./optimisation/hessian") Hessian matrix
	h3
		b Linear optimisation
	p
		a(href="./optimisation/equality") Linear optimisation with equality constraints
	p
		a(href="./optimisation/equalityMulti") Multiple equality constraints (merge with above, and non-linear)
	p
		a(href="./optimisation/inequality") Linear optimisation with inequality constraints
	p
		a(href="./optimisation/duality") The primal and dual problems of linear optimisation
	p
		a(href="./optimisation/slackness") Complementary slackness for linear optimisation
	p
		a(href="./optimisation/farkas") Farkas' lemma
	h3
		b Quadratic optimisation
	p
		a(href="./optimisation/quadratic") The quadratic optimisation problem
	h3
		b Constrainted non-linear optimisation
	p
		a(href="./optimisation/weak") The non-linear optimisation problem
	p
		a(href="./optimisation/lagrange") Lagrange multipliers
	p
		a(href="./optimisation/weak") The dual problem for non-linear optimisation
	p
		a(href="./optimisation/weak") The weak duality theorem
	h3
		b Constrained convex optimisation
	p
		a(href="./optimisation/slater") Slater's condition
	p
		a(href="./optimisation/strong") The strong duality theorem
	p
		a(href="./optimisation/KKT") The Karush-Kuhn-Tucker conditions

