extends ./optimisation/subSubTemplate.jade
block subSubContent
	h3
		b Unconstrained optimisation
	p
		a(href="./optimisiation/introduction") Introduction to unconstrained optimisiation
	p
		a(href="./optimisiation/analytic") Analytic optimisiation
	p
		a(href="./optimisiation/newton") Newton methods
	p
		a(href="./optimisiation/BFGS") BFGS
	p
		a(href="./optimisiation/coordinate") Coordinate descent
	p
		a(href="./optimisiation/gradientDescent") Gradient descent
	h3
		b Non-differentiable functions
	p
		a(href="./optimisiation/subgradient") Subgradient descent		
	h3
		b Equality constrained optimisation
	p
		a(href="./optimisiation/equality") Equality constraints
	h3
		b Linear programming
	p
		a(href="./optimisiation/duality") Duality
	p
		a(href="./optimisiation/farkas") Farkas' lemma
	h3
		b Non-linear programming
	p
		a(href="./optimisiation/KKT") KKT

