extends ./optimisation/subSubTemplate.jade
block subSubContent
	h3
		b Unconstrained optimisation
	p
		a(href="./optimisation/introduction") Introduction to unconstrained optimisiation
	p
		a(href="./optimisation/analytic") Analytic optimisiation
	h3
		b Equality constrained optimisation
	p
		a(href="./optimisation/equality") Single equality constraints
	p
		a(href="./optimisation/equalityMulti") Multiple equality constraints
	h3
		b Linear programming
	p
		a(href="./optimisation/slackness") Complementary slackness
	p
		a(href="./optimisation/inequality") Inequality constraints
	p
		a(href="./optimisation/farkas") Farkas' lemma
	p
		a(href="./optimisation/duality") Primal and dual problems
	p
		a(href="./optimisation/weak") Weak duality theorem
	p
		a(href="./optimisation/slater") Slater's condition
	h3
		b Non-linear programming
	p
		a(href="./optimisation/KKT") KKT


