extends ./optimisations/subSubTemplate.jade
block subSubContent
	h3
		b Header
	p
		a(href="./optimisation/0904diffSaddle") Determinants
	p
		a(href="./optimisation/0905diffOptimisation") Optimisation
	p
		a(href="./optimisation/0906diffKKT") KKT
