extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Set algebra
	p
		b Power set
	p The power set of a set is the set of all possible subsets, including null.
	p For set \(\{a,b,c\}\). the power set is:
	$$\{\{\},\{a\},	\{b\},\{c\},\{a,b\},\{a,c\},\{b,c\},\{a,b,c\}\}$$	
	p
		b Sigma-algebra
	p Sigma-algebra, or \(\sigma\)-algebra, refers to collection \(\Sigma\) of subsets which are:
	ul
		li Includes the null set
		li Is closed under compliment. If a subset is included, a subset containing all other elements is included.
		li Is closed under countable union. For any collection of subsets, a subset containing all their elements is also present.
	p Examples of sigma algebras include
	ul
		li The power set
		li The null set and the original set
	
