extends ./preteriteLogic/subSubTemplate.jade
block subSubContent
	h3
		b Zero-order logic
	p
		a(href="./preteriteLogic/zeroWriting") Writing zero-order logic
	p
		a(href="./preteriteLogic/structures") Structures
	p
		a(href="./preteriteLogic/zeroCompleteness") Completeness of zero-order logic	
	h3
		b First-order logic
	p
		a(href="./preteriteLogic/firstWriting") Writing first-order logic	
	p
		a(href="./preteriteLogic/firstAxioms") Axioms for quantifiers
	p
		a(href="./preteriteLogic/firstCompleteness") Gödel’s completeness theorem
