extends ./preteriteLogic/subSubTemplate.jade
block subSubContent
	h3
		b Zero-order logic
	p
		a(href="./preteriteLogic/zeroWriting") Terms and predicates
	p
		a(href="./preteriteLogic/relations") Relations and equality
	p
		a(href="./preteriteLogic/functions") Functions and brackets
	p
		a(href="./preteriteLogic/structures") Structures
	p
		a(href="./preteriteLogic/zeroCompleteness") Completeness of zero-order logic	
	p
		a(href="./preteriteLogic/functionsProperties") Injective, surjective and bijective functions
	p
		a(href="./preteriteLogic/binary") Binary functions
	h3
		b First-order logic
	p
		a(href="./preteriteLogic/firstWriting") Writing first-order logic	
	p
		a(href="./preteriteLogic/firstAxioms") Axioms for quantifiers
	p
		a(href="./preteriteLogic/duality") Duality of first-order logic
	p
		a(href="./preteriteLogic/firstCompleteness") Gödel’s completeness theorem
