extends ./preteriteLogic/subSubTemplate.jade
block subSubContent
	h3
		b Zero-order logic
	p
		a(href="./preteriteLogic/0100Predicates") Writing zero-order logic
	p
		a(href="./preteriteLogic/0006ZeroSignatures") Structures
	p
		a(href="./preteriteLogic/0006ZeroSignatures") Completeness of zero-order logic	
	h3
		b First-order logic
	p
		a(href="./preteriteLogic/0006ZeroSignatures") Writing first-order logic	
	p
		a(href="./preteriteLogic/0100FirstQuantifiers") Axioms for quantifiers
	p
		a(href="./preteriteLogic/0103FirstGodelCompleteness") Gödel’s completeness theorem
