extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Models
	h3
		b Infinite number of primes
	p Take all primes we currently know, multiply them together, and add \(1\) to form our new number, \(a\).
	p $$a=\prod^n p_i +1$$
	p From the fundamental theorem of arithmetic we know all numbers are primes or the products of primes.
	p If \(a\) is not a prime then it can be divided by one of the existing primes to form number \(n\):
	p $$\frac{\prod^n p_i +1}{p_j}=n$$
	p $$\frac{p_j \prod^n_{i\ne j} p_i +1}{p_j}=n$$
	p $$\prod^n_{i\ne j} p_i +\frac{1}{p_j}=n$$
	p As this is not a whole number, \(n\) must prime.
	p We can do this process for any finite number of primes, so there are an infinite number.

