extends ./primes/subSubTemplate.jade
block subSubContent
	h3
		b Prime numbers
	p
		a(href="./arithmetic/0004Primes") Prime numbers
	p
		a(href="./arithmetic/0005GCDLCM") Common denominators and multiples
	p
		a(href="./arithmetic/0006Bezout") Bezout's identity
	p
		a(href="./arithmetic/0007integersArithmatic") Fundamental Theorem of Arithmetic

