extends ./primes/subSubTemplate.jade
block subSubContent
	h3
		b Prime numbers
	p
		a(href="./primes/0004Primes") Prime numbers
	h3
		b Denominators and multiples
	p
		a(href="./primes/0005GCDLCM") Divisor and multiples
	p
		a(href="./primes/GCD") Greatest common divisor
	p
		a(href="./primes/LCM") Lowest common multiple
	h3
		b Arithmetic
	p
		a(href="./primes/0006Bezout") Bezout's identity
	p
		a(href="./primes/0007integersArithmatic") Fundamental Theorem of Arithmetic

