extends ./propositionalLogic/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./propositionalLogic/truth") Truth
	p
		a(href="./propositionalLogic/variables") Propositional variables
	h3
		b Operators
	p
		a(href="./propositionalLogic/unary") Unary operators
	p
		a(href="./propositionalLogic/operators") Binary operators
	p
		a(href="./propositionalLogic/formulae") Types of formulae
	h3
		b Semantic consequence
	p
		a(href="./propositionalLogic/interpretation") Interpretations
	p
		a(href="./propositionalLogic/semantic") Semantic consequence
	p
		a(href="./propositionalLogic/normal") Normal form
	p
		a(href="./propositionalLogic/brackets") Brackets replace the need for n-ary operators
	h3
		b Inference
	p
		a(href="./propositionalLogic/syntactic") Syntactic consequence
	p
		a(href="./propositionalLogic/axioms") Axioms for propositional logic
	p
		a(href="./propositionalLogic/horn") Clauses
	p
		a(href="./propositionalLogic/explosion") Principle of explosion

