extends ./propositionalLogic/subSubTemplate.jade
block subSubContent
	h3
		b Writing
	p
		a(href="./propositionalLogic/writing") Writing propositional logic
	h3
		b Truth tables
	p
		a(href="./propositionalLogic/semantic") Semantic consequence
	p
		a(href="./propositionalLogic/operators") More on operators
	p
		a(href="./propositionalLogic/boolean") Boolean algebra
	h3
		b Inference
	p
		a(href="./propositionalLogic/syntactic") Syntactic consequence
	p
		a(href="./propositionalLogic/axioms") Axioms for propositional logic
