extends ./propertiesFunctions/subSubTemplate.jade
block subSubContent
	h3
		b Properties of functions
	p
		a(href="./propertiesFunctions/0200analysisContinuity") Continous functions
	p
		a(href="./propertiesFunctions/0200analysisContinuity") Linear functions
	p
		a(href="./propertiesFunctions/0201analysisBigO") Big O and little o notation
	p
		a(href="./propertiesFunctions/0202analysisCon") Concave and convex functions
	p
		a(href="./propertiesFunctions/0203analysisEvenOdd") Even and odd functions
	p
		a(href="./propertiesFunctions/0204setsRanges") Domains and ranges

