extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Propositional logic
	p
		b Writing statements
	p
		a(href="/theory/maths/propositionalLogic/WritePropositions") Propositional variables
	p
		a(href="/theory/maths/propositionalLogic/WriteOperators") Operators
	p
		b Evaluating statements
	p
		a(href="/theory/maths/propositionalLogic/EvalTruth") Truth tables
	p
		a(href="/theory/maths/propositionalLogic/EvalSubstitution") Substitution
	p
		a(href="/theory/maths/propositionalLogic/EvalInference") Rules of inference
	p
		b Theory
	p
		a(href="/theory/maths/propositionalLogic/ResultEquivilence") Equivilence and semantic consequence
	p
		a(href="/theory/maths/propositionalLogic/TheoryTheory") Theories and consequences
	p
		a(href="/theory/maths/propositionalLogic/TheoryAxioms") Effective axioms for propositional logic
	p
		a(href="/theory/maths/propositionalLogic/TheorySoundness") Soundness and consistency of propositional logic
	p
		a(href="/theory/maths/propositionalLogic/TheoryIndependence") Independence of axioms
	p
		a(href="/theory/maths/propositionalLogic/TheoryCompleteness") Completeness of propositional logic
	p
		b Key results
	p
		a(href="/theory/maths/propositionalLogic/ResultDeMorgan") De Morgan
	p
		a(href="/theory/maths/propositionalLogic/ResultNormal") Normal forms
