extends ./propositionalLogic/subSubTemplate.jade
block subSubContent
	p
		b Writing
	p
		a(href="/theory/maths/propositionalLogic/WritePropositions") Writing formulae with propositional logic
	p
		b Truth tables
	p
		a(href="/theory/maths/propositionalLogic/EvalTruth") Evaluating formulae with truth tables
	p
		a(href="/theory/maths/propositionalLogic/ResultDeMorgan") Semantic consequence
	p
		a(href="/theory/maths/propositionalLogic/WriteOperators") We don't need more operators
	p
		a(href="/theory/maths/propositionalLogic/ResultNormal") Normal forms
	p
		b Inference
	p
		a(href="/theory/maths/propositionalLogic/EvalSubstitution") Syntactic consequence
	p
		a(href="/theory/maths/propositionalLogic/TheoryAxioms") Axioms for propositional logic
	p
		a(href="/theory/maths/propositionalLogic/TheoryCompleteness") Completeness of propositional logic
