extends ./propertiesFunctions/subSubTemplate.jade
block subSubContent
	h3
		b Real functions
	p
		a(href="./propertiesFunctions/realFunctions") Real functions
	p
		a(href="./propertiesFunctions/support") Support
	p
		a(href="./propertiesFunctions/monotonic") Monotonic functions
	p
		a(href="./propertiesFunctions/0203analysisEvenOdd") Even and odd functions
	p
		a(href="./propertiesFunctions/0202analysisCon") Concave and convex functions
	h3
		b Limits
	p
		a(href="./propertiesFunctions/limit") Limits of real functions
	p
		a(href="./propertiesFunctions/infSup") Limit superior and limit inferior
	p
		a(href="./propertiesFunctions/0201analysisBigO") Big O and little o notation
	h3
		b Continuous functions
	p
		a(href="./propertiesFunctions/0200analysisContinuity") Continous functions
	p
		a(href="./propertiesFunctions/rationals") Reals or rationals for analysis
	p
		a(href="./propertiesFunctions/bounded") Boundedness theorem
	p
		a(href="./propertiesFunctions/intermediate") Intermediate value theorem
	p
		a(href="./propertiesFunctions/extreme") Extreme value theorem
