extends ./reals/subSubTemplate.jade
block subSubContent
	h3
		b More on sequences
	p
		a(href="./reals/limit") Limit of a sequence
	h3
		b Divergent series
	p
		a(href="./reals/partial") Partial sums
	p
		a(href="./reals/cesaro") Cesàro sum
	p
		a(href="./reals/abel") Abel summation
	h3
		b Constructing the real numbers
	p
		a(href="./reals/0101Convergence") Cauchy sequences
	p
		a(href="./reals/0201realReals") Incompleteness of the real numbers
	p
		a(href="./reals/0203Density") Density of rationals and reals
	p
		a(href="./reals/sigma") \(\sigma \)-algebra
