extends ./realAnalysis/subSubTemplate.jade
block subSubContent
	h3
		b Real functions
	p
		a(href="./realAnalysis/0200analysisContinuity") Continous functions
	p
		a(href="./realAnalysis/0201analysisBigO") Big O and little o notation
	p
		a(href="./realAnalysis/0202analysisCon") Concave and convex functions
	p
		a(href="./realAnalysis/0203analysisEvenOdd") Even and odd functions
	p
		a(href="./realAnalysis/0204analysisContinuity") Domains and ranges
	p
		a(href="./realAnalysis/0205realGamma") Gamma function
	h3
		b Differentiation
	p
		a(href="./realAnalysis/0300diffDerivatives") Differentiation
	p
		a(href="./realAnalysis/0305analysisMore") Basic examples of derivatives
	p
		a(href="./realAnalysis/0302diffTaylor") Taylor series
	p
		a(href="./realAnalysis/0301diffE") \(e\)
	p
		a(href="./realAnalysis/diffExponents") Differentiation with exponents
	p
		a(href="./realAnalysis/0303diffTotal") Total differentiation
	p
		a(href="./realAnalysis/0304diffAnti") Anti-derivatives
	p
		a(href="./realAnalysis/0306meanValueTheorem") Mean value theorem
	h3
		b Integration
	p
		a(href="./realAnalysis/0400integrationIntegrals") Integration
	p
		a(href="./realAnalysis/0401FundamentalTheoremCalculus") Fundamental theorem of calcululs
	h3
		b Optimisation
	p
		a(href="./realAnalysis/0904diffSaddle") Determinants
	p
		a(href="./realAnalysis/0905diffOptimisation") Optimisation
	p
		a(href="./realAnalysis/0906diffKKT") KKT
	h3
		b Differential equations
	p
		a(href="./realAnalysis/1300diffEqODE") Ordinary differential equations
	p
		a(href="./realAnalysis/1301diffEqPDE") Partial differential equations
