extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math

	h2
		b Real analysis
	h3
		b Sequences and series	
	p
		a(href="/theory/maths/realAnalysis/0000sequences") Sequences
	p
		a(href="/theory/maths/realAnalysis/0000realSequences") Cauchy sequences
	p
		a(href="/theory/maths/realAnalysis/0001integersSumProduct") Sum product
	p
		a(href="/theory/maths/realAnalysis/0002otherSeries") Other series
	h3
		b Real numbers
	p
		a(href="/theory/maths/realAnalysis/0100realDedekind") Dedekind cuts
	p
		a(href="/theory/maths/realAnalysis/0101realReals") Real numbers
	p
		a(href="/theory/maths/realAnalysis/0102LeastUpperBound") Least upper bound
	p
		a(href="/theory/maths/realAnalysis/0103Density") Density of rationals and reals
	p
		a(href="/theory/maths/realAnalysis/0104CardinalityInf") Cardinality of infinite sets
	p
		b Real functions
	p
		a(href="/theory/maths/realAnalysis/0200analysisContinuity") Continous functions
	p
		a(href="/theory/maths/realAnalysis/0201analysisBigO") Big O and little o notation
	p
		a(href="/theory/maths/realAnalysis/0202analysisCon") Concave and convex functions
	p
		a(href="/theory/maths/realAnalysis/0203analysisEvenOdd") Even and odd functions
	p
		a(href="/theory/maths/realAnalysis/0204analysisContinuity") Domains and ranges
	p
		a(href="/theory/maths/realAnalysis/0205realGamma") Gamma function
	p
		b Differentiation
	p
		a(href="/theory/maths/realAnalysis/0300diffDerivatives") Differentiation
	p
		a(href="/theory/maths/realAnalysis/0301diffE") \(e\)
	p
		a(href="/theory/maths/realAnalysis/0302diffTaylor") Taylor series
	p
		a(href="/theory/maths/realAnalysis/0303diffTotal") Total differentiation
	p
		a(href="/theory/maths/realAnalysis/0304diffAnti") Anti-derivatives
	p
		a(href="/theory/maths/realAnalysis/0305analysisMore") More
	p
		a(href="/theory/maths/realAnalysis/0306meanValueTheorem") Mean value theorem
	p
		b Integration
	p
		a(href="/theory/maths/realAnalysis/0400integrationIntegrals") Integration
	p
		a(href="/theory/maths/realAnalysis/0401FundamentalTheoremCalculus") Fundamental theorem of calcululs
