extends ./reals/subSubTemplate.jade
block subSubContent

	h3
		b Real numbers
	p
		a(href="./reals/0200realDedekind") Dedekind cuts
	p
		a(href="./reals/0201realReals") Real numbers
	p
		a(href="./reals/0203Density") Density of rationals and reals
	p
		a(href="./reals/sigma") \(\sigma \)-algebra
	p
		a(href="./reals/intervals") Open and closed intervals

