extends ./reals/subSubTemplate.jade
block subSubContent
	h3
		b Sequences
	p
		a(href="./reals/0100Sequences") Sequences
	p
		a(href="./reals/0101Convergence") Convergence
	p
		a(href="./reals/0102Series") Series
	p
		a(href="./reals/0103Fibonacci") Fibonacci sequence
	h3
		b Real numbers
	p
		a(href="./reals/0200realDedekind") Dedekind cuts
	p
		a(href="./reals/0201realReals") Real numbers
	p
		a(href="./reals/0202LeastUpperBound") Least upper bound
	p
		a(href="./reals/0203Density") Density of rationals and reals
	h3
		b Complex numbers
	p
		a(href="./reals/0300Density") Complex numbers
	p
		a(href="./reals/0301Density") Algebraic closure
