extends ./representation/subSubTemplate.jade
block subSubContent
	h3
		b Matrix calculus
	p
		a(href="./representation/matrixExponential") Matrix exponential
	p
		a(href="./representation/matrixLogarithm") Matrix logarithm
	h3
		b Representation theory
	p
		a(href="./representation/representation") Group representation
	h3
		b Generating sets for groups
	p
		a(href="./representation/lieAlgebra") Lie algebra
	h3
		b The linear groups
	p
		a(href="./representation/GL") General linear groups (GL)
	p
		a(href="./representation/SL") Special linear groups (SL)
	h3
		b Unitary groups	
	p
		a(href="./representation/U") Unitary grouups (U)
	p
		a(href="./representation/SU") Special unitary groups (SU)
	p
		a(href="./representation/sloan") Sloan's theorem
	h3
		b Orthogonal groups
	p
		a(href="./representation/O") Orthogonal groups (O)
	p
		a(href="./representation/SO") Special orthogonal groups (SO)
	h3
		b Symplectic groups
	p
		a(href="./representation/symplectic") Symplectic groups

