extends ./representation/subSubTemplate.jade
block subSubContent
	h3
		b Cross products
	p
		a(href="./representation/crossProduct") The cross product
	h3
		b Lie algebra
	p
		a(href="./representation/lieAlgebra") Lie algebra
	p
		a(href="./representation/lieBracket") Lie brackets
	h3
		b Lie groups
	p
		a(href="./representation/lieGroups") Lie groups

