extends ./representation/subSubTemplate.jade
block subSubContent
	h3
		b Matrix calculus
	p
		a(href="./representation/matrixExponential") Matrix exponentials
	p
		a(href="./representation/matrixLogarithm") Matrix logarithms
	h3
		b Representation theory
	p
		a(href="./representation/representation") Group representation
	h3
		b Symmetry
	p
		a(href="./representation/symmetry") Defining symmetries
	p
		a(href="./representation/symmetryCombine") Combining symmetry groups
	h3
		b The linear groups
	p
		a(href="./representation/GL") General linear groups \(GL(n, F)\)
	p
		a(href="./representation/automorphism") The automorphism group
	p
		a(href="./representation/SL") Special linear groups \(SL(n, F)\)
	p
		a(href="./representation/finite") Representing finite groups
	p
		a(href="./representation/compact") Representing compact groups
	h3
		b Unitary groups
	p
		a(href="./representation/U") Unitary groups \(U(n, F)\)
	p
		a(href="./representation/U2") \(U(1, C)\), \(U(2, C)\) and \(U(3, C)\)
	p
		a(href="./representation/SU") Special unitary groups \(SU(n, F)\)
	p
		a(href="./representation/SU2") \(SU(1, C)\), \(SU(2, C)\) and \(SU(3, C)\)
	h3
		b Orthogonal groups
	p
		a(href="./representation/O") Orthogonal groups \(O(n, F)\)
	p
		a(href="./representation/O2") \(O(1, C)\), \(O(2, C)\) and \(O(3, C)\)
	p
		a(href="./representation/SO") Special orthogonal groups \(SO(n, F)\)
	p
		a(href="./representation/SO2") \(SO(1, C)\), \(SO(2, C)\) and \(SO(3, C)\)
	p
		a(href="./representation/OIndef") Indefinite orthognal groups \(O(n,m,F)\)
	h3
		b Symplectic groups
	p
		a(href="./representation/symplectic") Symplectic groups
	h3
		b Lie algebra
	p
		a(href="./representation/lieAlgebra") Lie algebra
	p
		a(href="./representation/lieBracket") The Lie bracket
	h3
		b Important groups
	p
		a(href="./representation/lorenz") The Lorenz group \(O(3,1)\)
	p
		a(href="./representation/affine") The affine group
	p
		a(href="./representation/euclid") The Euclidian group

