extends ./representation/subSubTemplate.jade
block subSubContent
	h3
		b Matrix calculus
	p
		a(href="./representation/matrixExponential") Matrix exponentials
	p
		a(href="./representation/matrixLogarithm") Matrix logarithms
	h3
		b Representation theory
	p
		a(href="./representation/representation") Group representation
	h3
		b Lie algebra
	p
		a(href="./representation/lieAlgebra") Lie algebra
	p
		a(href="./representation/lieBracket") The Lie bracket
	h3
		b Important groups
	p
		a(href="./representation/lorenz") The Lorenz group \(O(3,1)\)
	p
		a(href="./representation/affine") The affine group
	p
		a(href="./representation/euclid") The Euclidian group

