extends ./representation/subSubTemplate.jade
block subSubContent

	h3
		b Algebra on a field
	p
		a(href="./representation/bilinearMaps") Bilinear maps
	p
		a(href="./representation/algebra") Algebra on a field
	h3
		b Cross products
	p
		a(href="./representation/crossProduct") The cross product
	h3
		b Lie groups
	p
		a(href="./representation/lieGroups") Lie groups
	h3
		b Lie algebra
	p
		a(href="./representation/lieAlgebra") Lie algebra
	p
		a(href="./representation/lieBracket") Lie brackets
	p
		a(href="./representation/commutation") Commutation of Lie groups
	h3
		b Lie algebra of specific Lie groups
	p
		a(href="./representation/O") Lie algebra of \(O(n)\)
	p
		a(href="./representation/U") Lie algebra of \(U(n)\)
	p
		a(href="./representation/SO") Lie algebra of \(SO(n)\)
	p
		a(href="./representation/SU") Lie algebra of \(SU(n)\)
	h3
		b Hypercomplex numbers
	p
		a(href="./representation/hypercomplex") Hypercomplex numbers
	p
		a(href="./representation/quaternions") Quaternions
	p
		a(href="./representation/clifford") Clifford algebra
	h3
		b Sort
	p
		a(href="./representation/projective") Projective line in the field

