extends ./representation/subSubTemplate.jade
block subSubContent
	h3
		b Representation theory
	p
		a(href="./representation/representation") Group representation
	p
		a(href="./representation/matrixExponential") Matrix exponential
	p
		a(href="./representation/matrixLogarithm") Matrix logarithm
	p
		a(href="./representation/lieAlgebra") Lie algebra
	p
		a(href="./representation/sloan") Sloan's theorem

