extends ./riemann/subSubTemplate.jade
block subSubContent
	h3
		b Simply connected Riemann surfaces
	p
		a(href="./manifolds/sphere") The Riemann sphere (elliptic)
	p
		a(href="./manifolds/sphere") The complex plane (parabolic)
	p
		a(href="./manifolds/sphere") The opendisk (hyperbolic)
	h3
		b Other Riemann surfaces
	p
		a(href="./manifolds/sphere") The torus
	p
		a(href="./manifolds/sphere") The hyperelliptic curve
