extends ./ringsFields/subSubTemplate.jade
block subSubContent
	h3
		b Rings
	p
		a(href="./ringsFields/rings") Rings
	p
		a(href="./ringsFields/subring") Subrings
	p
		a(href="./ringsFields/ringTrivial") Zero (trivial) ring
	p
		a(href="./ringsFields/rng") Rngs
	p
		a(href="./ringsFields/ringDivision") Division rings
	p
		a(href="./ringsFields/ringInteger") Integer rings
	p
		a(href="./ringsFields/ringIntegerMod") Integer mod \(n\) rings
	p
		a(href="./ringsFields/ringCharacteristic") Characteristic of a ring
	p
		a(href="./ringsFields/units") Units
	p
		a(href="./ringsFields/ideals") Ideals
	p
		a(href="./ringsFields/ringsCommute") Commutative rings
	p
		a(href="./ringsFields/jacobi") The Jacobi identity
	h3
		b Fields
	p
		a(href="./ringsFields/fields") Fields
	p
		a(href="./ringsFields/fieldsFinite") Finite (Galois) fields
	h3
		b Sort
	p
		a(href="./ringsFields/exterior") Exterior algebra
	p
		a(href="./ringsFields/quaternions") Quaternions
	p
		a(href="./ringsFields/clifford") Clifford algebra
	p
		a(href="./ringsFields/grassman") Grassman algebra
	p
		a(href="./ringsFields/wedge") The wedge product

