extends ./ringsFields/subSubTemplate.jade
block subSubContent
	h3
		b Rings
	p
		a(href="./ringsFields/rings") Rings
	p
		a(href="./ringsFields/ringsCommute") Commutative rings
	p
		a(href="./ringsFields/jacobi") The Jacobi identity
	h3
		b Fields
	p
		a(href="./ringsFields/fields") Fields
	p
		a(href="./ringsFields/fieldsFinite") Finite (Galois) fields
	h3
		b Sort
	p
		a(href="./ringsFields/exterior") Exterior algebra
	p
		a(href="./ringsFields/quaternions") Quaternions
	p
		a(href="./ringsFields/clifford") Clifford algebra
	p
		a(href="./ringsFields/grassman") Grassman algebra
	p
		a(href="./ringsFields/wedge") The wedge product

