extends ./sequences/subSubTemplate.jade
block subSubContent
	h3
		b Sequences
	p
		a(href="./sequences/0100Sequences") Sequences
	p
		a(href="./sequences/0102Series") Series
	p
		a(href="./sequences/sum") Summation
	p
		a(href="./sequences/product") Product
	h3
		b Other
	p
		a(href="./sequences/generating") Generating functions
