extends ./sequences/subSubTemplate.jade
block subSubContent
	h3
		b Sequences
	p
		a(href="./sequences/0100Sequences") Sequences
	p
		a(href="./sequences/0101Convergence") Convergence
	p
		a(href="./sequences/0102Series") Series
	p
		a(href="./sequences/generating") Generating functions
	h3
		b Divergent series
	p
		a(href="./sequences/divergent") Divergent series
	
	h3
		b Sequences
	p
		a(href="./sequences/0003SumProduct") Summation and products

