extends ./sequences/subSubTemplate.jade
block subSubContent
	h3
		b Sequences
	p
		a(href="./sequences/0100Sequences") Sequences
	h3
		b Series
	p
		a(href="./sequences/sum") Summation
	p
		a(href="./sequences/natural") Summation of the natural numbers
	h3
		b Products
	p
		a(href="./sequences/product") Product
	p
		a(href="./sequences/factorial") Factorials
