extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Set theory and the natural numbers

	h3
		b Peano arithmetic
	p
		a(href="/theory/maths/sets/0000peanoEquality") Peano equality
	p
		a(href="/theory/maths/sets/0001peanoAxioms") Peano axioms
	p
		a(href="/theory/maths/sets/0002peanoLimitations") Limitations
		
	h3
		b Naive set theory
	p
		a(href="/theory/maths/sets/0100Motivation") Motivation
	p
		a(href="/theory/maths/sets/0101SetNaive") Naive set theory
	p
		a(href="/theory/maths/sets/0102Functions") Functions
	p
		a(href="/theory/maths/sets/0103Cardinality") Cardinality

	h3
		b ZFC set theory
	p
		a(href="/theory/maths/sets/0200SetZFC1") Zermano-Fraenkel set theory 1 (specification, replacement, regularity)
	p
		a(href="/theory/maths/sets/0201SetSchema") On the use of axiom schema
	p
		a(href="/theory/maths/sets/0202SetZFC2") Zermano-Fraenkel set theory (extensionality)
	p
		a(href="/theory/maths/sets/0203SetBuilder") Set builder notation
	p
		a(href="/theory/maths/sets/0204SetZFC3") Zermano-Fraenkel set theory 3 (infinity) and the natural numbers
	p
		a(href="/theory/maths/sets/0205SetZFC4") Zermano-Fraenkel set theory 4 (union, powerset, pairing)
	p
		a(href="/theory/maths/sets/0400integersNaturals") SORT
	