extends ./sets/subSubTemplate.jade
block subSubContent
	h3
		b Introduction to sets
	p
		a(href="./sets/relations") Membership relation
	p
		a(href="./sets/equality") Axiom of extensionality
	p
		a(href="./sets/classes") Equivalence classes
	h3
		b Defining sets
	p
		a(href="./sets/specification") Axiom schema of specification
	p
		a(href="./sets/specificationResults") Implications of axiom schema of specification 
	p
		a(href="./sets/setBuilder") Set-builder notation
	p
		a(href="./sets/empty") Empty set
	p
		a(href="./sets/enumeration") Defining sets by enumeration
	p
		a(href="./sets/infinite") Finite and infinite sets
	p
		a(href="./sets/cardinality") Cardinality
	h3
		b Ordering
	p
		a(href="./sets/inequalities") Inequalities
	p
		a(href="./sets/orderedSets") Ordered sets
	p
		a(href="./sets/intervals") Intervals
	p
		a(href="./sets/infinitum") Infinitum, supremum, minimum and maximum
	h3
		b Set algebra
	p
		a(href="./sets/intersection") Set union and intersection
	p
		a(href="./sets/complement") Complement and disjoint sets
	p
		a(href="./sets/union") Axiom of union
	p
		a(href="./sets/boolean") Boolean algebra
	p
		a(href="./sets/algebra") Algebra on a set
	h3
		b Natural numbers
	p
		a(href="./sets/infinity") Axiom of infinity
	p
		a(href="./sets/cardinalityNatural") Cardinality of the natural numbers
	p
		a(href="./sets/orderingNatural") Ordering of the natural numbers
	h3
		b Subsets and powersets
	p
		a(href="./sets/subset") Subset relation
	p
		a(href="./sets/powerset") Powerset
	p
		a(href="./sets/cantor") Cantor's theorem
	h3
		b Tuples
	p
		a(href="./sets/operations") Tuples
	p
		a(href="./sets/pairing") Axiom of pairing
	p
		a(href="./sets/cartesian") Cartesian product
	p
		a(href="./sets/directSum") Direct sums
	h3
		b Functions
	p
		a(href="./sets/functionsConstruct") Constructing functions
	p
		a(href="./sets/0204setsRanges") Domains and ranges
	p
		a(href="./sets/regularity") Axiom of regularity


