extends ./sets/subSubTemplate.jade
block subSubContent
	h3
		b Writing statements with set theory
	p
		a(href="./sets/0000SetNaive") Axiom schema of specification
	p
		a(href="./sets/0001SetZFC2") Axiom of equality
	p
		a(href="./sets/0001SetZFC2") Set builder notation
	p
		a(href="./sets/0101Cardinality") Cardinality
	h3
		b Functions
	p
		a(href="./sets/0003SetZFC3") Axiom of pairing
	p
		a(href="./sets/0002Functions") Functions
	h3
		b Natural numbers
	p
		a(href="./sets/0003SetZFC3") Axiom of infinity
	p
		a(href="./sets/0002Functions") Sequential function
	p
		a(href="./sets/0100Ordering") Ordering

