extends ./sets/subSubTemplate.jade
block subSubContent
	h3
		b Introduction to sets
	p
		a(href="./sets/relations") Defining new relations
	p
		a(href="./sets/classes") Classes
	p
		a(href="./sets/enumeration") Defining sets by enumeration
	h3
		b Set algebra
	p
		a(href="./sets/operations") Operations on sets
	p
		a(href="./sets/boolean") Boolean algebra
	p
		a(href="./sets/algebra") Algebra on a set
	p
		a(href="./sets/sigma") \(\sigma \)-algebra
	h3
		b Basic axioms
	p
		a(href="./sets/specification") Axiom schema of specification
	p
		a(href="./sets/setBuilder") Set-builder notation
	p
		a(href="./sets/regularity") Axiom of regularity
	p
		a(href="./sets/equality") Axiom of extensionality
	h3
		b Axioms for algebra
	p
		a(href="./sets/pairing") Axiom of pairing
	p
		a(href="./sets/union") Axiom of union
	h3
		b Natural numbers
	p
		a(href="./sets/infinity") Axiom of infinity
	p
		a(href="./sets/functionsProperties") Properties of functions
	p
		a(href="./sets/cardinality") Cardinality
	h3
		b Ordering
	p
		a(href="./sets/orderingRels") Ordering
	p
		a(href="./sets/intervals") Intervals
	p
		a(href="./sets/ordering") Ordering of the natural numbers
	p
		a(href="./sets/infinitum") Infinitum, supremum, minimum and maximum
	h3
		b Constructing more sets
	p
		a(href="./sets/functionsConstruct") Constructing functions
	p
		a(href="./sets/0204setsRanges") Domains and ranges
