extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Set theory
	h3
		b Basic set theory
	p
		b Definitions
	p
		a(href="/theory/maths/sets/0000SetNaive") Sets
	p
		a(href="/theory/maths/sets/0000SetNaive") Relations
	p
		b Axioms
	p
		a(href="/theory/maths/sets/0000SetNaive") Axiom of specification
	p
		a(href="/theory/maths/sets/0001SetZFC2") Axiom of equality
	p
		b Theory
	p
		a(href="/theory/maths/sets/0100Ordering") Ordering
	p
		a(href="/theory/maths/sets/0101Cardinality") Cardinality
	h3
		b Natural numbers
	p
		b Axioms
	p
		a(href="/theory/maths/sets/0003SetZFC3") Axiom of infinity
	h3
		b Sequences
	p
		b Axioms
	p
		a(href="/theory/maths/sets/0003SetZFC3") Axiom of pairing
	p
		b Results
	p
		a(href="/theory/maths/sets/0002Functions") Functions
	p
		a(href="/theory/maths/sets/0002Functions") Sequential function
