extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Natural numbers
	h3
		b Set theory
	p
		b Axioms
	p
		a(href="/theory/maths/sets/0000SetNaive") Sets
	p
		a(href="/theory/maths/sets/0001SetZFC2") Equality
	p
		a(href="/theory/maths/sets/0002Functions") Functions
	p
		a(href="/theory/maths/sets/0003SetZFC3") Natural numbers
	p
		b Theory
	p
		a(href="/theory/maths/sets/0100Ordering") Ordering
	p
		a(href="/theory/maths/sets/0101Cardinality") Cardinality
	h3
		b Alternative axioms
	p
		b Peano axioms
	p
		a(href="/theory/maths/sets/0200peanoEquality") Equality
	p
		a(href="/theory/maths/sets/0201peanoAxioms") Peano axioms
