extends ./sets/subSubTemplate.jade
block subSubContent
	h3
		b Writing statements with set theory
	p
		a(href="./sets/specification") Axiom schema of specification
	p
		a(href="./sets/equality") Axiom of extensionality
	p
		a(href="./sets/setBuilder") Set-builder notation
	h3
		b Functions
	p
		a(href="./sets/functionsProperties") Properties of functions
	p
		a(href="./sets/union") Axiom of union
	p
		a(href="./sets/pairing") Axiom of pairing
	p
		a(href="./sets/functionsConstruct") Constructing functions
	h3
		b Natural numbers
	p
		a(href="./sets/infinity") Axiom of infinity
	p
		a(href="./sets/cardinality") Cardinality
	p
		a(href="./sets/ordering") Ordering

