extends ./sets/subSubTemplate.jade
block subSubContent
	h3
		b Defining sets
	p
		a(href="./sets/specification") Axiom schema of specification
	p
		a(href="./sets/regularity") Axiom of regularity
	p
		a(href="./sets/equality") Axiom of extensionality
	p
		a(href="./sets/setBuilder") Set-builder notation
	h3
		b Set algebra
	p
		a(href="./sets/operations") Operations on sets
	p
		a(href="./sets/boolean") Boolean algebra
	p
		a(href="./sets/algebra") Algebra on a set
	h3
		b Natural numbers
	p
		a(href="./sets/infinity") Axiom of infinity
	p
		a(href="./sets/functionsProperties") Properties of functions
	p
		a(href="./sets/cardinality") Cardinality
	p
		a(href="./sets/ordering") Ordering

	h3
		b Constructing more sets
	p
		a(href="./sets/pairing") Axiom of pairing
	p
		a(href="./sets/union") Axiom of union
	p
		a(href="./sets/functionsConstruct") Constructing functions
