extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Models
	p Sum
	p Product
	p $$n!:=\prod_i^ni$$

	p Summation
	p $$\sum^n_i c=nc$$
	p $$\sum^n_i cx_i=c\sum^n_i x_i$$
	p $$\sum_i \sum_j x_i y_j=\sum_j \sum_i x_i y_j$$
	p $$\sum_i \sum_j x_i y_j=\sum_i x_i \sum_j y_j$$
	p $$\sum_i \sum_j x_i y_j=\sum_i x_i \sum_j y_j$$
	p $$\sum_i (x_i+y_i)=(\sum_i x_i)+(sum_i y_i)$$
	p $$\sum_i (x_i+c)=nc+\sum_i x_i$$
	p $$\sum_i \sum_i x_i=n\sum_i x_i$$
