extends ./tensors/subSubTemplate.jade
block subSubContent
	h3
		b Element-wise notation
	p
		a(href="./tensors/einstein") Einstein summation convention
	h3
		b Tensor product
	p
		a(href="./tensors/tensorProduct") Tensor product
	p
		a(href="./tensors/homomorphism") Homomorphism as a tensor product
	h3
		b Tensors
	p
		a(href="./tensors/tensors") Tensors
	p
		a(href="./tensors/covariant") Covariant and contravariant bases
	p
		a(href="./tensors/valence") Tensor valence
	p
		a(href="./tensors/inverse") Tensor inverse
	p
		a(href="./tensors/contraction") Tensor contraction
	h3
		b Higher-order tensors
	p
		a(href="./tensors/higherOrder") Higher-order tensors

