extends ./tensors/subSubTemplate.jade
block subSubContent
	h3
		b Element-wise notation
	p
		a(href="./tensors/einstein") Einstein summation convention
	p
		a(href="./tensors/covariant") Covariant and contravariant bases
	h3
		b Tensor product
	p
		a(href="./tensors/tensorProduct") Tensor product
	p
		a(href="./tensors/juggling") Raising and lowering indices
	p
		a(href="./tensors/kronDelta") Kronecker delta
	p
		a(href="./tensors/tensorVectorSpace") Tensors form a vector space
	h3
		b Tensors
	p
		a(href="./tensors/valence") Tensor valence
	p
		a(href="./tensors/inverse") Tensor inverse
	p
		a(href="./tensors/contraction") Tensor contraction
	p
		a(href="./tensors/symmetry") Symmetric and antisymmetric tensors
	h3
		b Higher-order tensors
	p
		a(href="./tensors/higherOrder") Higher-order tensors
	h3
		b Sort
	p
		a(href="./tensors/outerProduct") Outer product
	p
		a(href="./tensors/kronProduct") Kronecker product

