extends ./tensors/subSubTemplate.jade
block subSubContent
	h3
		b Dual space
	p
		a(href="./tensors/linearForm") Linear forms
	p
		a(href="./tensors/dualSpace") Dual space
	p
		a(href="./tensors/dualSpaceBasis") The basis of dual space
	h3
		b More on bases
	p
		a(href="./tensors/basisEndomorphism") Basis of a homomorphism
	p
		a(href="./tensors/changingBasis") Changing the basis
	h3
		b Bilinear maps
	p
		a(href="./tensors/bilinear") Bilinear maps
	p
		a(href="./tensors/dotProduct") Dot product
	p
		a(href="./tensors/outerProduct") Outer product
	p
		a(href="./tensors/kronProduct") Kronecker product
	h3
		b Sesquilinear maps
	p
		a(href="./tensors/innerProduct") Inner product space
	p
		a(href="./tensors/norms") Norms
	p
		a(href="./tensors/cauchySchwarz") Cauchy-Schwarz inequality
	p
		a(href="./tensors/crossProduct") Cross product
	h3
		b Multilinear maps
	p
		a(href="./tensors/formsMaps") Multilinear maps
	p
		a(href="./tensors/matrixCols") Matrix columns as vector inputs
	p
		a(href="./tensors/0103linearDeterminants") Determinants
	h3
		b Element-wise notation
	p
		a(href="./tensors/einstein") Einstein summation convention
	h3
		b Tensor product
	p
		a(href="./tensors/tensorProduct") Tensor product
	p
		a(href="./tensors/homomorphism") Homomorphism as a tensor product
	h3
		b Tensors
	p
		a(href="./tensors/tensors") Tensors
	p
		a(href="./tensors/covariant") Covariant and contravariant bases
	p
		a(href="./tensors/valence") Tensor valence
	p
		a(href="./tensors/inverse") Tensor inverse
	p
		a(href="./tensors/contraction") Tensor contraction
	h3
		b Higher-order tensors
	p
		a(href="./tensors/higherOrder") Higher-order tensors

