extends ./tensors/subSubTemplate.jade
block subSubContent
	h3
		b Bilinear maps
	p
		a(href="./tensors/crossProduct") Cross product
	p
		a(href="./tensors/outerProduct") Outer product
	p
		a(href="./tensors/kronProduct") Kronecker product
	h3
		b Multilinear maps
	p
		a(href="./tensors/formsMaps") Multilinear maps
	p
		a(href="./tensors/matrixCols") Matrix columns as vector inputs
	p
		a(href="./tensors/0103linearDeterminants") Determinants
	h3
		b Element-wise notation
	p
		a(href="./tensors/elementWise") Element-wise notation
	p
		a(href="./tensors/einstein") Einstein summation convention
	p
		a(href="./tensors/addScalar") Vector addition and scalar multiplication
	p
		a(href="./tensors/kronDelta") Kronecker delta
	p
		a(href="./tensors/homomorphisms") Homomorphisms
	p
		a(href="./tensors/homomorphism") Bilinear forms
	p
		a(href="./tensors/homomorphism") Changing bases
	h3
		b Tensor product
	p
		a(href="./tensors/tensorProduct") Tensor product
	p
		a(href="./tensors/homomorphism") Homomorphism as a tensor product
	h3
		b Tensors
	p
		a(href="./tensors/tensors") Tensors
	p
		a(href="./tensors/covariant") Covariant and contravariant bases
	p
		a(href="./tensors/valence") Tensor valence
	p
		a(href="./tensors/inverse") Tensor inverse
	p
		a(href="./tensors/contraction") Tensor contraction, and raising and lowering indices	
	h3
		b Higher-order tensors
	p
		a(href="./tensors/higherOrder") Higher-order tensors

