extends ./topologyFinite/subSubTemplate.jade
block subSubContent
	h3
		b Nearness functions
	p
		a(href="./topologyFinite/topology") Topologies
	p
		a(href="./topologyFinite/neighbourhood") Neighbourhoods
	p
		a(href="./topologyFinite/distinguishability") Topological distinguishability
	p
		a(href="./topologyFinite/open") Open sets
	h3
		b Open and closed sets
	p
		a(href="./topologyFinite/closure") Limit points and closure
	p
		a(href="./topologyFinite/boundry") Boundries and interiors
	p
		a(href="./topologyFinite/closed") Closed sets
	h3
		b Compactness
	p
		a(href="./topologyFinite/cover") Covers
	p
		a(href="./topologyFinite/base") Bases of topologies
	h3
		b Separation
	p
		a(href="./topologyFinite/connected") Connected and separated sets
	h3
		b Cartesian products
	p
		a(href="./topologyFinite/box") Box topology
	p
		a(href="./topologyFinite/product") Product topology
	h3
		b Creating topologies from sets
	p
		a(href="./topologyFinite/trivial") The trivial topology
	p
		a(href="./topologyFinite/discrete") Discrete topology
	h3
		b Taxonomy of spaces
	p
		a(href="./topologyFinite/lindelof") Lindelöf space
	p
		a(href="./topologyFinite/kolmogorov") Kolmogorov space
	h3
		b Local properties
	p
		a(href="./topologyFinite/local") Local properties
	p
		a(href="./topologyFinite/locallyCompact") Locally compact spaces
	p
		a(href="./topologyFinite/locallyConnected") Locally connected spaces
	h3
		b TO INF
	p
		a(href="./topologyFinite/hausdorf") Hausdorf space
	p
		a(href="./topologyFinite/compactness") Compact spaces

