extends ./topology/subSubTemplate.jade
block subSubContent
	h3
		b Nearness functions
	p
		a(href="./topology/open") Topological spaces and open sets
	p
		a(href="./topology/neighbourhood") Neighbourhoods and topological distinguishability
	p
		a(href="./topology/closure") Limit points and closure
	p
		a(href="./topology/cover") Covers
	p
		a(href="./topology/boundry") Boundries and interiors
	p
		a(href="./topology/closed") Closed sets
	p
		a(href="./topology/nearness") Nearness
	h3
		b Bases
	p
		a(href="./topology/base") Bases of topologies
	h3
		b More
	p
		a(href="./topology/homotopy") Homotopy
	p
		a(href="./topology/homeomorphisms") Homeomorphisms
	p
		a(href="./topology/genus") Genuses

	h3
		b Compactness
	p
		a(href="./topology/compactness") Compactness
	h3
		b Separation
	p
		a(href="./topology/connected") Connected and separated sets
	h3
		b Connectedness
	h3
		b Taxonomy of spaces
	p
		a(href="./topology/lindelof") Lindelöf space
	p
		a(href="./topology/kolmogorov") Kolmogorov space
	p
		a(href="./topology/hausdorf") Hausdorf space
	h3
		b Functions between topologies
	h3
		b Local properties
	h3
		b Paths
	h3
		b Homotopy

