extends ./topologyFunctions/subSubTemplate.jade
block subSubContent
	h3
		b Functions between topologies
	p
		a(href="./topology/functions") Functions between topologies
	p
		a(href="./topology/homotopy") Homotopy
	p
		a(href="./topology/homeomorphisms") Homeomorphisms
	p
		a(href="./topology/genus") Genuses
	h3
		b Paths
	p
		a(href="./topology/paths") Paths
	p
		a(href="./topology/loops") Loops
	p
		a(href="./topology/pathConnected") Path-connect spaces

