extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Math
	h2
		b Space
	p
		a(href="/theory/maths/topology/spaceMeasure") Measure space
	p
		a(href="/theory/maths/topology/spaceMetric") Metric space
	p
		a(href="/theory/maths/topology/spaceSpace") Space
