extends ./topology/subSubTemplate.jade
block subSubContent
	h3
		b Nearness functions
	p
		a(href="./topology/neighbourhood") Neighbourhoods and topologies
	p
		a(href="./topology/distinguishability") Topological distinguishability
	p
		a(href="./topology/nearness") Nearness
	h3
		b Open and closed sets
	p
		a(href="./topology/closure") Limit points and closure
	p
		a(href="./topology/boundry") Boundries and interiors
	p
		a(href="./topology/open") Open sets
	p
		a(href="./topology/closed") Closed sets
	h3
		b Compactness
	p
		a(href="./topology/cover") Covers
	p
		a(href="./topology/base") Bases of topologies
	p
		a(href="./topology/compactness") Compact spaces
	h3
		b Separation
	p
		a(href="./topology/connected") Connected and separated sets
	h3
		b Cartesian products
	p
		a(href="./topology/box") Box topology
	p
		a(href="./topology/product") Product topology
	h3
		b Creating topologies from sets
	p
		a(href="./topology/trivial") The trivial topology
	p
		a(href="./topology/discrete") Discrete topology
	h3
		b Taxonomy of spaces
	p
		a(href="./topology/lindelof") Lindelöf space
	p
		a(href="./topology/kolmogorov") Kolmogorov space
	p
		a(href="./topology/hausdorf") Hausdorf space
	h3
		b Local properties
	p
		a(href="./topology/local") Local properties
	p
		a(href="./topology/locallyCompact") Locally compact spaces
	p
		a(href="./topology/locallyConnected") Locally connected spaces

