extends ./topology/subSubTemplate.jade
block subSubContent
	h3
		b Nearness functions
	p
		a(href="./topology/nearness") Nearness
	h3
		b Bases
	p
		a(href="./topology/base") Bases of topologies
	h3
		b More
	p
		a(href="./topology/homotopy") Homotopy
	p
		a(href="./topology/homeomorphisms") Homeomorphisms
	p
		a(href="./topology/genus") Genuses

	h3
		b Compactness
	h3
		b Separation
	h3
		b Connectedness

