extends ./topology/subSubTemplate.jade
block subSubContent
	p
		a(href="/theory/maths/topology/spaceMeasure") Measure space
	p
		a(href="/theory/maths/topology/spaceMetric") Metric space
	p
		a(href="/theory/maths/topology/spaceSpace") Space
