extends ./transformations/subSubTemplate.jade
block subSubContent
	h3
		b Power series
	p
		a(href="./transformations/powerSeries") Power series
	h3
		b Taylor series
	p
		a(href="./transformations/0302diffTaylor") Taylor series
	p
		a(href="./transformations/convergence") Convergence of Taylor series
	p
		a(href="./transformations/maclaurin") Maclaurin series
	p
		a(href="./transformations/multiTaylor") Mutlivariate Taylor series
	p
		a(href="./transformations/analytic") Analytic functions
	h3
		b Fourier analysis
	p
		a(href="./transformations/representation") Representing wave functions
	p
		a(href="./transformations/harmonics") Harmonics
	p
		a(href="./transformations/fourierSeries") Fourier series
	p
		a(href="./transformations/0300trigFourier") Fourier transform
