extends ./transformations/subSubTemplate.jade
block subSubContent
	h3
		b Fourier analysis
	p
		a(href="./transformations/0300trigFourier") Fourier transform
	h3
		b Taylor series
	p
		a(href="./transformations/0302diffTaylor") Taylor series
	p
		a(href="./transformations/multiTaylor") Mutlivariate Taylor series
	p
		a(href="./transformations/analytic") Analytic functions

