extends ./trigonometry/subSubTemplate.jade
block subSubContent
	h3
		b Basics of trigonometry
	p
		a(href="./trigonometry/0100trigCS") Sine and cosine
	p
		a(href="./trigonometry/0101trigPolar") Polar coordinates
	p
		a(href="./trigonometry/polar") Polar form
	p
		a(href="./trigonometry/0104trigIdentities") Trigonometric identities
	h3
		b Tangent
	p
		a(href="./trigonometry/0102trigTan") Tan
	p
		a(href="./trigonometry/inverse") Inverse		
	p
		a(href="./trigonometry/0106trigTau") \(\tau \) and \(\pi \)
	h3
		b Hyperbolic functions
	p
		a(href="./trigonometry/hyperbolic") Hyperbolic functions
	p
		a(href="./trigonometry/0105trigIntegrals") Trigonometric functions as integrals
	h3
		b Other
	p
		a(href="./trigonometry/0103trigOther") Other trigonometric functions
