extends ./trigonometry/subSubTemplate.jade
block subSubContent
	h3
		b Sine and cosine
	p
		a(href="./trigonometry/0100trigCS") Defing sine and cosine using Euler's formula
	p
		a(href="./trigonometry/DeMoive") De Moive's formula
	p
		a(href="./trigonometry/expand") Expanding sine and cosine
	p
		a(href="./trigonometry/0104trigIdentities") Addition of sine and cosine
	p
		a(href="./trigonometry/differentiation") Calculus of sine and cosine
	p
		a(href="./trigonometry/0101trigPolar") Polar coordinates
	h3
		b Tangent
	p
		a(href="./trigonometry/0102trigTan") Tan
	p
		a(href="./trigonometry/inverse") Inverse		
	p
		a(href="./trigonometry/0106trigTau") \(\tau \) and \(\pi \)
	h3
		b Hyperbolic functions
	p
		a(href="./trigonometry/hyperbolic") Hyperbolic functions
	p
		a(href="./trigonometry/0105trigIntegrals") Trigonometric functions as integrals
	h3
		b Other
	p
		a(href="./trigonometry/0103trigOther") Other trigonometric functions
