extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Trigonometric identities

	p
		b Symmetry
	p $$\sin (-\theta )=-\sin (\theta )$$
	p $$\cos (-\theta )=\cos (\theta )$$
	p $$\tan (-\theta )=-\tan (\theta )$$
	p
		b Expansion
	p $$\sin (\alpha +\beta )=\sin (\alpha )\cos(\beta )+\cos(\alpha )\sin (\beta )$$
	p $$\cos (\alpha +\beta )=\cos (\alpha )\cos(\beta )-\sin(\alpha )\sin (\beta )$$
	p
		b Cos and sin
	p We know
	p $$e^{i\theta }=\cos (\theta )+i\sin (\theta )$$
	p $$e^{-i\theta }=\cos (\theta )-i\sin (\theta )$$
	p So
	p $$e^{i\theta }+e^{-i\theta }=cos (\theta )+i\sin (\theta )+\cos (\theta )-i\sin (\theta )$$
	p $$\cos (\theta )=\frac{e^{i\theta }+e^{-i\theta }}{2}$$
	p And
	p $$e^{i\theta }-e^{-i\theta }=cos (\theta )+i\sin (\theta )-\cos (\theta )+i\sin (\theta )$$
	p $$\sin (\theta )=\frac{e^{i\theta }-e^{-i\theta }}{2i}$$
