extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Hyperbolic, reciprocal and inverse trigonometric functions
	h3
		b Hyperbolic functions
	p $$sinh(\theta ):=\sin(i\theta )$$
	p $$cosh(\theta ):=\cos(i\theta )$$
	p $$tanh(\theta ):=\tan(i\theta )$$
	h3
		b Reciprocal trigonometric functions
	p
		b Standard
	p $$\csc (\theta ):=\frac{1}{\sin (\theta )}$$
	p $$\sec (\theta ):=\frac{1}{\cos (\theta )}$$
	p $$\cot (\theta ):=\frac{1}{\tan (\theta )}$$
	p
		b Hyperbolic
	p $$\csch (\theta ):=\frac{1}{\sinh (\theta )}$$
	p $$\sech (\theta ):=\frac{1}{\cosh (\theta )}$$
	p $$\coth (\theta ):=\frac{1}{\tanh (\theta )}$$
	h3
		b Inverse trigonometric functions
	p
		b Standard
	p $$\sin (\arcsin (\theta )):=\theta $$
	p $$\cos (\arccos (\theta )):=\theta $$
	p $$\tan (\arctan (\theta )):=\theta $$
	p
		b Hyperbolic
	p $$\sinh (\arcsinh (\theta )):=\theta $$
	p $$\cosh (\arccosh (\theta )):=\theta $$
	p $$\tanh (\arctan (\theta )):=\theta $$
	p
		b Reciprocal standard
	p $$\csc (\arccsc (\theta )):=\theta $$
	p $$\sec (\arcsec (\theta )):=\theta $$
	p $$\cot (\arccot (\theta )):=\theta $$
	p
		b Reciprocal hyperbolic
	p $$\csch (\arccsch (\theta )):=\theta $$
	p $$\sech (\arcsech (\theta )):=\theta $$
	p $$\coth (\arccoth (\theta )):=\theta $$
