extends ./trigonometry/subSubTemplate.jade
block subSubContent
	h3
		b Trigonometry
	p
		a(href="./trigonometry/0100trigCS") Sine and cosine
	p
		a(href="./trigonometry/0101trigPolar") Polar coordinates
	p
		a(href="./trigonometry/0102trigTan") Tan
	p
		a(href="./trigonometry/0103trigOther") Other trigonometric functions
	p
		a(href="./trigonometry/0104trigIdentities") Trigonometric identities
	p
		a(href="./trigonometry/0105trigIntegrals") Trigonometric functions as integrals
	p
		a(href="./trigonometry/0106trigTau") \(\tau \)

