extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Tan
	p
		b The \(\tan (\theta )\) function
	p We now define the \(\tan (\theta )\) function.
	p $$\tan (\theta ):=\frac{\sin (\theta )}{\cos (\theta )}$$
	p Where \(\theta =0\), \(\sin (\theta )=0\) and so \(\tan (\theta )=0\).
	p Where \(\cos (\theta )=0\), \(\tan (\theta )\) is undefined.
	p We can take derivatives of this function.
	p $$\frac{\delta }{\delta \theta }\tan (\theta )=\frac{\delta }{\delta \theta }\frac{\sin (\theta )}{\cos (\theta )}$$
	p $$\frac{\delta }{\delta \theta }\tan (\theta )=\frac{\cos (\theta )}{\cos (\theta )}+\frac{\sin^2(\theta )}{\cos^2(\theta )}$$
	p $$\frac{\delta }{\delta \theta }\tan (\theta )=1+\tan^2(\theta )$$
	p Note that this function is always positive.
