extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Generating additional data
block subSubContent
	p Generating additional data. What are symmetries we can use? Requires domain specific knowledge. Could rotate, zoom, compress, translate
	p Add noise? Need domain specific knowledge
