extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Storing image data
block subSubContent
	h3
		b Introduction
	p An image can be stored as a multidimensional array. It has 3 dimensions:
	ul
		li Height
		li Width
		li Depth (RBG)
	p A black and white image only has two dimensions, as there is a depth of one.

