extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Labelling data
block subSubContent
	p Rename big samples section to data preparation.
	p Divide data into variables.
	p We use probability to model relationships between variables. To look at real world variables we must collect and label samples.
	p If our model has variables \(x\) and \(y\), we would take the raw data, and label each point \(x\) or \(y\).
	p Index variables
	p We may associate instances with other by adding an index.


	p big section on data as vectors
	p add section on representing data point as a vector

	p can resepesnt multiple data points as a single matrix

	p meets axioms of vector space

	p mapping from vector space to R
	
