extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Fourier transforms

block subSubContent
	h3
		b Fourier transform
	p \(\hat f(\Xi )=\int_{-\infty}^{\infty }f(x)e^{-2\pi ix\Xi }dx\) 
	h3
		b Inverse Fourier transform
	p \(f(x)=\int_{-\infty}^{\infty }\hat f(\Xi )e^{2\pi ix\Xi }d\Xi \)
	h3
		b Fourier inversion theorem
	p 
