extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Taylor series

block subSubContent
	h3
		b Taylor series
	p \(f(x)\) can be estimated at point \(c\) by identifying its repeated differentials at point \(c\).
	p The coefficients of an infinate number of polynomials at point \(c\) allow this.
	p $$f(x)=\sum_{i=0}^{\infty }a_i(x-c)^i$$
	p $$f'(x)=\sum_{i=1}^{\infty }a_i(x-c)^{i-1}i$$
	p $$f''(x)=\sum_{i=2}^{\infty }a_i(x-c)^{i-2}i(i-1)$$
	p $$f^j(x)=\sum_{i=j}^{\infty }a_i(x-c)^{i-j}\frac{i!}{(i-j)!}$$
	p For \(x=c\) only the first term in the series is non-zero.
	p $$f^j(c)=\sum_{i=j}^{\infty }a_i(c-c)^{i-j}\frac{i!}{(i-j)!}$$
	p $$f^j(c)=a_ij!$$
	p So:
	p $$a_j=\frac{f^j(c)}{j!}$$
	p So:
	p $$f(x)=\sum_{i=0}^\infty (x-c)^i \frac{f^i(c)}{i!}$$

