extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Analytic functions

block subSubContent
	h3
		b Analytic functions


	p  (root test, direct comparison test, rate of convergence, radius of convergence)
	
