extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Convergence

block subSubContent
	h3
		b Introduction
	p If \(x=c\) then the power series will be equal to \(a_0\).

	p For other values the power series may not converge.
	h3
		b Cauchy-Hadamard theorem
	p Radius of convergence:

	p \(\frac{1}{R}={\lim \sup}_{n_\rightarrow \infty} (|a_n|^{\frac{1}{n})
