extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Maclaurin Series

block subSubContent
	h3
		b Maclaurin Series
	p A Taylor series around \(c=0\).
	p $$f(x)=\sum_{i=0}^\infty (x-c)^i \frac{f^i(c)}{i!}$$
	p $$f(x)=\sum_{i=0}^\infty (x)^i \frac{f^i(0)}{i!}$$

	p For example, for:	   
	p $$f(x)=(1-x)^{-1}$$
	p $$f^i(0)=i!$$
	p So, around \(x=0\):
	p $$f(x)=\sum_{i=0}^\infty (x)^i$$

