extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Fourier transforms

block subSubContent
	h3
		b Taylor series of matrices
	p We can also use Taylor series to evaluate functions of matrices.
	p Consider \(e^M\)
	p We can evaluate this as:
	p \(e^M=\sum_{k=0}^\infty \frac{1}{k!}M^k\)

