extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Power series

block subSubContent
	h3
		b Introduction
	p of the form:

	p \(\sum_{n=0}a_n(x-c)^n\)
	h3
		b Smoothness of power series
	p Power series are all smooth. That is, they are infinitely differentiable.
