extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Representing wave functions

block subSubContent
	h3
		b Introduction
	p Wave function are of the form:
	p \(\cos(ax + b)\)
	p \(\sin(ax + b)\)
	p We can use the following identities:
	ul
		li \(\cos(x)=\sin(x+\frac{\tau }{8})\)
		li \(\sin(-x)=-\sin(x)\)
		li \(\sin(a+b)=\sin(a)\cos(b)+\sin(b)\cos(a)\)
	p So we can write any function as:
	h3
		b Using \(e\)
	p 
