extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bayesian classifier
block subSubContent
	h3
		b Introduction
	p This is one which minimises the chance of misclassification.

	p It takes the output of the soft classifier and chooses the one with the highest chance.

