extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bayesian classifier
block subSubContent
	h3
		b Classification risk
	p We can measure the risk of a classifier. This is the chance of misclassification.
	p \(R(C)=P(C(X)\ne Y)\)

	h3
		b The Bayesian classifier
	p This is the classifer \(C(X)\) which minimises the chance of misclassification.

	p It takes the output of the soft classifier and chooses the one with the highest chance.

