extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Classification
block subSubContent
	h3
		b Introduction
	p Classification models are a type of regression model, where \(y\) is discrete rather than continuous.
	p So we want to find a mapping from a vector \(X\) to probabilities across discrete \(y\) values.
	p A classifier takes \(X\) and returns a vector.
	p For a classifier we have \(K\) classes. 

