extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Cost functions
block subSubContent
	p Ranking accuracy
	p J(theta) = -1/m [sum_m sum_K ylog(x) + (1-y)log(1-x)] +lamda/2m sum_L-1 sum_s_l sum_s_l+1
	p Rank it for each classification
