extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Cost function
block subSubContent
	h3
		b Introduction
	p goal isn't to get ey|x, goal is to minimise some cost function. getting the model may be part of that
