extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Errors
block subSubContent
	h3
		b Introduction
	p generally model of form f(y|x) can be e(y|x)+e
	p section in models on errors. all models have them to fit data?
