extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Loss functions for hard classifiers
block subSubContent
	h3
		b Introduction
	p Don't want answers outside \(0\) and \(1\).
	h3
		b F score
 	h3
		b F1 score
	p F_1 score: 2PR/(P+R)
	p may not just care about accuracy, eg breast cancer screening
	p high accurancy can result from v basic model (ie all died on titanic)


	h3
		b Receiver Operating Characteristic (ROC) Area Under Curve (AUC)

