extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Maximum A-Priori (MAP) estimation
block subSubContent
	h3
		b Definition
	p Mode estimate
	p \(Arg max_\theta p(\theta | X)\)
	p Using Bayes theorem:
	p \(P(\theta | X)= \frac{P(X|\theta )P(\theta)}{P(X)}\)
	p So:
	p \(P(\theta | X)= \frac{P(X|\theta )P(\theta)}{P(X)}\)
	p \(Argmax_\theta p(\theta | X)=Argmax_\theta \frac{p(X|\theta )P(\theta)}{P(X)}\)

	p The denominator isn't affected so:
	p \(Arg max_\theta p(\theta | X)=Arg max_\theta p(X|\theta )P(\theta)\)
	p If \(P(theta )\) is a constant then this is the same as the MLE estimator.
	h3
		b Other 
	p Arg max _\theta p(theta|X)

	p Mode estimate

	p p(theta|X)= \frac{p(X| theta)p(\theta )}{p(X)}

	p Arg max _\theta \frac{p(X| theta)p(\theta )}{p(X)}

	p \theta doesn't change denominator so can instead use:

	p Arg max _\theta p(X| theta)p(\theta )

 

	p It is the same as maximum likelihood estimator if p(\theta ) is a constant. 

