extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Models
block subSubContent
	h3
		b Models
	p There is a distribution we want to estimate. This could be:
	ul
		li a probability distribution – \(P(Y)\)
		li condition expectation distribution - \(E(Y|X)\)
	p We call the distribution \(P\).
	p We do not observe \(P\). Instead we model it from data. Our model distribution can be classified by parameters, \(\theta \). So our model for \(P\) is \(P_\theta \).
	p So to create a model for the data we need:
	ul
		li A model - \(P\)
		li Parameters for the model - \(\theta \)
	p There are therefore two questions: how to select a model and, given a model, how to select parameters.

