extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Multiclass classification
block subSubContent
	h3
		b Multiclass
	p Multiclass classification
	p what if can be email for work, friends, family, hobby?

