extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Estimating other priors
block subSubContent
	h3
		b Estimating \(P(k|T)\) - Which variables we split by, given the tree size
	p 
	h3
		b Estimating \(P(r|T, k)\) - The cutoff, given the tree size and the variables we are splitting by
	p
	h3
		b Estimating \(P(\theta | T, k, r)\)
	p 

