extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Predictions and residuals
block subSubContent
	h3
		b Introduction
	p Our data \((\mathbf y, \mathbf X)\) is divided into \((y_i, \mathbf x_i)\).
	p We create a function \(\hat y_i = f(\mathbf x_i)\).


	p 
	p The best predictor of \(y\) given \(x\) is:

	p \(g(X)=E[Y|X]\)

	p The goal of regression is to find an approximation of this function.
	h3
		b Link
	p \(P(y|X, \theta )\)
	p \(\hat y =f(\mathbf x)\)

	h3
		b Residuals
	p \(\epsilon_i = y_i- \hat y_i\)
	h3
		b Residual sum of squares (RSS)
	p \(RSS=\sum_i \epsilon_i^2\)
	p \(RSS=\sum_i (y_i-\hat y_i)^2\)
	h3
		b Explained sum of squares (ESS)
	p \(ESS=\sum_i (\bar y-\hat y_i)^2\)
	h3
		b Total sum of squares (TSS)
	p \(TSS=\sum_i (y_i-\bar y)^2\)

