extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Prior and posterior predictive distributions for dependent variables
block subSubContent
	h3
		b Prior predictive distribution
	p Our prior predictive distribution for \(P(y|X)\) depends on our prior for \(\theta \).

	p \(P(y|X)=\int_\Theta P(\mathbf y|X, \theta)P(\theta )d\theta \)
	h3
		b Posterior predictive distribution
	p Once we have calculated \(P(\theta |\mathbf y, \mathbf X)\), we can calculate a posterior probability distribution for \(P(y|X)\).

	p \(P(y|\mathbf x, \mathbf y,  \mathbf X )=\int_\Theta P(y|\mathbf x, \theta)P(\theta |\mathbf y, \mathbf X)d\theta \)

