extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bayesian regression
block subSubContent
	h3
		b Bayesian regression
	p We can create a mapping based on:
	p \(P(y|X, \theta)\).
	p Through Bayes rule we have:
	p \(P(y|X, \theta)=P(X|y, \theta)\).

