extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bayesian parameter estimation for dependent models
block subSubContent
	h3
		b Recap
	p For non-dependent models we had:
	p \(P(\theta |y)=\frac{P(y, \theta)}{P(y)}\)
	p \(P(\theta |y)=\frac{P(y| \theta)P(\theta )}{P(y)}\)
	p The bottom bit is a normalisation factor, and so we can use:
	p \(P(\theta |y)\propto P(y| \theta)P(\theta )\)
	p We have here:
	ul
		li Our prior - \(P(\theta )\)
		li Our posterior - \(P(\theta |y)\)
		li Our likelihood function - \(P(y| \theta)\)
	h3
		b Bayesian regression for generative models
	p We know:
	p \(P(\theta |y,X)=\frac{P(y, \theta, X )}{P(y, X)}\)
	p \(P(\theta |y,X)=\frac{P(y, X |\theta )P(\theta )}{P(y, X)}\)
	p The bottom bit is a normalisation factor, and so we can use:
	p \(P(\theta |y,X)\propto P(y, X| \theta)P(\theta)\)
	p We have here:
	ul
		li Our prior - \(P(\theta )\)
		li Our posterior - \(P(\theta |y,X)\)
		li Our likelihood function - \(P(y, X| \theta )\)
	h3
		b Bayesian regression for discriminative models
	p We know:
	p \(P(\theta |y,X)=\frac{P(y, \theta, X )}{P(y, X)}\)
	p \(P(\theta |y,X)=\frac{P(y| \theta, X )P(\theta, X)}{P(y, X)}\)
	p \(P(\theta |y,X)=\frac{P(y| \theta, X )P(\theta )P(X|\theta )}{P(y, X)}\)
	p We assume \(P(X|\theta )=X\) and so:
	p \(P(\theta |y,X)=\frac{P(y| \theta, X )P(\theta )P(X)}{P(y, X)}\)
	p The bottom bit is a normalisation factor, and so we can use:
	p \(P(\theta |y,X)\propto P(y| X, \theta)P(\theta)\)

	p We have here:
	ul
		li Our prior - \(P(\theta )\)
		li Our posterior - \(P(\theta |y,X)\)
		li Our likelihood function - \(P(y| X, \theta )\)

