extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Regression
block subSubContent
	h3
		b Introduction
	p In regression models we isolate one variable, \(y\), typically a real number, and and create a mapping from vector \(X_i\) to \(y_i\).
	p To do so we explore the function:
	p \(P(y|X, \theta)\).
	p This constrasts with  the more general:
	p \(P(X|\theta )\)
	p In a regression model there are two outcomes of interest. \(P(\theta | X, y)\) (as in non-regression models) and \(P(y| X)\).
	h3
		b Likelihood functions in regression models
	p \(L(\theta ; X)=P(y|X, \theta )\)
	h3
		b Point estimates and predictive distributions
	p This could be a probabilistic function across the real numbers, or a point estimate.
	h3
		b Interpreting regression models
	p Interpreting parameters for dy/dx
	h3
		b Loss functions for regression
	p Sum of squares, other
	
