extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Finite-state machines
block subSubContent
	h3
		b Finite-state machines
	p A finite-state machine has \(n\) states. The machine moves through these states through the use of inputs, and the movement between these states can be represented by a graph.
	p We can represent the machine with table. One axis shows the inputs, the other the states. The cells can be filled with (if available) movements between the states.

