extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Pushdown automatons
block subSubContent
	h3
		b Pushdown automatons
	p In a finite-state machine the action of the machine depends on the state, and on the input. In a pushdown automaton it also depends on a third input – stack.
	p The stack is a list of symbols. It is the first item on the stack which is used to inform the decision.
	p The actions of a machine in finite-state machine were to move from state to state. In a pushdown automaton, the actions can also affect the stack, and therefore future changes in state.
	p A pushdown automaton uses a Last-in First-out (LiFo) stack.

