extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Banks
block subSubContent
	h3
		b Introduction
	p Banks get revenue from their lending activities. Their costs include identifying investment opportunities and paying interest to depositors.
	p Is the bank system more wasteful because it has reserves? Not really – reserves are needed because the bank deposits are on demand. If Alice received funds directly from each one she would keep some in reserve herself, in case someone demanded money back. What the bank does is:
	ul
		li Make identifying investment opportunities simpler
		li Matching short term depositors with long term borrowers


	h3
		b Investments and time requirements, and search costs for investment

