extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Real effects of inflation
block subSubContent
	h3
		b Introduction
	p If there is unexpected change in money supply, prices will eventually need to update. This could happen immediately, with all prices doubling following a discovery of shells, for example. This would not affect any real (relative) prices.
	p If, however, some prices are slow to adjust, then their relative prices will change. This would result in prices no longer clearing. If the nominal price of fish is sticky and, prior to inflation, the supply of fish equalled demand for fish, then the inflation would cause the relative price to fall. This would mean that more was demanded than supplied, and output fell.
	p Price and wage rigidity varies across countries.
	h3
		b Borrowers and savers
	p If Alice owes Bob 10 shells, and there is a surprise increase in inflation, then Alice is better off and Bob worse off. Expected inflation, or debts in real terms, does not have this issue.
	h3
		b Multiple currencies
	p Previously we have discussed all money being in terms of shells. Either shells or claims on shells. Imagine another bank on a nearby island which has reserves in gold rather than shells. If someone at a shell bank wanted to pay someone at a gold bank, the shell bank would have to sell the shells, use this to buy gold, and send the gold to the gold bank. This is similar to how different countries trade with each other today.
	p Creating a new currency base can be lucrative. If someone collected a large amount of gold before gold was the base of currency, the value of that would increase.
	p Digital currencies are examples of this. Early mining is relatively cheap and can award a large proportion of the total currency. Digital currencies – today at least – aren’t used the same way as other currencies. If you pay someone in bitcoin, you’re sending base currency, in a way that you’re not for other payments.


	h3
		b Different banks
	p Alternatively, a bank could issue currency not in shells, but in dollars. If these dollars were exchangeable for different amounts of base currency, they would have different values.
	h3
		b Fiat currency
	p Instead of using a physical base, such as gold, a bank can also simply issue dollars without the ability to exchange these notes for anything else. As the value of these depends on their supply, high trust is needed in an issuer of fiat currency.
	h3
		b Optimal currency areas
	p The optimal area to be covered by a currency depends on fluctuations and trade. Having different currencies allows currencies to devalue, and for sticky price effects to be mitigated. At the same time, use of a single currency makes trade easier
	p The balance therefore depends on whether a region faces similar price stickiness, similar shocks, and large trade inside the area.
	p When a shock hits a currency area, and there are different levels of price stickiness across it, we would expect to see some areas hit worse than others. Having labour mobility, and fiscal transfers, can help mitigate the effect of such asymmetric shocks.
	p In a currency area an asymmetric shock and sticky prices will mean that goods in one region will be higher or lower in real terms than in equilibrium. This can cause persistent current account surpluses, as seen in the EU.

	h3
		b Impossible trinity
	p As inflation rates determine movements in the exchange rate, a central bank cannot at the same time:
	ul
		li Control inflation;
		li Control exchange rates; and
		li Allow free capital flows.
	h3
		b Capital controls
	p If a government can prevent investors from freely choosing between investing in different countries, then interest parity does not apply.
	p This means that an investor with assets in the lower return country would benefit from getting around such controls.
	h3
		b Internal and external adjustment
	p We discussed above how nominal prices can be sticky. With trade this becomes more complex, as exchange rates can rapidly move.
	p A price may be sticky in pounds, but with a flexible exchange rate the price in dollars can rapidly change, and disequilibrium effects can be reduced.

