extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Continous functions

block subSubContent
	h3
		b Continuous functions
	p A function is continuous if:
	$$\lim_{x\rightarrow c} f(x)=f(c)$$
	p For example a function \(\frac{1}{x}\) is not continuous as the limit towards \(0\) is negative infinity. A function like \(y=x\) is continous.
	p More strictly, for any \(\epsilon >0\) there exists
	$$\delta >0 $$
	$$c-\delta < x< c +\delta $$
	p Such that
	$$f(c)-\epsilon < f(x) < f(c)+\epsilon $$
	p This means that our function is continuous at our limit \(c\), if for any tiny range around \(f(c)\), that is \(f(c)-\epsilon\) and \(f(c)+\epsilon\), there is a range around \(c\), that is \(c-\delta \) and \(c+ \delta \) such that all the value of \(f(x)\) at all of these points is within the other range.
	h3
		b Limits



	p why can't we use rationals for analysis?
	p if discontinous at not rational number, it can still be continous for all rationals.
	p eg f(x)=-1 unless x^2>2, where f(x)=1
	p continous for all rationals, because rationals dense in reals
	p but can't be differentiated
