extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Big \(O\) and little-\(o\) notation
block subSubContent
	h3
		b Big \(O\) notation
	p In big \(O\) notation we are interested in t he size of a function as it getes larger. We ignore constant multiples.
	p \(cx\in O(x)\)
	p And addition of constants.
	p \(cx+b\in O(x)\)
	p If there are two terms and one is larger, we keep the largest.
	p \(x+x^2\in O(x^2)\)
	p More generally we write:
	p \(f(x)\in O(g(x))\)
	h3
		b Little-\(o\) notation
	p 
