extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Concave and convex functions

block subSubContent
	h3
		b Convex functions
	p A convex function is one where:
	p \(\forall x_1, x_2\in \mathbb{R} \forall t \in [0,1] [f(tx_1+(1-t)x_2 \le tf(x_1)+(1-t)f(x_2)]\)
	p That is, for any two points of a function, a line between the two points is above the curve.
	p A function is strictly convex if the line between two points is strictly above the curve:
	p \(\forall x_1, x_2\in \mathbb{R} \forall t \in (0,1) [f(tx_1+(1-t)x_2 < tf(x_1)+(1-t)f(x_2)]\)
	p An example is \(y=x^2\).
	h3
		b Concave functions
	p A concave function is an upside down convex function. The line between two points is below the curve.
	p \(\forall x_1, x_2\in \mathbb{R} \forall t \in [0,1] [f(tx_1+(1-t)x_2 \ge tf(x_1)+(1-t)f(x_2)]\)
	p A function is strictly concave if the line between two points is strictly below the curve:
	p \(\forall x_1, x_2\in \mathbb{R} \forall t \in (0,1) [f(tx_1+(1-t)x_2 > tf(x_1)+(1-t)f(x_2)]\)
	p An example is \(y=-x^2\).
	h3
		b Affine functions
	p If a function is both concave and convex, then the line between two points must be the function itself. This means the function is an affine function.
	p \(y=cx\)
