extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Even and odd functions

block subSubContent
	h3
		b Defining odd and even functions
	p An even function is one where:
	p $$f(x)=f(-x)$$
	p An odd function is one where:
	p $$f(x)=-f(-x)$$
	h3
		b Functions which are even and odd
	p If a function is even and odd:
	p $$f(x)=f(-x)=-f(-x)$$
	p $$f(x)=-f(x)$$
	p Then \(f(x)=0\).
	h3
		b Scaling odd and even functions
	p Scaling an even function provides an even function.
	p $$h(x)=c.f(x)$$
	p $$h(-x)=c.f(-x)$$
	p $$h(-x)=c.f(x)$$
	p $$h(-x)=h(x)$$
	p Scaling an odd function provides an odd function.
	p $$h(x)=c.f(x)$$
	p $$-h(-x)=-c.f(-x)$$
	p $$-h(-x)=c.f(x)$$
	p $$-h(-x)=h(x)$$
	h3
		b Adding odd and even functions
	p Note than \(2\) even functions added together makes an even function.
	p $$h(x)=f(x)+g(x)$$
	p $$h(x)=f(-x)+g(-x)$$
	p $$h(-x)=f(x)+g(x)$$
	p $$h(x)=h(-x)$$
	p And adding \(2\) odd functions together makes an odd function.
	p $$h(x)=f(x)+g(x)$$
	p $$h(x)=-f(-x)-g(-x)$$
	p $$-h(-x)=f(x)+g(x)$$
	p $$-h(-x)=h(x)$$
	h3
		b Multiplying odd and even functions
	p Multiplying \(2\) even functions together makes an even function.
	p $$h(x)=f(x)g(x)$$
	p $$h(-x)=f(-x)g(-x)$$
	p $$h(-x)=f(x)g(x)$$
	p $$h(-x)=h(x)$$
	p Multiplying \(2\) odd functions together makes an even function.
	p $$h(x)=f(x)g(x)$$
	p $$h(-x)=f(-x)g(-x)$$
	p $$h(-x)=(-1).(-1.)f(x)g(x)$$
	p $$h(-x)=h(x)$$
