extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Boundedness theorem

block subSubContent
	h3
		b Boundedness theorem
	p If \(f(x)\) is closed and continuous in \([a,b]\) then \(f(x)\) is bounded by \(m\) and \(M\). That is:
	p $$\exists m \in \mathbb{R} \exists M\in \mathbb{R}\forall x\in [a,b](m<f(x)<M$$
