extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Extreme value theorem

block subSubContent
	h3
		b Extreme value theorem
	p We can expand the boundedness theorem such that \(m\) and \(M\) are functions of \(f(x)\) in the bound \([a,b]\). That is:
	p $$\exists m \in \mathbb{R} \exists M\in \mathbb{R}\forall x\in [a,b](m<f(x)<M)$$
