extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Limit superior and limit inferior

block subSubContent
	h3
		b Introduction
	p if a sequence does not converge, but stays between two points, then lim sup is upper bound, lim inf is lower bound.
