extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Intermediate value theorem
block subSubContent
	h3
		b Intermediate value theorem
	p Take a real function \(f(x)\) on closed interval \([a,b]\), continuous on \([a,b,]\).
	p IVT says that for all numbers \(u\) between \(f(a)\) and \(f(b)\), there is a corresponding value \(c\) in \([a,b]\) such that \(f(c)=u\).
	p That is:
	p $$\forall u \in [min(f(a),f(b)),max(f(a),f(b))] \exists c \in [a,b] (f(c)=u)$$
