extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Limits of real functions
block subSubContent
	h3
		b Limit operator
	p For a function \(f(x)\),
	p \(\lim_{x\rightarrow a}f(x)=L\)
	p We can say that \(L\) is the limit if:
	p \(\forall \epsilon >0 \exists \delta >0 \forall x[0<|x-p|<\delta \rightarrow |f(x)-L|<\epsilon]\)
	p 