extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Reals or rationals for analysis
block subSubContent
	h3
		b Intro



	p why can't we use rationals for analysis?
	p if discontinous at not rational number, it can still be continous for all rationals.
	p eg f(x)=-1 unless x^2>2, where f(x)=1
	p continous for all rationals, because rationals dense in reals
	p but can't be differentiated
