extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Real functions
block subSubContent
	h3
		b Real functions
	p Consider a function
	$$y=f(x)$$
	p \(f(x)\) is a real function if:
	p \(\forall x\in \mathbb{R} f(x) \in \mathbb{R}\)
	p 