extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Autoregressive Distributed Lag (ARDL) model
block subSubContent
	h3
		b Introduction
	p Include lagged y and lagged x (and current x)
	p If the processes are stationary, then we can use OLS. THIS IS A BROADER POINT! INTRO??

