extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Error Correction Model
block subSubContent
	h3
		b Static model
	p Like PAM we start with static estimator.
	h3
		b The ECM
	p The ECM does a regression with first differences, and includes lagged error terms.

	p We start with a basic first-difference model. 

	p \(\Delta y_t= \Delta x_t\)

	p we could also expand this to include laggs for both x and y. Here we don't.

	p We know that long term \(y_t=\theta x_t\). We use the error from this in a first difference model. 

	p \(\Delta y_t= \alpha \Delta x_t + \beta (y_{t-1}-\theta x_{t-1})\)

	p page on identifying error terms 

	p also, page on Vector Error Correction Model (VECM)
