extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Partial Adjustment Model
block subSubContent
	h3
		b Estimating a static model
	p We start by estimating a static model.

	p \(y_t=\alpha + \theta x_t + \gamma_t\)
	h3
		b Equilibrium
	p We then use this form an equilibrium for \(y_t\), \(y_t^*\).

	p \(y_t^*=\hat \alpha + \hat \theta x_t \)

	p The process depends on the difference from this equilibrium.

	p \(y_t-y_{t-1}=\beta (y_{t}^*-y_{t-1})+\epsilon_t \)

	p \(y_t-y_{t-1}=\beta (\hat \alpha + \hat \theta x_t -y_{t-1})+\epsilon_t \)

	p \(y_t=\beta \hat \alpha + \beta \hat \theta x_t + (1-\beta )y_{t-1}+\epsilon_t \)
	p \(y_t=\alpha y_{t-1}+(1-\beta )(y_{t}^*-y_{t-1})+\epsilon \)

	p The higher \(\beta \), the slower the adjustment.
	p If stationary, can we can use OLS.

