extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Vector Autoregression (VAR)
block subSubContent
	h3
		b Introduction
	p We consider a vector of observables, not just one

	p Autoregressive (AR) model for a vector.

	p VAR(p) looks \(p\) back.

	p The AR(\(p\)) model is:

	p \(y_t=\alpha + \sum_{i=1}^p\beta y_{t-i}+\epsilon_t\)

	p VAR(\(p\)) generalises this to where \(y_t\) is a vector. We define VAR(\(p\)) as:

	p \(y_t\)

	p \(y_t=c + \sum_{i=1}^pA_i y_{t-i}+\epsilon_t\)

