extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Vector Autoregression (VAR)
block subSubContent
	h3
		b Introduction
	p We consider a vector of observables, not just one

	p Autoregressive (AR) model for a vector.

	p VAR(p) looks \(p\) back.

