extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Potential fields
block subSubContent
	h3
		b Introduction
	p attracted to goal, repelled from obstacle.
	p goal has 0 potential energy
	p can use gradient descent to get to goal

	p problem of local minimums
	p if in a local minimum, can pertube by walking in a random direction to get out of it.

	p can use laser, sonar, to detect obstacles and get potential


