extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Probabilistic Roadmap Planner
block subSubContent
	h3
		b Introduction
	p generate random configuration of robot in space.
	p find n positions which are legal
	p link them using k nearest neighbours

	p risk: graph not fully connected.
	p if so, can add extra nodes between breaks
