extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Robotics
block subSubContent
	h3
		b Robotics
	p robot exists in some configuration space
	p by cartesian coordinates, angles and lengths.
	p there are legal and illegal positions

	p path planning is difficult
	p there are many degrees of freedom for complex robots
	p higher dimension space makes solutions more difficult

