extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Absolute risk aversion
block subSubContent
	h3
		b Introduction
	p Correspondence (2 models of humans in different poses; understand where each part of one relates to a specific part of the other)
