extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Blind auctions
block subSubContent
	h3
		b Introduction
	p Blind auctions are sealed-bid auctions. Participants cannot view other bids.

	p The price paid is the highest bid.

