extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Ductch auctions
block subSubContent
	h3
		b Introduction
	p In a Dutch auction the auctioneer decreases the price until a single bid is received.

	p These are open auctions. Each bid is visible to all participants.

	p The price paid is the bid.

