extends ./subSubTemplate.jade
block subSubTitle
	h1
		b English auctions
block subSubContent
	h3
		b Introduction
	p In an English auction bidders make ascending bids on a product, each bid needing to be higher than the last.

	p These are open auctions. Each bid is visible to all participants.

	p The price paid is the final bid.

