extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Vickrey auctions
block subSubContent
	h3
		b Introduction
	p Vickrey are sealed-bid auctions. Participants cannot view other bids.

	p The price paid is the second-highest bid.
