extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Bilinear forms
block subSubContent
	h3
		b Introduction
	p A bilinear form takes two vectors and produces a scalar from the underyling field.
	p This is in contrast to a linear form, which only has one input.
	p In addition, the function is linear in both arguments.
	p \(\phi (au+x, bv+y)=\phi (au,bv)+\phi (au,y)+\phi (x,bv)+\phi (x,y)\)
	p \(\phi (au+x, bv+y)=ab\phi (u,v)+a\phi (u,y)+b\phi (x,v)+\phi (x,y)\)
	h3
		b Representing bilinear forms
	p They can be represented as:
	p \(\phi (u,v)=v^TMu\)

	h3
		b Stuff
	p $$f(M)=f([v_1,v_2])$$
	p We introduce \(e_i\), the element vector. This is \(0\) for all entries except for \(i\) where it is \(1\). Any vector can be shown as a sum of these vectors multiplied by a scalar.
	p $$f(M)=f([\sum^m_{i=1}a_{1i}e_i,\sum^m_{i=1}a_{2i}e_i])$$
	p $$f(M)=\sum_{k=1}^mf([a_{1k}e_k,\sum^m_{i=1}a_{2i}e_i])$$
	p $$f(M)=\sum_{k=1}^m\sum^m_{i=1}f([a_{1k}e_k,a_{2i}e_i])$$

	p Because this in linear in scalars:
	p $$f(M)=\sum_{k=1}^m\sum^m_{i=1}a_{1k}a_{2i}f([e_k,e_i])$$
	p $$f(M)=\sum_{k=1}^m\sum^m_{i=1}a_{1k}a_{2i}e_k^TMe_i$$

	h3
		b Orthonormal basis and \(M=I\)
	p $$f(M)=\sum_{k=1}^m\sum^m_{i=1}a_{1k}a_{2i}e_k^Te_i$$
	p $$f(M)=\sum_{k=1}^m\sum^m_{i=1}a_{1k}a_{2i}\delta_i^k$$
	p $$f(M)=\sum^m_{i=1}a_{1i}a_{2i}$$

