extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cauchy-Schwarz inequality

block subSubContent
	h3
		b Cauchy-Schwarz inequality
	p This states that:
	p \(|\langle u,v\rangle |^2 \le \langle u, u\rangle \dot \langle v, v\rangle \)
	p Consider:
	p \(0\le |u-\lambda v|^2\)
	p \(0\le \langle u-\lambda v, u-\lambda v\rangle\)
	p \(0\le \langle u, u\rangle+ \langle u, -\lambda v\rangle+\langle -\lambda v, u\rangle+ \langle -\lambda v, -\lambda v\rangle\)
	p \(0\le |u|^2-\bar{\lambda }\langle u, v\rangle-\lambda \overline{ \langle u, v\rangle }+ \lambda \bar{\lambda }|v|^2\)
	p We now look for a value of \(\lambda \) to simplify this equation.
	p \(\lambda = \frac{\langle u,v \rangle}{||v||^2}\)
	p This allow us to use \(\lambda =\bar{\lambda }\).
	p \(0\le |u|^2-\lambda \langle u, v\rangle-\lambda \overline{ \langle u, v\rangle }+ \lambda \lambda |v|^2\)
	p \(0\le |u|^2-\frac{\langle u,v \rangle}{||v||^2}\langle u, v\rangle-\frac{\langle u,v \rangle}{||v||^2}\overline{ \langle u, v\rangle }+ \frac{\langle u,v \rangle}{||v||^2}\frac{\langle u,v \rangle}{||v||^2}|v|^2\)
	p \(0\le |u|^2-\frac{|\langle u,v \rangle|^2}{||v||^2}\)
	p \(|\langle u,v \rangle|^2\ge |u|^2||v||^2\)

