extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cauchy-Schwarz inequality

block subSubContent
	h3
		b Statement
	p This states that:
	p \(|\langle u,v\rangle |^2 \le \langle u, u\rangle \dot \langle v, v\rangle \)
	h3
		b Proof: Set-up
	p Consider the vectors \(u\) and \(v\). We construct a third vector \(u-\lambda v\).
	p We know the length of any vector is non-negative.
	p \(0\le \langle u-\lambda v, u-\lambda v\rangle\)
	p \(0\le \langle u, u\rangle+ \langle u, -\lambda v\rangle+\langle -\lambda v, u\rangle+ \langle -\lambda v, -\lambda v\rangle\)
	p \(0\le \langle u, u\rangle-\bar{\lambda }\langle u, v\rangle-\lambda { \langle v, u\rangle }+ \lambda \bar{\lambda }\langle v, v\rangle\)
	h3
		b Proof: \(\lambda \)
	p We now look for a value of \(\lambda \) to simplify this equation.
	p \(\lambda = \dfrac{\langle u,v \rangle}{\langle v, v\rangle}\)
	p \(0\le \langle u, u\rangle-\dfrac{\langle v,u \rangle\langle u, v\rangle}{\langle v, v\rangle}-\dfrac{\langle u,v \rangle  \langle v, u\rangle }{\langle v, v\rangle}+ \dfrac{\langle u,v \rangle}{\langle v, v\rangle}\dfrac{\langle v,u \rangle}{\langle v, v\rangle}\langle v, v\rangle\)
	p \(0\le \langle u, u\rangle-\dfrac{|\langle u,v \rangle|^2}{\langle v, v\rangle}\)
	p \(|\langle u,v \rangle|^2\ge \langle u, u\rangle\langle v, v\rangle\)

