extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Determinants of 2x2 and 3x3 matrices
block subSubContent
	h3
		b Recap
	p 
	h3
		b The determinant of a 2x2 matrix
	p 

	p $$M=\begin{bmatrix}a & b\\c & d\end{bmatrix}$$
	p \(|M|=ad-bc\)

	h3
		b The determinant of a 3x3 matrix
	p 
	p $$M=\begin{bmatrix}a & b & c\\d & e & f\\g & h & i\end{bmatrix}$$
	p \(|M|=aei+bfg+cdh-ceg-dbi-afh\)
