extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Properties of determinants
block subSubContent
	h3
		b Identity
	p \(\det I = 1\)
	h3
		b Multiplication
	p \(\det (AB)=\det A \det B\)
	h3
		b Inverse
	p \(\det (M^{-1})=\dfrac{1}{\det M}\)
	p We know this because:
	p \(\det (MM^{-1})=\det I = 1\)
	p \(\det M \det M^{-1}=1\)
	p \(\det (M^{-1})=\dfrac{1}{\det M}\)
	h3
		b Complex cojugate
	p \(\det (M^*)=\overline {\det M}\)
	h3
		b Transpose
	p \(\det (M^T)=\det M\)
	h3
		b Addition
	p \(\det (A+B)=\det A + \det B\)
	h3
		b Scalar multiplication
	p \(\det cM = c^n\det M\)

	h3
		b Determinants and eigenvalues
	p The determinant is equal to the product of the eigenvalues.
