extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Dual space

block subSubContent
	h3
		b Dual space
	p The dual space \(V^*\) of vector space \(V\) is the set of all linear forms, \(\hom(V,F)\).

	h3
		b The dual space is itself a vector space
	p \(v\in V\)
	p \(f\in F\)
	p \(av = f\)
	p \(bv = g\)

	p \((a\oplus b)v=f+g\)
	p \((a\oplus b)v=av + bv\)
	
	p So there is some operation we can do on two members of dual space

	p Linear in addition. That is, if we have two dual "things", we can define the addition of functions as the operation which results int he outputs being added.

	p what about linear in scalar? same approach.

	p Well we define 

	p \(c\odot a)=cav\)
	h3
		b The dual space has the same dimension as the underlying vector space
	p 

