extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Multilinear forms
block subSubContent
	h3
		b Multilinear forms
	p This is a generalisation of the bilinear form. A multilinear form takes multiple vectors and returns a scalar from the underlying field.
	p This can be done to a matrix, by treating each column as a separate vector.
	h3
		b Multilinear forms on a basis
	p $$f(M)=f([v_1,…,v_n])$$
	p We introduce \(e_i\), the element vector. This is \(0\) for all entries except for \(i\) where it is \(1\). Any vector can be shown as a sum of these vectors multiplied by a scalar.
	p $$f(M)=f([\sum^m_{i=1}v_{1i}e_i,…,\sum^m_{i=1}v_{ni}e_i])$$
	p $$f(M)=\sum^m_{k_1=1}f([v_{1k_1}e_{k_1},…,\sum^m_{i=1}v_{ni}e_i])$$
	p $$f(M)=\sum^m_{k_1=1}...\sum^m_{k_n=1}f([v_{1k_1}e_{k_1},…,v_{nk_n}e_{k_n}])$$
	p Because this in linear in scalars:
	p $$f(M)=\sum^m_{k_1=1}...\sum^m_{k_n=1}\prod_{j=1}^nv_{jk_j}f([e_{k_1},…,e_{k_n}])$$

