extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Hermitian matrices

block subSubContent
	h3
		b Hermitian matrix
	p A matrix where \(M=M^*\)
	p For matrices over the real numbers, these are the same as symmetric matrices.
	h3
		b Real eigenvalues
	p Hermitian matrices have real eigenvalues.
	p \(Hv=\lambda v\)
	p \(v^*Hv=\lambda v^*v\)
	p \(v^*Hv=\lambda \)
	h3
		b Skew-Hermitian matrices
	p These are also known as anti-Hermitian matrices.
	p \(M^*=-M\)

