extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Hermitian (self-adjoint) matrices

block subSubContent
	h3
		b Hermitian matrix
	p A matrix where \(M=M^*\)
	p For matrices over the real numbers, these are the same as symmetric matrices.
	h3
		b Sesqulinear forms on Hermitian matrices
	p \(\phi (u,v)=u^*Mv\)
	p \((u^*Mv)^*=v^*M^*u=v^*Mu\)
	p \(\phi (u,v)=\overline {\phi (v,u)}\)
	h3
		b The forms on the same vector are always real
	p \((v^*Mv)^*=v^*M^*v=v^*Mv\)
	p So we have:
	p \((v^*Mv)^*=v^*Mv\)
	p Which is only satisfied for reals.
	h3
		b If \(A\) and \(B\) are Hermitian
	p If \(A\) and \(B\) are Hermitian, \(AB\) is Hermitian if and only if \(AB\) commutes.
	p \((AB)^*=B^*A^*=BA\)
	p If it commutes then
	p \((AB)^*=AB\)
	h3
		b Real eigenvalues
	p Hermitian matrices have real eigenvalues.
	p \(Hv=\lambda v\)
	p \(v^*Hv=\lambda v^*v\)
	p \(v^*Hv=\lambda \)
	h3
		b Skew-Hermitian matrices
	p These are also known as anti-Hermitian matrices.
	p \(M^*=-M\)

	h3
		b If eigenvalues are different, eigenvectors are orthogonal
	p 
