extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Inner products
block subSubContent
	h3
		b Introduction
	p An inner product is a sesquilinear form with a positive-definite Hermitian matrix.
	p \( \langle u, v \rangle =u^*Hv\)
	p If we are using the real field this is the same as:
	p \( \langle u, v \rangle =u^THv\)
	p Where \(H\) is now a symmetric real matrix.
	h3
		b Same
	p \( \langle v, v \rangle =v^*Hv\)
	p Always positive and real.
	h3
		b Properties
	p \(\langle u, v\rangle \langle v, u\rangle=|\langle u, v\rangle|^2\)
