extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The dot product

block subSubContent
	h3
		b Introduction 
	p \(v^TMu=f\)
	p If the operator is \(I\) then we have the dot product.
	p \(v^Tu\)

