extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Linear forms

block subSubContent
	h3
		b Linear forms
	p A linear form is a linear map from a vector space to a scalar from the vector space's underlying field.
	p \(\hom (V, F)\)
	h3
		b Matrix operators
	p Linear forms can be represented as matrix operators.
	p \(v^TM=f\)
	p Where \(M\) has only one column.
	h3
		b Stuff
	p $$f(M)=f(v)$$
	p We introduce \(e_i\), the element vector. This is \(0\) for all entries except for \(i\) where it is \(1\). Any vector can be shown as a sum of these vectors multiplied by a scalar.
	p $$f(M)=f(\sum^m_{i=1}a_{i}e_i)$$
	p $$f(M)=\sum_{i=1}^mf(a_{i}e_i)$$
	p $$f(M)=\sum_{i=1}^ma_if(e_i)$$
	p $$f(M)=\sum_{i=1}^ma_if(e_i)$$
	h3
		b Orthonormal basis
	p $$f(M)=\sum_{i=1}^ma_i$$

