extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Linear forms

block subSubContent
	h3
		b Linear forms
	p A linear form is a linear map from a vector space to a scalar from the vector space's underlying field.
	p \(\hom (V, F)\)

