extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Metric-preserving transformations and isometry groups
block subSubContent
	h3
		b Introduction
	p If we have a bilinear form we can write the form as:
	p \(u^TMv\)
	p After a transformation \(P\) to the vectors it is:
	p \((Pu)^TM(Pv)\)
	p \(u^TP^TMPv\)
	p So the value of the metric will be unaffected if:
	p \(u^TP^TMPv=u^TMv\)
	p \(P^TMP=M\)

	h3
		b Equivalent metrics
	p Different metrics can produce the same group. For example multiplying the metric by a constant.
	p \(P^TMP=M\)
