extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Norms
block subSubContent
	h3
		b Defining a norm
	p That is, we denote the distance between two vectors as:
	p $$||x-y||=||x||-||y||$$
	p Where \(||x||\) is the norm of a vector.
	p This can be shown through:
	p $$N:VxV\rightarrow F$$
	p Where two vectors produce a scalar.
	h3
		b Normed vector space
	p A normed vector space is a metric space where the distance between two vectors is the norm of the the difference between the two vectors.
	h3
		b Getting the length of a vector
	p We can use norms to denote the "length" of a single vector.

	h3
		b Overview
	p We can use norms to denote the "length" of a single vector.
	p Such a norm can be defined in many ways.
	p A normed vector space is a metric space where the distance between two vectors is the norm of the the difference between the two vectors.
	p That is, we denote the distance between two vectors as:
	p $$||x-y||=||x||-||y||$$
	p Where \(||x||\) is the norm of a vector.
	p This can be shown through:
	p $$N:VxV\rightarrow F$$
	p Where two vectors produce a scalar.

