extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Normal matrices

block subSubContent
	h3
		b Introduction
	p \(M^*M=MM^*\)

	p All symmetrix matrices are normal

	p All hermetitian matrices (inc subset symmetric) are normal

	p Normal matrix never defective
