extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Orthogonal groups \(O(n, F)\)
block subSubContent
	h3
		b Recap: Metric-preserving transformations
	p The bilinear form is:
	p \(u^TMv\)
	p The transformations which preserve this are:
	p \(P^TMP=M\)
	h3
		b The orthogonal group
	p If the metic is \(M=I\) then the condition is:
	p \(P^TP=I\)
	p \(P^T=P^{-1}\)


	p These form the orthogonal group.
	p We use \(O\) instead of \(P\):
	p \(O^T=O^{-1}\)
	h3
		b Rotations and reflections
	p The orthogonal group is the rotations and reflections.
	h3
		b Parameters of the orthogonal group
	p The orthogonal group depends on the dimension of the vector space, and the underlying field. So we can have:
	ul
		li \(O(n, R)\); and
		li\(O(n, C)\).
	h3
		b We generally refer only to the reals
	p \(O(n)\) means \(O(n,R)\).
	p The generally refer to the reals only.

