extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Indefinite (pseduo) and split orthognal groups \(O(n,m,F)\)
block subSubContent
	h3
		b Recap: Metric-preserving transformations
	p The bilinear form is:
	p \(u^TMv\)
	p The transformations which preserve this are:
	p \(P^TMP=M\)
	h3
		b The metric
	p If the metric is:
	p \(M=\begin{bmatrix}-1 & 0 & 0 & 0\\0 & 1 & 0 & 0\\0 & 0 & 1 & 1\\0 & 0 & 0 & 1\end{bmatrix}\)
	p Then we have the indefinite orthogonal group \(O(3,1)\)
	h3
		b The split orthogonal group
	p Where \(n=m\) we have the split orthogonal group.
	p \(O(n,n,F)\)
	h3
		b Signatures
	p 
