extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Orthogonal vectors
block subSubContent
	h3
		b Introduction
 	p Given a metric \(M\), two vectors \(v\) and \(u\) are orthogonal if:
	p \(v^TMu=0\)
	p For example if we have the metric \(M=I\), then two vectors are orthogonal if:
	p \(v^Tu=0\)

