extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Positive-definite matrices

block subSubContent
	h3
		b Introduction 
	p The matrix \(M\) is positive definite if for all non-zero vectors the scalar is positive.

	p \(v^TMv\)
	p We know that the outcome is a scalar, so:
	p \(v^TMv=(v^TMv)^T\)
	p \(v^TMv=v^TM^Tv\)
	p \(v^T(M-M^T)v=0\)
