extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Sesquilinear forms
block subSubContent
	h3
		b Sesquilinear forms
	p Like bilinear forms, sesquilinear are linear in addition:
	p \(\phi (a+x,b+y)=\phi(a,b)+\phi(a, y)+\phi (x,b)+\phi(x,y)\)
	p Sesqulinear forms however are only multiplictively linear in the first argument.
	p \(\phi (ax, by)=\bar ab \phi (x,y)\)
	h3
		b Properties of sesquilinear forms: Conjugate symmetry
	p \(< x,y>=\bar{< y,x>}\)
	h3
		b Representing sesquilinear forms
	p We can show the sesquilinear form as \(v^*Mu\)

