extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Special lnear groups \(SL(n, F)\)
block subSubContent
	h3
		b Introduction
	p The special linear group, \(SL(n,F)\), is the subgroup of \(GL(n,F)\) where the determinants are \(1\).
	p That is, \(|M|=1\)

	p These are endomorphisms, not forms.
