extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Special orthogonal groups \(SO(n, F)\)
block subSubContent
	h3
		b Introduction
	p The special orthogonal group, \(SO(n,F)\), is the subgroup of the orthogonal group where \(|M|=1\).
	p As a result it includes only the rotation operators, not the flip operators.
	p \(SO(3)\) is rotations in 3d space.
	p \(SO(2)\) is rotations in 2d space.

	h3
		b Determinant of the orthogonal group
	p The orthogonal group has determinants of \(-1\) or \(1\).
	p \(O^T=O^{-1}\)
	p \(\det (O^T)=\det (O^{-1})\)
	p \(\det O=\dfrac{1}{\det O}\)
	p \(\det O=\pm 1\)
