extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Spectrum
block subSubContent
	h3
		b Introduction
	p The spectrum of a matrix is the set of its eigenvalues.
	p if eigen vectors space space, we can write
	p \(v=\sum_i \alpha_i | \lambda_i\rangle \)

	p under what circumstances do they span the entirity?

	p define wave functions? vector with a basis of eigenvectors from some operator?

	p \(M|v\rangle =\)

	p \(\langle v |M|v\rangle =\sum_i \alpha_i^*\alpha_i \lambda_i\)

	p What? Why??

	p when do hermitian matrices commute? eigenvectors??
