extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Special unitary groups \(SU(n, F)\)
block subSubContent
	h3
		b Introduction
	p The special unitary group, \(SU(n,F)\), is the subgroup of \(U(n,F)\) where the determinants are \(1\).
	p That is, \(|M|=1\)

	h3
		b The determinant of unitary matrices
	p The determinant of the unitary matrices is:
	p \(\det U^*=\det U^{-1}\)
	p \((\det U)^*=\dfrac{1}{\det U} \)
	p \((\det U)^*\det U = 1 \)
	p \(||\det U||= 1\)
