extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Translation symmetry

block subSubContent
	h3
		b Introduction
	p The distance between two vectors is:
	p \((v-w)^TM(v-w)\)
	p So what operations can we do now?

	p As before, we can do the transformations which preserve \(u^TMv\), such as the orthogonal group.
	p But we can also do other translations

	p (v-w)TM(v-w)

	p v^TMv+w^TMw-v^TMw-w^TMv

	p so symmetry is now O(3,1) and affine translations
	h3
		b Translation matrix
	p [[1,x][0, 1] ] moves vector by x




