extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Unitary groups \(U(n, F)\)
block subSubContent
	h3
		b Metric preserving transformations for sesquilinear forms
	p For bilinear forms, the transformations which preserved metrics were:
	p \(P^T=P^{-1}\)
	p For sesquilinear they are different:
	p \(u^*Mv\)
	p \((Pu)^*M(Pv)\)
	p \(u^*P^*MPv\)
	p So we want the matrices where:
	p \(P^*MP=M\)
	h3
		b The unitary group
	p The unitary group is where \(M=I\)
	p \(P^*P=I\)
	p \(P^*=P^{-1}\)
	p We refer to these using \(U\) instead of \(P\).
	p \(U^*=U^{-1}\)
	h3
		b Parameters of the unitary group
	p The unitary group depends on the dimension of the vector space, and the underlying field. So we can have:
	ul
		li \(U(n, R)\); and
		li\(U(n, C)\).

	h3
		b We generally refer only to the complex
	p For the \(U(n, R)\) we have:
	p \(U^*=U^{-1}\)
	p \(U^T=U^{-1}\)
	p This is the condition for the orthogonal group, and so we would instead write \(O(n)\).
	p As a result, \(U(n)\) refers to \(U(n,C)\).
	h3
		b \(U(1)\): The circle group
	p 
