extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Unitary groups \(U(n, F)\)
block subSubContent
	h3
		b Metric preserving transformations for sesquilinear forms
	p For bilinear forms, the transformations which preserved metrics were:
	p \(P^T=P^{-1}\)
	p For sesquilinear they are different:
	p \(u^*Mv\)
	p \((Pu)^*M(Pv)\)
	p \(u^*P^*MPv\)
	p So we want the matrices where:
	p \(P^*MP=M\)
	h3
		b The unitary group
	p The unitary group is where \(M=I\)
	p \(P^*P=I\)
	p \(P^*=P^{-1}\)
	p We refer to these using \(U\) instead of \(P\).
	p \(U^*=U^{-1}\)
	p When we talk about U(n), complex field is implied
	h3
		b \(U(1)\): The circle group


