extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Almost sure convergence
block subSubContent
	h3
		b Introduction
	p \(X_n\) converges almost surely to \(X\) if:

	p \(d(X_n, X)\rightarrow 0\)
	p Where \(d(X_n, X)\) is a distance metric.

	p \(X_n\rightarrow^{as} X\)
