extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Convergence in probability and o-notation
block subSubContent
	h3
		b Introduction
	p 
	p Converges in probability

	p + P(distance(X_n, X)>\epsilon )\rightarrow 0

	p For all \(\epsilon \).

	p \(X_n \rightarrow^P X\)
	h3
		b Little o notation
	p Little o notation is used to describe convergence in probability.

	p \(X_n=o_p(a_n)\)

	p mean that

	p \(\frac{X_n}{a_n}\)

	p Converges to \(0\) and \(n\) approaches something

	p Can be wrtiten:

	p \(\frac{X_n}{a_n}=o_p(1)\)
	h3
		b Big O notation
	p Big O notation is used to describe boundedness.

	p \(X_n=O_p(a_n)\)

	p means that:

	p If something is little o, it is big O.
