extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Central limit theorem
block subSubContent
	h3
		b Generalise weak law of large numbers
	h3
		b Characteristic function of summed IID events
	p $$Z=\sum_{i=1}^nY_i$$
	p $$\phi_Z(t)=E[e^{itZ}]$$
	p $$\phi_Z(t)=E[e^{it\sum_{i=1}^nY_i}]$$
	p $$\phi_Z(t)=E[e^{itY}]^n$$
	p $$\phi_Z(t)=\phi_Y(t)^n$$

	h3
		b Taylor series: first moments dominate with means
	p $$Z=\sum_{i=1}^nY_i$$
	p $$Y=\frac{X}{n}$$

	p $$\phi_Z(t)=\phi_Y(t)^n$$
	p $$\phi_Z(t)=\phi_{\frac{X}{n}}(t)^n$$
	p $$\phi_Z(t)=\phi_X(\frac{t}{n})^n$$

	p $$\phi_X(t)=1+it\mu_X -\frac{(\mu_X +\sigma_X^2 )t^2}{2} +\sum_{j=3}^{\infty }\frac{E[X^j](it)^j}{j!}$$
	p $$\phi_X(\frac{t}{n})=1+i\frac{t\mu_X }{n}-\frac{(\mu_X +\sigma_X^2 )(\frac{t}{n})^2}{2} +\sum_{j=3}^{\infty }\frac{E[X^j](i\frac{t}{n})^j}{j!}$$
	p $$\phi_X(\frac{t}{n})=1+i\frac{t\mu_X }{n}-\frac{(\mu_X +\sigma_X^2 )t^2}{2n^2} +\sum_{j=3}^{\infty }\frac{E[X^j](i\frac{t}{n})^j}{j!}$$
	h3
		b Eliminating the imaginary term
	p We want \(\mu \) to be \(0\).
	p $$Z=\sum_{i=1}^nY_i$$
	p $$Y=\frac{X-\mu_X }{n}$$

	p $$\phi_Y(t)=1+it\mu_Y -\frac{(\mu_Y +\sigma_Y^2 )t^2}{2} +\sum_{j=3}^{\infty }\frac{E[Y^j](it)^j}{j!}$$

	p $$\mu_Y =E[\frac{X-\mu_X }{n}] ={\mu_X -\mu_X }{n}=0$$

	p $$\phi_Y(t)=1-\frac{\sigma_Y^2t^2}{2} +\sum_{j=3}^{\infty }\frac{E[Y^j](it)^j}{j!}$$

	p $$\sigma^2_Y =E[(\frac{X-\mu_X }{n})^2]
	p $$\sigma^2_Y =E[\frac{X^2+\mu^2_X-2X\mu_X }{n^2}]
	p $$\sigma^2_Y =\frac{1}{n^2}{E[\frac{X^2]-\mu^2_X}
	p $$\sigma^2_Y =\frac{\sigma^2_X}{n^2}

	p $$\phi_Y(t)=1-\frac{\sigma_X^2t^2}{2n^2} +\sum_{j=3}^{\infty }\frac{E[(\frac{X-\mu}{n})^j](it)^j}{j!}$$

	p $$\phi_Z(t)=\phi_Y(t)^n$$

	p $$\phi_Z(t)=[1-\frac{\sigma_X^2t^2}{2n^2} +\sum_{j=3}^{\infty }\frac{E[(\frac{X-\mu}{n})^j](it)^j}{j!}]^n$$
	p $$\phi_Z(t)=[1-\frac{\sigma_X^2t^2}{2n^2}]^n$$
	p Eliminating \(\sigma^2 \)
	p $$Z=\sum_{i=1}^nY_i$$
	p $$Y=\frac{X-\mu_X }{\sigma n}$$

	p $$\phi_Y(t)=1+it\mu_Y -\frac{(\mu_Y +\sigma_Y^2 )t^2}{2} +\sum_{j=3}^{\infty }\frac{E[Y^j](it)^j}{j!}$$

	p $$\mu_Y =E[\frac{X-\mu_X }{\sigma_X n}] ={\mu_X -\mu_X }{\sigma_X n}=0$$

	p $$\phi_Y(t)=1-\frac{\sigma_Y^2t^2}{2} +\sum_{j=3}^{\infty }\frac{E[Y^j](it)^j}{j!}$$

	p $$\sigma^2_Y =E[(\frac{X-\mu_X }{\sigma n})^2]
	p $$\sigma^2_Y =E[\frac{X^2+\mu^2_X-2X\mu_X }{\sigma^2 n^2}]
	p $$\sigma^2_Y =\frac{1}{\sigma^2 n^2}{E[\frac{X^2]-\mu^2_X}
	p $$\sigma^2_Y =\frac{\sigma^2_X}{\sigma^2 n^2}
	p $$\sigma^2_Y =\frac{1}{n^2}

	p $$\phi_Y(t)=1-\frac{t^2}{2n^2} +\sum_{j=3}^{\infty }\frac{E[(\frac{X-\mu}{\sigma n})^j](it)^j}{j!}$$

	p $$\phi_Z(t)=\phi_Y(t)^n$$

	p $$\phi_Z(t)=[1-\frac{t^2}{2n^2} +\sum_{j=3}^{\infty }\frac{E[(\frac{X-\mu}{\sigma n})^j](it)^j}{j!}]^n$$
	p $$\phi_Z(t)=[1-\frac{t^2}{2n^2}]^n$$
	h3
		b Preparing for exponential expansion
	p We know that
	p $$[1+\frac{x}{n}]^n=e^x$$
	p As \(n \rightarrow \infty\).

	p With:
	p $$Z=\sum_{i=1}^nY_i$$
	p $$Y=\frac{X-\mu_X }{\sigma n}$$
	p We have:
	p $$\phi_Z(t)=[1-\frac{t^2}{2n^2}]^n$$

	p With:
	p $$Z=\sum_{i=1}^nY_i$$
	p $$Y=\frac{X-\mu_X }{\sigma \sqrt n}$$
	p We have:
	p $$\phi_Z(t)=[1-\frac{t^2}{2n}]^n$$
	p Which tends towards
	p $$\phi_Z(t)=e^{-\frac{1}{2}t^2}$$
	h3
		b Rescaling
	p The average of random variables, less their mean, and divided by their standard deviation multiplied by the square root of the sample size, follows a normal distribution as \(n\) increases.
	p What does this say about the actual distribution of sample averages?
	p $$Z=\sum_{i=1}^nY_i$$
	p $$Y_i=\frac{X_i-\mu_X }{\sigma_X \sqrt n}$$

	p \sum_{i=1}^nY_i

	p $$Y=\frac{X}{n}$$

	p Let's create \(Q\).
	p $$Q=\frac{Z\sigma_X }{\sqrt n}+\mu_X$$
	p $$Q=\frac{(\sum_{i=1}^nY_i)\sigma_X }{\sqrt n}+\mu_X$$
	p $$Q=\frac{(\sum_{i=1}^n(\frac{X_i-\mu_X }{\sigma_X \sqrt n}))\sigma_X }{\sqrt n}+\mu_X$$

	p $$Q=\sum_{i=1}^n(\frac{X_i-\mu_X }{n})+\mu_X$$
	p $$Q=\sum_{i=1}^n(\frac{X_i-\mu_X }{n}+\frac{\mu_X}{n})$$
	p $$Q=\sum_{i=1}^n(\frac{X_i}{n})$$

	p This is the sample average.
	p $$\phi_Q(t)=\phi_{\frac{Z\sigma_X }{\sqrt n}+\mu_X}(t)$$
	p $$\phi_Q(t)=\phi_Z(\frac{t\sigma_X }{\sqrt n})e^{it\mu_X}$$

	p $$\phi_Z(\frac{t\sigma_X }{\sqrt n})=e^{-\frac{1}{2}(\frac{t\sigma_X }{\sqrt n})^2}$$

	p $$\phi_Z(\frac{t\sigma_X }{\sqrt n})=e^{-\frac{1}{2}\frac{t^2\sigma^2_X }{n}}$$

	p $$\phi_Q(t)=e^{-\frac{1}{2}\frac{t^2\sigma^2_X }{n}}e^{it\mu_X}$$
	h3
		b Normal distribution
	p We name the normal distribution this function when \(n=1\)
	p $$N(\mu_X, \sigma^2_X)=e^{-\frac{1}{2}\frac{t^2\sigma^2_X }{n}}e^{it\mu_X}$$
	p $$N(\mu_X, \sigma^2_X)=e^{-\frac{1}{2}t^2\sigma^2_X }e^{it\mu_X}$$
	h3
		b Getting the probability distribution function
	p $$\phi_X(t)=e^{-\frac{1}{2}t^2\sigma^2_X} e^{it\mu_X}$$
	p $$\phi_X(t)=e^{-\frac{1}{2}t^2\sigma^2_X}[\cos (t\mu_X )+i\sin (t\mu_X)]$$
	
