extends ./subSubTemplate.jade
block subSubTitle
	h1
		b IID
block subSubContent
	h3
		b Identically distributed
	p \(x\) is identically distributed to \(y\) if:
	p $$\forall i (\exists x_i \rightarrow P(x_i)=P(y_i))$$

	h3
		b Covariance matrix of IID variables
	p For IID varaibles, the covariance  matrix is:
	p \(\Sigma = \sigma^2 I\)
