extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Weak law of large numbers
block subSubContent
	p The sample mean is:
	p $$\bar X_n=\frac{1}{n}\sum_{i=1}^nX_i$$
	p The variance of this is:
	p $$Var[\bar X_n]=Var[\frac{1}{n}\sum_{i=1}^nX_i]$$
	p $$Var[\bar X_n]=\frac{1}{n^2}nVar[X]$$
	p $$Var[\bar X_n]=\frac{\sigma^2}{n} $$
	p We know from Chebyshev’s inequality:
	p $$P(|X-\mu | \ge k\sigma )\le \frac{1}{k^2}$$
	p Use \(\bar X_n\) as \(X\):
	p $$P(|\bar X_n-\mu | \ge \frac{k\sigma }{\sqrt n})\le \frac{1}{k^2}$$
	p Update \(k\) so \(k:=\frac{k\sqrt n}{\sigma}\)
	p $$P(|\bar X_n-\mu | \ge k)\le \frac{\sigma^2}{nk^2}$$
	p As \(n\) increases, the chance that the sample mean lies outside a given distance from the population mean approaches \(0\).
