doctype html

//html#ng-app(lang="en", ng-app="myApp")
//html(ng-app="myApp")
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description", content="YetiPredict allows you to make and track predictions.")

		title YetiPredict

		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
		//link(href="/css/styles.css", rel='stylesheet')

		script(src="https://code.jquery.com/jquery-3.4.1.js")
		script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.js")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.js")
		//script(src="/js/datepicker/bootstrap-datepicker.js")

		//script(type="text/x-mathjax-config", MathJax.Hub.Config({tex2jax: {}}))
		//script(src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js")
		//script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js?config=TeX-AMS-MML_HTMLorMML")
		//script#MathJax-script(async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js")
		//script(type="text/javascript", src="/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js")
		script(scr="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/config/TeX-MML-AM_CHTML.js")
		//script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")


		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js")


		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")


	//body#ng-app(ng-controller="mainController")
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
			a.navbar-brand.abs(href='/') YetiPredict
			button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
				span.navbar-toggler-icon
			div.collapse.navbar-collapse#navbarNavAltMarkup
				ul.navbar-nav
					if (user)
						//li
						//	a.nav-link(href="/invite/") Invite
						li
							a.nav-link(href="/profile") Profile
					else
						li
							a.nav-link(href="/signup") Signup
						li
							a.nav-link(href="/login") Login
					li.nav-item
						a.nav-link(href="/examples") Examples
					li.nav-item
						a.nav-link(href="/about") About
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(href="#", id=navbarOther, role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Other projects
						div.dropdown-menu(aria-labelledby="navbarOther")
							a.dropdown-item(href="https://www.artificialeconomist.com") ArtificialEconomist.com
							a.dropdown-item(href="https://www.economoose.com") Economoose.com
							//a.dropdown-item(href="https://www.yetipredict.com") YetiPredict.com
				ul.navbar-nav.ml-auto
					li.nav-item
						a.nav-link(href="https://www.bou.lt") Bou.lt
					li.nav-item
						a.nav-link(href="https://github.com/adamdboult/") GitHub
					li.nav-item
						a.nav-link(href="https://www.linkedin.com/in/adamdboult") LinkedIn
		block content

