extends templates/predictHeader.pug

block predictContent
	.container.fill
		.col-sm-6.col-sm-offset-3
			h1
				span.fa Chage email
			p=message
			form(action="/changeemail", method="post")
				div.form-group
					label Enter your password
					input.form-control(type="password", name="password")
				div.form-group
					label New email address
					input.form-control(type="text", name="newemail")
				div.form-group
					label Confirm new email address
					input.form-control(type="text", name="newemail2")
				button.btn.btn-warning.btn-lg(type="submit") Change email
			hr
			p
				| Go 
				a(href="/profile") back
				| .
