extends templates/predictHeader.pug

block predictContent
	script(src="/js/users.js")
	.container.predict(ng-app="myApp", ng-controller="mainController")
		h1 User list
		div(ng-repeat="user in userList")
			a(ng-href="/users/{{user}}") {{user}}
			if (adminAccess===true)
				button.btn.btn-xs.btn-danger(ng-click="deleteUser(user)") Delete User
