extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The Euclidian norm
block subSubContent
	h3
		b Euclidian norm
	p This is the standard norm which results in Pythagoras.
	p $$||x||=\sqrt{\sum_{i=1}^{n}x^2_i}$$

