extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Metrics

block subSubContent
	h3
		b What is a metric?
	p A metric takes two items in a set and returns a non-negative scalar, called a distance.
	p It has the following properties:
	ul
		li Non-negativitity
		li Symmetry
		li The metric is zero iff the two elements are the same
		li The triangle inequality
	h3
		b Metric space
	p A set with a metric is a metric space.

