extends ../templates/blogHeader.jade

block blogContent
	h2 Introducing predictions
	p 6th October 2015
	p I am developing YetiPredict as a way to allow others and myself to make and view predictions on anything by anyone. As this site develops it will allow you to view what the consensus forecast is or any issue. Additionally, as you use the site you will be able to see how your own view of the world stacks up and better understand how cognitive biases and information gaps affect your predictions.
	h3 Roadmap
	p My current priorities for features are:
	ul
		li Notifications to users of developments in predictions, including optional emails;
		li A forum for discussion; and
		li An app for Android.
	