extends ../templates/blogHeader.jade

block blogContent
	h2
		b Models
	p 3rd March 2017

	h3
		b Integers
	p To extend the number line to negative numbers, we define:
	p $$\forall ab \in N \exists c (a+c=b)$$
	p For any pair of numbers there exists a terms which can be added to one to get the other.
	p For \(1+x=3\) this is another natural number, however for \(3+x=1\) there is no such number.
	p Integers are defined as the solutions for any pair of natural numbers.
	p Can we add and multiply integers? If we consider an integer to by an ordered pair of natural numbers, such that:
	p $$(a,b)=a-b$$
	p Natural numbers can be shown as integers by using:
	p $$(n,0)$$
	p Then we can define addition as:
	p $$(a,b)+(c,d)=(a+c,b+d)$$
	p Similarly, multiplication can be defined as:
	p $$(a,b).(c,d)=(ac+bd, ad+bc)$$

	h3
		b Rational numbers
	p We previously defined integers in terms of natural numbers. Similarly we can define rational numbers in terms of integers.
	p $$\forall ab \in I (¬(b=0)\rightarrow \exists c (b.c=a))$$
	p So that:
	p $$(a,b)=a/b$$
	p Integers can be shown as rational numbers using:
	p $$(i,1)$$
	p Then we can define addition as:
	p $$(a,b)+(c,d)=(a.d+b.c,b.d)$$
	p Similarly, multiplication can be defined as:
	p $$(a,b).(c,d)=(a.c, b.d)$$
	h3
		b Real numbers
	p Not all numbers can be shown as fractions. \(\sqrt 2\), \(\pi\). No way to have ordered set.
	h3
		b Complex numbers

	p No more needed. Complete.
