extends ../templates/blogHeader.jade

block blogContent
	h2
		b Ordinary Least Squares
	p 10th March 2017
	p $$\(y_i =\sum m_j x_{ij} +c+\epsilon_i\)$$
	p $$\(P(y_i=\sum m_j x {ij} +c)=p(\epsilon_i =)\)$$
