extends ../templates/blogHeader.jade

block blogContent
	h2
		b Models
	p 3rd March 2017
	h3
		b Introduction
	p We can construct logical statements, or formulae, which are either true or false.
	p As the axioms for the above calculus are universally true, they can be used for any mode of functions and predicates. By specifying specific functions and predicates we can expand first-order logic to other domains to explore a wide range of phenomena. Examples include numbers, sets, physics, probability, economics, computer science and evolution.
	p So what makes a model good? Consistency and effectiveness are important. For some areas we may want to check the model against empirical data. For example it is trivial to create laws of physics which seem consistent, but have nothing in common with how our world operates.
	p A model can be based on different levels of scope. A perfect model of the economy, for example, would include simulations of fluid dynamics in ports. Higher level models allow focus to be put on the area of interest, at the cost of the accuracy of the axioms, and the outcomes.
	p Many models require data. Newtonian physics can describe how two bodies interact, but the user puts the starting conditions of these bodies in as input.
