extends ../templates/blogHeader.jade

block blogContent
	h2
		b Sets
	p 25th February 2017
	h3
		b Enumeration
	p List all elements
	$$ {a, 3, 15, 8, f}$$
	h3
		b Ellipses
	p Defines ranges
	$$ {1, 2, 3,...,100}$$
	$$ {0, 1, 2,...}$$
	h3
		b Predicates
	$$ {x \in \real | x>0}
	$${(x, y)\in \real .\real |0<y<f(x)}$$
	$${n \in \natural |(\exists k)[k\in \natural \land n=2k]}$$
	$${a\in \real |(\exists p\in \z)(\exists q\in \z)[q\ne 0 \land aq=p]}$$
	