extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Defing sine and cosine using Euler's formula

block subSubContent
	h3
		b Euler's formula
	p Previously we showed that:
	p $$e^x=\sum_{i=0}^\infty \frac{x^i}{i!}$$
	p Consider:
	p $$e^{i\theta }$$
	p $$e^{i\theta }=\sum_{j=0}^\infty \frac{(i\theta )^j}{j!}$$
	p $$e^{i\theta }=[\sum_{j=0}^\infty \frac{(\theta )^{4j}}{(4j)!}-\sum_{j=0}^\infty \frac{(\theta )^{4j+2}}{(4j+2)!}]+i[\sum_{j=0}^\infty \frac{(\theta )^{4j+1}}{(4j+1)!}-\sum_{j=0}^\infty \frac{(\theta )^{4j+3}}{(4j+3)!}]$$
	p We then use this to define \(\sin \) and \(\cos \) functions.
	p $$\cos (\theta ):=\sum_{j=0}^\infty \frac{(\theta )^{4j}}{(4j)!}-\sum_{j=0}^\infty \frac{(\theta )^{4j+2}}{(4j+2)!}$$
	p $$\sin (\theta ):=\sum_{j=0}^\infty \frac{(\theta )^{4j+1}}{(4j+1)!}-\sum_{j=0}^\infty \frac{(\theta )^{4j+3}}{(4j+3)!}$$
	p So:
	p $$e^{i\theta }=\cos (\theta )+i\sin (\theta )$$
	h3
		b Alternative formulae for sine and cosine
	p We know
	p $$e^{i\theta }=\cos (\theta )+i\sin (\theta )$$
	p $$e^{-i\theta }=\cos (\theta )-i\sin (\theta )$$
	p So
	p $$e^{i\theta }+e^{-i\theta }=cos (\theta )+i\sin (\theta )+\cos (\theta )-i\sin (\theta )$$
	p $$\cos (\theta )=\frac{e^{i\theta }+e^{-i\theta }}{2}$$
	p And
	p $$e^{i\theta }-e^{-i\theta }=cos (\theta )+i\sin (\theta )-\cos (\theta )+i\sin (\theta )$$
	p $$\sin (\theta )=\frac{e^{i\theta }-e^{-i\theta }}{2i}$$

	h3
		b Sine and cosine are odd and even functions
	p Sine is an odd function.
	p $$\sin (-\theta )=-\sin (\theta )$$
	p Cosine is an even function.
	p $$\cos (-\theta )=\cos (\theta )$$





