extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Addition of sine and cosine

block subSubContent
	h3
		b  Adding waves with same frequency
	p We know that:
	p $$a\sin(bx+c)=a\sin(bx)\cos(c)+a\sin(c)\cos(bx)$$
	p So:
	p $$a\sin(bx+c)+d\sin(bx+e)=a\sin(bx)\cos(c)+a\sin(c)\cos(bx)+ d\sin(bx)\cos(e)+d\sin(e)\cos(bx)$$

	p We know that:
	p $$\sin(\theta )=\frac{e^{i\theta }-e^{-i\theta }}{2i}$$
	p So:
	p $$a\sin(bx+c)+d\sin(bx+f)=a\frac{e^{i(bx+c)}-e^{-i(bx+c)}}{2i}+d\frac{e^{i(bx+f)}-e^{-i(bx+f)}}{2i}$$
	p $$a\sin(bx+c)+d\sin(bx+f)=\frac{a(e^{i(bx+c)}-e^{-i(bx+c)})+d(e^{i(bx+f)}-e^{-i(bx+f)})}{2i}$$
	p $$a\sin(bx+c)+d\sin(bx+f)=\frac{a(e^{ibx}e^{ic}-e^{-ibx}e^{-ic})+d(e^{ibx}e^{if}-e^{-ibx}e^{-if)})}{2i}$$
	p $$a\sin(bx+c)+d\sin(bx+f)=\frac{(e^{ibx}(ae^{ic}+de^{if})-e^{-ibx}(ae^{-c}+d^{-if})}{2i}$$

	p $$a_i\sin(b_ix+c_i)+a_j\sin(b_jx+c_j)=a_i\sin(b_ix+c_i)+a_j\sin(b_ix+c_j)$$
	p $$a_i\sin(b_ix+c_i)+a_j\sin(b_jx+c_j)=a_i\sin(b_ix)\cos(c_i)+a_i\sin(c_i)\cos(b_ix)+a_j\sin(b_ix)\cos(c_j)+a_j\sin(c_j)\cos(b_ix)$$
