extends ./subSubTemplate.jade

block subSubContent
	h1
		b Integrals

block subSubContent
	h2
		b Cosine and sine
	p
		b \(\arccos (\theta)\), \(\arcsin (\theta )\) and difficulty of inversing
	p In order to determine \(\tau \) we need inverse functions for \(\cos (\theta )\) or \(\sin (\theta )\).
	p These are the \(\arccos (\theta )\) and \(\arcsin (\theta )\) functions respectively.
	p However this is not easily calculated. Instead we look for another function.
	p
		b Calculating \(\arctan (\theta )\)
	p So we want a function to inverse this. This is the \(\arctan (\theta )\) function.
	p If \(y=\tan (\theta )\), then:
	p $$\theta =\arctan (y)$$
	p We know the derivative for \(\tan (\theta )\) is:
	p $$\frac{\delta }{\delta \theta }\tan (\theta )=1+\tan^2(\theta )$$
	p $$\frac{\delta y}{\delta \theta }=1+y^2$$
	p So
	p $$\frac{\delta \theta }{\delta y}=\frac{1}{1+y^2}$$
	p $$\frac{\delta }{\delta y}\arctan (y)=\frac{1}{1+y^2}$$
	p So the value for \(\arctan (k)\) is:
	p $$\arctan (k)=\arctan (a)+\int_a^k\frac{\delta }{\delta y}\arctan (y) \delta y$$
	p $$\arctan (k)=\arctan (a)+\int_a^k\frac{1}{1+y^2} \delta y$$
	p What do we know about this function? We know it can map to multiple values of \(\theta \) because the underlying \(\sin (\theta )\) and \(\cos (\theta )\) functions also loop.
	p We know that one of the results for \(\arctan (0)\) is \(0\).
