extends ./subSubTemplate.jade

block subSubTitle
	h1
		b \(\tau \)

block subSubContent
	p
		b Calculating \(\tau \)
	p As we note above, \(\sin (\theta )=\cos (\theta )\) at \(\theta =\tau *\frac{1}{8}\)
	p This is also where \(\tan (\theta )=1\).
	p $$\arctan (k)=\arctan (a)+\int_a^k\frac{1}{1+y^2} \delta y$$
	We start from \(a=0\).
	p $$\arctan (k)=\arctan (0)+\int_0^k\frac{1}{1+y^2} \delta y$$
	p We know that one of the results for \(\arctan (0)\) is \(0\).
	p $$\arctan (k)=\int_0^k\frac{1}{1+y^2} \delta y$$
	p We want \(k=1\)
	p $$\arctan (1)=\int_0^1\frac{1}{1+y^2} \delta y$$
	p $$\frac{\tau }{8}=\int_0^1\frac{1}{1+y^2} \delta y$$
	p $$\tau =8\int_0^1\frac{1}{1+y^2} \delta y$$


	p We know that the \(\cos (\theta )\) and \(\sin (\theta )\) functions cycle with period \(\tau \).
	p Therefore \(cos (n.\tau )=\cos (0)\)
	h3
		b Calculating \(\tau \)
	p As we note above, \(\sin (\theta )=\cos (\theta )\) at \(\theta =\tau *\frac{1}{8}\)
	p This is also where \(\tan (\theta )=1\).
	p $$\arctan (k)=\arctan (a)+\int_a^k\frac{1}{1+y^2} \delta y$$
	We start from \(a=0\).
	p $$\arctan (k)=\arctan (0)+\int_0^k\frac{1}{1+y^2} \delta y$$
	p We know that one of the results for \(\arctan (0)\) is \(0\).
	p $$\arctan (k)=\int_0^k\frac{1}{1+y^2} \delta y$$
	p We want \(k=1\)
	p $$\arctan (1)=\int_0^1\frac{1}{1+y^2} \delta y$$
	p $$\frac{\tau }{8}=\int_0^1\frac{1}{1+y^2} \delta y$$
	p $$\tau =8\int_0^1\frac{1}{1+y^2} \delta y$$


	p We know that the \(\cos (\theta )\) and \(\sin (\theta )\) functions cycle with period \(\tau \).
	p Therefore \(cos (n.\tau )=\cos (0
