extends ./subSubTemplate.jade

block subSubTitle
	h1
		b De Moive's formula

block subSubContent
	h3
		b De Moive's formula
	p $$e^{i\theta }=\cos (\theta )+i\sin (\theta )$$
	p Let \(\theta = nx\):
	p $$e^{inx }=\cos (nx )+i\sin (nx )$$
	p $$(e^{ix})^n=\cos (nx )+i\sin (nx )$$
	p $$(\cos (x)+i\sin (x))^n=\cos (nx )+i\sin (nx )$$






