extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Expanding sine and cosine

block subSubContent
	h3
		b Expansion
	p $$\sin (\alpha +\beta )=\sin (\alpha )\cos(\beta )+\cos(\alpha )\sin (\beta )$$
	p $$\cos (\alpha +\beta )=\cos (\alpha )\cos(\beta )-\sin(\alpha )\sin (\beta )$$
	p 
