extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Hyperbolic functions

block subSubContent
	h3
		b Hyperbolic functions
	p $$sinh(\theta ):=\sin(i\theta )$$
	p $$cosh(\theta ):=\cos(i\theta )$$
	p $$tanh(\theta ):=\tan(i\theta )$$
	h3
		b Inverse trigonometric functions
	p $$\sinh (\arcsinh (\theta )):=\theta $$
	p $$\cosh (\arccosh (\theta )):=\theta $$
	p $$\tanh (\arctan (\theta )):=\theta $$
