extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Inverse functions

block subSubContent
	h3
		b Inverse trigonometric functions
	p $$\sin (\arcsin (\theta )):=\theta $$
	p $$\cos (\arccos (\theta )):=\theta $$
	p $$\tan (\arctan (\theta )):=\theta $$
