extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Moving between polar and cartesian coordinates
block subSubContent
	h3
		b Introduction
	p All polar numbers can be shown as Cartesian
	p $$ae^{i\theta }=a(\cos(\theta )+i\sin(\theta ))$$
	p $$ae^{i\theta }=a\cos(\theta )+ia\sin(\theta )$$
	p \(z=a+bi\)
	p \(e^{i\theta }=\)
	p $$e^x=\sum^{\infty }_{i=0} \frac{x^i}{i!}$$

