extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Polar co-ordinates

block subSubContent
	h3
		b All complex numbers can be shown in polar form
	p Consider a complex number
	p $$z=a+bi$$
	p We can write this as:
	p \(z=r\cos(\theta ) + ir\sin(\theta )\)
	h3
		b Polar forms are not unique
	p Because the functions loop:
	p $$ae^{i\theta }=a(\cos(\theta )+i\sin(\theta ))$$
	p $$ae^{i\theta }=a(\cos(\theta +n\tau )+i\sin(\theta +n\tau ))$$
	p $$ae^{i\theta }= ae^{i\theta +n\tau}$$
	p Additionally:
	p $$ae^{i\theta }=a(\cos(\theta )+i\sin(\theta ))$$
	p $$ae^{i\theta }=a(\cos(\theta )+i\sin(\theta ))$$
	p $$ae^{i\theta }=-a(\cos(\theta )-i\sin(\theta ))$$
	p $$ae^{i\theta }=-a(\cos(\theta +\frac{\pi }{2})+i\sin(\theta +\frac{\pi }{2}))$$

	h3
		b Real and imaginary parts of a complex number in polar form
	p We can extract the real and imaginary parts of this number.
	p $$Re(z):=r\cos (\theta )$$
	p $$Im(z):=r\sin (\theta )$$
	p Alternatively:
	p $$Re(z)=r\frac{e^{i\theta }+e^{-i\theta }}{2}$$
	p $$Im(z)=r\frac{e^{i\theta }-e^{-i\theta }}{2i}$$

