extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Arithmetic of polar coordinates
block subSubContent
	h3
		b Introduction
	p 
	h3
		b Addition
	p z_3=z_1+z_2
	p z_3=a_1e^{i\theta_1}+a_2e^{i\theta_2}
	p z_3=a_1[\cos(\theta_1)+i\sin(\theta_1)]+a_2[\cos(\theta_2)+i\sin(\theta_2)]
	p z_3=[a_1\cos(\theta_1)+a_2\cos(\theta_2)]+i[a_1\sin(\theta_1)+a_2 \sin(\theta_2)]
	h3
		b Multiplication
	p \(z_3=z_1.z_2\)
	p \(z_3=a_1e^{i\theta_1}a_2e^{i\theta_2}\)
	p \(z_3=a_1a_2e^{i(\theta_1+\theta_2)})
	p \(a_3=a_1a_2\)
	p \(\theta_3=\theta_1+\theta_2\
