extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bitshifts
block subSubContent
	h3
		b Introduction

	p We can have other operations where bits do interact. An important operator is the bit shift. This takes a series of bits and shifts them to the right or left by one place. This pushes one bit off the end. The new bit can take a \(0\) or \(1\).
	p Logic gates are not needed for bit shifts. Instead wiring of inputs to outputs achieves the same effect.

