extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bitwise operators
block subSubContent
	h3
		b Introduction
	p We can perform basic operations on inputs.
	p A simple operation is the unary NOT operator, which returns the reverse of the values of all bits.
	p We also have binary operators, which take two bits and return another bit. Of note are, AND, OR and XOR.
	p These operations are a model of Boolean algebra. So there are \(16\) possible binary functions and \(4\) possible unary operators.
	p As in logic, we can combine elementary logical gates to create other logic gates.
	p These operations can also be performed on a series of bits, however each individual bit is independent of other bits for these operations.

