extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Combining operations
block subSubContent
	h3
		b Introduction
	p Simple operators, such as bitwise operators and bit shifts, can be combined to create more complex operators. These could have a large number of inputs, outputs and logical gates.

