extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Inputs
block subSubContent
	h3
		b Introduction
	p A single bit can store a binary piece of information. We can use it to distinguish between two states.
	p These two states could be represented by True \(T\) and False \(F\), but by convention we use \(1\) and \(0\).
	p We can combine bits to store more complex pieces of information. If we have \(n\) bits, we can distinguish between \(2^n\) states.
	p Eight bits together constitute a byte. This can represent one of \(2^8=256\) states.

