extends ./algorithms/subSubTemplate.jade
block subSubContent
	h3
		b Intro
	p
		a(href="./algorithms/efficiency") Algorithmic efficiency
	h3
		b Parallel processing
	p
		a(href="./algorithms/mapReduce") MapReduce

