extends ./algorithms/subSubTemplate.jade
block subSubContent
	h3
		b Efficiency
	p
		a(href="./algorithms/efficiency") Algorithmic efficiency
	h3
		b Calculating the cost of an algorithm
	p
		a(href="./algorithms/efficiency") Instruction costs
	p
		a(href="./algorithms/efficiency") Efficiency of loops (number of times each instruction called)
	p
		a(href="./algorithms/bigO") Big-O recap (take from maths)
	p
		a(href="./algorithms/efficiency") Efficiency of functions with arguments (best case, worst case)
	h3
		b Correctness
	p
		a(href="./algorithms/correctness") Correctness
	p
		a(href="./algorithms/correctness") Formal verification
	p
		a(href="./algorithms/correctness") Model checking (Model checking allows the formal verification of algorithms with finite inputs. test every possible input)
	p
		a(href="./algorithms/correctness") Deductive verification (Check the parts of the algorithm using theorem provers.)
