extends ./assembly/subSubTemplate.jade
block subSubContent
	h3
		b Assembly code
	p
		a(href="./assembly/assembly") Assembly language
	p
		a(href="./assembly/assembler") Assemblers
	h3
		b High-level programming languages
	p
		a(href="./assembly/assembler") Compilers (directly to machine code)
	p
		a(href="./assembly/assembler") Interpreters (evaluate each line as it is run)
	p
		a(href="./assembly/assembler") Trans-compilers (compile to code in intermediate language which has its own compiler for further compiling)
	p
		a(href="./assembly/assembler") Portability
	p
		a(href="./assembly/assembler") Debugging
	h3
		b Variables
	p
		a(href="./assembly/assembler") Assigning variables
	p
		a(href="./assembly/assembler") Pointers
	p
		a(href="./assembly/pointers") Direct storage and pointers (variables can either refer to a part of memory, reserving that space for just that variable, alternatively, rather than store value, we can store pointer)
	p
		a(href="./assembly/assembler") Assigning variables from other variables
	p
		a(href="./assembly/caching") Integer caching
	p
		a(href="./assembly/assembler") Static and dynamic typing
	p
		a(href="./assembly/assembler") Mutable and immutable variables
	p
		a(href="./assembly/assembler") Garbage collection
	h3
		b Functions
	p
		a(href="./assembly/macros") Macros
	p
		a(href="./assembly/macros") Subroutines
	p
		a(href="./assembly/macros") Libraries
	p
		a(href="./assembly/assembler") Global and local variables
	p
		a(href="./assembly/assembler") Call by value and call by name ((two ways of giving args to parameters, value evals when func called, name evals whenever needed))
	p
		a(href="./assembly/macros") Memory allocation and stack buffer overflow (can cause change of state outside of function)
	p
		a(href="./assembly/macros") Recurrance and the master method
	p
		a(href="./assembly/macros") Stack overflows (write too many instructions to stack. can be caused by infinite recursion. eg fun x() return x())
	p
		a(href="./assembly/macros") Segmentation faults and memory access restrictions
	h3
		b Logic
	p
		a(href="./assembly/macros") Propositional logic
	p
		a(href="./assembly/macros") Zero-order logic (equality, inequality)
	h3
		b Structured programming
	p
		a(href="./assembly/assembler") Go to
	p
		a(href="./assembly/assembler") While-do	
	p
		a(href="./assembly/assembler") If-then
	p
		a(href="./assembly/assembler") For each loops
	p
		a(href="./assembly/assembler") Loop x times
	p
		a(href="./assembly/assembler") Defining and calling functions	

