extends ./automatons/subSubTemplate.jade
block subSubContent
	h3
		b Axioms
	p
		a(href="./automatons/finite") Finite state machines
	p
		a(href="./automatons/pushdown") Pushdown automatons
	p
		a(href="./automatons/turing") Turing machines

