extends ./automatons/subSubTemplate.jade
block subSubContent
	h3
		b Finite-state machines
	p
		a(href="./automatons/finite") Finite-state machines
	h3
		b Pushdown automatons
	p
		a(href="./automatons/pushdown") Pushdown automatons
	h3
		b Turing machines
	p
		a(href="./automatons/turing") Turing machines

