extends ./c/subSubTemplate.jade
block subSubContent
	h3
		b Variables
	p
		a(href="./c/typing") Dynamic and static typing
	p
		a(href="./c/pointers") Variables as pointers
	p
		a(href="./c/lists") Lists
	p
		a(href="./c/types") Types of variables
	p
		a(href="./c/globalLocal") Global and local variables
	h3
		b Logic and maths
	p
		a(href="./c/logic") Boolean algebras
	p
		a(href="./c/matrix") Matrix algebra
	h3
		b Functions
	p
		a(href="./c/dependencies") Dependencies and libraries
	p
		a(href="./c/system") System calls
	p
		a(href="./c/output") Output
	p
		a(href="./c/readWrite") Reading and writing
	h3
		b Flow
	p
		a(href="./c/loops") Loops
	p
		a(href="./c/ifThen") If-then
	h3
		b Meta
	p
		a(href="./c/comments") Comments
	p
		a(href="./c/settings") Settings

