extends ./c/subSubTemplate.jade
block subSubContent
	h3
		b Variables
	p
		a(href="./c/efficiency") Dynamic and static typing
	p
		a(href="./c/efficiency") Lists (inc manip eg x[1:2,1])
	p
		a(href="./c/efficiency") Types of variables (and converting between them eg x = string(y), and getting var type
	p
		a(href="./c/efficiency") Global and local variables
	h3
		b Logic and maths
	p
		a(href="./c/efficiency") Logic
	p
		a(href="./c/efficiency") Matrix algebra
	h3
		b Functions
	p
		a(href="./c/efficiency") Dependencies and libraries
	p
		a(href="./c/efficiency") Calling other languages
	p
		a(href="./c/efficiency") Clear, print
	p
		a(href="./c/efficiency") Reading and writing
	h3
		b Meta
	p
		a(href="./c/efficiency") Comments
	p
		a(href="./c/efficiency") Settings (set more off etc)

