extends ./compression/subSubTemplate.jade
block subSubContent
	h3
		b Lossless compression
	p
		a(href="./compression/rates") Compression rates
	p
		a(href="./compression/runLength") Run-length encoding (eg 12W6RABC4D is WWWWWWWWWWWWRRRRRRABCDDD)
	h3
		b Lossy compression
