extends ./constrained/subSubTemplate.jade
block subSubContent
	h3
		b Linear programming
	p
		a(href="./constrained/joins") Example
	h3
		b Quadratic programming
	h3
		b Integer programming
	h3
		b Convex programming

