extends ./databases/subSubTemplate.jade
block subSubContent
	h3
		b Database operations
	p
		a(href="./databases/joins") Joins
	p
		a(href="./databases/insert") Insert
	p
		a(href="./databases/select") Select
	p
		a(href="./databases/update") Update
	p
		a(href="./databases/delete") Delete
	p
		a(href="./databases/call") Call

