extends ./discrete/subSubTemplate.jade
block subSubContent
	h3
		b Identifying primes
	p
		a(href="./discrete/fermatPrimality") Fermat's primality test
	h3
		b Integer factorisation
	p
		a(href="./discrete/trial") Trial division
	p
		a(href="./discrete/fermatMethod") Fermat's method

