extends ./dynamic/subSubTemplate.jade
block subSubContent
	h3
		b Divide and conquer
	h3
		b Greedy algorithms
	h3
		b Dynamic programming
	p
		a(href="./dynamic/dynamic") Dynamic programming (diff beween d&c and dyn: both solve sub problems, but in dyn, sub problems overlap)
	p
		a(href="./dynamic/HJB") Hamilton-Jacobi-Bellman equation
	p
		a(href="./dynamic/policy") Policies
	p
		a(href="./dynamic/bellman") Bellman equations
	h3
		b Parallel processing
	p
		a(href="./dynamic/mapReduce") MapReduce

