extends ./dynamic/subSubTemplate.jade
block subSubContent
	h3
		b Dynamic
	p
		a(href="./dynamic/policy") Policies
	p
		a(href="./dynamic/bellman") Bellman equations
	p
		a(href="./dynamic/HJB") Hamilton-Jacobi-Bellman equation

