extends ./encryption/subSubTemplate.jade
block subSubContent
	h3
		b Classical cryptography
	p
		a(href="./encryption/ciphertext") Plaintext and ciphertext
	p
		a(href="./encryption/monoalphabetic") Monoalphabetic substitution ciphers and keys
	p
		a(href="./encryption/frequency") Breaking monoalphabetic substitution ciphers with frequency analysis
	p
		a(href="./encryption/caesar") Caesar ciphers, ROT13 and Atbash
	p
		a(href="./encryption/polyalphabetic") Polyalphabetic ciphers
	p
		a(href="./encryption/kasiski") Breaking polyalphabetic ciphers with the Kasiski examination
	p
		a(href="./encryption/transposition") Transposition ciphers
	p
		a(href="./encryption/codebooks") Codebooks
	h3
		b Methods
	p
		a(href="./encryption/block") Block ciphers
	p
		a(href="./encryption/stream") Stream ciphers
	h3
		b Symmetric encryption
	p
		a(href="./encryption/symmetric") Symmetric encryption
	h3
		b Algorithms
	p
		a(href="./encryption/integer") Integer factorisation
	h3
		b Asymmetric encryption
	p
		a(href="./encryption/public") Public keys
	p
		a(href="./encryption/RSA") RSA
	p
		a(href="./encryption/signing") Message signing
	p
		a(href="./encryption/PGP") Pretty Good Privacy (PGP)
	p
		a(href="./encryption/publicSymmetric") Using public keys to facilitate symmetric encryption
	p
		a(href="./encryption/elliptical") Elliptical-curve cryptography
	p
		a(href="./encryption/asymmetricm") Asymmetric encryption

