extends ./hashes/subSubTemplate.jade
block subSubContent
	h3
		b Data integrity checks
	p
		a(href="./hashes/hashing") Hash functions
	h3
		b Adversaries
	p
		a(href="./hashes/brute") Brute force attacks
	p
		a(href="./hashes/preimage") Pre-image attacks
	p
		a(href="./hashes/secondPreimage") Second pre-image attacks
	p
		a(href="./hashes/collision") Hash collisions
	h3
		b Passwords
	p
		a(href="./hashes/plaintext") Plaintext databases
	p
		a(href="./hashes/hashedPasswords") Hashed passwords
	p
		a(href="./hashes/rainbow") Rainbow tables
	p
		a(href="./hashes/dictionary") Dictionary attacks
	p
		a(href="./hashes/salting") Salting
	h3
		b Examples of hash functions
	p
		a(href="./hashes/SHA") SHA

