extends ./image/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./image/AA") Anti-aliasing
	p
		a(href="./image/rotation") Rotating images
	p
		a(href="./image/layers") Layers
	p
		a(href="./image/scaling") Scaling images
	p
		a(href="./image/mode7") Mode 7

