extends ./javascript/subSubTemplate.jade
block subSubContent
	h3
		b Variables
	p
		a(href="./javascript/typing") Dynamic and static typing
	p
		a(href="./javascript/pointers") Variables as pointers
	p
		a(href="./javascript/lists") Lists
	p
		a(href="./javascript/types") Types of variables
	p
		a(href="./javascript/globalLocal") Global and local variables
	h3
		b Logic and maths
	p
		a(href="./javascript/logic") Boolean algebra
	p
		a(href="./javascript/matrix") Matrix algebra
	h3
		b Functions
	p
		a(href="./javascript/dependencies") Dependencies and libraries
	p
		a(href="./javascript/system") System calls
	p
		a(href="./javascript/output") Output
	p
		a(href="./javascript/readWrite") Reading and writing
	h3
		b Flow
	p
		a(href="./javascript/loops") Loops
	p
		a(href="./javascript/ifThen") If-then
	h3
		b Meta
	p
		a(href="./javascript/comments") Comments
	p
		a(href="./javascript/settings") Settings

