extends ./lists/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./lists/lists") Defining lists
	h3
		b Read operations on lists
	p
		a(href="./lists/match") Match
	p
		a(href="./lists/read") Read
	h3
		b Write operations on lists
	p
		a(href="./lists/pop") Pop
	p
		a(href="./lists/insert") Insert
	h3
		b Sorting algorithms
	p
		a(href="./lists/sorting") Sorting algorithms

