extends ./lists/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./lists/lists") Defining lists
	p
		a(href="./lists/lists") Nested lists
	h3
		b Read operations on lists
	p
		a(href="./lists/match") Match
	p
		a(href="./lists/read") Read
	p
		a(href="./lists/read") 
	h3
		b Write operations on lists
	p
		a(href="./lists/pop") Pop
	p
		a(href="./lists/insert") Insert

