extends ./logic/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./logic/inputs") Inputs
	p
		a(href="./logic/bitwise") Bitwise operators
	p
		a(href="./logic/bitshifts") Bitshifts
	p
		a(href="./logic/combining") Combining operators
