extends ./logic/subSubTemplate.jade
block subSubContent
	h3
		b Representing states using binary
	p
		a(href="./logic/inputs") Inputs
	h3
		b Operators on states
	p
		a(href="./logic/bitwise") Bitwise operators
	p
		a(href="./logic/bitshifts") Bitshifts
	p
		a(href="./logic/combining") Combining operators
