extends ./logic/subSubTemplate.jade
block subSubContent
	h3
		b Registers
	p
		a(href="./logic/inputs") The bit
	p
		a(href="./logic/register") Registers
	p
		a(href="./logic/states") Representing finite states
	h3
		b Editing the register
	p
		a(href="./logic/hashing") Setting register values
	h3
		b Unary bitwise operations
	p
		a(href="./logic/bitwise") NOT
	p
		a(href="./logic/bitshifts") Bitshifts
	h3
		b Bit arrays
	p
		a(href="./logic/addresses") Registry addresses
	p
		a(href="./logic/addresses") Opcodes
	p
		a(href="./logic/bitArray") Bit arrays, bytes and nibbles
	p
		a(href="./logic/words") Words
	p
		a(href="./logic/bitFields") Bit fields
	h3
		b Binary bitwise operations
	p
		a(href="./logic/bitwise") AND, OR and XOR
	p
		a(href="./logic/combining") Combining operators

