extends ./machineCode/subSubTemplate.jade
block subSubContent
	h3
		b Programs
	p
		a(href="./machineCode/programs") Defining lists
	h3
		b Control flow
	p
		a(href="./machineCode/branch") Branch
	p
		a(href="./machineCode/branchIndirect") Indirect branch
	p
		a(href="./machineCode/branchConditional") Conditional branch
	p
		a(href="./machineCode/calls") Calls

