extends ./nodes/subSubTemplate.jade
block subSubContent
	h3
		b Node structures
	h3
		b Search algorithms
	p
		a(href="./nodes/search") Introduction
	p
		a(href="./nodes/BFS") Breadth-first search
	p
		a(href="./nodes/DFS") Depth-first search
	p
		a(href="./nodes/DLS") Depth-limited search
	p
		a(href="./nodes/IDDLS") Iterative deepening depth-limited search
	h3
		b Search algorimths with different costs
	p
		a(href="./nodes/UCS") Uniform cost search

	h3
		b Search algorithms with heuristics
	p
		a(href="./nodes/greedy") Greedy search
	p
		a(href="./nodes/A") A*
	p
		a(href="./nodes/IDA") Iterative deepening A*

	p
		a(href="./nodes/constraint") Constraint Satisfaction Problem

