extends ./numbers/subSubTemplate.jade
block subSubContent
	h3
		b Natural numbers
	p
		a(href="./numbers/natural") Representing natural numbers
	p
		a(href="./numbers/ALU") Arithmetic Logic Units (ALUs)
	h3
		b Integers
	p
		a(href="./numbers/integers") Representing integers
	p
		a(href="./numbers/integersALU") Using ALUs with integers
	h3
		b Real numbers
	p
		a(href="./numbers/real") Representing real numbers
	p
		a(href="./numbers/FPU") Floating-Point Units (FPUs)
	p
		a(href="./numbers/overflow") Overflow and underflow
	h3
		b Matrices
	p
		a(href="./numbers/matrices") Representing matrices
	p
		a(href="./numbers/matrixOperations") Matrix operations
	p
		a(href="./numbers/broadcasting") Linear algebra broadcasting

