extends ./numbers/subSubTemplate.jade
block subSubContent
	h3
		b Axioms
	p
		a(href="./numbers/natural") Natural numbers
	p
		a(href="./numbers/ALU") Arithmetic logical units
	p
		a(href="./numbers/integers") Signed integers
