extends ./numbers/subSubTemplate.jade
block subSubContent
	h3
		b Natural numbers
	p
		a(href="./numbers/natural") Representing natural numbers
	p
		a(href="./numbers/ALU") Addition and subtraction with Arithmetic Logic Units (ALUs)
	p
		a(href="./numbers/ALU") Multiplication and division of natural numbers (mult x2 is bitshiftleft, /2 is bitshift right) (how to divide when not divisible)
	p
		a(href="./numbers/ALU") Mod and remainders
	p
		a(href="./numbers/ALU") Powers, logarithms and exponentials
	h3
		b Integers
	p
		a(href="./numbers/integers") Representing integers
	p
		a(href="./numbers/integersALU") Using ALUs with integers
	h3
		b TO LATER: Real numbers
	p
		a(href="./numbers/real") Representing real numbers
	p
		a(href="./numbers/real") Addition, sub, mult, div of real
	p
		a(href="./numbers/real") Powers, log, exp
	p
		a(href="./numbers/real") Floor and ceiling
	p
		a(href="./numbers/FPU") Floating-Point Units (FPUs)
	p
		a(href="./numbers/overflow") Overflow and underflow
	h3
		b TO LATER: Matrices
	p
		a(href="./numbers/matrices") Representing matrices
	p
		a(href="./numbers/matrixOperations") Matrix operations
	p
		a(href="./numbers/broadcasting") Linear algebra broadcasting

