extends ./objects/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./objects/keyValue") Keys and values
	p
		a(href="./objects/keyValue") Classes
	h3
		b Representing objects
	p
		a(href="./objects/keyValue") Representing a single object
	p
		a(href="./objects/keyValue") Null in objects
	p
		a(href="./objects/keyValue") Representing a class with a multiple array (ie 2d)
	p
		a(href="./objects/keyValue") Representing a class with a single array (ie 1d)
	h3
		b Functions with objects
	p
		a(href="./objects/keyValue") Creating new objects
	p
		a(href="./objects/keyValue") Getting values by field
	p
		a(href="./objects/keyValue") Adding fields
	p
		a(href="./objects/keyValue") Changing values in fields
	h3
		b Hierarchies of objects
	p
		a(href="./objects/keyValue") Inheritance
	h3
		b Linked lists
	p
		a(href="./objects/linkedListsSingle") Single linked lists (successor and key, null if nec). motivation. don't need to change who list to add things
	p
		a(href="./objects/linkedListsSingle") Doubly linked lists (successor, predecesor and key, null if nec)
	p
		a(href="./objects/linkedListsFunctions") Functions on linked lists (read, pop, add)
	h3
		b Trees
	p
		a(href="./objects/trees") Trees
	h3
		b Object-Oriented Programming (OOP)
	p
		a(href="./objects/trees") Object-Oriented Programming (OOP) (all variable types are objects. inc integers, floats, lists etc)

