extends ./python/subSubTemplate.jade
block subSubContent
	h3
		b Variables
	p
		a(href="./python/typing") Dynamic and static typing
	p
		a(href="./python/pointers") Variables as pointers
	p
		a(href="./python/lists") Lists
	p
		a(href="./python/types") Types of variables
	p
		a(href="./python/globalLocal") Global and local variables
	h3
		b Logic and maths
	p
		a(href="./python/logic") Boolean algebra
	p
		a(href="./python/matrix") Matrix algebra
	h3
		b Functions
	p
		a(href="./python/dependencies") Dependencies and libraries
	p
		a(href="./python/system") System calls
	p
		a(href="./python/output") Output
	p
		a(href="./python/readWrite") Reading and writing
	h3
		b Flow
	p
		a(href="./python/loops") Loops
	p
		a(href="./python/ifThen") If-then
	h3
		b Meta
	p
		a(href="./python/comments") Comments
	p
		a(href="./python/settings") Settings

