extends ./r/subSubTemplate.jade
block subSubContent
	h3
		b Variables
	p
		a(href="./r/typing") Dynamic and static typing
	p
		a(href="./r/pointers") Variables as pointers
	p
		a(href="./r/lists") Lists
	p
		a(href="./r/types") Types of variables
	p
		a(href="./r/globalLocal") Global and local variables
	h3
		b Logic and maths
	p
		a(href="./r/logic") Boolean algebra
	p
		a(href="./r/matrix") Matrix algebra
	h3
		b Functions
	p
		a(href="./r/dependencies") Dependencies and libraries
	p
		a(href="./r/system") System calls
	p
		a(href="./r/output") Output
	p
		a(href="./r/readWrite") Reading and writing
	h3
		b Flow
	p
		a(href="./r/loops") Loops
	p
		a(href="./r/ifThen") If-then
	h3
		b Meta
	p
		a(href="./r/comments") Comments
	p
		a(href="./r/settings") Settings

