extends ./signal/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./signal/quantisation") Quantisation
	p
		a(href="./signal/sampleRate") Sample rate
	p
		a(href="./signal/DFT") Discrete Fourier Transform
	p
		a(href="./signal/downSampling") Down-sampling
	p
		a(href="./signal/FFT") Fast Fourier Transform (FFT)

