extends ./sorting/subSubTemplate.jade
block subSubContent
	h3
		b Sorting algorithms
	p
		a(href="./sorting/sorting") Checking a sortable list
	p
		a(href="./sorting/sorting") Sorting algorithms
	p
		a(href="./sorting/sorting") Sorting linked lists

	h3
		b Search algorithms
	p
		a(href="./sorting/sorting") Getting the max and min
	p
		a(href="./sorting/sorting") Identifying the location of an element in a list

