extends ./sql/subSubTemplate.jade
block subSubContent
	h3
		b Variables
	p
		a(href="./sql/typing") Dynamic and static typing
	p
		a(href="./sql/pointers") Variables as pointers
	p
		a(href="./sql/lists") Lists
	p
		a(href="./sql/types") Types of variables
	p
		a(href="./sql/globalLocal") Global and local variables
	h3
		b Logic and maths
	p
		a(href="./sql/logic") Boolean algebra
	p
		a(href="./sql/matrix") Matrix algebra
	h3
		b Functions
	p
		a(href="./sql/dependencies") Dependencies and libraries
	p
		a(href="./sql/system") System calls
	p
		a(href="./sql/output") Output
	p
		a(href="./sql/readWrite") Reading and writing
	h3
		b Flow
	p
		a(href="./sql/loops") Loops
	p
		a(href="./sql/ifThen") If-then
	h3
		b Meta
	p
		a(href="./sql/comments") Comments
	p
		a(href="./sql/settings") Settings

