extends ./stata/subSubTemplate.jade
block subSubContent
	h3
		b Variables
	p
		a(href="./stata/typing") Dynamic and static typing
	p
		a(href="./stata/pointers") Variables as pointers
	p
		a(href="./stata/lists") Lists
	p
		a(href="./stata/types") Types of variables
	p
		a(href="./stata/globalLocal") Global and local variables
	h3
		b Logic and maths
	p
		a(href="./stata/logic") Boolean algebra
	p
		a(href="./stata/matrix") Matrix algebra
	h3
		b Functions
	p
		a(href="./stata/dependencies") Dependencies and libraries
	p
		a(href="./stata/system") System calls
	p
		a(href="./stata/output") Output
	p
		a(href="./stata/readWrite") Reading and writing
	h3
		b Flow
	p
		a(href="./stata/loops") Loops
	p
		a(href="./stata/ifThen") If-then
	h3
		b Meta
	p
		a(href="./stata/comments") Comments
	p
		a(href="./stata/settings") Settings

