extends ./strings/subSubTemplate.jade
block subSubContent
	h3
		b Encodings
	p
		a(href="./strings/assembly") Encodings (can represent same information in multiple ways?)
	p
		a(href="./strings/ASCII") ASCII
	p
		a(href="./strings/UTF") UTF (Unicode)

