extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Content filtering
block subSubContent
	h3
		b Introduction
	p We have metadata on customers and products. Eg stated preferences, genres, actors etc

	p We use this to create recommendations.

