extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Hard-margin SVC
block subSubContent
	h3
		b Linear separators
	p We want to create a hyperplane to separate classes.
	p for classification problem (x, y)

	p hyperplane is wx-b=0


	h3
		b Hard margin
	p 
	p if data is linearly separable then a hyperplane exists such that all data can be correctly classified

	p there are an infinit number that could work.

	p we select two parallel with distance between as large as possible. the region between these two is the margin

	p the maximum margin hyperplane is the one between the two margin planes

	p We can rescale the two hyperplanes to:
	p wx-b=1
	p wx-b=-1

	p The distance between the two parrallel hyperplanes is \(\frac{2}{||w||}\)

	p So we minimise \(||w||\) conditional an all points being correctly classified

	p \(y_i(wx_i-b)\ge 1\)

	p We select w and b to solve this.



