extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Soft-margin SVC
block subSubContent
	h3
		b Soft margin
	p soft margin

	p data may not be linearly separable, so we introduce a hinge loss function

	p max(0, 1-y_i(wx-b))

	p we then minimise

	p \(\lambda ||w||^2+ [\frac{1}{n}\sum_{i=1}^n \max (0, 1-y_i(wx_i-b)]\)

	p This introduces \(\lambda\) as a parameter.

