extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Euclidian metric
block subSubContent
	h3
		b Introduction
	p For euclid:
	p \(M=I\)
	p \((dv )^TMdv =(dv)^T dv = d x^2+d y^2 + d z^2\)
	p \(Action = \int \sqrt {dx^2+dy^2 + dz^2}\)
	p \(Action = \int \sqrt {\dot x^2+\dot y^2 + \dot z^2}d t\)
	p \(Action = \int vd t\)
	p What are symmetries here? Gallilean group
