extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Lorentz metric
block subSubContent
	h3
		b Introduction
	p For lorentz:
	p \((\delta v )^TM\delta v = \delta t ^ 2 - \delta x^2-\delta y^2 - \delta z^2\)
	p \(Action = \int \sqrt {\delta t ^ 2 - \delta x^2-\delta y^2 - \delta z^2}\)
	p \(Action = \int \sqrt {1 - \dot x^2-\dot y^2 - \dot z^2}\delta t\)
	p \(Action = \int \sqrt {1-v^2}\delta t\)
	h3
		b The Lorentz metric with \(c\)
	p For lorentz with c
	p \((\delta v )^TM\delta v = \delta c^2t ^ 2 - \delta x^2-\delta y^2 - \delta z^2\)
	p \(Action = \int \sqrt {\delta c^2 t ^ 2 - \delta x^2-\delta y^2 - \delta z^2}\)
	p \(Action = \int \sqrt {1 - \dfrac{\dot x^2}{c^2}-\dfrac{\dot y^2}{c^2} - \dfrac{\dot z^2}{c^2}}c\delta t\)
	p \(Action = \int \sqrt {1 - \dfrac{v^2}{c^2}}c\delta t\)
	p Because \(c\) is constant, we can simplify to:
	p \(Action = \int \sqrt {1 - \dfrac{\dot x^2}{c^2}-\dfrac{\dot y^2}{c^2} - \dfrac{\dot z^2}{c^2}}\delta t\)
	p \(Action = \int \sqrt {1 - \dfrac{v^2}{c^2}}\delta t\)

