extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Types of games
block subSubContent

	p Simultaneous or sequential
	p Repeated, one off
	p Number of players
	p Information
	p Discrete, continuous (reaction function)

	p types of games: deterministic v stochastic. perfect v imperfection information. simultaneous v turn taking
	p zero sun: agents want different outcomes. one agent maximises one single outcome. other minimises it.

	p define game with:
	p + initial state
	p p+ which player has move at state \(s\)
	p + actions: legal moves
	p + transition function (S X A -> S)
	p + terminal test (is game over)
	p + utility for each terminal state
