extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Eigenvalues and eigenvectors
block subSubContent
	h3
		b Definition
	p Which vectors remain unchanged in direction after a transformation?
	p That is, for a matrix \(A\), what vectors \(v\) are equal to scalar multiplication by \(\lambda \) following the operation of the matrix.
	p $$Av=\lambda v$$

