extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Endomorphisms as group actions

block subSubContent
	h3
		b Introduction
	p We can view each member of the group \(g\) as a homomorphim on \(s\).
	p Where \(s\) is a vector space \(V\), the representation on each group member is an invertible square matrix.
	p If the set we use is the vector space \(V\), then we can represent each group element with a square matrix acting on \(V\).
	p faithful means a\ne b holds for repesentation too.
	p representation theory. groups defined by ab=c. if we can match each eleemnt to amatrix where this holds we have represented the matrix.
