extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Diagonalisable matrices and eigendecomposition
block subSubContent
	h3
		b Introduction
	p If matrix \(M\) is diagonalisable if there exists matrix \(P\) and diagonal matrix \(A\) such that:
	p \(M=P^{-1}AP\)
	h3
		b Diagonalisiable matrices and powers
	p If these exist then we can more easily work out matrix powers.
	p \(M^n=(P^{-1}AP)^n=P^{-1}A^nP\)
	p \(A^n\) is easy to calculate, as each entry in the diagonal taken to the power of \(n\).
	h3
		b Defective matrices
	p Defective matrices are those which cannot be diagonalised.
	p Non-singular matries can be defective or not defective, for example the identiy matrix.
	p Singular matrices can also be defective or not defective, for example the empty matrix.
	h3
		b Eigen-decomposition
	p Consider an eigenvector \(v\) and eigenvalue \(\lambda \) of matrix \(M\).
	p We known that \(Mv=\lambda v\).
	p If \(M\) is full rank then we can generalise for all eigenvectors and eigenvalues:
	p 
	p $$MQ=Q\Lambda$$
	p Where \(Q\) is the eigenvectors as columns, and \(\Lambda \) is a diagonal matrix with the corresponding eigenvalues. We can then show that:
	p \(M=Q\Lambda Q^{-1}\)
	p This is only possible to calculate if the matrix of eigenvectors is non-singular. Otherwise the matrix is defective.
	p If there are linearly dependent eigenvectors then we cannot use eigen-decomposition.
	h3
		b Using the eigen-decomposition to invert a matrix
	p This can be used to invert \(M\).
	p We know that:
	p $$M^{-1}=(Q\Lambda Q^{-1})^{-1}$$
	p $$M^{-1}=Q^{-1}\Lambda^{-1}Q$$
	p We know \(\Lambda \) can be easily inverted by taking the reciprocal of each diagonal element. We already know both \(Q\) and its inverse from the decomposition.
	p If any eigenvalues are \(0\) then \(\Lambda \) cannot be inverted. These are singular matrices.
	
