extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Eigenvectors as a basis

block subSubContent
	h3
		b Introduction
	p if eigen vectors space space, we can write
	p \(v=\sum_i \alpha_i | \lambda_i\rangle \)

	p under what circumstances do they span the entirity?

