extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Transposition and conjugation

block subSubContent
	h3
		b Transposition
	p A matrix of dimensions \(m*n\) can be transformed into a matrix \(n*m\) by transposition.
	p $$B=A^T$$
	p $$b_{ij}=a{ji}$$
	h3
		b Transpose rules
	p $$(M^T)^T=M$$
	p $$(AB)^T=B^TA^T$$
	p $$(A+B)^T=A^T+B^T$$
	p $$(zM)^T=zM^T$$
	h3
		b Conjugation
	p With conjugation we take the complex conjugate of each element.
	p $$B=\overline A$$
	p \(b_{ij}=\overline a_{ij}\)
	h3
		b Conjugation rules
	p $$\overline {(\overline A)}=A$$
	p $$\overline {(AB)}=(\overline A)( \overline B)$$
	p $$\overline {(A+B)}=\overline A+\overline B$$
	p $$\overline {(zM)}=\overline z \overline M$$
	h3
		b Conjugate transposition
	p Like transposition, but with conjucate.
	p $$B=A^*$$
	p $$b_{ij}=\bar{a_{ji}}$$
	p Alternatively, and particularly in physics, the following symbol is often used instead.
	p $$(A^*)^T=A^\dagger$$	

s
