extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Matrix logarithms
block subSubContent
	h3
		b Introduction
	p If we have \(e^A=B\) where \(A\) and \(B\) are matrices then we can say that \(A\) is matrix logarithm of \(B\).
	p That is:
	p \(\log B=A\)

	p The dimensions of a matrix and its logarithm are the same.
