extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Matrix square roots

block subSubContent
	h3
		b Introduction
	p For a matrix \(M\), the square root \(M^{\frac{1}{2}}\) is \(A\) where \(AA=M\).
	p This does not necessarily exist.
	p Square roots may not be unique.
	p Real matrices may have no real square root.
