extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Traces

block subSubContent
	h3
		b Introduction
	p The trace of a matrix is the sum of its diagonal components.
	p \(Tr(M)=\sum_i^nm_{ii}\)
	h3
		b Traces and eigenvalues
	p The trace of a matrix is equal to the sum of its eigenvectors.
	h3
		b Traces commute
	p \(Tr(AB)=Tr(BA)\)
	h3
		b Traces of \(1\times 1\) matrices are equal to their component.
	p \(Tr(M)=m_{11}\)
	h3
		b Trace trick
	p If we want to manipulate the scalar:
	p \(v^TMv\)
	p We can use properties of the trace.
	p \(v^TMv=Tr(v^TMv)\)
	p \(v^TMv=Tr([v^T][Mv])\)
	p \(v^TMv=Tr([Mv][v^T])\)
	p \(v^TMv=Tr(Mvv^T)\)
