extends ./subSubTemplate.jade

block subSubContent
	h2
		b Polar co-ordinates
	p Polar form of complex numbers
	p Transition between different types of polar form
	p $$ae^{i\theta }$$
	p $$ae^{i(\theta +n.\tau)}$$
	p $$-ae^{i(\theta +\frac{\tau }{2})$$
	p $$-ae^{i(\theta +\frac{\tau +2n}{2})$$
	p Between polar and Cartesian forms
	p Get real /imaginary from z\cos (\theta )
	p $$z=a+bi$$
	p $$z=re^{i\theta }=r\cos (\theta )+ir\sin (\theta )$$
	p $$Re(z):=a=r\cos (\theta )$$
	p $$Im(z):=b=r\sin (\theta )$$
	p Previously we defined:
	p $$Re(z):=a=r\cos (\theta )$$
	p $$Im(z):=b=r\sin (\theta )$$
	p We can use these to show
	p $$Re(z)=r\frac{e^{i\theta }+e^{-i\theta }}{2}$$
	p $$Im(z)=r\frac{e^{i\theta }-e^{-i\theta }}{2i}$$
	p So if we know \(r\) and \(\theta \), and want the form:
	p $$a+bi=re^{i\theta }$$
	p $$a=Re(z)=$$
	p $$a=r\frac{e^{i\theta }+e^{-i\theta }}{2}$$
	p $$b=Im(z)=$$
	p $$b=r\frac{e^{i\theta }-e^{-i\theta }}{2i}$$
	p If instead we have \(a\) and \(b\), how can we calculate \(r\) and \(\theta \)?
	p Adding and multiplying complex numbers
	p Coordinate
	p $$z_1=a_1+b_1i$$
	p $$z_2=a_2+b_2i$$
	p $$z_3=a_3+b_3i$$
	p Addition
	p $$z_3=z_1+z_2$$
	p $$z_3=(a_1+a_2)+(b_1+b_2)i$$
	p $$a_3=a_1+a_2$$
	p $$b_3=b_1+b+2$$
	p Multiplication
	p $$z_3=z_1.z_2$$
	p $$z_3=(a_1+b_1i)(a_2+b_2i)$$
	p $$z_3=(a_1a_2-b_1.b_2)+(a_1.b_2+b_1.a_2)i$$
	p $$a_3=a_1a_2-b_1b_2$$
	p $$b_3=a_1b_2+b_1a_2$$
	p Polar
	p $$z_1=a_1e^{i\theta_1}$$
	p $$z_2=a_2e^{i\theta_2}$$
	p $$z_3=a_3e^{i\theta_3}$$
	p Addition
	p $$z_3=z_1+z_2$$
	p $$z_3=a_1e^{i\theta_1}+a_2e^{i\theta_2}$$
	p $$z_3=a_1[\cos(\theta_1)+i\sin(\theta_1)]+a_2[\cos(\theta_2)+i\sin(\theta_2)]$$
	p $$z_3=[a_1\cos(\theta_1)+a_2\cos(\theta_2)]+i[a_1\sin(\theta_1)+a_2 \sin(\theta_2)]$$
	p Multiplication
	p $$z_3=z_1.z_2$$
	p $$z_3=a_1e^{i\theta_1}a_2e^{i\theta_2}$$
	p $$z_3=a_1a_2e^{i(\theta_1+\theta_2)}$$
	p $$a_3=a_1a_2$$
	p $$\theta_3=\theta_1+\theta_2$$


	p
		b Polar
	p $$ae^{i\theta }$$
	p All polar numbers can be shown as Cartesian
	p $$ae^{i\theta }=a(\cos(\theta )+i\sin(\theta ))$$
	p $$ae^{i\theta }=a\cos(\theta )+ia\sin(\theta )$$
	p Polar forms are not unique
	p Because the functions loop:
	p $$ae^{i\theta }=a(\cos(\theta )+i\sin(\theta ))$$
	p $$ae^{i\theta }=a(\cos(\theta +n\tau )+i\sin(\theta +n\tau ))$$
	p $$ae^{i\theta }= ae^{i\theta +n\tau}$$
	p Additionally:
	p $$ae^{i\theta }=a(\cos(\theta )+i\sin(\theta ))$$
	p $$ae^{i\theta }=a(\cos(\theta )+i\sin(\theta ))$$
	p $$ae^{i\theta }=-a(\cos(\theta )-i\sin(\theta ))$$
	p $$ae^{i\theta }=-a(\cos(\theta +\frac{\pi }{2})+i\sin(\theta +\frac{\pi }{2}))$$
