extends ./subSubTemplate.jade

block subSubTitle
	h1
		p Defining complex valued functions
block subSubContent
	h3
		b Introduction 
	p We can consider complex valued functions as a type of vector fields.
	p 
