extends ./subSubTemplate.jade

block subSubTitle
	h1
		p Line integral of the complex plane
block subSubContent
	h3
		b Introduction 
	p \(\int_C f(r) ds=\lim_{\Delta s rightarrow 0 }\sum_{i=0}^n f(r(t_i))\Delta s_i\)

	p \(\int_C f(r) ds=\lim_{\Delta s rightarrow 0 }\sum_{i=0}^n f(r(t_i))\frac{\delta r(t_i)}{\delta t}\delta r_i\)

	p \(\int_C f(z) dz=\int_a^b f(r(t_i))\frac{\delta r(t_i)}{\delta t}\delta r_i\)

