extends ./subSubTemplate.jade

block subSubTitle
	h1
		p Wirtinger derivatives
block subSubContent
	h3
		b Introduction
	p Previously we had partial differentiation on the real line. We could use the partial differention operator

	p We want to find a similar operator for the complex plane.
	p 
