extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Basic results
block subSubContent
	h3
		b Probability of null
	p $$P(\Omega )=1$$
	p $$P(\Omega \lor \varnothing )=1$$
	p $$P(\Omega )+P(\varnothing )=1$$
	p $$P(\varnothing )=0$$
	h3 
		b Monotonicity
	p Consider \(E_i\subseteq E_j\):
	p $$E_j=E_i\lor E_k$$
	p $$P(E_j)=P(E_i\lor E_k)$$
	p Disjoint so:
	p $$P(E_j)=P(E_i)+P(E_k)$$
	p We know that \(P(E_k)\ge 0\) from axiom \(1\) so:
	p $$P(E_j)\ge P(E_i)$$
	h3
		b Bounds of probabilities
	p As all events are subsets of the sample space:
	p $$P(\Omega )\ge P(E)$$
	p $$1\ge P(E)$$
	p From axiom \(1\) then know:
	p \(\forall E\in F [0<=P(E)<=1]\)
	h3
		b Union and intersection for null and universal
	p $$P(E\land \varnothing )=P(\varnothing )=0$$
	p $$P(E\lor \Omega )=P(\Omega )=1$$
	p $$P(E\lor \varnothing)=P(E)$$
	p $$P(E\land \Omega )=P(E)$$
	h3
		b Separation rule
	p Firstly:
	p $$P(E_i)=P(E_i\land \Omega)$$
	p $$P(E_i)=P(E_i\land (E_j\lor E_j^C))$$
	p $$P(E_i)=P((E_i\land E_j)\lor (E_i\land E_j^C))$$
	p As the latter are disjoint:
	p $$P(E_i)=P((E_i\land E_j)+(E_i\land E_j^C))$$
	h3
		b Addition rule
	p We know that:
	p $$P(E_i\lor E_j)=P((E_i\lor E_j)\land (E_j\lor E_j^C))$$
	p By the distributive law of sets:
	p $$P(E_i\lor E_j)=P((E_i\land E_j^C)\lor E_j)$$
	p $$P(E_i\lor E_j)=P((E_i\land E_j^C)\lor (E_j\land (E_i\lor E_i^C))$$
	p By the distributive law of sets:
	p $$P(E_i\lor E_j)=P((E_i\land E_j^C)\lor (E_j\land E_i)\lor (E_j\land E_i^C))$$
	p As these are disjoint:
	p $$P(E_i\lor E_j)=P(E_i\land E_j^C)+ P(E_j\land E_i)+P(E_j\land E_i^C)$$
	p From the separation rule:
	p $$P(E_i\lor E_j)=P(E_i)-P(E_i\land E_j)+ P(E_j\land E_i)+P(E_j)-P(E_j\land E_i)$$
	p $$P(E_i\lor E_j)=P(E_i)+P(E_j)-P(E_i\land E_j)$$
	h3
		b Probability of complements
	p From the addition rule:
	p $$P(E_i\lor E_j)=P(E_i)+P(E_j)-P(E_i\land E_j)$$
	p Consider \(E\) and \(E^C\):
	p $$P(E\lor E^C)=P(E)+P(E^C)-P(E\land E^C)$$
	p We know that \(E\) and \(E^C\) are disjoint, that is:
	p $$E\land E^C=\varnothing$$
	p Similarly by construction:
	p $$E\lor E^C=\Omega $$
	p So:
	p $$P(\Omega )=P(E)+P(E^C)-P(\varnothing)$$
	p $$1=P(E)+P(E^C)$$

