extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Cumulative distribution functions
block subSubContent
	h3
		b Definition
	p Random variables all valued as real numbers, and so we can write:
	p $$P(X\le x)=P({\omega |X(\omega)\le x})$$
	p Or:
	p $$F_X(x)=\int_{-\infty}^x f_X(u)du$$
	p $$F_X(x)=\sum_{x_i\le x}P(X=x_i) $$
	h3
		b Partitions
	p $$P(X\le x)+P(X\ge x)-P(X=x)=1$$
	h3
		b Interval
	p $$P(a< X\le b)=F_X(b)-F_X(a)$$

