extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Probability density functions
block subSubContent
	h3
		b Definition
	p If continuous, probability at any point is \(0\). We instead look at probability density.
	p Derived from cumulative distribution function:
	p $$F_X(x)=\int_{-\infty}^x f_X(u)du$$
	p The density function is \(f_X(x)\).


	h3
		b Conditional probability distributions
	p For probability mass functions:
	p $$P(Y=y|X=x)=\frac{P(Y=y\land X=x)}{P(X=x)}$$
	p For probability density functions:
	p $$f_Y(y|X=x)=\frac{f_{X,Y}(x,y)}{f_X(x)}$$
