extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Discrete and continous probability
block subSubContent
	h3
		b Intro
	p We know that:
	p $$\sum_yP(X\land Y)=P(X)$$
	p So for the continuous case
	p $$P(X)=\int_{-\infty }^{\infty }P(X\land Y)dy$$
	p This behaves like the probability for a single event, or multiple events with one fewer event if there were more than \(2\) events to start with.
	
