extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Functionals of probabilities
block subSubContent
	h3
		b Introduction
	p \(\phi (P)\in \mathbb{R} \) is a functional on \(P(X)\).

	p Examples include the expectation and variance.

	p We can define derivatives on these functionals.

	p \(\phi (P)\approx \phi (P^0)+D_\phi (P-P^0)\)

	p Where \(D_\phi \) is linear.
