extends ./subSubTemplate.jade

block subSubContent
	h3
		b Distributions
	p
		b Independent and identically distributed (IID): Independence
	p \(x\) is independent of \(y\) if:
	p $$\forall x_i \in x,\forall y_j \in y (P(x_i|y_j)=P(x_i)$$
	p If \(P(x_i|y_j)=P(x_i)\) then:
	p $$P(x_i\land y_j)=P(x_i).P(y_j)$$
	p This logic extends beyond just two events. If the events are independent then:
	p $$P(x_i\land y_j \land z_j)=P(x_i).P(y_j \land z_k)=P(x_i).P(y_j).P(z_k)$$

	p Note that because:
	p $$P(x_i|y_j)=\frac{P(x_i\land y_j)}{P(y_j)}$$
	p If two variables are independent
	p $$P(x_i|y_j)=\frac{P(x_i)P(y_j)}{P(y_j)}$$
	p $$P(x_i|y_j)=P(x_i)$$

	p
		b Independent and identically distributed (IID): Identically distributed
	p \(x\) is identically distributed to \(y\) if:
	p $$\forall i (\exists x_i \rightarrow P(x_i)=P(y_i))$$
