extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Independence and conditional independence
block subSubContent
	h3
		b Independence
	p \(x\) is independent of \(y\) if:
	p $$\forall x_i \in x,\forall y_j \in y (P(x_i|y_j)=P(x_i)$$
	p If \(P(x_i|y_j)=P(x_i)\) then:
	p $$P(x_i\land y_j)=P(x_i).P(y_j)$$
	p This logic extends beyond just two events. If the events are independent then:
	p $$P(x_i\land y_j \land z_j)=P(x_i).P(y_j \land z_k)=P(x_i).P(y_j).P(z_k)$$

	p Note that because:
	p $$P(x_i|y_j)=\frac{P(x_i\land y_j)}{P(y_j)}$$
	p If two variables are independent
	p $$P(x_i|y_j)=\frac{P(x_i)P(y_j)}{P(y_j)}$$
	p $$P(x_i|y_j)=P(x_i)$$

	h3
		b Conditional independence
	p \(P(A\land B|X)=P(A|X)P(B|X)\)
	p This is the same as:
	p \(P(A|B\land X)=P(A|X)\)
