extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Information
block subSubContent
	h3
		b Criteria
	p Self information measures surprise of outcome. also called a surprisal.

	p When we observe an outcome we get information. We can develop a measure for how much information is associated with a specific measurement.
	p Rule 1: Information is always positive
	p Rule 2: If \(P(x)=1\), the the information for \(I(P(x))=0\).
	p Rule 3: If two events are independent, then their information is additive.
	ul
		li \(P(C)=P(A)P(B)\)
		li \(I(P(C))=I(P(A)P(B))\)
		li \(I(P(A))+I(P(B))=I(P(A)P(B))\)
	h3
		b Choice of function
	p A function which satisifes this is \(I(P(A))=-\log(P(A))\)
	p Any base can be used. 2 is most common, information is in units of bit then.
