extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Kolmogorov axioms
block subSubContent
	h3
		b First axiom
	p The probability of all events is a non-negative real number.
	p $$\forall E \in F [(P(E)\ge 0)\land (P(E)\in \mathbb{R})]$$
	h3
		b Second axiom
	p The probability of one of the elementary events occuring is \(1\).
	p The probability of the outcome set is \(1\).
	p $$P(\Omega )=1$$
	h3
		b Third axiom
	p The probability of union for mutually exclusive events is:
	p $$P(\cup^\infty_{i=1}E_i)=\sum_{i=1}^\infty P(E_i)$$

