extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Probability mass functions
block subSubContent
	h3
		b Definition
	p 
	p $$P(X=x)=P({\omega |X(\omega)=x})$$
	p For discrete probability, this is a helpful number. For example for rolling a die.
	p This is not helpful for continuous probability, where the chance of any specific outcome is \(0\).

