extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Moments
	h3
		b Moments and expected values
	p We can also take moments of multiple random variables. For this we see \(f(x)\) as a function on a vector \(x\), and \(P(x_i)\) as the probability of a specific vector appearing:
	p $$E[f(x,y)]=\sum_i \sum_j f(x_i,y_j) P(x_i \land y_j)$$
	p
		b Properties of expected values
	p We can show that \(E(x+y)=E(x)+E(y)\):
	p $$E[x+y]=\sum_i \sum_j (x_i+y_j) P(x_i \land y_j)$$
	p $$E[x+y]=\sum_i \sum_j x_i [P(x_i \land y_j)]+\sum_i \sum_j [y_j P(x_i \land y_j)]$$
	p $$E[x+y]=\sum_i x_i \sum_j [P(x_i \land y_j)]+\sum_j y_j \sum_i [P(x_i \land y_j)]$$
	p $$E[x+y]=\sum_i x_i P(x_i)+\sum_j y_j P(y_j) $$
	p $$E[x+y]=E[x]+E[y]$$

	p Variance
	p $$Var(x+y)=E((x+y)^2)-E(x+y)^2$$
	p $$Var(x+y)=E(x^2+y^2+2xy)-E(x+y)^2$$
	p $$Var(x+y)=E(x^2)+E(y^2)+E(2xy)-E(x+y)^2$$
	p $$Var(x+y)=E(x^2)+E(y^2)+E(2xy)-[E(x)+E(y)]^2$$
	p $$Var(x+y)=E(x^2)+E(y^2)+E(2xy)-E(x)^2-E(y)^2-2E(x)E(y)]$$
	p $$Var(x+y)=[E(x^2)-E(x)^2]+[E(y^2)-E(y)^2]+E(2xy)-2E(x)E(y)$$
	p $$Var(x+y)=Var(x) +Var(y)+2[E(xy)-E(x)E(y)]$$
	p We then define:
	p $$Cov(x,y):=E(xy)-E(x)E(y)$$
	p Noting that:
	p $$Cov(x,x)=E(xx)-E(x)E(x)$$
	p $$Cov(x,x)=Var(x) $$
	p So:
	p $$Var(x+y)=Var(x)+Var(y)+2Cov(x,y)$$
	p $$Var(x+y)=Cov(x,x)+Cov(x,y)+Cov(y,x)+Cov(y,y) $$

	p $$Cov(x,c)=E(xc)-E(x)E(c)$$
	p $$Cov(x,c)=cE(x)-cE(x)$$
	p $$Cov(x,c)=0$$
