extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Conditional probability
block subSubContent
	p We also know from Bayes theorem that:
	p $$P(Y|X):=\frac{P(X\land Y)}{P(X)}$$
	p So:
	p $$P(Y|X):=\frac{P(X\land Y)}{\int_{-\infty }^{infty }P(X\land Y)dY}$$
	p
		b Conditional expectation
	p If \(Y\) is a variable we are interested in understanding, and \(X\) is a vector of other variables, we can create a model for \(Y\) given \(X\).
	p This is the conditional expectation.
	p $$E[Y|X]$$
	p $$E[P(Y|X)Y]$$
	p In the continuous case this is
	p $$E(Y|X)=\int_{-\infty }^{\infty }yP(y|X)dy$$
	p We can then identify an error vector.
	p $$\epsilon :=Y-E(Y|X)$$
	p So:
	p $$Y=E(Y|X)+\epsilon $$
	p Here \(Y\) is called the dependent variable, and \(X\) is called the dependent variable.
