extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Covariance matrix
block subSubContent
	p With multiple events, covariance can be defined between each pair of events, including the event with itself.
	p The covariance between \(2\) variables is:
	p $$Cov(x_i,x_j):=E(x_ix_j)-E(x_i)E(x_j)$$
	p Which is equal to:
	p $$Cov(x_i,x_j)=E{[x_i-E(x_i)][x_j-E(x_j)]}$$
	p We can therefore generate a covariance matrix through:
	p $$\sum =E[(X-E[X])(X-E[X])^T]$$
