extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Axioms for joint events

	h3
		b Axioms
	
	p 
		b Axiom 3 – joint probabilities of events divide each event
	p We can assign a number to groups of outcomes, including from different probability spaces. The sum of these across one event space is equal to the probability of the remaining events.
	p $$\sum_j P(x_i \land y_j)=P(x_i)$$
	p This also applies to more than two events.
	p $$\sum_k P(x_i \land y_j \land z_k)=P(x_i \land y_j)$$

	p The following are used interchangeable:
	p $$P[(X=x)\land (Y=y)]$$
	p $$P(X\land Y)$$
	p $$f(x,y)$$

	p
		b Axiom 4 – joint probabilities of the same outcome are the probability of the outcome
	p The joint probability of the same event occurring is equal to the probability of the event occurring.
	p $$P(x_i \land x_i)=P(x_i)$$
	p
		b Axiom 5 - Events are mutually exclusive.
	p The probability of two outcomes in the same event occurring is \(0\).
	p $$P(x_i \land x_j)=0$$

	h3
		b Extra definitions
	p
		b OR
	p $$P(x_i \lor y_j):=P(x_i)+P(y_j)-P(x_i \land y_j)$$
	p
		b Conditional probability
	p $$P(x_i|y_j):=\frac{P(x_i \land y_j)}{P(y_j)}$$
