extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Odds
block subSubContent
	h3
		b Introduction
	p Given a set of outcomes for a variable, the odds of the outcome are defined as:

	p \(o_f=\frac{P(E)}{P(E^C)\)

	p For example, the odds of rolling a \(6\) are \(\frac{1}{5}\).
