extends ./subSubTemplate.jade

block subSubContent
	h2
		b Bayes theorem
	p We know:
	p $$P(x_i|y_j):=\frac{P(x_i \land y_j)}{P(y_j)}$$
	p $$P(y_j|x_i):=\frac{P(x_i \land y_j)}{P(x_i)}$$
	p So:
	p $$P(x_i|y_j)P(y_j)=P(y_j|x_i) P(x_i)$$
	p $$P(x_i|y_j)=\frac{P(y_j|x_i) P(x_i)}{P(y_j)}$$
	p Note that this is undefined when \(P(y_j)=0\)


	p Note that for the same event, 
	p $$P(x_i|x_j)=\frac{P(x_i\land x_j)}{P(x_j)}$$
	p $$P(x_i|x_j)=0$$

	p For the same outcome:
	p $$P(x_i|x_i)=\frac{P(x_i\land x_i)}{P(x_i)}$$
	p $$P(x_i|x_i)=\frac{P(x_i)}{P(x_i)}$$
	p $$P(x_i|x_i)=1$$

	p
		b Bayesian updating

 

