extends ./subSubTemplate.jade

block subSubContent
	h2
		b Key distributions

	h3 Uniform distribution
	p 2 parameters (start, end)
	
	h3 Bernoulli distribution
	p 1 parameter (p)
	h3 Binomial distribution
	p 2 parameters (p, n)
	h3 Poisson
	h3 Chi squared
	h3 F distribution
	h3 Normal
