extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Kolmogorov axioms
block subSubContent
	h3
		b Existence of measure space
	p We have a sample space, \(\Omega \) consisting of elementary events.
	p We have a \(\sigma\)-algebra over \(\Omega \) called \(F\). A \(\sigma\)-algebra takes a set a provides another set containing subsets closed under complement. The power set is an example.
	p For all events \(E\) in \(F\), the probability function \(P\) is defined.
	p This gives us the following measure space:
	p $$(\Omega, F, P)$$
	h3
		b Subsets
	p All events \(E\) are subsets of \(\Omega\)
	p \(\forall E\in F E\subseteq \Omega\)

	h3
		b Union and intersection
	p As events are sets, we can define the probability of algebra on sets. For example for two events \(E_i\) and \(E_j\) we can define:
	ul
		li \(P(E_i\land E_j)\)
		li \(P(E_i\lor E_j)\)

	h3
		b Mutually exclusive events
	p Events are mutually exclusive if they are disjoint sets.
	h3
		b Complements
	p For each event \(E\), there is a complementary event \(E^C\) such that:
	p $$E\lor E^C=\Omega$$
	p $$E\land E^C=\nullset$$
	p This exists by construction in the measure space.

	h3
		b First axiom
	p The probability of all events is a non-negative real number.
	p $$\forall E \in F [(P(E)\ge 0)\land (P(E)\in \mathbb{R})]$$
	h3
		b Second axiom
	p The probability of one of the elementary events occuring is \(1\).
	p The probability of the outcome set is \(1\).
	p $$P(\Omega )=1$$
	h3
		b Third axiom
	p The probability of union for mutually exclusive events is:
	p $$P(\cup^\infty_{i=1}E_i)=\sum_{i=1}^\infty P(E_i)$$

