extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Characteristic functions
block subSubContent
	h2
		b Transformations
	h3
		b Summary
	p Cumulative probability function
	p $$F=\int_{-\inf }^\inf xP(x)$$
	p Moment generating function
	p $$F=\int_{-\inf }^\inf e^{tx}P(x)$$
	p Characteristic function
	p $$F=\int_{-\inf }^\inf e^{itx}P(x)$$
	h3
		b Moment generating function
	p Take random variable \(X\). This has moments we wish to calculate.
	p We can transform our function in other forms which maintain all of the required information. For example we could also use the cumulative probability function to calculate moments. We now look for an alternative form of the probability density function which allows us to easily calculate moments.
	p One method is to use the probability density function and the definitions of moments, but there are other options. For example, consider the function:
	p $$E[e^{tX}]$$
	p Which expands to:
	p $$E[e^{tX}]=\sum_{j=1}^\inf \frac{t^jE[X^j]}{j!}$$
	p By taking the \(m\)th derivative of this, we get
	p $$E[X^m]+\sum_{j=m+1}^\inf \frac{t^jE[X^j]}{j!}$$
	p We can then set \(t=0\) to get
	p $$E[X^m]$$
	p Alternatively, see that differentiating \(m\) times gets us
	p $$E[X^me^{tX}]$$
	p If we can get this function, we can then easily generate moments.
	p The function we need to get is:
	p $$E[e^{tX}]$$
	p In the discrete case this is:
	p $$E[e^{tX}]=\sum_{i=1}e^{tx_i}p_i$$
	p In the continuous case:
	p $$E[e^{tX}]=\int_{-\inf }^\inf e^{tx}P(x) dx$$
	h3
		b Characteristic function
	p It may not be possible to calculate the integral for the moment generating function. We now look for an alternative formula with which we can generate the same moments.
	p Consider
	p $$E[e^{itX}]$$
	p As this can be broken down into sinusoidal functions it can more readily be integrated.
	p This expands to
	p $$E[e^{itX}]=\sum_{j=1}^\inf \frac{i^jt^jE[X^j]}{j!}$$
	p By taking the \(m\)th derivative we get.
	p $$E[X^m]i^m+\sum_{j=m+1}^\inf \frac{t^jE[X^j]}{j!}$$
	p By setting \(t=0\) we then get:
	p $$E[X^m]i^m$$
	p Alternatively see that differentiating \(m\) times gets us
	p $$E[(iX)^me^{itX}]$$
	p So we can get the moment by differentiating \(m\) times, and multiplying by \(i^{-m}\).

	h3
		Inverses of these functions
	p
		b Moment generating function
	p
	p
		b Characteristic function
	p

	h3
		b Moments of constants added to variables
	p $$\phi_{X+c}(t)=E[e^{it(X+c)}]$$
	p $$\phi_{X+c}(t)=E[e^{itX}e^itc]$$
	p $$\phi_{X+c}(t)=e^{itc}E[e^{itX}]$$

	p $$\phi_{X+c}(t)=e^{itc}\phi_X(t)$$
	p $$\phi_{X}(t)=e^{-itc}\phi_{X+c}(t)$$
	h3
		b Moments of constants multiplied by events 
	p $$\phi_{cX}(t)=E[e^{itcX}]$$
	p $$\phi_{cX}(t) = \phi_{X}(ct)$$
	h3
		b Taylor series of a characteristic function
	p $$\phi_X(t)=E[e^{itX}]$$
	p $$\phi_X(t)=\sum_{j=0}^{\infty }\frac{\phi_X^j(a)(t-a)}{j!}$$
	p Around \(a=0\)
	p $$\phi_X(t)=\sum_{j=0}^{\infty }\frac{\phi_X^j(0)(t)}{j!}$$

	p The characteristic function is now given in terms of its moments.
	p We know:
	p $$\phi_X^j(0)=E[X^j]i^j$$
	p So:
	p $$\phi_X(t)=\sum_{j=0}^{\infty }\frac{E[X^j]i^j(t)^j}{j!}$$
	p $$\phi_X(t)=\sum_{j=0}^{\infty }\frac{E[X^j](it)^j}{j!}$$
	p We know:
	p $$\frac{E[X^0](it)^0}{0!}=E[1]=1$$
	p $$\frac{E[X^1](it)^1}{1!}=E[X](it)=it\mu_X $$
	p $$\frac{E[X^2](it)^2}{2!}=\frac{-E[X^2]t^2}{2}=\frac{-(\mu_X +\sigma_X^2 )t^2}{2}$$
	p So:
	p $$\phi_X(t)=1+it\mu_X -\frac{(\mu_X +\sigma_X^2 )t^2}{2} +\sum_{j=3}^{\infty }\frac{E[X^j](it)^j}{j!}$$
