extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Moments
block subSubContent
	h3
		b Moments
	p The \(n\)th moment of a variable \(x\) around \(c\) is defined as this where \(f(x)=(x-c)^n\)
	p $$E[(x-c)^n]=\sum_i (x_i-c)^n P(x_i)$$
	p The mean is the first moment around \(0\).
	p The variance is the second moment around the mean.

	h3
		b Kertosis

	h3
		b Skew


