extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Expected value
block subSubContent
	h3
		b Definition
	p For a random variable (or vector of random variables), \(x\), we define the expected value of \(f(x)\) as :
	p $$E[f(x)]:=\sum f(x_i) P(x_i)$$
	p The expected value of random variable \(x\) is therefore this where \(f(x)=x\).
	p $$E(x)=\sum_i x_i P(x_i)$$
	h3
		b Linearity of expectation
	p We can show that \(E(x+y)=E(x)+E(y)\):
	p $$E[x+y]=\sum_i \sum_j (x_i+y_j) P(x_i \land y_j)$$
	p $$E[x+y]=\sum_i \sum_j x_i [P(x_i \land y_j)]+\sum_i \sum_j [y_j P(x_i \land y_j)]$$
	p $$E[x+y]=\sum_i x_i \sum_j [P(x_i \land y_j)]+\sum_j y_j \sum_i [P(x_i \land y_j)]$$
	p $$E[x+y]=\sum_i x_i P(x_i)+\sum_j y_j P(y_j) $$
	p $$E[x+y]=E[x]+E[y]$$

	h3
		b Expectations of multiples
	p Expectations
	p $$E(cx)=\sum_i cx P(x_i)$$
	p $$E(cx)=c\sum_i x P(x_i)$$
	p $$E(cx)=cE(x)$$
	h3
		b Expectations of constants
	p $$E(c)=\sum_i c_i P(c_i)$$
	p $$E(c)= c P(c)$$
	p $$E(c)= c$$


	h3
		b Conditional expectation
	p If \(Y\) is a variable we are interested in understanding, and \(X\) is a vector of other variables, we can create a model for \(Y\) given \(X\).
	p This is the conditional expectation.
	p $$E[Y|X]$$
	p $$E[P(Y|X)Y]$$
	p In the continuous case this is
	p $$E(Y|X)=\int_{-\infty }^{\infty }yP(y|X)dy$$
	p We can then identify an error vector.
	p $$\epsilon :=Y-E(Y|X)$$
	p So:
	p $$Y=E(Y|X)+\epsilon $$
	p Here \(Y\) is called the dependent variable, and \(X\) is called the dependent variable.
	h3
		b Iterated expectation
	p \(E[E[Y]]=E[Y]\)
	p \(E[E[Y|X]=E[Y]\)
	