extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Measure space
block subSubContent
	h3
		b Existence of measure space
	p We have a sample space, \(\Omega \) consisting of elementary events.
	p We have a \(\sigma\)-algebra over \(\Omega \) called \(F\). A \(\sigma\)-algebra takes a set a provides another set containing subsets closed under complement. The power set is an example.
	p For all events \(E\) in \(F\), the probability function \(P\) is defined.
	p This gives us the following measure space:
	p $$(\Omega, F, P)$$
	h3
		b Subsets
	p All events \(E\) are subsets of \(\Omega\)
	p \(\forall E\in F E\subseteq \Omega\)

	h3
		b Union and intersection
	p As events are sets, we can define the probability of algebra on sets. For example for two events \(E_i\) and \(E_j\) we can define:
	ul
		li \(P(E_i\land E_j)\)
		li \(P(E_i\lor E_j)\)

	h3
		b Mutually exclusive events
	p Events are mutually exclusive if they are disjoint sets.
	h3
		b Complements
	p For each event \(E\), there is a complementary event \(E^C\) such that:
	p $$E\lor E^C=\Omega$$
	p $$E\land E^C=\nullset$$
	p This exists by construction in the measure space.

