extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Variance
block subSubContent
	h3
		b Definition
	p The variance of a random variable is given by:
	p $$Var(x)=E((x-E(x))^2)$$
	p $$Var(x)=E(x^2+E(x)^2-2xE(x))$$
	p $$Var(x)=E(x^2)+E(E(x)^2)-E(2xE(x))$$
	p $$Var(x)=E(x^2)+E(x)^2-2E(x)^2$$
	p $$Var(x)=E(x^2)-E(x)^2$$
	h3
		b Variance of a constant
	p $$Var(c)=E(c^2)-E(c)^2$$
	p $$Var(c)= c^2-c^2$$
	p $$Var(c)=0$$
	h3
		b Variance of multiple
	p $$Var(cx)=E((cx)^2)-E(cx)^2$$
	p $$Var(cx)=E(c^2x^2)-[\sum_i cx P(x_i)]^2$$
	p $$Var(cx)=c^2E(x^2)-c^2[\sum_i x P(x_i)]^2$$
	p $$Var(cx)=c^2[E(x^2)- E(x)^2]$$
	p $$Var(cx)=c^2Var(x)$$
	h3
		b Link between variance of expectation
	p $$E(x)^2+Var(x)=E(x)^2+E((x-E(x))^2)$$
	p $$E(x)^2+Var(x)=E(x)^2+E(x^2+E(x)^2-2xE(x))$$
	p $$E(x)^2+Var(x)=E(x)^2+E(x^2)+E(E(x)^2)-E(2xE(x))$$
	p $$E(x)^2+Var(x)=E(x)^2+E(x^2)+E(x)^2-2E(x)E(x))$$
	p $$E(x)^2+Var(x)=E(x^2)$$



	h3
		b Covariance
	p $$Var(x+y)=E((x+y)^2)-E(x+y)^2$$
	p $$Var(x+y)=E(x^2+y^2+2xy)-E(x+y)^2$$
	p $$Var(x+y)=E(x^2)+E(y^2)+E(2xy)-E(x+y)^2$$
	p $$Var(x+y)=E(x^2)+E(y^2)+E(2xy)-[E(x)+E(y)]^2$$
	p $$Var(x+y)=E(x^2)+E(y^2)+E(2xy)-E(x)^2-E(y)^2-2E(x)E(y)]$$
	p $$Var(x+y)=[E(x^2)-E(x)^2]+[E(y^2)-E(y)^2]+E(2xy)-2E(x)E(y)$$
	p $$Var(x+y)=Var(x) +Var(y)+2[E(xy)-E(x)E(y)]$$
	p We then define:
	p $$Cov(x,y):=E(xy)-E(x)E(y)$$
	p Noting that:
	p $$Cov(x,x)=E(xx)-E(x)E(x)$$
	p $$Cov(x,x)=Var(x) $$
	p So:
	p $$Var(x+y)=Var(x)+Var(y)+2Cov(x,y)$$
	p $$Var(x+y)=Cov(x,x)+Cov(x,y)+Cov(y,x)+Cov(y,y) $$

	p $$Cov(x,c)=E(xc)-E(x)E(c)$$
	p $$Cov(x,c)=cE(x)-cE(x)$$
	p $$Cov(x,c)=0$$

