extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Moments
block subSubContent
	h3
		b Moments
	p The \(n\)th moment of variable \(X\) is defined as:
	p $$E[X^n]=\sum_i x_i^n P(x_i)$$
	p The mean is the first moment.
	h3
		b Central moments
	p The \(n\)th central moment of variable \(X\) is defined as:
	p $$\mu_n=E[(X-E[X])^n]=\sum_i (x_i-E[X])^n P(x_i)$$
	p The variance is the second central moment.
	h3
		b Standardised moments
	p The \(n\)th standardised moment of variable \(X\) is defined as:
	p \(\frac{E[(X-E[X])^n]}{(E[(X-E[X])^2]^\frac{n}{2}}=\frac{\mu_n}{\sigma^n}\)
	h3
		b Kertosis
	p Kertosis is the third standardised moment.
	h3
		b Skew
	p Skew is the fourth standardised moment.
