extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Markov's inequality and Chebyshev's inequality
block subSubContent
	h3
		b Lemma 1
	$$E[I_{X\ge a}]=P(X\ge a)$$
	p Consider the indicator function.
	p $$I_{X\ge a}$$
	p This is equal to \(0\) if \(X\) is below \(a\) and \(1\) otherwise.
	p We can take expectations of this.
	p $$E[I_{X\ge a}]=P(X\ge a).1+P(X<a).0=P(X\ge a)$$
	p $$E[I_{X\ge a}]=P(X\ge a)$$
	h3
		b Lemma 2
	p $$aI_{X\ge a}\le X$$
	p While \(X\) is below \(a\) the left side is equal to \(0\), which holds.
	p While \(X\) is equal to \(a\) the left side is equal to \(X\), which holds.
	p While \(X\) is above \(a\) the left side is equal to \(a\), which holds.

	h3
		b Markov’s inequality
	p $$P(X\ge a)\le \frac{\mu  }{a}$$
	p From above:
	p $$aI_{X\ge a}\le X$$
	p We can take expectations of both sides:
	p $$E[aI_{X\ge a}]\le E[X]$$
	p $$aP(X\ge a)\le E[X]$$
	p $$P(X\ge a)\le \frac{\mu  }{a}$$

	h3
		b Chebyshev’s inequality
	p We know from Markov’s inequality that:
	p $$P(X\ge a)\le \frac{\mu }{a}$$
	p Let’s take the variable \(X\) to be \((X-\mu )^2\)
	p $$P((X-\mu )^2\ge a)\le \frac{E[(X-\mu )^2]}{a}$$
	p $$P((X-\mu )^2\ge a)\le \frac{\sigma^2}{a}$$
	p $$P(|X-\mu | \ge \sqrt{a})\le \frac{\sigma^2}{a}$$

	p Take \(a\) to be a multiple \(k^2\) of the variance \(\sigma^2\).
	p $$a=k^2\sigma^2$$
	p $$P(|X-\mu | \ge k\sigma )\le \frac{\sigma^2}{k^2\sigma^2}$$
	p $$P(|X-\mu | \ge k\sigma )\le \frac{1}{k^2}$$
