extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Salting
block subSubContent
	h3
		b Introduction
	p It is possible to brute force hashes, especially for smaller inputs such as short passwords.

	p If password hashes for a hashing algorithm were brute forced, then passwords could easily be recovered from another hash table.

	p To prevent this a salt can be added to the document.

	p If a password is "apple", then instead the salt "xyz" could be added to create "applexyz". This prevents the previous cracking of "apple" to be used.

	p The salt would then be stored in plaintext alongside the password hash.

