extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Likelihood function
block subSubContent
	h3
		p Likelihood function
	p \(P(X|\theta )\)
	p We want to estimate parameters. One way of looking into this is to look at the likelihood function:
	p If this has high peaks then it provides information that \(\theta \) is located in this region.
	p Consider:
	p \(\frac{\delta }{\delta \theta }\log f(X, \theta ) \)
	p This is the differential of the log probability. We can show that the expected value of this is \(0\).
	p \(E[\frac{\delta }{\delta \theta }\log f(X, \theta ) |\theta ]=0\)
	p The Fisher information is the variance:
	p \(E[(\frac{\delta }{\delta \theta }\log f(X, \theta ))^2 |\theta ]\)
	p \(E[\frac{\delta^2 }{\delta \theta^2 }\log f(X, \theta ) |\theta ]\)
