extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Minimum Mean Square Error (MMSE)
block subSubContent
	h3
		b Definition
	p Mean estimate.
	p Can do for a parameter, or for a predicted estimate for \(y\).
	h3
		b Other

	p Mean estimate

	p Can do for a parameter, or for a predicted estimate for y

	p Linear models

	p MLE is same as y^2 loss

	p MAP is same as y^2 loss with regularisation

