extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Predictions and parameters
block subSubContent
	h3
		b Intro
	p prediction doesn't require unbiased parameters, policy does.
	p know true values for prediction, so can test. not so for parameters


