extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Hash collision
block subSubContent
	h3
		b Hash collisions
	p Can i find any two matching messages?
	h3
		b Hash collision attacks
	p I can get someone to vouch for one of the messages, and then claim they vouched the other.
	h3
		b Hash collision defence
	p 
