extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Pre-image attacks
block subSubContent
	h3
		b Pre-image attacks
	p Given hash value h, can we find message m?
	h3
		b Defence from pre-image attacks

