extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Second pre-image attacks
block subSubContent
	h3
		b Second pre-image attacks
	p given m_1, can we find m_2 with same hash?
	h3
		b Defence from second pre-image attacks
