extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cauchy sequences

block subSubContent
	h3
		b Cauchy sequence
	p A cauchy sequence is a sequence such that for an any arbitrarily small number \(\epsilon\), there is a point in the sequence where all possible pairs after this are even closer together.
	$$(\forall \epsilon >0)(\exists N\in \mathbb{N}: \forall m,n \in \mathbb{N} >N)( |a_m - a_n|<\epsilon)$$
	p This last term gives a distance between two entries. In addition to the number line, this could be used on vectors, where distances are defined.
	p As a example, \(\frac{1}{n}\) is a cauchy sequence, \(\sum_i \frac{1}{n}\) is not.
	h3
		b Completeness
	p Cauchy sequences can be defined on some given set. For example given all the numbers between \(0\) and \(1\) there are any number of different cauchy sequences converging at some point.
	p If it is possible to define a cauchy sequence on a set where the limit is not in the set, then the set is incomplete.
	p For example, the numbers between \(0\) and \(1\) but not including \(0\) and \(1\) are not complete. It is possible to define sequences which converge to these missing points.
	p More abstractly, you could have all vectors where \(x^2+y^2<1\). This is incomplete (or open) as sequences on these vectors can converge to limits not in the set.
	p Cauchy sequences are important when considering real numbers. We could define a sequence converging on \(\sqrt 2\), but as this number is not in the set, it is incomplete.

