extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Incompleteness of the real numbers
block subSubContent
	h3
		b The square root of \(2\) is not a rational number
	p Let's prove there are numbers which are not rational. Consider \(\sqrt 2\) and let's show that it being rational leads to a contradiction.
	$$\sqrt 2=\frac{x}{y}$$
	p $$2=\frac{x^2}{y^2}$$
	p $$2y^2=x^2$$
	p So we know that \(x^2\) is even, and can be shown as \(x=2n\).
	p $$2y^2=(2n)^2$$
	p $$y^2=2n^2$$
	p So \(y\) is even. But if both \(x\) and \(y\) are even, then the fraction was not reduced.
	p This presents a contraction so the original statement must have been false.

	p So we know there isn't a rational solution to \(\sqrt 2\).
