extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Density of rationals and reals

block subSubContent
	h3
		b Rationals are dense in reals
	p 
	h3
		b Reals are dense in reals
	p 
	h3
		b Reals are dense in rationals
	p 
