extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cesàro sum

block subSubContent
	h3
		b Cesàro sum
	p The Cesàro sum is the limit of the average of the first \(n\) partial sums.
	p That is:
	p \(\lim_{n\rightarrow \infty }\frac{1}{n}\sum_{k=1}^ns_k\)
	p Consider the sequence \(\{1,-1,1,-1,...\}\)
	p The partial sum is:
	p \(s_k=\sum_{i=1}^ka_i\)
	p \(s_k=k\mod(2)\)
	p The Cesàro sum is:
	p \(\lim_{n\rightarrow \infty }\frac{1}{n}\sum_{k=1}^ns_k\)
	p \(\lim_{n\rightarrow \infty }\frac{1}{n}\sum_{k=1}^nk\mod(2)\)
	p \(\frac{1}{2}\)
