extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Limit of a sequence

block subSubContent
	h3
		b Definition

	p A sequence converges to a limit if
	p Can converge to a number (1/x)
	p Can converge to +/- infinity (x)
	p Otherwise, does not converge (1,-1,1,-1…)
	p Superior and inferior limits

	p A bounded increasing sequence converges to least upper bound
	h3
		b Identifying the limit of a sequence

	p
		b Direct comparison test

	p
		b Root test

