extends ./subSubTemplate.jade

block subSubTitle
	h1
		b \(\sigma \)-algebra
block subSubContent
	h3
		b Review of algebra on a set
	p An algebra, \(\Sigma \), on set \(s\) is a set of subsets of \(s\) such that:
	ul
		li Closed under intersection: If \(a\) and \(b\) are in \(\Sigma \) then \(a\land b\) must also be in \(\Sigma \)
		ul 
			li \(\forall ab [(a \in \Sigma \land b \in \Sigma )\rightarrow (a\land b \in \Sigma)]\)
		li Closed under union: If \(a\) and \(b\) are in \(\Sigma \) then \(a\lor b\) must also be in \(\Sigma \).
		ul 
			li s\(\forall ab [(a \in \Sigma \land b \in \Sigma )\rightarrow (a\lor b \in \Sigma)]\)
	p If both of these are true, then the following is also true:
	ul
		li Closed under complement: If \(a\) is in \(\Sigma \) then \(s \backslash a\) must also be in \(\Sigma \)	
	p We also require that the null set (and therefore the original set, null's complement) is part of the algebra.
	h3
		b \(\sigma \)-algebra
	p A \(\sigma \)-algebra is an algebra with an additional condition:
	p All countable unions of sets in \(A\) are also in \(A\).
	p This adds a constraint. Consider the real numbers with an algebra of all finite sets.
	p This contains all finite subsets, and their complements. It does not contain \(\mathbb_{N}\).
	p However a \(\sigma \)-algebra requires all countable unions to be including, and the natural numbers are a countable union.
	p The power set is a \(\sigma \)-algebra. All other \(\sigma \)-algebras are subsets of the power set.
