extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Products

block subSubContent
	h3
		b Products
	p A product is a repeated multiplication of a sequence.
	
	p $$p_n=\prod_{i=0}^ns_i$$
	h3
		b Multiplication of products
	p We can take constants out of the product.
	p $$p_n=\prod_{i=0}^nca_i$$
	p $$p_n=a^{n}\sum_{i=0}^na_i$$
	h3
		b Products of constants
	p If \(a_i=c\) then the summation is then of the form:
	p $$p_n=\prod_{i=0}^nc$$
	p $$p_n=c^{n}\prod_{i=j}^n1$$
	p $$p_n=c^{n}$$
	h3
		b Combining products
	p If a sequence is the product of to other sequences then the product of the sequence is equal to the product of the two individual sequences.
	p \(p_n=\prod_{i=0}^na_i\)
	p \(p_n=\prod_{i=0}^nb_ic_i\)
	p \(p_n=\prod_{i=0}^nb_i\prod_{i=0}^nc_i\)
