extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Series

block subSubContent
	h3
		b Definition
	p A series is the summation of a sequence. For a series \(a_n\) there is a corresponding series:
	p $$s_n=\sum_{i=0}^na_n$$
	p Where:
	p $$\sum_{i=0}^na_i=a_0+a_1+a_2+...+a_n$$
	h3
		b Multiplication of summations
	p If all members of a sequence are multiplied by a constant, so is each member of the series.
	p We can take constants out of the series:
	p $$s_n=\sum_{i=0}^na_i$$
	p $$s_n=\sum_{i=0}^ncb_i$$
	p $$s_n=a\sum_{i=0}^nb_i$$
	h3
		b Summation of constants
	p If all elements of a sequence are the same, then the series is a multiple of that constant.
	p $$s_n=\sum_{i=0}^na_i$$
	p $$s_n=\sum_{i=0}^nc$$
	p $$s_n=nc$$
	h3
		b Addition of summations
	p Consider a sequence \(a_i=b_i+c_i\).
	p
	p $$s_n=\sum_{i=0}^na_i$$
	p $$s_n=\sum_{i=0}^n(b_i+c_i)$$
	p We can then split this out.
	p $$s_n=\sum_{i=0}^nb_i+\sum_{i=0}^nc_i$$
	h3
		b Summation from a different start point
	p $$\sum_{i=0}^na_i=a_0+\sum_{i=1}^na_i$$
	h3
		b Multiple summations
	p $$\sum^n_{i=0} \sum^m_{j=0} a_i=n\sum^m_{j=0} a_i$$
	p $$\sum^n_{i=0} \sum^m_{j=0} a_i b_j=\sum^n_{i=0}a_i\sum^m_{j=0}b_i$$
