extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Summation

block subSubContent
	h3
		b Summation
	p The summation function adds up a series of numbers.
	p $$t=\sum_{i=j}^nf(i)$$
	h3
		b Multiplication of summations
	p If all members of the series are multiplied by a constant, so is the summation.
	p We can take constants out of the series:
	p $$t=\sum_{i=j}^naf(i)$$
	p $$t=a\sum_{i=j}^nf(i)$$
	h3
		b Summation of constants
	p If all values of \(f(i)\) are the same then \(f(i)=c\). The summation is then of the form:
	p $$t=\sum_{i=j}^nc$$
	p $$t=c\sum_{i=j}^n1$$
	p $$t=c(n-j)$$
	h3
		b Combining summations
	p With two summations of the same size, we can combine the sums:
	p $$t=(\sum_{i=j}^nf(i))+(\sum_{i=j}^ng(i))$$
	p $$t=\sum_{i=j}^nf(i)+g(i)$$
	p We can then define \(h(i)=f(i)+g(i)\):
	p $$t=\sum_{i=j}^nh(i)$$
