extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bank failure
block subSubContent
	h3
		b Introduction
	p Banks hold reserves to cushion against both an increase in withdrawals from depositors and in case their investments do not pay off. So what happens if reserves aren’t sufficient? This depends on whether the issue is on their liabilities (i.e. a run on the bank, causing a liquidity problem) or their assets (i.e. their investments turn sour, causing a solvency problem).
	p In the former case, the bank still has healthy assets but they may be unable to demand early repayment from those they have lent money to. One solution to this is for the bank itself to get a loan from another bank, to bridge this gap.
	p What if the underlying assets are weak and the bank cannot get a private loan? The bank fails. In addition to depositors not being able to access their money, this tends to increase the amount of reserves desired to be held by banks, decreasing the money supply.
	p The solvency of a bank depends on the quality of its assets, which may be hard for another bank to evaluate. This creates an information asymmetry problem, and leads to more cautious lending from banks.

