extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bank finance
block subSubContent
	h3
		b Introduction
	p If the bank wants to raise money for lending it can:
	ul
		li Attract more deposits
		li Raise equity
		li Issue debt
	p Let’s consider the latter two in more detail. Both issuing shares and debt will provide cash for reserves, but they create different risks. Repayments on deposits are made when depositors decide to take money out of the bank, repayments on equity are made when the bank decides to pay dividends, and repayments on debt are made as set out in the debt issue.
	p These present different risks – using deposits puts you at risk of depositors withdrawing all at the same time, debt means that you may not have income to pay your debts.
	p Banks use a mix of different methods of raising money, reflecting these risks and the different costs.
	p Banks can lend to each other on the interbank market, and often do on a short term basis.

