extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Central banks
block subSubContent
	h3
		b Introduction
	p Central banks are government institutions which manages a state’s currency.
	p Central banks can create base currency, including by paying interest on reserves held and by purchasing assets using new money.
	h4 Lender of last resort
	p While other banks may be able to finance a solvent bank with liquidity problems, a central bank may want to do this even if private banks do not, because of the knock on impact of the collapse of a bank.
	p This provides incentives for banks to take excessive risk. Central banks attempt to manage this risk elsewhere, for example with reserve requirements.
	h3
		b Issuing fiat currency
	p Central banks issue their own currency for commercial banks to hold as base money. The currency could be claims on gold, but doesn’t have to be, and today broadly isn’t.
	p Commercial banks then hold central bank currency as reserves, and control the supply of central bank money.
	h3
		b Controlling money supply
	p Central banks can manipulate the supply of money and inflation in many ways.
	h3
		b  Reserve requirements
	p Central banks can set reserve requirements for banks. If binding, this affects the money multiplier.
	h3
		b Open market operations
	p In the US banks lend to one another. The US Federal Reserve (the Fed) takes a measure of different lending rates to construct the Federal Funds Effective Rate, and targets a value for this rate. The Fed engages in repos and reverse repos to create or remove money until this is hit.
	p In a repo the Fed buys a security from a bank with new cash, and with the agreement that the bank will repurchase the security at a specified date with a specified price. This increases the supply of money, and therefore reduces the cost of interbank borrowing. A reverse repo works the opposite way.
	p Quantitative easing is similar, and involves large scale purchases of assets. Unlike standard OMO quantitative easing target assets with a longer maturity, and so the central bank can simultaneously target the interbank overnight lending rate.
	p Undertaking such operations gives the central bank a balance sheet of financial assets.
	h3
		b Interest on reserves
	p Central banks can pay interest on the reserves held by commercial banks. This can be different for reserves above the required level.
	p Paying interest on required reserves increases the money supply and reduces the opportunity cost of depositing at the Fed. This removes the effective tax on reserves.
	p By paying interest on excess reserves the Fed reduces the incentive to lend elsewhere, and incentivises banks to hold additional reserves, compared to a given interbank lending rate.
	h3
		b Discount window
	p In addition to depositing at the central bank, banks can also borrow from it. This tends to be higher than interbank lending rates, and so is only used significantly in extreme circumstances.
	p In the UK it is this rate which is the official bank rate, with interbank lending rates (LIBOR) not directly managed.
	h3
		b Zero lower bound
	p If the central bank targets a lending rate of below 0%, a lender can obtain a better rate by holding physical cash instead. The zero lower bound refers to the limit of lending rates to be sustained at volume much below 0%.

