extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Full reserve banking
block subSubContent
	h3
		b Introduction
	p 	h4 Full reserve banking
	p Let’s introduce a banker to those villagers, who sets up First Shell Bank. This bank is simply a location to store shells. This activity doesn’t really change anything. If Alice needs another fishing rod she still as to persuade the same people to lend her the money, although now this will just involve putting the shells in a different box in the bank.
	p This bank keeps all of its assets as reserves, and so cannot itself lend to Alice.

