extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Policy goals
block subSubContent
	h3
		b Targets
	p Central banks can use monetary policy to achieve goals. Monetary policy directly affects inflation and exchange rates, but also losses in output which result from the stickiness of prices.
	p Due to the interaction of each of these targets, there are trade-offs in pursuing multiple goals. Reducing output volatility could require volatile inflation, and stabilising the exchange rate could destabilise inflation and output.
	h3
		b Export promotion
	p The theory behind currency manipulation is that by devaluating a currency exports are more competitive and so GDP will rise.
	p If a currency is devalued by printing large amounts of money, this will make exports cheaper temporarily if they take time to adjust their nominal prices upwards.
	p If a currency is devalued by imposing capital controls and intervening in capital markets, then the relative price of exports can be maintained below the level it would otherwise be at.

