extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Reserve currencies
block subSubContent
	h3
		b Introduction
	p Trade in financial assets is concentrated in relatively few currencies, including the US dollar. This means that investors in other countries need to hold dollars in order to be able to trade key assets.
	p This does not include non-cash assets such as US treasuries.
	p What impact does this have on the country with the reserve currency? Holding US dollars means the US made a purchase, and the cash from this purchase has not either been invested in the US, or used to import US goods. As a result, for the duration that the US dollar is used for reserves the US can maintain a larger current account deficit.
	p If the US no longer is used in such a way the dollars would then be used either to import US goods or to invest in the US.
