extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Securities
block subSubContent
	h3
		b Introduction
	p Alice wants to build a new fishing rod to catch more fish, but doing so will require a lot of resources from others. She has to persuade others to lend her shells, and in return she promises to pay back more shells in future with all extra shells she’ll get from selling more fish.
	p The other villagers are now saving. They are consuming less, and this surplus is being used by Alice. Note that the villagers are not necessarily holding a different amount of shells as a result of this activity. The value, in shells, of this investment is equal to the value of savings.

	p Discussion of debt and equity here?

