extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Shadow banking
block subSubContent
	h3
		b Introduction
	p Non-banks also undertake lending. If an investment vehicle attracts savers and uses this money to lend to a company, this also increases the money supply, even though the investment vehicle is not a deposit taking bank.

