extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Stockpiling
block subSubContent
	h3
		b Introduction
	p h4 Savings
	p Alice starts cutting back on meat to save shells for the future. This gives Bob a dilemma; he has less income so he can either:
	ul
		li Continue spending, drawing down on his shells; or
		li Spend less (for simplicity, on fish).
	p In the first case Alice’s savings are equal to Bob’s “borrowing”, and net saving is zero. In the second case, Alice can’t get the extra shells to save, because Bob is not buying her fish. Net savings are also zero.
	p This is cash saving. In the real world total savings can be above zero because of stockpiling and investment.
	h4 Stockpiling
	p Let’s consider what happens if Alice tries to save money by producing more fish. If she uses the additional shells from this to buy more goods, she hasn’t saved. If she doesn’t sell them she hasn’t acquired any additional shells.
	p While building up stockpiles isn’t giving Alice more money now, the economy is producing more that it is consuming, and so this is an investment in the future.

