extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Analytic optimisation

block subSubContent
	h3
		b Convex and concave functions
	p Convex functions only have one minimum, and concave functions have only one maximum.
	p If a function is not concave or convex, it may have multiple minima
	
	p If a function is convex, then there is only one critical point – the local minimum. We can identify this this by looking for critical points using first-order conditions.
	p Similarly, if a function is concave, then there is only one critical point – the local maximum.
	p We can identify whether a function is concave or convex by evaluating the Hessian matrix.
	h3
		b Evaluating multiple local optima
	p We can evaluate each of the local minima or maxima, and compare the sizes.


	p We can identify these by taking partial derivatives of the function in question and identifying where this function is equal to zero.
	p $$u=f(x)$$
	p $$u_{x_i}=\frac{\delta f}{\delta x_i}=0$$
	p We can then solve this bundle of equations to find the stationary values of \(x\).
	
	p After identifying the vector \(x\) for these points we can then  determine whether or not the points are minima or maxima by  examining the second derivative at these points. If it is positive it is a local minima, and therefore not an optimal point. Points beyond these will be higher, and may be higher than any local maxima.

