extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Constrained envelope theorem

block subSubContent
	h3
		b Introduction
	p If we want to choose \(x\) to maximise f(x,\alpha ) subject to g(x,\alpha )\ge 0, we can write this as:
	p \mathcal{L}(x,\lambda ,\alpha) = f(x,\alpha )+\lambda g(x,\alpha )
	p This has a solution with \(x=x^*(\alpha )\) and \(\lambda = \lambda^*(\alpha )\). We can write this as:
	p \mathcal{L^*}( \alpha) = f(x^*(\alpha ),\alpha )+\lambda g(x^*(\alpha ),\alpha )

