extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Descent algorithms

block subSubContent
	h3
		b Introduction
	p 
	h3
		b Stochastic gradient descent
	p 
	h3
		b Hessian descent
	p 
	h3
		b Momentum descent
	p 

