extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Primal and dual problems

block subSubContent
	h3
		b The primal problem
	p We already have this.
	h3
		b The dual problem
	p We can define the Lagrangian dual function:
	p \(g(\lambda, \nu ) = \inf_{x\in X} \mathcal{L}(x, \lambda ,\nu )
	p That is, we have a function which chooses the returns the value of the optimised Lagrangian, given the values of \(\lambda \) and \(\nu\).
	p This is an unconstrained function.
	p We can prove this function is concave (how?).
	p The infimum of a set of concave (and therefore also affine) functions is concave.
	p The supremum of a set of convex (and therefore also affine) functions is convex.


	p Given a function with inputs \(x\), what values of \(x\) maximise the function?
	p We explore constrained and unconstrained optimisation. The former is where restrictions are placed on vector \(x\), such as a budget constraint in economics.

	h3
		b The dual problem is concave
	h3
		b The duality gap
	p We refer to the optimal solution for the primary problem as \(p^\), and the optimal solution for the dual problem as \(d^*\).

	p The duality gap is \(p^*-d^*\).
