extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Single equality constraint

block subSubContent
	h3
		b Constrained optimisation
	p Rather than maximise \(f(x)\), we want to maximise \(f(x)\) subject to \(g(x)=0\).
	p We write this, the Lagrangian, as:
	p $$\mathcal{L}(x,\lambda )=f(x)-\sum^m_k\lambda_k [g_k(x)-c_k]$$
	p We examine the stationary points for both vector \(x\) and \(\lambda \). By including the latter we ensure that these points are consistent with the constraints.
	h3
		b Solving the Langrangian with one constraint
	p Our function is:
	p $$\mathcal{L}(x, \lambda )=f(x)-\lambda [g(x)-c]$$
	p The first-order conditions are:
	p $$\mathcal{L}_{\lambda }= -[g(x)-c]$$
	p $$\mathcal{L}_{x_i}=\frac{\delta f}{\delta x_i}-\lambda \frac{\delta g}{\delta x_i}$$
	p The solution is stationary so:
	p $$\mathcal{L}_{x_i}=\frac{\delta f}{\delta x_i}-\lambda \frac{\delta g}{\delta x_i}=0$$
	p $$\lambda \frac{\delta g}{\delta x_i}=\frac{\delta f}{\delta x_i}$$
	p $$\lambda =\frac{\frac{\delta f}{\delta x_i}}{\frac{\delta g}{\delta x_i}}$$
	p Finally, we can use the following in practical applications.
	p $$\frac{\frac{\delta f}{\delta x_i}}{\frac{\delta g}{\delta x_i}}=\frac{\frac{\delta f}{\delta x_j}}{\frac{\delta g}{\delta x_j}}$$

