extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Farkas' lemma

block subSubContent
	h3
		b The lemma
	p We have matrix \(A\) and vector \(b\).

	p Either:
	ul
		li \(Ax=b\); \(x\ge 0\)
		li \(A^Ty\ge 0\); \(b^Ty<0\)
	h3
		b Proof
	p 


