extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Inequality constraints

block subSubContent
	h3
		b Lagrangians with inequality constraints
	p We can add constraints to an optimisation problem. These constraints can be equality constraints or inequality constraints. We can write constrained optimisation problem as:
	p Minimise \(f(x)\) subject to 
	p \(g_i(x)\le 0\) for \(i=1,…,m\)
	p \(h_i(x)=0\) for \(i=1,…,p\)
	p We write the Lagrangian as:
	p \(\mathcal{L}(x, \lambda, \nu )=f(x)+\sum_{i=1}^m\lambda_i g_i(x)+\sum_{i=1}^p\nu_ih_i(x)\)
	p If we try and solve this like a standard Lagrangian, then all of the inequality constraints will instead by equality constraints.
	h3
		b Affinity of the Lagrangian
	p The Lagrangian function is affine with respect to \(\lambda \) and \(\nu \).
	p \(\mathcal{L}(x, \lambda, \nu )=f(x)+\sum_{i=1}^m\lambda_i g_i(x)+\sum_{i=1}^p\nu_ih_i(x)\)
	p \(\mathcal{L}_{\lambda_i}(x, \lambda, \nu )=g_i(x)\)
	p \(\mathcal{L}_{\nu_i}(x, \lambda, \nu )=h_i(x)\)
	p As the partial differential is constant, the partial differential is an affine function.

