extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Introduction to unconstrained optimisation

block subSubContent
	h3
		b Goals
	p We want to identify either the maximum or the minimum.
	p There exist local minima and global minima.
	h3
		b Optimising through limits
	p If we are looking to minimise a function, and the limits are \(\infty\) or \(-\infty\) then we can optimise by taking large or small values.
	p We can examine this for each variable.
	p This also applies for maximising a function.

	h3
		b Optimisation through stationary points
	p Stationary points of a function are points where marginal changes do not have an impact on the value of the function. As a result they are either local maxima or minima.


	h3
		b Optimisation through algorithms
	p If we cannot identify stationary points easily, we can instead use algorithms to identify optima.
	h3
		b Stationary points of strictly concave and convex functions
	p If a function is strictly concave it will only have one stationary point, a local, and global, maxima.
	p If a function is strictly convex it will only have one stationary point, a local, and global, minima.
