extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Karush-Kuhn-Tucker conditions

block subSubContent
	h3
		b Introduction
	p If our problem is non-convex, or if Slater's condition does not hold, how else can be find a solution?

	p A solution, \(p^*\) can satisify KKT conditions.

