extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Slater's condition

block subSubContent
	h3
		b Strong duality
	p Strong duality is where the duality gap is \(0\).

	h3
		b Slater's condition

	p Slater's condition says that strong duality holds if there is an input where the inequality constraints are satisified strictly.

	p That is they are \(g(x)<0\), not \(g(x)\le 0\)

	p This means that the conditions are slack.

	p This only applies if the problem is convex. That is, if Slater's condition holds, and the problem is convex, then strong duality holds.y

