extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Embeddings and immersions
block subSubContent
	h3
		b Introduction
	p whitney embedding theroem: all manfiolds can be embedded in R^n space for some n

