extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Holes and genuses
block subSubContent
	h3
		b Introduction
	p 
	h3
		b Genus
	p The genus of a topology is the number of holes in the topology.

