extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Paths and loops
block subSubContent
	h3
		b Paths
	p We have the set \(X\). We define a mapping \([0,1]\rightarrow X\)

	p If a path exists between any two points, then the space is path-connected.
	h3
		b Loops
	p This is a path which ends on itself.

	p If \(f(0)=f(1)\) then it is a loop.
