extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Bundle projection
block subSubContent
	h3
		b Introduction
	p This is a projection from any point on any of the fibres, to the underlying base manifold.
