extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Submanifolds
block subSubContent
	h3
		b Introduction

	p submanifold: subset of manifold which is also manifold

	p eg: circle inside a sphere


