extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Vector bundles
block subSubContent
	h3
		b Introduction
	p A vector bundle consists of a base manifold (a base space), and a real vector space at each point in the base manifold.
	h3
		b Example
	p For example we can have a base manifold of a circle, and have a \(1\)-dimensional vector space at each point on the circle to create an infinitely extended cylinder.


