extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Vector bundles
block subSubContent
	h3
		b Introduction
	p a vector bundle is a set of vector spaces described by another object.

	p a manifold has a vector bundle, its tangent spaces
