extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Beta function

block subSubContent
	h3
		b Introduction
	p The beta function expand the binomial coefficient formula to the real (and complex) numbers.
	p We want to expand the binomial coefficient function.

	p \((\frac{n}{k})=\frac{n!}{k!(n-k)!}\)

	p We do this as:

	p \(B(x, y)=\frac{\Gamma(x)\Gamma(y)}{\Gamma(x+y)}\)

