extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Dirac delta

block subSubContent
	h3
		b Kronecker delta
	p The function is: \(\delta_{ij} \)
	p If \(i=j\) this is \(1\). Otherwise it is \(0\).
	p We introduced this in linear algebra.

	h3
		b Dirac delta
	p The Dirac delta replaces the Kronecker delta for continuous functions.
	p That is, we want:
	ul
		li \(\delta (x\ne 0)=0\)
		li \(\delta (0)=+\infty\)
		li \(\int_{-\infty }^{\infty}\delta (x)dx=1\)

