extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Gamma function

block subSubContent
	h3
		b Introduction
	p The gamma function expands the factorial function to the real (and complex) numbers
	p We want:

	p \(f(1)=1\)

	p \(f(x+1)=xf(x)\)

	p There are an infinite number of functions which fit this. The function could fluctuate between the natural numbers.

 

	p The function we use is:

	p \(\Gamma (z)=\int_0^\infty x^{z-1}e^{-x}dx\)

