extends ./singleCell/subSubTemplate.jade
block subSubContent
	h3
		b Components prokaryotic cells
	p
		a(href="./singleCell/nucleoid") Nucleoid
	p
		a(href="./singleCell/membrane") Membrane
	p
		a(href="./singleCell/cytoplasm") Cytoplasm
	p
		a(href="./singleCell/ribosome") Ribosome
	h3
		b Optional external parts of prokaryotic cells
	p
		a(href="./singleCell/cellWall") Cell wall
	p
		a(href="./singleCell/flagellum") Flagellum
	p
		a(href="./singleCell/glycocalyx") Glycocalyx
	h3
		b Chemicals in prokaryotic cells
	p
		a(href="./singleCell/glycogen") Glycogen
	p
		a(href="./singleCell/lipids") Lipids
	h3
		b Prokaryotic cell reproduction
	p
		a(href="./singleCell/fission") Fission
	h3
		b Types of prokaryotic cells
	p
		a(href="./singleCell/bacteria") Bacteria
	p
		a(href="./singleCell/archaea") Archaea
	h3
		b Eukaryotic cells
	p
		a(href="./singleCell/nucleus") Cell nucleus
	p
		a(href="./singleCell/mitochondria") Mitochondria
	p
		a(href="./singleCell/mitosis") Mitosis

