extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Constraint Satisfaction Problem
block subSubContent
	h3
		b Introduction
	p for active learning, only need to update covariance matrix? just needed to select one with highest variance

	p active learning is greedy algorithm to reduce entropy

	p as we get more info, our posterior becomes our new prior

	p if we can pick observations to use  to update model, can use those with biggest variance

	p can be useful if getting y is expensive. requires experiement etc

	p 4 steps:
	ul
		li Form p(y_0|x_0,y,X) for all unmeasured \(x_0\).
		li Choose \(x_0\) with the largest \(\sigma_0^2\) and observe \(y_0\)
		li Updated the parameters with this.
		li repeat

	p \(\sigma_0^2 =\sigma^2+x_0^T\Sigma x_0\)

	p Updating Sigma and mu for bayesian linear:
	p \(\Sigma = (\lambda I + \sigma^{-2}(x_0x_o^T+\sum_{i=1}^nx_ix_i^T))^{-1}\)
	p \(\mu = (\lambda \sigma^2I+ x_0x_0^T+\sum_{i=1}^nx_ix_i^T)^{-1}(x_0y_0+\sum_{i=1}^nx_iy_i)\)

	p Once we have  an \(x_0\) we can easily get \(\mu_0\) by calculating \(x_0^T\mu\). Multiplying by the mean weights.
	p We can also get the variance of the estimate:
	p \(\sigma^2_0=\sigma^2+x_0^T\Sigma
