extends ./gameImperfect/subSubTemplate.jade
block subSubContent
	h3
		b Intro
	p
		a(href="./environmentDeterministic/") 
 	h3
		b (states, state evolution, static and dynamic environments, discrete and continuous environments, episodic and sequential environments)
