extends ./gameTheory/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./gameTheory/gameMotivation") Interaction between agents
	h3
		b Simple games
	p
		a(href="./gameTheory/gameSequential") One round sequential games
	p
		a(href="./gameTheory/gameSimultaneous") One round simultaneous games
	h3
		b Solving games
	p
		a(href="./gameTheory/miniMax") Minimax theory

