extends ./gameTheory/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./gameTheory/gameMotivation") Interaction between agents
	h3
		b Sequential games
	p
		a(href="./gameTheory/gameSequential") One round sequential games
	p
		a(href="./gameTheory/gameSequential") Backwards induction
	p
		a(href="./gameTheory/gameSequential") Zero-sum games
	p
		a(href="./gameTheory/gameSequential") Subgame perfect equilibrium
	p
		a(href="./gameTheory/gameSequential") Nash equilibrium
	p
		a(href="./gameTheory/miniMax") Minimax theory
	h3
		b Simultaneous games
	p
		a(href="./gameTheory/gameSimultaneous") One round simultaneous games
	p
		a(href="./gameTheory/gameSimultaneous") Mixed strategies
	h3
		b Hedonic games
	p
		a(href="./gameTheory/hedonic") Hedonic games


