extends ./gameTheoryDeep/subSubTemplate.jade
block subSubContent
	h3
		b Efficient search
	p
		a(href="./gameTheoryDeep/pruning") Late move reductions
	p
		a(href="./gameTheoryDeep/pruning") Alpha-beta pruning
	h3
		b Partial evaluations
	p
		a(href="./gameTheoryDeep/heuristics") Heuristics
	p
		a(href="./gameTheoryDeep/heuristicsIdentify") Identifying heuristics
	p
		a(href="./gameTheoryDeep/MCTS") Monte-Carlo Tree Search

