extends ./gameImperfect/subSubTemplate.jade
block subSubContent
	h3
		b Games with incomplete information
	p
		a(href="./gameImperect/") 
	h3
		b Games with imperfect information
	h3
		b Bayesian games

