extends ./gameTheoryDeep/subSubTemplate.jade
block subSubContent
	h3
		b Efficient search
	p
		a(href="./gameTheoryDeep/pruning") Alpha-beta pruning
	p
		a(href="./gameTheoryDeep/LMR") Late Move Reductions (LMR)
	h3
		b Partial evaluations
	p
		a(href="./gameTheoryDeep/heuristics") Heuristics
	p
		a(href="./gameTheoryDeep/heuristicsIdentify") Identifying heuristics
	h3
		b Monte-Carlo Tree Search
	p
		a(href="./gameTheoryDeep/MCTS") Monte-Carlo Tree Search
	p
		a(href="./gameTheoryDeep/UCT") Upper Confidence bound 1 applied to Trees (UCT)
	p
		a(href="./gameTheoryDeep/definition") Defining board games
	h3
		b Training with reinforcement learning
	p
		a(href="./gameTheoryDeep/reinforcement") Reinforcement learning for combinatorial games
	h3
		b Other
	p
		a(href="./gameTheoryDeep/NNObservation") Processing visual observations using neural networks
	p
		a(href="./gameTheoryDeep/replay") Experience replay and catastrophic interference
	p
		a(href="./gameTheoryDeep/replay") Training with supervised learning (eg human chess games)

