extends ./gameTheory/subSubTemplate.jade
block subSubContent
	h3
		b Game theory
	p
		a(href="./gameTheory/gameMotivation") Motivation
	p
		a(href="./gameTheory/gameTypes") Types of games
	p
		a(href="./gameTheory/agents") Rational agents
	p
		a(href="./gameTheory/miniMax") Minimax theory
	p
		a(href="./gameTheory/gameSimultaneous") Simultaneous games
	p
		a(href="./gameTheory/gameSequential") Sequential games

