extends ./intertemporal/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./intertemporal/intertemporal") Intertemporal decision theory
	h3
		b Types of discounting
	p
		a(href="./intertemporal/exponential") Exponential discounting
	p
		a(href="./intertemporal/hyperbolic") Hyperbolic discounting
	p
		a(href="./intertemporal/quasiHyperbolic") Quasi-hyperbolic discounting

	h3
		b Intertemporal economics
	p
		a(href="./intertemporal/interDiscounting") Discounting
	p
		a(href="./intertemporal/interEuler") Euler's equation
	p
		a(href="./intertemporal/interHyperbolic") Hyperbolic discounting

