extends ./knowledge/subSubTemplate.jade
block subSubContent
	h3
		b Storing knowledge
	p
		a(href="./knowledge/RDF") Resource Description Framework (RDF)
	p
		a(href="./knowledge/graphs") Knowledge bases as graphs
	h3
		b Using knowledge
	p
		a(href="./knowledge/inferring") Inferring facts
	p
		a(href="./knowledge/relational") Relational learning
	p
		a(href="./knowledge/posterior") Prior and posterior confidence
	h3
		b Collecting knowledge

