extends ./MDP/subSubTemplate.jade
block subSubContent
	h3
		b Markov Decision Processes (MDP)
	p
		a(href="./MDP/MDP") Markov Decision Processes
	p
		a(href="./MDP/reward") Intermediate rewards and value functions
	p
		a(href="./MDP/policyIteration") Policy iteration
	p
		a(href="./MDP/valueIteration") Value iteration

