extends ./MDP/subSubTemplate.jade
block subSubContent
	h3
		b Defining Markov Decision Processes (MDPs)
	p
		a(href="./MDP/MDP") Markov chains and value functions
	p
		a(href="./MDP/policies") Actions and policies
	h3
		b Identifying policies
	p
		a(href="./MDP/policyIteration") Policy iteration
	p
		a(href="./MDP/valueIteration") Value iteration

