extends ./NLP/subSubTemplate.jade
block subSubContent
	h3
		b Other
	p
		a(href="./NLP/language") Probabilistic language models
	p
		a(href="./NLP/word2vec") Word2vec
	p
		a(href="./NLP/latentSemantic") Latent Semantic Analysis
	h3
		b Machine translation
	p
		a(href="./NLP/machineTranslation") Machine translation
	h3
		b Speech
	p
		a(href="./NLP/textSpeech") Text-to-speech
	p
		a(href="./NLP/speechText") Speech-to-text

