extends ./POMDP/subSubTemplate.jade
block subSubContent
	h3
		b (inc page on initial knowledge of environment, page on storing observations)
	h3
		b Partially Observable Markov Decision Processes (POMDPs)
	p
		a(href="./reinforcement/POMDP") Unobserved states
	p
		a(href="./reinforcement/POMDP") Partially Observable Markov Decision Processes (POMDP)
	p
		a(href="./reinforcement/MDP") Using POMDP for large state space MDP

