extends ./POMDP/subSubTemplate.jade
block subSubContent
	h3
		b Partially observable environments
	p
		a(href="./POMDP/HMM") Hidden Markov Model (HMM) recap
	p
		a(href="./POMDP/beliefStates") Belief states
	h3
		b Partially Observable Markov Decision Processes
	p
		a(href="./POMDP/POMDP") Partially Observable Markov Decision Processes (POMDPs)
	p
		a(href="./POMDP/polices") Policies for POMDPs
	p
		a(href="./POMDP/valueFunction") Value functions for POMDPs
	p
		a(href="./POMDP/beliefMDP") Belief Markov Decision Processes
	h3
		b Identifying policies
	p
		a(href="./POMDP/valueIteration") Value iteration for POMDPs
	p
		a(href="./POMDP/policyIteration") Policy iteration for POMDPs
	h3
		b POMDPs with infinite states
	p
		a(href="./POMDP/infinite") POMDPs with infinite states

