extends ./reinforcement/subSubTemplate.jade
block subSubContent
	h3
		b Reinforcement learning for Markov Decision Processes
	p
		a(href="./reinforcement/qLearning") Unknown MDP transition matrix
	p
		a(href="./reinforcement/qLearning") Exploration to understand the MDP
	h3
		b Temporal difference learning for Markov Decision Processes
	p
		a(href="./reinforcement/temporalDifference") Temporal difference learning
	h3
		b Q-learning for Markov Decision Processes
	p
		a(href="./reinforcement/qLearning") Q-functions (assigned to every action/state combination), to real. h on q tables, q-values
	p
		a(href="./reinforcement/qLearning") Value iteration for Q
	p
		a(href="./reinforcement/qLearning") \(\epsilon \)-greedy
	h3
		b Q-learning for large state Markov Decision Processes
	p
		a(href="./reinforcement/qLearning") Function approximation for Q (eg NN from state/action to R)
	p
		a(href="./reinforcement/qLearning") Quantisation of states (ie shrink the number of states)
	p
		a(href="./reinforcement/qLearning") End-to-end reinforcement learning
	h3
		b Reinforcement learning for POMDPs
	p
		a(href="./reinforcement/qLearning") Unknown POMDP transition matrix

