extends ./reinforcement/subSubTemplate.jade
block subSubContent
	h3
		b Markov decision processes
	p
		a(href="./reinforcement/MDP") Markov Decision Processes
	p
		a(href="./reinforcement/reward") Intermediate rewards and value functions
	p
		a(href="./reinforcement/policy") Policies
	p
		a(href="./reinforcement/bellman") Bellman equations
	h3
		b Finding policies
	p
		a(href="./reinforcement/policyIteration") Policy iteration
	p
		a(href="./reinforcement/valueIteration") Value iteration
	h3
		b Reinforcement learning without intermediate rewards
	p
		a(href="./reinforcement/qLearning") Q-learning

