extends ./reinforcement/subSubTemplate.jade
block subSubContent
	h3
		b Reinforcement learning without intermediate rewards
	p
		a(href="./reinforcement/qLearning") Q-learning
	h3
		b Temporal difference learning
	p
		a(href="./reinforcement/temporalDifference") Temporal difference learning

