extends ./reinforcement/subSubTemplate.jade
block subSubContent
	h3
		b Markov decision processes
	p
		a(href="./reinforcement/MDP") Markov Decision Processes
	p
		a(href="./reinforcement/bellman") Bellman equations
	p
		a(href="./reinforcement/MCTS") Monte-Carlo Tree Search
	p
		a(href="./reinforcement/qLearning") Q-learning

