extends ./repeated/subSubTemplate.jade
block subSubContent
	h3
		b Finitely repeated games
	p
		a(href="./repeated/discounting") Discounting
	h3
		b Infinitely repeated games
	p
		a(href="./repeated/iteratedPrisoners") Strategies for the iterated prisoner's dilemma

