extends ./robotics/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./robotics/robotics") Obstacle space and configuration space
	h3
		b Generating graphs
	p
		a(href="./robotics/visibility") Visibility graphs
	p
		a(href="./robotics/voronoi") Voronoi path planning
	p
		a(href="./robotics/PRP") Probabilistic Roadmap Planner
	h3
		b Fields
	p
		a(href="./robotics/fields") Potential fields
	h3
		b (eg how to get across room, whether need to make decision under time /memory pressure, page on simple reflex agents (look up table), model-based reflex agents (use history of observables and actions in lookup), goal-based agents, utility-based agents (maximise discounted utility))
