extends ./singleAgent/subSubTemplate.jade
block subSubContent
	h3
		b Axioms
	p
		a(href="./singleAgent/axiomsChoiceSet") Choice set
	p
		a(href="./singleAgent/axiomsComplete") Completeness
	h3
		b Choices onto \(\mathbb{R}^1\) space
	p
		a(href="./singleAgent/rationalTransitivity") Transitivity
	p
		a(href="./singleAgent/rationalIIR") Independence of irrelevant alternatives
	p
		a(href="./singleAgent/rationalUtilityFunctions") Utility functions
	h3
		b Choices from \(\mathbb{R}^1\) space
	p
		a(href="./singleAgent/continuousContinuity") Continuity
	h3
		b Choices from \(\mathbb{R}^n\) space
	p
		a(href="./singleAgent/RnIndifferenceCurves") Indifference curves
	p
		a(href="./singleAgent/RnSpecificFunctions") Results from specific functions 
	h3
		b Budget constraints
	p
		a(href="./singleAgent/budgetConstraints") Budget constraints
	p
		a(href="./singleAgent/budgetOptimisation") Langrangian optimisation
	p
		a(href="./singleAgent/budgetTesting") Testing whether constraints are binding
	p
		a(href="./singleAgent/budgetMultiple") Multiple constraints
	p
		a(href="./singleAgent/budgetSpecific") Results from specific constraints

