extends ./stochastic/subSubTemplate.jade
block subSubContent
	h3
		b Bayesian games
	p
		a(href="./stochastic/bayesian") Bayesian games
	p
		a(href="./stochastic/bayesianPrior") The common prior assumption
	p
		a(href="./stochastic/signalling") Signalling
	p
		a(href="./stochastic/bayesianNash") Bayesian Nash equilibrium
	p
		a(href="./stochastic/bayesianPerfect") Perfect Bayesian equilibrium
	h3
		b Stochastic games
	p
		a(href="./stochastic/stochastic") Stochastic games
	p
		a(href="./stochastic/markovPerfect") Markov perfect equilibrium
	p
		a(href="./stochastic/stochastic") Expectiminimax
	h3
		b Partially observable stochastic games
	p
		a(href="./stochastic/POSG") Partially observable stochastic games

