extends ./uncertainty/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./uncertainty/lottery") Lotteries
	p
		a(href="./uncertainty/neumann") Von Neumann-Morgenstern utility theorem
	h3
		b Absolute risk aversion
	p
		a(href="./uncertainty/absolute") Absolute risk aversion
	h3
		b Relative risk aversion
	p
		a(href="./uncertainty/relative") Relative risk aversion

	h3
		b Risk
	p
		a(href="./uncertainty/riskExpectedUtility") Expected utility
	p
		a(href="./uncertainty/riskAversion") Risk aversion
	p
		a(href="./uncertainty/riskProspectTheory") Prospect theory
	p
		a(href="./uncertainty/riskKnightian") Knightian uncertainty
