extends ./unsupervised/subSubTemplate.jade
block subSubContent
	h3
		b Association rules
	p
		a(href="./unsupervised/association") Association rules
	p
		a(href="./unsupervised/strong") Strong rules
	p
		a(href="./unsupervised/support") Support
	p
		a(href="./unsupervised/frequent") Frequent patterns
	p
		a(href="./unsupervised/confidence") Confidence
	p
		a(href="./unsupervised/apriori") Finding strong rules using the Apriori algorithm
	p
		a(href="./unsupervised/interest") Interest
	p
		a(href="./unsupervised/quantitative") Quantitative association rules



