extends ./vision/subSubTemplate.jade
block subSubContent
	h3
		b Camera vision
	p
		a(href="./vision/camera") Camera inputs
	h3
		b Classifying images
	h3
		b Semantic image segmentation
	h3
		b Building 3D models
	p
		a(href="./vision/image3D") Multi-view CNNs
	p
		a(href="./vision/image3D") Volumetric models
	p
		a(href="./vision/image3D") Point clouds
	p
		a(href="./vision/image3D") Polygon mesh
	p
		a(href="./vision/image3D") Generative Query Network (GQN)
	p
		a(href="./vision/image3D") Primitive-based CAD
	p
		a(href="./vision/shapenets") 3D ShapeNets
	p
		a(href="./vision/scan3D") Building 3D models from scans
	h3
		b LIDAR
	p
		a(href="./vision/lidar") LIDAR
	p
		a(href="./vision/voxelCNN") Classification with voxels
	p
		a(href="./vision/correspondence") Correspondence
	p
		a(href="./vision/parsing") Parsing

