extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Defining board games
block subSubContent
	h3
		b Introduction
	p A board is described by:
	ul
		li The layout of the board
		li Whose turn it is
		li Move history
	p These can be represented as nodes the root node being the start of the game, and each branch being a move taken.
	p The number of possible nodes can quickly become very large, as in chess and go.
