extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Late Move Reductions (LMR)
block subSubContent
	h3
		b Introduction
	p If the tree is explored in an efficient order alpha-beta pruning is more effective.
	p 
