extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Upper Confidence bound 1 applied to Trees (UCT)
block subSubContent
	h3
		b Introduction
	p Way to choose paths
	p \(\dfrac{w}{n}+c\sqrt {\dfrac{\ln N}{n}}\)
	p w is number of wins from node chosen
	p n is number of simulations from node chosen
	p N is number of simulations that have happened this many layers in
