extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Generative and descriptive models
block subSubContent
	h3
		b Introduction
	p 
	h3
		b Generative model
	p Build a model for a, build model for b. see which fits best.
	h3
		b Discriminative models
	p Identify a classification boundry
