extends ./subSubTemplate.jade
block subSubTitle
	h1
		b K-nearest neighbours
block subSubContent
	h3
		b 
	p get distance between oints. euclidian.

	p for each item, get the set of k nearest neighbours
	p if most neighbours are type a, label it a. if b, label it b

	p doesn't require a model or parameters

	p requires space to store
	p n samples, d features
	p times: O(n.d)
