extends ./subSubTemplate.jade
block subSubTitle
	h1
		b K-nearest neighbours
block subSubContent
	h3
		b Introduction
	p K-nearest neighbours is a non-parametric classifer. For a point with an unknown class we identify the classes of the \(K\)-nearest neighbours and assign the most common class.
	p For this we need to find the distance between observations. We can do this using norms.
	p Weightings of the dependent variables is important here.
	h3
		b Practicality
	p requires space to store
	p n samples, d features
	p times: O(n.d)
