extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Text classification using Naive Bayes
block subSubContent
	h3
		b Naive Bayes and text classification
	p Naive Bayes can be used to classify text documents. The \(x\) variables can be appearances of each word, and \(y\) can be the document classification.
