extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Regularising decision trees
block subSubContent
	h3
		b Introduction
	p Can prune trees by cutting off at some point, or pruning after completing full tree
	p can remove subtee if performance isn't affected on validation set for example

