extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Linear first-order Ordinary Differential Equations

block subSubContent
	h3
		b Linear ODEs
	p For some we can write:

	p \(\frac{dy}{dt}=f(t,y)\)

	p \(\frac{dy}{dt}=q(t)-p(t)y\)

	p This can be solved by multiplying by an unknown function \(\mu (t)\):

	p \(\frac{dy}{dt}+p(t)y=q(t)\)

	p \(\mu (t)[\frac{dy}{dt}+p(t)y]=\mu (t)q(t)\)

	p We can then set \(\mu(t)=e^{\int p(t)dt}\). This means that \(\frac{d\mu }{dt}=p(t)u(t)\)

	p \(\frac{d}{dt}[\mu(t)y]=\mu (t)q(t)\)

	p \(\mu(t)y=\int \mu (t)q(t)dt + C\)

	p In some cases, this can then be solved.
	h3
		b Example
	p \(\frac{\delta y}{\delta x}=cy\)
	p \(y=Ae^{c(y+a)}\)

	p \(\frac{\delta^2 y}{\delta x^2}=cy\)
	p 	\(y=Ae^{\sqrt c (y+a)}\)
