extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Linear second-order Ordinary Differential Equations

block subSubContent
	h3
		b Introduction
	p These are of the form
	p \(\frac{d^2y}{dt^2}+p(t)\frac{dy}{dt}+q(t)y=g(t)\)

	p There are two types. Homogenous equations are where \(g(t)=0\). Otherwise they are heterogenous.

 

	p We explore the case with constants:

	p \(a\frac{d^2y}{dt^2}+b\frac{dy}{dt}+cy=0\)
	h3
		b Example
	p 
