extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Separable first-order Ordinary Differential Equations

block subSubContent
	h3
		b Introduction
	p For some we can write:

	p \(\frac{dy}{dt}=f(t,y)\)

	p \(\frac{dy}{dt}=\frac{g(t)}{h(y)}\)

	p We can then do the following:

	p \(h(y)\frac{dy}{dt}=g(t)\)

	p \(\int h(y)\frac{dy}{dt}dt=\int g(t)dt + C\)

	p \(\int h(y)dy=\int g(t)dt + C\)

	p In some cases, these functions can then be integrated and solved.
	h3
		b Example
