extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Direct sampling
block subSubContent
	h3
		b Density estimation through direct sampling

	p There is distribution \(P(x)\) which we want to know more about.

	p If the function was closed, we could estimate it by using values of \(x\).

	h3
		b Limitations of direct sampling

	p However if the function does not have such a form, we cannot do that.

	p We can't plug in values, because the function is complex.

	p Sometimes we may know a function of the form:

	p \(f(x)=cP(x)\)

	p That is, a multiple of the function.

	p This can happen from Bayes' theorem:

	p \(P(y|x)=\frac{P(x|y)P(y)}{P(x)}\)

	p We may be able to estimate \(P(x|y)\) and \(P(y)\), but not \(P(x)\)

	p This means be have 

	p \(P(y|x)=cP(x|y)P(y)\)


