extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Evolutionary algorithms
block subSubContent
	h3
		b Initialisation
	p We generate a set of candidate parameter values, \(x\).

	h3
		b Evaluate using the fitness function
	p We evaluate each of these against a fitness function (the function we are optimising).

	p We assign fitness values to each individual.

	h3
		b Crossover and mutation

	p We generate a second generation. We select "parents" randomly using the fitness values as weightings.

	p The values of the new individual are a function of the values of the parents, and noise (mutation).

	p We do this for each member in the next generation.

	p We iterate this process across successive generations.
 
