extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Gibb's sampling
block subSubContent
	h3
		b Introduction
	p As with Metropolis-Hastings, we want to generate samples for \(P(X)\) and use this to approximate its form.
	p We do this by using the conditional distribution. If \(X\) is a vector then we also have:
	p \(P(x_j|x_0,...,x_{j-1},x_{j+1},...,x_n)\)
	p We use our knowledge of this distribution.

	p Start with vector x_0.

	p This has components \(x_{0,j}\)

	p To form the next vector \(x_1\) we loop through each component.

	p \(P(x_{1,0}|x_{0,0},x_{0,1},...,x_{0,n})\)

	p We use this to form \(x_{1,0}\)

	p However after th the first component we update this so it uses the updated variables.

	p \(P(x_{1,k}|x_{1,0},...,x_{1,k-1},x_{0,k},...,x_{0,n}\)

 

	p This means we only need to know the conditional distributions.

