extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Metropolis-Hastings algorithm
block subSubContent
	h3
		b The Metropolis-Hastings algorithm
	p The Metropolis-Hastings algorithm creates a set of samples \(x\) such that the distribution of the samples approaches the goal distribution.
	h3
		b Initialisation
	p The algorithm takes an arbitrary starting sample \(x_0\). It then must decide which sample to consider next.
	h3
		b Generation
	p It does this using a Markov chain. That is, there is a map \(g(x_j, x_i)\).

	p This distribution is generally a normal distribution around \(x_i\), making the process a random walk.

	h3
		b Acceptance
	p Now we have a considered sample, we can either accept or reject it. It is this step that makes the end distribution approximage the function.

	p We accept if \(\frac{f(x_j)}{f(x_i)}>u\), where \(u\) is a random variable between \(0\) and \(1\), generated each time.

	p We can calculate this because we know this function.
	h3
		b Properties
	p 

