extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Random optimisation
block subSubContent
	h3
		b Introduction
	p This is similar to random search, however we use a multivariate Gaussian distribution around our current point rather than a hypersphere.

