extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Types of games
block subSubContent

	p Simultaneous or sequential
	p Repeated, one off
	p Number of players
	p Information
	p Discrete, continuous (reaction function)
