extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Nominal and real prices
block subSubContent
	p If previously one fish trades for two chunks of meat, we would expect the shell price for fish to be twice as high as the shell price for meat. Relative prices between all goods could be maintained for any price for meat. If all prices doubled, one fish would still get you two chunks of meat.
	p Nominal prices are those that are actually seen in markets, real prices refer to these prices adjusted for the price level. For example all prices doubling would double all nominal prices but affect no real prices. Doubling only the nominal price of fish would increase the real price of fish, and decrease the real price of other goods.
