extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Linear maps

block subSubContent
	h3
		b Homomorphisms between vector spaces
	p Homomorphisms map between algebras, preserving the underlying structure.
	p A homomorphism vetween vector space \(V\) and vector space \(W\) can be described as:
	p \(\hom (V, W)\)
	p Homomorphism between vector spaces must preserve the group-like structure of the vector space.
	p \(f(u+v)=f(u)+f(v)\)
	p The homomorphism must also preserve scalar multiplication.
	p \(f(\alpha v)=\alpha f(v)\)
	p A linear map (or function) is a map from one input to an output which preserves addition and scalar multiplication.
	p That is if function \(f\) is linear then:
	p $$f(aM+bN)=af(M)+bf(N)$$
	h3
		b Alternative names for homomorphisms
	p Vector spaces homomorphisms are also called linear maps or linear functions.

