extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Outer product

block subSubContent
	h3
		b The outer product is a bilinear map
	p This is a bilinear map from two vectors from the same vector space to another vector space.
	p \(V\times V \rightarrow V\)
	h3
		b Calculating the outer product
	p \(u\otimes v = w\)
	p \(w_{ij}=u_iv_j\)
	h3
		b The dimensions of the tensor outer product
	p \(\dim (V \otimes W)= \dim V \times \dim W \)

	h3
		b Outer product on the complex numbers
	p 
	h3
		b Relation between the dot product and outer product
	p The dot product in the trace of the outer product.
	p 
