extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Caesar ciphers, ROT13 and Atbash
block subSubContent
	h3
		b Caesar ciphers
	p 
	h3
		b ROT13
	p Rotate 13. It is its own inverse.
	h3
		b Atbash
	p Revese the alphabet. It is its own inverse.
