extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Breaking monoalphabetic substitution ciphers with frequency analysis
block subSubContent
	h3
		b Introduction
	p (need to identify algorithm and needs to identify key)
