extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Polyalphabetic ciphers
block subSubContent
	h3
		b Multiple substitution
	p  
	h3
		b Vigenere
	p 
	h3
		b Rotor machines
	p 
	h3
		b The Enigma machine
	p 
