extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Lasso
block subSubContent
	h3
		b Introduction
	p Regularisation of LLS. Sum of thetas are constrained to be below hyperparameter \(t\)
	p L1 regularisation
