extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Least Absolute Shrinkage and Selection Operator (LASSO)
block subSubContent
	h3
		b Introduction
	p With LASSO we add a constraint to \(\hat \theta \).
	p \(\sum_i \hat \theta_i \le t\)
	p Regularisation of LLS. Sum of thetas are constrained to be below hyperparameter \(t\)
	p L1 regularisation
	p This is also known as sparce regression, because many weights are set to \(0\).
	p This now looks like:
	p \(w_{lasso} = \arg \min ||y-Xw||^2_2+\lambda ||w||_1\)
	h3
		b Hyperparameter
	p \(t\) is a hyperparameter.

