extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Lava
block subSubContent
	h3
		b Introduction
	p Alternative to ElasticNet

	p Each parameter is split into

	p \(\theta_i=\rho_i+\phi_i\)

	p There is \(L_2\) loss on \(rho\) and \(L_1\) loss on \(\phi \).

	p This means that large coefficients can be penalised like \(L_1\) and small coefficients like \(L_2\).
