extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Link test
block subSubContent
	h3
		b Introduction
	p Alternative to RESET

	p We have \(\hat y\).

	p We regress \(y=\alpha + \beta \hat y + \gamma \hat y^2\).

	p We test that \(\gamma =0\).

	p If it is not, then this suggests the model is misspecified.

