extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Ridge regression
block subSubContent
	h3
		b 
	p Regularisation of LLS. The cost function now includes a norm on \(M\theta \).
	p L2 regularisation
