extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Ridge regression
block subSubContent
	h3
		b 
	p Regularisation of LLS. The cost function now includes a norm on \(M\theta \).
	p L2 regularisation
	p This allows us to solve problems where there are too many features. L1 also allows us to to do this.
	h3
		b Overspecified
	p If n>d we can minimise weights subject to Xw=y. This is the same as the least norm.
	h3
		b Maximum A-Priori (MAP) estimator for linear regression
	p maximum a priori estimation. equiv to ridge regression with a priori estimate of 0

	p W_{RR}=(\lamda I+X^TX)^{-1}X^Ty
	p E_[w{RR}]=(\lambda I+X^TX)^{-1}X^TXw
	p Var[W_{RR}]=\a


