extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Stochastic Gradient Descent regression
block subSubContent
	h3
		b Introduction
	p Used stochastic sample rather than whole batch.
	p Can be used with any regularisation method

