extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Types of variables
block subSubContent
	h3
		b Introduction
	p 
	h3
		b Getting the type of variable
	p 
	h3
		b Converting between types of variables
	p 
