extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Concentration ratio	
block subSubContent
	h3
		b Introduction
	p Proportion of output from given firms.
	p For example \(CR_5\) is the proportion of output from the \(5\) largest producers.

