extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Lerner index
block subSubContent
	h3
		b Introduction
	p Marginal profit. If high it suggests existing power prevents it from raising output.
	p $$L=\frac{P-MC}{P}$$
	p From \(0\) to \(1\).

