extends ./subSubTemplate.jade
block subSubTitle
	h1
		b SSNIP
block subSubContent
	h3
		b SSNIP test
	p Small but significant and non-transitory increase in price
	p Would this cause customers to move elsewhere?
	p If we have demand at different prices we can estimate whether it is worth monopolising the market.
	p Because this lack of motivation may be because of competitor goods, we can include these to see if that market is worth monopolising.
	p For example: hiking up the price of one good may not be profitable. Therefore that is not a relevant market (though it could be!). Then we can see if hiking up the price of that good, and others, is profitable. If so, then it is a relevant market.

	p Note:
	p High elasticity may be because monopoly power is already being exerted

	p identify smallest market where a monopolist could increas price profitably

	p how to do test? interview customers about whether increase in price would negatively affect them. want to know if they could switch.

	p if could switch at price rise of say 5%, then market is too small to "be worth monopolising". choose larger

	p can be used to estimate elasticity of demand

	p we can also look at the cost impact from cutting units. if high variable, then more appealing

	p we can expand to include substitutes. if substitutes make worth monopolisign, then merger can be concerning 
