extends templates/loginHeader.jade

block content
	.container.fill
		br
		.jumbotron
			h1.bs-docs-featurette-title YetiPredict | About
			p.lead YetiPredict allows you to track your predictions
		h2 Why YetiPredict?
		p I am developing YetiPredict as a way to allow others and myself to make and view predictions on anything by anyone. As this site develops it will allow you to view what the consensus forecast is or any issue. Additionally, as you use the site you will be able to see how your own view of the world stacks up and better understand how cognitive biases and information gaps affect your predictions.
		.row
			.col-sm-4
				h2 Personal
				p Track your own predictions, privately, to check you are on track, and are planning accurately.
				ul 
					li Will I complete a half marathon by March?
					li Will I save £5000 in 2016?
			.col-sm-4
				h2 Projects
				p Many corporate plans are prone to optimism bias and poor incentives. Make predictions with your colleagues on outcomes which affect your team.
				ul
					li Will project Phoenix be delivered by January 2017?
					li Will sales reach £100,000 per month by October 2016?
			.col-sm-4
				h2 World events
				p Make or view predictions made by anyone, on any issue you can think of.
				ul
					li Will TTIP be agreed by December 2016?
					li Will UK headline GDP growth by above 2% in December 2016?
		h2 Related sites
		p Real money betting sites
		ul
			li
				a(href="https://www.betfair.com") Betfair
			li
				a(href="https://www.betmoose.com") Betmoose
			li
				a(href="https://www.predictit.org") PredictIt
			li
				a(href="https://www.predictious.com") Predictious (bitcoin)
			li
				a(href="https://iemweb.biz.uiowa.edu") Iowa Electronic Markets
			li
				a(href="https://poly.market") Polymarket
		p Prediction tracking sites
		ul
			li
				a(href="https://predictionbook.com") PredictionBook
			li
				a(href="https://www.rootclaim.com") Rootclaim
			li
				a(href="https://www.metaculus.com") Metaculus
		p Other
		ul
			li
				a(href="https://www.hypermind.com") Hypermind
			li
				a(href="https://www.cultivatelabs.com") Cultivate Labs
		footer
			h3 Contact
			p.version Created by Adam Boult
			p Feedback is welcome, and can be sent to: 
				a(href="mailto:adam@yetipredict.com") adam@yetipredict.com
			a(href="https://github.com/adamdboult/") GitHub
			br
			a(href="https://wwww.linkedin.com/in/adamdboult") LinkedIn

