extends templates/loginHeader.jade

block content
	.container.fill
		.col-sm-6.col-sm-offset-3
			h1 News
			each post, index in posts
				p
					a(href="/news/"+post.noType)=post.title
					span!=" ("+post.date.toDateString()+")"
				br
			br
			a(href="/rss") RSS