extends templates/loginHeader.jade

block content
	.container.fill
		br
		.jumbotron
			h1.bs-docs-featurette-title YetiPredict
			p.lead YetiPredict is Adam Boult's personal website
		.row
			.col-sm-4
				a(href="/predict")
					h2 Predict
				p Track your own predictions, privately, to check you are on track, and are planning accurately.
			.col-sm-4
				a(href="/data")
					h2 Data
				p Visually explore the IMF World Economic Outlook dataset.
			.col-sm-4
				a(href="/theory")
					h2 Notes
				p My notes on maths, statistics and more.
