extends templates/loginHeader.jade

block content
	.container.fill
		.col-sm-6.col-sm-offset-3
			h1 Models
			each model, index in models
				p
					a(href="/models/"+model.noType)=model.title
				br
			br
