extends ./templates/theoryTemplate.jade

block subSubContent
	br
	p
		a(href="/theory/maths") Maths
	br
	p
		a(href="/theory/computer") Computer science
	br
	p
		a(href="/theory/statistics") Statistics
	br
	//p
	//	a(href="/theory/physics") Physics
	//br
	//p
	//	a(href="/theory/economics") Economics
