extends ./templates/theoryTemplate.jade

block subSubContent
	br
	p
		a(href="/theory/maths") Maths
	br
	p
		a(href="/theory/computer") Computer science
	br
	p
		a(href="/theory/statistics") Probability and statistics
	br
	p
		a(href="/theory/physics") Physics
	br
	p
		a(href="/theory/ai") Artificial intelligence
	//br
	//p
	//	a(href="/theory/biology") Biology
	br
	p
		a(href="/theory/economics") Economics
	//br	
	//p
	//	a(href="/theory/culture") Culture


