extends templates/loginHeader.jade

block content
	.container.fill
		.col-sm-6.col-sm-offset-3
			h1 Theory
			p UNDER CONSTRUCTION
			P
				b Maths
			p
				a(href="/theory/maths/logic") Logic
			p
				a(href="/theory/maths/sets") Natural numbers
			p
				a(href="/theory/maths/arithmetic") Arithmetic
			p
				a(href="/theory/maths/numbers") Numbers
			p
				a(href="/theory/maths/algebra") Algebra
			p
				a(href="/theory/maths/realAnalysis") Real analysis
			p
				a(href="/theory/maths/complexAnalysis") Complex analysis
			p
				a(href="/theory/maths/linearAlgebra") Linear algebra
			p
				a(href="/theory/maths/optimisation") Optimisation
			p
				a(href="/theory/maths/differentialEquations") Differential equations
			p
				a(href="/theory/maths/topology") Topology

			br
			p
				b Probability and statistics
			p
				a(href="/theory/statistics") Statistics
			br
			p
				b Economics
			p
				a(href="/theory/economics") Economics
			br
			p
				b Physics
			p
				a(href="/theory/physics") Physics
			//each theory, index in theories
			//	p
			//		a(href="/theory/"+theory.noType)=theory.title
			//	br
			//br
