extends ./anova/subSubTemplate.jade
block subSubContent
	h3
		b Cross-sectional data
	p
		a(href="./anova/data") Cross-sectional data
	p
		a(href="./anova/mean") Group means and the grand mean
	p
		a(href="./anova/variance") Within-group variance and between-group variance
	h3
		b Analysis of variance (ANOVA)
	p
		a(href="./anova/anova") Analysis of variance (ANOVA) table

	h3
		b Cross-sectional regression
	p
		a(href="./anova/groups") The cross-sectional model
	p
		a(href="./anova/unbalanced") Unbalanced data
	h3
		b The pooled OLS estimator
	p
		a(href="./anova/POLS") Pooled OLS
	h3
		b The fixed effects estimator
	p
		a(href="./anova/transformation") Within and between transformation
	p
		a(href="./anova/fixed") The fixed effects estimator
	h3
		b The random effects estimator
	p
		a(href="./anova/random") The random effects estimator
	h3
		b Choosing the model form
	p
		a(href="./anova/hausman") The Hausman specification test
	h3
		b The mixed effects estimator
	p
		a(href="./anova/mixed") The mixed effects estimator

