extends ./anova/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./anova/tStatistic") T statistic
	p
		a(href="./anova/fTest") F test
	p
		a(href="./anova/chiSquared") Chi squared
	h3
		b Anova
