extends ./anova/subSubTemplate.jade
block subSubContent
	h3
		b Cross-sectional data
	p
		a(href="./anova/groups") Linear models with groups
	h3
		b Fixed effects models
	p
		a(href="./anova/fixed") Fixed effects
	h3
		b Random effects models
	p
		a(href="./anova/random") Random effects
	p
		a(href="./anova/randomEstimation") Random effects estimation
	h3
		b Choosing the model form
	p
		a(href="./anova/hausman") The Hausman specification test

