extends ./choosing/subSubTemplate.jade
block subSubContent
	h3
		b Choosing the form of a model
	p
		a(href="./choosing/size") Sample sizes
	p
		a(href="./choosing/overfitting") Overfitting
	p
		a(href="./choosing/AIC") AIC, AICc, Bayes factor, BIC
	p
		a(href="./choosing/testSets") Test sets
	p
		a(href="./choosing/validationSets") Validation sets
	p
		a(href="./choosing/KLD") Kullback-Leibler divergence

