extends ./clustering/subSubTemplate.jade
block subSubContent
	h3
		b Measuring distance between vectors
	p
		a(href="./clustering/Lp") \(L_p\) norms
	p
		a(href="./clustering/dotProduct") Dot product
	p
		a(href="./clustering/kernel") Kernels
	h3
		b Measuring distance between matrices
	p
		a(href="./clustering/frobenius") Frobenius norm
	h3
		b Measuring distance between time series
	p
		a(href="./clustering/DTW") Dynamic time warping
	h3
		b Clustering
	p
		a(href="./clustering/evaluating") Evaluating clusterings
	p
		a(href="./clustering/kMeans") k-means
	p
		a(href="./clustering/kMedoids") k-medoids

