extends ./clustering/subSubTemplate.jade
block subSubContent
	h3
		b Clustering
	p
		a(href="./clustering/evaluating") Evaluating clusterings
	p
		a(href="./clustering/kMeans") k-means
	p
		a(href="./clustering/kMedoids") k-medoids

