extends ./crossValidation/subSubTemplate.jade
block subSubContent
	h3
		b Hyperparameters
	p
		a(href="./crossValidation/learning") Learning rate, batching and momentum
	h3
		b Splittng
	p
		a(href="./crossValidation/kFolds") K-folds
	p
		a(href="./crossValidation/LOO") Leave-One-Out
	h3
		b Search methods
	p
		a(href="./crossValidation/gridSearch") Grid-search

