extends ./dataAnalysis/subSubTemplate.jade
block subSubContent
	h3
		b Joining data sets
	p
		a(href="./dataAnalysis/ngram") Concatenating data
	p
		a(href="./dataAnalysis/ngram") Joining data
	h3
		b Cleaning text data
	p
		a(href="./dataAnalysis/ngram") Bag-of-words
	p
		a(href="./dataAnalysis/ngram") N-grams
	p
		a(href="./dataAnalysis/hashing") Feature hashing
	h3
		b Cleaning image data
	h3
		b Cleaning audio data
	h3
		b Dealing with missing data
	p
		a(href="./dataAnalysis/missing") Missing data
	h3
		b Dealing with inaccurate data
	p
		a(href="./dataAnalysis/outliers") Outliers	

