extends ./data/subSubTemplate.jade
block subSubContent
	h3
		b Generating data
	p
		a(href="./data/collecting") Collecting data
	p
		a(href="./data/generating") Generating additional data
	h3
		b Processing data
	p
		a(href="./data/labelling") Labelling data
	p
		a(href="./data/cleaning") Data cleaning
	p
		a(href="./data/additionalVariables") Creating additional variables
	p
		a(href="./data/normalisation") Normalisiation
	h3
		b Feature selection
	p
		a(href="./data/PCA") Principal component analysis
	h3
		b Preliminary analysis
	p
		a(href="./data/visualisation") Data visualisation
