extends ./dataAnalysis/subSubTemplate.jade
block subSubContent
	h3
		b Precleaning
	p
		a(href="./dataAnalysis/dataFormat") Precleaning data formats (float32 for nums)
	p
		a(href="./dataAnalysis/fileType") Standardising file types
	h3
		b Joining data sets
	p
		a(href="./dataAnalysis/variableNames") Consistent variable naming
	p
		a(href="./dataAnalysis/concatenate") Concatenating data
	p
		a(href="./dataAnalysis/join") Joining data
	h3
		b Cleaning categorial data
	p
		a(href="./dataAnalysis/join") One Hot Encoding
	h3
		b Checking for consistency
	p
		a(href="./dataAnalysis/crossConsistency") Cross-consistency
	h3
		b Data shaping
	p
		a(href="./dataAnalysis/wideLong") Wide and long data
	p
		a(href="./dataAnalysis/collapsing") Collapsing data
	h3
		b Cleaning text data
	p
		a(href="./dataAnalysis/ngram") Bag-of-words
	p
		a(href="./dataAnalysis/ngram") N-grams
	p
		a(href="./dataAnalysis/hashing") Feature hashing
	h3
		b Dropping variables
	p
		a(href="./dataAnalysis/sensitive") Sensitive information
	p
		a(href="./dataAnalysis/dropping") Dropping unnecessary information, like names and derived variables

