extends ./dimensionality/subSubTemplate.jade
block subSubContent
	h3
		b Dimensionality reduction
	p
		a(href="./dimensionality/SVD") Non-negative matrix factorisation
	p
		a(href="./dimensionality/SVD") Low rank approximation
	p
		a(href="./dimensionality/t-SNE") t-SNE
	p
		a(href="./dimensionality/LASSO") 2 stage LASSO	
	h3
		b Principal component analysis
	p
		a(href="./dimensionality/PCA") PCA with Eigen-decomposition
	p
		a(href="./dimensionality/SVD") PCA with Singular Value Decomposition
	h3
		b Dimensionality reduction with neural networks
	p
		a(href="./dimensionality/autencoder") Autoencoders
	p
		a(href="./dimensionality/VAE") Variational autoencoders
	p
		a(href="./dimensionality/RBM") Restricted Boltzmann
	p
		a(href="./dimensionality/DBN") Deep belief network

