extends ./dimensionality/subSubTemplate.jade
block subSubContent
	h3
		b Dimensionality reduction
	p
		a(href="./dimensionality/SVD") Non-negative matrix factorisation
	p
		a(href="./dimensionality/SVD") Low rank approximation
	p
		a(href="./dimensionality/t-SNE") t-SNE
	h3
		b Principal component analysis
	p
		a(href="./dimensionality/PCA") PCA
	h3
		b Dimensionality reduction with neural networks
	p
		a(href="./dimensionality/autencoder") Autoencoders
	h3
		b Generative neural networks
	p
		a(href="./dimensionality/VAE") Variational autoencoders
	p
		a(href="./dimensionality/GAN") Generative adversarial networks

