extends ./dimensionality/subSubTemplate.jade
block subSubContent
	h3
		b Principal component analysis
	p
		a(href="./dimensionality/PCA") Classical principal component analysis
	p
		a(href="./dimensionality/robust") Robust principal component analysis

