extends ./distributions/subSubTemplate.jade
block subSubContent
	h3
		b Discrete
	p
		a(href="./distributions/degenerate") Degenerate
	p
		a(href="./distributions/uniform") Discrete uniform distribution
	p
		a(href="./distributions/bernoulli") Bernoulli
	p
		a(href="./distributions/binomial") Binomial
	p
		a(href="./distributions/poisson") Poisson
	h3
		b Continous distributions
	p
		a(href="./distributions/gaussian") Gaussian
	p
		a(href="./distributions/multiGaussian") Multivariate Gaussian
	p
		a(href="./distributions/exponential") Exponential distribution
	p
		a(href="./distributions/weibull") Weibull distribution
	p
		a(href="./distributions/power") Power law
	h3
		b Mixture models
	p
		a(href="./distributions/MM") Mixture models

