extends ./distance/subSubTemplate.jade
block subSubContent
	h3
		b Measuring distance between vectors
	p
		a(href="./distance/Lp") \(L_p\) norms
	p
		a(href="./distance/dotProduct") Dot product
	p
		a(href="./distance/kernel") Kernels
	p
		a(href="./distance/mahalanobis") Mahalanobis distance
	h3
		b Measuring distance between matrices
	p
		a(href="./distance/frobenius") Frobenius norm
	h3
		b Measuring distance between time series
	p
		a(href="./distance/DTW") Dynamic time warping
	h3
		b Finding neighbours
	p
		a(href="./distance/neighbours") Exhaustive neighbour search
	p
		a(href="./distance/NSS") Nearest Neighbour Search (NSS)
	p
		a(href="./distance/kNNS") k-Nearest Neighbour Search

