extends ./distributions/subSubTemplate.jade
block subSubContent
	h3
		b Discrete
	p
		a(href="./distributions/degenerate") Degenerate distribution
	p
		a(href="./distributions/uniform") Discrete uniform distribution
	p
		a(href="./distributions/bernoulli") Bernoulli distribution
	p
		a(href="./distributions/binomial") Binomial distribution
	p
		a(href="./distributions/poisson") Poisson distribution
	p
		a(href="./distributions/multinomial") Multinomial distribution
	h3
		b Continous distributions
	p
		a(href="./distributions/exponential") Exponential distribution
	p
		a(href="./distributions/weibull") Weibull distribution
	p
		a(href="./distributions/power") Power distribution
	p
		a(href="./distributions/logistic") Logistic distribution
	p
		a(href="./distributions/levy") Lévy distribution
	h3
		b Gaussian distributions
	p
		a(href="./distributions/gaussian") Gaussian distribution
	p
		a(href="./distributions/erf") The error function and the complementary error function
	p
		a(href="./distributions/multiGaussian") Multivariate Gaussian
	h3
		b Extreme value distributions
	p
		a(href="./distributions/EV1") Type-I - Gumbel distribution
	p
		a(href="./distributions/EV2") Type-III - Frechet distribution
	p
		a(href="./distributions/EV3") Type-III - Reversed Weibull distribution
	h3
		b Mixture models
	p
		a(href="./distributions/MM") Mixture models

	h3
		b Other
	p
		a(href="./distributions/MM") Laplace distribution
	p
		a(href="./distributions/MM") Dirac distribution
	p
		a(href="./distributions/MM") Empirical distribution
	p
		a(href="./distributions/MM") Split-normal distribution

