extends ./ensemble/subSubTemplate.jade
block subSubContent
	h3
		b Ensemble methods
	p
		a(href="./ensemble/bagging") Bagging
	p
		a(href="./ensemble/boosting") Boosting
	p
		a(href="./ensemble/gradientBoosting") Gradient boosting
	p
		a(href="./ensemble/boosting") Extra trees
	p
		a(href="./ensemble/boosting") Random forests
	p
		a(href="./ensemble/voting") Majority voting
	p
		a(href="./ensemble/stackedAggregation") Stacked aggregation

