extends ./ensemble/subSubTemplate.jade
block subSubContent
	h3
		b Combining learners
	p
		a(href="./ensemble/voting") Majority voting
	p
		a(href="./ensemble/regression") Averaging regression predictions
	p
		a(href="./ensemble/stackedAggregation") Stacking and SuperLearner
	h3
		b Generating learners with boosting
	p
		a(href="./ensemble/lBoost") \(L_2\) boosting
	p
		a(href="./ensemble/boosting") Adaboost
	p
		a(href="./ensemble/gradientBoosting") Gradient boosting
	h3
		b Generating learners with Bootstrapped AGGregation (bagging)
	p
		a(href="./ensemble/bagging") Bagging
	h3
		b Ensemble methods for trees
	p
		a(href="./ensemble/gradientTree") Gradient tree boosting
	p
		a(href="./ensemble/MART") Multiple Additive Regression Trees (MART)
	p
		a(href="./ensemble/BART") Bayesian Additive Regression Trees (BART)
	p
		a(href="./ensemble/extraTrees") Extra trees
	p
		a(href="./ensemble/randomForests") Random forests
	p
		a(href="./ensemble/regressionForests") Regression forests
	p
		a(href="./ensemble/regressionForests") Causal forests
	p
		a(href="./ensemble/regressionForests") Bayesian causal forests
	h3
		b Bootstrapping moments of ensemble statistics
	p
		a(href="./ensemble/bootstrapMoments") Bootstrapping mean and variance
	p
		a(href="./ensemble/bootstrapConfidence") Bootstrapping confidence intervals

