extends ./ensemble/subSubTemplate.jade
block subSubContent
	h3
		b Combining classifiers
	p
		a(href="./ensemble/voting") Majority voting
	p
		a(href="./ensemble/stackedAggregation") Stacking
	h3
		b Creating different classifiers
	p
		a(href="./ensemble/boosting") Boosting
	p
		a(href="./ensemble/bagging") Bagging
	h3
		b Ensemble methods for decision trees
	p
		a(href="./ensemble/extraTrees") Extra trees
	p
		a(href="./ensemble/randomForests") Random forests
	p
		a(href="./ensemble/randomForests") Regression forests

