extends ./estimation/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./estimation/likelhood") Likelihood functions
	p
		a(href="./estimation/CramerRao") Cramér-Rao lower bound
	p
		a(href="./estimation/sufficient") Sufficient statistics
	h3
		b Estimating parameters
	p
		a(href="./estimation/MoM") Method Of Moments (MOM)
	p
		a(href="./estimation/MLE") Maximum Likelihood Estimation (MLE)
	p
		a(href="./estimation/MAP") Maximum A-Priori estimation (MAP)
	p
		a(href="./estimation/MMSE") Minimum Mean Square Error (MMSE)
	h3
		b Bayesian inference
	p
		a(href="./estimation/inference") Bayesian inference
	p
		a(href="./estimation/KLD") Kullback-Leibler divergence
	h3
		b Choosing estimators
	p
		a(href="./estimation/Bias") Bias
	p
		a(href="./estimation/biasVariance") Bias-variance trade-off
	p
		a(href="./estimation/predictionsParameters") Predictions and parameters
	h3
		b Solving an estimator
	p
		a(href="./estimation/closed") Closed form
	p
		a(href="./estimation/gradientDescent") Gradient descent
	p
		a(href="./estimation/onlineOffline") Online and offline learning
