extends ./estimators/subSubTemplate.jade
block subSubContent
	h3
		b Estimators
	p
		a(href="./estimators/Bias") Bias
	h3
		b Estimation for IID event
	p
		a(href="./estimators/SingleMoM") Method of moments
	p
		a(href="./estimators/SingleMLE") Maximum Likelihood Estimation

