extends ./estimators/subSubTemplate.jade
block subSubContent
	h3
		b Samples
	p
		a(href="./estimators/samples") Samples
	h3
		b Models
	p
		a(href="./estimators/models") Models

	h3
		b Estimation
	p
		a(href="./estimators/Bias") Bias
	p
		a(href="./estimators/SingleMoM") Method of moments
	p
		a(href="./estimators/SingleMLE") Maximum Likelihood Estimation

