extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Method of moments


	p Given we observe a sample drawn from a probability distribution, what can we estimate about the population based on the sample?
	p The method of moments is a process for estimating population moments using sample data.
	p Match population moments with sample moments
	p Get estimators for population moment by 
	p Can be biased. Don’t have to know underlying distribution.