extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Statistics
	h2
		b Estimation
	p
		b Estimators
	p
		a(href="/theory/statistics/estimationEstimation") Parameters and estimators
	p
		a(href="/theory/statistics/estimationEstimation") Sufficient statistics, and the Fisher-Neyman factorisation theorem
	p
		a(href="/theory/statistics/estimationBias") Bias
	p
		a(href="/theory/statistics/estimationBias") Lehmann–Scheffé theorem
	p
		a(href="/theory/statistics/estimationBias") Rao–Blackwell theorem
	p
		a(href="/theory/statistics/estimationEstimators") Fisher information
	p
		a(href="/theory/statistics/estimationEstimators") Akaike and Bayesian information criteria
	p
		a(href="/theory/statistics/estimationEstimators") Cramér–Rao lower bound
	p
		b Estimation for IID event
	p
		a(href="/theory/statistics/estimationSingleMoM") Method of moments
	p
		a(href="/theory/statistics/estimationSingleKnown") Estimators for known distributions
	p
		a(href="/theory/statistics/estimationSingleMLE") Maximum Likelihood Estimation
	p
		b Estimation for joint IID events
	p
		a(href="/theory/statistics/estimationJointMLE") Normal distribution and MLE
	p
		a(href="/theory/statistics/estimationJointGM") Gauss Markov
	p
		a(href="/theory/statistics/estimationJointOLS") Ordinary Least Squares
	p
		a(href="/theory/statistics/estimationJointOLS") Instrumental variables
	p
		a(href="/theory/statistics/estimationJointOLS") Robust OLS
	p
		a(href="/theory/statistics/estimationJointOLS") Solving: matrices
	p
		a(href="/theory/statistics/estimationJointOLS") Solving: gradient descent
