extends ./features/subSubTemplate.jade
block subSubContent
	h3
		b Feature engineering
	p
		a(href="./features/dummy") Dummy variables
	p
		a(href="./features/additionalVariables") Creating additional variables
	h3
		b Feature selection
	p
		a(href="./features/SVD") Singular value decomposition
	p
		a(href="./features/PCA") Principal component analysis
	p
		a(href="./features/t-SNE") t-SNE

