extends ./forecastingMulti/subSubTemplate.jade
block subSubContent
	h3
		b Introduction to multiple time series
	p
		a(href="./forecastingMulti/johansen") Testing for cointegration with Johansen
	h3
		b Vector Autoregression (VAR)
	p
		a(href="./forecastingMulti/VAR") Vector Autoregression models (VAR)
	p
		a(href="./forecastingMulti/VARImpulse") VAR impulse response
	p
		a(href="./forecastingMulti/bayesianVAR") Bayesian VAR
	h3
		b Structural models
	p
		a(href="./forecastingMulti/ARDL") Autoregressive Distributed Lag (ARDL) model
	h3
		b ARMAX
	p
		a(href="./forecastingMulti/ARMAX") ARMAX
	p
		a(href="./forecastingMulti/ECM") Error Correction Model
	p
		a(href="./forecastingMulti/PAM") Partial Adjustment Model

