extends ./forecastingUni/subSubTemplate.jade
block subSubContent
	h3
		b Sliding window models
	p
		a(href="./forecastingUni/windowSingle") Single-step sliding window
	p
		a(href="./forecastingUni/windowMulti") Multi-step sliding window
	h3
		b Moving average models
	p
		a(href="./forecastingUni/MA") Moving Average models (MA)
	h3
		b Autoregressive model
	p
		a(href="./forecastingUni/AR") Autoregressive models (AR)
	p
		a(href="./forecastingUni/ARCH") Autoregressive Conditional Heteroskedasticty (ARCH)
	h3
		b Autoregressive Moving Average models	
	p
		a(href="./forecastingUni/ARMA") Autoregressive Moving Average models (ARMA)
	p
		a(href="./forecastingUni/ARIMA") Autoregressive Integrated Moving Average models (ARIMA)
	p
		a(href="./forecastingUni/ARIMASeason") Seasonal ARIMA
	h3
		b Forecasting
	p
		a(href="./forecastingUni/ARCH") Monte carlo simulations
	p
		a(href="./forecastingUni/ARCH") N-step ahead
	p
		a(href="./forecastingUni/ARCH") Consensus forecasting

