extends ./forecastingMulti/subSubTemplate.jade
block subSubContent
	h3
		b Vector Autoregression (VAR)
	p
		a(href="./forecastingMulti/VAR") Vector Autoregression models (VAR)
	p
		a(href="./forecastingMulti/VARImpulse") VAR impulse response

	h3
		b Structural models
	h3
		b ARMAX
	p
		a(href="./forecastingMulti/ARMAX") ARMAX
	p
		a(href="./forecastingMulti/ECM") Error Correction Model
	p
		a(href="./forecastingMulti/PAM") Partial Adjustment Model

