extends ./forecastingMulti/subSubTemplate.jade
block subSubContent
	h3
		b Vector Autoregression (VAR)
	p
		a(href="./forecastingMulti/VAR") Vector Autoregression models (VAR)

	h3
		b Sliding window models
	p
		a(href="./forecastingMulti/windowSingle") Single-step sliding window
	p
		a(href="./forecastingMutli/windowMulti") Multi-step sliding window

	h3
		b Structural models

