extends ./forecastingUni/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./forecastingUni/trends") Seasonal and non-seasonal trends
	p
		a(href="./forecastingUni/ADF") Identifying the order of integration using Augmented Dickey-Fuller
	p
		a(href="./forecastingUni/cyclical") Cyclical fluctuations
	p
		a(href="./forecastingUni/durbinWatson") Identifying serial correlation using the Durbin-Watson statistic
	p
		a(href="./forecastingUni/introduction") Introduction to forecasting
	h3
		b Autoregressive model
	p
		a(href="./forecastingUni/AR") Autoregressive models (AR)
	p
		a(href="./forecastingUni/stationarity") Testing for stationarity with Dickey-Fuller (DF) and Augmented Dicky-Fuller (ADF)
	p
		a(href="./forecastingUni/ARCH") Autoregressive Conditional Heteroskedasticty (ARCH)
	h3
		b Moving average models
	p
		a(href="./forecastingUni/MA") Moving Average models (MA)
	h3
		b Autoregressive Moving Average models	
	p
		a(href="./forecastingUni/ARMA") Autoregressive Moving Average models (ARMA)
	p
		a(href="./forecastingUni/ARIMA") Autoregressive Integrated Moving Average models (ARIMA)
	p
		a(href="./forecastingUni/ARIMASeason") Seasonal ARIMA
	h3
		b Forecasting
	p
		a(href="./forecastingUni/ARCH") Monte carlo simulations
	p
		a(href="./forecastingUni/ARCH") N-step ahead
	p
		a(href="./forecastingUni/ARCH") Consensus forecasting

