extends ./generativeNN/subSubTemplate.jade
block subSubContent
	h3
		b Variational autoencoders
	p
		a(href="./generativeNN/VAE") Variational autoencoders
	h3
		b Generative adversarial networks
	p
		a(href="./generativeNN/GAN") Generative adversarial networks

