extends ./generative/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./generative/models") Parametric models
	h3
		b Likelihood functions
	p
		a(href="./generative/likelihood") Likelihood functions
	p
		a(href="./generative/score") Scores
	p
		a(href="./generative/fisher") Fisher information
	p
		a(href="./generative/orthogonal") Orthogonality
	h3
		b Bayesian parameter estimation
	p
		a(href="./generative/bayesian") Bayesian parameter estimation
	h3
		b Point estimates for parameters
	p
		a(href="./generative/estimators") Estimators
	p
		a(href="./generative/sufficient") Sufficient statistics
	h3
		b Properties of estimators
	p
		a(href="./generative/efficiency") Efficiency of estimators
	p
		a(href="./generative/consistency") Consistency of estimators
	p
		a(href="./generative/bias") Bias of estimators
	p
		a(href="./generative/variance") Variance of estimators
	p
		a(href="./generative/cramerRao") Cramér-Rao lower bound
	p
		a(href="./generative/biasVariance") Bias-variance trade-off
	h3
		b Maximum Likelihood Estimation
	p
		a(href="./generative/MLE") Maximum Likelihood Estimation (MLE)
	p
		a(href="./generative/gaussian") MLE of the Gaussian distribution
	p
		a(href="./generative/poisson") MLE of the Poisson distribution
	p
		a(href="./generative/binomial") MLE of the Bernoulli and binomial distributions
	h3
		b Maximum A-Priori Estimation
	p
		a(href="./generative/MAP") Maximum A-Priori estimation (MAP)
	p
		a(href="./generative/gaussianMAP") MAP of the Gaussian distribution
	h3
		b M-estimators
	h3
		b Method of Moments
	p
		a(href="./generative/MoM") Method Of Moments (MOM)
	p
		a(href="./generative/GMM") Generalised Method of Moments (GMM)
	h3
		b Calculating estimators
	p
		a(href="./generative/gradientDescent") Gradient descent

