extends ./generativeNN/subSubTemplate.jade
block subSubContent
	h3
		b Restricted Boltzmann Machines (RBMs)
	p
		a(href="./generativeNN/RBM") Restricted Boltzmann Machines (RMBs)
	p
		a(href="./generativeNN/DBN") Deep Belief Networks (DBNs)
	p
		a(href="./generativeNN/CD") Training with Contrastive Divergence (CD) (if greedy different, put here too)
	h3
		b Self-organising maps
	h3
		b Autoencoders
	p
		a(href="./generativeNN/autoencoder") Autoencoders
	h3
		b Variational autoencoders
	p
		a(href="./generativeNN/VAE") Variational autoencoders
	h3
		b Generative adversarial networks
	p
		a(href="./generativeNN/GAN") Generative adversarial networks
	h3
		b Recurrent Neural Network (RNN) encoders and decoders
	p
		a(href="./generativeNN/RNNEncode") Recurrent Neural Network (RNN) encoders
	p
		a(href="./generativeNN/RNNDecode") Recurrent Neural Network (RNN) decoders

