extends ./generative/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./generative/models") Parametric models
	h3
		b Likelihood functions
	p
		a(href="./generative/likelihood") Likelihood functions
	p
		a(href="./generative/score") Scores
	p
		a(href="./generative/fisher") Fisher information
	p
		a(href="./generative/orthogonal") Orthogonality
	h3
		b Bayesian parameter estimation
	p
		a(href="./generative/bayesian") Bayesian parameter estimation
	p
		a(href="./generative/empiricalBayes") Empirical Bayes
	p
		a(href="./generative/prior") Prior and posterior predictive distributions
	h3
		b Point estimates for parameters
	p
		a(href="./generative/estimators") Estimators
	p
		a(href="./generative/sufficient") Sufficient statistics
	h3
		b Properties of point estimators
	p
		a(href="./generative/bias") Estimator error and bias
	p
		a(href="./generative/MSE") Mean Squared Error (MSE) and Root Mean Squared Error (RMSE) of an estimator
	p
		a(href="./generative/asymptotic") Asymptotic properties of estimators
	p
		a(href="./generative/consistency") Consistency and efficiency of estimators
	p
		a(href="./generative/cramerRao") Cramér-Rao lower bound
	p
		a(href="./generative/biasVariance") Bias-variance trade-off
	h3
		b Maximum Likelihood Estimation
	p
		a(href="./generative/MLE") Maximum Likelihood Estimation (MLE)
	p
		a(href="./generative/MLEAsymptotic") Asymptotic normality of the MLE
	p
		a(href="./generative/gaussian") MLE of the Gaussian distribution
	p
		a(href="./generative/poisson") MLE of the Poisson distribution
	p
		a(href="./generative/binomial") MLE of the Bernoulli and binomial distributions
	h3
		b Maximum A-Priori Estimation
	p
		a(href="./generative/MAP") Maximum A-Priori estimation (MAP)
	p
		a(href="./generative/gaussianMAP") MAP of the Gaussian distribution
	h3
		b M-estimators
	h3
		b Method of Moments
	p
		a(href="./generative/MoM") Method Of Moments (MOM)
	p
		a(href="./generative/GMM") Generalised Method of Moments (GMM)

