extends ./generative/subSubTemplate.jade
block subSubContent
	h3
		b Creating parametric models
	p
		a(href="./generative/models") Models
	h3
		b Calculating estimators
	p
		a(href="./generative/gradientDescent") Gradient descent
	p
		a(href="./generative/fisher") Fisher information
	p
		a(href="./generative/CramerRao") Cramér-Rao lower bound
	h3
		b Choosing the form of a model
	p
		a(href="./generative/size") Sample sizes
	p
		a(href="./generative/overfitting") Overfitting
	p
		a(href="./generative/AIC") AIC, AICc, Bayes factor, BIC
	p
		a(href="./generative/testSets") Test sets
	p
		a(href="./generative/validationSets") Validation sets
	p
		a(href="./generative/KLD") Kullback-Leibler divergence
	h3
		b Maximum Likelihood Estimation
	p
		a(href="./generative/likelihood") Likelihood functions
	p
		a(href="./generative/MLE") Maximum Likelihood Estimation (MLE)
	p
		a(href="./generative/gaussian") MLE of the Gaussian distribution
	p
		a(href="./generative/poisson") MLE of the Poisson distribution
	p
		a(href="./generative/binomial") MLE of the Bernoulli and binomial distributions
	h3
		b Maximum A-Priori Estimation
	p
		a(href="./generative/MAP") Maximum A-Priori estimation (MAP)
	p
		a(href="./generative/gaussianMAP") MAP of the Gaussian distribution

	h3
		b Mixture models
	p
		a(href="./generative/GMMEM") The Expectation-Maximisation algorithm

