extends ./glm/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./glm/glm") Link/activation functions
	h3
		b Estimating parameters
	p
		a(href="./glm/deltaRule") Delta rule
	p
		a(href="./glm/deltaRule") Maximum likelihood
	h3
		b Link/activation functions: Regression
	p
		a(href="./glm/identity") Identity link function
	p
		a(href="./glm/absolute") Absolute value rectification
	p
		a(href="./glm/ReLU") Rectified Linear Unit (ReLU)
	p
		a(href="./glm/ReLUNoisy") Noisy ReLU
	p
		a(href="./glm/ReLULeaky") Leaky ReLU
	p
		a(href="./glm/ReLUParametric") Parametric ReLU
	p
		a(href="./glm/softPlus") Softplus
	p
		a(href="./glm/ELU") Exponential Linear Unit (ELU)
	h3
		b Link/activation functions: Classification
	p
		a(href="./glm/binomial") The binomial data generating process
	p
		a(href="./glm/perceptron") Perceptron (step function)
	p
		a(href="./glm/sigmoid") Logistic function (AKA sigmoid, logit)
	p
		a(href="./glm/probit") Probability unit (probit)
	p
		a(href="./glm/tanH") TanH
	p
		a(href="./glm/ArcTan") ArcTan
	p
		a(href="./glm/RBF") Radial Basis Function (RBF) activation function
	h3
		b Multinomial classification
	p
		a(href="./glm/multinomial") The multinomial data generating process
	p
		a(href="./glm/extremeIID") Extreme IID multinomial
	p
		a(href="./glm/estimating") Estimating multinomial logit models
	p
		a(href="./glm/nested") Nested logit
	p
		a(href="./glm/mixed") Mixed logit (random coefficients)
	p
		a(href="./glm/multinomialProbit") Multinomial probit

