extends ./glm/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./glm/glm") Generalised linear models
	h3
		b Link functions
	p
		a(href="./glm/identity") Identity link function
	p
		a(href="./glm/probit") Probit
	p
		a(href="./glm/logit") Logit
	p
		a(href="./glm/perceptron") Perceptron

	h3
		b Activation functions for perceptrons
	p
		a(href="./glm/activation") Activation functions
	p
		a(href="./glm/deltaRule") Delta rule

