extends ./glm/subSubTemplate.jade
block subSubContent
	h3
		b Theory
	p
		a(href="./glm/classification") Classification
	p
		a(href="./glm/cost") Cost functions
	h3
		b Link functions
	p
		a(href="./glm/identity") Identity link function
	p
		a(href="./glm/probit") Probit
	p
		a(href="./glm/logit") Logit
	p
		a(href="./glm/perceptron") Perceptron

