extends ./gls/subSubTemplate.jade
block subSubContent
	h3
		b Generalised Least Squares (GLS)
	p
		a(href="./gls/gls") The Generalised Least Squares (GLS) estimator
	h3
		b Feasible Generalised Least Squares (FGLS)
	p
		a(href="./gls/fgls") The Feasible Generalised Least Squares (FGLS) estimator
	h3
		b Heteroskedasticity
	p
		a(href="./gls/weighted") Weighted least squares


