extends ./gls/subSubTemplate.jade
block subSubContent
	h3
		b Heteroskedasticity
	p
		a(href="./gls/heteroskedasticity") Checking for heteroskedasticity
	p
		a(href="./gls/robust") Robust standard errors
	p
		a(href="./gls/weighted") Weighted least squares

