extends ./hypothesis/subSubTemplate.jade
block subSubContent
	h3
		b Hypothesis testing
	p
		a(href="./hypothesis/power") Power of tests
	p
		a(href="./hypothesis/typeError") Type I and type II errors
	p
		a(href="./hypothesis/sensitivity") Sensitivity tests
	p
		a(href="./hypothesis/zStatistic") Z test for variable significance
	p
		a(href="./hypothesis/tStatistic") T test for variable significance
	p
		a(href="./hypothesis/fTest") F test for equal population means
	p
		a(href="./hypothesis/fTest") F test for additional variables

