extends ./iid/subSubTemplate.jade
block subSubContent
	h3
		b IID
	p
		a(href="./iid/IIDIID") Identically Independently Distributed variables (IID)
	p
		a(href="./iid/IIDLevy") Lévy's continuity theorem
	p
		a(href="./iid/IIDLLN") Weak law of large numbers
	p
		a(href="./iid/IIDCLT") Central limit theorem
	h3
		b Convergence
	p
		a(href="./iid/convergenceDistribution") Convergence in distribution (converge weakly)
	p
		a(href="./iid/convergenceProbability") Convergence in probability and o-notation
	p
		a(href="./iid/convergenceAS") Almost sure convergence

