extends ./information/subSubTemplate.jade
block subSubContent
	h3
		b Information theory
	p
		a(href="./information/entropy") Entropy
	p
		a(href="./information/KLDivergence") Kullback–Leibler divergence


