extends ./linearML/subSubTemplate.jade
block subSubContent
	h3
		b Regularisation
	p
		a(href="./linearML/ridge") Ridge regression
	p
		a(href="./linearML/lasso") Lasso
	p
		a(href="./linearML/elasticnet") Elasticnet
	h3
		b Selection
	p
		a(href="./linearML/selection") Selection (forward, backward, stepwise)
	p
		a(href="./linearML/2SLasso") 2 Stage LASSO

