extends ./linearML/subSubTemplate.jade
block subSubContent
	h3
		b OLS predictions with many parameters
	p
		a(href="./linearML/manyVariables") Too many independent variables
	h3
		b Least Absolute Shrinkage and Selection Operator (LASSO)
	p
		a(href="./linearML/lasso") Least Absolute Shrinkage and Selection Operator (LASSO)
	p
		a(href="./linearML/lassoHyper") Optimal hyperparameter for LASSO
	p
		a(href="./linearML/featureScaling") Feature scaling
	h3
		b Ridge regression
	p
		a(href="./linearML/ridge") Ridge regression
	p
		a(href="./linearML/elasticnet") Elasticnet
	p
		a(href="./linearML/lp") \(L_p\) regularisation
	p
		a(href="./linearML/lava") Lava
	h3
		b Tests
	p
		a(href="./olsInference/reset") The Ramsey RESET test
	p
		a(href="./olsInference/link") The Link test

