extends ./linearML/subSubTemplate.jade
block subSubContent
	h3
		b Regularisation
	p
		a(href="./linearML/ridge") Ridge regression
	p
		a(href="./linearML/lasso") Lasso
	p
		a(href="./linearML/elasticnet") Elasticnet
	h3
		b Algorithms
	p
		a(href="./linearML/SGD") Stochastic Gradient Descent (SGD) regressor

