extends ./markov/subSubTemplate.jade
block subSubContent
	h3
		b Markov chains
	h3
		b Visible markov models
	p
		a(href="./markov/estimation") Estimating the transition matrix (by counting?)
	h3
		b Hidden Markov Models (HMMs)
	p
		a(href="./markov/HMM") Defining Hidden Markov Models (HMMs)
	p
		a(href="./markov/viterbi") Estimating HMMs with the Viterbi algorithm
	p
		a(href="./markov/forward") Estimating HMMs with the forward algorithm
	p
		a(href="./markov/forwardBackward") Estimating HMMs with the forward-backward algorithm

