extends ./markov/subSubTemplate.jade
block subSubContent
	h3
		b Markov chains
	p
		a(href="./markov/estimation") Estimating the Markov chain stochastic matrix
	h3
		b Hidden Markov Models (HMMs)
	p
		a(href="./markov/HMM") Defining Hidden Markov Models (HMMs)
	p
		a(href="./markov/viterbi") Estimating HMMs with the Viterbi algorithm
	p
		a(href="./markov/forward") Estimating HMMs with the forward algorithm
	p
		a(href="./markov/forwardBackward") Estimating HMMs with the forward-backward algorithm
	p
		a(href="./markov/baumWelch") Baum-Welch algorithm
	h3
		b Kalman filters
	p
		a(href="./markov/kalman") Kalman filters
	h3
		b Dynamic Bayesian Network
	p
		a(href="./markov/DBN") Dynamic Bayesian Network

