extends ./markov/subSubTemplate.jade
block subSubContent
	h3
		b Visible markov models
	p
		a(href="./markov/estimation") Estimating the transition matrix (by counting?)
	h3
		b Hidden markov models
	p
		a(href="./markov/estimation") The forward-backward algorithm
	h3
		b Other
	p
		a(href="./markov/estimation") Markov chain Monte Carlo (MCMC) (this should be elsewhere)

