extends ./mcmc/subSubTemplate.jade
block subSubContent
	h3
		b Metropolis-Hastings algorimth
	p
		a(href="./mcmc/direct") Direct sampling
	p
		a(href="./mcmc/metropolisHastings") The Metropolis-Hastings algorithm
	h3
		b Gibb's sampling
	p
		a(href="./mcmc/gibbs") Gibb's sampling
	h3
		b Simulating annealing
	p
		a(href="./mcmc/annealing") Simulated annealing

