extends ./mcmc/subSubTemplate.jade
block subSubContent
	h3
		b Markov Chain Monte Carlo (MCMC) methods
	h3
		b Metropolis-Hastings algorithm
	p
		a(href="./mcmc/direct") Direct sampling
	p
		a(href="./mcmc/metropolisHastings") The Metropolis-Hastings algorithm
	h3
		b Gibb's sampling
	p
		a(href="./mcmc/gibbs") Gibb's sampling
	h3
		b Random search
	p
		a(href="./mcmc/randomSearch") Random search
	p
		a(href="./mcmc/randomOptimisation") Random optimisation
	p
		a(href="./mcmc/annealing") Simulated annealing
	h3
		b Bayesian optimisation
	p
		a(href="./mcmc/bayesian") Bayesian optimisation
	h3
		b Evolutionary algorithms
	p
		a(href="./mcmc/evolution") Evolutionary algorithms
	h3
		b Differential evolution
	p
		a(href="./mcmc/differential") Differential evolution
	h3
		b Particle swarms
	p
		a(href="./mcmc/swarm") Particle swarms

