extends ./MLregression/subSubTemplate.jade
block subSubContent
	h3
		b Regression trees
	p
		a(href="./neuralNetworks/hiddenLayers") A single hidden layer
	p
		a(href="./neuralNetworks/backPropagation") Back propagation
	h3
		b More than \(2\) classes
	p
		a(href="./neuralNetworks/activation") Softmax

