extends ./MLregression/subSubTemplate.jade
block subSubContent
	h3
		b Regression trees
	p
		a(href="./MLregression/regressionTrees") Classic regression trees
	p
		a(href="./MLregression/treeMixed") Mixed regression trees
	p
		a(href="./MLregression/treeProbabilistic") Probabilistic decision trees
	p
		a(href="./MLregression/treeBayes") Bayesian regression trees - \(P(\theta )\)
	p
		a(href="./MLregression/treeBayes") Bayesian regression trees - \(P(T)\)
	p
		a(href="./MLregression/treeBackfitting") Bayesian backfitting
	p
		a(href="./MLregression/BART") Bayesian Additive Regression Trees (BART)
	h3
		b Kernel regression
	p
		a(href="./MLregression/kernel") Kernel regression
	h3
		b Other
	p
		a(href="./MLregression/LOWESS") LOWESS
	p
		a(href="./MLregression/LOESS") LOESS

