extends ./MLregression/subSubTemplate.jade
block subSubContent
	h3
		b Regression trees
	p
		a(href="./MLregression/regressionTrees") Regression trees
	p
		a(href="./MLregression/regressionTrees") Probabilistic decision trees
	h3
		b Kernel regression
	p
		a(href="./MLregression/kernel") Kernel regression

	h3
		b Other
	p
		a(href="./MLregression/LOWESS") LOWESS
	p
		a(href="./MLregression/LOESS") LOESS

