extends ./MLregression/subSubTemplate.jade
block subSubContent
	h3
		b Kernel regression
	p
		a(href="./MLregression/kernel") Kernel regression (AKA kernel density, Parzen window)
	h3
		b Splines
	p
		a(href="./MLregression/MARS") Multivariate Adaptive Regression Splines (MARS)
	p
		a(href="./MLregression/splinesBayes") Bayesian splines
	h3
		b Other
	p
		a(href="./MLregression/local") Local regression
	p
		a(href="./MLregression/LOWESS") LOWESS
	p
		a(href="./MLregression/LOESS") LOESS
	p
		a(href="./MLregression/quantile") Quantile regression
	p
		a(href="./MLregression/PCR") Principal component regression
	p
		a(href="./MLregression/PLSR") Partial least squares regression

