extends ./models/subSubTemplate.jade
block subSubContent
	h3
		b Basics
	p
		a(href="./models/predictionsParameters") Predictions and parameters
	p
		a(href="./models/size") Sample sizes
	p
		a(href="./models/overfitting") Overfitting
	h3
		b Prediction
	p
		a(href="./models/scoring") Scoring models
	p
		a(href="./models/testSets") Test sets
	p
		a(href="./models/validationSets") Validation sets
	h3
		b Ensemble methods
	p
		a(href="./models/bagging") Bagging
	p
		a(href="./models/boosting") Boosting
	p
		a(href="./models/gradientBoosting") Gradient boosting
	p
		a(href="./models/voting") Majority voting
	p
		a(href="./models/stackedAggregation") Stacked aggregation
	h3
		b Types of learning
	p
		a(href="./models/onlineOffline") Online and offline learning

