extends ./models/subSubTemplate.jade
block subSubContent
	h3
		b Basics
	p
		a(href="./models/ensemble") Predictions and parameters
	p
		a(href="./models/size") Sample sizes
	p
		a(href="./models/overfitting") Overfitting
	h3
		b Prediction
	p
		a(href="./models/ensemble") Ensemble models
	p
		a(href="./models/scoring") Scoring models
	p
		a(href="./models/testSets") Test sets
	p
		a(href="./models/validationSets") Validation sets

