extends ./neuralNetworksRec/subSubTemplate.jade
block subSubContent
	h3
		b Simple recurrent neural networks
	p
		a(href="./neuralNetworksRec/rnn") Recurrent neural networks
	p
		a(href="./neuralNetworksRec/bptt") Backpropagation Through Time (BPTT)
	h3
		b Long Short-Term Memory (LSTM)
	p
		a(href="./neuralNetworksRec/lstm") Long Short-Term Memory (LSTM)
	h3
		b Variants
	p
		a(href="./neuralNetworksRec/peephole") Peephole LTSM
	p
		a(href="./neuralNetworksRec/gru") Gated Recurrent Units (GRUs)

