extends ./neuralNetworks/subSubTemplate.jade
block subSubContent
	h3
		b Activation functions for perceptrons
	p
		a(href="./neuralNetworks/activation") Activation functions
	p
		a(href="./neuralNetworks/deltaRule") Delta rule
	h3
		b Multi-Layer Perceptron (MLP)
	p
		a(href="./neuralNetworks/hiddenLayers") A single hidden layer
	p
		a(href="./neuralNetworks/backPropagation") Back propagation
	h3
		b Regularising neural networks
	p
		a(href="./neuralNetworks/dropout") Dropout
	p
		a(href="./neuralNetworks/l2") \(L_2\) regularisation
	h3
		b Deep neural networks
	p
		a(href="./neuralNetworks/deepLearning") More layers allow for more complex functions
	p
		a(href="./neuralNetworks/convexity") Convexity
	p
		a(href="./neuralNetworks/unstable") Unstable gradient problem
	p
		a(href="./neuralNetworks/unstable") Curse of dimensionality
	h3
		b Types of hidden layers
	p
		a(href="./neuralNetworks/convolutional") Sparce layers (convolutional neural networks)
	p
		a(href="./neuralNetworks/pooling") Pooling layers
	p
		a(href="./neuralNetworks/flattening") Flattening layers
	p
		a(href="./neuralNetworks/flattening") Capsules
	h3
		b Non-independent data
	p
		a(href="./neuralNetworks/lstm") Recurrant neural networks
	p
		a(href="./neuralNetworks/lstm") Long short-term memory (LSTM)

