extends ./neuralNetworks/subSubTemplate.jade
block subSubContent
	h3
		b Multi-Layer Perceptron (MLP)
	p
		a(href="./neuralNetworks/hiddenLayers") A single hidden layer
	p
		a(href="./neuralNetworks/deltaRule") Delta rule
	p
		a(href="./neuralNetworks/backPropagation") Back propagation
	p
		a(href="./neuralNetworks/activation") Types of activation functions
	h3
		b Regularising neural networks
	p
		a(href="./neuralNetworks/dropout") Dropout
	p
		a(href="./neuralNetworks/l2") \(L_2\) regularisation
	h3
		b Deep neural networks
	p
		a(href="./neuralNetworks/deepLearning") More layers allow for more complex functions
	p
		a(href="./neuralNetworks/convexity") Convexity
	h3
		b Types of hidden layers
	p
		a(href="./neuralNetworks/convolutional") Sparce layers (convolutional neural networks)
	p
		a(href="./neuralNetworks/pooling") Pooling layers
	p
		a(href="./neuralNetworks/flattening") Flattening layers
	p
		a(href="./neuralNetworks/lstm") Long short-term memory (LSTM)

