extends ./neuralNetworks/subSubTemplate.jade
block subSubContent
	h3
		b Multi-Layer Perceptron (MLP)

	h3
		b Simple neural networks
	p
		a(href="./neuralNetworks/hiddenLayers") Hidden layers
	p
		a(href="./neuralNetworks/forwardPropagation") Forward propagation
	p
		a(href="./neuralNetworks/deltaRule") Delta rule
	p
		a(href="./neuralNetworks/backPropagation") Back propagation
	p
		a(href="./neuralNetworks/activation") Types of activation functions
	h3
		b Deep learning
	p
		a(href="./neuralNetworks/layers") Types of layers
	p
		a(href="./neuralNetworks/deepLearning") Deep learning
	p
		a(href="./neuralNetworks/convexity") Convexity
	h3
		b Feature selection
	p
		a(href="./neuralNetworks/autoencoder") Autoencoder
	h3
		b Convolutional neural networks
	p
		a(href="./neuralNetworks/convolutional") Convolutional neural networks
	h3
		b Recurrant neural networks
	p
		a(href="./neuralNetworks/recurrant") Recurrant neural networks

