extends ./NLP/subSubTemplate.jade
block subSubContent
	h3
		b Other
	p
		a(href="./NLP/language") Probabilistic language models
	p
		a(href="./NLP/word2vec") Word2vec
	p
		a(href="./NLP/latentSemantic") Latent Semantic Analysis

