extends ./nonLinear/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./nonLinear/models") Non-linear parametric models
	p
		a(href="./nonLinear/estimation") Estimating parameters or non-linear models

