extends ./nonParametric/subSubTemplate.jade
block subSubContent
	h3
		b Histograms
	p
		a(href="./nonParametric/histogram") Histograms
	h3
		b Kernels
	p
		a(href="./nonParametric/kernel") Kernel density estimation
	p
		a(href="./nonParametric/kernelSmoothing") Smoothing kernel estimation

