extends ./nonParametric/subSubTemplate.jade
block subSubContent
	h3
		b Non-parametric estimates of probability distributions
	p
		a(href="./nonParametric/histogram") Histograms
	p
		a(href="./nonParametric/kernel") Kernel density estimation

