extends ./nonParametric/subSubTemplate.jade
block subSubContent
	h3
		b Non-parametric models
	p
		a(href="./nonParametric/DEA") Data envelopment analysis
	p
		a(href="./nonParametric/SFA") Stochastic frontier analysis

