extends ./ols/subSubTemplate.jade
block subSubContent
	h3
		b Constructing a linear model
	p
		a(href="./ols/linearModels") Defining linear models
	p
		a(href="./ols/nonLinear") Modelling non-linear functions as linear
	p
		a(href="./ols/intercept") Intercepts
	h3
		b Ordinary Least Squares (OLS)  estimator
	p
		a(href="./ols/MLE") Maximum Likelihood Estimator (MLE) for linear regression
	p
		a(href="./ols/gaussMarkov") Gauss-Markov conditions
	p
		a(href="./ols/moments") Moments of OLS estimators
	h3
		b Calculating the OLS estimator
	p
		a(href="./ols/normal") Normal equation
	p
		a(href="./ols/gradientDescent") Gradient descent
	h3
		b Checking the OLS assumptions
	p
		a(href="./ols/heteroskedasticity") Checking for heteroskedasticity
	p
		a(href="./ols/reset") Ramsey RESET test
	h3
		b Interpreting OLS results
	p
		a(href="./ols/ci") Confidence intervals and t-tests.
	p
		a(href="./ols/tStatistic") T statistic
	p
		a(href="./ols/fTest") F test
	p
		a(href="./ols/chiSquared") Chi squared
	h3
		b OLS estimators with heteroskedasticity
	p
		a(href="./ols/chiSquared") Robust standard errors
	h3
		b OLS estimators with missing data
	p
		a(href="./ols/interpretation") 2 stage OLS
	p
		a(href="./ols/interpretation") Interpreting linear models
	h3
		b SORT
	p
		a(href="./ols/normalisation") Normalisation and logs
	p
		a(href="./ols/selection") Selection (forward, backward, stepwise)


