extends ./ols/subSubTemplate.jade
block subSubContent
	h3
		b Theory
	p
		a(href="./ols/goals") Goals: predictions and identification
	p
		a(href="./ols/linearModels") Linear models
	p
		a(href="./ols/gaussMarkov") Gauss-Markov conditions
	p
		a(href="./ols/estimation") Estimation

