extends ./ols/subSubTemplate.jade
block subSubContent
	h3
		b Constructing a linear model
	p
		a(href="./ols/linearModels") Defining linear models
	p
		a(href="./ols/nonLinear") Modelling non-linear functions as linear
	p
		a(href="./ols/interpretation") Interpreting linear models
	p
		a(href="./ols/intercept") Intercepts
	h3
		b Ordinary Least Squares (OLS)  estimator
	p
		a(href="./ols/MLE") Maximum Likelihood Estimator (MLE) for linear regression
	p
		a(href="./ols/normal") Normal equation
	p
		a(href="./ols/gradientDescent") Gradient descent
	p
		a(href="./ols/gaussMarkov") Gauss-Markov conditions
	p
		a(href="./ols/moments") Moments of parameters
	p
		a(href="./ols/moments") Geometric interpretation of OLS
	h3
		b Ridge regression
	p
		a(href="./ols/MAP") Maximum A-Priori (MAP) estimator for linear regression (L1)
	h3
		b Least Angle Regresson
	h3
		b Bayesian linear regression
