extends ./ols/subSubTemplate.jade
block subSubContent
	h3
		b Constructing a linear model
	p
		a(href="./ols/linearModels") Defining linear models
	p
		a(href="./ols/intercept") Intercepts
	h3
		b Calculing Ordinary Least Squares (OLS) estimators
	p
		a(href="./ols/normal") The normal equation, the projection matrix and the annihilation matrix
	p
		a(href="./ols/gradientDescent") Gradient descent for OLS
	h3
		b Moments of the OLS  estimators
	p
		a(href="./ols/moments") Expectation of OLS estimators
	p
		a(href="./ols/variance") Variance of OLS estimators
	h3
		b Properties of the OLS estimator
	p
		a(href="./ols/MLE") Maximum Likelihood Estimator (MLE) and OLS equivalence
	p
		a(href="./ols/gaussMarkov") Gauss-Markov conditions
	h3
		b Checking the form of the model
	p
		a(href="./ols/nonLinear") Modelling non-linear functions as linear
	p
		a(href="./ols/reset") The Ramsey RESET test
	h3
		b Interpreting OLS results
	p
		a(href="./ols/visualising") Visualising results
	p
		a(href="./ols/interpretation") Interpreting linear models
	h3
		b Making forecasts with OLS
	p
		a(href="./ols/prediction") Mean and variance of predictions

