extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Statistics
	h2
		b Estimation
	p
		b Estimators
	p
		a(href="/theory/statistics/estimators/Bias/") Parameters and estimators
	p
		a(href="/theory/statistics/estimators/Bias") Sufficient statistics, and the Fisher-Neyman factorisation theorem
	p
		a(href="/theory/statistics/estimators/Bias") Bias
	p
		a(href="/theory/statistics/estimators/Bias") Lehmann–Scheffé theorem
	p
		a(href="/theory/statistics/estimators/Bias") Rao–Blackwell theorem
	p
		a(href="/theory/statistics/estimators/Bias") Fisher information
	p
		a(href="/theory/statistics/estimators/Bias") Akaike and Bayesian information criteria
	p
		a(href="/theory/statistics/estimators/Bias") Cramér–Rao lower bound
	p
		b Estimation for IID event
	p
		a(href="/theory/statistics/estimators/SingleMoM") Method of moments
	p
		a(href="/theory/statistics/estimators/SingleKnown") Estimators for known distributions
	p
		a(href="/theory/statistics/estimators/SingleMLE") Maximum Likelihood Estimation
	p
		b Estimation for joint IID events
	p
		a(href="/theory/statistics/estimators/JointMLE") Normal distribution and MLE
	p
		a(href="/theory/statistics/estimators/JointGM") Gauss Markov
	p
		a(href="/theory/statistics/estimators/JointOLS") Ordinary Least Squares
	p
		a(href="/theory/statistics/estimators/JointOLS") Instrumental variables
	p
		a(href="/theory/statistics/estimators/JointOLS") Robust OLS
	p
		a(href="/theory/statistics/estimators/JointOLS") Solving: matrices
	p
		a(href="/theory/statistics/estimators/JointOLS") Solving: gradient descent
