extends ./ols/subSubTemplate.jade
block subSubContent
	h3
		b Constructing a linear model
	p
		a(href="./ols/linearModels") Defining linear models
	p
		a(href="./ols/intercept") Intercepts
	p
		a(href="./ols/nonLinear") Modelling non-linear functions as linear
	h3
		b Calculating Ordinary Least Squares (OLS) estimators
	p
		a(href="./ols/normal") The normal equation
	p
		a(href="./ols/projection") The projection and annihilation matrices
	p
		a(href="./ols/psuedo") The Moore-Penrose pseudoinverse
	p
		a(href="./ols/leverage") Leverage
	h3
		b Making forecasts with OLS
	p
		a(href="./ols/prediction") Mean and variance of predictions



