extends ./olsInference/subSubTemplate.jade
block subSubContent
	h3
		b Bias of OLS estimators
	p
		a(href="./olsInference/moments") Expectation of OLS estimators
	h3
		b Variance of OLS estimators
	p
		a(href="./olsInference/variance") Variance of OLS estimators
	p
		a(href="./olsInference/HC") Heteroskedasticity-Consistent (HC) standard errors
	h3
		b Properties of the OLS estimator
	p
		a(href="./olsInference/MLE") Maximum Likelihood Estimator (MLE) and OLS equivalence
	p
		a(href="./olsInference/gaussMarkov") Gauss-Markov conditions
	h3
		b Selection
	p
		a(href="./olsInference/tSelection") T-test selection
	p
		a(href="./olsInference/2SLasso") Post-LASSO

	h3
		b Heteroskedasticity
	p
		a(href="./olsInference/heteroskedasticity") Checking for heteroskedasticity using the White test
	p
		a(href="./olsInference/robust") Robust standard errors

