extends ./olsMore/subSubTemplate.jade
block subSubContent
	h3
		b Motivation
	p
		a(href="./olsMore/OLSBiasOmitted") Bias of OLS estimator from ommitted variables
	p
		a(href="./olsMore/OLSBiasError") Bias of OLS estimator from measurement error
	h3
		b Parameter estimation for simultaneous equations
	p
		a(href="./olsMore/endogeneity") Structural and reduced forms
	p
		a(href="./olsMore/endogeneity") Parameter identification problem with simultaneous equations
	h3
		b 2 Stage OLS
	p
		a(href="./olsMore/2SOLS") 2 Stage OLS (2SOLS) estimator
	p
		a(href="./olsMore/2SOLSbias") Bias of the 2SOLS estimator
	p
		a(href="./olsMore/2SOLSvariance") Variance of the 2SOLS estimator
	h3
		b More
	p
		a(href="./olsMore/identification") Identification through exogeneous variables
	p
		a(href="./olsMore/power") Power of instruments
	h3
		b The Instrumental Variable (IV) estimator
	p
		a(href="./olsMore/IV") Instrumental Variable (IV) estimator
	p
		a(href="./olsMore/bias") Bias of the IV estimator
	p
		a(href="./olsMore/variance") Variance of the IV estimator
	h3
		b Choosing instrumental variables
	p
		a(href="./olsMore/selectionDouble") Double selection

