extends ./olsMore/subSubTemplate.jade
block subSubContent
	h3
		b OLS estimators with missing data
	p
		a(href="./olsMore/identification") Parameter identification problem
	p
		a(href="./olsMore/endogeneity") Endogeneity
	p
		a(href="./olsMore/2SOLS") 2 stage OLS

