extends ./olsMore/subSubTemplate.jade
block subSubContent
	h3
		b OLS estimators with missing data
	p
		a(href="./olsMore/2SOLS") 2 Stage OLS (2SOLS) estimator 
	p
		a(href="./olsMore/IV") Instrumental Variable (IV) estimator
	p
		a(href="./olsMore/bias") Bias of the IV estimator
	p
		a(href="./olsMore/variance") Variance of the IV estimator
	h3
		b Other
	p
		a(href="./olsMore/endogeneity") Endogeneity
	p
		a(href="./olsMore/identification") Parameter identification problem

