extends ./parametric/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./parametric/generativeDiscriminative") Generative and discriminative models
	h3
		b Bayesian parameter estimation
	p
		a(href="./parametric/regressionBayes") Bayesian parameter estimation for dependent variables
	p
		a(href="./parametric/prior") Prior and posterior predictive distributions for dependent variables
	h3
		b Classification
	p
		a(href="./parametric/classification") Classification
	p
		a(href="./parametric/multiClass") Multiclass classification
	p
		a(href="./parametric/classificationBayes") Bayesian classifier
	h3
		b Point parameter estimation
	p
		a(href="./parametric/MLE") Maximum Likelihood Estimation (MLE) for generative and discriminative models
	p
		a(href="./parametric/MAP") Maximum A-Priori estimation (MAP) for generative models
	h3
		b Point predictions in discriminative models
	p
		a(href="./parametric/prediction") Predictions and residuals
	p
		a(href="./parametric/hardSoft") Hard and soft classifiers
	p
		a(href="./parametric/confusion") Confusion matrix
	p
		a(href="./parametric/R2") Coefficient of determination (\(R^2\))
	h3
		b Loss functions for point predictions
	p
		a(href="./parametric/MMSE") Minimum Mean Square Error (MMSE)
	p
		a(href="./parametric/lossRegression") Loss functions for regression
	p
		a(href="./parametric/lossSoft") Loss functions for soft classifiers
	p
		a(href="./parametric/lossHard") Loss functions for hard classifiers

