extends ./parametric/subSubTemplate.jade
block subSubContent
	h3
		b Creating parametric models
	p
		a(href="./parametric/models") Models
	p
		a(href="./parametric/likelihood") Likelihood function
	h3
		b Regression and classification
	p
		a(href="./parametric/regression") Regression
	p
		a(href="./parametric/generativeDiscriminative") Generative and discriminative models
	p
		a(href="./parametric/regressionBayes") Bayesian regression
	p
		a(href="./parametric/classification") Classification
	p
		a(href="./parametric/cost") Cost functions for classifiers
	p
		a(href="./parametric/classificationBayes") Bayesian classifier
	h3
		b Choosing a model
	p
		a(href="./parametric/size") Sample sizes
	p
		a(href="./parametric/overfitting") Overfitting
	p
		a(href="./parametric/scoring") Scoring models
	p
		a(href="./parametric/testSets") Test sets
	p
		a(href="./parametric/validationSets") Validation sets
	p
		a(href="./parametric/AIC") AIC, AICc, Bayes factor, BIC
	p
		a(href="./parametric/selection") Selection (forward, backward, stepwise)
	h3
		b Interpreting models
	p
		a(href="./parametric/R2") R^2
	
