extends ./parametric/subSubTemplate.jade
block subSubContent
	h3
		b Estimation
	p
		a(href="./parametric/Bias") Bias
	p
		a(href="./parametric/biasVariance") Bias-Variance trade-off
	p
		a(href="./parametric/errors") Errors
	p
		a(href="./parametric/SingleMoM") Method of moments
	p
		a(href="./parametric/gradientDescent") Gradient descent
	p
		a(href="./parametric/SingleMLE") Maximum Likelihood Estimation
	p
		a(href="./parametric/CramerRao") Cramér-Rao lower bound
	p
		a(href="./parametric/sufficient") Sufficient statistics
	p
		a(href="./parametric/costFunction") Cost functions

