extends ./parametric/subSubTemplate.jade
block subSubContent
	h3
		b Estimation
	p
		a(href="./parametric/Bias") Bias
	p
		a(href="./parametric/SingleMoM") Method of moments
	p
		a(href="./parametric/SingleMLE") Maximum Likelihood Estimation
	p
		a(href="./parametric/ensemble") Ensemble models

