extends ./population/subSubTemplate.jade
block subSubContent
	h3
		b Plug-in estimators
	p
		a(href="./population/mean") Estimating the population mean
	p
		a(href="./population/variance") Estimating the population variance
	p
		a(href="./population/SD") Estimating the population standard deviation

