extends ./population/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./population/sufficient") Sufficient statistics
	p
		a(href="./population/estimators") Estimators
	h3
		b Properties of estimators
	p
		a(href="./population/efficiency") Efficiency of estimators
	p
		a(href="./population/consistency") Consistency of estimators
	p
		a(href="./population/bias") Bias of estimators
	h3
		b Bias and variance
	p
		a(href="./population/Bias") Bias of estimators
	p
		a(href="./population/variance") Variance of estimators
	p
		a(href="./population/biasVariance") Bias-variance trade-off
	h3
		b Method of Moments
	p
		a(href="./population/MoM") Method Of Moments (MOM)
	h3
		b Hypothesis testing
	p
		a(href="./population/power") Power of tests
	p
		a(href="./population/typeError") Type I and type II errors
	p
		a(href="./population/sensitivity") Sensitivity tests
	p
		a(href="./population/zStatistic") Z test for variable significance
	p
		a(href="./population/tStatistic") T test for variable significance
	p
		a(href="./population/fTest") F test for equal population means
	p
		a(href="./population/fTest") F test for additional variables

