extends ./population/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./population/estimators") Estimators
	p
		a(href="./population/sufficient") Sufficient statistics
	h3
		b Plug-in estimators
	p
		a(href="./population/mean") Estimating the population mean
	p
		a(href="./population/variance") Estimating the population variance
	p
		a(href="./population/SD") Estimating the population standard deviation
	h3
		b Properties of estimators
	p
		a(href="./population/efficiency") Efficiency of estimators
	p
		a(href="./population/consistency") Consistency of estimators
	p
		a(href="./population/bias") Bias of estimators
	p
		a(href="./population/variance") Variance of estimators
	h3
		b Bias and variance
	p
		a(href="./population/biasVariance") Bias-variance trade-off

