extends ./population/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./population/sufficient") Sufficient statistics
	p
		a(href="./population/CramerRao") Cramér-Rao lower bound
	p
		a(href="./population/Bias") Bias
	p
		a(href="./population/biasVariance") Bias-variance trade-off
	h3
		b Method of Moments
	p
		a(href="./population/MoM") Method Of Moments (MOM)
	h3
		b Maximum Likelihood Estimation
	p
		a(href="./population/MLE") Maximum Likelihood Estimation (MLE)
	p
		a(href="./population/likelihood") Likelihood functions

