extends ./probability/subSubTemplate.jade
block subSubContent
	h3
		b Basics of probability
	p
		a(href="./probability/singleAxioms") Kolgmogorov axioms
	p
		a(href="./probability/multipleAxioms") Additional axioms
	p
		a(href="./probability/multipleMarginal") Marginal probability
	p
		a(href="./probability/multipleConditional") Conditional probability
	h3
		b Moments
	p
		a(href="./probability/singleExpected") Expected value
	p
		a(href="./probability/singleVariance") Variance
	p
		a(href="./probability/singleMoments") Moments
	p
		a(href="./probability/multipleMoments") Moments for multiple events
	p
		a(href="./probability/multipleCovariance") Covariance matrix
	h3
		b Transformations
	p
		a(href="./probability/singleTransformations") Linear transformations
	p
		a(href="./probability/singleCumulative") Cumulative distribution functions
	p
		a(href="./probability/singleChebMark") Chebyshev and Markov's inequalities
	p
		a(href="./probability/singleMomentCharacteristic") Moment generating, and characteristic, functions
