extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Statistics
	h2
		b Probability
	p
		b Probability of an event
	p
		a(href="/theory/statistics/singleAxioms") Axioms
	p
		a(href="/theory/statistics/singleExpected") Expected value
	p
		a(href="/theory/statistics/singleVariance") Variance
	p
		a(href="/theory/statistics/singleMoments") Moments
	p
		a(href="/theory/statistics/singleTransformations") Linear transformations
	p
		a(href="/theory/statistics/singleCumulative") Cumulative distribution functions
	p
		a(href="/theory/statistics/singleChebMark") Chebyshev and Markov's inequalities
	p
		a(href="/theory/statistics/singleMomentCharacteristic") Moment generating, and characteristic, functions
	p
		b Probabilities of joint events
	p
		a(href="/theory/statistics/multipleAxioms") Additional axioms
	p
		a(href="/theory/statistics/multipleMarginal") Marginal probability
	p
		a(href="/theory/statistics/multipleConditional") Conditional probability
	p
		a(href="/theory/statistics/multipleMoments") Moments for multiple events
	p
		a(href="/theory/statistics/multipleCovariance") Covariance matrix
	p
		b IID
	p
		a(href="/theory/statistics/IIDIID") Identically Independently Distributed variables (IID)
	p
		a(href="/theory/statistics/IIDConvergence") Convergence
	p
		a(href="/theory/statistics/IIDLevy") Lévy's continuity theorem
	p
		a(href="/theory/statistics/IIDLLN") Weak law of large numbers
	p
		a(href="/theory/statistics/IIDCLT") Central limit theorem
