extends ./probability/subSubTemplate.jade
block subSubContent
	h3
		b Basics of probability
	p
		a(href="./probability/singleAxioms") Kolgmogorov axioms
	p
		a(href="./probability/basicResults") Basic results
	p
		a(href="./probability/otherBayes") Bayes theorem
	h3
		b Variables
	p
		a(href="./probability/variables") Random variables
	p
		a(href="./probability/mass") Probability mass functions
	p
		a(href="./probability/cumulative") Cumulative distribution functions
	p
		a(href="./probability/cumulative") Probability density functions
	h3
		b Moments
	p
		a(href="./probability/singleExpected") Expected value
	p
		a(href="./probability/singleVariance") Variance
	p
		a(href="./probability/singleMoments") Moments
	p
		a(href="./probability/multipleCovariance") Covariance matrix
	h3
		b Other
	p
		a(href="./probability/singleChebMark") Chebyshev and Markov's inequalities
	p
		a(href="./probability/singleMomentCharacteristic") Moment generating, and characteristic, functions

