extends ./probability/subSubTemplate.jade
block subSubContent
	p
		b Probability of an event
	p
		a(href="/theory/statistics/probability/singleAxioms") Axioms
	p
		a(href="/theory/statistics/probability/singleExpected") Expected value
	p
		a(href="/theory/statistics/probability/singleVariance") Variance
	p
		a(href="/theory/statistics/probability/singleMoments") Moments
	p
		a(href="/theory/statistics/probability/singleTransformations") Linear transformations
	p
		a(href="/theory/statistics/probability/singleCumulative") Cumulative distribution functions
	p
		a(href="/theory/statistics/probability/singleChebMark") Chebyshev and Markov's inequalities
	p
		a(href="/theory/statistics/probability/singleMomentCharacteristic") Moment generating, and characteristic, functions
	p
		b Probabilities of joint events
	p
		a(href="/theory/statistics/probability/multipleAxioms") Additional axioms
	p
		a(href="/theory/statistics/probability/multipleMarginal") Marginal probability
	p
		a(href="/theory/statistics/probability/multipleConditional") Conditional probability
	p
		a(href="/theory/statistics/probability/multipleMoments") Moments for multiple events
	p
		a(href="/theory/statistics/probability/multipleCovariance") Covariance matrix
	p
		b IID
	p
		a(href="/theory/statistics/probability/IIDIID") Identically Independently Distributed variables (IID)
	p
		a(href="/theory/statistics/probability/IIDConvergence") Convergence
	p
		a(href="/theory/statistics/probability/IIDLevy") Lévy's continuity theorem
	p
		a(href="/theory/statistics/probability/IIDLLN") Weak law of large numbers
	p
		a(href="/theory/statistics/probability/IIDCLT") Central limit theorem
