extends ./probability/subSubTemplate.jade
block subSubContent
	h3
		b Basics of probability
	p
		a(href="./probability/singleAxioms") Measure space
	p
		a(href="./probability/kolmogorov") Kolmogorov axioms
	p
		a(href="./probability/discrete") Discrete and continous probability
	p
		a(href="./probability/basicResults") Basic results
	p
		a(href="./probability/otherBayes") Bayes theorem
	p
		a(href="./probability/odds") Odds
	h3
		b Variables
	p
		a(href="./probability/variables") Random variables
	p
		a(href="./probability/mass") Probability mass functions
	p
		a(href="./probability/cumulative") Cumulative distribution functions
	p
		a(href="./probability/density") Probability density functions
	h3
		b Multiple variables
	p
		a(href="./probability/jointMarginal") Joint and marginal probability
	p
		a(href="./probability/independence") Independence and conditional independence
	h3
		b Moments
	p
		a(href="./probability/functional") Functionals of probabilities
	p
		a(href="./probability/singleExpected") Expected value
	p
		a(href="./probability/singleVariance") Variance
	p
		a(href="./probability/singleMoments") Moments
	p
		a(href="./probability/multipleCovariance") Covariance matrix
	p
		a(href="./probability/jensen") Jensen's inequality
	h3
		b Bayesian networks
	p
		a(href="./probability/bayesianNetwork") Bayesian networks
	h3
		b Other
	p
		a(href="./probability/singleChebMark") Chebyshev and Markov's inequalities
	p
		a(href="./probability/singleMomentCharacteristic") Moment generating, and characteristic, functions

