extends ./recommend/subSubTemplate.jade
block subSubContent
	h3
		b Non-negative matrix factorisation
	p
		a(href="./recommend/NNMF") Non-negative matrix factorisation
	h3
		b Recommenders
	p
		a(href="./recommend/problem") The recommendation problem
	h3
		b Approaches
	p
		a(href="./recommend/content") Content filtering
	p
		a(href="./recommend/collaboration") Collaborative filtering
	p
		a(href="./recommend/cold") Cold start

