extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Statistics
	h2
		b Sampling
	p
		a(href="/theory/statistics/sampleSamples") Samples
	p
		a(href="/theory/statistics/sampleMethods") Sample methods
	p
		a(href="/theory/statistics/sampleStatistic") Sample statistics
