extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Estimators

	p When we take statistics we are often concerned with inferring properties of the underlying probability function.
	p As the properties of the probability distribution function affect the chance of observing the sample, we can analyse samples to infer properties of the underlying distribution.
	p There are many properties would could be interested in. This includes moments and parameters of a specific probability distribution function.
	p An estimator is a statistic which is our estimate of one of these values.
	h3
		b Bias of an estimator
	p An estimator is a function of sample. The bias of an estimator is defined as:
	p $$Bias_\theta [\hat \theta ]:=E_\theta [\hat \theta -\theta ]$$
	h3
		b Mean squared error of estimator

	h3
		b Efficiency of an estimator

	h3
		b Consistent of an estimator

	h3
		b Sufficiency

	h3
		b Robustness

	h3
		b Confidence interval
	