extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Samples

	p We observe a sample set \(S\) drawn from a probability distribution function. We do not directly observe the population itself.
	p For example we may observe from flipping a coin:
	p $$\{H,T,T,H\}$$
	p The probability of observing this was:
	p $$P[(X_1=H)\land (X_2=T)\land (X_3=T)\land (X_4=H)]$$
	p Or from flipping a coin and rolling a die:
	p $$\{\{H,3\},\{T,1\},\{T,1\},\{H,2\}\}$$
	p The probability of observing this was:
	p $$P[(X_1=H\land Y_1=3)\land (X_2=T\land Y_2=1)\land (X_3=T\land Y_3=1)\land (X_4=H\land Y_4=2)]$$