extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Statistic


	p A statistic is a function of sample data which produces a single number.
	p For example we can count the number of observations:
	p $$n:=count_i(x_i)$$
	p Note that for joint probability samples \(n\) generally refers to the number of clusters, for example a person’s height and weight would consist of \(2\) data points, but would constitute only \(1\)	p data point in a collection of such points.
	p Statistics include useful information such as the sample mean or the maximum, but include any function resulting in a real number. Useless information such as the data point which takes the longest to say would also be a statistic.