extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Statistics
	h2
		b Sampling
	p
		a(href="/theory/statistics/sampling/Samples") Samples
	p
		a(href="/theory/statistics/sampling/Methods") Sample methods
	p
		a(href="/theory/statistics/sampling/Statistic") Sample statistics
