extends ./semiParametric/subSubTemplate.jade
block subSubContent
	h3
		b The Robinson estimator
	p
		a(href="./semiParametric/robinson") The Robinson estimator
	p
		a(href="./semiParametric/robinsonBV") Bias and variance of the Robinson estimator
	h3
		b Causal trees
