extends ./semiParametric/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./semiParametric/semiParametric") Semi-parametric models
	p
		a(href="./semiParametric/bias") Bias from single and joint estimation
	h3
		b Split sampling
	p
		a(href="./semiParametric/split") Split sampling
	h3
		b Partially linear models
	p
		a(href="./semiParametric/introduction") Partially linear models
	p
		a(href="./semiParametric/robinson") The Robinson estimator
	p
		a(href="./semiParametric/DML") Double/Debiased Machine Learning

