extends ./semiParametric/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./semiParametric/semiParametric") Semi-parametric models
	p
		a(href="./semiParametric/introduction") Partially linear models
	p
		a(href="./semiParametric/bias") Bias from single and joint estimation
	h3
		b The Robinson estimator
	p
		a(href="./semiParametric/robinson") The Robinson estimator
	p
		a(href="./semiParametric/robinsonConditional") Calculating conditional expectations
	p
		a(href="./semiParametric/robinsonBV") Bias and variance of the Robinson estimator
	h3
		b Estimating the non-parametric model
	p
		a(href="./semiParametric/linear") Estimating non-parametric linear models
	p
		a(href="./semiParametric/iterative") Iteratively estimating semi-parametric models
	h3
		b Double/Debiased Machine Learning (DML)
	p
		a(href="./semiParametric/IV") Psuedo-Instrumental Variables
	p
		a(href="./semiParametric/DML") Double/Debiased Machine Learning
	p
		a(href="./semiParametric/DMLBV") Bias and variance of DML

