extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Moments
	p The \(n\)th moment of event \(x\) around \(c\) is defined as this where \(f(x)=(x-c)^n\)
	p $$E[(x-c)^n]=\sum_i (x_i-c)^n P(x_i)$$
	p The mean is the first moment around \(0\).
	p The variance is the second moment around the mean.

	p Add kertosis, skew
