extends ./statistics/subSubTemplate.jade
block subSubContent
	h3
		b Creating statistics
	p
		a(href="./statistics/creating") Creating statistics
	h3
		b Moments of statistics
	p
		a(href="./statistics/moments") Moments of statistics
	h3
		b Asymptotic properties of statistics
	p
		a(href="./statistics/distribution") Asymptotic distributions
	p
		a(href="./statistics/asymptotic") Asymptotic mean and variance
	p
		a(href="./statistics/normal") Asymptotic normality
	h3
		b Order statistics
	p
		a(href="./statistics/order") Order statistics

	h3
		b Bootstrapping
	p
		a(href="./statistics/bootstrap") Bootstrapping
	h3
		b Jackknifing
	p
		a(href="./statistics/jackknife") The jackknife
	p
		a(href="./statistics/jackknifeInf") The infintesimal jackknife

