extends ./stochastic/subSubTemplate.jade
block subSubContent
	h3
		b Introduct to processes
	p
		a(href="./stochastic/sequences") Sequences
	p
		a(href="./stochastic/markov") Markov property
	p
		a(href="./stochastic/martingale") Martingale property
	p
		a(href="./stochastic/time") Time series
	p
		a(href="./stochastic/transformation") Transformations
	h3
		b Processes
	p
		a(href="./stochastic/weiner") Weiner processes
	h3
		b Markov chains
	p
		a(href="./stochastic/MCMC") Monte carlo markov chain
	p
		a(href="./stochastic/MDP") Markov decision process
s
