extends ./stochastic/subSubTemplate.jade
block subSubContent
	h3
		b Introduct to processes
	p
		a(href="./stochastic/process") Stochastic processes
	p
		a(href="./stochastic/martingale") Markov property and Martingale properties
	p
		a(href="./stochastic/wold") Wold's theorem
	p
		a(href="./stochastic/exogeneity") Exogeneity
	h3
		b Markov chains
	p
		a(href="./stochastic/MC") Markov chain
	h3
		b Terms
	p
		a(href="./stochastic/autocovariance") Autocovariance and autocorrelation
	p
		a(href="./stochastic/stationarity") Stationary processes
	p
		a(href="./stochastic/ergodic") Ergodic processes

