extends ./stochastic/subSubTemplate.jade
block subSubContent
	h3
		b Introduction to processes 
	p
		a(href="./stochastic/process") Discrete and continuous processes
	p
		a(href="./stochastic/process") Stochastic evolution
	p
		a(href="./stochastic/gaussian") Gaussian processes
	p
		a(href="./stochastic/process") Moments of stochastic processes
	p
		a(href="./stochastic/autocovariance") Autocovariance and autocorrelation
	p
		a(href="./stochastic/martingale") The Markov and Martingale properties
	h3
		b Stationarity
	p
		a(href="./stochastic/stationarity") Weak- and wide-sense stationarity
	p
		a(href="./stochastic/stationarity") Unit roots
	p
		a(href="./stochastic/stationarity") White noise
	p
		a(href="./stochastic/order") Orders of integration
	p
		a(href="./stochastic/stationarity") Trend stationarity
	h3
		b Ergodic processes
	p
		a(href="./stochastic/ergodic") Ergodic processes
	h3
		b Processes decomposition (from uni forecasting?)
	p
		a(href="./stochastic/wold") Wold's theorem
	h3
		b Markov chains
	p
		a(href="./stochastic/MC") Finite state Markov chains
	p
		a(href="./stochastic/MC") Random walks
	p
		a(href="./stochastic/MC") Infinite state Markov chains
	h3
		b Multiple time series
	p
		a(href="./stochastic/cointegration") Cointegration
	p
		a(href="./stochastic/exogeneity") Exogeneity
	h3
		b Hidden Markov Models
	h3
		b Dynamic Bayesian networks
