extends ./stochastic/subSubTemplate.jade
block subSubContent
	h3
		b Introduct to processes
	p
		a(href="./stochastic/process") Stochastic processes
	p
		a(href="./stochastic/martingale") Markov property and Martingale properties
	h3
		b Markov chains
	p
		a(href="./stochastic/MC") Markov chain

