extends ./stochastic/subSubTemplate.jade
block subSubContent
	h3
		b Markov process
	p
		a(href="./stochastic/markovProcess") Markov process
	p
		a(href="./stochastic/MCMC") Monte carlo markov chain
	p
		a(href="./stochastic/MDP") Markov decision process

	h3
		b Martingales
	p
		a(href="./stochastic/martingales") Martingales

	h3
		b Processes
	p
		a(href="./stochastic/poisson") Poisson processes
	p
		a(href="./stochastic/weiner") Weiner processes

