extends ./summary/subSubTemplate.jade
block subSubContent
	h3
		b Basis statistics for a single variable
	p
		a(href="./summary/n") N
	p
		a(href="./summary/range") Sample range
	p
		a(href="./summary/mode") Sample mode
	h3
		b Sample moments
	p
		a(href="./summary/mean") Sample mean
	p
		a(href="./summary/variance") Sample variance
	h3
		b Statistics for two variables
	p
		a(href="./summary/covariance") Sample covariance
	p
		a(href="./summary/pearson") Pearson correlation coefficient
	p
		a(href="./summary/spearman") Spearman rank correlation
	h3
		b Updating statistics
	p
		a(href="./summary/updating") Updating the mean, variance and covariance
	h3
		b Splitting data into classes
	p
		a(href="./summary/splitting") Splitting data

