extends ./supervised/subSubTemplate.jade
block subSubContent
	h3
		b Support vector machines
	p
		a(href="./supervised/SVC") Support Vector Classifier (SVC)
	h3
		b Decision trees
	p
		a(href="./supervised/trees") Decision trees
	h3
		b Naive Bayes
	p
		a(href="./supervised/naiveBayes") Naive Bayes classifier
	h3
		b K-Nearest Neighbours (KNN)
	p
		a(href="./supervised/KNN") K-Nearest Neighbours (KNN)

