extends ./supervised/subSubTemplate.jade
block subSubContent
	h3
		b Supervised
	p
		a(href="./supervised/SVM") Support vector machines
	p
		a(href="./supervised/trees") Decision trees
	p
		a(href="./supervised/naiveBayes") Naive Bayes classifier
	p
		a(href="./supervised/KNN") K-nearest neighbours

