extends ./supervised/subSubTemplate.jade
block subSubContent
	h3
		b Linear support vector classifiers
	p
		a(href="./supervised/hardMargin") Hard-margin SVC
	p
		a(href="./supervised/softMargin") Soft-margin SVC
	h3
		b Non-linear support vector classifiers
	p
		a(href="./supervised/dotProduct") The dot product SVC
	p
		a(href="./supervised/SVC") The kernel trick
	p
		a(href="./supervised/RBF") The radial basis function (RBF)
	h3
		b Decision trees
	p
		a(href="./supervised/treeTraversal") Tree traversal
	p
		a(href="./supervised/treeInformation") Training decision trees with information gain
	p
		a(href="./supervised/treeGini") Training decision trees with Gini impurity
	p
		a(href="./supervised/treeRegular") Pruning decision trees
	p
		a(href="./supervised/unbalanced") Training with unbalanced data
	h3
		b Naive Bayes
	p
		a(href="./supervised/naiveBayesPosterior") The Naive Bayes posterior
	p
		a(href="./supervised/naiveBayes") The Naive Bayes classifier
	p
		a(href="./supervised/naiveBayesText") Text classification using Naive Bayes
	h3
		b K-Nearest Neighbours (KNN)
	p
		a(href="./supervised/KNN") K-Nearest Neighbours (KNN)
	p
		a(href="./supervised/KNNk") Choosing K for K-Nearest Neighbours

