extends ./supervised/subSubTemplate.jade
block subSubContent
	h3
		b Naive Bayes
	p
		a(href="./supervised/naiveBayesPosterior") The Naive Bayes posterior
	p
		a(href="./supervised/naiveBayes") The Naive Bayes classifier
	p
		a(href="./supervised/naiveBayesText") Text classification using Naive Bayes
	h3
		b K-Nearest Neighbours (KNN)
	p
		a(href="./supervised/KNN") K-Nearest Neighbours (KNN)
	p
		a(href="./supervised/KNNk") Choosing K for K-Nearest Neighbours
	h3
		b Discriminant analysis
	p
		a(href="./supervised/LDA") Linear Discriminant Analysis (LDA)
	p
		a(href="./supervised/KFDA") Kernel Fisher discriminant analysis
	h3
		b Regularising classifiers
	p
		a(href="./supervised/labelSmoothing") Label smoothing

