extends ./supervised/subSubTemplate.jade
block subSubContent
	h3
		b Linear support vector machines
	p
		a(href="./supervised/hardMargin") Hard-margin SVM
	p
		a(href="./supervised/softMargin") Soft-margin SVM
	h3
		b Non-linear support vector machines
	p
		a(href="./supervised/dotProduct") The dot product SVM
	p
		a(href="./supervised/SVC") The kernel trick
	p
		a(href="./supervised/RBF") The radias basis function (RBF)
	h3
		b Decision trees
	p
		a(href="./supervised/trees") Decision trees
	h3
		b Naive Bayes
	p
		a(href="./supervised/naiveBayes") Naive Bayes classifier
	h3
		b K-Nearest Neighbours (KNN)
	p
		a(href="./supervised/KNN") K-Nearest Neighbours (KNN)
	h3
		b Other
	p
		a(href="./supervised/language") Probabilistic language models

