extends ./supervised/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./supervised/generativeDiscriminative") Generative and discriminative models
	
	h3
		b Classification
	p
		a(href="./supervised/SVC") Support Vector Classifiers (SVC)
	p
		a(href="./supervised/trees") Decision trees
	p
		a(href="./supervised/naiveBayes") Naive Bayes classifier
	p
		a(href="./supervised/KNN") K-Nearest Neighbours (KNN)
	h3
		b Regression
	p
		a(href="./supervised/SVR") Support Vector Regression (SVR)

