extends ./supervised/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./supervised/generativeDiscriminative") Generative and discriminative models

	h3
		b Support vector machines
	p
		a(href="./supervised/SVC") Support Vector Classifiers (SVC)
	p
		a(href="./supervised/SVR") Support Vector Regression (SVR)
	h3
		b Decision trees
	p
		a(href="./supervised/trees") Decision trees
	h3
		b Other classifiers
	p
		a(href="./supervised/naiveBayes") Naive Bayes classifier
	p
		a(href="./supervised/KNN") K-Nearest Neighbours (KNN)

