extends ./SVM/subSubTemplate.jade
block subSubContent
	h3
		b Linear Support Vector Classifiers (SVCs)
	p
		a(href="./SVM/hardMargin") Hard-margin SVC
	p
		a(href="./SVM/support") Support vectors
	p
		a(href="./SVM/quadratic") Estimating the SVC using quadratic equations
	p
		a(href="./SVM/softMargin") Soft-margin SVC
	p
		a(href="./SVM/regularise") Regularising the SVC
	h3
		b Multiple classes
	p
		a(href="./SVM/multiClass") Support vector classifiers with multiple classes
	h3
		b Non-linear support vector classifiers
	p
		a(href="./SVM/dotProduct") The dot product SVC
	p
		a(href="./SVM/SVC") The kernel trick
	p
		a(href="./SVM/RBF") The radial basis function (RBF)

