extends ./time/subSubTemplate.jade
block subSubContent
	h3
		b 2 stage OLS (2S OLS)
	h3
		b Time series
	h3
		b Generalised least squares
	p
		a(href="/theory/statistics/time/weighted") Weighted least squares
