extends ./time/subSubTemplate.jade
block subSubContent
	h3
		b OLS on time series data
	p
		a(href="./time/spurious") Bias of static models and spurious correlations
	p
		a(href="./time/HAC") Heteroskedasticity and Autocorrelation (HAC) adjusted standard errors
	h3
		b Time series
	p
		a(href="./time/discontinuity") Discontinuity
	h3
		b Panel data
	p
		a(href="./time/DiD") Difference-in-difference
	p
		a(href="./time/discontinuity") Controlled experiments
	p
		a(href="./time/discontinuity") Natural experiments

