extends ./time/subSubTemplate.jade
block subSubContent
	h3
		b Manipulating time series data
	p
		a(href="./time/firstDifference") First difference
	h3
		b Time series
	p
		a(href="./time/discontinuity") Discontinuity
	h3
		b Panel data
	p
		a(href="./time/DiD") Difference-in-difference
	p
		a(href="./time/discontinuity") Controlled experiments
	p
		a(href="./time/discontinuity") Natural experiments
	p
		a(href="./time/discontinuity") Pooled OLS

