extends ./time/subSubTemplate.jade
block subSubContent
	h3
		b Time series
	p
		a(href="./time/AR") Autoregressive models (AR)
	p
		a(href="./time/MA") Moving Average models (MA)
	p
		a(href="./time/ARMA") Autoregressive Moving Average models (ARMA)
	p
		a(href="./time/ARMA") Autoregressive Integrated Moving Average models (ARIMA)
	p
		a(href="./time/VAR") Vector Autoregression models (VAR)
	p
		a(href="./time/ARCH") Autoregressive Conditional Heteroskedasticty (ARCH)
	p
		a(href="./time/discontinuity") Discontinuity
	h3
		b Cross sectional data
	h3
		b Panel data
