extends ./treatment/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./treatment/intro") Treatment data
	p
		a(href="./treatment/treatment") Average Treatment Effects (ATE, ATET, ATEUT)
	p
		a(href="./treatment/CATE") Conditional Average Treatment Effect (CATE)
	h3
		b Exogenous treatment
	p
		a(href="./treatment/RCT") Calculating ATEs in Randomly Controlled Trials (RCTs)
	p
		a(href="./treatment/RCTinteraction") Calculating CATEs in RCTs with interaction terms
	p
		a(href="./treatment/RCTsubgroup") Calculating CATEs in RCTs with subgroup analysis
	h3
		b Calculating treatment effects without estimating missing data
	p
		a(href="./treatment/regression") Regression
	p
		a(href="./treatment/IV") Instrumental variables and natural experiments
	p
		a(href="./treatment/discontinuity") Regression discontinuity
	p
		a(href="./treatment/synthetic") Synthetic control
	h3
		b Calculating treatment effects by estimating missing data
	p
		a(href="./treatment/matching") Matching
	p
		a(href="./treatment/propensity") Propensity score matching
	p
		a(href="./treatment/matrixCompletion") Matrix completion

