extends ./treatment/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./treatment/intro") Treatment data
	p
		a(href="./treatment/treatment") Average Treatment Effects (ATE) and Average Treatment Effects on the Treated (ATET)
	h3
		b Exogenous treatment
	p
		a(href="./treatment/RCT") Randomly Controlled Trials (RCTs)
	h3
		b Calculating treatment effects
	p
		a(href="./treatment/regression") Regression
	p
		a(href="./treatment/matching") Matching
	p
		a(href="./treatment/propensity") Propensity score matching
	p
		a(href="./treatment/IV") Instrumental variables and natural experiments
	p
		a(href="./treatment/synthetic") Synthetic control
	p
		a(href="./treatment/discontinuity") Regression discontinuity
	h3
		b Imperfect treatment
	p
		a(href="./treatment/ITT") Intention-To-Treat (ITT) analysis
	h3
		b Heterogenous treatment effects
	p
		a(href="./treatment/CATE") Conditional Average Treatment Effect (CATE)

