extends ./trees/subSubTemplate.jade
block subSubContent
	h3
		b Simple decision trees
	p
		a(href="./trees/treeTraversal") Tree traversal
	p
		a(href="./trees/treeInformation") Training decision trees with information gain
	p
		a(href="./trees/treeGini") Training decision trees with Gini impurity
	p
		a(href="./trees/treeRegular") Pruning decision trees
	p
		a(href="./trees/treeMultiClass") Decision trees with many classes
	h3
		b Regression trees
	p
		a(href="./trees/regressionTrees") Classic regression trees
	p
		a(href="./trees/treeMSE") Training decision trees with Mean Squared Error (MSE)
	p
		a(href="./trees/treeMixed") Mixed regression trees
	p
		a(href="./trees/treeProbabilistic") Classifying with probabilistic decision trees
	h3
		b Bayesian trees
	p
		a(href="./trees/priors") The priors of a tree	
	p
		a(href="./trees/pinball") Estimating \(P(T)\) with the pinball prior
	p
		a(href="./trees/otherPriors") Estimating other priors
	p
		a(href="./trees/bcart") Bayesian CART
	h3
		b Causal trees
	p
		a(href="./trees/treatmentMeasure") Measuring treatment effects in leaves
	p
		a(href="./trees/treatmentSplit") Sample splitting for treatment effects
	p
		a(href="./trees/honest") Honest trees
	p
		a(href="./trees/ATE") Estimating ATE using MCMC
	h3
		b Other
	p
		a(href="./trees/unbalanced") Training with unbalanced data

