extends ./unsupervised/subSubTemplate.jade
block subSubContent
	h3
		b Clustering
	p
		a(href="./unsupervised/evaluating") Evaluating clusterings
	p
		a(href="./unsupervised/kMeans") k-means
	p
		a(href="./unsupervised/kMedoids") k-medoids
	h3
		b Feature learning
	p
		a(href="./unsupervised/autencoder") Autoencoders
	p
		a(href="./unsupervised/recurrant") Recurrant neural network
	p
		a(href="./unsupervised/recurrant") Restricted Boltzmann
	p
		a(href="./unsupervised/recurrant") Deep belief network
	
	h3
		b Rules-based machine learning
	p
		a(href="./unsupervised/association") Association rules

