extends ./unsupervised/subSubTemplate.jade
block subSubContent
	h3
		b Unsupervised
	p
		a(href="./unsupervised/kMeans") K-means clustering
	p
		a(href="./unsupervised/association") Association rules

