extends ./unsupervised/subSubTemplate.jade
block subSubContent
	h3
		b Clustering
	p
		a(href="./unsupervised/evaluating") Evaluating clusterings
	p
		a(href="./unsupervised/kMeans") k-means
	p
		a(href="./unsupervised/kMedoids") k-medoids
	h3
		b Hidden variables (mixture models)
	p
		a(href="./unsupervised/GMM") Gaussian mixture models
	h3
		b Dimensionality reduction
	p
		a(href="./unsupervised/SVD") Non-negative matrix factorisation
	p
		a(href="./unsupervised/SVD") Low rank approximation
	p
		a(href="./unsupervised/SVD") Singular value decomposition
	p
		a(href="./unsupervised/PCA") Principal component analysis
	p
		a(href="./unsupervised/t-SNE") t-SNE
	p
		a(href="./unsupervised/t-SNE") 2 stage LASSO	
	h3
		b Dimensionality reduction with neural networks
	p
		a(href="./unsupervised/autencoder") Autoencoders
	p
		a(href="./unsupervised/VAE") Variational autoencoders
	p
		a(href="./unsupervised/RBM") Restricted Boltzmann
	p
		a(href="./unsupervised/DBN") Deep belief network
	h3
		b Rules-based machine learning
	p
		a(href="./unsupervised/association") Association rules

