extends ./unsupervised/subSubTemplate.jade
block subSubContent
	h3
		b Clustering
	p
		a(href="./unsupervised/evaluating") Evaluating clusterings
	p
		a(href="./unsupervised/kMeans") k-means
	p
		a(href="./unsupervised/kMedoids") k-medoids
	h3
		b Other
	p
		a(href="./unsupervised/association") Association rules

