extends ./visualisation/subSubTemplate.jade
block subSubContent
	h3
		b Visualising a single continous variable
	p
		a(href="./visualisation/boxPlots") Box and whisker plots
	p
		a(href="./visualisation/density") Density plot
	p
		a(href="./visualisation/sparklines") Sparklines
	h3
		b Visualising multiple continuous variables
	p
		a(href="./visualisation/timeSeries") Time series
	p
		a(href="./visualisation/scatter") Scatter plots (with size as variable)
	h3
		b Visualising a single class variable
	p
		a(href="./visualisation/scatter") Bar and column charts
	p
		a(href="./visualisation/scatter") Pie charts
	h3
		b Visualising multiple class variables
	p
		a(href="./visualisation/stacked") Stacked bar and column charts
	h3
		b Visualising class and continous variables
	p
		a(href="./visualisation/stacked") Multiple box and whiskers
	p
		a(href="./visualisation/stacked") Scatter plots with colour

	h3
		b Visualising geographic data
	p
		a(href="./visualisation/stacked") Heat maps
