extends ./visualisation/subSubTemplate.jade
block subSubContent
	h3
		b Visualising a single variable
	p
		a(href="./visualisation/boxPlots") Box plots
	p
		a(href="./visualisation/timeSeries") Time series
	h3
		b Visualising multiple variables
	p
		a(href="./visualisation/covariance") Covariance matrix
	p
		a(href="./visualisation/barCharts") Bar charts
	p
		a(href="./visualisation/scatter") Scatter plots

