extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Feasible Generalised Least Squares (FGLS) estimator
block subSubContent
	h3
		b Introduction
	p We do OLS to get a consistent estimate of \(\Omega \), \(\hat \Omega \).
	p We then plug this into the GLS estimator.
