extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Checking for heteroskedasticity
block subSubContent
	h3
		b Introduction
	p 
	h3
		b Visualing heteroskedasticity
	p 
	h3
		b White test
	p 
	h3
		b Breush-Pagan test
