extends ./dairy/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./dairy/pasturisation") Pasturisation
	p
		a(href="./dairy/cheese") Cheese
	p
		a(href="./dairy/butter") Butter
	p
		a(href="./dairy/cream") Cream

