extends ./dough/subSubTemplate.jade
block subSubContent
	h3
		b Preparing seeds
	p
		a(href="./dough/malting") Malting
	p
		a(href="./dough/milling") Milling
	p
		a(href="./dough/refining") Refining
	h3
		b Making dough
	p
		a(href="./dough/dough") Making dough
	h3
		b Bread
	p
		a(href="./dough/bread") Bread
	h3
		b Pasta
	p
		a(href="./dough/pasta") Pasta

