extends ./drinks/subSubTemplate.jade
block subSubContent
	h3
		b Coffee
	p
		a(href="./drinks/coffee") Coffee
	h3
		b Beer
	p
		a(href="./drinks/beer") Beer
	h3
		b Wine
	p
		a(href="./drinks/wine") Wine
	h3
		b Tea
	p
		a(href="./drinks/tea") Tea
	h3
		b Spirits
	p
		a(href="./drinks/spirits") Spirits

