extends ./ingredients/subSubTemplate.jade
block subSubContent
	h3
		b Seeds
	p
		a(href="./ingredients/rice") Rice
	p
		a(href="./ingredients/corn") Corn
	p
		a(href="./ingredients/wheat") Wheat
	p
		a(href="./ingredients/coffee") Coffee
	h3
		b Tubers
	p
		a(href="./ingredients/potatoes") Potatoes
	h3
		b Fruit
	h3
		b Vegetable
	p
		a(href="./ingredients/tomato") Tomato
	p
		a(href="./ingredients/onion") Onion
	p
		a(href="./ingredients/pepper") Pepper
	p
		a(href="./ingredients/garlic") Garlic
	p
		a(href="./ingredients/carrot") Carrot
	p
		a(href="./ingredients/celery") Celery
	h3
		b Seasoning
	p
		a(href="./ingredients/salt") Salt
	h3
		b Dairy
	p
		a(href="./ingredients/milk") Milk
	p
		a(href="./ingredients/eggs") Eggs
	h3
		b Cane
	p
		a(href="./ingredients/sugarcane") Sugarcane
	h3
		b Meat
	p
		a(href="./ingredients/chicken") Chicken
	p
		a(href="./ingredients/pig") Pig
	p
		a(href="./ingredients/cow") Cow
	h3
		b Herbs
	h3
		b Fish
	p
		a(href="./ingredients/salmon") Salmon

