extends ./methods/subSubTemplate.jade
block subSubContent
	h3
		b Boiling
	p
		a(href="./methods/pots") Pots
	p
		a(href="./methods/boiling") Boiling
	h3
		b Frying
	p
		a(href="./methods/pans") Pans
	p
		a(href="./methods/frying") Frying
	h3
		b Grilling
	p
		a(href="./methods/grilling") Grilling
	h3
		b Ovens
	p
		a(href="./methods/ovens") Ovens
	p
		a(href="./methods/ovens") Stone ovens
	h3
		b Steaming
	p
		a(href="./methods/steaming") Steaming

