extends ./oils/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./oils/oliveOil") Olive oil
	p
		a(href="./oils/vegetableOil") Vegetable oil
	p
		a(href="./oils/infusing") Infusing oil

