extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Assemblers
block subSubContent
	h3
		b Introduction
	p Assembly code can be converted to machine code using an assembler.
	p The assembler takes the assembly code as input and returns machine code.
