extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Assembly language
block subSubContent
	h3
		b Introduction
	p Rather than machine code, programs can be written in human readable form. For example, we can use short English language strings instead of hexidecimal or binary.
