extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Integer caching
block subSubContent
	h3
		b Introduction
	p if we set x =2  we can either create 2 in memory, or simply point x to 2, which is already in memory
	p that means if we do x=2 y=2 they have the same pointer
	p can also cache some other common data values, eg empty lists
	p makes sense if pointer is smaller in memory than value
