extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bagging
block subSubContent
	h3
		b Introduction
	p Bagging, or Bootstrap AGGregation, is a way of generating weak learners.
	h3
		b Bootstrapping
	p Bootstraping refers to taking samples with repacement from the training set. This is how the datasets for each of the weak learners are formed.	
	h3
		b How to do bagging
	p We take samples from the training set, with replacement, and train each of these separately. This gives us our weak learners.
	p 
