extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Random forests
block subSubContent
	h3
		b Introduction
	p These use bagging techniques with random trees.
	p At each node, rather than sample the whole data we sample a random selection.
	p Get \(d\) dimensions, and sample \(m\) of them at each node.
	p Choose \(m\le \sqrt d\)

