extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Majority voting
block subSubContent
	h3
		b Combining classifiers
	p If we generate different classifiers then each can give different predictions for the same input.
	p If we have different predictions how should we proceed?
	h3
		b  Using one model or multiple models
	p It is not obvious that we should want to use more than one model. If one model was superior to another then there may be no benefit to using the information from the additional model.
	p However if the errors in different models are varied, then combining multiple models can lead to better performance as each individual model can have unique information.
	h3
		b Majority voting
	p One approach to using different predictions is to use majority voting.
	p If we have a collection of hard classifiers then we choose the classification with the most votes.
	h3
		b Condorcet's Jury Theorem
	p Consider a collection of classifiers. For each classifier there is a chance \(p_i\) of the classification being correct.
	p If the voters are independent
	p If voters are independent, and the chance of one vote being right is greater than \(0.5\), then the more voters, the better.
	p A weak model can still be useful, if it is independent.

