extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Metric compatibility
block subSubContent
	h3
		b Introduction
	p If we have two vectors in the tangent space of a manifold with a metric tensor, we can get a scalar:
	p \(v^iu^jg_{ij}\)
	h3
		b Transported metric
	p If we transport two vectors along a connection, we have the metric at the new point.
	h3
		b Metric preserving connections
	p If the connection preserves the metric, then the connection is metric compatible.

