extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The Levi-Civita connection
block subSubContent
	h3
		b Introduction
	p For any metric tensor there is only one connection which preserves the metric and is torsion free.
