extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Riemann manifolds and pseudo-Riemann manifolds
block subSubContent
	h3
		b Riemann manifolds
	p Metric is positive definite.
	h3
		b Pseudo-Riemann manifolds
	p The metric isn't necessarily positive definite.
