extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Tangent space and tangent vectors
block subSubContent
	h3
		b Introduction
	p take a topological space: can all subsets in the toplogy be mapped to \(n\) dimensional space? if so, manifold

	p for this we need openness: a graph for example isn't open and so isn't a manifold

	p we also need the same number of dimensions at each point

	p isn't always the case. eg two circles conneceted by a line is not a manifold. it's 2d in circles, 1d on line (and 3d at connections)

	p we have a homeomorphism from each point in the toplogy to an n dimensional coordinate system

	p we also have homeomorphisms of transformation maps, between different points on the topology

	p the vector space from the homeomorphism is tangent to the manifold at that point. the set of all tangents forms a tangent space

	p interior: M; boundry \delta M
	p tangent on a manifold:

