extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Metric tensors
block subSubContent
	h3
		b Introduction
	p A metric tensor assigns a bilinear form to each point on the manifold.
	p We can then take two vectors in the tangent space and return a scalar.
