extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Exponential discounting
block subSubContent
	h3
		b Introduction
	p We have:
	p \(U_T=\sum_[t=T]^{\infty }d_tU(x_t)\)
	h3
		b Exponential discounting
	p \(d_t=(1+\delta )^t\)
	p \(U_T=\sum_[t=T]^{\infty }(1+\delta )^tU(x_t)\)
	p \(\delta \) is the discount rate.
