extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Hyperbolic discounting
block subSubContent
	h3
		b Introduction
	p We have:
	p \(U_T=\sum_[t=T]^{\infty }d_tU(x_t)\)
	h3
		b Hyerbolic discounting
	p \(d_t=\dfrac{1}{1+kt}\)
	p \(U_T=\sum_[t=T]^{\infty }\dfrac{1}{1+kt}U(x_t)\)
	p \(\k\) is the discount parameter.
