extends ./subSubTemplate.jade
block subSubTitle
	h1
		b External price
block subSubContent
	p Another model still is for external prices. Both agents react to a price and then choose how much to buy or sell. Note that at this price the desires of the buyer and seller may not balance.
