extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Trade games
block subSubContent
	p For this section we want to explore games which give us insight in markets, which will allow us to move towards supply and demand models.
	p So what sort of game might be appropriate? One hand-wavey approach is to have an external price, a ratio for which goods can be traded, and then agents trade. But there is no guarantee such a price would match off agents’ wishes, and there is no model for how such a price structure is reached.
	p So how can agents interact to trade? Generally we can assume that:
	p Both parties must agree to a trade.
	p Trades have no transaction costs, that is the total resources before and after trade are the same.
	p Both parties have knowledge over the other party.
	p These are for simplicity, and can be relaxed if necessary.
	p We could model a world where one agent proposes a trade, and the other agent can choose to accept or reject. In this model the proposing agent would choose a point which gave them the most benefit, and provided only marginal benefit to the other agent, effectively shifting along their indifference curve.
	p Alternatively we could allow one agent to take the resources of the other agent, in which case one agent would end up with all the resources.
	p Another model is to use prices. For example one agent proposes how much of good \(x\) they are willing to trade for good \(y\) and then the other agent simply chooses how much to trade.
	p The correct model depends on the phenomena we are attempting to model.
