extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Edgeworth box
block subSubContent

	p So now we have a framework for how agents can interact. We want to model trade, what games can do this?
	p To do this we introduce the Edgeworth box. This is a rectangle where the length of the \(x\) and \(y\) axes represent the total amount of those goods, and points on the box represent allocations of the goods. There is an initial endowment of goods.
	p $$x=\{0.2,0.8\}$$
	p $$y=\{0.8,0.2\}$$
	p [Put box here]
	p Their respective utility functions are:
	p $$u_a=f_a(x_a,y_a)$$
	p $$u_b=f_b(x_b,y_b)$$
	p In this example we use:
	p $$u_{a,b}=x^{0.5}y^{0.5}$$
	p We can add indifference curves to this box, which intercept at the endowment.
	p [Put box here]
	p The agents would be better off if they could trade so that they both had half of a unit of each good.
	p $$x=\{0.5,0.5\}$$
	p $$y=\{0.5,0.5\}$$
	p However they could also both be better off with
	p $$x=\{0.6,0.6\}$$
	p $$y=\{0.4,0.4\}$$
	p [Box here]
	p There are many such trades which could be made, which agents would rank differently.
	p There are also points where no further trade would be agreed by both parties. For example with the above outcome, any further trade would make at least one party worse off.
	p Such points are called Pareto efficient. That is, if a point is not Pareto efficient at least one party can be made better off without harming others.
	p [Box here]
