extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Methods
block subSubContent
	h3
		b Random (IID)
	h3
		b Random without replacement
	h3
		b Stratified
	p Includes time series


	p field v lab experiemnts
	p sample sizes

	p meta studies
	p pre registration
	p forking paths

	p boot strap confidence interval?
	p boot strap sample?

	p measurement bias (different to error, eg only see published results)
	p Internal and external validity

	p Outliers
	p Measurement error
	p Gibbs sampling
