extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Integers
	h3
		b Defining integers
	p To extend the number line to negative numbers, we define:
	p $$\forall ab \in \mathbb{N} \exists c (a+c=b)$$
	p For any pair of numbers there exists a terms which can be added to one to get the other.
	p For \(1+x=3\) this is another natural number, however for \(3+x=1\) there is no such number.
	p Integers are defined as the solutions for any pair of natural numbers.
	p
		b Integers as ordered pairs
	p Integers can be defined as an ordered pair of natural numbers, where the integer is valued at: \(a-b\).
	p For example \(-1\) could be shown as:
	p $$-1= \{ \{ 0 \},\{0,1\}\}$$
	p $$-1= \{ \{ 5 \},\{5,6\}\}$$

	p $$(a,b)=a-b$$
	p
		b Converting natural numbers to integers
	p Natural numbers can be shown as integers by using:
	p $$(n,0)$$
	p Natural numbers can be converted to integers:
	p $$\{\{a\},\{a,0\}\}$$
	h3
		b Ordering integers
	p Integers are an ordered pair of naturals.
	p $$\{\{x\},\{x,y\}\}$$
	p For example \(-4\) can be:
	p $$\{\{4\},\{4,8\}\}$$
	p $$\{\{0\},\{0,8\}\}$$
	p We extend the ordering to say:
	p $$\{\{x\},\{x,y\}\}\le \{\{s(x)\},\{s(x),y\}\}$$
	p $$\{\{x\},\{x,s(y)\}\}\le \{\{x\},\{x,y\}\}$$
	p So can we define this on an arbitrary pair:
	p $$\{\{a\},\{a,b\}\}\le \{\{c\},\{c,d\}\}$$
	p We know that:
	p $$\{\{a\},\{a,b\}\}=\{\{s(a)\},\{s(a),s(b)\}\}$$
	p And either of:
	p $$\{\{a\},\{a,b\}\}=\{\{0\},\{0,A\}\}$$
	p $$\{\{a\},\{a,b\}\}=\{\{B\},\{B,0\}\}$$
	p $$\{\{a\},\{a,b\}\}=\{\{0\},\{0,0\}\}$$
	p As the latter is a case of either of the other \(2\), we consider only the first \(2\).
	p So we can define:
	p $$\{\{a\},\{a,b\}\}\le \{\{c\},\{c,d\}\}$$
	p As any of:
	p $$1: \{\{0\},\{0,A\}\}\le \{\{0\},\{0,C\}\}$$
	p $$2: \{\{0\},\{0,A\}\}\le \{\{D\},\{D,0\}\}$$
	p $$3: \{\{B\},\{B,0\}\}\le \{\{0\},\{0,C\}\}$$
	p $$4: \{\{B\},\{B,0\}\}\le \{\{D\},\{D,0\}\}$$
	p Case 1:
	p $$\{\{0\},\{0,A\}\}\le \{\{0\},\{0,C\}\}$$
	p Trivial, depends on relative size of \(A\) and \(C\).
	p

	p Case 2:
	p $$\{\{0\},\{0,A\}\}\le \{\{D\},\{D,0\}\}$$
	p We can see that:
	p $$\{\{D\},\{D,A\}\}\le \{\{D\},\{D,0\}\}$$
	p And therefore this holds.
	p

	p Case 3:
	p $$\{\{B\},\{B,0\}\}\le \{\{0\},\{0,C\}\}$$
	p We can see that:
	p $$\{\{B\},\{B,0\}\}\le \{\{B\},\{B,C\}\}$$
	p And therefore this does not hold.
	p
	p Case 4:
	p $$\{\{B\},\{B,0\}\}\le \{\{D\},\{D,0\}\}$$
	p Trivial, like case 1.
	p
	h3
		b Cardinality of integers

	h3
		b Functions on integers
	p
		b Addition
	p Then we can define addition as:
	p $$(a,b)+(c,d)=(a+c,b+d)$$
	p Integer addition can then be defined:
	p $$a+b=\{\{a_1\},\{a_1,a_2\}\}+\{\{b_1\},\{b_1,b_2\}\}$$
	p $$a+b=\{\{a_1+b_1\},\{a_1+b_1,a_2+b_2\}\}$$
	p Or:
	p $$a+b=c$$
	p $$c_1=a_1+b_1$$
	p $$c_2=a_2+b_2$$
	p
		b Multiplication
	p Similarly, multiplication can be defined as:
	p $$(a,b).(c,d)=(ac+bd, ad+bc)$$
	p $$ab=c$$
	p $$c_1=a_1b_1+a_2b_2$$
	p $$c_2=a_2b_1+a_1b_2$$

	p
		b Subtraction
	p $$a-b=c$$
	p $$c_1=a_1+b_2$$
	p $$c_2=a_2+b_1$$
	p
		b Division
	p $$a/b=c$$
	p Note that:
	p $$c=\frac{a_1-a_2}{b_1-b_2}$$
	p $$c=\frac{(a_1-a_2)(b_1-b_2)}{(b_1-b_2)(b_1-b_2)}$$
	p $$c=\frac{(a_1b_1+a_2b_2)-(a_2b_1+a_1b_2) }{b_1b_1+b_2b_2-2b_1b_2}$$
	p So:
	p $$c_1=\frac{a_1b_1+a_2b_2}{b_1b_1+b_2b_2-2b_1b_2}$$
	p $$c_1=\frac{a_1b_2+a_2b_1}{b_1b_1+b_2b_2-2b_1b_2}$$
	p The denominator here is always a natural number as it is \((a-b)^2\), which can’t be below \(0\).
	p Note that like natural division, real division is not always defined.



