extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Gauss-Markov theorem
block subSubContent
	h3
		b Gauss-Markov theorem
	p Mean of errors zero
	p + If the model should only have errors on upside or downside for some reason, OLS will not provide this.
	p Homoscedastic (all have the same variance)	
	p + The results aren’t biased, but variances etc are
	p Errors are uncorrelated
	p + (this would mean you should add lagged variables etc)

	p show bias from each GM violation
	h3
		b More
	p OLS is BUE under normally distributed errors
	p OLS is BLUE for non-normally distribed errors
	