extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Heteroskedasticity-Consistent (HC) standard errors
block subSubContent
	h3
		b Variance of OLS estimators
	p \(Var [\hat \theta ]=(X^TX)^{-1}X^T\Omega X(X^TX)^{-1}\)
	h3
		b Robust standard errors for heteroskedasticity
	p \(\Omega_{ij}=\delta_{ij}\epsilon_i\epsilon_j\)


	p These are also known as the Eicker-Huber-White standard errors, or the White correction.
	p These are also refered to as robust standard errors.
