extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Maximum Likelihood Estimator (MLE) and OLS equivalence
block subSubContent
	h3
		b The OLS estimator
	p \(\hat \theta_{OLS}=(X^TX)^{-1}X^Ty\)
	p \(E[\hat \theta_{OLS}]=w\)
	p \(Var[\hat \theta_{OLS}]=\sigma^2 (X^TX)^{-1}\)
	h3
		b The MLE estimator
	p \(y_i=\mathbf x_i\theta +\epsilon_i \)


	p \(P(y=y_i|x=x_i)=P(\epsilon_i=y_i-\mathbf x_i \theta )\)
	p If we assume \(\epsilon_i \sim N(0, \sigma^2_\epsilon )\) we have:

	p \(P(y=y_i|x=x_i)=\dfrac{1}{\sqrt {2\pi \sigma^2_\epsilon }}e^{-\dfrac{(y_i-\mathbf x_i\theta )^2}{2\sigma_\epsilon^2}}\)

	p \(L(X, \theta )=\prod_{i=1}^n\dfrac{1}{\sqrt {2\pi \sigma^2_\epsilon }}e^{-\dfrac{(y_i-\mathbf x_i\theta )^2}{2\sigma_\epsilon^2}}\)

	p \(l(X, \theta )=\sum_{i=1}^n -\dfrac{1}{2}\ln (2\pi \sigma_\epsilon^2)-\dfrac{(y_i-\mathbf x_i\theta )^2}{2\sigma_\epsilon^2}\)
	p \(\dfrac{\delta l}{\delta \theta_j }=\sum_{i=1}^n2x_{ij}\dfrac{y_i-\mathbf x_{i}\theta }{2\sigma^2_\epsilon}\)
	p \(\sum_{i=1}^nx_{ij}(y_i-\hat \theta_{MLE}\mathbf x_{i} )=0\)
	p \(X^T(y-X\hat \theta_{MLE} )=0\)
	p \(X^Ty=X^TX\hat \theta_{MLE} \)
	p \(\hat \theta_{MLE}=(X^TX)^{-1}X^Ty\)
	h3
		b Equivalence
	p If errors are normally IID then:
	p \(\hat \theta_{OLS}=\hat \theta_{MLE}\)




