extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Variance of OLS estimators
block subSubContent
	h3
		b Variance-covariance matrix

	p We know:

	p \(\hat \theta =(X^TX)^{-1}X^Ty\)

	p \(y=X\theta +\epsilon\)

	p Therefore:

	p \(\hat \theta =(X^TX)^{-1}X^T(X\theta +\epsilon)\)

	p \(\hat \theta =\theta +(X^TX)^{-1}X^T\epsilon\)

	p \(\hat \theta -\theta =(X^TX)^{-1}X^T\epsilon\)

	p \(Var [\hat \theta ]=E[(\hat \theta -\theta)(\hat \theta -\theta )^T]\)

	p \(Var [\hat \theta ]=E[(X^TX)^{-1}X^T\epsilon(X^TX^{-1}X^T\epsilon )^T]\)

	p \(Var [\hat \theta ]=E[(X^TX)^{-1}X^T\epsilon \epsilon^T X(X^TX)^{-1}]\)

	p \(Var [\hat \theta ]=(X^TX)^{-1}X^TE[\epsilon \epsilon^T ]X(X^TX)^{-1}\)

	p We write:

	p \(\Omega=E[\epsilon \epsilon^T]\)

	p \(Var [\hat \theta ]=(X^TX)^{-1}X^T\Omega X(X^TX)^{-1}\)
	p Depending on how we estimate \(\Omega\), we get different variance terms.
	h3
		b Variance under IID
	p If IID:
	p \(\Omega = I\sigma^2_{\epsilon }\)
	p \(Var [\hat \theta ]=(X^TX)^{-1}X^TI\sigma^2_{\epsilon } X(X^TX)^{-1}\)

	p \(Var [\hat \theta ]=\sigma^2_\epsilon (X^TX)^{-1}\)

