extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Processing visual observations using neural networks
block subSubContent
	h3
		b Introduction
	p We can use CNNs.
	p The output can be the values for each action.
