extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Policy iteration
block subSubContent
	h3
		b Policy iteration method
	p We start with a random policy.
	p We then loop:
	ul
		li Evaluate the policy, using the Bellman equations.
		li Update the policy

	p We update the policy by changing \(a\) to maximise:
	p \(v_pi ' (s)= r_\pi + \gamma P_\pi v_\pi(s)\) 
	p For example, if we have a policy of doing \(a\) in state \(s\), we would see if we increase the value if we change \(a\) to \(a'\).

