extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Intermediate rewards and value functions
block subSubContent
	h3
		b Value function
	p To evaluate a policy we use the value function. This is the expected return from following the policy.
	p We can calculate this by working through the different possible outcomes in each time period.
	p \(v_\pi = E[\sum_{t=1}^\infty \gamma^{t-1}r_t|s_1]\)

