extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Boundries and interiors
block subSubContent
	h3
		b Introduction
	p around every manifold of dimension n is a boundry of dimension (n-1)
	p homeomorphism at boundry: one coordinate always \ge 0. reduced dimension
	p interior is rest

