extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Manifolds, charts and atlases
block subSubContent
	h3
		b Introduction
	p A manifold is a set of points and associated charts.
	p A chart is a mapping from each point in a subset of the manifold to a point in a vector space.
	p These charts are invertible. If we are given coordinates, we can identify the point in the manifold it comes from.
	h3
		b Example: The sphere
	p We can map a hemisphere to a subset of \(R^2\). Given a point in \(R^2\) we can identify a specific point on the hemisphere, and given a s specific point on the hemisphere we can identify a point in \(R^2\).
	h3
		b Universal charts
	p If the vector space is flat and non-repeating, then a single chart can be used to map the whole manifold.
	h3
		b Atlases
	p If we have a collection of charts which covers each point needs to be covered at least once, we have an atlas. Each chart needs to be to the same dimensional vector space.


