extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Differentiable transition maps
block subSubContent
	h3
		b Introduction
	p we can look how one coordinate chart changes as another does.

	p this just requires the map to be diferential

	p this is just local differentiation. what about global?

	p also, relies on choice of coordinates
	p if the transition maps can be differentiated, we have a differentiable manifold
	h3
		b Smooth manifold
	p if transition maps are smooth (\(C^\infty \)) then the manifold is smooth.
