extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Geodesics
block subSubContent
	h3
		b Introduction
	p how do we have straight line on a curve? eg going round equator, but not going via uk

	p take start direction and find tangent vectors. geodesic is where tangent vectors stay parallel
