extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Transition maps
block subSubContent
	h3
		b Introduction
	p transition map is from where there are overlaps

	p so given we have overlaps, how to map from one r^n to the other
	p need overlap. transition says how to move between two grids where there is overlap

