extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Transition maps
block subSubContent
	h3
		b Introduction
	p Where two charts overlap we can express the points where the charts overlap as two different coordinates.
	p We can express the mapping from these coordinates as a function. This is a transition map.

	h3
		b Overlapping charts
	p If two charts cover some of the same points on a manifold then we can define a function for those points where we move from one vector to another.
	p We can represent moving between charts as:
	p \(ab^{-1}\)

