extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Paths
block subSubContent
	h3
		b Introduction
	p We have the set \(X\). We define a mapping \([0,1]\rightarrow X\)

	p If a path exists between any two points, then the space is path-connected.
