extends ./subSubTemplate.jade
block subSubTitle
	h1
		b T-test for variable significance
block subSubContent
	h3
		b T-statistic
	p In practice we don't know the population standard deviation and so must estimate it instead.

	p We use the standard deviation on the sample.

	p \(z=\frac{\bar x-x_0}{s) }\)
	h3
		b Student's t-distribution

	p As we have used the sample standard deviation we have lost a degree of freedom, and can no longer model the variable as a normal distribution, as we did for the z-statistic.

	p We now have a distribution with an addition parameter, the number of degrees of freedom.

	p The number of degrees of freedom is \(n-1\).

	p As the sample size tends towards infinity, the distribution tends towards the normal distribution.

	h3
		b Student's t-test
	h3
		b Confidence interval


