extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Newton's laws
block subSubContent
	h3
		b Force
	p 
	p $$F=frac{\delta L}{\delta q}$$

	h3
		b Theory
	p $$\frac{\delta L}{\delta q}=\frac{d}{dt}\frac{\delta L}{\delta q^.}$$
	p $$F=\frac{d}{dt}p$$
