extends ./subSubTemplate.jade
block subSubTitle
	h1
		b SUVAT
block subSubContent
	h3
		b Introduction

	p For a constant acceleration environment we want to find equations to link:
	ul
		li Initial speed: \(v_{t_0}\)
		li End speed: \(v_{t_1}\)
		li Time: \(t_1-t_0\)
		li Acceleration: \(a\)
		li Displacement \(s_{t_1}-s_{t_0}\)
	h3
		b The SUVAT equations
	p These are the following, and are derived below.
	ul
		li $$v_{t_1}=a(t_1-t_0)+v_{t_0}$$
		li $$(s_{t_1}-s_{t_0})=v_{t_0}(t_1-t_0)+\frac{1}{2}a(t_1-t_0)^2$$
		li $$(s_{t_1}-s_{t_0})=v_{t_1}(t_1-t_0)-\frac{1}{2}a(t_1-t_0)^2$$
		li $$v_{t_1}^2= v_{t_0}^2+2a(s_{t_1}-s_{t_0})$$
		li $$(s_{t_1}-s_{t_0})=(t_1-t_0)\frac{v_{t_1}+v_{t_1}}{2}$$
	h3
		b Equation 1: No displacement
	p This equation is:
	p $$v_{t_1}=a(t_1-t_0)+v_{t_0}$$
	p To derive this start with:
	p $$v_t:=\frac{\delta s_t}{\delta t}$$
	p $$a:=\frac{\delta v_t}{\delta t}$$
	p If acceleration is constant, then 
	p $$\frac{\delta v_t}{\delta t}=a$$
	p $$v_t=\int a dt +v_0$$
	p $$v_t=at+v_0$$
	h3
		b Equation 2: No end velocity
	p This equation is:
	p $$(s_{t_1}-s_{t_0})=v_{t_0}(t_1-t_0)+\frac{1}{2}a(t_1-t_0)^2$$
	p To derive this start with:
	p $$v:=\frac{\delta s_t}{\delta t}$$
	p Then:
	p $$\frac{\delta s_t}{\delta t}=at+v_0$$
	p $$s_t=\frac{1}{2}at^2+v_0t+s_0$$
	p $$(s_t-s_0)=v_0t+\frac{1}{2}at^2 $$
	h3
		b Equation 3: No start velocity
	p This equation is:
	p $$(s_{t_1}-s_{t_0})=v_{t_1}(t_1-t_0)-\frac{1}{2}a(t_1-t_0)^2$$
	p To derive this start with:
	p $$v_t=at+v_0$$
	p $$(s_t-s_0)=t\frac{v_t+v_0}{2}$$
	p So:
	p $$v_0=v_t-at$$
	p $$v_0=\frac{2}{t}(s_t-s_0)- v_t$$
	p $$v_t-at=\frac{2}{t}(s_t-s_0)- v_t$$
	p $$(s_t-s_0)=v_tt-\frac{1}{2}at^2$$
	h3
		b Equation 5: No time
	p This equation is:
	p $$v_{t_1}^2= v_{t_0}^2+2a(s_{t_1}-s_{t_0})$$
	p To derive this start with:
	p $$v_t=at+v_0$$
	p $$(s_t-s_0)=t\frac{v_t+v_0}{2}$$
	p So:
	p $$t=\frac{v_t-v_0}{a}$$
	p $$t=2\frac{s_t-s_0}{v_t+v_0}$$
	p $$\frac{v_t-v_0}{a}=2\frac{s_t-s_0}{v_t+v_0}$$
	p $$(v_t-v_0)(v_t+v_0)=2a(s_t-s_0)$$
	p $$v^2_t= v^2_0+2a(s_t-s_0)$$
	h3
		b Equation 5: No acceleration
	p This equation is:
	p $$(s_{t_1}-s_{t_0})=(t_1-t_0)\frac{v_{t_1}+v_{t_1}}{2}$$
	p To derive this start with:
	p $$v_t=at+v_0$$
	p $$s_t-s_0=\frac{1}{2}at^2+v_0t$$
	p So:
	p $$a=\frac{v_t-v_0}{t}$$
	p $$a=\frac{2[(s_t-s_0)-v_0t]}{t^2}$$
	p $$\frac{v_t-v_0}{t}=\frac{2[(s_t-s_0)-v_0t]}{t^2}$$
	p $$t(v_t-v_0)=2[(s_t-s_0)-v_0t]$$
	p $$t(v_t+v_0)=2(s_t-s_0)$$
	p $$(s_t-s_0)=t\frac{v_t+v_0}{2}$$

