extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Curl
block subSubContent
	h3
		b Introduction
	p The curl of a vector field is defined as:
	p \(curl \mathbf F=\nabla \times \mathbf F\)
	p Where: \(\nabla =(\sum_{i=1}^n e_i\frac{\delta }{\delta x_i})\)
	p And: \(\mathbf x\times \mathbf y=\||\mathbf x|| ||\mathbf y|| \sin(\theta )\mathbf n\)
	p The curl of a vector field is another vector field.
	p The curl measures the rotation about a given point. For example if a vector field is the gradient of a height map, the curl is \(0\) at all points, however for a rotating body of water the curl reflects the rotation at a given point.
	h3
		b Divergence of the curl
	p If we have a vector field \(\mathbf F\), the divergence of its curl is \(0\):
	p \(\nabla . (\nabla \times \mathbf F)=0\)
