extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Curves and closed curves
block subSubContent
	h3
		b Introduction
	p In a space we can identify a curve between two points. If the input in the real numbers then this curve is unique.

	p For more general scalar fields this will not be the case. Two points in \(\mathbb{R}^2\) could be joined by an infinite number of paths.

	p A curve can be defined as a function on the real numbers. The curve itself is totally ordered, and homogenous to the real number line.

	p We can write the curve therefore as:

	p \(r:[a,b]\rightarrow C\)

	p Where \(a\) and \(b\) are the start and end points of the curve, and \(C\) is the resulting curve.
	p 
	h3
		b Closed curves
	p If the start and end point of the curve are the same then the curve is closed. We can write this as:

	p \(\oint_C f(r) ds =\int_a^b f(r(t)) |r'(t)| dt\)
