extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Del

block subSubContent
	h3
		b Introduction

	p \(\nabla =(\sum_{i=1}^n e_i\frac{\delta }{\delta x_i})\)

	p Where \(e\) are the basis vectors.

	p This on its own means nothing. It is similar to the partial differentiation function.

