extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Differential forms

block subSubContent
	h3
		b Introduction
	p 
	h3
		b Type-I
	p For type-I, we can integrate over y, then integrate over x.
	h3
		b Type-II
	p For type-II, we can integrate over x, then integrate over y.

