extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Directional derivative
block subSubContent
	h3
		b Introduction
	p directional derivative is change in field as we move in direction of vector with given speed
