extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Directional derivative
block subSubContent
	h3
		b Definition
	p We have a function, \(f(\mathbf x)\).
	p Given a vector \(v\), we can identify by how much this scalar function changes as you move in that direction.
	p \(\nabla_v f(x):=\lim_{\delta \rightarrow 0}\dfrac{f(\mathbf x+\delta \mathbf v)-f(\mathbf x) }{\delta }\)
	p The directional derivative is the same dimension as underlying field.

	h3
		b Other
	p differentiation of scalar field, \(d f\), can be defined as a vector field where grad is 0. can differ with orientation, scale

