extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Directional derivative
block subSubContent
	h3
		b Introduction
	p directional derivative is change in field as we move in direction of vector with given speed
	p we have a scalar function defined on a vector space. \(f(\mathbf x)\)

	p Given a vector, we can identify by how much this scalar function changes as you move in that direction.
	p \(\nambla_v f(x):=\lim_{\delta \rightarrow 0}\dfrac{f(\mathbf x+\delta \mathbf v)-f(\mathbf x) }{\delta |v|}\)

