extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Divergence
block subSubContent
	h3
		b Introduction
	p This takes a vector field and produces a scalar field.

	p It is the dot product of the vector field with the del operator.

	p \(div F = \nabla . F\)
	p Where \(\nabla =(\sum_{i=1}^n e_i\frac{\delta }{\delta x_i})\)
	p \(div F = \sum_{i=1}^n e_i\frac{\delta F_i}{\delta x_i}\)
	h3
		b Divergence as net flow
	p Divergence can be thought of as the net flow into a point.
	p For example, if we have a body of water, and a vector field as the velocity at any given point, then the divergence is \(0\) at all points.
	p This is because water is incompressible, and so there can be no net flows.
	p Areas which flow out are sources, while areas that flow inwards are sinks.
	h3
		b Solenoidal vector fields
	p If there is no divergence, then the vector field is called solenoidal.
