extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Gradient
block subSubContent
	h3
		b Introduction
	p In a scalar field we can calculate the partial derivative at any point with respect to one input.

	p We may wish to consider these collectively. To do that we use the gradient operator.

	p We previously introduced the Del operator where:

	p \(\nabla =(\sum_{i=1}^n e_i\frac{\delta }{\delta x_i})\)

	p Where \(e\) are the basis vectors.

	p This on its own means nothing. It is similar to the partial differentiation function.

	p We now multiply Del by the function. This gives us:

	p \(\nabla f=(\sum_{i=1}^n e_i\frac{\delta f}{\delta x_i})\). This gives us a vector in the underlying vector space.

	p This is the gradient.
 
