extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Gradient theorem
block subSubContent
	h3
		b Introduction
	p 
	p In a scalar field, the line integral of the gradient field is the difference between the value of the scalar field at the start and end points.

	p This generalises the fundamental theorem of calclulus.
	p 
