extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Green's theorem

block subSubContent
	h3
		b Introduction
	p We have a curve \(C\) on a plane.
	p Inside this is region \(D\).
	p We have two functions: \(L(x,y)\) and \(M(x,y)\) defined on the region and curve.
	p \(\oint_C (L dx + M dy)=\int \int_D (\dfrac{\delta M}{\delta x}-\dfrac{\delta L}{\delta y})dx dy\)
	h3
		b Example
	p 
	h3
		b Proof
	p 
