extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Jacobian matrix

block subSubContent
	h3
		b Introduction
	p If we have \(n\) inputs and \(m\) functions such that:
	p \(f_i(\mathbf x)\)
	p The Jacobian is a matrix where:
	p \(J_{ij}= \dfrac{\delta f_i}{\delta x_j}\)

