extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Line integral of vector fields
block subSubContent
	h3
		b Introduction
	p We may wish to integrate along a curve in a vector field.

	p We previously showed that we can write a curve as a function on the real line:

	p \(r:[a,b]\rightarrow C\)

	p The integral is therefore the sum of the function at all points, with some weighting. We write this:

	p \(\int_C f(r) ds=\lim_{\Delta s rightarrow 0 }\sum_{i=0}^n f(r(t_i))\Delta s_i\)

	p In a vector field we use

	p \(\int_C f(r) ds =\int_a^b f(r(t)).r'(t) dt\)
