extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Regions

block subSubContent
	h3
		b Introduction
	p A region is a subset
	h3
		b Type-I regions (y-simple regions)
	p 
	h3
		b Type-II regions (x-simple regions)
	p 
	h3
		b Elementary regions
	p An elementary region is a region which is either a type-I region or a type-II region. 
	h3
		b Simple regions
	p A simple region is a region which is both a type-I and a type-II region.


