extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Scalar fields
block subSubContent
	h3
		b Introduction
	p A scalar field is a function on an underlying input which produces a real output.

	p Inputs are not limited to real numbers. In this section we consider functions on vector spaces.

