extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Vector potential

block subSubContent
	h3
		b Introduction
	p Given a vector field \(\mathbf F\) we may be able to identify another vector field \(A\) such that:
	p \(\mathbf F =\nabla \times \mathbf A\)
	h3
		b Existence
	p We know that the divergence of the curl for any vector field is \(0\), so this applies to \(A\):
	p \(\nabla . (\nabla \times \mathbf A)=0\)
	p Therefore:
	p \(\nabla . \mathbf F= 0\)
	p This means that if there is a vector potential of \(\mathbf F\), then \(\mathbf F\) has no divergence.
	h3
		b Non-uniqueness of vector potentials
	p Vector potentials are not unique.
	p If \(\mathbf A\) is a vector potential of \(\mathbf F\), then so is \(\mathbf A + \nabla c\), where \(c\) is a scalar field and \(\nabla c\) is its gradient.
	h3
		b Conservative vector fields
	p Not all vector fields have scalar potentials. Those that do are conservative.
	p For example if a vector field is the gradient of a scalar height function, then the height is a scalar potential.
	p If a vector field is the rotation of water, there will not be a scalar potential.

