extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Abelian groups

block subSubContent
	h3
		b Abelian group
	p A commutative group, that is where \(a\odot b=b\odot a\).
	p The following are abelian groups:
	ul
		li Integers and addition
		li \(\{-1, 1\}\) and multiplication
	p The following are not abelian groups:
	ul
		li Natural numbers above \(0\) and addition
		li Rational numbers and division
		li Natural numbers and addition
		li natural numbers up to \(10\) and addition
		li \(n\times n\) matrices with determinants other than \(0\)

