extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Abstract algebra

block subSubContent
	h3
		b Introduction
	p Abstract algebra allows us to discuss properties of types of mathematical structures.
	p Rather than construct a specific object, and explore its properties, we can explore the properties of an abstract structure with certain definitions. We can then apply findings from this to an any structure which meets the definition.
	h3
		b Examples of abstract algebra
	p We explore:
	ul
		li Groups
		li Rings
		li Fields
		li Vector spaces
		li Inner product spaces
