extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cayley's theorem

block subSubContent
	h3
		b Introduction
	p Cayley's theorem states that every group \(G\) is isomorphic to a subgroup of the symmetric group acting on \(G\).

	p Multiplication by a member of \(G\) is a bijective function, as for each \(g\) there is also a \(g^{-1}\).
	p This means that multiplication of each member of \(G\) is a permutation, and so is a subset of the symmetric group on \(G\).

