extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The circle group \(T\)

block subSubContent
	h3
		b Introduction
	p The circle group, \(T\), includes all complex numbers of magnitude \(1\).
	p 
