extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The group commutator
block subSubContent
	h3
		b Introduction
	p The group commutator is:
	p \([a,b]=a^{-1}b^{-1}ab\)
	p If the group is abelian then \([a,b]=0\). The group commutator is a measure of how non-abelian the group is.
	p This has the following properties:
	ul
		li Alternativity: \([A,A]=I\)
