extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cosets and normal subgroups

block subSubContent
	h3
		b Introduction
	p A coset is defined between a group and a subgroup of the group.
	p For a group \(G\), and its subgroup \(H\):
	ul
		li The left coset is \(\{gH\}\)
		li The right coset is \(\{Hg\}\)
	p For \(\forall g\in G\).
	p For abellian groups, the left and right cosets are the same.
	p The left and right cosets can also be the same, even if the group \(G\) is not abelian.
	h3
		b Normal subgroups
	p If the left and right cosets are the same then \(H\) is a normal subgroup.
	h3
		b Cosets divide a group.
	p Consider two left cosets, \(aH\) and \(bH\), with a common element.
	p This means that \(ah_i=bh_j\).
	p We can use this to get:
	p \(a=bh_jh_i^{-1}\)
	p \(b=ah_ih_j^{-1}\)
	p We know that:
	p \(ah\in aH\)
	p \(bh\in bH\)
	p So:
	p \(bh_jh_i^{-1}h\in aH\)
	p \(ah_ih_j^{-1}h\in bH\)
	p And so:
	p \(bH\subset aH\)
	p \(aH\subset bH\)
	p Therefore:
	p \(aH=bH\)

	h3
		b Example 1
	p Consider the group \(\{-1,1\},\times \)
	p For the subgroup \(\{1\},\times \), the left coset is \(\{gH\}=\{1,-1\}\).
	p The right coset is the same.
	h3
		b Example 2
	p Consider the group of integers and addition: \((Z,+)\)
	p For subgroup \((mZ,+)\), the left and right cosets are the same because the group is abelian.
	p The coset of the subgroup is the subgroup multiplied by each element in \(G\).
	p This is \(mZ\), \(mZ+1\), \(mZ+2\) and so on.
	p Once we reach \(mZ+m\) this has looped, and is already a coset, so we only need the sets upto \(mZ+m-1\).

