extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The infinite cyclic group (\(Z\))
block subSubContent
	h3
		b The additive group of integers
	h3
		b Generating cyclic groups
	p We can generate a group with a single element, it is a cyclic group.
	p For example, we can define a group \(G=<1>\) which gives us the additive group of integers.
	h3
		b Infinite cyclic groups are isomorphic to the additive group of integers
	p More generally, any infinite cyclic group is isomorphic to the additive group of integers.
	p Consider the multiplicative group of \(< i >\).
	p This contains \(\{1,-1,i,-i \} \).
	p This is also automorphic to the natural number and modulo addition group above.
	p We can define finite cyclic groups of size \(n\) using the generating element \(z^{\frac{1}{n}}\). This is isomorphic to the general cyclic group \(C_n\), and to \(Z/nZ\).
	h3
		b Abelian cyclic groups
	p Cyclic groups are abelian.

