extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Cyclic groups

block subSubContent
	h3
		b Definition
	p If we define a group with a single element, it is a cyclic group.
	p For example, we can define a group \(G=<1>\) which gives us the additive group of integers.
	p More generally, any cyclic group is isomorphic to the additive group of integers.
	p Consider the multiplicative group of \(<i>\).
	p This contains \(\{1,-1,i,-i\}\).
	p This is also automorphic to the natural number and modulo addition group above.
	p We can define finite cyclic groups of size \(n\) using the generating element \(z^{\frac{1}{n}}\). This is isomorphic to the general cyclic group \(C_n\), and to \(Z/nZ\).
	h3
		b Abelian cyclic groups
	p Cyclic groups are abelian.

