extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Defining groups

block subSubContent
	h3
		b Magma
	p A magma, or groupoid, is a set with a single binary operation.
	p These can be defined as an ordered pair \((s,\odot )\) where \(s\) is the set, and \(\odot \) is the binary operation.
	p If \(a\) and \(b\) are in \(s\), then \(a\odot b\) is also in \(s\).
	p The following are magmas:
	ul
		li Natural numbers and addition
		li \(n\times n\) matrices with determinants other than \(0\)
		li Natural numbers above \(0\) and addition
		li Integers and addition
		li Rational numbers and division
		li \(\{-1, 1\}\) and multiplication
	p The following are not magmas:
	ul
		li natural numbers up to \(10\) and addition
	h3
		b Semigroup
	p A semigroup is a magma whose binary operation is associative.
	p The following are semigroups:
	ul
		li Natural numbers and addition
		li \(n\times n\) matrices with determinants other than \(0\)
		li Natural numbers above \(0\) and addition
		li Integers and addition
	p The following are not semigroups:
	ul
		li \(\{-1, 1\}\) and multiplication
		li Rational numbers and division
		li natural numbers up to \(10\) and addition
	h3
		b Monoid
	p A monoid is a semigroup with an identity element
	p The following are monoids:
	ul
		li Natural numbers and addition
		li \(n\times n\) matrices with determinants other than \(0\)
		li Integers and addition
		li \(\{-1, 1\}\) and multiplication
	p The following are not monoids:
	ul
		li Natural numbers above \(0\) and addition
		li Rational numbers and division
		li natural numbers up to \(10\) and addition
	h3
		b Group
	p A group is a monoid where there is an inverse operation for the binary operation.
	p The following are groups:
	ul
		li Integers and addition
		li \(n\times n\) matrices with determinants other than \(0\)
		li \(\{-1, 1\}\) and multiplication
	p The following are not groups:
	ul
		li Natural numbers above \(0\) and addition
		li Rational numbers and division
		li Natural numbers and addition
		li natural numbers up to \(10\) and addition

