extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The direct product of groups
block subSubContent
	h3
		b Introduction
	p If we have two groups \(G\) and \(H\) we can form new group \(G\times H\).

	p For every \(g\in G\) and \(h\in H\) there is \((g,h)\in G\times H\).

	p The binary operation we have is:

	p \((g_1, h_1)(g_2,h_2)=(g_1g_2,h_1,h_2)\)

