extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Group extension
block subSubContent
	h3
		b Introduction
	p This defines a group \(G\) from a normal subgroup \(N\) and a quotient group \(Q\).
	p 
