extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Generating sets

block subSubContent
	h3
		b Generating sets
	p We can define a group through a generating set and an operation.
	p And define the group as \(G=< S >\)
	h3
		b Finite groups
	p Consider the set of natural numbers and addition modulo 4. This forms a group containing:
	p \(\{0,1,2,3\}\)
	p This can be written as \(Z_4\) or more generally as \(Z_n\), or \(Z/nZ\).

