extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Group action

block subSubContent
	h3
		b Introduction
	p We have a group \(G\) and a set \(S\).
	p We have a function \(g.s\) which maps onto \(S\) such that:
	ul
		li \(I.s=s\)
		li \((gh).s=g(h.s)\)
