extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Group order

block subSubContent
	h3
		b Group order
	p For finite groups, each element \(e\) has:
	p \(e^n=I\)
	p For some \(n\in \mathbb{N}\)
	p Where \(I\) is the identity element.
	p The order of the group is the smallest value of \(n\) such that that holds for all elements.
	p For example in the multiplicative group \(G=\{-1,1\}\) the order is \(2\).
	p Or:
	p \(|G|=2\)
	p Additionally
	p \(|-1|=2\)
	p \(|1|=1\)

