extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Lagrange's theorem

block subSubContent
	h3
		b Introduction
	p Lagrange's theorem states that for any finite group \(G\), the order of every subgroup is a divisor of the order of \(G\).
	p Consider subset \(H\). We know that all cosets are disjoint, and that the union of all cosets is \(G\).
	p As cosets are the same size, we know that:
	p \(|G|=m|H|\), where \(m\) is the number of cosets.

	p This means that if a group has order \(10\), a subgroup must have order \(1\), \(2\) \(5\) or \(10\).
	
