extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Permutations and the symmetric group

block subSubContent
	h3
		b Introduction
	p A permutation is defined as a bijection from a set to itself.
	p For a set of size \(n\), the number of permutations is \(n!\). This is because there are \(n\) possibilities for the first item, \(n-1\) for the second and so on.
	h3
		b The symmetric group
	p The set of all permutations forms a group, the symmetric group. This forms a group because:
	ul
		li there is an identity element
		li each combination of permutations is also in the group.
		li each permutation has an inverse in the group.
	h3
		b Permutation groups
	p A subgroup of the symmetric group is called a permutation group.


