extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Quotient groups
block subSubContent
	h3
		b Introduction
	p We have a group \(G\) and a normal subgroup \(N\).

	p We define a quotient group from this as \(G/N\). This is the set of cosets from \(N\).
