extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Group representation

block subSubContent
	h3
		b Introduction
	p It can be difficult to represent elements in a group, because of their abstractness.
	p If there was a way to represent elements as other mathematical structures, in a way which did not affect the analysis of the groups, then this would be useful.
	p We do this by representing elements as linear transformations of a vector space.
	h3
		b General linear group
	p The general linear group, \(GL(n, F)\), contains all \(n\odot n\) matrices \(M\) with determinants other than \(0\). That is, the invertible square matrices.
	p They are defined over field \(F\), for example the real numbers or the complex numbers.
	p The binary operation is multiplication.
	h3
		b Special linear group
	p The special linear group, \(SL(n,F)\), is the subgroup of \GL(n,F)\) where the determinants are \(1\).
	p That is, \(|M|=1\)
	h3
		b Unitary group
	p The unitary group, \(U(n,F)\), is the subgroup of \(GL(n,F)\) where \(M^{-1}=M^*\)
	p This implies that \(M^*M=I\), and that \(||M||=1\).
	h3
		b Special unitary group
	p The special unitary group, \(SU(n,F)\), is the subgroup of \(U(n,F)\) where the determinants are \(1\).
	p That is, \(|M|=1\)
	h3
		b Orthogonal group
	p The orthogonal group, \(O(n,F)\), is the subgroup of \(GL(n,F)\) where \(M^{-1}=M^T\).
	p It is therefore also a subgroup of \(U(n,F)\).
	p Unitary group with only real numbers
	p Therefore \(|M|\) is \(-1\) or\(1\).
	p The orthogonal group can model rotations and flips of vectors.
	p These operators preserve length.
	h3
		b Special orthogonal group
	p The special orthogonal group, \(SO(n,F)\), is the subgroup of the orthogonal group where \(|M|=1\).
	p As a result it includes only the rotation operators, not the flip operators.

