extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Subgroups

block subSubContent
	h3
		b Subgroup
	p A subgroup of a group is a subset of a group, which also forms a group with the same element.
	p For example all even numbers are a subgroup of the addition group of integers.

