extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Action
block subSubContent
	h3
		b Introduction
	p We observe a particle moving in a path. We want to model the path that the particle takes.

	p The path is in a vector space, with coordinates \(\mathbf q\). These coordinates could refer to the \(x\), \(y\), \(z\) and \(t\) coordinates we are are familar with.

	p For the path we have a start point \(a\) and end point \(b\). We can define the length of the path as:

	p \(S=\int_a^b d\tau \)

	p We call \(S\) the action.
