extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Lagrangians
block subSubContent
	h3
		b Introduction
	p We have:
	p \(S = \int_a^b \sqrt {(\mathbf {\dot q})^T\mathbf M\mathbf {\dot q}}dt\)
	p We can define:
	p \(L=\sqrt {(\mathbf {\dot q})^T\mathbf M\mathbf {\dot q}}\)
	p So we have:
	p \(S=\int_a^b L dt\)
	h3
		b Lagrangian
	p Definiton 1: Lagrangians
	p For each state we can calcualte a Lagrangian which is a function of the coordinates and their velocity.

	p $$L[q, q^i]$$

	p Axiom 2: There exists a correct Lagrangian


	p Definition 2: Action
	p We define the action of a length of time as:
	p $$A=\int_{t_0}^{t_1} L[q(t), q(t)^.]dt$$

	p Axiom 3: Principle of stationary action
	p $$\\delta A=0$$
	p That is, the coordinates and their velocities are such that action is stationary.

	p Theory 1: Euler-Lagrange
	p We have \(q(t)\) which makes the action stationary. Consider adding proportion\(\epsilon \) of another function \(f(t)\) to \(q(t)\).
	p $$A’=\int_{t_0}^{t_1} L[q(t)+\epsilon f(t), q(t)^.+\epsilon f^’(t)]dt$$
	p $$\frac{A’-A}{\epsilon }=\frac{1}{\epsilon}\int_{t_0}^{t_1} L[q(t)+\epsilon f(t), q(t)^.+\epsilon f^’(t)]-L[q,q^.]dt$$

	p We can do a Taylor expansion of \(A’\).
	p $$A’=\int_{t_0}^{t_1} L[q(t)+\epsilon f(t), q(t)^.+\epsilon f^’(t)]dt$$
	p $$A’=\int_{t_0}^{t_1} L[q(t),q(t)^.]+\epsilon [f\frac{\delta L}{\delta q}+f^.\frac{\delta L}{\delta q^.}]+\epsilon^2 [...]dt$$

	p So:
	p $$\frac{A’-A}{\epsilon }=\frac{1}{\epsilon}\int_{t_0}^{t_1}L[q(t),q(t)^.]+\epsilon [f\frac{\delta L}{\delta q}+f^.\frac{\delta L}{\delta q^.}]+\epsilon^2 [...]-L[q,q^.]dt$$

	p $$\frac{A’-A}{\epsilon }=\int_{t_0}^{t_1}[f\frac{\delta L}{\delta q}+f^.\frac{\delta L}{\delta q^.}]+\epsilon [...]dt$$

	p We can now make the left side \(0\), by using the definition of stationary action.

	p $$\lim_{\epsilon \rightarrow 0} \frac{A’-A}{\epsilon }=\int_{t_0}^{t_1}[f\frac{\delta L}{\delta q}+f^.\frac{\delta L}{\delta q^.}]dt$$

	p $$\int_{t_0}^{t_1}[f\frac{\delta L}{\delta q}+f^.\frac{\delta L}{\delta q^.}]dt=0$$

	p $$\int_{t_0}^{t_1}[f\frac{\delta L}{\delta q}]dt +\int_{t_0}^{t_1}[f^.\frac{\delta L}{\delta q^.}]dt=0$$

	p Note that
	p $$\int_{t_0}^{t_1}[f^.\frac{\delta L}{\delta q^.}]dt=[f\frac{\delta L}{\delta q^.}]_{t_0}^{t_1}-\int_{t_0}^{t_1}f \frac{d}{dt}\frac{\delta L}{\delta q^.}dt$$

	p We assume that \(f(t_0)=f(t_1)=0\) and so:
	p $$\int_{t_0}^{t_1}[f^.\frac{\delta L}{\delta q^.}]dt=-\int_{t_0}^{t_1}f \frac{d}{dt}\frac{\delta L}{\delta q^.}dt$$

	p Plugging this back in we get:
	p $$\int_{t_0}^{t_1}[f\frac{\delta L}{\delta q}]-f \frac{d}{dt}\frac{\delta L}{\delta q^.}dt]=0$$
	p $$\int_{t_0}^{t_1}f[\frac{\delta L}{\delta q}]-\frac{d}{dt}\frac{\delta L}{\delta q^.}dt]=0$$

	p Since this applies to all possible functions we get:
	p $$\frac{\delta L}{\delta q}=\frac{d}{dt}\frac{\delta L}{\delta q^.}$$

	p Definition: Momentum
	p $$p=\frac{\delta L}{\delta q^.}$$

