extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Linear metrics
block subSubContent
	h3
		b Introduction
	p We defined the length of the path, the action, as:
	p \(S=\int_^b d\tau \)
	p To calculate this we need to define a metric.
	p We use a linear metric.
	p \(\tau^2 = \mathbf q^T\mathbf M\mathbf q\)
	p So:
	p \(d\tau^2 =(d\mathbf q)^T\mathbf Md\mathbf q \)
	p \(S = \int_a^b \sqrt {(d\mathbf q)^T\mathbf Md\mathbf q}\)

