extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Momentum
block subSubContent
	h3
		b Introduction
	p We define the momentum as:
	p \(p_j = \dfrac{\delta L}{\delta \dot q_j}\)
	p \(p_j = \dfrac{\delta }{\delta \dot q_j}\sqrt {(\mathbf {\dot q})^T\mathbf M\mathbf {\dot q}}\)

