extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Time and velocity
block subSubContent
	h3
		b Introduction
	p \(S = \int_a^b \sqrt {\frac{1}{dt^2}(d\mathbf q)^T\mathbf Md\mathbf q}dt\)
	p \(S = \int_a^b \sqrt {(\dfrac{d\mathbf q}{dt})^T\mathbf M\dfrac{d\mathbf q}{dt}}dt\)
	p \(S = \int_a^b \sqrt {(\mathbf {\dot q})^T\mathbf M\mathbf {\dot q}}dt\)

