extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Axioms for propositional logic

block subSubContent
	h3
		b Motivation
	p We discussed in the previous section the ability to derive new tautologies from others using substitution and Modus Ponens.
	p We now aim to identify a group of axioms from which all tautologies can be derived.
	h3
		b The axioms
	p The first is known as "Simplification". In words, this is "if it is cloudy, then if it is a Tuesday it is also cloudy."
	p $$\theta \rightarrow (\gamma \rightarrow \theta )$$
	p The second is called "Frege".
	p $$(\alpha \rightarrow (\beta \rightarrow \gamma ))\rightarrow ((\alpha \rightarrow \beta )\rightarrow(\alpha \rightarrow \gamma ))$$
	p The third is "Transposition". Consider the statement "If there are no clouds in the sky, it is not raining." If this is true then it is also true that "If it is raining there are clouds in the sky."
	p $$(¬\theta \rightarrow ¬\gamma )\rightarrow (\gamma \rightarrow \theta )$$

	h3
		b Independence of axioms
	p These axioms are independent. That is, if you take one away, you cannot derive it from the others.
	p These axioms are also effective. One could define all true formulae as axioms, however this is not effective.
	h3
		b Soundness of axioms
	p Soundness implies that all theories are true.
	p $$T\vdash A \Rightarrow T\vDash A $$
	p These axioms and the deduction rule are sound. We know that the axioms are tautologies, and we know that the inference rule is valid.
	p As the axioms are sound, the theories are consistent. That is, it is not possible for both \(\theta \) and \(¬\theta \) to be theories.
	h3
		b Completeness of axioms
	p Completeness implies that all true formulae are theories.
	p $$T\vDash A \Rightarrow T\vdash A$$
	h3
		b Axioms and definitions
	p A definition is a conservative extension of the language. A definition statement, for example that a new symbol \(Z\) is always evaluated as false allows us to make additional statements, but it does not allow us to make additional statements in the original language.
	p An axiom allows us to generate additional statements in the original language, a definition does not.
