extends ./subSubTemplate.jade

block 	subSubTitle
	h1
		b Brackets replace the need for n-ary operators

block subSubContent
	h3
		b N-ary operators
	p N-ary operators contain \(3\) or more inputs.

	p N-ary operators can be defined in terms of binary operators.
	p As an example if we want an operator to return positive if all inputs are true, we can use:
	p $$(\theta \land \gamma )\land \beta $$
	h3
		b Brackets
	p Operators can be shown together, with brackets. For example:
	p $$(\alpha \lor \beta )\land \gamma $$
	p Is not the same as:
	p $$\alpha \lor (\beta \land \gamma )$$
