extends ../../../templates/theoryHeader.jade

block theoryContent
	h2
		b Substitution

	p If we have a tautology, then we can substitute the formula of any propositional variable with any formula to arrive at any other tautology.
	p
		b Example
	p Take the tautology:
	p $$\theta \rightarrow (\gamma \rightarrow \theta )$$
	p We can substitute any formulae into one of thes values to reach another tautology. For example we can set \(\theta \) to \(F\).
	p $$F \rightarrow (\gamma \rightarrow F)$$
	p This is also a tautology.
