extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Principle of explosion

block subSubContent
	h3
		b The principle
	p If axioms contradict each other then it is possible to derive anything. That is:
	p \(P\land ¬P\vdash Q\)
	h3
		b Proof
	p We can prove this. If \(P\) and \(¬P\) are true, then the following is also true:
	p \(P\lor Q\)
	p We can then use \(P\lor Q\) and \(¬P\) to imply \(Q\).
	p This works for any proposition \(Q\), including \(¬Q\).
	p As we can derive \(Q\) and \(¬Q\), our axioms are not consistent.

