extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Types of formula

block subSubContent
	h3
		b Literals
	p A literal is a formula with no operators.
	p \(\theta \)
	p These are also known as positive literals.
	h3
		b Negative literal
	p  The negation of a literal.
	p \(¬\theta \)
	h3
		b Atomic formulae
	p Atomic formulae are those without operators taking more than one input.
	p Literals, and negative literals, are types of atomic formula.
	h3
		b Well-formed formulae
	p A well-formed formula is one which can be given a truth value.
	p The following is not a well-formed formula:
	p $$\theta \land $$
