extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Forward chaining

block subSubContent
	h3
		b Forward chaining
	p once a rule's premises are satisfied, use it to generate a new formula to the knowledge base

