extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Clauses

block subSubContent
	h3
		b Definition
	p A clause is a disjunction of atomic formulae.
	p \(A\lor ¬B\lor C\)
	p This can be written in implicative form.
	p \((¬A\land B)\rightarrow C\)
	h3
		b Horn clause
	p A horn clause is a clause where there is at most one positive literal. This means the implicative takes the form.
	p \((A\land B\land C )\rightarrow X\).
	h3
		b Inference with horn clauses
	p If the horn clause is true, and so is the normal form part, then \(X\) is also true.
	p As all inference with horn clauses uses Modus Ponens, it is sound.
	p Inference with horn clauses is also complete.
