extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Horn clauses

block subSubContent
	h3
		b Horn clauses
	p Statements of the form \(A\land B\land C \rightarrow X\)
	p We can use Modus Ponens to use this, and \(A\), \(B\) and \(C\) to prove \(X\).
	p inference with horn clauses is sound and complete
