extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Interpretations

block subSubContent
	h3
		b Interpretations
	p An interpretation assigns meaning to propositional variables in a formula.
	p For example an interpretation of the formula \(\theta \lor \gamma \) assigns values to each of \(\theta \) and \(\gamma \).
	h3
		b Satifisable
	p A formula is satisfisable if there is some interpretation where it is true.
	p For example \(\theta \) is satisfisable but \(\theta \land ¬\theta \) is not.
	h3
		b Tautology
	p A formula is a tautology if it is true in all interpretations.
	p Examples of tautologies include:
	ul
		li $$\theta \lor ¬\theta $$
