extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Normal form
block subSubContent
	h3
		b Normal form
	p This is where a formula is shown using only:	
	ul
		li And / Conjunction- \(\land \)
		li Or / Disjunction   - \(\lor \)
		li Negation - \(¬\)
	p The conjunctive normal form (CNF) is where a formula is converted to a normal form with the following layout:
	p $$a \land b \land c \land d$$
	p These letters can represent complex sub-formulae, in normal form.
	p Statements in this form are easier to evaluate, as each subformula can be evaluated separately. The statement is true only if all formulaes within are also true.
	p The disjunctive normal form (DNF) is similar for \(\lor \).
	p $$a \lor b \lor c \lor d$$
	h3
		b We can use a subset of binary operators
	p The full list of binary operators are included below.
	p Of these, the first two are \(0\)-ary operators, and so are not needed. The next four are unary operators, and so are not needed.
	p The non-implications can be rewritten using negation.
	table.table
		thead
			tr
				th 
				th 
				th True
				th False
				th \(-\)
				th Projection 1
				th Projection 2
				th Inverse projection 1
				th Inverse projection 2
				th \(-\)
				th AND
				th OR
				th If then
				th Then if 
				th XNOR (iff)
				th \(-\)
				th NAND
				th  NOR
				th Material non-implication
				th Converse non-implication
				th XOR
			tr
				th L
				th R
				th \(T\)
				th \(F\)
				th \(-\)
				th \(p\)
				th \(q\)
				th \(¬p\)
				th \(¬q\)
				th \(-\)
				th \(\land \)
				th \(\lor \)
				th \(\rightarrow \)
				th \(\leftarrow \)
				th \(\leftrightarrow \)
				th \(-\)
				th \(\uparrow \)
				th \(\downarrow \)
				th \(\nrightarrow \)
				th \(\nleftarrow \)
				th \(\oplus \)
		tbody
			tr
				th \(T\)
				th \(T\)
				td \(T\)
				td \(F\)
				td \(-\)
				td \(T\)
				td \(T\)
				td \(F\)
				td \(F\)
				td \(-\)
				td \(T\)
				td \(T\)
				td \(T\)
				td \(T\)
				td \(T\)
				td \(-\)
				td \(F\)
				td \(F\)
				td \(F\)
				td \(F\)
				td \(F\)
			tr
				th \(T\)
				th \(F\)
				td \(T\)
				td \(F\)
				td \(-\)
				td \(T\)
				td \(F\)
				td \(F\)
				td \(T\)
				td \(-\)
				td \(F\)
				td \(T\)
				td \(F\)
				td \(T\)
				td \(F\)
				td \(-\)
				td \(T\)
				td \(F\)
				td \(T\)
				td \(F\)
				td \(T\)
			tr
				th \(F\)
				th \(T\)
				td \(T\)
				td \(F\)
				td \(-\)
				td \(F\)
				td \(T\)
				td \(T\)
				td \(F\)
				td \(-\)
				td \(F\)
				td \(T\)
				td \(T\)
				td \(F\)
				td \(F\)
				td \(-\)
				td \(T\)
				td \(F\)
				td \(F\)
				td \(T\)
				td \(T\)
			tr
				th \(F\)
				th \(F\)
				td \(T\)
				td \(F\)
				td \(-\)
				td \(F\)
				td \(F\)
				td \(T\)
				td \(T\)
				td \(-\)
				td \(F\)
				td \(F\)
				td \(T\)
				td \(T\)
				td \(T\)
				td \(-\)
				td \(T\)
				td \(T\)
				td \(T\)
				td \(F\)
				td \(F\)

	h3
		b De Morgan's Laws
	ul
		li $$¬(A\lor B)\Leftrightarrow (¬A\land ¬B)$$
		li $$¬(A\land B)\Leftrightarrow (¬A\lor ¬B)$$
	p This expresses the duality of normal form.
	p Duality is the principle that binary operators have inverses, and when they are swapped with their inverse, the truth value of the statement is unaffected.
	h3
		b Normal binary operators are commutitive 
	p The normal binary operators are commutitive - \(A\land B\Leftrightarrow B\land A\) and \(A\lor B\Leftrightarrow B\lor A\)
	h3
		b Normal binary operators are associative
	p Both binary operators are associative - \((A\land B)\land C\Leftrightarrow A\land (B\land C)\) and \((A\lor B)\lor C\Leftrightarrow A\lor (B\lor C)\)
	h3
		b Negation is complementary
	p \(A\land ¬A\Leftrightarrow F \)
	p \(A\lor ¬A\Leftrightarrow T\)
	h3
		b Normal binary operators are absorbative
	p \(A\land (A\lor B)\Leftrightarrow A\)
	p \(A\lor (A\land B)\Leftrightarrow A\)
	h3
		b Identity
	p \(A\land T\Leftrightarrow A\)
	p \(A\lor F \Leftrightarrow A\)
	h3
		b Distributivity
	p \(A\land (B\lor C)\Leftrightarrow (A\land B)\lor (A\land C)\)
	p \(A\lor (B\land C)\Leftrightarrow (A\lor B)\land(A\lor C)\)		
