extends ./subSubTemplate.jade

block 	subSubTitle
	h1
		b Binary operators

block subSubContent
	h3
		b How many unique operators are there?
	p An arbitrary operator takes \(n\) inputs are returns \(T\) or \(F\).
	p With \(0\) inputs there is one posible permutation. For every additional input the number of possible permutations doubles. Therefore there are \(2^n\) possible permutations.
	p For the operator with one permutation there are two operators. For every additional permutation the number of operator doubles. Therefore there are \(2^{(2^n)}\) possible operations.
	p With \(0\) inputs, we need \(2\) different operators to cover all outputs. For \(1\) input we need \(4\) and for \(2\) inputs we need \(16\).
	h3
		b Binary operators
	p A binary operator takes two inputs.
	p Of the 16, the the commonly used binary operators are:
	ul
		li If then - \(\theta \rightarrow \gamma \)
		li Then if - \(\theta \leftarrow \gamma \)
		li Iff - \(\theta \leftrightarrow \gamma \)
		li And / Conjunction - \(\theta \land \gamma \)
		li Or / Disjunction - \(\theta \lor \gamma \)
