extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Resolution rule

block subSubContent
	h3
		b Proof by resolution
	p If we have a string of or statements, \(A\lor B\lor C\), and another which contains the completement of one element \(X\lor ¬B\lor Y\), we can infer:
	p \(A\lor C\lor X\lor Y\)

	p If the second statement has only one formula, then we have:
	p \(A\lor B\lor C\) and \(¬B\) implying \(A\lor C\)

