extends ./subSubTemplate.jade

block subSubContent
	h2
		b De Morgan's Laws

	p $$¬(A\lor B)\leftrightarrow (¬A\land ¬B)$$
	table.table
		thead
			tr
				th \(A\)
				th \(B\)
				th \(¬(A\lor B)\)
				th \(¬A\land ¬B)\)
				th \(¬(A\lor B)\leftrightarrow (¬A\land ¬B)\)
		tbody
			tr
				th \(T\)
				th \(T\)
				td \(F\)
				td \(F\)
				td \(T\)
			tr
				th \(T\)
				th \(F\)
				td \(F\)
				td \(F\)
				td \(T\)
			tr
				th \(F\)
				th \(T\)
				td \(F\)
				td \(F\)
				td \(T\)
			tr
				th \(F\)
				th \(F\)
				td \(T\)
				td \(T\)
				td \(T\)
	p $$¬(A\land B)\leftrightarrow (¬A\lor ¬B)$$
	table.table
		thead
			tr
				th \(A\)
				th \(B\)
				th \(¬(A\land B)\)
				th \(¬A\lor ¬B)\)
				th \(¬(A\land B)\leftrightarrow (¬A\lor ¬B)\)
		tbody
			tr
				th \(T\)
				th \(T\)
				td \(F\)
				td \(F\)
				td \(T\)
			tr
				th \(T\)
				th \(F\)
				td \(T\)
				td \(T\)
				td \(T\)
			tr
				th \(F\)
				th \(T\)
				td \(T\)
				td \(T\)
				td \(T\)
			tr
				th \(F\)
				th \(F\)
				td \(T\)
				td \(T\)
				td \(T\)
