extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Semantic consequence

block subSubContent
	h3
		b Semantic consequence
	p A formula, \(A\), semantically implies another, \(B\), if for every interpretation of \(A\), \(B\) is true.
	p We show this with:
	p $$A\vDash B$$
	p Formula \(B\) is satisfisable if there is some \(A\) where this is true.
	p For example:
	p $$A\land B \vDash A$$
	p Formula \(B\) is a tautology if this is true for any \(A\). We can also write this as \(\vDash B\).
	h3
		b Logical equivalence
	p If \(A\vDash B\) and \(B\vDash A\) we say that \(A\) and \(B\) are logically equivalent.
	p This is shown as \(A \Leftrightarrow B\).
