extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Semantic consequence

block subSubContent
	h3
		b De Morgan's Laws
	p $$¬(A\lor B)\leftrightarrow (¬A\land ¬B)$$
	p $$¬(A\land B)\leftrightarrow (¬A\lor ¬B)$$
