extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Syntactic consequence

block subSubContent
	h3
		b Substitution
	p If we have a tautology, then we can substitute the formula of any propositional variable with any formula to arrive at any other tautology.
	p For example, we know that \(\theta \lor ¬\theta \) is a tautology. This means that an arbitrary formula for \(\theta \) is also a tautology.
	p An example is \((\gamma \land \alpha )\lor ¬(\gamma \land \alpha )\), which we know is a tautology, without having to examine each variable.
	h3
		b Syntactic consequence
	p Let us call the first formula \(A\) and the second \(B\). We can then say:
	p $$A\vdash B$$
	p This says that: if \(A\) is true, then we can deduce that \(B\) is true using steps such as substitution.
	h3
		b Modus Ponens
	p Modus Ponens is a deduction rule. This allows us to use stpes other than substitution to derive new tautologies.
	p If \(A\) implies \(B\), and \(A\) is true, then \(B\) is also true.
	p $$(\theta \rightarrow \gamma )\land \theta \Rightarrow \gamma $$
	p That is, if we can show that the following are true:
	p
	p $$\theta \rightarrow \gamma $$
	p $$\theta $$
	p We can infer that the following is also true:
	p $$\gamma $$
	h3
		b Theory
	p Results derived from substitution or induction are called theorems. Theorems often divided into:
	ul
		li Theorems - important results
		li Lemmas - results used for later theorems
		li Corollaries - readily deduced from a theorem
	p We take a set of axioms, as true, and a deduction rule which enables us to derive additional formulae, or theorems. The collection of axioms and theorems is known as the theory.
