extends ./subSubTemplate.jade

block subSubContent
	h2
		b Effective axioms for propositional logic

	p
		b Effectiveness
	p One set of axioms could be all theorems – that is, all formulas which can be derived from axioms are already axioms. Such a system is called ineffective, and makes checking proofs impractical.


	p
		b 1 – Simplification
	p If it is cloudy, then if it is a Tuesday it is also cloudy.
	p $$\theta \rightarrow (\gamma \rightarrow \theta )$$
	p
		b 2 – Frege
	p $$(\alpha \rightarrow (\beta \rightarrow \gamma ))\rightarrow ((\alpha \rightarrow \beta )\rightarrow(\alpha \rightarrow \gamma ))$$
	p
		b 3 – Transposition
	p If there are no clouds in the sky, it is not raining. If it is raining there are clouds in the sky
	p $$(¬\theta \rightarrow ¬\gamma )\rightarrow (\gamma \rightarrow \theta )$$


	h2
		b Soundness and consistency of propositional logic

	h2
		b Independence of axioms
