extends ./subSubTemplate.jade

block subSubContent
	h2
		b Completeness of propositional logic
	p Completeness of propositional logic
	p Complete if semantic implies syntactic (ie all tautologies are provable)
	p Consider a formulae \(A\) not in the theory \(T\). We cannot prove \(A\) from \(T\).
	p $$¬T\vdash A$$
	p Consider adding another axiom to the theory \(T\). If this 
