extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Truth tables

block subSubContent
	p Truth tables can be used to identify formulae which can be satisfied, or are tautologies.
	p A truth table iterates all possible values of and indicates their truth value. The more variables there are the more complex this becomes.
	h3
		b Interpretations
	p An interpretation assigns meaning to the propositional variables.
	h3
		b Satifisable
	p A given well-formed formula is satisfied if there is some interpretation where it is true.
	p For example the following is not universally true, but is true for some values.
	h3
		b Tautology
	p A given well-formed formula is a tautology if it is true in all interpretations.
	p For example the first of these can be satisfied, but only the second is a tautology:
	p $$\theta \lor \gamma $$
	p $$\theta \lor (¬\theta )$$
