extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Writing propositional logic

block subSubContent
	h3
		b Truth
	p We start off with two statements:
	ul
		li True - \(T\)
		li False - \(F\)
	h3
		b Propositional variables
	p We can represent \(T\) or \(F\) using a symbol:
	p $$\theta $$
	h3
		b Unary operators
	p A unary operator takes one input and returns another.
	p Only negation, \(¬\) is of interest.
	p The following statements are equivalent:
	ul
		li \(T\)
		li \(¬F\)
	h3
		b Binary operators
	p A binary operators takes two inputs.
	p The commonly used binary operators are:
	ul
		li If then - \(\theta \rightarrow \gamma \)
		li Then if - \(\theta \leftarrow \gamma \)
		li Iff - \(\theta \leftrightarrow \gamma \)
		li And - \(\theta \land \gamma \)
		li Or - \(\theta \lor \gamma \)
	h3
		b Atomic formulae
	p Atomic formulae are those without operators taking more than one input.
	h3
		b Brackets
	p Operators can be shown together, with brackets. For example:
	p $$(\alpha \lor \beta )\land \gamma $$
	p Is not the same as:
	p $$\alpha \lor (\beta \land \gamma )$$
	h3
		b Well-formed formulae
	p A well-formed formula is one which can be given a truth value.
	p The following is not a well-formed formula:
	p $$\theta \land $$
