extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bias of the IV estimator
block subSubContent
	h3
		b Introduction
	p Equal to actual parameter so long as \(\epsilon \) uncorrelated with \(Z\).
