extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Endogeneity
block subSubContent
	h3
		b Identification terminology

	p A system is under-identified if there are not enough estimators for all structural parameters.

	p A system is exactly identified if there are the same number of estimators as structural parameters.

	p A system is over-identified if there are more estimators than structural parameters.

	p In general we have in our structural form:

	p \(\sum^n_i\beta_{ij}y_i=\sum^m_i\gamma_{ij}x_i+\epsilon_j\)

	p This is a system with \(n\) endogeneous variables and \(m\) exogeneous variables.

	p We can write this in matrix form.

	p \(B\mathbf y =\Gamma \mathbf x + \math bf \epsilon\)

	p We can use this to get:

	p \(\mathbf y =B^{-1}\Gamma \mathbf x + B^{-1}\math bf \epsilon\)

	p We estimate by placing restrictions on \(\Gamma\).

	h3
		b Strucutral models

	p If our data generating process is:

	p \(Q=\alpha + \beta P +\epsilon \)

	p We can estimate \(\alpha \)and \(\beta \) through measuring \(P\) and \(Q\).
	p If, however the data generating process involves simulataneous equations, we can have:

	p \(Q=\alpha_1 + \beta_1 P + \epsilon_1 \)

	p \(Q=\alpha_2 + \beta_2 P + \epsilon_2 \)

	h3
		b Reduced form

	p We can reduce this:

	p \(\alpha_1 + \beta_1 P + \epsilon_1 =\alpha_2 + \beta_2 P + \epsilon_2 \)

	p \((\alpha_1 -\alpha_2 )+ (\beta_1 -\beta_2 )P + (\epsilon_1 -\epsilon_2 )=0\)

	p \(P =\frac{\alpha_2-\alpha_1 }{\beta_1-\beta_2}+\frac{\epilon_2-\epsilon_1 }{\beta_1-\beta_2}\)
	p We can rewrite this as:

	p \(P=\pi_1 + \tau_1 \)
	p Similarly we can reduce for \(Q\):

	p \(Q =\frac{\alpha_2\beta_1-\alpha_1\beta_2 }{\beta_1-\beta_2}+\frac{\beta_1\epsilon_2 -\beta_2\epsilon_1}{\beta_1-\beta_2}\)

	p \(Q= \pi_2 + \tau_2\)
	h3
		b We can't directly estimate structural models

	p If \(P\) is correlated with \(epsilon_1\) or \(\epsilon_2\) then our estimates for \(\beta_1\) and \(\beta_2\) will be biased.

	p This also affects \(Q\).

	p From the reduced forms we can see that \(P\) will be correlated, due to simultaneity.

	h3
		b The identification problem

	p We can estimate \(\pi_1 \) and \(\pi_2\), but this does not allow us to identify any of the structural parameters.

	p We have \(2\) estimators, but \(4\) parameters.

	p This is the identification problem.

