extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Instrumental Variable (IV) estimator
block subSubContent
	h3
		b Introduction
	p \(\hat {\theta_{IV} = (Z^TX)^{-1}Z^Ty\)
	p 2SOLS collpases to IV in some circumstances.
