extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The fixed effects estimator
block subSubContent
	h3
		b Recap on the model
	p Our model is:
	p \(y_{ij}=\alpha + X_{ij}\theta + \xi_j + \epsilon_{ij}\)
	h3
		b The fixed effects estimator
	p With fixed effects we assume that \(U_{ij}\) is a constant for each group. That is:
	p \(U_{ij}=\delta_{ij}U_j\)
	p \(y_{ij}=\alpha + X_{ij}\theta +\epsilon_{ij}+\delta_{ij}U_{j}\)
	p We can use this in a regression if the standard assumptions of OLS are met. In particular, that group membership is uncorrelated with the error term.
	p We add these dummies to \(X_{ij}\) and regress:
	p \(y_{ij}=\alpha + X_{ij}\theta +\epsilon_{ij}\)
	p The parameter for the dummy is the fixed effect of group membership.
	p As we are including membership in the dependent variables, there is no problem if group membership correlates with other independent variables.
	h3
		b Using the within and between transformations
	p \((y_{ij}-\bar y_{i})=(X_{ij}-\bar X_{i})\theta +(U_{ij} -\bar U_{i}) +(\epsilon_{ij}-\bar \epsilon_{i})\)
	p Or:
	p \(\ddot y_{ij}=\ddot X_{ij}\theta +\ddot \epsilon_{ij}\)

	p This this get the same outcome, but is a different computational process.
