extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The cross-sectional model
block subSubContent
	h3
		b Hierarchical data
	p Our standard linear model is:
	p \(y_i=\alpha + X_i\theta +\epsilon_i\)
	p If we had two sets of data we could view these as:
	p \(y_{i,0}=\alpha_0 + X_{i,0}\theta_0 +\epsilon_{i,0}\)
	p \(y_{i,1}=\alpha_1 + X_{i,1}\theta_1 +\epsilon_{i,1}\)
	p Here, the data data from \(1\) does not affect the parameters in \(2\).
	h3
		b Pooled data
	p If we think the data generating process is similar between models, then by restricting the freedom of parameters between models we can get more data for each estimate.
	p For example if we think that all parameters are the same between the models we can estimate:
	p \(y_{i,0}=\alpha + X_{i,0}\theta +\epsilon_{i,0}\)
	p \(y_{i,1}=\alpha + X_{i,1}\theta +\epsilon_{i,1}\)
	p Or:
	p \(y_{ij}=\alpha + X_{ij}\theta + \epsilon_{ij}\)
	h3
		b Fixed slopes
	p Intercepts may be different between the groups. In this case we can instead use the model:
	p \(y_{ij}=\alpha + X_{ij}\theta + \xi_j + \epsilon_{ij}\)

	p There are different ways of estimating this model:
	ul
		li Pooled OLS
		li Fixed effects
		li Random effects
