extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Hausman specification test
block subSubContent
	h3
		b Introduction
	p The Hausman specification test allows you to choose between a fixed effects model and a random effects model.
	h3
		b Efficiency
	p Random effects models are more efficient.
