extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Pooled OLS
block subSubContent
	h3
		b Introduction
	p Our model is:
	p \(y_{ij}=\alpha + X_{ij}\theta + \xi_j + \epsilon_{ij}\)
	h3
		b The pooled OLS estimator

