extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Within and between transformation
block subSubContent
	h3
		b Introduction
	p We can group the data in two ways, one gets between differences and the other within differences.
	p In the above example, we could find the effects of schools, or of departments.
	p \(y_{ij}=\alpha + X_{ij}\theta +\epsilon_{ij}\)

	p \((y_{ij}-\bar y_{j})=(\alpha -\bar \alpha )+(X_{ij}-\bar X_{j})\theta  +(\epsilon_{ij}-\bar \epsilon_{j})\)
	p \((y_{ij}-\bar y_{j})=(X_{ij}-\bar X_{j})\theta  +(\epsilon_{ij}-\bar \epsilon_{j})\)
	p Or alternatively:
	p \((y_{ij}-\bar y_{i})=(X_{ij}-\bar X_{i})\theta  +(\epsilon_{ij}-\bar \epsilon_{i})\)
	p Regardless of the form we choose, we can write this as:	
	p \(\ddot y_{ij}=\ddot X_{ij}\theta +\ddot \epsilon_{ij}\)

