extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Quantifiers

block subSubContent
	h3
		b Types of quantifiers
	p
		b Existential quantifier
	p We introduce a shorthand for “at least one term satisfies a predicate”, that is:
	p $$P(x_0)\lor P(x_1)\lor P(x_2)\lor P(x_2)\lor P(x_3)…$$
	p The short hand is:
	p $$\exists x P(x)$$
	p
		b Universal quantifier
	p We introduce another shorthand, this time for:
	p $$P(x_0)\land P(x_1)\land P(x_2)\land P(x_2)\land P(x_3)…$$
	p The shorthand is
	p $$\forall x P(x)$$
	h3
		b Quantifiers and variables
	p
		b Free and bound variables
	p A bound variable is one which is quantified in the formula. A free variable is one which is not.
	p
		b Ground terms
	p A ground term does not contain any free variables. A ground formulae is one which only includes ground terms.
	
	h3
		b First-order logic
	p These iterate across a set. Increasing the number of terms \(x\) can take requires updating the formula for zero-order logic, but not here. As a result we call this first-order logic.
	p
		b Limitations of truth tables
	p As we noted in zero-order logic, evaluating truth table becomes more difficult as more variables are added. The addition of quantifiers presents an additional problem.
	p The truth table must now iterate over the quantified variables, which can be arbitrarily large. Instead we need a new approach.
	h3
		b Instantation axioms
	p
		b Existential instantiation
	p Given a formulae:
	p $$\exists x P(x)$$
	p We can infer that the following is also true:
	p $$P(c)$$
	p Where \(c\) is a new term.
	p
		b Universal instantiation
	p Given a formulae:
	p $$\forall x P(x)$$
	p We can infer:
	p $$P(a/x)$$
	p Where \(a / x\) represents substituting \(a\) for \(x\) within \(P\).

	p
		b 4 - Existence
	p If \(P\) is true for all values of \(x\), then \(P\) is true for any input to \(P\).
	p $$\forall xP(x)\rightarrow P(r)$$
	p
		b 5 - Universal

	p If \(P\) is true for term \(x\) as input, then there exists an input for \(P\) where \(P\) is true.
	p $$P(r)\rightarrow \exists xF(x)$$
