extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Binary functions
block subSubContent
	h3
		b Properties of binary functions
	p Binary functions can be written as:
	p $$f(a,b)=a\oplus b$$
	p A function is commutative if:
	p $$x\oplus y = y\oplus x$$
	p A function is associative if:
	p $$(x\oplus y)\oplus z = x\oplus (y\oplus z)$$
	p A function \(\otimes \) is left distributive over \(\oplus \) if:
	p $$x\otimes (y\oplus z)=(x\otimes y) \oplus (x\otimes z)$$
	p Alternatively, function \(\otimes \) is right distributive over \(\oplus \) if:
	p $$(x\oplus y)\otimes z=(x\otimes z) \oplus (y\oplus z)$$
	p A function is distributive over another function if it both left and right distributive over it.
