extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Injective, bijective and surjective functions
block subSubContent
	h3
		b Injective functions
	p $$f(a)=f(b)\rightarrow a=b$$
	h3
		b Surjective functions
	p All points in codomain have at least one matching point in domain

	p Mapping info, details

	h3
		b Bijective
	p Both injective and surjective
	h3
		b Other
	p
		b Identity function
	p The identity function maps a term to itself.
	p
		b Idempotent
	p An idempotent function is a function which does not change the term if the function is used more than once. An example is multiplying by \(0\).
	h3
		b Inverse functions
	p An inverse function of a function is one which maps back onto the original value.
	p \(g(x)\) is an inverse function of \(f(x)\) if	
	p $$g(f(x))=x$$

	h3
		b Properties of binary functions
	p Binary functions can be written as:
	p $$f(a,b)=a\oplus b$$
	p A function is commutative if:
	p $$x\oplus y = y\oplus x$$
	p A function is associative if:
	p $$(x\oplus y)\oplus z = x\oplus (y\oplus z)$$
	p A function \(\otimes \) is left distributive over \(\oplus \) if:
	p $$x\otimes (y\oplus z)=(x\otimes y) \oplus (x\otimes z)$$
	p Alternatively, function \(\otimes \) is right distributive over \(\oplus \) if:
	p $$(x\oplus y)\otimes z=(x\otimes z) \oplus (y\oplus z)$$
	p A function is distributive over another function if it both left and right distributive over it.
