extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Functions and brackets
block subSubContent
	h3
		b Functions (or maps)
	p Functions take other terms, and are themselves terms. For example if we wanted to know if someone can legally drive in a specific country, we could use:
	p $$P(you,age(UK))$$
	p A function may not be able to produce an output for all inputs. For examples \(age(green)\) has no interpretation.
	p Functions can also take different numbers of inputs. Constants, such as “you” and “UK” can be shown as functions with \(0\) inputs. As a result we could instead write:
	p $$P(you(),age(UK()))$$
	p We generally denote functions with a lower case letter, so would instead write:
	p $$P(y(),a(b()))$$
	p Functions are also called maps.
