extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Signatures

block subSubContent
	h3
		b Structures
	p A logical structure consists of:
	ul
		li Domain
		li Interpretation
		li Signature
	h3
		b Domain
	p The domain is the set of variables in the structure.
	p We include an infinite number of variables.
	h3
		b Interpretation
	p The interpretation assigns values to propositional and predicate variables.
	h3
		b Signature
	p A logical signature describes the language of the logic which is used to construct statements. This includes:
	ul
		li Functions
		li Relations
		li Operators
	p The language of a signature is all possible sentences, or formulae which can be constructed from this signature.
	p We include an infinite number of functions, relations and all operators.
