extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Completeness of zero-order logic
block subSubContent
	h3
		b Completeness
	p A theory is complete if all true formulae are included.
	p Note that there are three types of formulae in a theory.
	ul
		li Tautologies (always true)
		li Refutable formulae (always false)
		li Satisfiable formulae which are not tautologies (true in some, but not all, interpretations).

