extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Terms and predicates
block subSubContent
	h3
		b Predicates
	p Zero-order logic adds predicates. Like propositional variables, these have truth values. Unlike propositional variable, predicates take terms as inputs.
	p For example using propositional logic we can write the statement "you are 25" as \(\theta \).
	p With preterites we can write this as \(P(you, 25)\).
	p A propositional variable can be considered a special case of a predicate variable, where the number of inputs is \(0\).
