extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Aggregate Demand (AD)
block subSubContent
	h3
		b Introduction
	p For any given price level there is a corresponding IS-LM equilibrium, with an output level.
	p The Aggregate Demand curve models the relationship between the price level and equilibrium output.
	p As the price level rises, the real money supply falls. This means nominal interest rates rise to ensure LM equilibrium.
	p This rise in interest rates causes the IS curve to shift inwards, reducing output.
	p \(Y_d=Y_d(\dfrac{M}{P},G,T)\)

	h3
		b The slope of the Aggregate Demand curve
	p 
