extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Aggregate Supply (AS)
block subSubContent
	h3
		b Aggregate Supply in neoclassical models
	p In neoclassical models Aggregate Supply does not depend on price.
	h3
		b Aggregate Supply in neo-Keynesian models
	p The Aggregate Supply curve is informed by the Phillips curve.
	p As prices rise, so too does output.
	p Firms could increase production as nominal prices rise, as nominal contracts on wages mean that real costs have fallen.
	h3
		b Slope of the Aggregate Supply curve
	p 
