extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Fisher equation
block subSubContent
	h3
		b Introduction
	p The Fisher equation shows the relationship between the real and nominal interest rates.
	p \((1+i)=(1+r)(1+\pi )\)
	p For small values:
	p \(i\approx r+\pi \)
