extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Investment Saving - Liquidity preference - Money supply (IS-LM) model
block subSubContent
	h3
		b Introduction
	p The IS curve plots output against the (real) interest rate. As (real) interest rates rise, investment and therefore output falls.
	p The LM curve plots output against the (nominal) interest rate. As output rises, (nominal) interest rates fall to ensure clearing.
	p As prices are fixed in the IS-LM model, we can use the real and nominal rates interchangably.
	p The IS-LM model identifies the intercepts of the two curves and the equilibrium output and interest rate.
	p This model takes prices, money supply, taxes and government spending to be exogenous.
	h3
		b Effect of monetary expansion
	p In the LM model a monetary expansion lowers interest rates.
	p In the IS-LM model this effect is lessened. The lower interest rates cause higher output, increasing money demand, and raising interest rates.
	p 
	h3
		b Effect of fiscal expansion
	p Is the IS model a fiscal expansion caused a corresponding increase in output.
	p In the IS-LM model this is lessened because the increase also causes more real money demand, raising interest rates, and lowering output.
