extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Keynesian cross and the Investment Saving (IS) curve
block subSubContent
	h3
		b The Keynesian cross
	p We have:
	p \(Y=C(Y-T(Y))+I(r)+G+NX(Y)\)
	p Where:
	ul
		li \(Y\) is output
		li \(C\) is consumption
		li \(T\) is taxes
		li \(I\) is investment
		li \(r\) is the real interest rate
		li \(G\) is government spending
		li \(NX\) is net exports
	p The Keynesian cross plots:
	\(Y\)
	p Against:
	p \(C(Y-T(Y))+I(r)+G+NX(Y)\)
	p This identifies an equilibrium level of output.
	h3
		b The IS curve
	p The IS curve plots the equilibrium level of output from the Keynesian cross against the real interest rate.
	p As the real interest rate rises, investment and therefore output falls.
	h3
		b The slope of the IS curve
	p The slope of the IS curve depends on taxes and net exports.
