extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Liquidity preference - Money supply (LM) curve
block subSubContent
	h3
		b Liquidity preference
	p Money demand is:
	p \(L=L(i, Y)\)
	p As income rises, demand for money rises.
	p As the nominal interest rate rises, the demand for money falls, due to the opportunity cost.
	h3
		b Money supply
	p Money supply is:
	p \(dfrac{M}{P}\)
	h3
		b The LM curve
	p In equilibrium money supply and demand match. We have:
	p \(\dfrac{M}{P}=L(i,Y)\)
	p We can plot the level of output which corresponds to the nominal interest rate.
	p This is the LM curve.
	h3
		b The slope of the LM curve
	p 
