extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Representative agents
block subSubContent
	h3
		b Introduction
	p 
	h3
		b Income inequality
	p The use of representative agents means that the model cannot incorporate effects of income inequality.
