extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Dynamic time warping
block subSubContent
	h3
		b Introduction
	p We may want to examine the similarity between two sequences.

	p We want to match a sample from one sequence to a sample from the other sequence.

	p Simply matching at the same time point is naive, as samples may move at different speeds, or have offsets.
 
