extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Frobenius norm
block subSubContent
	h3
		b Introduction
	p If we have matrices \(A\) and \(A\) the distance is:

	p \(||A-B||=\sqrt {\sum_i \sum_j |a_{ij}-b_{ij}|^2}\)

	p This is a Euclidian norm.

