extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Kernels
block subSubContent
	h3
		b Introduction
	p This is a generalisation of the dot product function, where we want to find similarity between two vectors.
	p If we have data points \(v\) and \(w\) the distance is:

	p \(K(v, w)\)

