extends ./subSubTemplate.jade
block subSubTitle
	h1
		b \(L_p\) norms
block subSubContent
	h3
		b Introduction
	p \(L_p\) norms can be used to measure the distance between two metrics.

	p If we have data points \(v\) and \(w\) the distance is:

	p \(||v-w||=(\sum_i |v_i-w_i|^p)^{\frac{1}{p}}\)

	p If \(p=2\) we have the Euclidian norm. If \(p=1\) we have the Manhatten norm.

