extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Finding neighbours
block subSubContent
	h3
		b Introduction
	p Say we have a distance function and a sample. How can we identify the \(k\)-nearest neighbours?
	p We can find the distance for all points, sort this and take the top \(k\) observations.
