extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Economics axioms
	p Economic agents include consumers, workers, firms, politicians and any entity which makes decisions. Economics explores how agents interact. To do this, we need some definitions. 
	p
		b Axiom 1: There is a choice set
	p Economic agents face options from some set. This could be consumption choices, numbers of hours to work, or how much capital to invest in at a factory.
	p
		b Axiom 2: An economic agent has preferences across all pairs of elements of the choice set
	p Where an agent prefers one option to another, we say this choice is preferred to the other. We can show this formulaically. If \(a\) is preferred to \(b\) then:
	p $$a\succ b$$
	p Alternatively \(b\) may be preferred to \(a\).
	p $$a\prec b$$
	p Finally an agent may be indifferent to the choices.
	p $$a\sim b$$
	p We use can additional symbols to denote an agent prefers or is indifferent between options:
	p $$a\succeq b$$
	p $$a\preceq b$$
	p Note that if:
	p $$a\succeq b$$
	p And:
	p $$a\preceq b$$
	p Then:
	p $$a\sim b$$
	p For a set of choice, we want the agent to have preferences defined across possible subsets – the power set.
