extends ./auctions/subSubTemplate.jade
block subSubContent
	h3
		b Trade

	p
		a(href="./auctions/tradeEdgeworth") Edgeworth box
	h3
		b Simple auctions for a single item
	p
		a(href="./auctions/english") English auctions
	p
		a(href="./auctions/dutch") Dutch auctions
	p
		a(href="./auctions/blind") Blind auctions
	p
		a(href="./auctions/vickrey") Vickrey auctions

	h3
		b Auctions for multiple items
