extends ./banking/subSubTemplate.jade
block subSubContent
	h3
		b Banking
	p
		a(href="./banking/bank") Saving through a bank
	p
		a(href="./banking/bankFinance") Bank finance
	h3
		b Payment systems
	p
		a(href="./banking/payments") Payments
	h3
		b Other
	p
		a(href="./banking/shadowBanking") Shadow banking
	p
		a(href="./banking/bankFailure") Bank failure
	p
		a(href="./banking/centralBanks") Central banks
	p
		a(href="./banking/reserveCurrencies") Reserve currencies
	p
		a(href="./banking/exchangeRates") Exchange rates

	h3
		b To banks
	p
		a(href="./banking/bankCurrency") Bank currency
	p
		a(href="./banking/fullReserve") Full reserve banking
	p
		a(href="./banking/inflationEffects") Fractional reserve banking

