extends ../../templates/theoryHeader.jade

block theoryContent
	h1 Economics
	h2
		b Economic agents
	p Budget constraints
	p Economic agents can choose elements from a set. We can define this set both by what is included, and what is excluded.
	p For example an agent could choose how much to work and how much to enjoy leisure, but be constrained by the amount of time in the day.
	p That is, an economic agent may prefer relaxing for 30 hours a day, but the set which they can choose from is limited.
	p This is also used to express budget constraints faced by consumers, who are constrained in their consumption by their prices and their wealth and income.
