extends ./commodities/subSubTemplate.jade
block subSubContent
	h3
		b Exchange design
	p
		a(href="./commodities/tick") Tick size
	p
		a(href="./commodities/latency") Latency
	p
		a(href="./commodities/pre") Pre-trade transparency
	p
		a(href="./commodities/post") Post-trade transparency
	p
		a(href="./commodities/circuit") Circuit breakers
	p
		a(href="./commodities/public") Public exchanges
	p
		a(href="./commodities/dark") Dark pools
	p
		a(href="./commodities/OTC") Over-The-Counter (OTC)


	h3
		b Order types
	p
		a(href="./commodities/book") Order book
	p
		a(href="./commodities/passive") Passive orders
	p
		a(href="./commodities/stopLoss") Stop-loss orders
	p
		a(href="./commodities/resting") Resting orders
	p
		a(href="./commodities/limit") Limit orders
	p
		a(href="./commodities/wash") Wash trading
	p
		a(href="./commodities/multiple") Orders on multiple exchanges
	h3
		b Intermediaries
	p
		a(href="./commodities/broker") Brokers
	p
		a(href="./commodities/front") Front running
	p
		a(href="./commodities/paymentFlow") Payment for order flow
	h3
		b Measures
	p
		a(href="./commodities/volume") Transaction volume
	p
		a(href="./commodities/frequency") Transaction frequency
	p
		a(href="./commodities/volatility") Volatility and implied volatility
	p
		a(href="./commodities/sharpe") Sharpe ratio
	h3
		b Liquidity
	p
		a(href="./commodities/spread") Bid-ask spread
	p
		a(href="./commodities/depth") Order book depth
	p
		a(href="./commodities/resubmission") Cancelling of resting orders, and resubmission of liquidity
	h3
		b Commodity pricing
	p
		a(href="./commodities/carry") Carry trade

