extends ./competitionPolicy/subSubTemplate.jade
block subSubContent
	h3
		b Harm from anti-competitive behaviour
	h3
		b Assessing the impact of anti-competitive behaviour
	p
		a(href="./competitionPolicy/objectEffect") Restrictions on competition by object and by effect
	h3
		b Merger policy
	p
		a(href="./competitionPolicy/simultation") Merger simulation
	p
		a(href="./competitionPolicy/horizontal") Horizontal mergers
	p
		a(href="./competitionPolicy/vertical") Vertical mergers


	h3
		b Market definition
	p
		a(href="./competitionPolicy/SSNIP") SSNIP test
	p
		a(href="./competitionPolicy/marketDefinition") Market definition
	h3
		b Measuring market concentration
	p
		a(href="./competitionPolicy/HHI") HHI
	p
		a(href="./competitionPolicy/concentrationRatio") Concentration ratio
	p
		a(href="./competitionPolicy/lerner") Lerner index
	p
		a(href="./competitionPolicy/PSI") Pivotal supplier index (PSI)
	p
		a(href="./competitionPolicy/RSI") Residual Supply Index (RSI)


