extends ./consumer/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./consumer/causesMarket") Utility maximisation problem
	p
		a(href="./consumer/causesMarket") Demand curve
	p
		a(href="./consumer/demandElasticity") Measuring demand elasticity
	p
		a(href="./consumer/causesMarket") Indirect utility functions
	p
		a(href="./consumer/causesMarket") Shephard's lemma
	p
		a(href="./consumer/causesMarket") Hotelling's lemma
	p
		a(href="./consumer/causesMarket") Roy's identity
	p
		a(href="./consumer/causesMarket") Marshallian demand
	p
		a(href="./consumer/causesMarket") Wicksellian demand
	p
		a(href="./consumer/causesMarket") Almost Ideal Demand System
	p
		a(href="./consumer/causesMarket") Hick's demand
	p
		a(href="./consumer/causesMarket") Slutsky equation
	p
		a(href="./consumer/causesMarket") Substitution effect
	p
		a(href="./consumer/causesMarket") Income effect
	p
		a(href="./consumer/causesMarket") Permenant income hypothesis
	h3
		b Contract theory
	p
		a(href="./consumer/causesMarket") Principal agent problem

