extends ./consumer/subSubTemplate.jade
block subSubContent
	h3
		b Utility functions
	p
		a(href="./consumer/utilityFunction") Utility functions and marginal utility
	p
		a(href="./consumer/indifference") Indifference curves and marginal rate of substitution
	p
		a(href="./consumer/elasticitySubstitution") Elasticity of substitution
	h3
		b The utility maximisation problem
	p
		a(href="./consumer/firstOrder") First-order conditions
	p
		a(href="./consumer/marshall") Marshallian demand
	p
		a(href="./consumer/elasticityPrice") Own-price elasticity of demand
	p
		a(href="./consumer/elasticityCross") Cross-price elasticity of demand, complements and substitutes
	p
		a(href="./consumer/indirect") Indirect utility functions
	p
		a(href="./consumer/super") Super elasticity of demand
	p
		a(href="./consumer/diversion") Diversion ratio
	p
		a(href="./consumer/substitution") Substitution effect
	p
		a(href="./consumer/demandElasticity") Measuring demand elasticity
	h3
		b SORT
	p
		a(href="./consumer/veblen") Veblen goods
	h3
		b Income effects
	p
		a(href="./consumer/elasticityIncome") Engel curves and income elasticity of demand
	p
		a(href="./consumer/normalInferior") Normal goods (necessities and luxuries) and inferior goods
	p
		a(href="./consumer/giffen") Ordinary goods and Giffen goods
	p
		a(href="./consumer/income") Income effect
	p
		a(href="./consumer/slutsky") Slutsky equation
	h3
		b The expenditure minimisation problem
	p
		a(href="./consumer/expenditure") The expenditure function
	p
		a(href="./consumer/shephard") Shephard's lemma
	p
		a(href="./consumer/hick") Hick's demand
	p
		a(href="./consumer/roy") Roy's identity
	h3
		b Specific utility functions
	p
		a(href="./consumer/cobbDouglas") Cobb-Douglas utility function
	p
		a(href="./consumer/leontief") Leontief utility function
	p
		a(href="./consumer/CES") Constant Elasticity of Substitution (CES) utility function
	p
		a(href="./consumer/AIDS") Almost Ideal Demand System
	p
		a(href="./consumer/representative") Representative consumers
	h3
		b Discrete choice
	p
		a(href="./consumer/discreteRandom") Random utility functions
	p
		a(href="./consumer/discrete") Modelling homogeneous preferences with multinomial logit
	p
		a(href="./consumer/discreteNested") Modelling homogeneous preferences with nested logit
	p
		a(href="./consumer/discreteCharacteristics") Modelling heterogeneous preferences with individual characteristics
	p
		a(href="./consumer/discreteMixed") Modelling heterogeneous preferences with mixed logit
	h3
		b Intertemporal
	p
		a(href="./consumer/SSNIP") Elasticity of intertemporal substitution

