extends ./consumer/subSubTemplate.jade
block subSubContent
	h3
		b Utility functions
	p
		a(href="./consumer/utilityFunction") Utility functions and marginal utility
	p
		a(href="./consumer/indifference") Indifference curves and marginal rate of substitution
	p
		a(href="./consumer/substitution") Elasticity of substitution
	h3
		b The utility maximisation problem
	p
		a(href="./consumer/causesMarket") First-order conditions	
	h3
		b The expenditure minimisation problem
	p
		a(href="./consumer/causesMarket") The expenditure function
	p
		a(href="./consumer/causesMarket") Shephard's lemma
	p
		a(href="./consumer/causesMarket") Hick's demand
	p
		a(href="./consumer/causesMarket") Indirect utility functions
	h3
		b Introduction
	p
		a(href="./consumer/causesMarket") Demand curve
	p
		a(href="./consumer/demandElasticity") Measuring demand elasticity
	p
		a(href="./consumer/causesMarket") Hotelling's lemma
	p
		a(href="./consumer/causesMarket") Roy's identity
	p
		a(href="./consumer/causesMarket") Marshallian demand
	p
		a(href="./consumer/causesMarket") Wicksellian demand
	p
		a(href="./consumer/causesMarket") Almost Ideal Demand System
	h3
		b Price changes
	p
		a(href="./consumer/causesMarket") Diversion ratio
	p
		a(href="./consumer/causesMarket") Substitution effect
	p
		a(href="./consumer/causesMarket") Income effect
	p
		a(href="./consumer/causesMarket") Slutsky equation
	h3
		b Specific utility functions
	p
		a(href="./consumer/cobbDouglas") Cobb-Douglas utility function
	p
		a(href="./consumer/leontief") Leontief utility function
	p
		a(href="./consumer/CES") Constant Elasticity of Substitution (CES) utility function
	p
		a(href="./consumer/discrete") Discrete choice utility function

