extends ./diff/subSubTemplate.jade
block subSubContent
	h3
		b Trade

	p
		a(href="./diff/horizontal") Horizontal competition

	h3
		b Product differentiation
	p
		a(href="./diff/hotelling") Hotelling competition
	p
		a(href="./diff/hotelling") Vertical differentiation (quality and price. everyone prefers high quality, but different preferences for tradeoff)
	p
		a(href="./diff/hotelling") Horizontal differentiation (different preferences for characteristics. eg car colour)
	p
		a(href="./diff/hotelling") Bertrand competition with differentiated products (\(q_1=a-b_1p_1+b_2p_2\) \(q_2=a-b_1p_2+b_2p_1\) )


	h3
		b Price discrimination
	p
		a(href="./diff/hotelling") Barriers to resale
	p
		a(href="./diff/hotelling") First-degree price discrimination (perfect. have complete knowledge of customers.)
	p
		a(href="./diff/hotelling") Second-degree price discrimination (discounts for quantity. egindustrial orders. have no knowledge of customers.)
	p
		a(href="./diff/hotelling") Third-degree price discrimination (different for different groups. eg student discount. have knowldege of groups)
	p
		a(href="./diff/hotelling") Two-part tariff
	p
		a(href="./diff/hotelling") The Coase conjecture
	p
		a(href="./diff/hotelling") The 	Pacman conjecture

