extends ./econometrics/subSubTemplate.jade
block subSubContent
	h3
		b Measuring heterogeneous efficiency
	p
		a(href="./econometrics/causesCollusion") Stochastic frontier analysis
	p
		a(href="./econometrics/causesCollusion") Data envelopment analysis
	h3
		b Estimating supply and demand
	p
		a(href="./econometrics/causesCollusion") Structural supply and demand functions
	p
		a(href="./econometrics/causesCollusion") Reduced form supply and demand functions
	p
		a(href="./econometrics/causesCollusion") Ensuring exogeneity


	p
		a(href="./econometrics/IV") Instrumental variables for demand estimation

	h3
		b Stated preference
	p
		a(href="./econometrics/statedPreference") Stated preference

	h3
		b Discrete choice estimation
	p
		a(href="./econometrics/discreteEstimationAgg") Discrete choice estimation with aggregate data
	p
		a(href="./econometrics/discreteEstimationInv") Discrete choice estimation with individual data
	p
		a(href="./econometrics/discreteOmitted") Omitted variable bias
	p
		a(href="./econometrics/discretePrice") The problem with alternative price data
	p
		a(href="./econometrics/discreteDummy") Dummy variables for products
	p
		a(href="./econometrics/discreteIV") Using instrumental variables


	h3
		b Discrete choice estimation with individual data

