extends ./econometrics/subSubTemplate.jade
block subSubContent
	h3
		b Market definition
	p
		a(href="./econometrics/SSNIP") SSNIP test
	p
		a(href="./econometrics/marketDefinition") Market definition
	h3
		b Measuring market concentration
	p
		a(href="./econometrics/HHI") HHI
	p
		a(href="./econometrics/concentrationRatio") Concentration ratio
	p
		a(href="./econometrics/lerner") Lerner index
	p
		a(href="./econometrics/PSI") Pival supplier index (PSI)
	p
		a(href="./econometrics/RSI") Residual Supply Index (RSI)
	h3
		b Measuring heterogeneous efficiency
	p
		a(href="./econometrics/causesCollusion") Stochastic frontier analysis
	p
		a(href="./econometrics/causesCollusion") Data envelopment analysis
	h3
		b Estimating supply and demand
	p
		a(href="./econometrics/causesCollusion") Structural supply and demand functions
	p
		a(href="./econometrics/causesCollusion") Reduced form supply and demand functions
	p
		a(href="./econometrics/causesCollusion") Ensuring exogeneity

