extends ./gameTheory/subSubTemplate.jade
block subSubContent
	h2
		b Interaction of economic agents
	h3	Game theory
	p
		a(href="/theory/economics/gameMotivation") Motivation
	p
		a(href="/theory/economics/gameTypes") Types of games
	p
		a(href="/theory/economics/gameSimultaneous") Simultaneous games
	p
		a(href="/theory/economics/gameSequential") Sequential games
	h3
		b Trade
	p
		a(href="/theory/economics/tradeEdgeworth") Edgeworth box
	p
		a(href="/theory/economics/tradeGames") Games for trade
	p
		a(href="/theory/economics/tradeMultiple") Trade with multiple parties
	p
		a(href="/theory/economics/tradeExternalPrices") External prices
	p
		a(href="/theory/economics/tradePower") Prices and market power
	p
		a(href="/theory/economics/tradeMoney") Money
	p
		a(href="/theory/economics/tradeNominalReal") Nominal and real prices
