extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Choice set
	p Economic agents face options from some set. This could be consumption choices, numbers of hours to work, or how much capital to invest in at a factory.
