extends ./gameTheory/subSubTemplate.jade
block subSubContent
	h3	Game theory
	p
		a(href="./gameTheory/gameMotivation") Motivation
	p
		a(href="/gameTheory/gameTypes") Types of games
	p
		a(href="/gameTheory/gameSimultaneous") Simultaneous games
	p
		a(href="/gameTheory/gameSequential") Sequential games
	h3
		b Trade
	p
		a(href="/gameTheory/tradeEdgeworth") Edgeworth box
	p
		a(href="/gameTheory/tradeGames") Games for trade
	p
		a(href="/gameTheory/tradeMultiple") Trade with multiple parties
	p
		a(href="/gameTheory/tradeExternalPrices") External prices
	p
		a(href="/gameTheory/tradePower") Prices and market power
	p
		a(href="/gameTheory/tradeMoney") Money
	p
		a(href="/gameTheory/tradeNominalReal") Nominal and real prices
