extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Choice set


	p Simultaneous or sequential
	p Repeated, one off
	p Number of players
	p Information
	p Discrete, continuous (reaction function)