extends ./general/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	h3
		b  Productive efficiency
	p
		a(href="./general/SSNIP") Production-possibility frontier
	p
		a(href="./general/SSNIP") Productive efficiency
	h3
		b Allocative efficiency
	p
		a(href="./general/SSNIP") Allocative efficiency
	p
		a(href="./general/SSNIP") Pareto efficiency
	p
		a(href="./general/SSNIP") Kaldor-Hicks efficiency

