extends ./industryConstruction/subSubTemplate.jade
block subSubContent
	h3
		b Plastics
	p
		a(href="./industryConstruction/") 

	h3
		b Mining
	h3
		b Metallurgy

	h3
		b The steam engine
	h3
		b Clocks
	h3
		b Navigation
	h3
		b Boats

	h3
		b Cars
	h3
		b Roads
	h3
		b Bridges
	h3
		b Irrigation
	h3
		b Water transport
	h3
		b Concrete
	h3
		b Stone buildings
	h3
		b Wood buildings
	h3
		b Paper
	h3
		b Windmills
	h3
		b Water mills
	h3
		b Textiles
	h3
		b Animal husbandry
	h3
		b Crops
	p
		a(href="./industryConstruction/") Trees
	p
		a(href="./industryConstruction/") Rice
	p
		a(href="./industryConstruction/") Vegetables
	p
		a(href="./industryConstruction/") Cereals

	h3
		b Stone tools
	h3
		b Fishing
	h3
		b Gathering
	h3
		b Fire and shelter
	h3
		b Farming
	p
		a(href="./industryConstruction/") Tillage
	p
		a(href="./industryConstruction/") Watering seeds
	p
		a(href="./industryConstruction/") Planting seeds
	p
		a(href="./industryConstruction/") Weed control
	p
		a(href="./industryConstruction/") Harvesting
	p
		a(href="./industryConstruction/") Nutrient depletion

