extends ./institutions/subSubTemplate.jade
block subSubContent
	h3
		b Movitation
	p
		a(href="./newClassical/critique") The Lucas critique
	h3
		b Expropriation
	h3
		b Property rights
	h3
		b Coalition formation
	h3
		b Trade-off between expropriation and internal security
	h3
		b Trade-off between internal security and external security

