extends ./intermediate/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./intermediate/utilityFunction") Input-output tables
	p
		a(href="./intermediate/utilityFunction") Passthrough
	p
		a(href="./intermediate/utilityFunction") Monopsony and monopoly power
	h3
		b Capital
	p
		a(href="./intermediate/utilityFunction") Putty-putty capital
	p
		a(href="./intermediate/utilityFunction") Putty-clay capital

