extends ./IO/subSubTemplate.jade
block subSubContent
	h3
		b Natural sources of market concentration
	p
		a(href="./IO/scale") Returns to scale
	p
		a(href="./IO/network") Network effects
	p
		a(href="./IO/subscription") Subscription services
	p
		a(href="./IO/efficiency") Heterogeneous efficiency
	h3
		b Anti-competitive sources of market concentration
	p
		a(href="./IO/causesCollusion") Restriction of access
	p
		a(href="./IO/causesCollusion") Portability restriction
	p
		a(href="./IO/causesCollusion") Limit pricing
	p
		a(href="./IO/causesCollusion") Tying
	h3
		b Mergers
	p
		a(href="./IO/horizontal") Horizontal mergers
	p
		a(href="./IO/vertical") Vertical mergers
	h3
		b Market entry and exit
	p
		a(href="./IO/causesCollusion") Entry
	p
		a(href="./IO/causesCollusion") Exit

	h3
		b Market definition
	p
		a(href="./IO/SSNIP") SSNIP test
	p
		a(href="./IO/marketDefinition") Market definition
	h3
		b Measuring market concentration
	p
		a(href="./IO/HHI") HHI
	p
		a(href="./IO/concentrationRatio") Concentration ratio
	p
		a(href="./IO/lerner") Lerner index
	p
		a(href="./IO/PSI") Pival supplier index (PSI)
	p
		a(href="./IO/RSI") Residual Supply Index (RSI)

