extends ./IO/subSubTemplate.jade
block subSubContent
	h3
		b More on monopoly pricing
	p
		a(href="./producer/causesCollusion") Two-part tariffs
	p
		a(href="./producer/causesCollusion") Price discrimination
	h3
		b Natural sources of market power
	p
		a(href="./IO/scale") Returns to scale
	p
		a(href="./IO/network") Network effects
	p
		a(href="./IO/subscription") Subscription services
	p
		a(href="./IO/efficiency") Heterogeneous efficiency
	h3
		b Horizontal single good
	p
		a(href="./IO/causesCollusion") Entry Rate (ER)
	p
		a(href="./IO/causesCollusion") Entrant Relative Size (ERS)
	p
		a(href="./IO/causesCollusion") Exiter Relative Size (XRS)
	p
		a(href="./IO/causesCollusion") Exit Rate (XR)
	p
		a(href="./IO/causesCollusion") Limit pricing
	p
		a(href="./IO/horizontal") Horizontal mergers
	p
		a(href="./IO/horizontal") Bresnahan-Reiss entry model
	h3
		b Horizontal multiple goods
	p
		a(href="./IO/causesCollusion") Tying
	h3
		b Vertical
	p
		a(href="./IO/causesCollusion") Restriction of access
	p
		a(href="./IO/vertical") Vertical mergers
	h3
		b Merger simulation

	h3
		b New product types
	p
		a(href="./IO/hotelling") Identifying new products (eg car) (reach consumer needs in different ways, different way of looking at their demand function)
	p
		a(href="./IO/hotelling") Selling to customers ((retail?), to businesses (cold calling?))
	p
		a(href="./IO/hotelling") Maintaining market share

