extends ./MBF/subSubTemplate.jade
block subSubContent
	h3
		b Saving
	p
		a(href="./MBF/stockpile") Stockpiling
	p
		a(href="./MBF/securities") Saving through securities
	h3
		b Banking
	p
		a(href="./MBF/bank") Saving through a bank
	p
		a(href="./MBF/bankFinance") Bank finance
	h3
		b Payment systems
	p
		a(href="./MBF/payments") Payments
	h3
		b Inflation
	p
		a(href="./MBF/moneySupply") Base currency
	p
		a(href="./MBF/bankCurrency") Bank currency
	p
		a(href="./MBF/moneySupply") Money supply
	p
		a(href="./MBF/inflationEffects") Real effects of inflation
	p
		a(href="./MBF/fullReserve") Full reserve banking
	p
		a(href="./MBF/inflationEffects") Fractional reserve banking
	h3
		b Other
	p
		a(href="./MBF/shadowBanking") Shadow banking
	p
		a(href="./MBF/bankFailure") Bank failure
	p
		a(href="./MBF/centralBanks") Central banks
	p
		a(href="./MBF/exchangeRates") Exchange rates
	p
		a(href="./MBF/policyGoals") Policy goals
	p
		a(href="./MBF/reserveCurrencies") Reserve currencies

