extends ./MBF/subSubTemplate.jade
block subSubContent
	h3
		b Saving
	p
		a(href="./MBF/stockpile") Stockpiling
	p
		a(href="./MBF/securities") Saving through securities
	h3
		b Banking
	p
		a(href="./MBF/bank") Saving through a bank

