extends ./monetaryFiscal/subSubTemplate.jade
block subSubContent
	h3
		b Monetary policy
	p
		a(href="./monetaryFiscal/policyGoals") Policy goals
	h3
		b To monetary/fiscal
	p
		a(href="./monetaryFiscal/inflationEffects") Real effects of inflation

