extends ./money/subSubTemplate.jade
block subSubContent
	h3
		b Money commodities
	p
		a(href="./money/moneyBarter") Money is liquid and information efficient
	h3
		b The price level
	p
		a(href="./money/equationExchange") The equation of exchange
	p
		a(href="./money/moneyDemand") Money demand
	p
		a(href="./money/inflation") Inflation
	p
		a(href="./money/tradeNominalReal") Nominal and real prices
	p
		a(href="./money/quantityTheory") The quantity theory of money
	h3
		b Exchange rates
	p
		a(href="./money/exchangeRates") Exchange rates

