extends ./money/subSubTemplate.jade
block subSubContent
	h3
		b Inflation
	p
		a(href="./money/moneySupply") Base currency
	p
		a(href="./money/bankCurrency") Bank currency
	p
		a(href="./money/moneySupply") Money supply
	p
		a(href="./money/inflationEffects") Real effects of inflation
	p
		a(href="./money/fullReserve") Full reserve banking
	p
		a(href="./money/inflationEffects") Fractional reserve banking


	h3
		b Money
	p
		a(href="./money/tradeMoney") Money
	p
		a(href="./money/tradeNominalReal") Nominal and real prices

