extends ./neoClassical/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./neoClassical/causesMarket") Walras equilibrium
	p
		a(href="./neoClassical/causesMarket") Arrow–Debreu model
	p
		a(href="./neoClassical/causesMarket") Input output model
	p
		a(href="./neoClassical/causesMarket") Heckscher Ohlin

