extends ./neoClassical/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./neoClassical/walras") Walras equilibrium
	p
		a(href="./neoClassical/arrowDebreu") The Arrow–Debreu model
	p
		a(href="./neoClassical/inputOutput") The input-output model
	h3
		b Classical dichotomy
	h3
		b Neoclassical exogeneous growth models
	p
		a(href="./neoClassical/harrodDomar") The Harrod-Domar model
	p
		a(href="./neoClassical/solowSwan") The Solow-Swan model
	p
		a(href="./neoClassical/MRW") The Mankiw-Romer-Weil model
	p
		a(href="./neoClassical/goldenRule") The Golden Rule savings rate
	p
		a(href="./neoClassical/RCK") The Ramsey-Cass-Koopmans model
	h3
		b Neoclassical endogeneous growth models
	p
		a(href="./neoClassical/AK") The AK model

