extends ./neoKeynesian/subSubTemplate.jade
block subSubContent
	h3
		b Motivation
	p
		a(href="./neoKeynesian/gap") Output gaps
	p
		a(href="./neoKeynesian/phillips") Phillips curve
	p
		a(href="./neoKeynesian/okun") Okun's law
	h3
		b Investment Saving - Liquidity preference - Money supply (IS-LM)
	p
		a(href="./neoKeynesian/fisher") The Fisher equation
	p
		a(href="./neoKeynesian/IS") The Keynesian cross and the Investment Saving (IS) curve
	p
		a(href="./neoKeynesian/LM") The Liquidity preference - Money supply (LM) curve
	p
		a(href="./neoKeynesian/IS-LM") The Investment Saving - Liquidity preference - Money supply (IS-LM) model
	h3
		b Aggregate Demand - Aggregate Supply (AD-AS)
	p
		a(href="./neoKeynesian/AD") Aggregate Demand (AD)
	p
		a(href="./neoKeynesian/AS") Aggregate Supply (AS)
	p
		a(href="./neoKeynesian/AD-AS") The Aggregate Demand - Aggregate Supply (AD-AS) model
	p
		a(href="./neoKeynesian/multiplier") The fiscal multiplier
	h3
		b Extentions
	p
		a(href="./neoKeynesian/mundellFlemming") The Mundell-Flemming model
	p
		a(href="./neoKeynesian/DAD-SAS") The Dynamic Aggregate Demand - Surprise Aggregate Supply (DAD-SAS) model

