extends ./neoKeyesian/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./neoKeyesian/causesMarket") Phillips curve
	p
		a(href="./neoKeyesian/causesMarket") IS-LM
	p
		a(href="./neoKeyesian/causesMarket") AD/AS
	p
		a(href="./neoKeyesian/causesMarket") Mundell Flemming
	p
		a(href="./neoKeyesian/causesMarket") DAD/SAS

