extends ./producer/subSubTemplate.jade
block subSubContent
	h3
		b Causes of monopoloy power
	p
		a(href="./producer/causesMarket") Market characteristics
	p
		a(href="./producer/switching") Switching
	p
		a(href="./producer/causesGovernment") Government practices
	p
		a(href="./producer/causesCollusion") Collusion
	h3
		b How can monopolists raise prices?
	p
		a(href="./producer/causesCollusion") Price gouging
	p
		a(href="./producer/causesCollusion") Two-part tariffs
	p
		a(href="./producer/causesCollusion") Price discrimination
	p
		a(href="./producer/causesCollusion") Tying
	h3
		b How can monopolists prevent competition?
	p
		a(href="./producer/causesCollusion") Predatory pricing
	p
		a(href="./producer/causesCollusion") Dumping
	p
		a(href="./producer/causesCollusion") Restriction of access
	p
		a(href="./producer/causesCollusion") Portability restriction
	p
		a(href="./producer/causesCollusion") Agreeing to split geographic markets
	p
		a(href="./producer/causesCollusion") Cross subsidisation
	p
		a(href="./producer/causesCollusion") Limit pricing
	p
		a(href="./producer/causesCollusion") Resale price maintenance
	p
		a(href="./producer/causesCollusion") Paid exclusivity
	h3
		b Models for competition
	p
		a(href="./producer/cournot") Cournot competition
	p
		a(href="./producer/bertrand") Bertrand competition
	p
		a(href="./producer/hotelling") Hotelling competition
	p
		a(href="./producer/stackleberg") Stackleberg competition
	p
		a(href="./producer/monopolistic") Monopolistic competition
	p
		a(href="./producer/selfCompetition") Self-competition
	h3
		b Measuring competition
	p
		a(href="./producer/HHI") HHI
	p
		a(href="./producer/concentrationRatio") Concentration ratio
	p
		a(href="./producer/lerner") Lerner index
	p
		a(href="./producer/PSI") Pival supplier index (PSI)
	p
		a(href="./producer/RSI") Residual Supply Index (RSI)
	h3
		b Market definition
	p
		a(href="./producer/SSNIP") SSNIP test
	p
		a(href="./producer/marketDefinition") Market definition

