extends ./producer/subSubTemplate.jade
block subSubContent
	h3
		b Production functions
	p
		a(href="./producer/productionFunctions") Production functions and marginal products
	h3
		b Choosing production inputs
	p
		a(href="./producer/isoquant") Isoquants and the marginal rate of technical substitution
	p
		a(href="./producer/isoquant") Marginal and average costs
	h3
		b Monopoly prices and quantity
	p
		a(href="./producer/profit") The economic profit function and first-order condition
	p
		a(href="./producer/profitMonopoly") Monopoly pricing
	p
		a(href="./producer/causesCollusion") Two-part tariffs
	p
		a(href="./producer/causesCollusion") Price discrimination
	p
		a(href="./consumer/hotellingLemma") Hotelling's lemma
	h3
		b Models for competition
	p
		a(href="./producer/monopolistic") Monopolistic competition
	p
		a(href="./producer/profitPerfect") Perfect competition
	p
		a(href="./producer/cournot") Cournot competition
	p
		a(href="./producer/bertrand") Bertrand competition
	p
		a(href="./producer/hotelling") Hotelling competition
	p
		a(href="./producer/stackleberg") Stackleberg competition
	h3
		b Collusion
	p
		a(href="./producer/causesCollusion") Explicit and tacit collusion
	p
		a(href="./producer/causesCollusion") Monitoring and enforcing collusion
	h3
		b Supply functions
	p
		a(href="./producer/causesCollusion") Short-term supply function
	p
		a(href="./producer/causesCollusion") Long-term supply function
	p
		a(href="./producer/causesCollusion") Price elasticity of supply
	h3
		b Specific production functions
	p
		a(href="./producer/cobbDouglas") Cobb-Douglas production function
	p
		a(href="./producer/leontief") Leontief production function
	p
		a(href="./producer/CES") Constant Elasticity of Substitution (CES) production function

	h3
		b Measuring heterogeneous efficiency
	p
		a(href="./producer/causesCollusion") Stochastic frontier analysis
	p
		a(href="./producer/causesCollusion") Data envelopment analysis
	h3
		b Estimating supply and demand
	p
		a(href="./producer/causesCollusion") Structural supply and demand functions
	p
		a(href="./producer/causesCollusion") Reduced form supply and demand functions
	p
		a(href="./producer/causesCollusion") Ensuring exogeneity

