extends ./producer/subSubTemplate.jade
block subSubContent
	h3
		b Production functions
	p
		a(href="./producer/productionFunctions") Commodity inputs (buy from consumers)
	p
		a(href="./producer/productionFunctions") Labour inputs (and monopsony power?, unions??)
	p
		a(href="./producer/productionFunctions") Production functions and marginal products
	p
		a(href="./producer/productionFunctions") Partial equilibrium
	h3
		b Choosing production inputs
	p
		a(href="./producer/isoquant") Isoquants and the marginal rate of technical substitution
	p
		a(href="./producer/isoquant") Marginal and average costs
	p
		a(href="./producer/isoquant") Average total cost
	p
		a(href="./producer/isoquant") Long-run average incremental cost
	h3
		b Pricing homogeneous goods
	p
		a(href="./producer/profit") The law of one price
	p
		a(href="./producer/profit") The economic profit function (show link to production function)
	p
		a(href="./producer/profitMonopoly") Monopoly pricing
	p
		a(href="./producer/cournot") Cournot competition and the Lerner index
	p
		a(href="./producer/bertrand") Bertrand competition
	h3
		b Practical pricing
	p
		a(href="./producer/bertrand") The problem (firms dont have access to elasticity information.)
	p
		a(href="./producer/bertrand") Base on existing competitors
	p
		a(href="./producer/bertrand") Gross Profit Margin Target
	p
		a(href="./producer/bertrand") What The Market Will Bare
	p
		a(href="./producer/bertrand") intertemporal strategies: sales max, market share max
	h3
		b Perfect competition
	p
		a(href="./producer/profitPerfect") Perfect competition
	p
		a(href="./consumer/hotellingLemma") Hotelling's lemma
	p
		a(href="./producer/causesCollusion") Short-term supply function
	p
		a(href="./producer/causesCollusion") Long-term supply function
	p
		a(href="./producer/causesCollusion") Price elasticity of supply
	h3
		b Pricing in repeated rounds
	p
		a(href="./producer/stackleberg") Stackleberg competition
	p
		a(href="./producer/causesCollusion") Explicit and tacit collusion
	p
		a(href="./producer/causesCollusion") Monitoring and enforcing collusion
	h3
		b Specific production functions
	p
		a(href="./producer/cobbDouglas") Cobb-Douglas production function
	p
		a(href="./producer/leontief") Leontief production function
	p
		a(href="./producer/CES") Constant Elasticity of Substitution (CES) production function
	h3
		b Other
	p
		a(href="./producer/hotelling") production vertical. margin squeeze

