extends ./public/subSubTemplate.jade
block subSubContent
	h3
		b Introduction
	p
		a(href="./public/causesMarket") Elections
	p
		a(href="./public/causesMarket") Taxation
	p
		a(href="./public/causesMarket") Diamond–Mirrlees
	p
		a(href="./public/causesMarket") Economic regulation
	p
		a(href="./public/causesMarket") Competition policy
	p
		a(href="./public/causesMarket") Ramsey pricing

