extends ../../templates/theoryHeader.jade

block theoryContent
	h2
		b Trade and market power


	p We have two extreme ideas of trade with prices here. One where all parties react to some external price, and another where one party controls the price.
	p While most markets do not include an arbiter of prices, prices 
	p Price taking, price making