extends ./trade/subSubTemplate.jade
block subSubContent
	h3
		b Trade
	p
		a(href="./trade/tradeEdgeworth") Edgeworth box
	p
		a(href="./trade/tradeGames") Games for trade
	p
		a(href="./trade/tradeMultiple") Trade with multiple parties
	p
		a(href="./trade/tradeExternalPrices") External prices
	p
		a(href="./trade/tradePower") Prices and market power
	p
		a(href="./trade/tradeMoney") Money
	p
		a(href="./trade/tradeNominalReal") Nominal and real prices
