extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Choice set
block subSubContent
	p Economic agents face options from some set. This could be consumption choices, numbers of hours to work, or how much capital to invest in at a factory.

	h2
		b Utility functions
	p Calculating choices: Unrestricted choices
	p The choice of an agent is the selection which corresponds to the highest value of the utility function. Consider:
	p $$f=2(x-1)^2-10$$
	p We can easily calculate that even if the agent can choose any real number \(x\), they will chose \(1\).
	p This approach can be used if there are not meaningful constraints, or those constraints are implicit in the utility function. For example a firm can be modelled as profit maximising, where profit is a function of revenue and costs, with a single maximising value.
	p Other agents, such as a consumers, may instead have utility over consumption and leisure, and a separate constraint over this. This could be solved using simultaneous equations, but such an approach is not always desirable.
