extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Budget constraints
block subSubContent
	p Economic agents can choose elements from a set. We can define this set both by what is included, and what is excluded.
	p An agent could choose inputs from an interval of real numbers. In this case the finding the value which maximises the utility function across all real numbers may not be a valid solution. For example an agent may optimally wish to consume \(20\) apples, but only have \(10\).

	p Similarly an agent may be limited in combinations of choices. For example an agent could choose how much to work and how much to enjoy leisure, but be constrained by the amount of time in the day.
