extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Continuity
block subSubContent
	h3
		b Transitivity
	p Axioms of continuity and transitivity
	p Continuous
	p Independence of irrelevant alternatives



	h3
		b Axiom 3: Continuity
	p In order to find optimal points for a utility function we want these functions to be differentiable. This requires complete sets of choices. That is, if \(a\) if preferred to \(b\), points very close to \(a\) will also be preferred to \(b\).
	p Agents often make choices discretely. How much of good \(x\) to consume, whether to go on a holiday. We treat these as continuous. This is generally not problematic as agents choices become less discrete over longer time spans, and most economic areas of interest do not rest on discrete consumption.
	h3
		b Marginal utility
	p We can differentiate our utility function with respect to a good. For example, for:
	p $$f=2(x-1)^2-10$$
	p $$\frac{\delta f}{\delta x}=4x-1$$
	p This last term is the marginal utility of \(x\), often shown as \(MU_x\).


	h3
		b Solving
