extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Estimating HMMs with the forward algorithm
block subSubContent
	h3
		b Introduction
	p Given we have observed outputs, what is the chance of being in a certain state at a certain time?
