extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Defining Hidden Markov Models (HMMs)
block subSubContent
	h3
		b Introduction
	p We don't see state

	p each state produces a visible output. this output is drawn from a distribution for each state.

	p We observe a sequence of outputs, not states.
