extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Estimating HMMs with the Viterbi algorithm
block subSubContent
	h3
		b Introduction
	p assume we know transition matrix. and starting probls

	p given we observe sequence of outputs, what were most likely actual paths?

	p Virbiti returns this
