extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Markov chain recap
block subSubContent
	h3
		b Markov chain recap
	p In a Markov chain we move from state to state randomly, following a transtion matrix.
	p We have:
	ul
		li \(S\) - the state space
		li \(s_1\) - the initial state
		li \(P\) - the transition model

