extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Policies
block subSubContent
	h3
		b Policies
	p The decision maker needs to decide which action to take. For a MDP we assume that the agent knows:
	ul
		li The current state
		li The transition matrix
		li The payoffs
	p If the current state is not known, we have a Partially Observable Markov Decision Process.
	p If the transition matrix or payoffs are not known we have a reinforcement learning problem.

