extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The value function
block subSubContent
	h3
		b State payoffs
	p An agent gets a payoff which depends on the current state. We now have:
	ul
		li \(S\) - the state space
		li \(s_1\) - the initial state
		li \(P\) - the transition model
		li \(R\) - the reward distribution

	h3
		b Discounting
	p We maximise the reward function using discounting.
	p \(E[\sum_{t=1}^\infty \gamma^{t-1}r_t|s_1]\)

