extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Bertrand competition
block subSubContent
	h3
		b Introduction
	p Each player decides what price to sell at.
	p Firms who price above the lowest have no sales. Prices converge to cost.
