extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Market characteristics
block subSubContent
	h3
		b Introduction
	p Backbooks. Not active purchases
	p Barriers to entry
	p Economies of scale
	p Economies of scope

