extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Constant Elasticity of Substitution (CES) production function
block subSubContent
	h3
		b Introduction
	p For some constant \(r\).

	p \(Q=A[\alpha_i X_i^r]^{\frac{1}{r}}\)
