extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Cournot competition and the Lerner index
block subSubContent
	h3
		b Monopoly recap
	p In the monopoly model we have:
	p \(\pi = pq-c\)

	p \(p[1+\dfrac{q}{p}\dfrac{\delta p}{\delta q}]=MC\)
	p The price elasticity of demand is: \(\epsilon = \dfrac{p}{q}\dfrac{\delta q}{\delta p}\)

	h3
		b Cournot competition
	p With competition, the elasticity of demand refers to the whole market, not just a single producer. Instead we have:
	p \(\epsilon = \dfrac{p}{Q}\dfrac{\delta Q}{\delta p}\)
	p \(Q=\sum_j q_j\)

	p We now get:
	p \(p[1+\dfrac{q}{Q}\dfrac{\delta Q}{\delta q}\dfrac{Q}{p}\dfrac{\delta p}{\delta Q}]=MC\)
	p \(p[1+\dfrac{\mu }{\epsilon }]=MC\)
	p Using the firm's size elasticity: \(\mu = \dfrac{q}{Q}\dfrac{\delta Q}{\delta q}\)
	p With monopoly this is:
	p \(\mu = 1\)


	h3
		b The Lerner index
	p The Lerner index is:
	p \(\dfrac{p-MC}{p}\)
	p In this model this is:
	p \(\dfrac{p-MC}{p}=-\dfrac{\mu}{\epsilon }\)

