extends ./subSubTemplate.jade
block subSubTitle
	h1
		b HHI
block subSubContent
	h3
		b Herfindahl–Hirschman Index (HHI)
	p The index is the sum of each firm’s market share squared.
	p For a monopolist this is \(1\), for a completely competitive market it is \(0\), or \(\frac{1}{n}\).
	p $$H=\sum_{i=1}^ns^2_i$$
	p To normalise this between \(0\) and \(1\) we can use:
	p $$H*=\frac{H-\frac{1}{n}}{1-\frac{1}{n}}$$

