extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Hotelling competition
block subSubContent
	h3
		b Introduction
	p Compete on quality, features, on an axis. For example 2 shops in equilibrium are next to each other on road, to capture both on either side.

