extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Isoquants and the marginal rate of technical substitution
block subSubContent
	h3
		b Isoquants
	p Isoquants are indifference curves for firms.

	p We have a production function: \(Q=\(f(X)\).

	p An isoquant is defined for each \(c\) \(f(X)=c\), where \(X\) is a vector.

	h3
		b Marginal rate of technical substitution
	p  This is the marginal rate of substitution, adapted for firms.
	p \(MRTS=\)

