extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Market definition
block subSubContent
	h3
		b Defining the relevant market
	p We want to see what market the monopolist can exert a profitable increase in price. This my not be all of their offerings.
	p The relevant market includes the good offered by the monopolist, along with relevant competitors in supply and demand
	h3
		b What is the product?
	p If we are considering a commodity it is easy to see that, say, steel supplied by one firm is comparable to that supplied by another. For other goods this is more complex.
	p For example, does Google provide search services, making it highly dominant? Or does it in fact provide advertising services for a small number of searches aimed at purchases? In the latter case it is a closer good to Amazon or Ebay.
	h3
		b Supply side substitution
	p If a price rise from a firm caused other firms to increase supply, this is relevant.

	p Would others be able to raise output?
	p Would others be able to enter the market?
	h3
		b Demand side substitution
	p If a price rise from a firm causes buyers to react, price increases will be less rewarding for the firm.
	p Assessment: Price elasticity of demand


	h3
		b Geographic market
	p May be many players but fewer locally. Threat of entry may still be a key motivation for price setting. Supply side substitution.
	h3
		b Vertical integration
	p Benefits: no double mark up.
	p 2 monopolists both exert monopoly power, more deadweight loss. Integration solves this.

	p Contract theory argument. Don’t want to be held if need change

	p Costs: can keep out downstream competitors

	p Facilitating collusion? Vertical integration allows upstream to monitor downstream price from their customer.


	p Restoring monopoly power?

	p Problem: to what extent can monopoly upstream abuse their power? One option is high price, but they could also do 2 part tariffs
	p But 2 part tariffs are unstable, as there is an incentive for the provider to offer the last downstream one a lower marginal cost.
	p Vertical integration then restores this power.

