extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The economic profit function
block subSubContent
	h3
		b Revenue
	p The revenue of a firm is:
	p \(pq\)
	p Where \(q\) is the amount producted, and \(p\) is the price.
	h3
		b Cost
	p The costs of a firm are:
	p \(c\)
	p Where \(c\) is a function of production.
	h3
		b Profit
	p The profit of a firm is the difference between revenue and costs.
	p \(\pi = pq-c\)

