extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Monopoly pricing
block subSubContent
	h3
		b Introduction
	p The firm's production \(q\) affects the market price \(P\).

	p The quantity affects profits

	p \(\frac{\delta \pi }{\delta q}= \frac{\delta P(q)q-c(q)}{\delta q}\)

	p \(\frac{\delta \pi }{\delta q}= \frac{\delta P(q)q}{\delta q}-\frac{\delta c(q)}{\delta q}\)

	p \(\frac{\delta \pi }{\delta q}= P(q)+q\frac{\delta P(q)}{\delta q}-\frac{\delta c(q)}{\delta q}\)

	p The firm chooses \(Q\) to maximise profits.

	p p\(\frac{\delta \pi }{\delta q}= 0\)

	p \(P(q)+q\frac{\delta P(q)}{\delta q}=\frac{\delta c(q)}{\delta q}\)

	p The right side is marginal costs (MC), the left is marginal revenue.

	p \(P(q)[1+\frac{q}{P(q)}\frac{\delta P(q)}{\delta q}]=MC\)

	p \(P(q)[1+\frac{Q}{P}\frac{\delta P}{\delta Q}\frac{q}{Q}\frac{\delta Q)}{\delta q}]=MC\)

	p We know that:

	ul

		li The price elasticity of demand is: \(\epsilon = \frac{P}{Q}\frac{\delta Q}{\delta P}\)

		li The firm's size elasticity: \(\mu = \frac{q}{Q}\frac{\delta Q)}{\delta q}]\)

	p So we have:

	p \(P(q)[1+\frac{\mu }{\epsilon }}]=MC\)

	p Where \(\epsilon \) is the price elasticity of demand.

	p \(P(q)=\frac{\epsilon }{1+\epsilon }MC\)
	p Define markup here, which paarameter identifies it?

	p Show markup depends on my prices, other prices, other variables

