extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The economic profit function
block subSubContent
	h3
		b Revenue
	p The revenue of a firm is:
	p \(PQ\)
	p Where \(Q\) is the amount producted, and \(P\) is the price.
	h3
		b Cost
	p The costs of a firm are:
	p \(C(Q)\)
	p Where \(C(Q)\) is a function of production.
	h3
		b Profit
	p The profit of a firm is the difference between revenue and costs.
	p \(\pi = PQ-C(Q)\)

