extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Monopoly pricing
block subSubContent
	h3
		b Introduction
	p \(\pi = pq-c\)

	p The firm's production \(q\) affects the market price \(p\).

	p \(\dfrac{\delta \pi }{\delta q}= \dfrac{\delta }{\delta q} [pq-c]\)

	p \(\dfrac{\delta \pi }{\delta q}= p+q\dfrac{\delta p}{\delta q}-\dfrac{\delta c}{\delta q}\)

	p The firm chooses \(Q\) to maximise profits.

	p \(p+q\dfrac{\delta p}{\delta q}=\dfrac{\delta c}{\delta q}\)

	p The right side is marginal costs (MC), the left is marginal revenue.

	p \(p[1+\dfrac{q}{p}\dfrac{\delta p}{\delta q}]=MC\)


	p We know that the price elasticity of demand is: \(\epsilon = \dfrac{p}{q}\dfrac{\delta q}{\delta p}\)

	p So we have:
	p \(p[1+\dfrac{1 }{\epsilon }]=MC\)

	p \(p=\dfrac{\epsilon }{1+\epsilon }MC\)


