extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Perfect competition
block subSubContent
	h3
		b Production functions
	p A firm produces \(Q\) using inputs \(X\).
	p \(Q=f(X_1,...,X_n)\)
	h3
		b Marginal products
	p This is the marginal utility, adapted for the production setting.
	p \(MP=\frac{\delta }{\delta x_1}f(\mathbf x)\)
	h3
		b Diminishing marginal returns
	p This says that marginal returns decrease as the use of a factor increases.
	p \(\frac{\delta^2 }{{\delta x_1}^2}f(\mathbf x)<0\)

