extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Switching
block subSubContent
	h3
		b Introduction
	p Single price, tariff?
	p Means less competition between firms
	p Backbook gets higher prices
	p Cross subsidisation between switchers and backbook
	p Exists even with trivial entry

