extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Bases of topologies
block subSubContent
	h3
		b Introduction
	p Subset \(B\) of topology \(T\) is a base for \(T\) if all elements of \(T\) are unions of members of \(B\).
	h3
		b Second-countable space
	p If \(B\) is finite then the toplogy is a second-countable space.
