extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Boundries and interiors
block subSubContent
	h3
		b Introduction
	p The boundry of the subset \(S\) of a topology is the intersection with the closure of \(S\) with the closure of the complement of \(S\).

	p So the boundry of both \((0,1)\) and \([0,1]\) are \(0\) and \(1\).
	p The interior of \(S\) is \(S\) without the boundry.

	p So the interior of \((0,1)\) and \([0,1]\) are both \((0,1)\).

