extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Closed sets
block subSubContent
	h3
		b Introduction
	p The complement of any open set is a closed set.

	p A set can be open, closed, both or neither.
