extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Covers
block subSubContent
	h3
		b Introduction
	p A space \(X\) is covered by a set of subsets of \(X\), \(C\), if the union of \(C\) is \(X\).
	h3
		b Subcover
	p A subset of \(C\) which still covers \(X\) is a a subcover.

	h3
		b Open cover
	p \(C\) is an open cover if each member is an open set.

