extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Functions between topologies
block subSubContent
	h3
		b Introduction
	p We can define a function from topology to another.

	p \(f(X)=Y\)
	h3
		b Continuous functions between topologies
	p If \(f(X)\) is continous, then we have a continous function between topologies.
	h3
		b Inverse functions between topologies
	p If \(f(X)\) is invertible then there is a inverse mapping.
