extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Kolmogorov space
block subSubContent
	h3
		b Introduction
	p In a Kolmogorov (or \(T_0\)) space, for every pair of points there is a neighbourhood containing one but not the other.

