extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Lindelöf space
block subSubContent
	h3
		b Introduction
	p In a Lindelöf space all open covers have countable subcovers.

	p This is weaker than compactness, which requires that every open cover has a finite subcover.

