extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Neighbourhoods and topologies
block subSubContent
	h3
		b Introduction
	p A neighbourhood of a point \(x\) in a topological space \(X\) is a subset \(V\) of \(X\) containing \(x\).

	h3
		b Introduction
	p A topological space on a set is the set along with a set of neighbourhoods for each element.

	p If \(X\) is the set, and \(T\) is the topology then:
	ul
		li \(X\in T\)
		li \(\varnothing \in T\)
		li Unions of \(T\) are in \(T\)
		li Intersections of \(T\) are in \(T\)

