extends ./subSubTemplate.jade

block subSubContent
	h2
	p
		b Space
	p A set with added structure
	h3
		b Types of structures
	p
		b Metric space
	p A set where each pair of elements has a distance between them.
	p This distance is called the metric.
	p
		b Measure space
	p An algebra for subsets is defined, and there is a function which can be run on any of these.
	p
		b Linear/vector space
	p The elements of the set are vectors.
	p Linear operations can be performed on elements of the set.
	p
		b Topological space
	p Two topological spaces can be isomorphisms, or homeomorphisms. This means there is a defined one-to-one map between each element of the space, which are continuous in both direction.
	p This can be defined for a cube and a sphere, but not a cube and a torus.
	p
		b Projective space
	p
	p
		b Affine space
	p
	p
		b Uniform space
	p
		b Smooth manifolds
	p
	p
		b Reimann manifold
	p
	
	h3
		b Other
	p
		b Complete space
	p All cauchy sequences with the set have limit in the set.
	p NOTE: IS THIS THE ELEMENTS, OR THE METRIC/MEASURE?
