extends ./subSubTemplate.jade

block subSubTitle
	h1
		b The trivial topology
block subSubContent
	h3
		b Trivial topology
	p A topology which contains just \(X\) and \(\varnothing \) is the trivial topology.

