extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Cointegration
block subSubContent
	h3
		b Introduction
	p If we have multiple variables, we can explore the order of integration of linear combinations.
	p If two series have time trends, a linear combination of them could remove this.
