extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Ergodic processes
block subSubContent
	h3
		b Introduction
	p Sample moments must converge to generating momements. Not guaranteed.

	p Eg process with path dependence. 50% of getting £100 a day v 50% of getting £0.

	p Generating average is £50, but sample will only convergen to £100 or £0
	
