extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Exogeneity
block subSubContent
	h3
		b Contemporaneous exogeneity
	p \(\cov(x_{it},u_{it})=0\)
	h3
		b Strict exogeneity
	p \(\cov (x_{is}, u_{it})=0)\)
	p This is stronger than contemporeous, all periods.
	p Shocks don't affect future outcomes.
	h3
		b Sequential exogeneity
	p sequential exogeneity: a bit looser than strict exogeneity. only holds when \(s\le t\).
	p So shocks can affect, but only in future. 
