extends ./subSubTemplate.jade
block subSubTitle
	h1
		b The Markov and Martingale properties
block subSubContent
	h3
		b Markov property
	p For a process with the Markov property, only the current state matters for all probability distributions.
	p \(P(x_{t+n}|x_t)=P(x_{t+n}|x_t, x_{t-1}...)\)
	h3
		b Martingale property
	p For a process with the Martingale property, the expected value of all future variables is the current state.
	p This only restricts expectations.
	p \(E(X_{n+1}|X_0,...,X_n)=X_n\)
	h3
		b Taxonomy
	p A process can be Markov, Martingale, neither or both.
	p 
