extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Orders of integration
block subSubContent
	h3
		b Introduction
	p How many diffs do you need to do to get a stationary process?
	p If something is first order integrated it is \(I(1)\).
