extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Stochastic processes
block subSubContent
	h3
		b Introduction
	p In a stochastic process we have a mapping from a variable (time) to a random variable.
	h3
		b Discrete and continuous time
	p Time could be discrete, or continuous.
	p Temperature over time is a stochastic process, as is the number of cars sold each day.
	h3
		b Discrete and continous state space
	p The state space for temperature is continous, the number of people on the moon is discrete.
	h3
		b Stochastic evolution
	p We can describe processes by their evolution.
	p \(p(x_t|x_{t-1}...)\)
