extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Weak- and wide-sense stationarity
block subSubContent
	h3
		b Introduction
	p Unconditional probabilities don't change over time.

	p So GDP would not be stationary, but random noise would. A random walk is not stationary, because the variance increases over time.
	h3
		b Trend stationary
	p If we can remove the trend as a function, eg linear or non-linear growth, and the rest is stationary, then the process is trend stationary

	h3
		b Order of integration
	p How many differences to make it stationary?

	h3
		b Weak-sense stationary
	p only mean and autocovarinance don't change over time

	h3
		b Wide-sense stationary
	p All moments the same
	h3
		b White noise
	p variables at each time are indepdendent
 
