extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Weiner process
block subSubContent
	h3
		Weiner property
	p Martingale with additional properties:
	ul
		li Continous
		li \(X_0=0\)
		li quadratic variation
		li Has Gaussian increments
	
