extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Endomorphisms on real functions

block subSubContent
	h3
		b Introduction
	p We start with our vector \(f(x)\).
	p \(h(x)=f(x)g(x)\)
	p The equivalent of the identity matrix is where \(g(x)=1\).
	p These are similar to endomorphisms where all off diagonal elements are \(0\).
	h3
		b Differentiation
	p \(h(x)=\dfrac{\delta }{\delta x}f(x)\)
	h3
		b Integration
	p \(h(x)=\int_{-\infty }^x f(z) dz\)
