extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Forms on real functions

block subSubContent
	h3
		b Introduction
	p A form takes two vectors and produces a scalar.
	h3
		b Integration as a form
	p We can use integration to get a bilinear form.
	p \(\int f(x) g(x) dx\)
	p If we instead want a sesquilinear form we can instead use:
	p \(\int \bar {f(x)} g(x) dx\)
