extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Functionals
block subSubContent
	h3
		b Introduction
	p Functionals map functions to scalars. They are the \(1\)-forms of infinite-dimensional vector spaces.
	p If we have a function \(f\), we can write functional \(J[f]\).
	h3
		b More
	p We can define neighbourhoods around a function \(f\). For example, taking \(y\) to be \(f\) with infintesimal changes. to each of the values.
	p The difference between the functional at both points is
	p \(\delta J=J[y]-J[f]\)
	h3
		b Extrema
	p If
	p \(\delta J=J[y]-J[f]\)
	p is the same sign for all y around f, then J has an extremum at f.
	h3
		b Functional derivatives
	p 
