extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Examples of linear operators on real functions
block subSubContent
	h3
		b Introduction
	p For a function \(v\) we can define operators \(Ov\).
	p Here we consider some examples and their properties.
	h3
		b Real multiplication
	p \(Rv = rf(x)\)
	p This operator is hermitian. This is equivalent to a finite operator of the form \(rI\).
	h3
		b Multiplication by underlying real number
	p \(Xv = xf(x)\)
	p This operator is hermitian. This is equivalent to a finite operator of the form \(M_{ii}=i\) and \(M_{ij}=0\).

	h3
		b Differentiation
	p \(Dv = \dfrac{\delta }{\delta x}f(x)\)
	p While this operator is not hermitian, the following is:
	p \(-iDv = \dfrac{\delta }{\delta x}[-if(x)]\)


