extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Real functions are vectors

block subSubContent
	h3
		b Introduction
	p The real function space is a vector space because it is linear in multiplication and addition.
	p \(g(x)=cf(x)\)
	p \(h(x)=f(x)+k(x)\)
	p 
