extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Confidence
block subSubContent
	h3
		b Confidence
	p The confidence of a frequent pattern is defined as:
	p \(conf (A\rightarrow B)=\frac{supp(A\land B)}{supp(A)}\)

