extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Frequent patterns
block subSubContent
	h3
		b Frequent patterns
	p A frequent itemset is one where the support is above a minimum.
	p We know that if an itemset is frequent, then all its subsets are also frequent.
	p We look for frequent patterns, \(F\), between the items \(I\).
	p An example of a frequent pattern is \(\{a,b\}\).

