extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Quantitative association rules
block subSubContent
	h3
		b Quantitative association rules
	p The search space is infinite in size. For example continuous age.
	p We choose intervals instead.
