extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Complete prefernces
block subSubContent
	p
		b Axiom 2: An economic agent has preferences across all pairs of elements of the choice set
	p Where an agent prefers one option to another, we say this choice is preferred to the other. We can show this formulaically. If \(a\) is preferred to \(b\) then:
	p $$a\succ b$$
	p Alternatively \(b\) may be preferred to \(a\).
	p $$a\prec b$$
	p Finally an agent may be indifferent to the choices.
	p $$a\sim b$$
	p We use can additional symbols to denote an agent prefers or is indifferent between options:
	p $$a\succeq b$$
	p $$a\preceq b$$
	p Note that if:
	p $$a\succeq b$$
	p And:
	p $$a\preceq b$$
	p Then:
	p $$a\sim b$$
	p For a set of choice, we want the agent to have preferences defined across possible subsets – the power set.


	p add symbols for choice across a set. include symbols for choice of a set, x =c({a,b},utility)

	p a>b etc only for pairwise, but preferences are across more than that

	p Discussion of repeated. agents don't choose the same thing each time, interpretation?
