extends ./subSubTemplate.jade
block subSubTitle
	h1
		b ??
block subSubContent
	p Calculating choices: Restricted choices
	p But what about where there is not clear maximum, like:
	p $$f=ln(x)+ln(y)$$
	p Here the agent would always prefer more of \(x\) and \(y\). In practice agents are often limited in their choices by budget constraints. That is, they cannot choose all combinations of inputs.
	p Here we can use a Lagrangian. This maximises the value of a function subject to constraints on inputs. This may not always be appropriate. The budget constraint for an agent is often an inequality, for example consumption is less than or equal to income, but the Lagrangian takes this to be binding.
	p Fortunately, this can be resolved. The value of \(\lambda \) in the Lagrangian corresponds to the marginal effect of weakening the constraint. This is positive where the constraint is binding on the agent, but not positive if it is not. Therefore if we find the constraint is not binding, we can remove it from the optimisation.
	p Under some conditions, constraints will always be binding. These are useful for specific cases of agents later.
	p In order for the constraint to be binding we make an additional assumption:
	h3
		b Condition 1: Non-satiation
	p The marginal utility of a good is always positive.
	p Note that we can “do economics” without this, but we want rely on Lagrangians.
	h3
		b Condition 2: Decreasing marginal utility
	p This ensures that we do not get corner solutions, for example consuming all apples.
	p These two assumptions allow the use of the Lagrangian.
	p We know that for the Lagrangian the following is true:
	p $$\frac{\frac{\delta f}{\delta x}}{\frac{\delta g}{\delta x}}=\frac{\frac{\delta f}{\delta y}}{\frac{\delta g}{\delta y}}$$
	p $$\frac{\frac{\delta f}{\delta x}}{\frac{\delta f}{\delta y}}=\frac{\frac{\delta g}{\delta x}}{\frac{\delta g}{\delta y}}$$
	p Where \(f\) is the utility function and \(g\) is the budget constraint.
