extends ./subSubTemplate.jade

block subSubTitle
	h1
		b Independence of irrelevant alternatives
block subSubContent
	p This is not always observed. For example if a firm offers two products, a cheap \(a\) option and an expensive \(b\) option, then a preference may be:
	p $$a\prec b$$
	p The firm may add another product \(c\) slightly less expensive than \(b\), with fewer features, such if there were only \(2\) of the goods on sale:
	p $$a\prec b$$
	p $$a\prec c$$
	p $$b\prec c$$
	p In particular, the last two imply the first, through the axiom of transitivity.
	p However with all three, the marketing effectively makes the consumer choose \(b\), by making it look like a better deal, so we observe:
	p $$a\prec s$$
	p $$e\prec c$$
	p $$c\prec s$$
	p Even though the elements have not changed.
	p Axioms of revealed preference
	p Add weak axiom of revealed preference
	p Strong axiom. can derive both (?)
