extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Utility functions
block subSubContent
	h3
		b Utility 
	p Given that an agent chooses a selection from a set, how can we model this?
	p As the outcome of the function is one of the options available to the agent, we can model it by putting a value number on each choice, and where the choice is the selection with the largest value. We can do this by applying a function to each element in the choice set.
	p This holds only if the agent is rational, that is, if they prefer A to B, they do not switch to B if C is offered. This is due to the transitive properties of real numbers. That is, if \(a\ge b\) and \(b\ge c\) then \(a\ge c\).
	p If there are multiple elements with the largest value, then the agent would be indifferent between these choices.
	p A simple example would be choosing the number of apples to consume.
	p If the agent always prefers more apples, we can have a function which is always increasing when the number of apples increases.
	p This could be modelled by:
	p $$f=x$$
	p $$f=(x-1)^2+1$$
	p $$f=2(x-1)^2-10$$
	p $$f=cos(x)$$
	p $$f=c$$
	p $$f=\{\begin{array}{11}1&\mbox{if Some apples} \\0&\mbox{if No apples}\end{array}$$
	p These correspond to different preferences. In the first the agent prefers more and more apples. In the second and third the agent prefers one apple. These two formulas are monotonic transformations of each other and so are identical for describing preferences. The fourth describes an infinite number of optimal numbers of apples, but is unlikely to correspond to any real preferences, and the fifth shows that agent doesn’t care about apples.
	p The last gives a real number as output, but doesn’t necessarily take in a real number. Utility functions generally take real numbers, and always give out real numbers.


	h3
		b Solving

	p Option which maximises utility
