extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Indifference curves
block subSubContent
	b Marginal rate of substitution
	p We can consider how much of one good a consumer is willing to give up to get one of another.
	p Consider the utility function:
	p $$U=f(x,y)$$
	p We can examine the change in utility following changes in inputs by taking the total differential.
	p $$dU=\frac{\delta f}{\delta x}dx+\frac{\delta f}{\delta y}dy$$
	p We want to examine changes where \(dU\) is \(0\), so:
	p $$ \frac{\delta f}{\delta x}dx+\frac{\delta f}{\delta y}dy=0$$
	p $$ \frac{\delta f}{\delta x}dx+\frac{\delta f}{\delta y}dy=0$$
	p $$ MU_xdx+MU_ydy=0$$
	p $$ \frac{dy}{dx}=-\frac{MU_x}{MU_y}$$
	p This is the form of the indifference curve.  We refer to \(\frac{MU_x}{MU_y}\) as the marginal rate of substitution.

	p ADD GRAPH TO SHOW

	h3
		b Multiple choices
	p If the set of choices is more complex, say there are now apples and bananas, we have to be more careful with a representative function.
	p The agent still prefers more apples and more bananas, but the following imply different choices:
	p $$f=x^2.y^2$$
	p $$f=ln(x)+ln(y)$$
	p In the first example, the agent would always swap an apple for a banana, if they had more apples, whereas the opposite is true in the second case. Functional form is important with multiple goods.


	h3
		b Solving

