extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Specific function results
block subSubContent

	h3
		b Examples of utility functions
	h3
		b Cobb Douglas
	p $$U=f(x,y)$$
	p $$U=x^\alpha y^\beta $$
	p $$MU_x=\alpha x^{\alpha -1}y^\beta $$
	p $$MU_x=\alpha \frac{y^\beta }{x^{1- \alpha }}$$
	p $$MU_y=\beta \frac{x^\alpha}{y^{1- \beta }}$$
	p So:
	p $$\frac{MU_x}{MU_y}=\frac{\alpha \frac{y^\beta }{x^{1- \alpha }} }{\beta \frac{x^\alpha}{y^{1- \beta }}}$$
	p $$\frac{MU_x}{MU_y}=\frac{\alpha }{\beta }\frac{y}{x}$$
	
	h3
		b Constant elasticity of substitution
	p $$U=f(x,y)$$
	p $$U=(ax^b+(1-a)y^b)^{\frac{1}{b}}$$
	p $$MU_x=\frac{1}{b}abx^{b-1}(ax^b+(1-a)y^b)^{\frac{1}{b}-1}$$
	p $$MU_y=\frac{1}{b}(1-a)by^{b-1}(ax^b+(1-a)y^b)^{\frac{1}{b}-1}$$
	p So:
	p $$\frac{MU_x}{MU_y}=\frac{\frac{1}{b}abx^{b-1}(ax^b+(1-a)y^b)^{\frac{1}{b}-1}}{\frac{1}{b}(1-a)by^{b-1}(ax^b+(1-a)y^b)^{\frac{1}{b}-1}}$$
	p $$\frac{MU_x}{MU_y}=\frac{ax^{b-1}}{ (1-a)y^{b-1}}$$

	h3
		b Constant elasticity of substitution
	p $$U=f(x,y)$$
	p $$U=ax+by$$
	p $$MU_x=a$$
	p $$MU_y=b$$
	p So
	p $$\frac{MU_x}{MU_y}=\frac{a/b}$$
	h3
		b Constant elasticity of substitution
	p $$U=f(x,y)$$
	p $$U=\alpha .ln(x)+\beta .ln(y)$$
	p $$MU_x=\frac{\alpha }{x}$$
	p $$MU_y=\frac{\beta }{y}$$
	p So:
	p $$\frac{MU_x}{MU_y}=\frac{\alpha }{\beta }\frac{y}{x}$$
	p This is the same as Cobb Douglas. This reflects that the logarithmic function preseres positive inflections.
	
