extends ./subSubTemplate.jade
block subSubTitle
	h1
		b Correctness
block subSubContent
	h3
		b Introduction
	p An algorithm is correct if it produces the expected output for each input.
	h3
		b Partial and total correctness
	p An algorithm is only partially correct if may not terminate. Otherwise it is totally correct.
